<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_998d7d7c2a6ed3569c65c05364089a51 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_998d7d7c2a6ed3569c65c05364089a51" ></div>
        
</body>
<script>    
    
            var map_998d7d7c2a6ed3569c65c05364089a51 = L.map(
                "map_998d7d7c2a6ed3569c65c05364089a51",
                {
                    center: [35.94666025, -80.41541331874677],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_80eacf686107dca1279464d411948ba7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_998d7d7c2a6ed3569c65c05364089a51);
        
    
            var marker_bf7dfe28354d09e9402a45f2cb9af968 = L.marker(
                [35.94666025, -80.41541331874677],
                {}
            ).addTo(map_998d7d7c2a6ed3569c65c05364089a51);
        
    
            var icon_d00d86750fd9f7b9cedf59d5a81a3792 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bf7dfe28354d09e9402a45f2cb9af968.setIcon(icon_d00d86750fd9f7b9cedf59d5a81a3792);
        
    
        var popup_dfd9d0b9be1bdce188d1ea9ff231d213 = L.popup({"maxWidth": "100%"});

        
            var html_ce588ed36c2c33d2310e6e517176c327 = $(`<div id="html_ce588ed36c2c33d2310e6e517176c327" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_dfd9d0b9be1bdce188d1ea9ff231d213.setContent(html_ce588ed36c2c33d2310e6e517176c327);
        

        marker_bf7dfe28354d09e9402a45f2cb9af968.bindPopup(popup_dfd9d0b9be1bdce188d1ea9ff231d213)
        ;

        
    
    
            marker_bf7dfe28354d09e9402a45f2cb9af968.bindTooltip(
                `<div>
                     DCS SHADY GROVE PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>