<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ba1f79bfc8ea61b1aee565fa29080033 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ba1f79bfc8ea61b1aee565fa29080033" ></div>
        
</body>
<script>    
    
            var map_ba1f79bfc8ea61b1aee565fa29080033 = L.map(
                "map_ba1f79bfc8ea61b1aee565fa29080033",
                {
                    center: [36.284947, -76.989451],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_77e1b7ca8e9c29ab75499eb0db9018c1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ba1f79bfc8ea61b1aee565fa29080033);
        
    
            var marker_d7f4eaa8e347da67ad3e673477f83889 = L.marker(
                [36.284947, -76.989451],
                {}
            ).addTo(map_ba1f79bfc8ea61b1aee565fa29080033);
        
    
            var icon_4df085b46142669774d6199e3dfe370f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d7f4eaa8e347da67ad3e673477f83889.setIcon(icon_4df085b46142669774d6199e3dfe370f);
        
    
        var popup_6cf009708a5149ff47fc55def9853a3e = L.popup({"maxWidth": "100%"});

        
            var html_5d77233a35df613abbdeb788f1469fb3 = $(`<div id="html_5d77233a35df613abbdeb788f1469fb3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6cf009708a5149ff47fc55def9853a3e.setContent(html_5d77233a35df613abbdeb788f1469fb3);
        

        marker_d7f4eaa8e347da67ad3e673477f83889.bindPopup(popup_6cf009708a5149ff47fc55def9853a3e)
        ;

        
    
    
            marker_d7f4eaa8e347da67ad3e673477f83889.bindTooltip(
                `<div>
                     ACC CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_39dc281da568f94dd08e5bbd9c7e1972 = L.marker(
                [36.293193284925714, -77.00020873266612],
                {}
            ).addTo(map_ba1f79bfc8ea61b1aee565fa29080033);
        
    
            var icon_7b912205c893b045f145ed2cecee8b4a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_39dc281da568f94dd08e5bbd9c7e1972.setIcon(icon_7b912205c893b045f145ed2cecee8b4a);
        
    
        var popup_2335a98a2f0503baccb4cabc6d56a103 = L.popup({"maxWidth": "100%"});

        
            var html_c1f9d1628128b8e2a00388995e49fc37 = $(`<div id="html_c1f9d1628128b8e2a00388995e49fc37" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_2335a98a2f0503baccb4cabc6d56a103.setContent(html_c1f9d1628128b8e2a00388995e49fc37);
        

        marker_39dc281da568f94dd08e5bbd9c7e1972.bindPopup(popup_2335a98a2f0503baccb4cabc6d56a103)
        ;

        
    
    
            marker_39dc281da568f94dd08e5bbd9c7e1972.bindTooltip(
                `<div>
                     BE THE CHANGE EDUCATION CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_db3c9d1362604fc30fcb8c769f583191 = L.marker(
                [36.293276, -76.975521],
                {}
            ).addTo(map_ba1f79bfc8ea61b1aee565fa29080033);
        
    
            var icon_5772ab30cf1b333f84e2f533af7a7c81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_db3c9d1362604fc30fcb8c769f583191.setIcon(icon_5772ab30cf1b333f84e2f533af7a7c81);
        
    
        var popup_7d8a983d00106181cc57463f298e702c = L.popup({"maxWidth": "100%"});

        
            var html_ae089829bd727977beeabe0a9b440863 = $(`<div id="html_ae089829bd727977beeabe0a9b440863" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7d8a983d00106181cc57463f298e702c.setContent(html_ae089829bd727977beeabe0a9b440863);
        

        marker_db3c9d1362604fc30fcb8c769f583191.bindPopup(popup_7d8a983d00106181cc57463f298e702c)
        ;

        
    
    
            marker_db3c9d1362604fc30fcb8c769f583191.bindTooltip(
                `<div>
                     REHOBOTH EDUCATIONAL SERVICES CHILDCARE PROGRAMS
                 </div>`,
                {"sticky": true}
            );
        
</script>