<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b733701ef48b6989265a253aa1cfd18a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b733701ef48b6989265a253aa1cfd18a" ></div>
        
</body>
<script>    
    
            var map_b733701ef48b6989265a253aa1cfd18a = L.map(
                "map_b733701ef48b6989265a253aa1cfd18a",
                {
                    center: [35.90893947511508, -79.99775798322347],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_003071449faa243182b12bf03288fa19 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b733701ef48b6989265a253aa1cfd18a);
        
    
            var marker_c22fcff70738f4221fe70f063ca26021 = L.marker(
                [35.90893947511508, -79.99775798322347],
                {}
            ).addTo(map_b733701ef48b6989265a253aa1cfd18a);
        
    
            var icon_810e292cc55cc34e9860b957f2a88e1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c22fcff70738f4221fe70f063ca26021.setIcon(icon_810e292cc55cc34e9860b957f2a88e1d);
        
    
        var popup_410229d7dcc745949447ab6528e8db36 = L.popup({"maxWidth": "100%"});

        
            var html_28b790fbbdbfedd9898afbe7b8d689c4 = $(`<div id="html_28b790fbbdbfedd9898afbe7b8d689c4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_410229d7dcc745949447ab6528e8db36.setContent(html_28b790fbbdbfedd9898afbe7b8d689c4);
        

        marker_c22fcff70738f4221fe70f063ca26021.bindPopup(popup_410229d7dcc745949447ab6528e8db36)
        ;

        
    
    
            marker_c22fcff70738f4221fe70f063ca26021.bindTooltip(
                `<div>
                     CLOVERDALE CHILD CARE MINISTRIES
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_291a606ac4213ca72a2fd9b50ecf5cb6 = L.marker(
                [35.91509693877551, -79.9341936122449],
                {}
            ).addTo(map_b733701ef48b6989265a253aa1cfd18a);
        
    
            var icon_2b9ede62f77d700c21752df9b247bd2d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_291a606ac4213ca72a2fd9b50ecf5cb6.setIcon(icon_2b9ede62f77d700c21752df9b247bd2d);
        
    
        var popup_43b465c9cbb8bcfae3b589a8bac2380a = L.popup({"maxWidth": "100%"});

        
            var html_27f206f38997ab4fe3924e73c45102dc = $(`<div id="html_27f206f38997ab4fe3924e73c45102dc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_43b465c9cbb8bcfae3b589a8bac2380a.setContent(html_27f206f38997ab4fe3924e73c45102dc);
        

        marker_291a606ac4213ca72a2fd9b50ecf5cb6.bindPopup(popup_43b465c9cbb8bcfae3b589a8bac2380a)
        ;

        
    
    
            marker_291a606ac4213ca72a2fd9b50ecf5cb6.bindTooltip(
                `<div>
                     FIRST CHURCH OF GOD DAYSCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_382ca1c0df06b384e7fc57c94c8c549c = L.marker(
                [35.90935809264428, -79.9317202001955],
                {}
            ).addTo(map_b733701ef48b6989265a253aa1cfd18a);
        
    
            var icon_6dd1a83eba3b41b586386a8fa5d2d9f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_382ca1c0df06b384e7fc57c94c8c549c.setIcon(icon_6dd1a83eba3b41b586386a8fa5d2d9f6);
        
    
        var popup_c0eb89625aadaaf1c8ace2a9f0b5b1cd = L.popup({"maxWidth": "100%"});

        
            var html_c93789ba66495d882fc799f2ac327cfe = $(`<div id="html_c93789ba66495d882fc799f2ac327cfe" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_c0eb89625aadaaf1c8ace2a9f0b5b1cd.setContent(html_c93789ba66495d882fc799f2ac327cfe);
        

        marker_382ca1c0df06b384e7fc57c94c8c549c.bindPopup(popup_c0eb89625aadaaf1c8ace2a9f0b5b1cd)
        ;

        
    
    
            marker_382ca1c0df06b384e7fc57c94c8c549c.bindTooltip(
                `<div>
                     LITTLE BLESSINGS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df11668867d44779cad9d736538b5b85 = L.marker(
                [35.9058766, -79.9173491],
                {}
            ).addTo(map_b733701ef48b6989265a253aa1cfd18a);
        
    
            var icon_821924c5215b8fa4b8b07da9595e6f08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_df11668867d44779cad9d736538b5b85.setIcon(icon_821924c5215b8fa4b8b07da9595e6f08);
        
    
        var popup_c5b6cac337fcda66bdb5bc5972f731a7 = L.popup({"maxWidth": "100%"});

        
            var html_83fac080bc2cd38d27a4ddf02a145ab9 = $(`<div id="html_83fac080bc2cd38d27a4ddf02a145ab9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c5b6cac337fcda66bdb5bc5972f731a7.setContent(html_83fac080bc2cd38d27a4ddf02a145ab9);
        

        marker_df11668867d44779cad9d736538b5b85.bindPopup(popup_c5b6cac337fcda66bdb5bc5972f731a7)
        ;

        
    
    
            marker_df11668867d44779cad9d736538b5b85.bindTooltip(
                `<div>
                     THE NEST SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b890835e5d7ac9f7692e20f36121edf4 = L.marker(
                [35.899827, -79.962638],
                {}
            ).addTo(map_b733701ef48b6989265a253aa1cfd18a);
        
    
            var icon_cd477d9159ccf035228b8cd59490a6bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b890835e5d7ac9f7692e20f36121edf4.setIcon(icon_cd477d9159ccf035228b8cd59490a6bf);
        
    
        var popup_b2be4fd9017ef4bc20b9ea44c1d71440 = L.popup({"maxWidth": "100%"});

        
            var html_30a3b24d612e384d8e7310b26de54d12 = $(`<div id="html_30a3b24d612e384d8e7310b26de54d12" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b2be4fd9017ef4bc20b9ea44c1d71440.setContent(html_30a3b24d612e384d8e7310b26de54d12);
        

        marker_b890835e5d7ac9f7692e20f36121edf4.bindPopup(popup_b2be4fd9017ef4bc20b9ea44c1d71440)
        ;

        
    
    
            marker_b890835e5d7ac9f7692e20f36121edf4.bindTooltip(
                `<div>
                     TRINDALE ELEMENTARY SCHOOL PREK
                 </div>`,
                {"sticky": true}
            );
        
</script>