<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6c0b2723b78684a9fc501dfcd78e471a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6c0b2723b78684a9fc501dfcd78e471a" ></div>
        
</body>
<script>    
    
            var map_6c0b2723b78684a9fc501dfcd78e471a = L.map(
                "map_6c0b2723b78684a9fc501dfcd78e471a",
                {
                    center: [35.746392285714286, -79.80629173469387],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f2f750a80706a6feea1a6e47455a64db = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var marker_4362b3ec1f9afc36ca66f3785c037708 = L.marker(
                [35.746392285714286, -79.80629173469387],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_dc46b41bd78413badd3c724aa7eee6b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4362b3ec1f9afc36ca66f3785c037708.setIcon(icon_dc46b41bd78413badd3c724aa7eee6b1);
        
    
        var popup_9383a640b4e0d81d7f20cad8767b832f = L.popup({"maxWidth": "100%"});

        
            var html_8b35a50141f15adb7a00490630c338d9 = $(`<div id="html_8b35a50141f15adb7a00490630c338d9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9383a640b4e0d81d7f20cad8767b832f.setContent(html_8b35a50141f15adb7a00490630c338d9);
        

        marker_4362b3ec1f9afc36ca66f3785c037708.bindPopup(popup_9383a640b4e0d81d7f20cad8767b832f)
        ;

        
    
    
            marker_4362b3ec1f9afc36ca66f3785c037708.bindTooltip(
                `<div>
                     CONNIE H. REDDING HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0a212b187d309ff9fc2e9365db013311 = L.marker(
                [35.692571034165866, -79.81325858671853],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_bc3bb7c0dd4234c3fb1382bfcac93137 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0a212b187d309ff9fc2e9365db013311.setIcon(icon_bc3bb7c0dd4234c3fb1382bfcac93137);
        
    
        var popup_b01b387097986a446f402cbd2b60f425 = L.popup({"maxWidth": "100%"});

        
            var html_48396de6697bf616f85ea14ba7bad4c1 = $(`<div id="html_48396de6697bf616f85ea14ba7bad4c1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b01b387097986a446f402cbd2b60f425.setContent(html_48396de6697bf616f85ea14ba7bad4c1);
        

        marker_0a212b187d309ff9fc2e9365db013311.bindPopup(popup_b01b387097986a446f402cbd2b60f425)
        ;

        
    
    
            marker_0a212b187d309ff9fc2e9365db013311.bindTooltip(
                `<div>
                     CREATIVE KIDS PRESCHOOL AND CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3953bc690aaceda32465e9e56abc5559 = L.marker(
                [35.745576588235295, -79.80699070588236],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_359ea084f2e6f7ae110070c30ed71b0f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3953bc690aaceda32465e9e56abc5559.setIcon(icon_359ea084f2e6f7ae110070c30ed71b0f);
        
    
        var popup_1e354cb6f788ab95cee1b45cafa309d1 = L.popup({"maxWidth": "100%"});

        
            var html_5342da2610d881ddc32183a75468adc0 = $(`<div id="html_5342da2610d881ddc32183a75468adc0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1e354cb6f788ab95cee1b45cafa309d1.setContent(html_5342da2610d881ddc32183a75468adc0);
        

        marker_3953bc690aaceda32465e9e56abc5559.bindPopup(popup_1e354cb6f788ab95cee1b45cafa309d1)
        ;

        
    
    
            marker_3953bc690aaceda32465e9e56abc5559.bindTooltip(
                `<div>
                     EARLY CHILDHOOD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_744a284b14b6ebfd260750e44e6ba0b3 = L.marker(
                [35.745576588235295, -79.80699070588236],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_1a117a847fb931542eba302cd132fe6b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_744a284b14b6ebfd260750e44e6ba0b3.setIcon(icon_1a117a847fb931542eba302cd132fe6b);
        
    
        var popup_1adc691415ebfbd70dde9e8f16714089 = L.popup({"maxWidth": "100%"});

        
            var html_8b350acda4e1e52f3cdc2e03d2c562be = $(`<div id="html_8b350acda4e1e52f3cdc2e03d2c562be" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1adc691415ebfbd70dde9e8f16714089.setContent(html_8b350acda4e1e52f3cdc2e03d2c562be);
        

        marker_744a284b14b6ebfd260750e44e6ba0b3.bindPopup(popup_1adc691415ebfbd70dde9e8f16714089)
        ;

        
    
    
            marker_744a284b14b6ebfd260750e44e6ba0b3.bindTooltip(
                `<div>
                     EARLY CHILDHOOD DEVELOPMENT CENTER #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fc0d74d1b777ac16aa987e2e7e900825 = L.marker(
                [35.718736, -79.810394],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_562401a966d65ad2b7681f086247598d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fc0d74d1b777ac16aa987e2e7e900825.setIcon(icon_562401a966d65ad2b7681f086247598d);
        
    
        var popup_58d98088ceda2c72dfd31f3ee35bb48c = L.popup({"maxWidth": "100%"});

        
            var html_1c2618ae1cb3c09b85388f46ab2f4174 = $(`<div id="html_1c2618ae1cb3c09b85388f46ab2f4174" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_58d98088ceda2c72dfd31f3ee35bb48c.setContent(html_1c2618ae1cb3c09b85388f46ab2f4174);
        

        marker_fc0d74d1b777ac16aa987e2e7e900825.bindPopup(popup_58d98088ceda2c72dfd31f3ee35bb48c)
        ;

        
    
    
            marker_fc0d74d1b777ac16aa987e2e7e900825.bindTooltip(
                `<div>
                     FAYETTEVILLE STREET BAPTIST CHURCH DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_460bbed66da9f6ad0927d124a882fb80 = L.marker(
                [35.672485612045904, -79.82055385218457],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_14eca597b84ba720f045a4167982168b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_460bbed66da9f6ad0927d124a882fb80.setIcon(icon_14eca597b84ba720f045a4167982168b);
        
    
        var popup_97410e6a371ea4aced42b367d99d6489 = L.popup({"maxWidth": "100%"});

        
            var html_593259bc7e7b88938ca4679bfe2fa09f = $(`<div id="html_593259bc7e7b88938ca4679bfe2fa09f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_97410e6a371ea4aced42b367d99d6489.setContent(html_593259bc7e7b88938ca4679bfe2fa09f);
        

        marker_460bbed66da9f6ad0927d124a882fb80.bindPopup(popup_97410e6a371ea4aced42b367d99d6489)
        ;

        
    
    
            marker_460bbed66da9f6ad0927d124a882fb80.bindTooltip(
                `<div>
                     FIRST STEPS EARLY LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fc622e01edc926a2aca7822451084e46 = L.marker(
                [35.71039024489796, -79.81700732653061],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_556f5e5d0264f3926162f08021bc34e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fc622e01edc926a2aca7822451084e46.setIcon(icon_556f5e5d0264f3926162f08021bc34e1);
        
    
        var popup_82a141cf9df454785695b63b75848a90 = L.popup({"maxWidth": "100%"});

        
            var html_134ab7ee1d90a575f7fef900f9fa8d09 = $(`<div id="html_134ab7ee1d90a575f7fef900f9fa8d09" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_82a141cf9df454785695b63b75848a90.setContent(html_134ab7ee1d90a575f7fef900f9fa8d09);
        

        marker_fc622e01edc926a2aca7822451084e46.bindPopup(popup_82a141cf9df454785695b63b75848a90)
        ;

        
    
    
            marker_fc622e01edc926a2aca7822451084e46.bindTooltip(
                `<div>
                     HARMONY PLACE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_33e31b08525ec356230f261ee32588ec = L.marker(
                [35.7509534, -79.8054284],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_db055668439ad8ec9c40e54d19cbf3c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_33e31b08525ec356230f261ee32588ec.setIcon(icon_db055668439ad8ec9c40e54d19cbf3c3);
        
    
        var popup_f887355033f7763e215409ec0419d3c0 = L.popup({"maxWidth": "100%"});

        
            var html_55f8ac5fd57582420898f4888445f576 = $(`<div id="html_55f8ac5fd57582420898f4888445f576" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f887355033f7763e215409ec0419d3c0.setContent(html_55f8ac5fd57582420898f4888445f576);
        

        marker_33e31b08525ec356230f261ee32588ec.bindPopup(popup_f887355033f7763e215409ec0419d3c0)
        ;

        
    
    
            marker_33e31b08525ec356230f261ee32588ec.bindTooltip(
                `<div>
                     NEIGHBORS GROVE CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_810c552ac6094c894e2ae90b17b3e49a = L.marker(
                [35.69649624489796, -79.84017826530612],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_4eea8b4904912236c537f6e39a5bd492 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_810c552ac6094c894e2ae90b17b3e49a.setIcon(icon_4eea8b4904912236c537f6e39a5bd492);
        
    
        var popup_13e372310f627161d50910dbd3aca9b1 = L.popup({"maxWidth": "100%"});

        
            var html_82d64aa97a7fff8d0e1ed2463e2658b6 = $(`<div id="html_82d64aa97a7fff8d0e1ed2463e2658b6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_13e372310f627161d50910dbd3aca9b1.setContent(html_82d64aa97a7fff8d0e1ed2463e2658b6);
        

        marker_810c552ac6094c894e2ae90b17b3e49a.bindPopup(popup_13e372310f627161d50910dbd3aca9b1)
        ;

        
    
    
            marker_810c552ac6094c894e2ae90b17b3e49a.bindTooltip(
                `<div>
                     NOAH'S ARK PLAYSCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_785409aaa67eb40207b3f954460e3f4d = L.marker(
                [35.707293, -79.80914497959184],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_0c01157d4f228b2983c02d7a905d819b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_785409aaa67eb40207b3f954460e3f4d.setIcon(icon_0c01157d4f228b2983c02d7a905d819b);
        
    
        var popup_c18c27526e4f1d4705b88cbcec186dbc = L.popup({"maxWidth": "100%"});

        
            var html_7efe0dbbf67b295007d3a5f2accb2577 = $(`<div id="html_7efe0dbbf67b295007d3a5f2accb2577" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c18c27526e4f1d4705b88cbcec186dbc.setContent(html_7efe0dbbf67b295007d3a5f2accb2577);
        

        marker_785409aaa67eb40207b3f954460e3f4d.bindPopup(popup_c18c27526e4f1d4705b88cbcec186dbc)
        ;

        
    
    
            marker_785409aaa67eb40207b3f954460e3f4d.bindTooltip(
                `<div>
                     PRECIOUS MEMORIES PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9c8794a83dc5e6604b16c5f7f7cd8872 = L.marker(
                [35.737007, -79.786564],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_50f358165776b73cebc63c244bf7ef6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_9c8794a83dc5e6604b16c5f7f7cd8872.setIcon(icon_50f358165776b73cebc63c244bf7ef6f);
        
    
        var popup_e2b35b1fed21f4b5089b8194bbf166bf = L.popup({"maxWidth": "100%"});

        
            var html_55345f825338fe6edf8e5f2af0b51b81 = $(`<div id="html_55345f825338fe6edf8e5f2af0b51b81" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_e2b35b1fed21f4b5089b8194bbf166bf.setContent(html_55345f825338fe6edf8e5f2af0b51b81);
        

        marker_9c8794a83dc5e6604b16c5f7f7cd8872.bindPopup(popup_e2b35b1fed21f4b5089b8194bbf166bf)
        ;

        
    
    
            marker_9c8794a83dc5e6604b16c5f7f7cd8872.bindTooltip(
                `<div>
                     SHEKINAH GLORY CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_775cfbd277dd88d073a31ef10d7493d8 = L.marker(
                [35.6626747, -79.8265173],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_028a903f176061d49feb5219d356bb55 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_775cfbd277dd88d073a31ef10d7493d8.setIcon(icon_028a903f176061d49feb5219d356bb55);
        
    
        var popup_d86a595193413b1398cfebeccb0be08b = L.popup({"maxWidth": "100%"});

        
            var html_612cdfb4e062ff95af111c0d0d7f8fea = $(`<div id="html_612cdfb4e062ff95af111c0d0d7f8fea" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d86a595193413b1398cfebeccb0be08b.setContent(html_612cdfb4e062ff95af111c0d0d7f8fea);
        

        marker_775cfbd277dd88d073a31ef10d7493d8.bindPopup(popup_d86a595193413b1398cfebeccb0be08b)
        ;

        
    
    
            marker_775cfbd277dd88d073a31ef10d7493d8.bindTooltip(
                `<div>
                     SOUTHMONT SMART START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3bead76b63ab36ad4485b532d8c7b792 = L.marker(
                [35.7325175, -79.9670007],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_14052259add0f98762d9621144fd1118 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3bead76b63ab36ad4485b532d8c7b792.setIcon(icon_14052259add0f98762d9621144fd1118);
        
    
        var popup_09dd957a8aa8ca562774f98e85bcaa0f = L.popup({"maxWidth": "100%"});

        
            var html_0d29d00ceaba80513a53332fb590aa12 = $(`<div id="html_0d29d00ceaba80513a53332fb590aa12" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_09dd957a8aa8ca562774f98e85bcaa0f.setContent(html_0d29d00ceaba80513a53332fb590aa12);
        

        marker_3bead76b63ab36ad4485b532d8c7b792.bindPopup(popup_09dd957a8aa8ca562774f98e85bcaa0f)
        ;

        
    
    
            marker_3bead76b63ab36ad4485b532d8c7b792.bindTooltip(
                `<div>
                     TABERNACLE ELEMENTARY SCHOOL PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_45e5e8920f4376be722ca0eec9300050 = L.marker(
                [35.738538342105265, -79.80823281578947],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_5be4172a04f47933d6954d51183e234f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_45e5e8920f4376be722ca0eec9300050.setIcon(icon_5be4172a04f47933d6954d51183e234f);
        
    
        var popup_f3d543f95bd8a43ea28cf0a759847278 = L.popup({"maxWidth": "100%"});

        
            var html_7a5e8acca8db480c400162ed5db2d816 = $(`<div id="html_7a5e8acca8db480c400162ed5db2d816" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f3d543f95bd8a43ea28cf0a759847278.setContent(html_7a5e8acca8db480c400162ed5db2d816);
        

        marker_45e5e8920f4376be722ca0eec9300050.bindPopup(popup_f3d543f95bd8a43ea28cf0a759847278)
        ;

        
    
    
            marker_45e5e8920f4376be722ca0eec9300050.bindTooltip(
                `<div>
                     TEDDY BEAR CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_54b126ba59f6c9ae20e6028a6100ec57 = L.marker(
                [35.70453121621621, -79.79300756756756],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_1b30c4fb04d3554cf11c896e09e8acfc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_54b126ba59f6c9ae20e6028a6100ec57.setIcon(icon_1b30c4fb04d3554cf11c896e09e8acfc);
        
    
        var popup_9f62406d56579d85d42d08d10b61b0e6 = L.popup({"maxWidth": "100%"});

        
            var html_6b0103e3cba247d557a640d0aebc9326 = $(`<div id="html_6b0103e3cba247d557a640d0aebc9326" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9f62406d56579d85d42d08d10b61b0e6.setContent(html_6b0103e3cba247d557a640d0aebc9326);
        

        marker_54b126ba59f6c9ae20e6028a6100ec57.bindPopup(popup_9f62406d56579d85d42d08d10b61b0e6)
        ;

        
    
    
            marker_54b126ba59f6c9ae20e6028a6100ec57.bindTooltip(
                `<div>
                     THE CHILDREN'S CENTER OF ASHEBORO #1
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_507e48f152a69e8bb1ffc4a963479aa9 = L.marker(
                [35.70453121621621, -79.79300756756756],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_580e4f49b81cc05506da0c9f82eb147c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_507e48f152a69e8bb1ffc4a963479aa9.setIcon(icon_580e4f49b81cc05506da0c9f82eb147c);
        
    
        var popup_f48bc182211182d4ff65ac83c16f383d = L.popup({"maxWidth": "100%"});

        
            var html_5c87d50088aa2fa19e3f03dc81f75c48 = $(`<div id="html_5c87d50088aa2fa19e3f03dc81f75c48" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f48bc182211182d4ff65ac83c16f383d.setContent(html_5c87d50088aa2fa19e3f03dc81f75c48);
        

        marker_507e48f152a69e8bb1ffc4a963479aa9.bindPopup(popup_f48bc182211182d4ff65ac83c16f383d)
        ;

        
    
    
            marker_507e48f152a69e8bb1ffc4a963479aa9.bindTooltip(
                `<div>
                     THE CHILDREN'S CENTER OF ASHEBORO, LLC #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5139aacf17243c5624e94d195bfe5424 = L.marker(
                [35.706972, -79.816983],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_b9431d20306f4fe2e49153a36d8cd8a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5139aacf17243c5624e94d195bfe5424.setIcon(icon_b9431d20306f4fe2e49153a36d8cd8a3);
        
    
        var popup_258c61d9ced22293fae8480541f6e6ec = L.popup({"maxWidth": "100%"});

        
            var html_bb2f6646769feb5c1695a647cf89a3f3 = $(`<div id="html_bb2f6646769feb5c1695a647cf89a3f3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_258c61d9ced22293fae8480541f6e6ec.setContent(html_bb2f6646769feb5c1695a647cf89a3f3);
        

        marker_5139aacf17243c5624e94d195bfe5424.bindPopup(popup_258c61d9ced22293fae8480541f6e6ec)
        ;

        
    
    
            marker_5139aacf17243c5624e94d195bfe5424.bindTooltip(
                `<div>
                     THE GROWING PLACE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2635732129d9fb4310fc82fae823da03 = L.marker(
                [35.737218763341254, -79.80716270816208],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_f4ab049feeb0f2fa485186bdf7782319 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2635732129d9fb4310fc82fae823da03.setIcon(icon_f4ab049feeb0f2fa485186bdf7782319);
        
    
        var popup_fcb039a6f19625386748d60542c82bfa = L.popup({"maxWidth": "100%"});

        
            var html_4ca1041f36d2df7ed16b2f6c6bf56fcd = $(`<div id="html_4ca1041f36d2df7ed16b2f6c6bf56fcd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fcb039a6f19625386748d60542c82bfa.setContent(html_4ca1041f36d2df7ed16b2f6c6bf56fcd);
        

        marker_2635732129d9fb4310fc82fae823da03.bindPopup(popup_fcb039a6f19625386748d60542c82bfa)
        ;

        
    
    
            marker_2635732129d9fb4310fc82fae823da03.bindTooltip(
                `<div>
                     THE KIDS OF HOPE LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e7576db260478476d94b621e5611da01 = L.marker(
                [35.70932598828167, -79.81080418847247],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_b0fc07afe93e7b53151a14e5f95bc40d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e7576db260478476d94b621e5611da01.setIcon(icon_b0fc07afe93e7b53151a14e5f95bc40d);
        
    
        var popup_e838bc1bd0b5db9ed38166b19e6097a8 = L.popup({"maxWidth": "100%"});

        
            var html_51ab2efb838383907393eb4663eefff8 = $(`<div id="html_51ab2efb838383907393eb4663eefff8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e838bc1bd0b5db9ed38166b19e6097a8.setContent(html_51ab2efb838383907393eb4663eefff8);
        

        marker_e7576db260478476d94b621e5611da01.bindPopup(popup_e838bc1bd0b5db9ed38166b19e6097a8)
        ;

        
    
    
            marker_e7576db260478476d94b621e5611da01.bindTooltip(
                `<div>
                     TOTALLY AWESOME KIDS PRESCHOOL LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_517ee0bc7cfecd1c589de03cf6ce03ed = L.marker(
                [35.67485125059005, -79.80665132663759],
                {}
            ).addTo(map_6c0b2723b78684a9fc501dfcd78e471a);
        
    
            var icon_750a0be42d5247f8ba1ee65ffd24525d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_517ee0bc7cfecd1c589de03cf6ce03ed.setIcon(icon_750a0be42d5247f8ba1ee65ffd24525d);
        
    
        var popup_c698413e71bf53ee1a848f4cc102e0b6 = L.popup({"maxWidth": "100%"});

        
            var html_93af71ae626b55ded3ba7d057ba3ce35 = $(`<div id="html_93af71ae626b55ded3ba7d057ba3ce35" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c698413e71bf53ee1a848f4cc102e0b6.setContent(html_93af71ae626b55ded3ba7d057ba3ce35);
        

        marker_517ee0bc7cfecd1c589de03cf6ce03ed.bindPopup(popup_c698413e71bf53ee1a848f4cc102e0b6)
        ;

        
    
    
            marker_517ee0bc7cfecd1c589de03cf6ce03ed.bindTooltip(
                `<div>
                     TROGDON'S DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>