<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0e7151d16894ee884e2bc74d662e0deb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0e7151d16894ee884e2bc74d662e0deb" ></div>
        
</body>
<script>    
    
            var map_0e7151d16894ee884e2bc74d662e0deb = L.map(
                "map_0e7151d16894ee884e2bc74d662e0deb",
                {
                    center: [34.882494911634424, -76.34145115596566],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_15383ebc210138d6c413425797554d1d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0e7151d16894ee884e2bc74d662e0deb);
        
    
            var marker_7f76c512988f07621444cf3dfc15ce99 = L.marker(
                [34.882494911634424, -76.34145115596566],
                {}
            ).addTo(map_0e7151d16894ee884e2bc74d662e0deb);
        
    
            var icon_16da8511fa63bf7c26f6c3f36cf53011 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7f76c512988f07621444cf3dfc15ce99.setIcon(icon_16da8511fa63bf7c26f6c3f36cf53011);
        
    
        var popup_74aa0ee625e0098677342d1acfec1fd8 = L.popup({"maxWidth": "100%"});

        
            var html_44aeda2215eb49bfd7cfc776954199c7 = $(`<div id="html_44aeda2215eb49bfd7cfc776954199c7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_74aa0ee625e0098677342d1acfec1fd8.setContent(html_44aeda2215eb49bfd7cfc776954199c7);
        

        marker_7f76c512988f07621444cf3dfc15ce99.bindPopup(popup_74aa0ee625e0098677342d1acfec1fd8)
        ;

        
    
    
            marker_7f76c512988f07621444cf3dfc15ce99.bindTooltip(
                `<div>
                     ATLANTIC ELEMENTARY SCHOOL PRE-K
                 </div>`,
                {"sticky": true}
            );
        
</script>