<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e23d8a70ea89e299f01e3e7e598d2416 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e23d8a70ea89e299f01e3e7e598d2416" ></div>
        
</body>
<script>    
    
            var map_e23d8a70ea89e299f01e3e7e598d2416 = L.map(
                "map_e23d8a70ea89e299f01e3e7e598d2416",
                {
                    center: [36.14901035, -81.85778775799498],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_03a2a0af7bc5e5450e4f83ed02aed846 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e23d8a70ea89e299f01e3e7e598d2416);
        
    
            var marker_ba3e5b4cf2c854cfdfec42a1ec9991da = L.marker(
                [36.14901035, -81.85778775799498],
                {}
            ).addTo(map_e23d8a70ea89e299f01e3e7e598d2416);
        
    
            var icon_5e4c9750b23b6ec04d76a3c2af095f4a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ba3e5b4cf2c854cfdfec42a1ec9991da.setIcon(icon_5e4c9750b23b6ec04d76a3c2af095f4a);
        
    
        var popup_d0a11cf20ca1a1c03b0dd826907b42a8 = L.popup({"maxWidth": "100%"});

        
            var html_47223dbd7ba730e2445830ba34c06f81 = $(`<div id="html_47223dbd7ba730e2445830ba34c06f81" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d0a11cf20ca1a1c03b0dd826907b42a8.setContent(html_47223dbd7ba730e2445830ba34c06f81);
        

        marker_ba3e5b4cf2c854cfdfec42a1ec9991da.bindPopup(popup_d0a11cf20ca1a1c03b0dd826907b42a8)
        ;

        
    
    
            marker_ba3e5b4cf2c854cfdfec42a1ec9991da.bindTooltip(
                `<div>
                     BANNER ELK PRE-KINDERGARTEN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aa61de181b0abd65590215175f066cfd = L.marker(
                [36.1567527, -81.869644],
                {}
            ).addTo(map_e23d8a70ea89e299f01e3e7e598d2416);
        
    
            var icon_b3ab88eb1e049cecb7b59fd84268117c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_aa61de181b0abd65590215175f066cfd.setIcon(icon_b3ab88eb1e049cecb7b59fd84268117c);
        
    
        var popup_6d171c59a6d6e986dcc669f2d05c62c6 = L.popup({"maxWidth": "100%"});

        
            var html_176723812c91c6fa79c4eafa89ada5e4 = $(`<div id="html_176723812c91c6fa79c4eafa89ada5e4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6d171c59a6d6e986dcc669f2d05c62c6.setContent(html_176723812c91c6fa79c4eafa89ada5e4);
        

        marker_aa61de181b0abd65590215175f066cfd.bindPopup(popup_6d171c59a6d6e986dcc669f2d05c62c6)
        ;

        
    
    
            marker_aa61de181b0abd65590215175f066cfd.bindTooltip(
                `<div>
                     HOLSTON CAMP PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>