<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7dffd3665882ff7d90132260ce4cf7be {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7dffd3665882ff7d90132260ce4cf7be" ></div>
        
</body>
<script>    
    
            var map_7dffd3665882ff7d90132260ce4cf7be = L.map(
                "map_7dffd3665882ff7d90132260ce4cf7be",
                {
                    center: [36.388344, -76.010881],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b0e122f21b09aa6c67cb6652e15ded99 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7dffd3665882ff7d90132260ce4cf7be);
        
    
            var marker_c5d376e7d295537d071ecc0ec458bac0 = L.marker(
                [36.388344, -76.010881],
                {}
            ).addTo(map_7dffd3665882ff7d90132260ce4cf7be);
        
    
            var icon_d95a7b0ba80c990f96b49476b83bf2fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c5d376e7d295537d071ecc0ec458bac0.setIcon(icon_d95a7b0ba80c990f96b49476b83bf2fd);
        
    
        var popup_07900fd8a107851f3c570536d12083e6 = L.popup({"maxWidth": "100%"});

        
            var html_c5505fe3444348d618272dd26b68f184 = $(`<div id="html_c5505fe3444348d618272dd26b68f184" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_07900fd8a107851f3c570536d12083e6.setContent(html_c5505fe3444348d618272dd26b68f184);
        

        marker_c5d376e7d295537d071ecc0ec458bac0.bindPopup(popup_07900fd8a107851f3c570536d12083e6)
        ;

        
    
    
            marker_c5d376e7d295537d071ecc0ec458bac0.bindTooltip(
                `<div>
                     CENTRAL ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_65a2bc30ce2904baad8208de6d7b46eb = L.marker(
                [36.388324, -76.01061023076923],
                {}
            ).addTo(map_7dffd3665882ff7d90132260ce4cf7be);
        
    
            var icon_31cc280dfcefd67a3e77b575a6809bc3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_65a2bc30ce2904baad8208de6d7b46eb.setIcon(icon_31cc280dfcefd67a3e77b575a6809bc3);
        
    
        var popup_779f22ed85baa19f3f2bfa045469cefe = L.popup({"maxWidth": "100%"});

        
            var html_dfd8e27c4e26cac5eabaf0ed23738813 = $(`<div id="html_dfd8e27c4e26cac5eabaf0ed23738813" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_779f22ed85baa19f3f2bfa045469cefe.setContent(html_dfd8e27c4e26cac5eabaf0ed23738813);
        

        marker_65a2bc30ce2904baad8208de6d7b46eb.bindPopup(popup_779f22ed85baa19f3f2bfa045469cefe)
        ;

        
    
    
            marker_65a2bc30ce2904baad8208de6d7b46eb.bindTooltip(
                `<div>
                     CURRITUCK COUNTY HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>