<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d439250bd3144bc6453f219f2b4ada04 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d439250bd3144bc6453f219f2b4ada04" ></div>
        
</body>
<script>    
    
            var map_d439250bd3144bc6453f219f2b4ada04 = L.map(
                "map_d439250bd3144bc6453f219f2b4ada04",
                {
                    center: [34.717636, -76.663517],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1bb79f7187c619c49af8514bbc54ff21 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d439250bd3144bc6453f219f2b4ada04);
        
    
            var marker_9f0b1cadc3ed5372f367709776b484c3 = L.marker(
                [34.717636, -76.663517],
                {}
            ).addTo(map_d439250bd3144bc6453f219f2b4ada04);
        
    
            var icon_bdbc0452e95582870d6b810b164b502a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9f0b1cadc3ed5372f367709776b484c3.setIcon(icon_bdbc0452e95582870d6b810b164b502a);
        
    
        var popup_1d907e8df344a4e412ff04e5bcfbdc17 = L.popup({"maxWidth": "100%"});

        
            var html_b9ae0a8568e94915ffb713bdf0d23bdb = $(`<div id="html_b9ae0a8568e94915ffb713bdf0d23bdb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1d907e8df344a4e412ff04e5bcfbdc17.setContent(html_b9ae0a8568e94915ffb713bdf0d23bdb);
        

        marker_9f0b1cadc3ed5372f367709776b484c3.bindPopup(popup_1d907e8df344a4e412ff04e5bcfbdc17)
        ;

        
    
    
            marker_9f0b1cadc3ed5372f367709776b484c3.bindTooltip(
                `<div>
                     ANN STREET UNITED METH. CHURCH DAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0fc5e42c73e29d2af0b2825afdf5aa87 = L.marker(
                [34.73624671355029, -76.6410131429948],
                {}
            ).addTo(map_d439250bd3144bc6453f219f2b4ada04);
        
    
            var icon_5ed64294c5e215229138f1a494200ea8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0fc5e42c73e29d2af0b2825afdf5aa87.setIcon(icon_5ed64294c5e215229138f1a494200ea8);
        
    
        var popup_7eae13cb9470a6cfd1cc388cda7f830f = L.popup({"maxWidth": "100%"});

        
            var html_afe99ced523494eb69209e8a8093a83f = $(`<div id="html_afe99ced523494eb69209e8a8093a83f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7eae13cb9470a6cfd1cc388cda7f830f.setContent(html_afe99ced523494eb69209e8a8093a83f);
        

        marker_0fc5e42c73e29d2af0b2825afdf5aa87.bindPopup(popup_7eae13cb9470a6cfd1cc388cda7f830f)
        ;

        
    
    
            marker_0fc5e42c73e29d2af0b2825afdf5aa87.bindTooltip(
                `<div>
                     BEAUFORT CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_023028de0de3f7e62b175aff9353e4f8 = L.marker(
                [34.728826112532126, -76.64519748232476],
                {}
            ).addTo(map_d439250bd3144bc6453f219f2b4ada04);
        
    
            var icon_13559b24e9305df16f3695b2f1915346 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_023028de0de3f7e62b175aff9353e4f8.setIcon(icon_13559b24e9305df16f3695b2f1915346);
        
    
        var popup_cda0dc3497321b50426e595fdcac6e28 = L.popup({"maxWidth": "100%"});

        
            var html_98f6182d81fa538aee53a5bcb5aa1dda = $(`<div id="html_98f6182d81fa538aee53a5bcb5aa1dda" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cda0dc3497321b50426e595fdcac6e28.setContent(html_98f6182d81fa538aee53a5bcb5aa1dda);
        

        marker_023028de0de3f7e62b175aff9353e4f8.bindPopup(popup_cda0dc3497321b50426e595fdcac6e28)
        ;

        
    
    
            marker_023028de0de3f7e62b175aff9353e4f8.bindTooltip(
                `<div>
                     BEAUFORT ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a9c060ea0530f28454d5c09409db5379 = L.marker(
                [34.72360348641024, -76.64693778336988],
                {}
            ).addTo(map_d439250bd3144bc6453f219f2b4ada04);
        
    
            var icon_47eb26fe38a0dc2112bde41e08703f3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a9c060ea0530f28454d5c09409db5379.setIcon(icon_47eb26fe38a0dc2112bde41e08703f3b);
        
    
        var popup_0caba717af4db5e429b644028135d44f = L.popup({"maxWidth": "100%"});

        
            var html_ee7e8dfe643c598c1547981f1a8e1438 = $(`<div id="html_ee7e8dfe643c598c1547981f1a8e1438" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0caba717af4db5e429b644028135d44f.setContent(html_ee7e8dfe643c598c1547981f1a8e1438);
        

        marker_a9c060ea0530f28454d5c09409db5379.bindPopup(popup_0caba717af4db5e429b644028135d44f)
        ;

        
    
    
            marker_a9c060ea0530f28454d5c09409db5379.bindTooltip(
                `<div>
                     NEW GENERATION CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>