<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d8672fdf516f0e16fec21efef35154f5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d8672fdf516f0e16fec21efef35154f5" ></div>
        
</body>
<script>    
    
            var map_d8672fdf516f0e16fec21efef35154f5 = L.map(
                "map_d8672fdf516f0e16fec21efef35154f5",
                {
                    center: [35.806668902062114, -77.37129846849597],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9e452216d9f9f71c37572cfff4cd0899 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d8672fdf516f0e16fec21efef35154f5);
        
    
            var marker_dca52d673a90ab5de50b01fc2ccfbcbd = L.marker(
                [35.806668902062114, -77.37129846849597],
                {}
            ).addTo(map_d8672fdf516f0e16fec21efef35154f5);
        
    
            var icon_e376e798126cd9c4e77418aabe5ab36d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dca52d673a90ab5de50b01fc2ccfbcbd.setIcon(icon_e376e798126cd9c4e77418aabe5ab36d);
        
    
        var popup_83e718f05babea074fb93e270df43b2b = L.popup({"maxWidth": "100%"});

        
            var html_90590e42962ce94523f29e077b91eaaa = $(`<div id="html_90590e42962ce94523f29e077b91eaaa" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_83e718f05babea074fb93e270df43b2b.setContent(html_90590e42962ce94523f29e077b91eaaa);
        

        marker_dca52d673a90ab5de50b01fc2ccfbcbd.bindPopup(popup_83e718f05babea074fb93e270df43b2b)
        ;

        
    
    
            marker_dca52d673a90ab5de50b01fc2ccfbcbd.bindTooltip(
                `<div>
                     BETHEL ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb69631fb6ca37bebd58a55d2c75a41f = L.marker(
                [35.80394199890341, -77.37324699635111],
                {}
            ).addTo(map_d8672fdf516f0e16fec21efef35154f5);
        
    
            var icon_0b941d0351ef1bd16f9a323e033319e4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_eb69631fb6ca37bebd58a55d2c75a41f.setIcon(icon_0b941d0351ef1bd16f9a323e033319e4);
        
    
        var popup_31e863053372f8db644168aae189023d = L.popup({"maxWidth": "100%"});

        
            var html_ee3c0ebf27e4ac68c5a6da7ba91645b4 = $(`<div id="html_ee3c0ebf27e4ac68c5a6da7ba91645b4" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_31e863053372f8db644168aae189023d.setContent(html_ee3c0ebf27e4ac68c5a6da7ba91645b4);
        

        marker_eb69631fb6ca37bebd58a55d2c75a41f.bindPopup(popup_31e863053372f8db644168aae189023d)
        ;

        
    
    
            marker_eb69631fb6ca37bebd58a55d2c75a41f.bindTooltip(
                `<div>
                     HEAVENLY DAYS CHILDCARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a737cca7fe6efcf9722c45bbb31879bf = L.marker(
                [35.80018104166667, -77.37333833333334],
                {}
            ).addTo(map_d8672fdf516f0e16fec21efef35154f5);
        
    
            var icon_734828b4dea0a3c5d38bbde3b623283a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a737cca7fe6efcf9722c45bbb31879bf.setIcon(icon_734828b4dea0a3c5d38bbde3b623283a);
        
    
        var popup_687045918894b94b2dff34b1b9bc4009 = L.popup({"maxWidth": "100%"});

        
            var html_dad706ac912bd9ad4d2c11ad2b9a6b85 = $(`<div id="html_dad706ac912bd9ad4d2c11ad2b9a6b85" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_687045918894b94b2dff34b1b9bc4009.setContent(html_dad706ac912bd9ad4d2c11ad2b9a6b85);
        

        marker_a737cca7fe6efcf9722c45bbb31879bf.bindPopup(popup_687045918894b94b2dff34b1b9bc4009)
        ;

        
    
    
            marker_a737cca7fe6efcf9722c45bbb31879bf.bindTooltip(
                `<div>
                     THE PROMISED LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>