<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_497f9300ac412a439b88de057a2ddbb5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_497f9300ac412a439b88de057a2ddbb5" ></div>
        
</body>
<script>    
    
            var map_497f9300ac412a439b88de057a2ddbb5 = L.map(
                "map_497f9300ac412a439b88de057a2ddbb5",
                {
                    center: [35.615164, -82.340586],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_49fd2df8458e5c218cea0245bcd3a415 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_497f9300ac412a439b88de057a2ddbb5);
        
    
            var marker_d2303ddf99b16424c70623c1f2ba922b = L.marker(
                [35.615164, -82.340586],
                {}
            ).addTo(map_497f9300ac412a439b88de057a2ddbb5);
        
    
            var icon_f2758ae4efc1928677a850836a88aebb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d2303ddf99b16424c70623c1f2ba922b.setIcon(icon_f2758ae4efc1928677a850836a88aebb);
        
    
        var popup_6330b8775df0a08c0dcf53f3da09e19b = L.popup({"maxWidth": "100%"});

        
            var html_461d64effb92fd24824a44c171862240 = $(`<div id="html_461d64effb92fd24824a44c171862240" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6330b8775df0a08c0dcf53f3da09e19b.setContent(html_461d64effb92fd24824a44c171862240);
        

        marker_d2303ddf99b16424c70623c1f2ba922b.bindPopup(popup_6330b8775df0a08c0dcf53f3da09e19b)
        ;

        
    
    
            marker_d2303ddf99b16424c70623c1f2ba922b.bindTooltip(
                `<div>
                     BLACK MOUNTAIN MONTESSORI
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4dcb663417f9acab297cb8a0b5bc9b4c = L.marker(
                [35.620411, -82.3178027],
                {}
            ).addTo(map_497f9300ac412a439b88de057a2ddbb5);
        
    
            var icon_40f5b3f7a42a4fcc3828c6c272bc15f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4dcb663417f9acab297cb8a0b5bc9b4c.setIcon(icon_40f5b3f7a42a4fcc3828c6c272bc15f1);
        
    
        var popup_1e35c1c4d40a5f3d2fd8c2f64f9862e4 = L.popup({"maxWidth": "100%"});

        
            var html_a6c229b3f48e3f128db270d6dc39e96e = $(`<div id="html_a6c229b3f48e3f128db270d6dc39e96e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1e35c1c4d40a5f3d2fd8c2f64f9862e4.setContent(html_a6c229b3f48e3f128db270d6dc39e96e);
        

        marker_4dcb663417f9acab297cb8a0b5bc9b4c.bindPopup(popup_1e35c1c4d40a5f3d2fd8c2f64f9862e4)
        ;

        
    
    
            marker_4dcb663417f9acab297cb8a0b5bc9b4c.bindTooltip(
                `<div>
                     BLACK MOUNTAIN PRIMARY SCHOOL HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_501d5c6ebd34822a900f655d6191237a = L.marker(
                [35.61947138640818, -82.32083509551926],
                {}
            ).addTo(map_497f9300ac412a439b88de057a2ddbb5);
        
    
            var icon_7c9f1c72744c70dd368cb8f1ae721008 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_501d5c6ebd34822a900f655d6191237a.setIcon(icon_7c9f1c72744c70dd368cb8f1ae721008);
        
    
        var popup_cb973e59d3d55ef3ba655cff399c99ce = L.popup({"maxWidth": "100%"});

        
            var html_56bb6806620609a41808b47b4192a954 = $(`<div id="html_56bb6806620609a41808b47b4192a954" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cb973e59d3d55ef3ba655cff399c99ce.setContent(html_56bb6806620609a41808b47b4192a954);
        

        marker_501d5c6ebd34822a900f655d6191237a.bindPopup(popup_cb973e59d3d55ef3ba655cff399c99ce)
        ;

        
    
    
            marker_501d5c6ebd34822a900f655d6191237a.bindTooltip(
                `<div>
                     DONALD S COLLINS EARLY LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_325a077c89017094437b419a2dbee3d3 = L.marker(
                [35.6197391, -82.3160679],
                {}
            ).addTo(map_497f9300ac412a439b88de057a2ddbb5);
        
    
            var icon_7f3f5880f370738229b0690044d999c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_325a077c89017094437b419a2dbee3d3.setIcon(icon_7f3f5880f370738229b0690044d999c4);
        
    
        var popup_9900aa98b2cd9f8beaba76c61c63a58f = L.popup({"maxWidth": "100%"});

        
            var html_555e3002cb72fc6bb1536c96e5f44921 = $(`<div id="html_555e3002cb72fc6bb1536c96e5f44921" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9900aa98b2cd9f8beaba76c61c63a58f.setContent(html_555e3002cb72fc6bb1536c96e5f44921);
        

        marker_325a077c89017094437b419a2dbee3d3.bindPopup(popup_9900aa98b2cd9f8beaba76c61c63a58f)
        ;

        
    
    
            marker_325a077c89017094437b419a2dbee3d3.bindTooltip(
                `<div>
                     KATHY'S KIDDIELAND
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_54724f47c21bcb9d5e0e606be7268370 = L.marker(
                [35.61518735391679, -82.33990088388032],
                {}
            ).addTo(map_497f9300ac412a439b88de057a2ddbb5);
        
    
            var icon_ef717d1fda7f0f9337d873cac4c6e4d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_54724f47c21bcb9d5e0e606be7268370.setIcon(icon_ef717d1fda7f0f9337d873cac4c6e4d4);
        
    
        var popup_b36ad414e08b24f60b38e00013d5b234 = L.popup({"maxWidth": "100%"});

        
            var html_c9fc1700f1b5a357e38850fdb0bf0a8f = $(`<div id="html_c9fc1700f1b5a357e38850fdb0bf0a8f" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_b36ad414e08b24f60b38e00013d5b234.setContent(html_c9fc1700f1b5a357e38850fdb0bf0a8f);
        

        marker_54724f47c21bcb9d5e0e606be7268370.bindPopup(popup_b36ad414e08b24f60b38e00013d5b234)
        ;

        
    
    
            marker_54724f47c21bcb9d5e0e606be7268370.bindTooltip(
                `<div>
                     PINT-SIZED PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f192dfeb04e86f844a53221f27db8630 = L.marker(
                [35.620411, -82.3178027],
                {}
            ).addTo(map_497f9300ac412a439b88de057a2ddbb5);
        
    
            var icon_2c84613679b1895c2615603879fa1cef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f192dfeb04e86f844a53221f27db8630.setIcon(icon_2c84613679b1895c2615603879fa1cef);
        
    
        var popup_413a8b6fa11b8b76efb1976c988bf5f7 = L.popup({"maxWidth": "100%"});

        
            var html_fc535c90c4f045ac607152c2d55e71c2 = $(`<div id="html_fc535c90c4f045ac607152c2d55e71c2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_413a8b6fa11b8b76efb1976c988bf5f7.setContent(html_fc535c90c4f045ac607152c2d55e71c2);
        

        marker_f192dfeb04e86f844a53221f27db8630.bindPopup(popup_413a8b6fa11b8b76efb1976c988bf5f7)
        ;

        
    
    
            marker_f192dfeb04e86f844a53221f27db8630.bindTooltip(
                `<div>
                     YMCA BLACK MOUNTAIN AFTERSCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>