<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_01e93a0e93b42c63c2d0b1b3e39f452b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_01e93a0e93b42c63c2d0b1b3e39f452b" ></div>
        
</body>
<script>    
    
            var map_01e93a0e93b42c63c2d0b1b3e39f452b = L.map(
                "map_01e93a0e93b42c63c2d0b1b3e39f452b",
                {
                    center: [34.547842646074656, -78.80089746846853],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1b5f49394c545026aaf5f5668f6a5dcb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_01e93a0e93b42c63c2d0b1b3e39f452b);
        
    
            var marker_df2a429f91aa391f7e0639510344147f = L.marker(
                [34.547842646074656, -78.80089746846853],
                {}
            ).addTo(map_01e93a0e93b42c63c2d0b1b3e39f452b);
        
    
            var icon_7b3b51048709d8f310fa5d47c38f59ac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_df2a429f91aa391f7e0639510344147f.setIcon(icon_7b3b51048709d8f310fa5d47c38f59ac);
        
    
        var popup_f7d8298dca679b89b56da5a26d52b482 = L.popup({"maxWidth": "100%"});

        
            var html_2087772b5e631a8c46910942710a4fa9 = $(`<div id="html_2087772b5e631a8c46910942710a4fa9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f7d8298dca679b89b56da5a26d52b482.setContent(html_2087772b5e631a8c46910942710a4fa9);
        

        marker_df2a429f91aa391f7e0639510344147f.bindPopup(popup_f7d8298dca679b89b56da5a26d52b482)
        ;

        
    
    
            marker_df2a429f91aa391f7e0639510344147f.bindTooltip(
                `<div>
                     ANCHOR ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_78b2cf7b0cc19f296ef87389d0e27daf = L.marker(
                [34.541855, -78.804431],
                {}
            ).addTo(map_01e93a0e93b42c63c2d0b1b3e39f452b);
        
    
            var icon_fbc74c74bb1e4aecf9c677c61d7a6a83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_78b2cf7b0cc19f296ef87389d0e27daf.setIcon(icon_fbc74c74bb1e4aecf9c677c61d7a6a83);
        
    
        var popup_83afb11cf700b8c10f042055b6559a87 = L.popup({"maxWidth": "100%"});

        
            var html_11dfc44b946616469480a2af011a5fcd = $(`<div id="html_11dfc44b946616469480a2af011a5fcd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_83afb11cf700b8c10f042055b6559a87.setContent(html_11dfc44b946616469480a2af011a5fcd);
        

        marker_78b2cf7b0cc19f296ef87389d0e27daf.bindPopup(popup_83afb11cf700b8c10f042055b6559a87)
        ;

        
    
    
            marker_78b2cf7b0cc19f296ef87389d0e27daf.bindTooltip(
                `<div>
                     BIG BIRD LOVE DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_65e03eadfe8f5e021d356f4f704bc3bc = L.marker(
                [34.53096040005182, -78.79587688861457],
                {}
            ).addTo(map_01e93a0e93b42c63c2d0b1b3e39f452b);
        
    
            var icon_bc2c2380a8c54c6b07fd404270567468 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_65e03eadfe8f5e021d356f4f704bc3bc.setIcon(icon_bc2c2380a8c54c6b07fd404270567468);
        
    
        var popup_4f4ba53dfffee5b5cfd61c9d31e3e145 = L.popup({"maxWidth": "100%"});

        
            var html_c43eb9927a0050a8a86b613b425b4288 = $(`<div id="html_c43eb9927a0050a8a86b613b425b4288" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4f4ba53dfffee5b5cfd61c9d31e3e145.setContent(html_c43eb9927a0050a8a86b613b425b4288);
        

        marker_65e03eadfe8f5e021d356f4f704bc3bc.bindPopup(popup_4f4ba53dfffee5b5cfd61c9d31e3e145)
        ;

        
    
    
            marker_65e03eadfe8f5e021d356f4f704bc3bc.bindTooltip(
                `<div>
                     BLADENBORO PRIMARY PRE K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb598129e2792e956744f1b289ac0f81 = L.marker(
                [34.55851337693978, -78.795207811798],
                {}
            ).addTo(map_01e93a0e93b42c63c2d0b1b3e39f452b);
        
    
            var icon_e9a64e147fe332fe815fb918bf99d5d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_eb598129e2792e956744f1b289ac0f81.setIcon(icon_e9a64e147fe332fe815fb918bf99d5d7);
        
    
        var popup_15067343855f9f4d8c86d0bc0de17cd1 = L.popup({"maxWidth": "100%"});

        
            var html_11e433f67997fdb30451a0fb398eb371 = $(`<div id="html_11e433f67997fdb30451a0fb398eb371" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_15067343855f9f4d8c86d0bc0de17cd1.setContent(html_11e433f67997fdb30451a0fb398eb371);
        

        marker_eb598129e2792e956744f1b289ac0f81.bindPopup(popup_15067343855f9f4d8c86d0bc0de17cd1)
        ;

        
    
    
            marker_eb598129e2792e956744f1b289ac0f81.bindTooltip(
                `<div>
                     LITTLE HANDS DAYCARE, INC.
                 </div>`,
                {"sticky": true}
            );
        
</script>