<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d37c4011c2f7567e40cedc27d3bb3e31 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d37c4011c2f7567e40cedc27d3bb3e31" ></div>
        
</body>
<script>    
    
            var map_d37c4011c2f7567e40cedc27d3bb3e31 = L.map(
                "map_d37c4011c2f7567e40cedc27d3bb3e31",
                {
                    center: [35.407154488114315, -78.7412801744731],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a4e24ccc7560ba86b8442b29753a33d9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d37c4011c2f7567e40cedc27d3bb3e31);
        
    
            var marker_b1f22bb1b7f3cfbf77c7f3afffeb1560 = L.marker(
                [35.407154488114315, -78.7412801744731],
                {}
            ).addTo(map_d37c4011c2f7567e40cedc27d3bb3e31);
        
    
            var icon_ada972a2840369687d6e576c645a4a7c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b1f22bb1b7f3cfbf77c7f3afffeb1560.setIcon(icon_ada972a2840369687d6e576c645a4a7c);
        
    
        var popup_e0cbcb49eb4609156deb7ee531c1c76f = L.popup({"maxWidth": "100%"});

        
            var html_4719cf7ccbca673df5404405800818b2 = $(`<div id="html_4719cf7ccbca673df5404405800818b2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e0cbcb49eb4609156deb7ee531c1c76f.setContent(html_4719cf7ccbca673df5404405800818b2);
        

        marker_b1f22bb1b7f3cfbf77c7f3afffeb1560.bindPopup(popup_e0cbcb49eb4609156deb7ee531c1c76f)
        ;

        
    
    
            marker_b1f22bb1b7f3cfbf77c7f3afffeb1560.bindTooltip(
                `<div>
                     HENRY & ETTA STOKES DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca27a20c660a325728817dbaa9129861 = L.marker(
                [35.41135364141734, -78.72633009573313],
                {}
            ).addTo(map_d37c4011c2f7567e40cedc27d3bb3e31);
        
    
            var icon_00256143b0a0fa9766b57ec759e8d6ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ca27a20c660a325728817dbaa9129861.setIcon(icon_00256143b0a0fa9766b57ec759e8d6ef);
        
    
        var popup_79dffc03c5666e2e5edcf706b46dc661 = L.popup({"maxWidth": "100%"});

        
            var html_9a6f5247ead71611b70da5b4c7b4b4e3 = $(`<div id="html_9a6f5247ead71611b70da5b4c7b4b4e3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_79dffc03c5666e2e5edcf706b46dc661.setContent(html_9a6f5247ead71611b70da5b4c7b4b4e3);
        

        marker_ca27a20c660a325728817dbaa9129861.bindPopup(popup_79dffc03c5666e2e5edcf706b46dc661)
        ;

        
    
    
            marker_ca27a20c660a325728817dbaa9129861.bindTooltip(
                `<div>
                     KIDSZONE ACADEMY, INC.
                 </div>`,
                {"sticky": true}
            );
        
</script>