<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1c9b693d9e769e42568f4a190cb94567 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1c9b693d9e769e42568f4a190cb94567" ></div>
        
</body>
<script>    
    
            var map_1c9b693d9e769e42568f4a190cb94567 = L.map(
                "map_1c9b693d9e769e42568f4a190cb94567",
                {
                    center: [36.104701404915815, -79.43495330469833],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_07ba969b7d455f1fc25ca6543186b52d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var marker_99247167bde42366b22f5288073a2a02 = L.marker(
                [36.104701404915815, -79.43495330469833],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_886bdf6a3facd9e31303899c075d4b0a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_99247167bde42366b22f5288073a2a02.setIcon(icon_886bdf6a3facd9e31303899c075d4b0a);
        
    
        var popup_bfb7f514601fcf8a4ccbb2d6ccf12064 = L.popup({"maxWidth": "100%"});

        
            var html_790cc452df38a6539e30b3c746e1c731 = $(`<div id="html_790cc452df38a6539e30b3c746e1c731" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_bfb7f514601fcf8a4ccbb2d6ccf12064.setContent(html_790cc452df38a6539e30b3c746e1c731);
        

        marker_99247167bde42366b22f5288073a2a02.bindPopup(popup_bfb7f514601fcf8a4ccbb2d6ccf12064)
        ;

        
    
    
            marker_99247167bde42366b22f5288073a2a02.bindTooltip(
                `<div>
                     A MOTHER'S TOUCH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_be7d45fad9fa6c9bc04b41453218ceff = L.marker(
                [36.104701404915815, -79.43495330469833],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_420898b861567f5d0a87fed779eb582e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_be7d45fad9fa6c9bc04b41453218ceff.setIcon(icon_420898b861567f5d0a87fed779eb582e);
        
    
        var popup_4ab5419955387e2da07e0b898946c981 = L.popup({"maxWidth": "100%"});

        
            var html_77799ec64c6a874e7bfc326e968c2855 = $(`<div id="html_77799ec64c6a874e7bfc326e968c2855" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_4ab5419955387e2da07e0b898946c981.setContent(html_77799ec64c6a874e7bfc326e968c2855);
        

        marker_be7d45fad9fa6c9bc04b41453218ceff.bindPopup(popup_4ab5419955387e2da07e0b898946c981)
        ;

        
    
    
            marker_be7d45fad9fa6c9bc04b41453218ceff.bindTooltip(
                `<div>
                     A MOTHER'S TOUCH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d1aafe52ecb8ce4326a8a8826245b589 = L.marker(
                [36.104701404915815, -79.43495330469833],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_81a4de69046459ad5a5f4ca60e941afe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_d1aafe52ecb8ce4326a8a8826245b589.setIcon(icon_81a4de69046459ad5a5f4ca60e941afe);
        
    
        var popup_90d138b58f08dc28600cef43e29f1d7e = L.popup({"maxWidth": "100%"});

        
            var html_4c6e75327a8ab0961bfa10ee41ab6fcc = $(`<div id="html_4c6e75327a8ab0961bfa10ee41ab6fcc" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_90d138b58f08dc28600cef43e29f1d7e.setContent(html_4c6e75327a8ab0961bfa10ee41ab6fcc);
        

        marker_d1aafe52ecb8ce4326a8a8826245b589.bindPopup(popup_90d138b58f08dc28600cef43e29f1d7e)
        ;

        
    
    
            marker_d1aafe52ecb8ce4326a8a8826245b589.bindTooltip(
                `<div>
                     A MOTHER'S TOUCH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a970210d4ef8a34fa8ada3641edcaf8 = L.marker(
                [36.104701404915815, -79.43495330469833],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_d187a75fbaa381cfb8b82302daec57a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_5a970210d4ef8a34fa8ada3641edcaf8.setIcon(icon_d187a75fbaa381cfb8b82302daec57a7);
        
    
        var popup_fdcc8b20a22b1550935557b8cf5295d4 = L.popup({"maxWidth": "100%"});

        
            var html_d6ccd65869a861ab8ef464b2205fadea = $(`<div id="html_d6ccd65869a861ab8ef464b2205fadea" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_fdcc8b20a22b1550935557b8cf5295d4.setContent(html_d6ccd65869a861ab8ef464b2205fadea);
        

        marker_5a970210d4ef8a34fa8ada3641edcaf8.bindPopup(popup_fdcc8b20a22b1550935557b8cf5295d4)
        ;

        
    
    
            marker_5a970210d4ef8a34fa8ada3641edcaf8.bindTooltip(
                `<div>
                     A MOTHER'S TOUCH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f1cb312ec8df29be04b7e07d99ab1d6a = L.marker(
                [36.0945631, -79.3833444],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_6cfe9fb35865b41a93dc460e95c7978b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f1cb312ec8df29be04b7e07d99ab1d6a.setIcon(icon_6cfe9fb35865b41a93dc460e95c7978b);
        
    
        var popup_1f2799165a385b1128a992b61c917f4b = L.popup({"maxWidth": "100%"});

        
            var html_310f577b2bc215a07b1d47fcf6160d9b = $(`<div id="html_310f577b2bc215a07b1d47fcf6160d9b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1f2799165a385b1128a992b61c917f4b.setContent(html_310f577b2bc215a07b1d47fcf6160d9b);
        

        marker_f1cb312ec8df29be04b7e07d99ab1d6a.bindPopup(popup_1f2799165a385b1128a992b61c917f4b)
        ;

        
    
    
            marker_f1cb312ec8df29be04b7e07d99ab1d6a.bindTooltip(
                `<div>
                     ANDREWS ELEMENTARY PREK
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_301acf8cd1c98984a0b689720482c917 = L.marker(
                [36.07448217864683, -79.44343636026045],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_92f4fbc4d0203a7aa918a43f04dccd7c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_301acf8cd1c98984a0b689720482c917.setIcon(icon_92f4fbc4d0203a7aa918a43f04dccd7c);
        
    
        var popup_cd28ff8bea4a69a28a6be9f4d765b8ce = L.popup({"maxWidth": "100%"});

        
            var html_2381438b40b6679986af3902d2a9c118 = $(`<div id="html_2381438b40b6679986af3902d2a9c118" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cd28ff8bea4a69a28a6be9f4d765b8ce.setContent(html_2381438b40b6679986af3902d2a9c118);
        

        marker_301acf8cd1c98984a0b689720482c917.bindPopup(popup_cd28ff8bea4a69a28a6be9f4d765b8ce)
        ;

        
    
    
            marker_301acf8cd1c98984a0b689720482c917.bindTooltip(
                `<div>
                     ANNIE'S BLESSED CHILDREN DAYCARE 2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e2a043d37cb063fe90b317ead6eb1d99 = L.marker(
                [36.06373993420248, -79.49810488850514],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_e25962603052bc8fd4bb44149729152c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e2a043d37cb063fe90b317ead6eb1d99.setIcon(icon_e25962603052bc8fd4bb44149729152c);
        
    
        var popup_0f4c6715120439f3002c0a64f7cfea19 = L.popup({"maxWidth": "100%"});

        
            var html_b2a9b510054cd0ee88a93b452adde491 = $(`<div id="html_b2a9b510054cd0ee88a93b452adde491" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0f4c6715120439f3002c0a64f7cfea19.setContent(html_b2a9b510054cd0ee88a93b452adde491);
        

        marker_e2a043d37cb063fe90b317ead6eb1d99.bindPopup(popup_0f4c6715120439f3002c0a64f7cfea19)
        ;

        
    
    
            marker_e2a043d37cb063fe90b317ead6eb1d99.bindTooltip(
                `<div>
                     ARMC FAMILY ENRICHMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d85282ada24fca035e9ed2881f7a0b4d = L.marker(
                [36.07340169632458, -79.51645363920821],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_269bf92311b932e060ae62339be12d63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_d85282ada24fca035e9ed2881f7a0b4d.setIcon(icon_269bf92311b932e060ae62339be12d63);
        
    
        var popup_e577c0d0a22e6dd34cabc7b005d4f6ad = L.popup({"maxWidth": "100%"});

        
            var html_0e165208a222d77ca928ec110fdd23a7 = $(`<div id="html_0e165208a222d77ca928ec110fdd23a7" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_e577c0d0a22e6dd34cabc7b005d4f6ad.setContent(html_0e165208a222d77ca928ec110fdd23a7);
        

        marker_d85282ada24fca035e9ed2881f7a0b4d.bindPopup(popup_e577c0d0a22e6dd34cabc7b005d4f6ad)
        ;

        
    
    
            marker_d85282ada24fca035e9ed2881f7a0b4d.bindTooltip(
                `<div>
                     BEVERLY'S HOME DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8ec7a3511d34f56b735f8983679ddd46 = L.marker(
                [36.076913578827664, -79.46065894862723],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_7505a3d7a18f8bf07eaa8b74c3554dc5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8ec7a3511d34f56b735f8983679ddd46.setIcon(icon_7505a3d7a18f8bf07eaa8b74c3554dc5);
        
    
        var popup_bcb48ab513d1fb552c1167bd15797d6e = L.popup({"maxWidth": "100%"});

        
            var html_d2deda87ac40ea066e9e98aa928a2854 = $(`<div id="html_d2deda87ac40ea066e9e98aa928a2854" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bcb48ab513d1fb552c1167bd15797d6e.setContent(html_d2deda87ac40ea066e9e98aa928a2854);
        

        marker_8ec7a3511d34f56b735f8983679ddd46.bindPopup(popup_bcb48ab513d1fb552c1167bd15797d6e)
        ;

        
    
    
            marker_8ec7a3511d34f56b735f8983679ddd46.bindTooltip(
                `<div>
                     BRIDGING OCEANS INTERNATIONAL DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4662be05048acadd6c0392520958cda7 = L.marker(
                [36.10392777956468, -79.42491719265215],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_6f9b366dbe8f9ed9d3e87decbda690c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4662be05048acadd6c0392520958cda7.setIcon(icon_6f9b366dbe8f9ed9d3e87decbda690c1);
        
    
        var popup_807c0cb96f3ab2b22b75623fb1006f89 = L.popup({"maxWidth": "100%"});

        
            var html_a2dca84eff5d709d15d7ba370595bc47 = $(`<div id="html_a2dca84eff5d709d15d7ba370595bc47" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_807c0cb96f3ab2b22b75623fb1006f89.setContent(html_a2dca84eff5d709d15d7ba370595bc47);
        

        marker_4662be05048acadd6c0392520958cda7.bindPopup(popup_807c0cb96f3ab2b22b75623fb1006f89)
        ;

        
    
    
            marker_4662be05048acadd6c0392520958cda7.bindTooltip(
                `<div>
                     BRIGHT STARZ LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7419acafd277a4df2d475935adf330aa = L.marker(
                [36.09578993877551, -79.4418531632653],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_e939556f7d3ce1cb375dc72fb4983a5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7419acafd277a4df2d475935adf330aa.setIcon(icon_e939556f7d3ce1cb375dc72fb4983a5e);
        
    
        var popup_c6de00677769c9b94b35dfc1196e7652 = L.popup({"maxWidth": "100%"});

        
            var html_0c4383805fea5040040e3b34e4ce645d = $(`<div id="html_0c4383805fea5040040e3b34e4ce645d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c6de00677769c9b94b35dfc1196e7652.setContent(html_0c4383805fea5040040e3b34e4ce645d);
        

        marker_7419acafd277a4df2d475935adf330aa.bindPopup(popup_c6de00677769c9b94b35dfc1196e7652)
        ;

        
    
    
            marker_7419acafd277a4df2d475935adf330aa.bindTooltip(
                `<div>
                     CHILD DEVELOPMENT CENTER FIRST PRESBYTERIAN CHURCH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_327d1eaff6e7db5bf5f693b18df7da18 = L.marker(
                [36.04282848336784, -79.48649292086625],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_782b0804be274c718707f17d883bfdb4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_327d1eaff6e7db5bf5f693b18df7da18.setIcon(icon_782b0804be274c718707f17d883bfdb4);
        
    
        var popup_5d561e88bbc591cdc287d0b5a86e1a24 = L.popup({"maxWidth": "100%"});

        
            var html_9c9a18b289eb661d3dd69f5adc7f57d3 = $(`<div id="html_9c9a18b289eb661d3dd69f5adc7f57d3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5d561e88bbc591cdc287d0b5a86e1a24.setContent(html_9c9a18b289eb661d3dd69f5adc7f57d3);
        

        marker_327d1eaff6e7db5bf5f693b18df7da18.bindPopup(popup_5d561e88bbc591cdc287d0b5a86e1a24)
        ;

        
    
    
            marker_327d1eaff6e7db5bf5f693b18df7da18.bindTooltip(
                `<div>
                     CHILDREN'S HOUSE MONTESSORI
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7da83724e62adbc5a08fabf80c3da431 = L.marker(
                [36.109526234846975, -79.41886636042987],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_1ca1177d8ac5813ac13de049110e6321 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7da83724e62adbc5a08fabf80c3da431.setIcon(icon_1ca1177d8ac5813ac13de049110e6321);
        
    
        var popup_c808393dffdace44830ebe58bc3bed53 = L.popup({"maxWidth": "100%"});

        
            var html_38e38cf5b2f603b671d94e8735baa190 = $(`<div id="html_38e38cf5b2f603b671d94e8735baa190" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c808393dffdace44830ebe58bc3bed53.setContent(html_38e38cf5b2f603b671d94e8735baa190);
        

        marker_7da83724e62adbc5a08fabf80c3da431.bindPopup(popup_c808393dffdace44830ebe58bc3bed53)
        ;

        
    
    
            marker_7da83724e62adbc5a08fabf80c3da431.bindTooltip(
                `<div>
                     CRUMP VILLAGE EDUCATION AND RESOURCE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9cf85f83479e57ed94a3cc826c2bd0fc = L.marker(
                [36.102594, -79.405896],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_41fc2c0914cbef60fbb9346671d6f5ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9cf85f83479e57ed94a3cc826c2bd0fc.setIcon(icon_41fc2c0914cbef60fbb9346671d6f5ab);
        
    
        var popup_7b8a8036563cf84eed9f129aef9cc602 = L.popup({"maxWidth": "100%"});

        
            var html_62a0656524333261950091bdf5a302df = $(`<div id="html_62a0656524333261950091bdf5a302df" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7b8a8036563cf84eed9f129aef9cc602.setContent(html_62a0656524333261950091bdf5a302df);
        

        marker_9cf85f83479e57ed94a3cc826c2bd0fc.bindPopup(popup_7b8a8036563cf84eed9f129aef9cc602)
        ;

        
    
    
            marker_9cf85f83479e57ed94a3cc826c2bd0fc.bindTooltip(
                `<div>
                     EASTLAWN ELEMENTARY PREK
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fa69f830941c873cfbad2da1fa317b86 = L.marker(
                [36.10544369060437, -79.4270880634288],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_4649630ca2eead5ab5084c8dbb87d4db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fa69f830941c873cfbad2da1fa317b86.setIcon(icon_4649630ca2eead5ab5084c8dbb87d4db);
        
    
        var popup_aa1116df9b38a4d6abce9f415703d718 = L.popup({"maxWidth": "100%"});

        
            var html_6719a963e3ca9f85633b5758794e80f6 = $(`<div id="html_6719a963e3ca9f85633b5758794e80f6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aa1116df9b38a4d6abce9f415703d718.setContent(html_6719a963e3ca9f85633b5758794e80f6);
        

        marker_fa69f830941c873cfbad2da1fa317b86.bindPopup(popup_aa1116df9b38a4d6abce9f415703d718)
        ;

        
    
    
            marker_fa69f830941c873cfbad2da1fa317b86.bindTooltip(
                `<div>
                     EXCEL CHRISTIAN ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c047962bddae0264613ab7314a4098bb = L.marker(
                [36.090362, -79.434752],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_368a10baf52ef4487df7dca988f6a1a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c047962bddae0264613ab7314a4098bb.setIcon(icon_368a10baf52ef4487df7dca988f6a1a1);
        
    
        var popup_df45e2f9c4c29c6c3b0ca9b9ea84ef70 = L.popup({"maxWidth": "100%"});

        
            var html_863db3b7eb3ff84ee26fd29e2512c7cb = $(`<div id="html_863db3b7eb3ff84ee26fd29e2512c7cb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_df45e2f9c4c29c6c3b0ca9b9ea84ef70.setContent(html_863db3b7eb3ff84ee26fd29e2512c7cb);
        

        marker_c047962bddae0264613ab7314a4098bb.bindPopup(popup_df45e2f9c4c29c6c3b0ca9b9ea84ef70)
        ;

        
    
    
            marker_c047962bddae0264613ab7314a4098bb.bindTooltip(
                `<div>
                     FIRST BAPTIST CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44c0768ec7da6ad8713a08cfa2a9f1fc = L.marker(
                [36.07998775, -79.46070153294968],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_bd3cd0fa229a2bb3b8f65a97edecd7f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_44c0768ec7da6ad8713a08cfa2a9f1fc.setIcon(icon_bd3cd0fa229a2bb3b8f65a97edecd7f6);
        
    
        var popup_fa089ab1cda46b02b33c0b2661b0f627 = L.popup({"maxWidth": "100%"});

        
            var html_6deb698e531cfe419dcfe6d8ffb7a4fe = $(`<div id="html_6deb698e531cfe419dcfe6d8ffb7a4fe" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fa089ab1cda46b02b33c0b2661b0f627.setContent(html_6deb698e531cfe419dcfe6d8ffb7a4fe);
        

        marker_44c0768ec7da6ad8713a08cfa2a9f1fc.bindPopup(popup_fa089ab1cda46b02b33c0b2661b0f627)
        ;

        
    
    
            marker_44c0768ec7da6ad8713a08cfa2a9f1fc.bindTooltip(
                `<div>
                     GROVE PARK ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7ea554e330cafef301114d0ed86b860a = L.marker(
                [36.07307005, -79.42081045530284],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_352110b1daf151b6b45f5ba08399eff6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7ea554e330cafef301114d0ed86b860a.setIcon(icon_352110b1daf151b6b45f5ba08399eff6);
        
    
        var popup_0505728642c565c852d725d59e92c90f = L.popup({"maxWidth": "100%"});

        
            var html_5562dd9aeb173d6b88a63bf1054dcb07 = $(`<div id="html_5562dd9aeb173d6b88a63bf1054dcb07" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0505728642c565c852d725d59e92c90f.setContent(html_5562dd9aeb173d6b88a63bf1054dcb07);
        

        marker_7ea554e330cafef301114d0ed86b860a.bindPopup(popup_0505728642c565c852d725d59e92c90f)
        ;

        
    
    
            marker_7ea554e330cafef301114d0ed86b860a.bindTooltip(
                `<div>
                     HARVEY NEWLIN ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_866743c9f8f70bb69278177cd2172951 = L.marker(
                [36.075635203245255, -79.46532753128015],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_a3025bc4b3e2f3573be69035354ae847 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_866743c9f8f70bb69278177cd2172951.setIcon(icon_a3025bc4b3e2f3573be69035354ae847);
        
    
        var popup_79bcdc74a07388c999b275166e1aa36f = L.popup({"maxWidth": "100%"});

        
            var html_94fd8fad3447b6d4c01794fa6ac1192e = $(`<div id="html_94fd8fad3447b6d4c01794fa6ac1192e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_79bcdc74a07388c999b275166e1aa36f.setContent(html_94fd8fad3447b6d4c01794fa6ac1192e);
        

        marker_866743c9f8f70bb69278177cd2172951.bindPopup(popup_79bcdc74a07388c999b275166e1aa36f)
        ;

        
    
    
            marker_866743c9f8f70bb69278177cd2172951.bindTooltip(
                `<div>
                     HEAD START JUNCTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_020c24b382ba6d37c65128e573f8a169 = L.marker(
                [36.10409096057335, -79.46268763083812],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_d5cb8282f9d9535892051d9f9320af06 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_020c24b382ba6d37c65128e573f8a169.setIcon(icon_d5cb8282f9d9535892051d9f9320af06);
        
    
        var popup_a2289b93cc8ba323f2fbb009de51d4f1 = L.popup({"maxWidth": "100%"});

        
            var html_8182da3faac10e1c760a392c2c069fcd = $(`<div id="html_8182da3faac10e1c760a392c2c069fcd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a2289b93cc8ba323f2fbb009de51d4f1.setContent(html_8182da3faac10e1c760a392c2c069fcd);
        

        marker_020c24b382ba6d37c65128e573f8a169.bindPopup(popup_a2289b93cc8ba323f2fbb009de51d4f1)
        ;

        
    
    
            marker_020c24b382ba6d37c65128e573f8a169.bindTooltip(
                `<div>
                     HILLCREST ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce1751e5aff4bfa734d89d16a7905e63 = L.marker(
                [36.10660403049769, -79.43031067828814],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_c5f512b5e7aa035ac76102fce1e994a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ce1751e5aff4bfa734d89d16a7905e63.setIcon(icon_c5f512b5e7aa035ac76102fce1e994a9);
        
    
        var popup_ef077c9980bb7b42def73a95928fc801 = L.popup({"maxWidth": "100%"});

        
            var html_4701c63618c1a9a7653e980f3b89507b = $(`<div id="html_4701c63618c1a9a7653e980f3b89507b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ef077c9980bb7b42def73a95928fc801.setContent(html_4701c63618c1a9a7653e980f3b89507b);
        

        marker_ce1751e5aff4bfa734d89d16a7905e63.bindPopup(popup_ef077c9980bb7b42def73a95928fc801)
        ;

        
    
    
            marker_ce1751e5aff4bfa734d89d16a7905e63.bindTooltip(
                `<div>
                     JANICE S SCARBOROUGH HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2022a00d46aa81536b0fbe53b2009cb2 = L.marker(
                [36.09037200186402, -79.48043049161191],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_921afa7f1a5a9e1fbe5c8d1cfc800c10 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2022a00d46aa81536b0fbe53b2009cb2.setIcon(icon_921afa7f1a5a9e1fbe5c8d1cfc800c10);
        
    
        var popup_80dd88680d2531d18504188d95f726cb = L.popup({"maxWidth": "100%"});

        
            var html_2f25ff070dfb200b0a0516f3f59924b0 = $(`<div id="html_2f25ff070dfb200b0a0516f3f59924b0" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_80dd88680d2531d18504188d95f726cb.setContent(html_2f25ff070dfb200b0a0516f3f59924b0);
        

        marker_2022a00d46aa81536b0fbe53b2009cb2.bindPopup(popup_80dd88680d2531d18504188d95f726cb)
        ;

        
    
    
            marker_2022a00d46aa81536b0fbe53b2009cb2.bindTooltip(
                `<div>
                     JEANETTE BEAUDET DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3d1d72d2b389d7540da28ed441b3dc64 = L.marker(
                [36.07596599511231, -79.41569004489719],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_44cdaaaaa82eca8799997a94ab9ea31e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3d1d72d2b389d7540da28ed441b3dc64.setIcon(icon_44cdaaaaa82eca8799997a94ab9ea31e);
        
    
        var popup_ef0ffa046b2b351dcfa6f20cecdeda86 = L.popup({"maxWidth": "100%"});

        
            var html_85f58f9d5d0d3fd0448ea130fc6bbd08 = $(`<div id="html_85f58f9d5d0d3fd0448ea130fc6bbd08" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ef0ffa046b2b351dcfa6f20cecdeda86.setContent(html_85f58f9d5d0d3fd0448ea130fc6bbd08);
        

        marker_3d1d72d2b389d7540da28ed441b3dc64.bindPopup(popup_ef0ffa046b2b351dcfa6f20cecdeda86)
        ;

        
    
    
            marker_3d1d72d2b389d7540da28ed441b3dc64.bindTooltip(
                `<div>
                     KOOL KIDZ PLACE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a8dc513fe03387de0dfa2a21273e7323 = L.marker(
                [36.07953513665132, -79.43380418668148],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_88e42276d7bae8309b1ad3d2a06d868c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a8dc513fe03387de0dfa2a21273e7323.setIcon(icon_88e42276d7bae8309b1ad3d2a06d868c);
        
    
        var popup_9be247868d4acbf9413e2b60a74db1ad = L.popup({"maxWidth": "100%"});

        
            var html_b92b15852dd4d54e956518fff433ff49 = $(`<div id="html_b92b15852dd4d54e956518fff433ff49" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9be247868d4acbf9413e2b60a74db1ad.setContent(html_b92b15852dd4d54e956518fff433ff49);
        

        marker_a8dc513fe03387de0dfa2a21273e7323.bindPopup(popup_9be247868d4acbf9413e2b60a74db1ad)
        ;

        
    
    
            marker_a8dc513fe03387de0dfa2a21273e7323.bindTooltip(
                `<div>
                     LIFESPAN CIRCLE SCHOOL BURLINGTON
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ad17b64ff46de325d54b4b646236dda0 = L.marker(
                [36.06654323793824, -79.43134391090284],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_4d1609eda10aebb1a7ba589737a5c164 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ad17b64ff46de325d54b4b646236dda0.setIcon(icon_4d1609eda10aebb1a7ba589737a5c164);
        
    
        var popup_a51f78c5ce3b0b1b38340f0534435b17 = L.popup({"maxWidth": "100%"});

        
            var html_0cdd48f3f76e99ade8f781711cd327ca = $(`<div id="html_0cdd48f3f76e99ade8f781711cd327ca" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a51f78c5ce3b0b1b38340f0534435b17.setContent(html_0cdd48f3f76e99ade8f781711cd327ca);
        

        marker_ad17b64ff46de325d54b4b646236dda0.bindPopup(popup_a51f78c5ce3b0b1b38340f0534435b17)
        ;

        
    
    
            marker_ad17b64ff46de325d54b4b646236dda0.bindTooltip(
                `<div>
                     LIKE MY OWN #3
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_88b8c84de890f525e6f8f7b525ee568f = L.marker(
                [36.06932554031496, -79.43346925188513],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_11fb689565a38adedf8ac8ed8d15512f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_88b8c84de890f525e6f8f7b525ee568f.setIcon(icon_11fb689565a38adedf8ac8ed8d15512f);
        
    
        var popup_a2a4da62633757f566699658ef2ea2d6 = L.popup({"maxWidth": "100%"});

        
            var html_26bf73ef07c0a6dccd00541ce17da930 = $(`<div id="html_26bf73ef07c0a6dccd00541ce17da930" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a2a4da62633757f566699658ef2ea2d6.setContent(html_26bf73ef07c0a6dccd00541ce17da930);
        

        marker_88b8c84de890f525e6f8f7b525ee568f.bindPopup(popup_a2a4da62633757f566699658ef2ea2d6)
        ;

        
    
    
            marker_88b8c84de890f525e6f8f7b525ee568f.bindTooltip(
                `<div>
                     LIKE MY OWN DAY CARE #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3c09874d26c2f2c42a24cfa96197f291 = L.marker(
                [36.10283352009096, -79.40561276420398],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_85a311db06dbf1a398bb8efa3582d9aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3c09874d26c2f2c42a24cfa96197f291.setIcon(icon_85a311db06dbf1a398bb8efa3582d9aa);
        
    
        var popup_f0dc64c96c70b716112f8b2f76fd9fa2 = L.popup({"maxWidth": "100%"});

        
            var html_c3158e4b9262af84d7bd9c0d72587f37 = $(`<div id="html_c3158e4b9262af84d7bd9c0d72587f37" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f0dc64c96c70b716112f8b2f76fd9fa2.setContent(html_c3158e4b9262af84d7bd9c0d72587f37);
        

        marker_3c09874d26c2f2c42a24cfa96197f291.bindPopup(popup_f0dc64c96c70b716112f8b2f76fd9fa2)
        ;

        
    
    
            marker_3c09874d26c2f2c42a24cfa96197f291.bindTooltip(
                `<div>
                     LITTLE DELIGHTS EDUCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3c54a4a940d1f29cb11dc4f7e80c02ef = L.marker(
                [36.067243, -79.45667],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_5426f7e20563bdd4071b9f3e91a88a21 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3c54a4a940d1f29cb11dc4f7e80c02ef.setIcon(icon_5426f7e20563bdd4071b9f3e91a88a21);
        
    
        var popup_d2e2011f05587883cd0d310e6b1f7999 = L.popup({"maxWidth": "100%"});

        
            var html_11d6601763de8d0c137a922dabfebbcf = $(`<div id="html_11d6601763de8d0c137a922dabfebbcf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d2e2011f05587883cd0d310e6b1f7999.setContent(html_11d6601763de8d0c137a922dabfebbcf);
        

        marker_3c54a4a940d1f29cb11dc4f7e80c02ef.bindPopup(popup_d2e2011f05587883cd0d310e6b1f7999)
        ;

        
    
    
            marker_3c54a4a940d1f29cb11dc4f7e80c02ef.bindTooltip(
                `<div>
                     LITTLE THINKERS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d4014ef5a352cb1208eb3612373c7a6e = L.marker(
                [36.08894862626263, -79.41438515151515],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_18eefe77a6f6e93383e74741b86748d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_d4014ef5a352cb1208eb3612373c7a6e.setIcon(icon_18eefe77a6f6e93383e74741b86748d1);
        
    
        var popup_7733fd90d8f7afaf0667477448c66dd2 = L.popup({"maxWidth": "100%"});

        
            var html_5b4e36baafdb654451ec3e5c8df0432c = $(`<div id="html_5b4e36baafdb654451ec3e5c8df0432c" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_7733fd90d8f7afaf0667477448c66dd2.setContent(html_5b4e36baafdb654451ec3e5c8df0432c);
        

        marker_d4014ef5a352cb1208eb3612373c7a6e.bindPopup(popup_7733fd90d8f7afaf0667477448c66dd2)
        ;

        
    
    
            marker_d4014ef5a352cb1208eb3612373c7a6e.bindTooltip(
                `<div>
                     LOVING MEMORIES DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_15510314b3b7a1a8e714bb018779a9f1 = L.marker(
                [36.09933767061225, -79.3958971327623],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_d7dc3789433d3f88843e6b3490bbeeef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_15510314b3b7a1a8e714bb018779a9f1.setIcon(icon_d7dc3789433d3f88843e6b3490bbeeef);
        
    
        var popup_dda3789cbb9f3121d6b9c7865055782e = L.popup({"maxWidth": "100%"});

        
            var html_88d1d2c8da9bb3e5690bf09288da37bf = $(`<div id="html_88d1d2c8da9bb3e5690bf09288da37bf" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_dda3789cbb9f3121d6b9c7865055782e.setContent(html_88d1d2c8da9bb3e5690bf09288da37bf);
        

        marker_15510314b3b7a1a8e714bb018779a9f1.bindPopup(popup_dda3789cbb9f3121d6b9c7865055782e)
        ;

        
    
    
            marker_15510314b3b7a1a8e714bb018779a9f1.bindTooltip(
                `<div>
                     MICKEY/MINNIE DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ae3c0fe60c404514603a11b54cf737d1 = L.marker(
                [36.1106, -79.416016],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_60185a9806b37dce059badcabc097dec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ae3c0fe60c404514603a11b54cf737d1.setIcon(icon_60185a9806b37dce059badcabc097dec);
        
    
        var popup_7ece0a8d622671354695faea78c17fb3 = L.popup({"maxWidth": "100%"});

        
            var html_3c3b75c8639bbd945463f18ccd937788 = $(`<div id="html_3c3b75c8639bbd945463f18ccd937788" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7ece0a8d622671354695faea78c17fb3.setContent(html_3c3b75c8639bbd945463f18ccd937788);
        

        marker_ae3c0fe60c404514603a11b54cf737d1.bindPopup(popup_7ece0a8d622671354695faea78c17fb3)
        ;

        
    
    
            marker_ae3c0fe60c404514603a11b54cf737d1.bindTooltip(
                `<div>
                     NEW COVENANT DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0debffa05850282468bfa7a464cb8187 = L.marker(
                [36.097938064082186, -79.40588709389807],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_538584638cc8a1a569a34947cecf4c08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0debffa05850282468bfa7a464cb8187.setIcon(icon_538584638cc8a1a569a34947cecf4c08);
        
    
        var popup_17c19cad64c8b137a881fb7a6588017c = L.popup({"maxWidth": "100%"});

        
            var html_34be43a452c20eff8508b547be36471d = $(`<div id="html_34be43a452c20eff8508b547be36471d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_17c19cad64c8b137a881fb7a6588017c.setContent(html_34be43a452c20eff8508b547be36471d);
        

        marker_0debffa05850282468bfa7a464cb8187.bindPopup(popup_17c19cad64c8b137a881fb7a6588017c)
        ;

        
    
    
            marker_0debffa05850282468bfa7a464cb8187.bindTooltip(
                `<div>
                     POSITIVE DAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_50c677d80129eae43272b19ae462cbcc = L.marker(
                [36.09353873896132, -79.39876480649947],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_6f0b102621508f91d32bd77945ef9f77 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_50c677d80129eae43272b19ae462cbcc.setIcon(icon_6f0b102621508f91d32bd77945ef9f77);
        
    
        var popup_33cdf78169a73878d67c42294639051e = L.popup({"maxWidth": "100%"});

        
            var html_5d2b53328a417f6e81f5fff26ba98e4a = $(`<div id="html_5d2b53328a417f6e81f5fff26ba98e4a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_33cdf78169a73878d67c42294639051e.setContent(html_5d2b53328a417f6e81f5fff26ba98e4a);
        

        marker_50c677d80129eae43272b19ae462cbcc.bindPopup(popup_33cdf78169a73878d67c42294639051e)
        ;

        
    
    
            marker_50c677d80129eae43272b19ae462cbcc.bindTooltip(
                `<div>
                     PRECIOUS GIFT
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f6a9b107381db9ceffcdbe997ffac21 = L.marker(
                [36.10092646738633, -79.44450811990406],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_1b3e3fc232f14ca49351651ac3f6fd7c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_5f6a9b107381db9ceffcdbe997ffac21.setIcon(icon_1b3e3fc232f14ca49351651ac3f6fd7c);
        
    
        var popup_720390c4631f3415e3a84f42e722a8f2 = L.popup({"maxWidth": "100%"});

        
            var html_440d731a755718e38a7e1b9e78e59bf3 = $(`<div id="html_440d731a755718e38a7e1b9e78e59bf3" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_720390c4631f3415e3a84f42e722a8f2.setContent(html_440d731a755718e38a7e1b9e78e59bf3);
        

        marker_5f6a9b107381db9ceffcdbe997ffac21.bindPopup(popup_720390c4631f3415e3a84f42e722a8f2)
        ;

        
    
    
            marker_5f6a9b107381db9ceffcdbe997ffac21.bindTooltip(
                `<div>
                     PRECIOUS LIL TOTS DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4d081d612e8eb3df885bd23d40150175 = L.marker(
                [36.06479563342697, -79.47361739621682],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_71e6df982db2d3ed73ae4043b11d537a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4d081d612e8eb3df885bd23d40150175.setIcon(icon_71e6df982db2d3ed73ae4043b11d537a);
        
    
        var popup_4f3f45f002ca250b8f3f8fbcedd0efe5 = L.popup({"maxWidth": "100%"});

        
            var html_4f401dcb7dc97dcc5553f0bccd171394 = $(`<div id="html_4f401dcb7dc97dcc5553f0bccd171394" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4f3f45f002ca250b8f3f8fbcedd0efe5.setContent(html_4f401dcb7dc97dcc5553f0bccd171394);
        

        marker_4d081d612e8eb3df885bd23d40150175.bindPopup(popup_4f3f45f002ca250b8f3f8fbcedd0efe5)
        ;

        
    
    
            marker_4d081d612e8eb3df885bd23d40150175.bindTooltip(
                `<div>
                     PROVIDENCE: A CHRISTIAN MONTESSORI COMMUNITY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b3106e06558cb5e106ddb2a9ed9ee5ab = L.marker(
                [36.10744932821663, -79.41008290962402],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_cfef2ecd0eef9449ccf5a9b398b4d2fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_b3106e06558cb5e106ddb2a9ed9ee5ab.setIcon(icon_cfef2ecd0eef9449ccf5a9b398b4d2fe);
        
    
        var popup_b67344ebd32610df95bbce5307e0513c = L.popup({"maxWidth": "100%"});

        
            var html_da5a260d8478ce3808eb3993ca7566d7 = $(`<div id="html_da5a260d8478ce3808eb3993ca7566d7" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_b67344ebd32610df95bbce5307e0513c.setContent(html_da5a260d8478ce3808eb3993ca7566d7);
        

        marker_b3106e06558cb5e106ddb2a9ed9ee5ab.bindPopup(popup_b67344ebd32610df95bbce5307e0513c)
        ;

        
    
    
            marker_b3106e06558cb5e106ddb2a9ed9ee5ab.bindTooltip(
                `<div>
                     SHELBY'S IN HOME DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b234f36ec07ede68985f4114f5403756 = L.marker(
                [36.047645387755104, -79.45892130612245],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_86fa346a0f9437c5000ca6f0332be1fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b234f36ec07ede68985f4114f5403756.setIcon(icon_86fa346a0f9437c5000ca6f0332be1fe);
        
    
        var popup_28f86ca9c30ce6b0d6cce8c9c56d4c57 = L.popup({"maxWidth": "100%"});

        
            var html_72841868f8eb9cde5ba4ef361a0c0095 = $(`<div id="html_72841868f8eb9cde5ba4ef361a0c0095" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_28f86ca9c30ce6b0d6cce8c9c56d4c57.setContent(html_72841868f8eb9cde5ba4ef361a0c0095);
        

        marker_b234f36ec07ede68985f4114f5403756.bindPopup(popup_28f86ca9c30ce6b0d6cce8c9c56d4c57)
        ;

        
    
    
            marker_b234f36ec07ede68985f4114f5403756.bindTooltip(
                `<div>
                     TEMPLE CHRISTIAN PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fdcc4d899fa9f4a90300f5db4c2770ff = L.marker(
                [36.060038153029154, -79.52315100294815],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_51aed411edbdb9323639a922d67d8c0e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fdcc4d899fa9f4a90300f5db4c2770ff.setIcon(icon_51aed411edbdb9323639a922d67d8c0e);
        
    
        var popup_cdb9e10ba9e7f399abe817b9a9e78f90 = L.popup({"maxWidth": "100%"});

        
            var html_29c2d34fe5baccb387421fab37f99db4 = $(`<div id="html_29c2d34fe5baccb387421fab37f99db4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cdb9e10ba9e7f399abe817b9a9e78f90.setContent(html_29c2d34fe5baccb387421fab37f99db4);
        

        marker_fdcc4d899fa9f4a90300f5db4c2770ff.bindPopup(popup_cdb9e10ba9e7f399abe817b9a9e78f90)
        ;

        
    
    
            marker_fdcc4d899fa9f4a90300f5db4c2770ff.bindTooltip(
                `<div>
                     THE GROWING YEARS LEARNING CENTER- BURLINGTON
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d339d2d9d4726cf6afed9535b9bb8292 = L.marker(
                [36.07021701327183, -79.48320995617652],
                {}
            ).addTo(map_1c9b693d9e769e42568f4a190cb94567);
        
    
            var icon_d1e5a6953b456bde7fae811de6e017ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_d339d2d9d4726cf6afed9535b9bb8292.setIcon(icon_d1e5a6953b456bde7fae811de6e017ea);
        
    
        var popup_a251408e584c15c3b8eb6a9fa2dff877 = L.popup({"maxWidth": "100%"});

        
            var html_4af73526cd26e97336c2efb49a7ce6da = $(`<div id="html_4af73526cd26e97336c2efb49a7ce6da" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_a251408e584c15c3b8eb6a9fa2dff877.setContent(html_4af73526cd26e97336c2efb49a7ce6da);
        

        marker_d339d2d9d4726cf6afed9535b9bb8292.bindPopup(popup_a251408e584c15c3b8eb6a9fa2dff877)
        ;

        
    
    
            marker_d339d2d9d4726cf6afed9535b9bb8292.bindTooltip(
                `<div>
                     TRISH'S LITTLE ANGELS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
</script>