<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f132f8ac078cb724b67b28f8b4f81877 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f132f8ac078cb724b67b28f8b4f81877" ></div>
        
</body>
<script>    
    
            var map_f132f8ac078cb724b67b28f8b4f81877 = L.map(
                "map_f132f8ac078cb724b67b28f8b4f81877",
                {
                    center: [36.135864622856985, -78.75901226160609],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cb4ed8a7add397c77a51ddff4d358373 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f132f8ac078cb724b67b28f8b4f81877);
        
    
            var marker_dac0ce7064df9921a6ed3892c0473c2f = L.marker(
                [36.135864622856985, -78.75901226160609],
                {}
            ).addTo(map_f132f8ac078cb724b67b28f8b4f81877);
        
    
            var icon_53afda2d6ccebd3d9216274a53534f52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dac0ce7064df9921a6ed3892c0473c2f.setIcon(icon_53afda2d6ccebd3d9216274a53534f52);
        
    
        var popup_b681d16cafc23c784ee07bd6bcb766ca = L.popup({"maxWidth": "100%"});

        
            var html_1b0d92052169c03b344c3503181026af = $(`<div id="html_1b0d92052169c03b344c3503181026af" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b681d16cafc23c784ee07bd6bcb766ca.setContent(html_1b0d92052169c03b344c3503181026af);
        

        marker_dac0ce7064df9921a6ed3892c0473c2f.bindPopup(popup_b681d16cafc23c784ee07bd6bcb766ca)
        ;

        
    
    
            marker_dac0ce7064df9921a6ed3892c0473c2f.bindTooltip(
                `<div>
                     BUTNER-STEM ELEMENTARY PRE-K PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_84baa207cd4be09880e515d440aa6de9 = L.marker(
                [36.135864622856985, -78.75901226160609],
                {}
            ).addTo(map_f132f8ac078cb724b67b28f8b4f81877);
        
    
            var icon_9acbd71d819aec1833484348f782c674 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_84baa207cd4be09880e515d440aa6de9.setIcon(icon_9acbd71d819aec1833484348f782c674);
        
    
        var popup_bd14da95ed97510a63bca9c8107ebdc3 = L.popup({"maxWidth": "100%"});

        
            var html_2ee1d29cd2afad7ef1620e9340eb0de2 = $(`<div id="html_2ee1d29cd2afad7ef1620e9340eb0de2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bd14da95ed97510a63bca9c8107ebdc3.setContent(html_2ee1d29cd2afad7ef1620e9340eb0de2);
        

        marker_84baa207cd4be09880e515d440aa6de9.bindPopup(popup_bd14da95ed97510a63bca9c8107ebdc3)
        ;

        
    
    
            marker_84baa207cd4be09880e515d440aa6de9.bindTooltip(
                `<div>
                     BUTNER-STEM'S BEFORE AND AFTER SCHOOL PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b5cf541ec93e038d44eca95047578d09 = L.marker(
                [36.13155208311489, -78.76057690062058],
                {}
            ).addTo(map_f132f8ac078cb724b67b28f8b4f81877);
        
    
            var icon_95986a419994eb84ae30031727c1186d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b5cf541ec93e038d44eca95047578d09.setIcon(icon_95986a419994eb84ae30031727c1186d);
        
    
        var popup_e2a67b4bd8c9afdaca00eb402cc83830 = L.popup({"maxWidth": "100%"});

        
            var html_eee848b53ffe8644a4966f0ce9a60f19 = $(`<div id="html_eee848b53ffe8644a4966f0ce9a60f19" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e2a67b4bd8c9afdaca00eb402cc83830.setContent(html_eee848b53ffe8644a4966f0ce9a60f19);
        

        marker_b5cf541ec93e038d44eca95047578d09.bindPopup(popup_e2a67b4bd8c9afdaca00eb402cc83830)
        ;

        
    
    
            marker_b5cf541ec93e038d44eca95047578d09.bindTooltip(
                `<div>
                     KIDDIE KLUBHOUSE 2.0
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_97bd58760a79987af16a00e52b66d9f7 = L.marker(
                [36.136724, -78.765764],
                {}
            ).addTo(map_f132f8ac078cb724b67b28f8b4f81877);
        
    
            var icon_f05243107847051b2a62856db168fd6e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_97bd58760a79987af16a00e52b66d9f7.setIcon(icon_f05243107847051b2a62856db168fd6e);
        
    
        var popup_6dd50348add299b102c1bde5e03f8e1e = L.popup({"maxWidth": "100%"});

        
            var html_166dd6115ed4a095b4cd1e62b32aef97 = $(`<div id="html_166dd6115ed4a095b4cd1e62b32aef97" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_6dd50348add299b102c1bde5e03f8e1e.setContent(html_166dd6115ed4a095b4cd1e62b32aef97);
        

        marker_97bd58760a79987af16a00e52b66d9f7.bindPopup(popup_6dd50348add299b102c1bde5e03f8e1e)
        ;

        
    
    
            marker_97bd58760a79987af16a00e52b66d9f7.bindTooltip(
                `<div>
                     KINGS & QUEENS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
</script>