<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8ef0987d8acd5543e5b174ad9be76d26 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8ef0987d8acd5543e5b174ad9be76d26" ></div>
        
</body>
<script>    
    
            var map_8ef0987d8acd5543e5b174ad9be76d26 = L.map(
                "map_8ef0987d8acd5543e5b174ad9be76d26",
                {
                    center: [35.53953599944349, -82.7012292476348],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_34c159dd48c4e8eb5dba45695d5a4ca2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8ef0987d8acd5543e5b174ad9be76d26);
        
    
            var marker_70c7fd1cca98d08eef04571f15787dd2 = L.marker(
                [35.53953599944349, -82.7012292476348],
                {}
            ).addTo(map_8ef0987d8acd5543e5b174ad9be76d26);
        
    
            var icon_8eb79aa96f3e179b840960fcd004414e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_70c7fd1cca98d08eef04571f15787dd2.setIcon(icon_8eb79aa96f3e179b840960fcd004414e);
        
    
        var popup_8d435a47f9456b40d3f01c926cd74564 = L.popup({"maxWidth": "100%"});

        
            var html_c1c824ff8477df19ef2e013fb4297c1b = $(`<div id="html_c1c824ff8477df19ef2e013fb4297c1b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8d435a47f9456b40d3f01c926cd74564.setContent(html_c1c824ff8477df19ef2e013fb4297c1b);
        

        marker_70c7fd1cca98d08eef04571f15787dd2.bindPopup(popup_8d435a47f9456b40d3f01c926cd74564)
        ;

        
    
    
            marker_70c7fd1cca98d08eef04571f15787dd2.bindTooltip(
                `<div>
                     CANDLER ELEMENTARY SCHOOL HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9b9fb5f96557d015a431a256a19c4df = L.marker(
                [35.53971241558719, -82.7034727540838],
                {}
            ).addTo(map_8ef0987d8acd5543e5b174ad9be76d26);
        
    
            var icon_f2e4dcb7931067968a3306d04b4873f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e9b9fb5f96557d015a431a256a19c4df.setIcon(icon_f2e4dcb7931067968a3306d04b4873f8);
        
    
        var popup_d64975eeac8a07a13941a4aed4a7e62c = L.popup({"maxWidth": "100%"});

        
            var html_883f76ee4393d390729361f944047693 = $(`<div id="html_883f76ee4393d390729361f944047693" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d64975eeac8a07a13941a4aed4a7e62c.setContent(html_883f76ee4393d390729361f944047693);
        

        marker_e9b9fb5f96557d015a431a256a19c4df.bindPopup(popup_d64975eeac8a07a13941a4aed4a7e62c)
        ;

        
    
    
            marker_e9b9fb5f96557d015a431a256a19c4df.bindTooltip(
                `<div>
                     HOMINY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c9ef95299fea8dc8f3f4a0c64b2b719a = L.marker(
                [35.536878, -82.6866991],
                {}
            ).addTo(map_8ef0987d8acd5543e5b174ad9be76d26);
        
    
            var icon_85b037dfd1b33326c327adb9b85ec4fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c9ef95299fea8dc8f3f4a0c64b2b719a.setIcon(icon_85b037dfd1b33326c327adb9b85ec4fa);
        
    
        var popup_06f0f8999339d3df34e41f58d0dec3e3 = L.popup({"maxWidth": "100%"});

        
            var html_e4710536371387e47583020b9ff2c1dd = $(`<div id="html_e4710536371387e47583020b9ff2c1dd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_06f0f8999339d3df34e41f58d0dec3e3.setContent(html_e4710536371387e47583020b9ff2c1dd);
        

        marker_c9ef95299fea8dc8f3f4a0c64b2b719a.bindPopup(popup_06f0f8999339d3df34e41f58d0dec3e3)
        ;

        
    
    
            marker_c9ef95299fea8dc8f3f4a0c64b2b719a.bindTooltip(
                `<div>
                     YMCA PISGAH AFTERSCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>