<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_29aa63db7b9721e80c46272dd9272e83 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_29aa63db7b9721e80c46272dd9272e83" ></div>
        
</body>
<script>    
    
            var map_29aa63db7b9721e80c46272dd9272e83 = L.map(
                "map_29aa63db7b9721e80c46272dd9272e83",
                {
                    center: [35.9204305, -79.0709847],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2bdfa8fc13650410d95fb8caf822cfd0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_29aa63db7b9721e80c46272dd9272e83);
        
    
            var marker_b5bb62395595aac4bede9016f2594e25 = L.marker(
                [35.9204305, -79.0709847],
                {}
            ).addTo(map_29aa63db7b9721e80c46272dd9272e83);
        
    
            var icon_35d727372ee0bdf2d3ef5ff5524da915 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b5bb62395595aac4bede9016f2594e25.setIcon(icon_35d727372ee0bdf2d3ef5ff5524da915);
        
    
        var popup_263b3870fb53d4f131e2504943c9576a = L.popup({"maxWidth": "100%"});

        
            var html_8944838be5ad4b5003b6c12ddc48b852 = $(`<div id="html_8944838be5ad4b5003b6c12ddc48b852" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_263b3870fb53d4f131e2504943c9576a.setContent(html_8944838be5ad4b5003b6c12ddc48b852);
        

        marker_b5bb62395595aac4bede9016f2594e25.bindPopup(popup_263b3870fb53d4f131e2504943c9576a)
        ;

        
    
    
            marker_b5bb62395595aac4bede9016f2594e25.bindTooltip(
                `<div>
                     AFTON NATURE SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_83e5ba810fa704a2b03853dd2b1e53e8 = L.marker(
                [35.91299715, -79.06913532383143],
                {}
            ).addTo(map_29aa63db7b9721e80c46272dd9272e83);
        
    
            var icon_6de330749d210158b54267c12593dd79 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_83e5ba810fa704a2b03853dd2b1e53e8.setIcon(icon_6de330749d210158b54267c12593dd79);
        
    
        var popup_af4c6e1c6ebabbe3882455d91920ab4d = L.popup({"maxWidth": "100%"});

        
            var html_cda4f0e9f8abec390cde81fa3fe0aeb6 = $(`<div id="html_cda4f0e9f8abec390cde81fa3fe0aeb6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_af4c6e1c6ebabbe3882455d91920ab4d.setContent(html_cda4f0e9f8abec390cde81fa3fe0aeb6);
        

        marker_83e5ba810fa704a2b03853dd2b1e53e8.bindPopup(popup_af4c6e1c6ebabbe3882455d91920ab4d)
        ;

        
    
    
            marker_83e5ba810fa704a2b03853dd2b1e53e8.bindTooltip(
                `<div>
                     CARRBORO EARLY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_02177bc7c4f6c8bdef9bd9803b656130 = L.marker(
                [35.91576795, -79.07780247616866],
                {}
            ).addTo(map_29aa63db7b9721e80c46272dd9272e83);
        
    
            var icon_22910dd251c6550b50868079fab797f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_02177bc7c4f6c8bdef9bd9803b656130.setIcon(icon_22910dd251c6550b50868079fab797f1);
        
    
        var popup_20e20c804f1335d0438ec68a8884831e = L.popup({"maxWidth": "100%"});

        
            var html_746cc3b630471a739344ea6efa4c6541 = $(`<div id="html_746cc3b630471a739344ea6efa4c6541" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_20e20c804f1335d0438ec68a8884831e.setContent(html_746cc3b630471a739344ea6efa4c6541);
        

        marker_02177bc7c4f6c8bdef9bd9803b656130.bindPopup(popup_20e20c804f1335d0438ec68a8884831e)
        ;

        
    
    
            marker_02177bc7c4f6c8bdef9bd9803b656130.bindTooltip(
                `<div>
                     CARRBORO ELEMENTARY PRE-K/HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f9192193898798d3d8dcb4c194514963 = L.marker(
                [35.91576795, -79.07780247616866],
                {}
            ).addTo(map_29aa63db7b9721e80c46272dd9272e83);
        
    
            var icon_544ec70d4366ba17ca4af7d78d57e914 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f9192193898798d3d8dcb4c194514963.setIcon(icon_544ec70d4366ba17ca4af7d78d57e914);
        
    
        var popup_e070b6cc50c114ac59c8b67d37f37a06 = L.popup({"maxWidth": "100%"});

        
            var html_308991d367d1bda9f2e0bf21a4f79382 = $(`<div id="html_308991d367d1bda9f2e0bf21a4f79382" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e070b6cc50c114ac59c8b67d37f37a06.setContent(html_308991d367d1bda9f2e0bf21a4f79382);
        

        marker_f9192193898798d3d8dcb4c194514963.bindPopup(popup_e070b6cc50c114ac59c8b67d37f37a06)
        ;

        
    
    
            marker_f9192193898798d3d8dcb4c194514963.bindTooltip(
                `<div>
                     CARRBORO SCHOOL AGE CARE PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_76bd57e5f0a55378d1267a97c453d4cc = L.marker(
                [35.908277, -79.06847179348914],
                {}
            ).addTo(map_29aa63db7b9721e80c46272dd9272e83);
        
    
            var icon_b9f6dc731cc0700275dbc1c89c8cc526 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_76bd57e5f0a55378d1267a97c453d4cc.setIcon(icon_b9f6dc731cc0700275dbc1c89c8cc526);
        
    
        var popup_9cd50ffcdbf665c40880f8da490331c6 = L.popup({"maxWidth": "100%"});

        
            var html_fa517f933e41b58a983e82719d7f6e45 = $(`<div id="html_fa517f933e41b58a983e82719d7f6e45" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9cd50ffcdbf665c40880f8da490331c6.setContent(html_fa517f933e41b58a983e82719d7f6e45);
        

        marker_76bd57e5f0a55378d1267a97c453d4cc.bindPopup(popup_9cd50ffcdbf665c40880f8da490331c6)
        ;

        
    
    
            marker_76bd57e5f0a55378d1267a97c453d4cc.bindTooltip(
                `<div>
                     COMMUNITY SCHOOL FOR PEOPLE UNDER 6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_edf3cee4656ac64eb9406d917a48c089 = L.marker(
                [35.9100857, -79.0767339],
                {}
            ).addTo(map_29aa63db7b9721e80c46272dd9272e83);
        
    
            var icon_722090d95976790de73981c38601364d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_edf3cee4656ac64eb9406d917a48c089.setIcon(icon_722090d95976790de73981c38601364d);
        
    
        var popup_ea8d801108587230470011fc48413581 = L.popup({"maxWidth": "100%"});

        
            var html_eebb376f6c4bedc5414228956afa396c = $(`<div id="html_eebb376f6c4bedc5414228956afa396c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ea8d801108587230470011fc48413581.setContent(html_eebb376f6c4bedc5414228956afa396c);
        

        marker_edf3cee4656ac64eb9406d917a48c089.bindPopup(popup_ea8d801108587230470011fc48413581)
        ;

        
    
    
            marker_edf3cee4656ac64eb9406d917a48c089.bindTooltip(
                `<div>
                     HAPPY DAY NURSERY AND DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d3b1d459e14fae7f6f01346f7be574f1 = L.marker(
                [35.9105877, -79.0767712],
                {}
            ).addTo(map_29aa63db7b9721e80c46272dd9272e83);
        
    
            var icon_bbd1066431c6b446715d35761624cd4f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d3b1d459e14fae7f6f01346f7be574f1.setIcon(icon_bbd1066431c6b446715d35761624cd4f);
        
    
        var popup_1ae9e9d9bedb1e40e94293b1f9676bfe = L.popup({"maxWidth": "100%"});

        
            var html_b8069e2324c05f6648a64c4d3aff4c24 = $(`<div id="html_b8069e2324c05f6648a64c4d3aff4c24" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1ae9e9d9bedb1e40e94293b1f9676bfe.setContent(html_b8069e2324c05f6648a64c4d3aff4c24);
        

        marker_d3b1d459e14fae7f6f01346f7be574f1.bindPopup(popup_1ae9e9d9bedb1e40e94293b1f9676bfe)
        ;

        
    
    
            marker_d3b1d459e14fae7f6f01346f7be574f1.bindTooltip(
                `<div>
                     MONTESSORI ACADEMY OF CARRBORO
                 </div>`,
                {"sticky": true}
            );
        
</script>