<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_14da1d13147b64af8f480054c12bb361 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_14da1d13147b64af8f480054c12bb361" ></div>
        
</body>
<script>    
    
            var map_14da1d13147b64af8f480054c12bb361 = L.map(
                "map_14da1d13147b64af8f480054c12bb361",
                {
                    center: [35.345312879648404, -79.41182529287214],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_47239407256b47a51c3148ad3cbdd82f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_14da1d13147b64af8f480054c12bb361);
        
    
            var marker_39428d5e4adf51227932d6f338fc2488 = L.marker(
                [35.345312879648404, -79.41182529287214],
                {}
            ).addTo(map_14da1d13147b64af8f480054c12bb361);
        
    
            var icon_b3ee64de44cd00f4400d1a25746d84d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_39428d5e4adf51227932d6f338fc2488.setIcon(icon_b3ee64de44cd00f4400d1a25746d84d8);
        
    
        var popup_b65d49ea7b9a882b9c4aec6924ea1abb = L.popup({"maxWidth": "100%"});

        
            var html_8b2e748db23a352b3926b28ccc3f03d4 = $(`<div id="html_8b2e748db23a352b3926b28ccc3f03d4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b65d49ea7b9a882b9c4aec6924ea1abb.setContent(html_8b2e748db23a352b3926b28ccc3f03d4);
        

        marker_39428d5e4adf51227932d6f338fc2488.bindPopup(popup_b65d49ea7b9a882b9c4aec6924ea1abb)
        ;

        
    
    
            marker_39428d5e4adf51227932d6f338fc2488.bindTooltip(
                `<div>
                     CARTHAGE ELEMENTARY AFTERSCHOOL DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30efdafa246f57841d74e8529f543c10 = L.marker(
                [35.345312879648404, -79.41182529287214],
                {}
            ).addTo(map_14da1d13147b64af8f480054c12bb361);
        
    
            var icon_d2108287d303eadfb68b2d9d31e45baf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_30efdafa246f57841d74e8529f543c10.setIcon(icon_d2108287d303eadfb68b2d9d31e45baf);
        
    
        var popup_e960b3037ba03beaa31d6cd1980e3ac6 = L.popup({"maxWidth": "100%"});

        
            var html_fcdc08fa444da3963d75464b74a5eed7 = $(`<div id="html_fcdc08fa444da3963d75464b74a5eed7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e960b3037ba03beaa31d6cd1980e3ac6.setContent(html_fcdc08fa444da3963d75464b74a5eed7);
        

        marker_30efdafa246f57841d74e8529f543c10.bindPopup(popup_e960b3037ba03beaa31d6cd1980e3ac6)
        ;

        
    
    
            marker_30efdafa246f57841d74e8529f543c10.bindTooltip(
                `<div>
                     CARTHAGE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e37d91e24a8fa2cd53e49bfc94416c7b = L.marker(
                [35.343183, -79.399877],
                {}
            ).addTo(map_14da1d13147b64af8f480054c12bb361);
        
    
            var icon_401e834571a6f33a29a0aa3f5a714a70 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e37d91e24a8fa2cd53e49bfc94416c7b.setIcon(icon_401e834571a6f33a29a0aa3f5a714a70);
        
    
        var popup_4753d41bc06cb78967d9f54b41960b3a = L.popup({"maxWidth": "100%"});

        
            var html_9452c5aafc1de6bd80803abd2f116136 = $(`<div id="html_9452c5aafc1de6bd80803abd2f116136" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4753d41bc06cb78967d9f54b41960b3a.setContent(html_9452c5aafc1de6bd80803abd2f116136);
        

        marker_e37d91e24a8fa2cd53e49bfc94416c7b.bindPopup(popup_4753d41bc06cb78967d9f54b41960b3a)
        ;

        
    
    
            marker_e37d91e24a8fa2cd53e49bfc94416c7b.bindTooltip(
                `<div>
                     HELEN'S DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_84185fd5be68d1579a87e6ccc0a3316a = L.marker(
                [35.33452390338092, -79.40700034152265],
                {}
            ).addTo(map_14da1d13147b64af8f480054c12bb361);
        
    
            var icon_04a3ddaa7715a7a8d6db2d4b3be76c1c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_84185fd5be68d1579a87e6ccc0a3316a.setIcon(icon_04a3ddaa7715a7a8d6db2d4b3be76c1c);
        
    
        var popup_b54ba2944c4a8116d67567affe09d39c = L.popup({"maxWidth": "100%"});

        
            var html_f0ae8cce602419e8be98e18d953a9c80 = $(`<div id="html_f0ae8cce602419e8be98e18d953a9c80" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b54ba2944c4a8116d67567affe09d39c.setContent(html_f0ae8cce602419e8be98e18d953a9c80);
        

        marker_84185fd5be68d1579a87e6ccc0a3316a.bindPopup(popup_b54ba2944c4a8116d67567affe09d39c)
        ;

        
    
    
            marker_84185fd5be68d1579a87e6ccc0a3316a.bindTooltip(
                `<div>
                     SOWING SEEDS CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>