<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5ece6795d173355e0c83b31f23ccd8f0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5ece6795d173355e0c83b31f23ccd8f0" ></div>
        
</body>
<script>    
    
            var map_5ece6795d173355e0c83b31f23ccd8f0 = L.map(
                "map_5ece6795d173355e0c83b31f23ccd8f0",
                {
                    center: [35.6454964, -81.08442736243778],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0b48ad23118b55fc96c4a9486201d5b5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5ece6795d173355e0c83b31f23ccd8f0);
        
    
            var marker_25a080bfc4fb7037df42c3cd50f5f284 = L.marker(
                [35.6454964, -81.08442736243778],
                {}
            ).addTo(map_5ece6795d173355e0c83b31f23ccd8f0);
        
    
            var icon_baa48c3b970a8c0c6362d37b4e97eac6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_25a080bfc4fb7037df42c3cd50f5f284.setIcon(icon_baa48c3b970a8c0c6362d37b4e97eac6);
        
    
        var popup_f4fdfbddd2d2f2afda62083a1e8ae84e = L.popup({"maxWidth": "100%"});

        
            var html_51bed759778f2832f086567f75f44446 = $(`<div id="html_51bed759778f2832f086567f75f44446" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f4fdfbddd2d2f2afda62083a1e8ae84e.setContent(html_51bed759778f2832f086567f75f44446);
        

        marker_25a080bfc4fb7037df42c3cd50f5f284.bindPopup(popup_f4fdfbddd2d2f2afda62083a1e8ae84e)
        ;

        
    
    
            marker_25a080bfc4fb7037df42c3cd50f5f284.bindTooltip(
                `<div>
                     BANDY'S CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_717c1baab618566892bd1de4054d166d = L.marker(
                [35.695871, -81.07281794349964],
                {}
            ).addTo(map_5ece6795d173355e0c83b31f23ccd8f0);
        
    
            var icon_07a141ee83887fb6d8782383a2e8ab40 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_717c1baab618566892bd1de4054d166d.setIcon(icon_07a141ee83887fb6d8782383a2e8ab40);
        
    
        var popup_17a355a5228cd0c3c8f1d99562eaa35b = L.popup({"maxWidth": "100%"});

        
            var html_122dceddd57d7901a4601bcfaeb7bc10 = $(`<div id="html_122dceddd57d7901a4601bcfaeb7bc10" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_17a355a5228cd0c3c8f1d99562eaa35b.setContent(html_122dceddd57d7901a4601bcfaeb7bc10);
        

        marker_717c1baab618566892bd1de4054d166d.bindPopup(popup_17a355a5228cd0c3c8f1d99562eaa35b)
        ;

        
    
    
            marker_717c1baab618566892bd1de4054d166d.bindTooltip(
                `<div>
                     CATAWBA ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b5c2fea69439dc0fbf48d5c938131669 = L.marker(
                [35.695871, -81.07281794349964],
                {}
            ).addTo(map_5ece6795d173355e0c83b31f23ccd8f0);
        
    
            var icon_e25e293bc06c6032065d62324f8173b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b5c2fea69439dc0fbf48d5c938131669.setIcon(icon_e25e293bc06c6032065d62324f8173b1);
        
    
        var popup_eba75e4402c4a8185b8b36c2786a2a0d = L.popup({"maxWidth": "100%"});

        
            var html_cd731e0c2da473e5b26216a3832adefc = $(`<div id="html_cd731e0c2da473e5b26216a3832adefc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_eba75e4402c4a8185b8b36c2786a2a0d.setContent(html_cd731e0c2da473e5b26216a3832adefc);
        

        marker_b5c2fea69439dc0fbf48d5c938131669.bindPopup(popup_eba75e4402c4a8185b8b36c2786a2a0d)
        ;

        
    
    
            marker_b5c2fea69439dc0fbf48d5c938131669.bindTooltip(
                `<div>
                     QUEST AT CATAWBA ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
</script>