<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4048ce570491018f131f164030b4e1f2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4048ce570491018f131f164030b4e1f2" ></div>
        
</body>
<script>    
    
            var map_4048ce570491018f131f164030b4e1f2 = L.map(
                "map_4048ce570491018f131f164030b4e1f2",
                {
                    center: [35.37895999685047, -81.37244559824794],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9f1d7ff5ec10e4f18b88592d39734919 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4048ce570491018f131f164030b4e1f2);
        
    
            var marker_68ec45a95db60321d9937a69de8af42b = L.marker(
                [35.37895999685047, -81.37244559824794],
                {}
            ).addTo(map_4048ce570491018f131f164030b4e1f2);
        
    
            var icon_e6cd4d90ae927a008ecaeb37faf3a72f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_68ec45a95db60321d9937a69de8af42b.setIcon(icon_e6cd4d90ae927a008ecaeb37faf3a72f);
        
    
        var popup_d02f042bb8c7a140eb9ff04d8dc68f82 = L.popup({"maxWidth": "100%"});

        
            var html_78a291fd0f5d612eedfd6b1913fff589 = $(`<div id="html_78a291fd0f5d612eedfd6b1913fff589" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d02f042bb8c7a140eb9ff04d8dc68f82.setContent(html_78a291fd0f5d612eedfd6b1913fff589);
        

        marker_68ec45a95db60321d9937a69de8af42b.bindPopup(popup_d02f042bb8c7a140eb9ff04d8dc68f82)
        ;

        
    
    
            marker_68ec45a95db60321d9937a69de8af42b.bindTooltip(
                `<div>
                     CHERRYVILLE ELEMENTARY PRE-KINDERGARTEN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44344c2d48fcba069bdc48db4fe78aee = L.marker(
                [35.3794677755102, -81.38273283673469],
                {}
            ).addTo(map_4048ce570491018f131f164030b4e1f2);
        
    
            var icon_b31cff6af8ccac9d7103a7ad88e1bd74 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_44344c2d48fcba069bdc48db4fe78aee.setIcon(icon_b31cff6af8ccac9d7103a7ad88e1bd74);
        
    
        var popup_16a7b02ccd35f7443745806cbd830d18 = L.popup({"maxWidth": "100%"});

        
            var html_23d84959f19cc39a960adaf1f787576d = $(`<div id="html_23d84959f19cc39a960adaf1f787576d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_16a7b02ccd35f7443745806cbd830d18.setContent(html_23d84959f19cc39a960adaf1f787576d);
        

        marker_44344c2d48fcba069bdc48db4fe78aee.bindPopup(popup_16a7b02ccd35f7443745806cbd830d18)
        ;

        
    
    
            marker_44344c2d48fcba069bdc48db4fe78aee.bindTooltip(
                `<div>
                     CHERRYVILLE HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9895d45de9e42fb18b77aee9ff44b2ed = L.marker(
                [35.381276040816324, -81.37230885714285],
                {}
            ).addTo(map_4048ce570491018f131f164030b4e1f2);
        
    
            var icon_88b3fb3affd3cec9286cd175b46215c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9895d45de9e42fb18b77aee9ff44b2ed.setIcon(icon_88b3fb3affd3cec9286cd175b46215c2);
        
    
        var popup_0b61777a7c69123533be3dbcaa8c78b2 = L.popup({"maxWidth": "100%"});

        
            var html_d766aa237df53ea393880241c2cdc4ed = $(`<div id="html_d766aa237df53ea393880241c2cdc4ed" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0b61777a7c69123533be3dbcaa8c78b2.setContent(html_d766aa237df53ea393880241c2cdc4ed);
        

        marker_9895d45de9e42fb18b77aee9ff44b2ed.bindPopup(popup_0b61777a7c69123533be3dbcaa8c78b2)
        ;

        
    
    
            marker_9895d45de9e42fb18b77aee9ff44b2ed.bindTooltip(
                `<div>
                     CLINE LEARNING CENTER OF CHERRYVILLE I
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_268d7f356ce30b291549a8a65dbe01c7 = L.marker(
                [35.38092473992843, -81.38055944156044],
                {}
            ).addTo(map_4048ce570491018f131f164030b4e1f2);
        
    
            var icon_c30327beac647d25e1a8dfd05bee5411 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_268d7f356ce30b291549a8a65dbe01c7.setIcon(icon_c30327beac647d25e1a8dfd05bee5411);
        
    
        var popup_7b3b07ea079c47cfadd51dad9d48b11c = L.popup({"maxWidth": "100%"});

        
            var html_b8f554961edf62ed466a302ebc4d1993 = $(`<div id="html_b8f554961edf62ed466a302ebc4d1993" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7b3b07ea079c47cfadd51dad9d48b11c.setContent(html_b8f554961edf62ed466a302ebc4d1993);
        

        marker_268d7f356ce30b291549a8a65dbe01c7.bindPopup(popup_7b3b07ea079c47cfadd51dad9d48b11c)
        ;

        
    
    
            marker_268d7f356ce30b291549a8a65dbe01c7.bindTooltip(
                `<div>
                     CLINE LEARNING CENTER OF CHERRYVILLE II
                 </div>`,
                {"sticky": true}
            );
        
</script>