<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_801c1db825716576cd064bcb37095be8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_801c1db825716576cd064bcb37095be8" ></div>
        
</body>
<script>    
    
            var map_801c1db825716576cd064bcb37095be8 = L.map(
                "map_801c1db825716576cd064bcb37095be8",
                {
                    center: [35.56757485714286, -80.58457328571428],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6c009e10345dc8fad6dd2c4f84d8b55d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_801c1db825716576cd064bcb37095be8);
        
    
            var marker_37e0bc58fb3e81988aecc892ff6a77e8 = L.marker(
                [35.56757485714286, -80.58457328571428],
                {}
            ).addTo(map_801c1db825716576cd064bcb37095be8);
        
    
            var icon_520576cbde439d6ee06b8a821f55758e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_37e0bc58fb3e81988aecc892ff6a77e8.setIcon(icon_520576cbde439d6ee06b8a821f55758e);
        
    
        var popup_f76745883f751f9fc9f65539580ee120 = L.popup({"maxWidth": "100%"});

        
            var html_6f49717c8320d06597749e989ed041da = $(`<div id="html_6f49717c8320d06597749e989ed041da" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f76745883f751f9fc9f65539580ee120.setContent(html_6f49717c8320d06597749e989ed041da);
        

        marker_37e0bc58fb3e81988aecc892ff6a77e8.bindPopup(popup_f76745883f751f9fc9f65539580ee120)
        ;

        
    
    
            marker_37e0bc58fb3e81988aecc892ff6a77e8.bindTooltip(
                `<div>
                     CHINA GROVE ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ad52dbc99af8765a6cd351601021d70 = L.marker(
                [35.573668753039804, -80.574460445444],
                {}
            ).addTo(map_801c1db825716576cd064bcb37095be8);
        
    
            var icon_9e1aaeaed81e88e35d44742ee8ce89dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3ad52dbc99af8765a6cd351601021d70.setIcon(icon_9e1aaeaed81e88e35d44742ee8ce89dd);
        
    
        var popup_e4613ffc7993bc50028d83a137158151 = L.popup({"maxWidth": "100%"});

        
            var html_06005cba8f07fcbf0ee0222a156fd89a = $(`<div id="html_06005cba8f07fcbf0ee0222a156fd89a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e4613ffc7993bc50028d83a137158151.setContent(html_06005cba8f07fcbf0ee0222a156fd89a);
        

        marker_3ad52dbc99af8765a6cd351601021d70.bindPopup(popup_e4613ffc7993bc50028d83a137158151)
        ;

        
    
    
            marker_3ad52dbc99af8765a6cd351601021d70.bindTooltip(
                `<div>
                     FIRST UNITED METHODIST EARLY LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9d0a79b1458f4461dd0c409a980368ba = L.marker(
                [35.572149311057615, -80.57661897966416],
                {}
            ).addTo(map_801c1db825716576cd064bcb37095be8);
        
    
            var icon_810311475ce74ffbddf19ad0a7823a20 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9d0a79b1458f4461dd0c409a980368ba.setIcon(icon_810311475ce74ffbddf19ad0a7823a20);
        
    
        var popup_3e1d5ae3010aacc421d66e9090f7ea5b = L.popup({"maxWidth": "100%"});

        
            var html_6b23260c1514584aa159f57e929b868c = $(`<div id="html_6b23260c1514584aa159f57e929b868c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3e1d5ae3010aacc421d66e9090f7ea5b.setContent(html_6b23260c1514584aa159f57e929b868c);
        

        marker_9d0a79b1458f4461dd0c409a980368ba.bindPopup(popup_3e1d5ae3010aacc421d66e9090f7ea5b)
        ;

        
    
    
            marker_9d0a79b1458f4461dd0c409a980368ba.bindTooltip(
                `<div>
                     SOUTH ROWAN ACADEMY OF CHILD DEVELOPMENT, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6f65b9125cdedd4bae1b007b5d463e3e = L.marker(
                [35.5674936, -80.5896534],
                {}
            ).addTo(map_801c1db825716576cd064bcb37095be8);
        
    
            var icon_0aa3071ee400071b648f355f3924902f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6f65b9125cdedd4bae1b007b5d463e3e.setIcon(icon_0aa3071ee400071b648f355f3924902f);
        
    
        var popup_7b485d4a5a3e0ace39394b7ae5193429 = L.popup({"maxWidth": "100%"});

        
            var html_0f02b8ec2a58c7c3231b85baa2a745ff = $(`<div id="html_0f02b8ec2a58c7c3231b85baa2a745ff" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7b485d4a5a3e0ace39394b7ae5193429.setContent(html_0f02b8ec2a58c7c3231b85baa2a745ff);
        

        marker_6f65b9125cdedd4bae1b007b5d463e3e.bindPopup(popup_7b485d4a5a3e0ace39394b7ae5193429)
        ;

        
    
    
            marker_6f65b9125cdedd4bae1b007b5d463e3e.bindTooltip(
                `<div>
                     WESTSIDE HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>