<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_225fbafb9ffe07a8fb422b3a204bb21d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_225fbafb9ffe07a8fb422b3a204bb21d" ></div>
        
</body>
<script>    
    
            var map_225fbafb9ffe07a8fb422b3a204bb21d = L.map(
                "map_225fbafb9ffe07a8fb422b3a204bb21d",
                {
                    center: [35.6584166, -78.4667642],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_91f08853cf8402b4874926ffa09cfa59 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var marker_49685e0409e60ccb3a175eb75a38ee06 = L.marker(
                [35.6584166, -78.4667642],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_90585df0d26684075d3bbba28ba7d49c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_49685e0409e60ccb3a175eb75a38ee06.setIcon(icon_90585df0d26684075d3bbba28ba7d49c);
        
    
        var popup_a1a5933058f42b7c12d2bd8dadf157c5 = L.popup({"maxWidth": "100%"});

        
            var html_233bab5e198037d67c3b269978e32627 = $(`<div id="html_233bab5e198037d67c3b269978e32627" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a1a5933058f42b7c12d2bd8dadf157c5.setContent(html_233bab5e198037d67c3b269978e32627);
        

        marker_49685e0409e60ccb3a175eb75a38ee06.bindPopup(popup_a1a5933058f42b7c12d2bd8dadf157c5)
        ;

        
    
    
            marker_49685e0409e60ccb3a175eb75a38ee06.bindTooltip(
                `<div>
                     ACADEMY OF ANGELS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4203584ee401c1e6db6a1c09bf87bf2f = L.marker(
                [35.6468377, -78.4632307],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_c2af7dcc45e71f70c8eaa0346d86a34c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4203584ee401c1e6db6a1c09bf87bf2f.setIcon(icon_c2af7dcc45e71f70c8eaa0346d86a34c);
        
    
        var popup_7932bfdc2b7db5c8b3d8476aaaf5347c = L.popup({"maxWidth": "100%"});

        
            var html_f7edc4d2c99d9fcd199ef413ce44126b = $(`<div id="html_f7edc4d2c99d9fcd199ef413ce44126b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7932bfdc2b7db5c8b3d8476aaaf5347c.setContent(html_f7edc4d2c99d9fcd199ef413ce44126b);
        

        marker_4203584ee401c1e6db6a1c09bf87bf2f.bindPopup(popup_7932bfdc2b7db5c8b3d8476aaaf5347c)
        ;

        
    
    
            marker_4203584ee401c1e6db6a1c09bf87bf2f.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #247
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b4eb69ac79a45505aef57006d5629fbe = L.marker(
                [35.64827485, -78.39908678077018],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_b7811ffa7c272e5bc6d8e112a3c700e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b4eb69ac79a45505aef57006d5629fbe.setIcon(icon_b7811ffa7c272e5bc6d8e112a3c700e6);
        
    
        var popup_112fd3fd68189a8c453aff8289c2839a = L.popup({"maxWidth": "100%"});

        
            var html_d46d231e524f257f806634ee5c632aed = $(`<div id="html_d46d231e524f257f806634ee5c632aed" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_112fd3fd68189a8c453aff8289c2839a.setContent(html_d46d231e524f257f806634ee5c632aed);
        

        marker_b4eb69ac79a45505aef57006d5629fbe.bindPopup(popup_112fd3fd68189a8c453aff8289c2839a)
        ;

        
    
    
            marker_b4eb69ac79a45505aef57006d5629fbe.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #248
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a2d1f008b3fab1b46f7e89cc6eceeb4 = L.marker(
                [35.6297298, -78.392301],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_dfc74690e9cddfc0dad024d57e2d17bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4a2d1f008b3fab1b46f7e89cc6eceeb4.setIcon(icon_dfc74690e9cddfc0dad024d57e2d17bf);
        
    
        var popup_85bc2768af649469fddd5844ecb9d066 = L.popup({"maxWidth": "100%"});

        
            var html_4121b646eae30c477b22d046e44fa55d = $(`<div id="html_4121b646eae30c477b22d046e44fa55d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_85bc2768af649469fddd5844ecb9d066.setContent(html_4121b646eae30c477b22d046e44fa55d);
        

        marker_4a2d1f008b3fab1b46f7e89cc6eceeb4.bindPopup(popup_85bc2768af649469fddd5844ecb9d066)
        ;

        
    
    
            marker_4a2d1f008b3fab1b46f7e89cc6eceeb4.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #249
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51e6b5766765689cccab0b9f0dc363bd = L.marker(
                [35.6414634, -78.4511906],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_69ff4fb93b25c855c66d8feaf686eacf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_51e6b5766765689cccab0b9f0dc363bd.setIcon(icon_69ff4fb93b25c855c66d8feaf686eacf);
        
    
        var popup_c23e1330a283f2ade8376076dd7c2a99 = L.popup({"maxWidth": "100%"});

        
            var html_b23e625f3c51724719ed6c8a1fb5ac3b = $(`<div id="html_b23e625f3c51724719ed6c8a1fb5ac3b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c23e1330a283f2ade8376076dd7c2a99.setContent(html_b23e625f3c51724719ed6c8a1fb5ac3b);
        

        marker_51e6b5766765689cccab0b9f0dc363bd.bindPopup(popup_c23e1330a283f2ade8376076dd7c2a99)
        ;

        
    
    
            marker_51e6b5766765689cccab0b9f0dc363bd.bindTooltip(
                `<div>
                     CLAYTON HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fddf5c513ee82617cd7eda5ac99fcda2 = L.marker(
                [35.6550865156851, -78.45747256332287],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_4c92d413731825065c45fdc6e072edac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fddf5c513ee82617cd7eda5ac99fcda2.setIcon(icon_4c92d413731825065c45fdc6e072edac);
        
    
        var popup_232c1f14e1a75f45c6e988348ff38b3b = L.popup({"maxWidth": "100%"});

        
            var html_57ace0ed12095d2b05e5b81d659af500 = $(`<div id="html_57ace0ed12095d2b05e5b81d659af500" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_232c1f14e1a75f45c6e988348ff38b3b.setContent(html_57ace0ed12095d2b05e5b81d659af500);
        

        marker_fddf5c513ee82617cd7eda5ac99fcda2.bindPopup(popup_232c1f14e1a75f45c6e988348ff38b3b)
        ;

        
    
    
            marker_fddf5c513ee82617cd7eda5ac99fcda2.bindTooltip(
                `<div>
                     FIRST BAPTIST CHURCH OF CLAYTON C D C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a6e4cf0280588d1c553f3914dbdbe757 = L.marker(
                [35.655007850000004, -78.47042579999999],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_40bec20b63b614e24cf2cac15ea732aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a6e4cf0280588d1c553f3914dbdbe757.setIcon(icon_40bec20b63b614e24cf2cac15ea732aa);
        
    
        var popup_ffd10fc21c37c8ff7591c4477090963c = L.popup({"maxWidth": "100%"});

        
            var html_232ea337eb25afbfd2d6cb98d4d832b8 = $(`<div id="html_232ea337eb25afbfd2d6cb98d4d832b8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ffd10fc21c37c8ff7591c4477090963c.setContent(html_232ea337eb25afbfd2d6cb98d4d832b8);
        

        marker_a6e4cf0280588d1c553f3914dbdbe757.bindPopup(popup_ffd10fc21c37c8ff7591c4477090963c)
        ;

        
    
    
            marker_a6e4cf0280588d1c553f3914dbdbe757.bindTooltip(
                `<div>
                     HONEYBEE'S NEST LEARNING CENTER LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_47c1dda6cf09a565895577ebd71ff6fb = L.marker(
                [35.635847578873985, -78.48635419494249],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_1c04be3e9f14f8e363c2a629a94ed8b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_47c1dda6cf09a565895577ebd71ff6fb.setIcon(icon_1c04be3e9f14f8e363c2a629a94ed8b4);
        
    
        var popup_1da4b7647596e58e549ae2a1d279a4e7 = L.popup({"maxWidth": "100%"});

        
            var html_2edda4247985e9f56f67138035ac3925 = $(`<div id="html_2edda4247985e9f56f67138035ac3925" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_1da4b7647596e58e549ae2a1d279a4e7.setContent(html_2edda4247985e9f56f67138035ac3925);
        

        marker_47c1dda6cf09a565895577ebd71ff6fb.bindPopup(popup_1da4b7647596e58e549ae2a1d279a4e7)
        ;

        
    
    
            marker_47c1dda6cf09a565895577ebd71ff6fb.bindTooltip(
                `<div>
                     ITTY BITTY CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d100925cd98e3e02f3a4b936b5007d89 = L.marker(
                [35.61353622728306, -78.48355507223974],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_1c3c0c289a77242c7d1ab93ba41e3a46 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_d100925cd98e3e02f3a4b936b5007d89.setIcon(icon_1c3c0c289a77242c7d1ab93ba41e3a46);
        
    
        var popup_2f4cddab2523c05ba124cb027e6989be = L.popup({"maxWidth": "100%"});

        
            var html_2af2c68c7f305f1a6a0fd9117746a601 = $(`<div id="html_2af2c68c7f305f1a6a0fd9117746a601" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_2f4cddab2523c05ba124cb027e6989be.setContent(html_2af2c68c7f305f1a6a0fd9117746a601);
        

        marker_d100925cd98e3e02f3a4b936b5007d89.bindPopup(popup_2f4cddab2523c05ba124cb027e6989be)
        ;

        
    
    
            marker_d100925cd98e3e02f3a4b936b5007d89.bindTooltip(
                `<div>
                     KATHY'S DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_77ba7bf27694249c40884ebd71cacb64 = L.marker(
                [35.633345500000004, -78.4468895326985],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_355589354892c72314b03b25597d8c51 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_77ba7bf27694249c40884ebd71cacb64.setIcon(icon_355589354892c72314b03b25597d8c51);
        
    
        var popup_3c047030014248a0e112a5629d125737 = L.popup({"maxWidth": "100%"});

        
            var html_b167297469710d7db672ed87c2cf4566 = $(`<div id="html_b167297469710d7db672ed87c2cf4566" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3c047030014248a0e112a5629d125737.setContent(html_b167297469710d7db672ed87c2cf4566);
        

        marker_77ba7bf27694249c40884ebd71cacb64.bindPopup(popup_3c047030014248a0e112a5629d125737)
        ;

        
    
    
            marker_77ba7bf27694249c40884ebd71cacb64.bindTooltip(
                `<div>
                     KID'S COUNTRY OF CLAYTON, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_72b4b8953234dd380e3f3a600ed70bd2 = L.marker(
                [35.6635045, -78.4912287],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_a6677c5890fd763b517f52e186904754 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_72b4b8953234dd380e3f3a600ed70bd2.setIcon(icon_a6677c5890fd763b517f52e186904754);
        
    
        var popup_d79aa1338c584ced54f9324e687f4227 = L.popup({"maxWidth": "100%"});

        
            var html_fb24f65149bde3da62ba7f917b062e77 = $(`<div id="html_fb24f65149bde3da62ba7f917b062e77" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d79aa1338c584ced54f9324e687f4227.setContent(html_fb24f65149bde3da62ba7f917b062e77);
        

        marker_72b4b8953234dd380e3f3a600ed70bd2.bindPopup(popup_d79aa1338c584ced54f9324e687f4227)
        ;

        
    
    
            marker_72b4b8953234dd380e3f3a600ed70bd2.bindTooltip(
                `<div>
                     KIDS R KIDS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c7cdec64b40ff3a5101b34a05802a33f = L.marker(
                [35.689692, -78.4282784],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_62038652e6686119e1c86a723f2ac1e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c7cdec64b40ff3a5101b34a05802a33f.setIcon(icon_62038652e6686119e1c86a723f2ac1e8);
        
    
        var popup_644ed397ef141448fc5952afab6e08d6 = L.popup({"maxWidth": "100%"});

        
            var html_45edb85511c0fd91cd182d6b0f800d53 = $(`<div id="html_45edb85511c0fd91cd182d6b0f800d53" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_644ed397ef141448fc5952afab6e08d6.setContent(html_45edb85511c0fd91cd182d6b0f800d53);
        

        marker_c7cdec64b40ff3a5101b34a05802a33f.bindPopup(popup_644ed397ef141448fc5952afab6e08d6)
        ;

        
    
    
            marker_c7cdec64b40ff3a5101b34a05802a33f.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_611bca05c56c14d234b30da7ac18e3c9 = L.marker(
                [35.634482125817655, -78.4668493197275],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_e01595f2c595f3d44442b2cc94e14bc9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_611bca05c56c14d234b30da7ac18e3c9.setIcon(icon_e01595f2c595f3d44442b2cc94e14bc9);
        
    
        var popup_7b2756528d5ca11d1c282ca7b6f6fe83 = L.popup({"maxWidth": "100%"});

        
            var html_4195276225e006371d4e0039c237513d = $(`<div id="html_4195276225e006371d4e0039c237513d" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_7b2756528d5ca11d1c282ca7b6f6fe83.setContent(html_4195276225e006371d4e0039c237513d);
        

        marker_611bca05c56c14d234b30da7ac18e3c9.bindPopup(popup_7b2756528d5ca11d1c282ca7b6f6fe83)
        ;

        
    
    
            marker_611bca05c56c14d234b30da7ac18e3c9.bindTooltip(
                `<div>
                     LINDA'S PLAYHOUSE DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c532de66fc0e46de453e036547b4aeca = L.marker(
                [35.654237499999994, -78.45474099999998],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_54a69b7b822dc887e6f7d4fb7c235253 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c532de66fc0e46de453e036547b4aeca.setIcon(icon_54a69b7b822dc887e6f7d4fb7c235253);
        
    
        var popup_324c22d45a6184277cba24128959a5bd = L.popup({"maxWidth": "100%"});

        
            var html_27d189ccc042172ef7820734ab44c4e9 = $(`<div id="html_27d189ccc042172ef7820734ab44c4e9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_324c22d45a6184277cba24128959a5bd.setContent(html_27d189ccc042172ef7820734ab44c4e9);
        

        marker_c532de66fc0e46de453e036547b4aeca.bindPopup(popup_324c22d45a6184277cba24128959a5bd)
        ;

        
    
    
            marker_c532de66fc0e46de453e036547b4aeca.bindTooltip(
                `<div>
                     LITTLE BELIEVERS ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44d01d3c772aa6914b7e30df122c3368 = L.marker(
                [35.6270272, -78.39227730764674],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_5322b88c8bb12c908d67d2572c3fb915 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_44d01d3c772aa6914b7e30df122c3368.setIcon(icon_5322b88c8bb12c908d67d2572c3fb915);
        
    
        var popup_ba008d9e2579fd4965f5fcf6bfada875 = L.popup({"maxWidth": "100%"});

        
            var html_95c19c9f69883a8034d4fb96a8b0fb1e = $(`<div id="html_95c19c9f69883a8034d4fb96a8b0fb1e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ba008d9e2579fd4965f5fcf6bfada875.setContent(html_95c19c9f69883a8034d4fb96a8b0fb1e);
        

        marker_44d01d3c772aa6914b7e30df122c3368.bindPopup(popup_ba008d9e2579fd4965f5fcf6bfada875)
        ;

        
    
    
            marker_44d01d3c772aa6914b7e30df122c3368.bindTooltip(
                `<div>
                     POWHATAN ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9af4e808c47218b3121875db7891d466 = L.marker(
                [35.667137999999994, -78.350928939959],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_7646c24cd3b2aac838d0df5fd0056f57 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9af4e808c47218b3121875db7891d466.setIcon(icon_7646c24cd3b2aac838d0df5fd0056f57);
        
    
        var popup_a1260b65f3983c39c2a5173e498555b6 = L.popup({"maxWidth": "100%"});

        
            var html_dc292c85a26288761aa404d35b0fadff = $(`<div id="html_dc292c85a26288761aa404d35b0fadff" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a1260b65f3983c39c2a5173e498555b6.setContent(html_dc292c85a26288761aa404d35b0fadff);
        

        marker_9af4e808c47218b3121875db7891d466.bindPopup(popup_a1260b65f3983c39c2a5173e498555b6)
        ;

        
    
    
            marker_9af4e808c47218b3121875db7891d466.bindTooltip(
                `<div>
                     RIVER DELL ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6fbc747048f2b93da5893bdf4a86c3cf = L.marker(
                [35.69295745, -78.42057967889949],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_0c3a9d6c603f2ecb3e2e8bd24f4de6fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6fbc747048f2b93da5893bdf4a86c3cf.setIcon(icon_0c3a9d6c603f2ecb3e2e8bd24f4de6fd);
        
    
        var popup_f7391cc2e915b2ea7b3814887678aa69 = L.popup({"maxWidth": "100%"});

        
            var html_e8473ba7135f218398fd93f1732facac = $(`<div id="html_e8473ba7135f218398fd93f1732facac" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f7391cc2e915b2ea7b3814887678aa69.setContent(html_e8473ba7135f218398fd93f1732facac);
        

        marker_6fbc747048f2b93da5893bdf4a86c3cf.bindPopup(popup_f7391cc2e915b2ea7b3814887678aa69)
        ;

        
    
    
            marker_6fbc747048f2b93da5893bdf4a86c3cf.bindTooltip(
                `<div>
                     RIVERWOOD ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f50b8df6a2bfbb0ed2f18451424fb509 = L.marker(
                [35.6424022, -78.4519594],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_dc04bd30cf868fb1a2c16c516ad61f82 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f50b8df6a2bfbb0ed2f18451424fb509.setIcon(icon_dc04bd30cf868fb1a2c16c516ad61f82);
        
    
        var popup_c5208c7db2bcc827e61bae133c044ba5 = L.popup({"maxWidth": "100%"});

        
            var html_d1afa9ec7b4fbc4767bade817e8e1fb4 = $(`<div id="html_d1afa9ec7b4fbc4767bade817e8e1fb4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c5208c7db2bcc827e61bae133c044ba5.setContent(html_d1afa9ec7b4fbc4767bade817e8e1fb4);
        

        marker_f50b8df6a2bfbb0ed2f18451424fb509.bindPopup(popup_c5208c7db2bcc827e61bae133c044ba5)
        ;

        
    
    
            marker_f50b8df6a2bfbb0ed2f18451424fb509.bindTooltip(
                `<div>
                     ROYALTEEZ DROP AND GO CHILDCARE LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c92aee807b4e0372813f08a7faf0ba5d = L.marker(
                [35.6248307, -78.4809457],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_6ab1cb991578a265fe4ea0f73e845fb6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_c92aee807b4e0372813f08a7faf0ba5d.setIcon(icon_6ab1cb991578a265fe4ea0f73e845fb6);
        
    
        var popup_1f5fae55c4d81dcd7d5f0dc8518fd010 = L.popup({"maxWidth": "100%"});

        
            var html_84fa4603ae4036fec78db1c346a60626 = $(`<div id="html_84fa4603ae4036fec78db1c346a60626" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_1f5fae55c4d81dcd7d5f0dc8518fd010.setContent(html_84fa4603ae4036fec78db1c346a60626);
        

        marker_c92aee807b4e0372813f08a7faf0ba5d.bindPopup(popup_1f5fae55c4d81dcd7d5f0dc8518fd010)
        ;

        
    
    
            marker_c92aee807b4e0372813f08a7faf0ba5d.bindTooltip(
                `<div>
                     TEENA'S FAMILY CHILDCARE, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43a9f4f8b9db16cba23d676a7444793e = L.marker(
                [35.6491503, -78.3973825],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_0e16f22a482a2a2d29e9a8102f76375e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_43a9f4f8b9db16cba23d676a7444793e.setIcon(icon_0e16f22a482a2a2d29e9a8102f76375e);
        
    
        var popup_1df172c5cac170b347cfa756146bf7f4 = L.popup({"maxWidth": "100%"});

        
            var html_d20ada124a5c91c458d388dda769490b = $(`<div id="html_d20ada124a5c91c458d388dda769490b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1df172c5cac170b347cfa756146bf7f4.setContent(html_d20ada124a5c91c458d388dda769490b);
        

        marker_43a9f4f8b9db16cba23d676a7444793e.bindPopup(popup_1df172c5cac170b347cfa756146bf7f4)
        ;

        
    
    
            marker_43a9f4f8b9db16cba23d676a7444793e.bindTooltip(
                `<div>
                     THE GROWING YEARS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a2a67654d3efe7b0a2efdd7c6f7c67ef = L.marker(
                [35.6600548, -78.4775896],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_23f2fac59a80c6f1c9001c22526131f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a2a67654d3efe7b0a2efdd7c6f7c67ef.setIcon(icon_23f2fac59a80c6f1c9001c22526131f7);
        
    
        var popup_d525bf3c452b79d9f6ea45cea78f5987 = L.popup({"maxWidth": "100%"});

        
            var html_e9632e86969279aa05bc6f50e60f0463 = $(`<div id="html_e9632e86969279aa05bc6f50e60f0463" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d525bf3c452b79d9f6ea45cea78f5987.setContent(html_e9632e86969279aa05bc6f50e60f0463);
        

        marker_a2a67654d3efe7b0a2efdd7c6f7c67ef.bindPopup(popup_d525bf3c452b79d9f6ea45cea78f5987)
        ;

        
    
    
            marker_a2a67654d3efe7b0a2efdd7c6f7c67ef.bindTooltip(
                `<div>
                     THE NEST SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3bda06a9846d52af88802080ac9ed683 = L.marker(
                [35.6485197, -78.4781188],
                {}
            ).addTo(map_225fbafb9ffe07a8fb422b3a204bb21d);
        
    
            var icon_d001c345d75b7161a8ae7b59d3ecb9d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3bda06a9846d52af88802080ac9ed683.setIcon(icon_d001c345d75b7161a8ae7b59d3ecb9d4);
        
    
        var popup_83fa702b87c0b2a5d0e649a838aa24c2 = L.popup({"maxWidth": "100%"});

        
            var html_6a0a940c4cab2b1cbddc3ab222dffbf0 = $(`<div id="html_6a0a940c4cab2b1cbddc3ab222dffbf0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_83fa702b87c0b2a5d0e649a838aa24c2.setContent(html_6a0a940c4cab2b1cbddc3ab222dffbf0);
        

        marker_3bda06a9846d52af88802080ac9ed683.bindPopup(popup_83fa702b87c0b2a5d0e649a838aa24c2)
        ;

        
    
    
            marker_3bda06a9846d52af88802080ac9ed683.bindTooltip(
                `<div>
                     THE NEST SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>