<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e178d7f3226e7301a260079f4cb84f95 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e178d7f3226e7301a260079f4cb84f95" ></div>
        
</body>
<script>    
    
            var map_e178d7f3226e7301a260079f4cb84f95 = L.map(
                "map_e178d7f3226e7301a260079f4cb84f95",
                {
                    center: [36.052558833333336, -80.38858766666667],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_aab87d89127c2a19ccd1f39691ffb1f9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var marker_90ccf81171644a08261ea5c99e10bdfa = L.marker(
                [36.052558833333336, -80.38858766666667],
                {}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var icon_cfc5edbecebb06ba9e6914e0bb827c4f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_90ccf81171644a08261ea5c99e10bdfa.setIcon(icon_cfc5edbecebb06ba9e6914e0bb827c4f);
        
    
        var popup_80da5cdbb158ac5f82ca784328ec34af = L.popup({"maxWidth": "100%"});

        
            var html_72237f2f36b6a63f347b8c29621d63fd = $(`<div id="html_72237f2f36b6a63f347b8c29621d63fd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_80da5cdbb158ac5f82ca784328ec34af.setContent(html_72237f2f36b6a63f347b8c29621d63fd);
        

        marker_90ccf81171644a08261ea5c99e10bdfa.bindPopup(popup_80da5cdbb158ac5f82ca784328ec34af)
        ;

        
    
    
            marker_90ccf81171644a08261ea5c99e10bdfa.bindTooltip(
                `<div>
                     A CHILD'S WORLD LEARNING CENTER CLEMMONS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_72bbf23dfa6ab5c3e6688d42c5855f87 = L.marker(
                [36.02109327002752, -80.37771410010934],
                {}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var icon_4949b0bd9f07f8d47142f419cfc2fe5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_72bbf23dfa6ab5c3e6688d42c5855f87.setIcon(icon_4949b0bd9f07f8d47142f419cfc2fe5d);
        
    
        var popup_4945cbb64302dcd61f458e79f9cc4eac = L.popup({"maxWidth": "100%"});

        
            var html_22b750995f99b166e76457ab2a728ebb = $(`<div id="html_22b750995f99b166e76457ab2a728ebb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4945cbb64302dcd61f458e79f9cc4eac.setContent(html_22b750995f99b166e76457ab2a728ebb);
        

        marker_72bbf23dfa6ab5c3e6688d42c5855f87.bindPopup(popup_4945cbb64302dcd61f458e79f9cc4eac)
        ;

        
    
    
            marker_72bbf23dfa6ab5c3e6688d42c5855f87.bindTooltip(
                `<div>
                     CLEMMONS MORAVIAN CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8eb0a6749a78fa55cd7d09a781043cb1 = L.marker(
                [36.005328, -80.374284],
                {}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var icon_7a8a7ad1af5b34fe6e30b608ac46abe2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_8eb0a6749a78fa55cd7d09a781043cb1.setIcon(icon_7a8a7ad1af5b34fe6e30b608ac46abe2);
        
    
        var popup_a78aba1bc6646f0e9f3808f9b26649c1 = L.popup({"maxWidth": "100%"});

        
            var html_3270c2fc6eb975eab0601bbb7c7a05e3 = $(`<div id="html_3270c2fc6eb975eab0601bbb7c7a05e3" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_a78aba1bc6646f0e9f3808f9b26649c1.setContent(html_3270c2fc6eb975eab0601bbb7c7a05e3);
        

        marker_8eb0a6749a78fa55cd7d09a781043cb1.bindPopup(popup_a78aba1bc6646f0e9f3808f9b26649c1)
        ;

        
    
    
            marker_8eb0a6749a78fa55cd7d09a781043cb1.bindTooltip(
                `<div>
                     CONNIE'S DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cca02feea43240cc519b3c895e60f401 = L.marker(
                [36.01264716326531, -80.37740473469388],
                {}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var icon_bb82b7217f6eaacf734a163038f4d3be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_cca02feea43240cc519b3c895e60f401.setIcon(icon_bb82b7217f6eaacf734a163038f4d3be);
        
    
        var popup_d4d61ab90e3ca02c6b22e8b1c16b634e = L.popup({"maxWidth": "100%"});

        
            var html_bd1e53c825b7da1f3b0c765b5d3a6e26 = $(`<div id="html_bd1e53c825b7da1f3b0c765b5d3a6e26" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_d4d61ab90e3ca02c6b22e8b1c16b634e.setContent(html_bd1e53c825b7da1f3b0c765b5d3a6e26);
        

        marker_cca02feea43240cc519b3c895e60f401.bindPopup(popup_d4d61ab90e3ca02c6b22e8b1c16b634e)
        ;

        
    
    
            marker_cca02feea43240cc519b3c895e60f401.bindTooltip(
                `<div>
                     HOFFMAN FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46efc5e1ae47a7bf29b0221e84c9dd00 = L.marker(
                [36.07240900278354, -80.38999795453094],
                {}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var icon_7d0de8402309ba879f6ee9decdeeedda = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_46efc5e1ae47a7bf29b0221e84c9dd00.setIcon(icon_7d0de8402309ba879f6ee9decdeeedda);
        
    
        var popup_12d2bae8ad68a9f325498a22bf386675 = L.popup({"maxWidth": "100%"});

        
            var html_ebb6036434762548a2300fd0fccb07d8 = $(`<div id="html_ebb6036434762548a2300fd0fccb07d8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_12d2bae8ad68a9f325498a22bf386675.setContent(html_ebb6036434762548a2300fd0fccb07d8);
        

        marker_46efc5e1ae47a7bf29b0221e84c9dd00.bindPopup(popup_12d2bae8ad68a9f325498a22bf386675)
        ;

        
    
    
            marker_46efc5e1ae47a7bf29b0221e84c9dd00.bindTooltip(
                `<div>
                     IMMANUEL BAPTIST CHURCH DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8bd8599f0739867cf32234f755216a4c = L.marker(
                [36.04889639819325, -80.38828185926309],
                {}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var icon_fd52b0932230b1fd1ef52dee6b3b3588 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8bd8599f0739867cf32234f755216a4c.setIcon(icon_fd52b0932230b1fd1ef52dee6b3b3588);
        
    
        var popup_34a51d2a17a14be08244009ca5a83e32 = L.popup({"maxWidth": "100%"});

        
            var html_0a22e1209952ce13e40ecfa030fa915b = $(`<div id="html_0a22e1209952ce13e40ecfa030fa915b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_34a51d2a17a14be08244009ca5a83e32.setContent(html_0a22e1209952ce13e40ecfa030fa915b);
        

        marker_8bd8599f0739867cf32234f755216a4c.bindPopup(popup_34a51d2a17a14be08244009ca5a83e32)
        ;

        
    
    
            marker_8bd8599f0739867cf32234f755216a4c.bindTooltip(
                `<div>
                     IMPACT PREPARATORY CHRISTIAN ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_48279eca558e8b925238c095a2d7d1ba = L.marker(
                [36.066053413038496, -80.37422988369042],
                {}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var icon_67d01c06dfe840d299a1112553da78d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_48279eca558e8b925238c095a2d7d1ba.setIcon(icon_67d01c06dfe840d299a1112553da78d8);
        
    
        var popup_5198730ca897af96ad65fc44b8a16e39 = L.popup({"maxWidth": "100%"});

        
            var html_0e03e96853ff709c4febd791172acc94 = $(`<div id="html_0e03e96853ff709c4febd791172acc94" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5198730ca897af96ad65fc44b8a16e39.setContent(html_0e03e96853ff709c4febd791172acc94);
        

        marker_48279eca558e8b925238c095a2d7d1ba.bindPopup(popup_5198730ca897af96ad65fc44b8a16e39)
        ;

        
    
    
            marker_48279eca558e8b925238c095a2d7d1ba.bindTooltip(
                `<div>
                     MONTESSORI CHILDREN'S CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b6104888b102c2f102c2d86bcf8d0af5 = L.marker(
                [36.0294445, -80.38477433333333],
                {}
            ).addTo(map_e178d7f3226e7301a260079f4cb84f95);
        
    
            var icon_cdb5c94a8e0ed42cf9c74276fbc98a9e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b6104888b102c2f102c2d86bcf8d0af5.setIcon(icon_cdb5c94a8e0ed42cf9c74276fbc98a9e);
        
    
        var popup_4dc3b1de44839aaf7cf40938bb6700d1 = L.popup({"maxWidth": "100%"});

        
            var html_ce77dd9961917bb1f7e85ebcfc824dac = $(`<div id="html_ce77dd9961917bb1f7e85ebcfc824dac" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4dc3b1de44839aaf7cf40938bb6700d1.setContent(html_ce77dd9961917bb1f7e85ebcfc824dac);
        

        marker_b6104888b102c2f102c2d86bcf8d0af5.bindPopup(popup_4dc3b1de44839aaf7cf40938bb6700d1)
        ;

        
    
    
            marker_b6104888b102c2f102c2d86bcf8d0af5.bindTooltip(
                `<div>
                     NEW HORIZONS PRESCHOOL, INC.
                 </div>`,
                {"sticky": true}
            );
        
</script>