<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ad05f6b7830b067b0731a5b5dfebe439 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ad05f6b7830b067b0731a5b5dfebe439" ></div>
        
</body>
<script>    
    
            var map_ad05f6b7830b067b0731a5b5dfebe439 = L.map(
                "map_ad05f6b7830b067b0731a5b5dfebe439",
                {
                    center: [35.007118, -78.336938],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0cfeac788b3adad267efcf74b0803be8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var marker_80e2ae796973e9ccf730573b0b97e8bd = L.marker(
                [35.007118, -78.336938],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_feb9d0c9d4190fcd80a643ad0dfab011 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_80e2ae796973e9ccf730573b0b97e8bd.setIcon(icon_feb9d0c9d4190fcd80a643ad0dfab011);
        
    
        var popup_c25254e7cf7dd629d34e4beccc5f2047 = L.popup({"maxWidth": "100%"});

        
            var html_649f47e016787bb9c657238eb5c9f08d = $(`<div id="html_649f47e016787bb9c657238eb5c9f08d" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_c25254e7cf7dd629d34e4beccc5f2047.setContent(html_649f47e016787bb9c657238eb5c9f08d);
        

        marker_80e2ae796973e9ccf730573b0b97e8bd.bindPopup(popup_c25254e7cf7dd629d34e4beccc5f2047)
        ;

        
    
    
            marker_80e2ae796973e9ccf730573b0b97e8bd.bindTooltip(
                `<div>
                     AUDREY'S CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5158e1ce52b09c8347f89ad70c04ebf5 = L.marker(
                [34.9932712, -78.3550373],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_d573bbde358a5de3749c376d1dfd792e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5158e1ce52b09c8347f89ad70c04ebf5.setIcon(icon_d573bbde358a5de3749c376d1dfd792e);
        
    
        var popup_aed5b477ae2adaa0b14b1bb193433387 = L.popup({"maxWidth": "100%"});

        
            var html_258d101451ae4ece71dd01104e3f0f3d = $(`<div id="html_258d101451ae4ece71dd01104e3f0f3d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aed5b477ae2adaa0b14b1bb193433387.setContent(html_258d101451ae4ece71dd01104e3f0f3d);
        

        marker_5158e1ce52b09c8347f89ad70c04ebf5.bindPopup(popup_aed5b477ae2adaa0b14b1bb193433387)
        ;

        
    
    
            marker_5158e1ce52b09c8347f89ad70c04ebf5.bindTooltip(
                `<div>
                     BRIGHT BEGINNINGS CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d8738f49c490f89b934a8ac615cd1f23 = L.marker(
                [34.9961033687226, -78.32097041519839],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_d1b83bec361540147e7cb1293b10a303 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d8738f49c490f89b934a8ac615cd1f23.setIcon(icon_d1b83bec361540147e7cb1293b10a303);
        
    
        var popup_0d4adeec27425b38f00a5e7b7ce59e18 = L.popup({"maxWidth": "100%"});

        
            var html_7c463c06d18a175042392a9d7af28a00 = $(`<div id="html_7c463c06d18a175042392a9d7af28a00" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0d4adeec27425b38f00a5e7b7ce59e18.setContent(html_7c463c06d18a175042392a9d7af28a00);
        

        marker_d8738f49c490f89b934a8ac615cd1f23.bindPopup(popup_0d4adeec27425b38f00a5e7b7ce59e18)
        ;

        
    
    
            marker_d8738f49c490f89b934a8ac615cd1f23.bindTooltip(
                `<div>
                     CLASSY KIDZ CHILD CARE CENTER INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_425ac622d1f2b3c543f05e2e2c2efe8a = L.marker(
                [35.0018354, -78.3177964],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_cacf2b2e120e74d585950ce6db57f12c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_425ac622d1f2b3c543f05e2e2c2efe8a.setIcon(icon_cacf2b2e120e74d585950ce6db57f12c);
        
    
        var popup_fac67a7c6f6a48b8bde684a6d14cc27f = L.popup({"maxWidth": "100%"});

        
            var html_081e96d082dcee27ac3ac0d5a60996d6 = $(`<div id="html_081e96d082dcee27ac3ac0d5a60996d6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fac67a7c6f6a48b8bde684a6d14cc27f.setContent(html_081e96d082dcee27ac3ac0d5a60996d6);
        

        marker_425ac622d1f2b3c543f05e2e2c2efe8a.bindPopup(popup_fac67a7c6f6a48b8bde684a6d14cc27f)
        ;

        
    
    
            marker_425ac622d1f2b3c543f05e2e2c2efe8a.bindTooltip(
                `<div>
                     CLINTON HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fa093b5beef7aae67cc46bc46dfb9dbd = L.marker(
                [34.99991267471665, -78.33417876202392],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_171d3f307671d25cbd98d618e139ca55 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fa093b5beef7aae67cc46bc46dfb9dbd.setIcon(icon_171d3f307671d25cbd98d618e139ca55);
        
    
        var popup_a7a5a5f219f024e43e0d708d15b7fa08 = L.popup({"maxWidth": "100%"});

        
            var html_08982feb98436b0ab44b58c11573ce32 = $(`<div id="html_08982feb98436b0ab44b58c11573ce32" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a7a5a5f219f024e43e0d708d15b7fa08.setContent(html_08982feb98436b0ab44b58c11573ce32);
        

        marker_fa093b5beef7aae67cc46bc46dfb9dbd.bindPopup(popup_a7a5a5f219f024e43e0d708d15b7fa08)
        ;

        
    
    
            marker_fa093b5beef7aae67cc46bc46dfb9dbd.bindTooltip(
                `<div>
                     DOGWOOD CIRCLE HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_09851dc6a3a81d30d5581a89bd593844 = L.marker(
                [34.99307380049114, -78.31964497716324],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_e2c4589418eb1ad607497ff6b8c85bb2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_09851dc6a3a81d30d5581a89bd593844.setIcon(icon_e2c4589418eb1ad607497ff6b8c85bb2);
        
    
        var popup_9bc24b35a536dbbce89007e7078a677b = L.popup({"maxWidth": "100%"});

        
            var html_573604479fe9edae97b075999b52ba9b = $(`<div id="html_573604479fe9edae97b075999b52ba9b" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_9bc24b35a536dbbce89007e7078a677b.setContent(html_573604479fe9edae97b075999b52ba9b);
        

        marker_09851dc6a3a81d30d5581a89bd593844.bindPopup(popup_9bc24b35a536dbbce89007e7078a677b)
        ;

        
    
    
            marker_09851dc6a3a81d30d5581a89bd593844.bindTooltip(
                `<div>
                     DOLLY'S CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46e7d602ef0da41ea968592b89962d05 = L.marker(
                [35.010185, -78.319688],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_a72e0aa568e9bf17d9332e6863a46b47 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_46e7d602ef0da41ea968592b89962d05.setIcon(icon_a72e0aa568e9bf17d9332e6863a46b47);
        
    
        var popup_223400e471b845e322f66561f83780de = L.popup({"maxWidth": "100%"});

        
            var html_800b692145111eb7f89cd45407c47fae = $(`<div id="html_800b692145111eb7f89cd45407c47fae" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_223400e471b845e322f66561f83780de.setContent(html_800b692145111eb7f89cd45407c47fae);
        

        marker_46e7d602ef0da41ea968592b89962d05.bindPopup(popup_223400e471b845e322f66561f83780de)
        ;

        
    
    
            marker_46e7d602ef0da41ea968592b89962d05.bindTooltip(
                `<div>
                     GRACE UMC PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec6fe64f702edc7d49ebd8cb09c212c3 = L.marker(
                [34.990781, -78.312344],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_300d5368e54d91de571236a25a1bb971 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ec6fe64f702edc7d49ebd8cb09c212c3.setIcon(icon_300d5368e54d91de571236a25a1bb971);
        
    
        var popup_d1a02a02516607e8ad75a9a9d43d8361 = L.popup({"maxWidth": "100%"});

        
            var html_acec1f0977176b8b25870b0cf32f2dc0 = $(`<div id="html_acec1f0977176b8b25870b0cf32f2dc0" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_d1a02a02516607e8ad75a9a9d43d8361.setContent(html_acec1f0977176b8b25870b0cf32f2dc0);
        

        marker_ec6fe64f702edc7d49ebd8cb09c212c3.bindPopup(popup_d1a02a02516607e8ad75a9a9d43d8361)
        ;

        
    
    
            marker_ec6fe64f702edc7d49ebd8cb09c212c3.bindTooltip(
                `<div>
                     HICKS CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4329325b27396198d16018e03bed6096 = L.marker(
                [35.01392110204082, -78.32217408163265],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_b581a3ffcc3cecae4d71d45006dc0be2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4329325b27396198d16018e03bed6096.setIcon(icon_b581a3ffcc3cecae4d71d45006dc0be2);
        
    
        var popup_8b18489e793dd0e9628951e6b25bf951 = L.popup({"maxWidth": "100%"});

        
            var html_8d7e184efb933daf2c46fad4f44b6bdf = $(`<div id="html_8d7e184efb933daf2c46fad4f44b6bdf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8b18489e793dd0e9628951e6b25bf951.setContent(html_8d7e184efb933daf2c46fad4f44b6bdf);
        

        marker_4329325b27396198d16018e03bed6096.bindPopup(popup_8b18489e793dd0e9628951e6b25bf951)
        ;

        
    
    
            marker_4329325b27396198d16018e03bed6096.bindTooltip(
                `<div>
                     L.C. KERR SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc3c18cabad917c88d920a90159996f9 = L.marker(
                [35.00697383231628, -78.33542951095562],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_0fee666635cd58e76c9d333801dce724 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cc3c18cabad917c88d920a90159996f9.setIcon(icon_0fee666635cd58e76c9d333801dce724);
        
    
        var popup_3f4115199edeb68d9298937b35309359 = L.popup({"maxWidth": "100%"});

        
            var html_54e098865c540755b83f565a6a12392d = $(`<div id="html_54e098865c540755b83f565a6a12392d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3f4115199edeb68d9298937b35309359.setContent(html_54e098865c540755b83f565a6a12392d);
        

        marker_cc3c18cabad917c88d920a90159996f9.bindPopup(popup_3f4115199edeb68d9298937b35309359)
        ;

        
    
    
            marker_cc3c18cabad917c88d920a90159996f9.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_32d2bb9e5fa8a3d5a016a8f24191df03 = L.marker(
                [35.005078305129565, -78.33812348588569],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_039075b8bbb4f4ff7950d4e49b607251 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_32d2bb9e5fa8a3d5a016a8f24191df03.setIcon(icon_039075b8bbb4f4ff7950d4e49b607251);
        
    
        var popup_67b8f398dff809cf574b8532568b19ff = L.popup({"maxWidth": "100%"});

        
            var html_73b4d3a1bb578dc7dbe83d37c2ea5d5c = $(`<div id="html_73b4d3a1bb578dc7dbe83d37c2ea5d5c" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_67b8f398dff809cf574b8532568b19ff.setContent(html_73b4d3a1bb578dc7dbe83d37c2ea5d5c);
        

        marker_32d2bb9e5fa8a3d5a016a8f24191df03.bindPopup(popup_67b8f398dff809cf574b8532568b19ff)
        ;

        
    
    
            marker_32d2bb9e5fa8a3d5a016a8f24191df03.bindTooltip(
                `<div>
                     LOTTIE'S DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c0ed245ebcf57cec82e33e848c0f21dd = L.marker(
                [35.0279304, -78.3232111],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_eb71efce8c85d7690727ee6b6441304b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c0ed245ebcf57cec82e33e848c0f21dd.setIcon(icon_eb71efce8c85d7690727ee6b6441304b);
        
    
        var popup_9890b50c0e5daed20951bf6869387429 = L.popup({"maxWidth": "100%"});

        
            var html_ee539efb3db1de3a2d0511bb26d0e216 = $(`<div id="html_ee539efb3db1de3a2d0511bb26d0e216" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9890b50c0e5daed20951bf6869387429.setContent(html_ee539efb3db1de3a2d0511bb26d0e216);
        

        marker_c0ed245ebcf57cec82e33e848c0f21dd.bindPopup(popup_9890b50c0e5daed20951bf6869387429)
        ;

        
    
    
            marker_c0ed245ebcf57cec82e33e848c0f21dd.bindTooltip(
                `<div>
                     NEWKIRK'S CHILDCARE CENTER, INCORPORATED
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_db7507f4996c36a842b69cc0ed4fe0ec = L.marker(
                [34.9719507, -78.3224009],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_57e51cb6770a8deb79f55b9983654fbf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_db7507f4996c36a842b69cc0ed4fe0ec.setIcon(icon_57e51cb6770a8deb79f55b9983654fbf);
        
    
        var popup_4d1fcb32ea0e6167f1b9044706a852a1 = L.popup({"maxWidth": "100%"});

        
            var html_761835d7dab008ea0dcd7ee224c2283e = $(`<div id="html_761835d7dab008ea0dcd7ee224c2283e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4d1fcb32ea0e6167f1b9044706a852a1.setContent(html_761835d7dab008ea0dcd7ee224c2283e);
        

        marker_db7507f4996c36a842b69cc0ed4fe0ec.bindPopup(popup_4d1fcb32ea0e6167f1b9044706a852a1)
        ;

        
    
    
            marker_db7507f4996c36a842b69cc0ed4fe0ec.bindTooltip(
                `<div>
                     THE ARK CHILD CARE AND LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_82b0105931ae3afe924a0ebfd2cfbc3b = L.marker(
                [35.02494143007138, -78.32701048470832],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_f01a048407d68185561c920c773d6b84 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_82b0105931ae3afe924a0ebfd2cfbc3b.setIcon(icon_f01a048407d68185561c920c773d6b84);
        
    
        var popup_6a9d1c94593f39b6a2045fbda3c3f3df = L.popup({"maxWidth": "100%"});

        
            var html_4f6e186f33b9ea6713567a469c5bd1d4 = $(`<div id="html_4f6e186f33b9ea6713567a469c5bd1d4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6a9d1c94593f39b6a2045fbda3c3f3df.setContent(html_4f6e186f33b9ea6713567a469c5bd1d4);
        

        marker_82b0105931ae3afe924a0ebfd2cfbc3b.bindPopup(popup_6a9d1c94593f39b6a2045fbda3c3f3df)
        ;

        
    
    
            marker_82b0105931ae3afe924a0ebfd2cfbc3b.bindTooltip(
                `<div>
                     TODDLERS PRESCHOOL, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_217714cc67a00dc35e7a493ca0285796 = L.marker(
                [34.8261258, -78.2427833],
                {}
            ).addTo(map_ad05f6b7830b067b0731a5b5dfebe439);
        
    
            var icon_baa2f6c9bdb1ce766ac9ad2a3e737ae0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_217714cc67a00dc35e7a493ca0285796.setIcon(icon_baa2f6c9bdb1ce766ac9ad2a3e737ae0);
        
    
        var popup_cb652bad204367639bb0d9cf299560e0 = L.popup({"maxWidth": "100%"});

        
            var html_19406dcc4e149801c5d8755ec02a8d3e = $(`<div id="html_19406dcc4e149801c5d8755ec02a8d3e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cb652bad204367639bb0d9cf299560e0.setContent(html_19406dcc4e149801c5d8755ec02a8d3e);
        

        marker_217714cc67a00dc35e7a493ca0285796.bindPopup(popup_cb652bad204367639bb0d9cf299560e0)
        ;

        
    
    
            marker_217714cc67a00dc35e7a493ca0285796.bindTooltip(
                `<div>
                     UNION ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
</script>