<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_469e7a2c738df6962bacf1f61f163c22 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_469e7a2c738df6962bacf1f61f163c22" ></div>
        
</body>
<script>    
    
            var map_469e7a2c738df6962bacf1f61f163c22 = L.map(
                "map_469e7a2c738df6962bacf1f61f163c22",
                {
                    center: [35.5390818, -82.9300006],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cb9c85abfe5d2339d974b8bef67e1829 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_469e7a2c738df6962bacf1f61f163c22);
        
    
            var marker_1984d39ec4315a18c7b21ce60b013117 = L.marker(
                [35.5390818, -82.9300006],
                {}
            ).addTo(map_469e7a2c738df6962bacf1f61f163c22);
        
    
            var icon_387fd9890dcd5d4493ab851373a0fe29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1984d39ec4315a18c7b21ce60b013117.setIcon(icon_387fd9890dcd5d4493ab851373a0fe29);
        
    
        var popup_28b863f3f74a33e4652d6b04ef663e54 = L.popup({"maxWidth": "100%"});

        
            var html_dbd45d1b86d5d2c0edafda5fb91fe890 = $(`<div id="html_dbd45d1b86d5d2c0edafda5fb91fe890" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_28b863f3f74a33e4652d6b04ef663e54.setContent(html_dbd45d1b86d5d2c0edafda5fb91fe890);
        

        marker_1984d39ec4315a18c7b21ce60b013117.bindPopup(popup_28b863f3f74a33e4652d6b04ef663e54)
        ;

        
    
    
            marker_1984d39ec4315a18c7b21ce60b013117.bindTooltip(
                `<div>
                     CLYDE ELEMENTARY AFTER SCHOOL CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_64616b2b2c9cf69ed5ad09b87917192d = L.marker(
                [35.5390818, -82.9300006],
                {}
            ).addTo(map_469e7a2c738df6962bacf1f61f163c22);
        
    
            var icon_46c00f181bd7ff55cb22d8678b5fb5b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_64616b2b2c9cf69ed5ad09b87917192d.setIcon(icon_46c00f181bd7ff55cb22d8678b5fb5b5);
        
    
        var popup_7e0fc07882b32600e6c062d7c5784053 = L.popup({"maxWidth": "100%"});

        
            var html_4ffd2a68e34998b023c8c43419b3df51 = $(`<div id="html_4ffd2a68e34998b023c8c43419b3df51" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7e0fc07882b32600e6c062d7c5784053.setContent(html_4ffd2a68e34998b023c8c43419b3df51);
        

        marker_64616b2b2c9cf69ed5ad09b87917192d.bindPopup(popup_7e0fc07882b32600e6c062d7c5784053)
        ;

        
    
    
            marker_64616b2b2c9cf69ed5ad09b87917192d.bindTooltip(
                `<div>
                     CLYDE ELEMENTARY SCHOOL INTENSIVE INTERVENTION CLA
                 </div>`,
                {"sticky": true}
            );
        
</script>