<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4a16ee4c3f6d047ae3fd341d12efb428 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4a16ee4c3f6d047ae3fd341d12efb428" ></div>
        
</body>
<script>    
    
            var map_4a16ee4c3f6d047ae3fd341d12efb428 = L.map(
                "map_4a16ee4c3f6d047ae3fd341d12efb428",
                {
                    center: [35.926978, -81.67274293163912],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_878db0c35619ba1f1f809299f5be8836 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4a16ee4c3f6d047ae3fd341d12efb428);
        
    
            var marker_096c935134aac7cd73538079a9881250 = L.marker(
                [35.926978, -81.67274293163912],
                {}
            ).addTo(map_4a16ee4c3f6d047ae3fd341d12efb428);
        
    
            var icon_514a6edeba054dd3727e53b48e360bba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_096c935134aac7cd73538079a9881250.setIcon(icon_514a6edeba054dd3727e53b48e360bba);
        
    
        var popup_63f9d5c7b9329d5b36514d5a00e562c0 = L.popup({"maxWidth": "100%"});

        
            var html_99b02a6434c0c80fede9469704b628d0 = $(`<div id="html_99b02a6434c0c80fede9469704b628d0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_63f9d5c7b9329d5b36514d5a00e562c0.setContent(html_99b02a6434c0c80fede9469704b628d0);
        

        marker_096c935134aac7cd73538079a9881250.bindPopup(popup_63f9d5c7b9329d5b36514d5a00e562c0)
        ;

        
    
    
            marker_096c935134aac7cd73538079a9881250.bindTooltip(
                `<div>
                     COLLETTSVILLE PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0b0d10aa2b9e97984f40c866114fcfd7 = L.marker(
                [35.926978, -81.67274293163912],
                {}
            ).addTo(map_4a16ee4c3f6d047ae3fd341d12efb428);
        
    
            var icon_a67a0cfc17a3cde2b204eeeb4cedcbfc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0b0d10aa2b9e97984f40c866114fcfd7.setIcon(icon_a67a0cfc17a3cde2b204eeeb4cedcbfc);
        
    
        var popup_e687bcb392813654a17eddcf87a8a781 = L.popup({"maxWidth": "100%"});

        
            var html_49acc70dbdb1335eff155a888bfb463b = $(`<div id="html_49acc70dbdb1335eff155a888bfb463b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e687bcb392813654a17eddcf87a8a781.setContent(html_49acc70dbdb1335eff155a888bfb463b);
        

        marker_0b0d10aa2b9e97984f40c866114fcfd7.bindPopup(popup_e687bcb392813654a17eddcf87a8a781)
        ;

        
    
    
            marker_0b0d10aa2b9e97984f40c866114fcfd7.bindTooltip(
                `<div>
                     COLLETTSVILLE PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8e4aa791a045a502d363ed296a686c09 = L.marker(
                [35.926978, -81.67274293163912],
                {}
            ).addTo(map_4a16ee4c3f6d047ae3fd341d12efb428);
        
    
            var icon_81f9d53e956a6759db1e27c50fa56390 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8e4aa791a045a502d363ed296a686c09.setIcon(icon_81f9d53e956a6759db1e27c50fa56390);
        
    
        var popup_36f7bfcded7270106e6cbbeb8e95953c = L.popup({"maxWidth": "100%"});

        
            var html_664e4d674e4ee2aa1cd7a13fcedc9afa = $(`<div id="html_664e4d674e4ee2aa1cd7a13fcedc9afa" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_36f7bfcded7270106e6cbbeb8e95953c.setContent(html_664e4d674e4ee2aa1cd7a13fcedc9afa);
        

        marker_8e4aa791a045a502d363ed296a686c09.bindPopup(popup_36f7bfcded7270106e6cbbeb8e95953c)
        ;

        
    
    
            marker_8e4aa791a045a502d363ed296a686c09.bindTooltip(
                `<div>
                     COLLETTSVILLE PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3a1947d63a95e23fa657540bb88b4264 = L.marker(
                [35.926978, -81.67274293163912],
                {}
            ).addTo(map_4a16ee4c3f6d047ae3fd341d12efb428);
        
    
            var icon_5bf873a742ecca88d6959e9cf22559fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3a1947d63a95e23fa657540bb88b4264.setIcon(icon_5bf873a742ecca88d6959e9cf22559fa);
        
    
        var popup_084b20e39d4ad91adbcaf79731c614b2 = L.popup({"maxWidth": "100%"});

        
            var html_1c95a8c8f97777cd69fae2e97411de0b = $(`<div id="html_1c95a8c8f97777cd69fae2e97411de0b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_084b20e39d4ad91adbcaf79731c614b2.setContent(html_1c95a8c8f97777cd69fae2e97411de0b);
        

        marker_3a1947d63a95e23fa657540bb88b4264.bindPopup(popup_084b20e39d4ad91adbcaf79731c614b2)
        ;

        
    
    
            marker_3a1947d63a95e23fa657540bb88b4264.bindTooltip(
                `<div>
                     COLLETTSVILLE PRE-K
                 </div>`,
                {"sticky": true}
            );
        
</script>