<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7e08bbfb52bd4b0c79f7f97d76b637a7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7e08bbfb52bd4b0c79f7f97d76b637a7" ></div>
        
</body>
<script>    
    
            var map_7e08bbfb52bd4b0c79f7f97d76b637a7 = L.map(
                "map_7e08bbfb52bd4b0c79f7f97d76b637a7",
                {
                    center: [36.13007213947024, -78.68083132151926],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1085c4aca574c5d99d13531169a9ced4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7e08bbfb52bd4b0c79f7f97d76b637a7);
        
    
            var marker_c15c65b08da392290464b6f71c6ad4aa = L.marker(
                [36.13007213947024, -78.68083132151926],
                {}
            ).addTo(map_7e08bbfb52bd4b0c79f7f97d76b637a7);
        
    
            var icon_c11775f930d4214dd4dbcdd2083da781 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c15c65b08da392290464b6f71c6ad4aa.setIcon(icon_c11775f930d4214dd4dbcdd2083da781);
        
    
        var popup_8df5192dbb48baac77370b9a105ef513 = L.popup({"maxWidth": "100%"});

        
            var html_ea98292844be0cd2629baf2b1a0b22f6 = $(`<div id="html_ea98292844be0cd2629baf2b1a0b22f6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8df5192dbb48baac77370b9a105ef513.setContent(html_ea98292844be0cd2629baf2b1a0b22f6);
        

        marker_c15c65b08da392290464b6f71c6ad4aa.bindPopup(popup_8df5192dbb48baac77370b9a105ef513)
        ;

        
    
    
            marker_c15c65b08da392290464b6f71c6ad4aa.bindTooltip(
                `<div>
                     1ST PLACE ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9220923db01934a5844a505fb7ba841f = L.marker(
                [36.1157897, -78.6784901],
                {}
            ).addTo(map_7e08bbfb52bd4b0c79f7f97d76b637a7);
        
    
            var icon_fb5301ca9a2bd8efa376fd7693b63c3f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9220923db01934a5844a505fb7ba841f.setIcon(icon_fb5301ca9a2bd8efa376fd7693b63c3f);
        
    
        var popup_8d680362244c0d9c07a1ad3f804c6bfd = L.popup({"maxWidth": "100%"});

        
            var html_b8619ff505021b66e078a8e33e77d3c6 = $(`<div id="html_b8619ff505021b66e078a8e33e77d3c6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8d680362244c0d9c07a1ad3f804c6bfd.setContent(html_b8619ff505021b66e078a8e33e77d3c6);
        

        marker_9220923db01934a5844a505fb7ba841f.bindPopup(popup_8d680362244c0d9c07a1ad3f804c6bfd)
        ;

        
    
    
            marker_9220923db01934a5844a505fb7ba841f.bindTooltip(
                `<div>
                     CHRISTIAN FAITH CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6466c5aba1fd26ff1aafe0208f9fc9c0 = L.marker(
                [36.122112542251145, -78.68084672134847],
                {}
            ).addTo(map_7e08bbfb52bd4b0c79f7f97d76b637a7);
        
    
            var icon_67968751950dc91a14b9ccd4488c8b57 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6466c5aba1fd26ff1aafe0208f9fc9c0.setIcon(icon_67968751950dc91a14b9ccd4488c8b57);
        
    
        var popup_349ef45103ba642b5d9d8fb660029e54 = L.popup({"maxWidth": "100%"});

        
            var html_7ee51ba534dbd4561f0bf24c3f44552b = $(`<div id="html_7ee51ba534dbd4561f0bf24c3f44552b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_349ef45103ba642b5d9d8fb660029e54.setContent(html_7ee51ba534dbd4561f0bf24c3f44552b);
        

        marker_6466c5aba1fd26ff1aafe0208f9fc9c0.bindPopup(popup_349ef45103ba642b5d9d8fb660029e54)
        ;

        
    
    
            marker_6466c5aba1fd26ff1aafe0208f9fc9c0.bindTooltip(
                `<div>
                     CREEDMOOR ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b4be41974e361063c3212531c809b840 = L.marker(
                [36.122112542251145, -78.68084672134847],
                {}
            ).addTo(map_7e08bbfb52bd4b0c79f7f97d76b637a7);
        
    
            var icon_860a706e0382771adb94d298b3598e39 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b4be41974e361063c3212531c809b840.setIcon(icon_860a706e0382771adb94d298b3598e39);
        
    
        var popup_e0adc18518935eaafcdcb114ec161792 = L.popup({"maxWidth": "100%"});

        
            var html_6f0c38d91857df13ac8d22010a04d04d = $(`<div id="html_6f0c38d91857df13ac8d22010a04d04d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e0adc18518935eaafcdcb114ec161792.setContent(html_6f0c38d91857df13ac8d22010a04d04d);
        

        marker_b4be41974e361063c3212531c809b840.bindPopup(popup_e0adc18518935eaafcdcb114ec161792)
        ;

        
    
    
            marker_b4be41974e361063c3212531c809b840.bindTooltip(
                `<div>
                     CREEDMOOR'S BEFORE AND AFTER SCHOOL PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_269699853e0b33c6e406479f10320166 = L.marker(
                [36.1159488, -78.6870763],
                {}
            ).addTo(map_7e08bbfb52bd4b0c79f7f97d76b637a7);
        
    
            var icon_0682c7f48eb7dc316c3d04614fff2353 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_269699853e0b33c6e406479f10320166.setIcon(icon_0682c7f48eb7dc316c3d04614fff2353);
        
    
        var popup_f148f7119e7e19cbb93dffcad56821c3 = L.popup({"maxWidth": "100%"});

        
            var html_4697e69248c9b0445930430758b63c33 = $(`<div id="html_4697e69248c9b0445930430758b63c33" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f148f7119e7e19cbb93dffcad56821c3.setContent(html_4697e69248c9b0445930430758b63c33);
        

        marker_269699853e0b33c6e406479f10320166.bindPopup(popup_f148f7119e7e19cbb93dffcad56821c3)
        ;

        
    
    
            marker_269699853e0b33c6e406479f10320166.bindTooltip(
                `<div>
                     FBC ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
</script>