<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7213a23a2ac7450ef93b5d208c0cf167 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7213a23a2ac7450ef93b5d208c0cf167" ></div>
        
</body>
<script>    
    
            var map_7213a23a2ac7450ef93b5d208c0cf167 = L.map(
                "map_7213a23a2ac7450ef93b5d208c0cf167",
                {
                    center: [36.41838635, -80.2291613544127],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ea3737cae194462bc22df503e2ae01ec = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7213a23a2ac7450ef93b5d208c0cf167);
        
    
            var marker_4ee617fe49c36aa9cb079ad0af270e60 = L.marker(
                [36.41838635, -80.2291613544127],
                {}
            ).addTo(map_7213a23a2ac7450ef93b5d208c0cf167);
        
    
            var icon_30973c052edaea81645edf67cdfa2ff2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4ee617fe49c36aa9cb079ad0af270e60.setIcon(icon_30973c052edaea81645edf67cdfa2ff2);
        
    
        var popup_acd377037ce267c6ce85ad48ab0e3e38 = L.popup({"maxWidth": "100%"});

        
            var html_75454a173c10b22859aa608514ea0b1d = $(`<div id="html_75454a173c10b22859aa608514ea0b1d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_acd377037ce267c6ce85ad48ab0e3e38.setContent(html_75454a173c10b22859aa608514ea0b1d);
        

        marker_4ee617fe49c36aa9cb079ad0af270e60.bindPopup(popup_acd377037ce267c6ce85ad48ab0e3e38)
        ;

        
    
    
            marker_4ee617fe49c36aa9cb079ad0af270e60.bindTooltip(
                `<div>
                     DANBURY HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>