<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a8daac22665193651a0a9ccf7656df30 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a8daac22665193651a0a9ccf7656df30" ></div>
        
</body>
<script>    
    
            var map_a8daac22665193651a0a9ccf7656df30 = L.map(
                "map_a8daac22665193651a0a9ccf7656df30",
                {
                    center: [35.63347470036883, -80.1202128667818],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dc3bdee3da8d227c7a16d0f4594dd1ba = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a8daac22665193651a0a9ccf7656df30);
        
    
            var marker_6fa248f8d52cc5a158cc126efc310614 = L.marker(
                [35.63347470036883, -80.1202128667818],
                {}
            ).addTo(map_a8daac22665193651a0a9ccf7656df30);
        
    
            var icon_be606296c85f660c718b0ec46a644dfa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6fa248f8d52cc5a158cc126efc310614.setIcon(icon_be606296c85f660c718b0ec46a644dfa);
        
    
        var popup_3640e3f0cbbc68f50fddf81e46bbdc31 = L.popup({"maxWidth": "100%"});

        
            var html_69e1083f7930166a2d322a5118e59e56 = $(`<div id="html_69e1083f7930166a2d322a5118e59e56" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3640e3f0cbbc68f50fddf81e46bbdc31.setContent(html_69e1083f7930166a2d322a5118e59e56);
        

        marker_6fa248f8d52cc5a158cc126efc310614.bindPopup(popup_3640e3f0cbbc68f50fddf81e46bbdc31)
        ;

        
    
    
            marker_6fa248f8d52cc5a158cc126efc310614.bindTooltip(
                `<div>
                     DENTON PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>