<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a9cc0da4daf0666ad044cb6f26184213 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a9cc0da4daf0666ad044cb6f26184213" ></div>
        
</body>
<script>    
    
            var map_a9cc0da4daf0666ad044cb6f26184213 = L.map(
                "map_a9cc0da4daf0666ad044cb6f26184213",
                {
                    center: [36.394493, -80.7261],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0dca024ba6eb2c840d69e192ab9efbb8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a9cc0da4daf0666ad044cb6f26184213);
        
    
            var marker_c225122228e0234afa7d9282641ca1d7 = L.marker(
                [36.394493, -80.7261],
                {}
            ).addTo(map_a9cc0da4daf0666ad044cb6f26184213);
        
    
            var icon_2af1fe406048ceba570a864177d765d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c225122228e0234afa7d9282641ca1d7.setIcon(icon_2af1fe406048ceba570a864177d765d2);
        
    
        var popup_326ab418eb076ffa48721efceac624fc = L.popup({"maxWidth": "100%"});

        
            var html_5254282d844ba1af9b70970425fb0755 = $(`<div id="html_5254282d844ba1af9b70970425fb0755" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_326ab418eb076ffa48721efceac624fc.setContent(html_5254282d844ba1af9b70970425fb0755);
        

        marker_c225122228e0234afa7d9282641ca1d7.bindPopup(popup_326ab418eb076ffa48721efceac624fc)
        ;

        
    
    
            marker_c225122228e0234afa7d9282641ca1d7.bindTooltip(
                `<div>
                     DOBSON ELEMENTARY SCHOOL PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_80ff92fa7f0dbf1fb9d64075b26d0151 = L.marker(
                [36.398068184283765, -80.73244376425643],
                {}
            ).addTo(map_a9cc0da4daf0666ad044cb6f26184213);
        
    
            var icon_7e214e3539dba34b8fe13a766e89d712 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_80ff92fa7f0dbf1fb9d64075b26d0151.setIcon(icon_7e214e3539dba34b8fe13a766e89d712);
        
    
        var popup_d4e3fed692a37f55d2487e05ba27ce33 = L.popup({"maxWidth": "100%"});

        
            var html_288e8bc1c44bd1eec1601c86f0dfb8d1 = $(`<div id="html_288e8bc1c44bd1eec1601c86f0dfb8d1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d4e3fed692a37f55d2487e05ba27ce33.setContent(html_288e8bc1c44bd1eec1601c86f0dfb8d1);
        

        marker_80ff92fa7f0dbf1fb9d64075b26d0151.bindPopup(popup_d4e3fed692a37f55d2487e05ba27ce33)
        ;

        
    
    
            marker_80ff92fa7f0dbf1fb9d64075b26d0151.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cead787d528a4a6bc09c7473632a3a5a = L.marker(
                [36.385304, -80.713238],
                {}
            ).addTo(map_a9cc0da4daf0666ad044cb6f26184213);
        
    
            var icon_261099b18bea1bf311625eda09130186 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cead787d528a4a6bc09c7473632a3a5a.setIcon(icon_261099b18bea1bf311625eda09130186);
        
    
        var popup_8cadfc3a40d922dc01dadde4e41f6de0 = L.popup({"maxWidth": "100%"});

        
            var html_253fb63ee4ec87929b28cb38085fe528 = $(`<div id="html_253fb63ee4ec87929b28cb38085fe528" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8cadfc3a40d922dc01dadde4e41f6de0.setContent(html_253fb63ee4ec87929b28cb38085fe528);
        

        marker_cead787d528a4a6bc09c7473632a3a5a.bindPopup(popup_8cadfc3a40d922dc01dadde4e41f6de0)
        ;

        
    
    
            marker_cead787d528a4a6bc09c7473632a3a5a.bindTooltip(
                `<div>
                     ROCKFORD ELEMENTARY SCHOOL PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_15ce3d05a303b8bf80eb4abd51518385 = L.marker(
                [36.381402, -80.713466],
                {}
            ).addTo(map_a9cc0da4daf0666ad044cb6f26184213);
        
    
            var icon_ad77d9a8020f9bf66dc63359d913c1db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_15ce3d05a303b8bf80eb4abd51518385.setIcon(icon_ad77d9a8020f9bf66dc63359d913c1db);
        
    
        var popup_9da7ded4e38d6e2206722d6d0a5cef31 = L.popup({"maxWidth": "100%"});

        
            var html_18536b81c045b7e5703f67a84e5e929d = $(`<div id="html_18536b81c045b7e5703f67a84e5e929d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9da7ded4e38d6e2206722d6d0a5cef31.setContent(html_18536b81c045b7e5703f67a84e5e929d);
        

        marker_15ce3d05a303b8bf80eb4abd51518385.bindPopup(popup_9da7ded4e38d6e2206722d6d0a5cef31)
        ;

        
    
    
            marker_15ce3d05a303b8bf80eb4abd51518385.bindTooltip(
                `<div>
                     TINY HANDS CHILD CARE OF DOBSON
                 </div>`,
                {"sticky": true}
            );
        
</script>