<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_53020b1366b5812d2c836af3a7ef73b0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_53020b1366b5812d2c836af3a7ef73b0" ></div>
        
</body>
<script>    
    
            var map_53020b1366b5812d2c836af3a7ef73b0 = L.map(
                "map_53020b1366b5812d2c836af3a7ef73b0",
                {
                    center: [35.3119311415637, -78.61653354631105],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_64e1138ed321bc13b3465dff94663a34 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_53020b1366b5812d2c836af3a7ef73b0);
        
    
            var marker_b3959bd85729def30b7ca678d746439e = L.marker(
                [35.3119311415637, -78.61653354631105],
                {}
            ).addTo(map_53020b1366b5812d2c836af3a7ef73b0);
        
    
            var icon_f45312b9bcbd53cc0b0f6e0dad7fecd4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b3959bd85729def30b7ca678d746439e.setIcon(icon_f45312b9bcbd53cc0b0f6e0dad7fecd4);
        
    
        var popup_82226c145208f4c922a24123dbaee6d0 = L.popup({"maxWidth": "100%"});

        
            var html_f058679bb98d07538707f494ba22cf97 = $(`<div id="html_f058679bb98d07538707f494ba22cf97" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_82226c145208f4c922a24123dbaee6d0.setContent(html_f058679bb98d07538707f494ba22cf97);
        

        marker_b3959bd85729def30b7ca678d746439e.bindPopup(popup_82226c145208f4c922a24123dbaee6d0)
        ;

        
    
    
            marker_b3959bd85729def30b7ca678d746439e.bindTooltip(
                `<div>
                     BUTTONS-N-BOWS CHILD DEVELOPMENT CENTER, INC. #II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e88a0d499bde8af0648e74558478eb1e = L.marker(
                [35.3134518, -78.6149978],
                {}
            ).addTo(map_53020b1366b5812d2c836af3a7ef73b0);
        
    
            var icon_88fdfa763a88f3d86edd0a4985374895 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e88a0d499bde8af0648e74558478eb1e.setIcon(icon_88fdfa763a88f3d86edd0a4985374895);
        
    
        var popup_cef4427d78dfeca1c0976b117e9eed4a = L.popup({"maxWidth": "100%"});

        
            var html_d6ef371349ac0b885ed23c58eda06af9 = $(`<div id="html_d6ef371349ac0b885ed23c58eda06af9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cef4427d78dfeca1c0976b117e9eed4a.setContent(html_d6ef371349ac0b885ed23c58eda06af9);
        

        marker_e88a0d499bde8af0648e74558478eb1e.bindPopup(popup_cef4427d78dfeca1c0976b117e9eed4a)
        ;

        
    
    
            marker_e88a0d499bde8af0648e74558478eb1e.bindTooltip(
                `<div>
                     DUNN ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_539114502775cdfde4171a0fb5dddf0e = L.marker(
                [35.31123720139125, -78.60054433953778],
                {}
            ).addTo(map_53020b1366b5812d2c836af3a7ef73b0);
        
    
            var icon_bbe189113ddb9518fb9374055459d472 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_539114502775cdfde4171a0fb5dddf0e.setIcon(icon_bbe189113ddb9518fb9374055459d472);
        
    
        var popup_47157e5abb82d0208ec304c09105aafb = L.popup({"maxWidth": "100%"});

        
            var html_05dc2f53738c9d96692711595b79b7f8 = $(`<div id="html_05dc2f53738c9d96692711595b79b7f8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_47157e5abb82d0208ec304c09105aafb.setContent(html_05dc2f53738c9d96692711595b79b7f8);
        

        marker_539114502775cdfde4171a0fb5dddf0e.bindPopup(popup_47157e5abb82d0208ec304c09105aafb)
        ;

        
    
    
            marker_539114502775cdfde4171a0fb5dddf0e.bindTooltip(
                `<div>
                     DUNN HEAD START LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cb7e80de0c0bb076b8bd11d8fa001e97 = L.marker(
                [35.312350880046665, -78.58809144417135],
                {}
            ).addTo(map_53020b1366b5812d2c836af3a7ef73b0);
        
    
            var icon_9ea0ff75c3dc58fc47109f74b9cf8d01 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_cb7e80de0c0bb076b8bd11d8fa001e97.setIcon(icon_9ea0ff75c3dc58fc47109f74b9cf8d01);
        
    
        var popup_e651bfa91f0dd85547d377aa7a84f689 = L.popup({"maxWidth": "100%"});

        
            var html_74eb167e4f06025131c822ae6e5433c8 = $(`<div id="html_74eb167e4f06025131c822ae6e5433c8" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_e651bfa91f0dd85547d377aa7a84f689.setContent(html_74eb167e4f06025131c822ae6e5433c8);
        

        marker_cb7e80de0c0bb076b8bd11d8fa001e97.bindPopup(popup_e651bfa91f0dd85547d377aa7a84f689)
        ;

        
    
    
            marker_cb7e80de0c0bb076b8bd11d8fa001e97.bindTooltip(
                `<div>
                     FREDA'S CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_629d467d499903fb32f089120dd4f1f6 = L.marker(
                [35.32047082492866, -78.63406328380596],
                {}
            ).addTo(map_53020b1366b5812d2c836af3a7ef73b0);
        
    
            var icon_44909bb5e31d7723dec6375100441958 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_629d467d499903fb32f089120dd4f1f6.setIcon(icon_44909bb5e31d7723dec6375100441958);
        
    
        var popup_01f42ca3680193be20918300483b7616 = L.popup({"maxWidth": "100%"});

        
            var html_ab1ef08fef4e3bc609e619ca2f636f2a = $(`<div id="html_ab1ef08fef4e3bc609e619ca2f636f2a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_01f42ca3680193be20918300483b7616.setContent(html_ab1ef08fef4e3bc609e619ca2f636f2a);
        

        marker_629d467d499903fb32f089120dd4f1f6.bindPopup(popup_01f42ca3680193be20918300483b7616)
        ;

        
    
    
            marker_629d467d499903fb32f089120dd4f1f6.bindTooltip(
                `<div>
                     GOSPEL TABERNACLE ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c98c995de93e2f5cfe9fbc42c662105 = L.marker(
                [35.304238530158905, -78.6277191445686],
                {}
            ).addTo(map_53020b1366b5812d2c836af3a7ef73b0);
        
    
            var icon_19b41dc963d6ecdc0719517f30e9611b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1c98c995de93e2f5cfe9fbc42c662105.setIcon(icon_19b41dc963d6ecdc0719517f30e9611b);
        
    
        var popup_e363c80db9bb532dd3f4a1f6ef93ae9a = L.popup({"maxWidth": "100%"});

        
            var html_e95b20bea748e58da5ced4aa38a8adb2 = $(`<div id="html_e95b20bea748e58da5ced4aa38a8adb2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e363c80db9bb532dd3f4a1f6ef93ae9a.setContent(html_e95b20bea748e58da5ced4aa38a8adb2);
        

        marker_1c98c995de93e2f5cfe9fbc42c662105.bindPopup(popup_e363c80db9bb532dd3f4a1f6ef93ae9a)
        ;

        
    
    
            marker_1c98c995de93e2f5cfe9fbc42c662105.bindTooltip(
                `<div>
                     LITTLE IVY LEAGUE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0916f850875129826249a52623149d3e = L.marker(
                [35.303203, -78.601291],
                {}
            ).addTo(map_53020b1366b5812d2c836af3a7ef73b0);
        
    
            var icon_6a722c305f8ed626f464d328d11cc820 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0916f850875129826249a52623149d3e.setIcon(icon_6a722c305f8ed626f464d328d11cc820);
        
    
        var popup_ae97d3eb06907965bbe5d975d9dcd5ea = L.popup({"maxWidth": "100%"});

        
            var html_b8c2d38d9044e9efe4d107d4faaad89d = $(`<div id="html_b8c2d38d9044e9efe4d107d4faaad89d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ae97d3eb06907965bbe5d975d9dcd5ea.setContent(html_b8c2d38d9044e9efe4d107d4faaad89d);
        

        marker_0916f850875129826249a52623149d3e.bindPopup(popup_ae97d3eb06907965bbe5d975d9dcd5ea)
        ;

        
    
    
            marker_0916f850875129826249a52623149d3e.bindTooltip(
                `<div>
                     LITTLE SPROUTS LEARNING CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
</script>