<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c44a9c66fe7d4689732ef766cbc2f3c7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c44a9c66fe7d4689732ef766cbc2f3c7" ></div>
        
</body>
<script>    
    
            var map_c44a9c66fe7d4689732ef766cbc2f3c7 = L.map(
                "map_c44a9c66fe7d4689732ef766cbc2f3c7",
                {
                    center: [36.24605819694547, -80.85436354627048],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e038e75d24707af2edb807634362dc02 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c44a9c66fe7d4689732ef766cbc2f3c7);
        
    
            var marker_5a837fe2eab2af707618823c5d93d519 = L.marker(
                [36.24605819694547, -80.85436354627048],
                {}
            ).addTo(map_c44a9c66fe7d4689732ef766cbc2f3c7);
        
    
            var icon_54d64d73729bdd1a3e6ee984854188bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5a837fe2eab2af707618823c5d93d519.setIcon(icon_54d64d73729bdd1a3e6ee984854188bd);
        
    
        var popup_c074ef5a14a6ccfeddc67ce0514f14bb = L.popup({"maxWidth": "100%"});

        
            var html_ee53d8096cabed96ac3dbf79b21e04a9 = $(`<div id="html_ee53d8096cabed96ac3dbf79b21e04a9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c074ef5a14a6ccfeddc67ce0514f14bb.setContent(html_ee53d8096cabed96ac3dbf79b21e04a9);
        

        marker_5a837fe2eab2af707618823c5d93d519.bindPopup(popup_c074ef5a14a6ccfeddc67ce0514f14bb)
        ;

        
    
    
            marker_5a837fe2eab2af707618823c5d93d519.bindTooltip(
                `<div>
                     ELKIN ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_204545275d4665e114073b4cb4e9d62d = L.marker(
                [36.26907195237919, -80.83956447845637],
                {}
            ).addTo(map_c44a9c66fe7d4689732ef766cbc2f3c7);
        
    
            var icon_a04ae722965b36d50a625b846fb3cac0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_204545275d4665e114073b4cb4e9d62d.setIcon(icon_a04ae722965b36d50a625b846fb3cac0);
        
    
        var popup_ed23b302a6148dfd83a91c543e7d528c = L.popup({"maxWidth": "100%"});

        
            var html_3cab27b72aedc6b97fa5c65e15a8df3a = $(`<div id="html_3cab27b72aedc6b97fa5c65e15a8df3a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ed23b302a6148dfd83a91c543e7d528c.setContent(html_3cab27b72aedc6b97fa5c65e15a8df3a);
        

        marker_204545275d4665e114073b4cb4e9d62d.bindPopup(popup_ed23b302a6148dfd83a91c543e7d528c)
        ;

        
    
    
            marker_204545275d4665e114073b4cb4e9d62d.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f21c22f798aec3f446368fc6259e91d7 = L.marker(
                [36.276078, -80.842966],
                {}
            ).addTo(map_c44a9c66fe7d4689732ef766cbc2f3c7);
        
    
            var icon_c87a56757d703d5c0f725af6a67818e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f21c22f798aec3f446368fc6259e91d7.setIcon(icon_c87a56757d703d5c0f725af6a67818e9);
        
    
        var popup_cadbf5148b99657cafff6fc0af313064 = L.popup({"maxWidth": "100%"});

        
            var html_e45a7e042b041d2ca7045a3add03be22 = $(`<div id="html_e45a7e042b041d2ca7045a3add03be22" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cadbf5148b99657cafff6fc0af313064.setContent(html_e45a7e042b041d2ca7045a3add03be22);
        

        marker_f21c22f798aec3f446368fc6259e91d7.bindPopup(popup_cadbf5148b99657cafff6fc0af313064)
        ;

        
    
    
            marker_f21c22f798aec3f446368fc6259e91d7.bindTooltip(
                `<div>
                     OAK GROVE HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>