<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7dd74371a507052a8d894b653bf46f34 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7dd74371a507052a8d894b653bf46f34" ></div>
        
</body>
<script>    
    
            var map_7dd74371a507052a8d894b653bf46f34 = L.map(
                "map_7dd74371a507052a8d894b653bf46f34",
                {
                    center: [35.327670387755106, -78.66273773469388],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_49042ef3127acd06e68ac2e88bcbda66 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7dd74371a507052a8d894b653bf46f34);
        
    
            var marker_ad7cef3b20a18757deab45a88e7f93de = L.marker(
                [35.327670387755106, -78.66273773469388],
                {}
            ).addTo(map_7dd74371a507052a8d894b653bf46f34);
        
    
            var icon_f7dff89e8908c983019812d05ff2b2c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ad7cef3b20a18757deab45a88e7f93de.setIcon(icon_f7dff89e8908c983019812d05ff2b2c1);
        
    
        var popup_4e68c80f48c6cfb77f9a14b79de1a6ae = L.popup({"maxWidth": "100%"});

        
            var html_77271c5ea6a7a1215c946ed38c186193 = $(`<div id="html_77271c5ea6a7a1215c946ed38c186193" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4e68c80f48c6cfb77f9a14b79de1a6ae.setContent(html_77271c5ea6a7a1215c946ed38c186193);
        

        marker_ad7cef3b20a18757deab45a88e7f93de.bindPopup(popup_4e68c80f48c6cfb77f9a14b79de1a6ae)
        ;

        
    
    
            marker_ad7cef3b20a18757deab45a88e7f93de.bindTooltip(
                `<div>
                     ADVENTURES UNDER THE SUN CHILDCARE DEV. CENTER, IN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8a70a1f112a742bef64e591231296ef0 = L.marker(
                [35.3260346122449, -78.67242248979592],
                {}
            ).addTo(map_7dd74371a507052a8d894b653bf46f34);
        
    
            var icon_8c9402ad748b5fd847c6eb08abea42ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8a70a1f112a742bef64e591231296ef0.setIcon(icon_8c9402ad748b5fd847c6eb08abea42ad);
        
    
        var popup_155e0dd2a02e5c0e20ffb00bdd896f91 = L.popup({"maxWidth": "100%"});

        
            var html_9b53265767d4e2ef2874a35e5ee22e9c = $(`<div id="html_9b53265767d4e2ef2874a35e5ee22e9c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_155e0dd2a02e5c0e20ffb00bdd896f91.setContent(html_9b53265767d4e2ef2874a35e5ee22e9c);
        

        marker_8a70a1f112a742bef64e591231296ef0.bindPopup(popup_155e0dd2a02e5c0e20ffb00bdd896f91)
        ;

        
    
    
            marker_8a70a1f112a742bef64e591231296ef0.bindTooltip(
                `<div>
                     BULLFROGS & BUTTERFLIES
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a12ac011f24e24a835349849052b2d3 = L.marker(
                [35.33588, -78.6685],
                {}
            ).addTo(map_7dd74371a507052a8d894b653bf46f34);
        
    
            var icon_5444dddfb20773ba63799e93a4c3c810 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4a12ac011f24e24a835349849052b2d3.setIcon(icon_5444dddfb20773ba63799e93a4c3c810);
        
    
        var popup_aad35739c7b86166ec02840b3079b3f2 = L.popup({"maxWidth": "100%"});

        
            var html_41533f48078e61ece0716d1a92622a0a = $(`<div id="html_41533f48078e61ece0716d1a92622a0a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aad35739c7b86166ec02840b3079b3f2.setContent(html_41533f48078e61ece0716d1a92622a0a);
        

        marker_4a12ac011f24e24a835349849052b2d3.bindPopup(popup_aad35739c7b86166ec02840b3079b3f2)
        ;

        
    
    
            marker_4a12ac011f24e24a835349849052b2d3.bindTooltip(
                `<div>
                     BUSY BEE LEARNING CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c0fb0c0324f462fcfff1b4d74ddafd8 = L.marker(
                [35.33803158894575, -78.67499119370127],
                {}
            ).addTo(map_7dd74371a507052a8d894b653bf46f34);
        
    
            var icon_00b3a35a2acd661b82bee6a10bd817be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_6c0fb0c0324f462fcfff1b4d74ddafd8.setIcon(icon_00b3a35a2acd661b82bee6a10bd817be);
        
    
        var popup_3d67c595d82aecefa5c7082f9676b363 = L.popup({"maxWidth": "100%"});

        
            var html_1e4cb06d0651569cf59286efe41a1c63 = $(`<div id="html_1e4cb06d0651569cf59286efe41a1c63" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_3d67c595d82aecefa5c7082f9676b363.setContent(html_1e4cb06d0651569cf59286efe41a1c63);
        

        marker_6c0fb0c0324f462fcfff1b4d74ddafd8.bindPopup(popup_3d67c595d82aecefa5c7082f9676b363)
        ;

        
    
    
            marker_6c0fb0c0324f462fcfff1b4d74ddafd8.bindTooltip(
                `<div>
                     D JOHNSON'S FAMILY CHILD CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b630ad2a35a623190097bba2d69a3814 = L.marker(
                [35.32687233422774, -78.6708726435309],
                {}
            ).addTo(map_7dd74371a507052a8d894b653bf46f34);
        
    
            var icon_a26221aa4edf5967af941d6451baf143 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b630ad2a35a623190097bba2d69a3814.setIcon(icon_a26221aa4edf5967af941d6451baf143);
        
    
        var popup_cc3562009988ae85a84d2f5a309d8458 = L.popup({"maxWidth": "100%"});

        
            var html_834f6cb64bb4d01c35b54739c225be35 = $(`<div id="html_834f6cb64bb4d01c35b54739c225be35" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cc3562009988ae85a84d2f5a309d8458.setContent(html_834f6cb64bb4d01c35b54739c225be35);
        

        marker_b630ad2a35a623190097bba2d69a3814.bindPopup(popup_cc3562009988ae85a84d2f5a309d8458)
        ;

        
    
    
            marker_b630ad2a35a623190097bba2d69a3814.bindTooltip(
                `<div>
                     ERWIN ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec0cec9bb5c21476f526d78aac5b8680 = L.marker(
                [35.327707136855054, -78.66575979526476],
                {}
            ).addTo(map_7dd74371a507052a8d894b653bf46f34);
        
    
            var icon_97b63627fc8726a76baa65019bc38a85 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ec0cec9bb5c21476f526d78aac5b8680.setIcon(icon_97b63627fc8726a76baa65019bc38a85);
        
    
        var popup_6726c447f5a72996fc69f2ec7d7ac6b0 = L.popup({"maxWidth": "100%"});

        
            var html_c956331fa16c6c12e60f69b685858a9f = $(`<div id="html_c956331fa16c6c12e60f69b685858a9f" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_6726c447f5a72996fc69f2ec7d7ac6b0.setContent(html_c956331fa16c6c12e60f69b685858a9f);
        

        marker_ec0cec9bb5c21476f526d78aac5b8680.bindPopup(popup_6726c447f5a72996fc69f2ec7d7ac6b0)
        ;

        
    
    
            marker_ec0cec9bb5c21476f526d78aac5b8680.bindTooltip(
                `<div>
                     NEW BEGINNINGS FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>