<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2f24873903195a04d04c9b25ab496a04 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2f24873903195a04d04c9b25ab496a04" ></div>
        
</body>
<script>    
    
            var map_2f24873903195a04d04c9b25ab496a04 = L.map(
                "map_2f24873903195a04d04c9b25ab496a04",
                {
                    center: [35.31462788362094, -82.5885460703586],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_48b288ade992ed0299f930f1c606dbe7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2f24873903195a04d04c9b25ab496a04);
        
    
            var marker_525e7a0ee3b22df54f23bafc04f16623 = L.marker(
                [35.31462788362094, -82.5885460703586],
                {}
            ).addTo(map_2f24873903195a04d04c9b25ab496a04);
        
    
            var icon_90f43769eb4261ecbd5d2893e8f313f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_525e7a0ee3b22df54f23bafc04f16623.setIcon(icon_90f43769eb4261ecbd5d2893e8f313f6);
        
    
        var popup_ba7548a9f4870bb6baab57bb16980836 = L.popup({"maxWidth": "100%"});

        
            var html_7eb3cc332178c1452e87fba975669ec2 = $(`<div id="html_7eb3cc332178c1452e87fba975669ec2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ba7548a9f4870bb6baab57bb16980836.setContent(html_7eb3cc332178c1452e87fba975669ec2);
        

        marker_525e7a0ee3b22df54f23bafc04f16623.bindPopup(popup_ba7548a9f4870bb6baab57bb16980836)
        ;

        
    
    
            marker_525e7a0ee3b22df54f23bafc04f16623.bindTooltip(
                `<div>
                     ETOWAH PSAM-PSPM-PLUS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6905d62a5747738fadeec865788ae429 = L.marker(
                [35.32174800702351, -82.59473254016089],
                {}
            ).addTo(map_2f24873903195a04d04c9b25ab496a04);
        
    
            var icon_b775e05ece5be49a65905d77b1ebc80e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6905d62a5747738fadeec865788ae429.setIcon(icon_b775e05ece5be49a65905d77b1ebc80e);
        
    
        var popup_99a3c4eaaa9554c17b63d1706dca9cf6 = L.popup({"maxWidth": "100%"});

        
            var html_7f0ed677a85f9b63f73f7ec758dd4473 = $(`<div id="html_7f0ed677a85f9b63f73f7ec758dd4473" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_99a3c4eaaa9554c17b63d1706dca9cf6.setContent(html_7f0ed677a85f9b63f73f7ec758dd4473);
        

        marker_6905d62a5747738fadeec865788ae429.bindPopup(popup_99a3c4eaaa9554c17b63d1706dca9cf6)
        ;

        
    
    
            marker_6905d62a5747738fadeec865788ae429.bindTooltip(
                `<div>
                     WNCSOURCE ETOWAH CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>