<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e47603ab7b907dae25ea07299ba1e54f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e47603ab7b907dae25ea07299ba1e54f" ></div>
        
</body>
<script>    
    
            var map_e47603ab7b907dae25ea07299ba1e54f = L.map(
                "map_e47603ab7b907dae25ea07299ba1e54f",
                {
                    center: [34.507526660418456, -79.12097784240217],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e463c03b8e3b3e6ae926b6ef50421d6e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e47603ab7b907dae25ea07299ba1e54f);
        
    
            var marker_62fa54d0381428a977255e1502b058e9 = L.marker(
                [34.507526660418456, -79.12097784240217],
                {}
            ).addTo(map_e47603ab7b907dae25ea07299ba1e54f);
        
    
            var icon_37a218abd06786f3a15f3de201c04f67 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_62fa54d0381428a977255e1502b058e9.setIcon(icon_37a218abd06786f3a15f3de201c04f67);
        
    
        var popup_dd4eb6a90a720d17001d350eb251dd38 = L.popup({"maxWidth": "100%"});

        
            var html_e19ad291a936b4cec920dfe63d7a02ba = $(`<div id="html_e19ad291a936b4cec920dfe63d7a02ba" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_dd4eb6a90a720d17001d350eb251dd38.setContent(html_e19ad291a936b4cec920dfe63d7a02ba);
        

        marker_62fa54d0381428a977255e1502b058e9.bindPopup(popup_dd4eb6a90a720d17001d350eb251dd38)
        ;

        
    
    
            marker_62fa54d0381428a977255e1502b058e9.bindTooltip(
                `<div>
                     LITTLE TOTS ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2af72d8545fdb5d649d165fc2c8728c3 = L.marker(
                [34.50582756330012, -79.14078033757518],
                {}
            ).addTo(map_e47603ab7b907dae25ea07299ba1e54f);
        
    
            var icon_510effa449736326afbf30623c083a8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2af72d8545fdb5d649d165fc2c8728c3.setIcon(icon_510effa449736326afbf30623c083a8c);
        
    
        var popup_b86a06df436f9168f32f95d9f7baa34d = L.popup({"maxWidth": "100%"});

        
            var html_c981d104efe6c578aeebf63201c40b5b = $(`<div id="html_c981d104efe6c578aeebf63201c40b5b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b86a06df436f9168f32f95d9f7baa34d.setContent(html_c981d104efe6c578aeebf63201c40b5b);
        

        marker_2af72d8545fdb5d649d165fc2c8728c3.bindPopup(popup_b86a06df436f9168f32f95d9f7baa34d)
        ;

        
    
    
            marker_2af72d8545fdb5d649d165fc2c8728c3.bindTooltip(
                `<div>
                     MRS. HELEN'S LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e5e822b995f159e63283e2e7c0b5561 = L.marker(
                [34.50894778829442, -79.11982990514664],
                {}
            ).addTo(map_e47603ab7b907dae25ea07299ba1e54f);
        
    
            var icon_cef0296a0b32b8a7a543b6dd283eaa4c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9e5e822b995f159e63283e2e7c0b5561.setIcon(icon_cef0296a0b32b8a7a543b6dd283eaa4c);
        
    
        var popup_37d9875cf06e1f94a7bf9561544aa983 = L.popup({"maxWidth": "100%"});

        
            var html_128d3722376390e4e592e894b02c1aec = $(`<div id="html_128d3722376390e4e592e894b02c1aec" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_37d9875cf06e1f94a7bf9561544aa983.setContent(html_128d3722376390e4e592e894b02c1aec);
        

        marker_9e5e822b995f159e63283e2e7c0b5561.bindPopup(popup_37d9875cf06e1f94a7bf9561544aa983)
        ;

        
    
    
            marker_9e5e822b995f159e63283e2e7c0b5561.bindTooltip(
                `<div>
                     SOUTH ROBESON HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>