<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_42aca642ddc22b3c3d951032fec7bd32 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_42aca642ddc22b3c3d951032fec7bd32" ></div>
        
</body>
<script>    
    
            var map_42aca642ddc22b3c3d951032fec7bd32 = L.map(
                "map_42aca642ddc22b3c3d951032fec7bd32",
                {
                    center: [35.585486359639724, -77.58915447101626],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_277cac1db2f5bd11eb50422677b806d0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_42aca642ddc22b3c3d951032fec7bd32);
        
    
            var marker_fd465a6cde180c88396b0f4ae95e946a = L.marker(
                [35.585486359639724, -77.58915447101626],
                {}
            ).addTo(map_42aca642ddc22b3c3d951032fec7bd32);
        
    
            var icon_4230e38754e55a4dcaf77f59b5e80b7d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fd465a6cde180c88396b0f4ae95e946a.setIcon(icon_4230e38754e55a4dcaf77f59b5e80b7d);
        
    
        var popup_d20745e4e5661dfe855fb0b2dd4efbbb = L.popup({"maxWidth": "100%"});

        
            var html_0e2d147e656a8d26af5b47713b8b5d90 = $(`<div id="html_0e2d147e656a8d26af5b47713b8b5d90" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d20745e4e5661dfe855fb0b2dd4efbbb.setContent(html_0e2d147e656a8d26af5b47713b8b5d90);
        

        marker_fd465a6cde180c88396b0f4ae95e946a.bindPopup(popup_d20745e4e5661dfe855fb0b2dd4efbbb)
        ;

        
    
    
            marker_fd465a6cde180c88396b0f4ae95e946a.bindTooltip(
                `<div>
                     FARMVILLE HEAD START CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_50089be568f3d91ffc7dd6a9702096eb = L.marker(
                [35.593841, -77.575643],
                {}
            ).addTo(map_42aca642ddc22b3c3d951032fec7bd32);
        
    
            var icon_c62f63495871a58e0e99f6815a6377d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_50089be568f3d91ffc7dd6a9702096eb.setIcon(icon_c62f63495871a58e0e99f6815a6377d1);
        
    
        var popup_272433b1410fcfdf37b96658d9d3f7e2 = L.popup({"maxWidth": "100%"});

        
            var html_4fa4749645ed3f26bd6f23e5758a92c2 = $(`<div id="html_4fa4749645ed3f26bd6f23e5758a92c2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_272433b1410fcfdf37b96658d9d3f7e2.setContent(html_4fa4749645ed3f26bd6f23e5758a92c2);
        

        marker_50089be568f3d91ffc7dd6a9702096eb.bindPopup(popup_272433b1410fcfdf37b96658d9d3f7e2)
        ;

        
    
    
            marker_50089be568f3d91ffc7dd6a9702096eb.bindTooltip(
                `<div>
                     H.B. SUGG ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_19265c178a41fdec1846d745a79879c7 = L.marker(
                [35.58268182142857, -77.59553303571428],
                {}
            ).addTo(map_42aca642ddc22b3c3d951032fec7bd32);
        
    
            var icon_69121877bd71871357df9399007b0126 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_19265c178a41fdec1846d745a79879c7.setIcon(icon_69121877bd71871357df9399007b0126);
        
    
        var popup_a30da215d5380a900cfb64e69e10933b = L.popup({"maxWidth": "100%"});

        
            var html_84496dde5d33cb863af958b47041b513 = $(`<div id="html_84496dde5d33cb863af958b47041b513" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a30da215d5380a900cfb64e69e10933b.setContent(html_84496dde5d33cb863af958b47041b513);
        

        marker_19265c178a41fdec1846d745a79879c7.bindPopup(popup_a30da215d5380a900cfb64e69e10933b)
        ;

        
    
    
            marker_19265c178a41fdec1846d745a79879c7.bindTooltip(
                `<div>
                     KID'S PARADISE CHILDCARE CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9478a249c329fa2df590438dd756f1d8 = L.marker(
                [35.60679404051502, -77.59070857219182],
                {}
            ).addTo(map_42aca642ddc22b3c3d951032fec7bd32);
        
    
            var icon_67b20532e1bc5b07785cd8588d665102 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9478a249c329fa2df590438dd756f1d8.setIcon(icon_67b20532e1bc5b07785cd8588d665102);
        
    
        var popup_a311204125e0640a80b240674c4a3b3f = L.popup({"maxWidth": "100%"});

        
            var html_16a145835e187b68de11a964ed5229cb = $(`<div id="html_16a145835e187b68de11a964ed5229cb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a311204125e0640a80b240674c4a3b3f.setContent(html_16a145835e187b68de11a964ed5229cb);
        

        marker_9478a249c329fa2df590438dd756f1d8.bindPopup(popup_a311204125e0640a80b240674c4a3b3f)
        ;

        
    
    
            marker_9478a249c329fa2df590438dd756f1d8.bindTooltip(
                `<div>
                     RISING STARS OF FARMVILLE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f118961cc9317c1622ba4a7763eba07a = L.marker(
                [35.59113277934589, -77.5933689517089],
                {}
            ).addTo(map_42aca642ddc22b3c3d951032fec7bd32);
        
    
            var icon_925ba49c7f37bc7f7bdfd5c00f3ce288 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f118961cc9317c1622ba4a7763eba07a.setIcon(icon_925ba49c7f37bc7f7bdfd5c00f3ce288);
        
    
        var popup_5da4601d133aa684e202c478a627f685 = L.popup({"maxWidth": "100%"});

        
            var html_3e08d6a8d825e417f0a79d476481b898 = $(`<div id="html_3e08d6a8d825e417f0a79d476481b898" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5da4601d133aa684e202c478a627f685.setContent(html_3e08d6a8d825e417f0a79d476481b898);
        

        marker_f118961cc9317c1622ba4a7763eba07a.bindPopup(popup_5da4601d133aa684e202c478a627f685)
        ;

        
    
    
            marker_f118961cc9317c1622ba4a7763eba07a.bindTooltip(
                `<div>
                     STEPHANIE'S GRACE CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8ed8f617d67d64b90a06d3a213836505 = L.marker(
                [35.59030534693878, -77.5946586122449],
                {}
            ).addTo(map_42aca642ddc22b3c3d951032fec7bd32);
        
    
            var icon_99924cb15065880d8875933bf2561995 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_8ed8f617d67d64b90a06d3a213836505.setIcon(icon_99924cb15065880d8875933bf2561995);
        
    
        var popup_a16ab3431ab5fe3ebb66b1a992b75c7c = L.popup({"maxWidth": "100%"});

        
            var html_1fb5ce246443c1b3fb3382afe3069046 = $(`<div id="html_1fb5ce246443c1b3fb3382afe3069046" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_a16ab3431ab5fe3ebb66b1a992b75c7c.setContent(html_1fb5ce246443c1b3fb3382afe3069046);
        

        marker_8ed8f617d67d64b90a06d3a213836505.bindPopup(popup_a16ab3431ab5fe3ebb66b1a992b75c7c)
        ;

        
    
    
            marker_8ed8f617d67d64b90a06d3a213836505.bindTooltip(
                `<div>
                     WANDA'S DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>