<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b610183d756848ec3c22ecd878a596ec {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b610183d756848ec3c22ecd878a596ec" ></div>
        
</body>
<script>    
    
            var map_b610183d756848ec3c22ecd878a596ec = L.map(
                "map_b610183d756848ec3c22ecd878a596ec",
                {
                    center: [36.098733, -78.459528],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0d0cafd6ae22cacdbf1370c7ea29aa9a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var marker_e89eb60847a78e3f651e41a0aa74b157 = L.marker(
                [36.098733, -78.459528],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_600cc7fc6ca6df88f18c340b6e59b3fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_e89eb60847a78e3f651e41a0aa74b157.setIcon(icon_600cc7fc6ca6df88f18c340b6e59b3fb);
        
    
        var popup_92249cd7dbc27dec720556ea6546ff2a = L.popup({"maxWidth": "100%"});

        
            var html_75aa5f514d19fbf25de9c4ce9eb78158 = $(`<div id="html_75aa5f514d19fbf25de9c4ce9eb78158" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_92249cd7dbc27dec720556ea6546ff2a.setContent(html_75aa5f514d19fbf25de9c4ce9eb78158);
        

        marker_e89eb60847a78e3f651e41a0aa74b157.bindPopup(popup_92249cd7dbc27dec720556ea6546ff2a)
        ;

        
    
    
            marker_e89eb60847a78e3f651e41a0aa74b157.bindTooltip(
                `<div>
                     CHRISTIAN DELIGHT FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04f777b9bcdf14eec40371060a9a4250 = L.marker(
                [36.098733, -78.459528],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_3ac6eb9277ef6bb17d0dec6c2a572e3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_04f777b9bcdf14eec40371060a9a4250.setIcon(icon_3ac6eb9277ef6bb17d0dec6c2a572e3a);
        
    
        var popup_39fc9cea9e1f5a57e3365ffda39ecb8f = L.popup({"maxWidth": "100%"});

        
            var html_43436408ffa861136a32085216b7174c = $(`<div id="html_43436408ffa861136a32085216b7174c" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_39fc9cea9e1f5a57e3365ffda39ecb8f.setContent(html_43436408ffa861136a32085216b7174c);
        

        marker_04f777b9bcdf14eec40371060a9a4250.bindPopup(popup_39fc9cea9e1f5a57e3365ffda39ecb8f)
        ;

        
    
    
            marker_04f777b9bcdf14eec40371060a9a4250.bindTooltip(
                `<div>
                     CHRISTIAN DELIGHT FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4eb609807cf8576cf11393476fb45352 = L.marker(
                [36.0984100625, -78.4563763125],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_60e0a296aa4b81bca373f10eee2657b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4eb609807cf8576cf11393476fb45352.setIcon(icon_60e0a296aa4b81bca373f10eee2657b4);
        
    
        var popup_c7ec5b75f48e75df4d34dacf7cb0f010 = L.popup({"maxWidth": "100%"});

        
            var html_baf9b516376aed71ca38a958d792a9a6 = $(`<div id="html_baf9b516376aed71ca38a958d792a9a6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c7ec5b75f48e75df4d34dacf7cb0f010.setContent(html_baf9b516376aed71ca38a958d792a9a6);
        

        marker_4eb609807cf8576cf11393476fb45352.bindPopup(popup_c7ec5b75f48e75df4d34dacf7cb0f010)
        ;

        
    
    
            marker_4eb609807cf8576cf11393476fb45352.bindTooltip(
                `<div>
                     DREAM WORLD ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a85df74e89258d2ec50907b4e572c9e2 = L.marker(
                [36.0984100625, -78.4563763125],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_f5674c0d4060d5f9cd041076beffd750 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a85df74e89258d2ec50907b4e572c9e2.setIcon(icon_f5674c0d4060d5f9cd041076beffd750);
        
    
        var popup_31b8b04b6085015d493ef0a9b1bb2c4b = L.popup({"maxWidth": "100%"});

        
            var html_3978d343128c44a5df313d0b6c125b3a = $(`<div id="html_3978d343128c44a5df313d0b6c125b3a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_31b8b04b6085015d493ef0a9b1bb2c4b.setContent(html_3978d343128c44a5df313d0b6c125b3a);
        

        marker_a85df74e89258d2ec50907b4e572c9e2.bindPopup(popup_31b8b04b6085015d493ef0a9b1bb2c4b)
        ;

        
    
    
            marker_a85df74e89258d2ec50907b4e572c9e2.bindTooltip(
                `<div>
                     DREAM WORLD ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43c4cea714d21f0bf0d6da609defa471 = L.marker(
                [36.098358140554566, -78.45961419326984],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_c690a1cff35607389928ca1afbe9742a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_43c4cea714d21f0bf0d6da609defa471.setIcon(icon_c690a1cff35607389928ca1afbe9742a);
        
    
        var popup_54b8b249f0718fc8ef2a0fbb4362a895 = L.popup({"maxWidth": "100%"});

        
            var html_6cd8d278048b620dd9441c0e69e9030f = $(`<div id="html_6cd8d278048b620dd9441c0e69e9030f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_54b8b249f0718fc8ef2a0fbb4362a895.setContent(html_6cd8d278048b620dd9441c0e69e9030f);
        

        marker_43c4cea714d21f0bf0d6da609defa471.bindPopup(popup_54b8b249f0718fc8ef2a0fbb4362a895)
        ;

        
    
    
            marker_43c4cea714d21f0bf0d6da609defa471.bindTooltip(
                `<div>
                     FRANKLINTON HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3b494f35e229923fa5a505851ff1a907 = L.marker(
                [36.098358140554566, -78.45961419326984],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_da7685c14d5c0c2209abcbc4042880fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3b494f35e229923fa5a505851ff1a907.setIcon(icon_da7685c14d5c0c2209abcbc4042880fd);
        
    
        var popup_ffed2481bb9d9c35f8db08b06103a10d = L.popup({"maxWidth": "100%"});

        
            var html_6970d59a43b1ed90e5d1e4dd763b842b = $(`<div id="html_6970d59a43b1ed90e5d1e4dd763b842b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ffed2481bb9d9c35f8db08b06103a10d.setContent(html_6970d59a43b1ed90e5d1e4dd763b842b);
        

        marker_3b494f35e229923fa5a505851ff1a907.bindPopup(popup_ffed2481bb9d9c35f8db08b06103a10d)
        ;

        
    
    
            marker_3b494f35e229923fa5a505851ff1a907.bindTooltip(
                `<div>
                     FRANKLINTON HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2d5add5a5295c628fe77d900d6e3d49c = L.marker(
                [36.105738, -78.457195],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_7d2205c94484296cb993724ca899568c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2d5add5a5295c628fe77d900d6e3d49c.setIcon(icon_7d2205c94484296cb993724ca899568c);
        
    
        var popup_1815ce04439ca5dc8c3fcda038aa939b = L.popup({"maxWidth": "100%"});

        
            var html_76cd38efe56020dbf1edba43ff2b0858 = $(`<div id="html_76cd38efe56020dbf1edba43ff2b0858" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1815ce04439ca5dc8c3fcda038aa939b.setContent(html_76cd38efe56020dbf1edba43ff2b0858);
        

        marker_2d5add5a5295c628fe77d900d6e3d49c.bindPopup(popup_1815ce04439ca5dc8c3fcda038aa939b)
        ;

        
    
    
            marker_2d5add5a5295c628fe77d900d6e3d49c.bindTooltip(
                `<div>
                     FRANKLINTON UNITED METHODIST CHURCH DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fd72ab6766d33b09bcc98ecea9271477 = L.marker(
                [36.105738, -78.457195],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_2eb642657611a8b0e4521c4f45daad7c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fd72ab6766d33b09bcc98ecea9271477.setIcon(icon_2eb642657611a8b0e4521c4f45daad7c);
        
    
        var popup_29599b1fbaf0ad060239ca167fca8f28 = L.popup({"maxWidth": "100%"});

        
            var html_07e863afd145d903295f29e2f7ac5a4c = $(`<div id="html_07e863afd145d903295f29e2f7ac5a4c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_29599b1fbaf0ad060239ca167fca8f28.setContent(html_07e863afd145d903295f29e2f7ac5a4c);
        

        marker_fd72ab6766d33b09bcc98ecea9271477.bindPopup(popup_29599b1fbaf0ad060239ca167fca8f28)
        ;

        
    
    
            marker_fd72ab6766d33b09bcc98ecea9271477.bindTooltip(
                `<div>
                     FRANKLINTON UNITED METHODIST CHURCH DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2a46bb1b121916fbe745b88a11f96e17 = L.marker(
                [36.098733, -78.459528],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_48a91d4c1b30b2bd7eb71bd108bd6544 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2a46bb1b121916fbe745b88a11f96e17.setIcon(icon_48a91d4c1b30b2bd7eb71bd108bd6544);
        
    
        var popup_d5e53cf9677b13b944e91faa05f27e61 = L.popup({"maxWidth": "100%"});

        
            var html_4113849f2b99efcae4368d7b59bb1bd3 = $(`<div id="html_4113849f2b99efcae4368d7b59bb1bd3" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_d5e53cf9677b13b944e91faa05f27e61.setContent(html_4113849f2b99efcae4368d7b59bb1bd3);
        

        marker_2a46bb1b121916fbe745b88a11f96e17.bindPopup(popup_d5e53cf9677b13b944e91faa05f27e61)
        ;

        
    
    
            marker_2a46bb1b121916fbe745b88a11f96e17.bindTooltip(
                `<div>
                     CHRISTIAN DELIGHT FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_21900f2762fe38c277696739129b53cd = L.marker(
                [36.098733, -78.459528],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_8b901386ac7d4200e192fe85a5084cef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_21900f2762fe38c277696739129b53cd.setIcon(icon_8b901386ac7d4200e192fe85a5084cef);
        
    
        var popup_c27795626fecf146d8361e1977e20bb8 = L.popup({"maxWidth": "100%"});

        
            var html_97af8abffecdbf4f4faeb0d4b80a0259 = $(`<div id="html_97af8abffecdbf4f4faeb0d4b80a0259" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_c27795626fecf146d8361e1977e20bb8.setContent(html_97af8abffecdbf4f4faeb0d4b80a0259);
        

        marker_21900f2762fe38c277696739129b53cd.bindPopup(popup_c27795626fecf146d8361e1977e20bb8)
        ;

        
    
    
            marker_21900f2762fe38c277696739129b53cd.bindTooltip(
                `<div>
                     CHRISTIAN DELIGHT FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_faacac464ebfa74a594b3717c5382fd4 = L.marker(
                [36.0984100625, -78.4563763125],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_31c6f28d51081e9ffca8695316dda231 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_faacac464ebfa74a594b3717c5382fd4.setIcon(icon_31c6f28d51081e9ffca8695316dda231);
        
    
        var popup_d2a12407e0618906d58cd6999c3e8afa = L.popup({"maxWidth": "100%"});

        
            var html_bdd8396933067e40dca5e0c9f4177aa6 = $(`<div id="html_bdd8396933067e40dca5e0c9f4177aa6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d2a12407e0618906d58cd6999c3e8afa.setContent(html_bdd8396933067e40dca5e0c9f4177aa6);
        

        marker_faacac464ebfa74a594b3717c5382fd4.bindPopup(popup_d2a12407e0618906d58cd6999c3e8afa)
        ;

        
    
    
            marker_faacac464ebfa74a594b3717c5382fd4.bindTooltip(
                `<div>
                     DREAM WORLD ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d9a799c4d2244544bf43d6413e964f27 = L.marker(
                [36.0984100625, -78.4563763125],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_2acb1468ed9d219f41db0c5b483b417a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d9a799c4d2244544bf43d6413e964f27.setIcon(icon_2acb1468ed9d219f41db0c5b483b417a);
        
    
        var popup_655de630c113f0bd357aeb300863d2dd = L.popup({"maxWidth": "100%"});

        
            var html_326317ba2c97583b28600b041494165d = $(`<div id="html_326317ba2c97583b28600b041494165d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_655de630c113f0bd357aeb300863d2dd.setContent(html_326317ba2c97583b28600b041494165d);
        

        marker_d9a799c4d2244544bf43d6413e964f27.bindPopup(popup_655de630c113f0bd357aeb300863d2dd)
        ;

        
    
    
            marker_d9a799c4d2244544bf43d6413e964f27.bindTooltip(
                `<div>
                     DREAM WORLD ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6632ffaba26a8e924cb00b623ac45966 = L.marker(
                [36.098358140554566, -78.45961419326984],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_28b6484848841485afd5af4ab9a92d81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6632ffaba26a8e924cb00b623ac45966.setIcon(icon_28b6484848841485afd5af4ab9a92d81);
        
    
        var popup_55ded9611d7e438ad1a5b72dce5d31f0 = L.popup({"maxWidth": "100%"});

        
            var html_abb81132f80252ae5381d4a6e12b3c2a = $(`<div id="html_abb81132f80252ae5381d4a6e12b3c2a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_55ded9611d7e438ad1a5b72dce5d31f0.setContent(html_abb81132f80252ae5381d4a6e12b3c2a);
        

        marker_6632ffaba26a8e924cb00b623ac45966.bindPopup(popup_55ded9611d7e438ad1a5b72dce5d31f0)
        ;

        
    
    
            marker_6632ffaba26a8e924cb00b623ac45966.bindTooltip(
                `<div>
                     FRANKLINTON HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_86dca2e4103f091385766161c58fbe42 = L.marker(
                [36.098358140554566, -78.45961419326984],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_76ad6f9251deb8bd54176b0d5382336e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_86dca2e4103f091385766161c58fbe42.setIcon(icon_76ad6f9251deb8bd54176b0d5382336e);
        
    
        var popup_3e154303886ea56e426e56ab4f2d4e6f = L.popup({"maxWidth": "100%"});

        
            var html_36b06ef6145ea0801280a1575b84b114 = $(`<div id="html_36b06ef6145ea0801280a1575b84b114" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3e154303886ea56e426e56ab4f2d4e6f.setContent(html_36b06ef6145ea0801280a1575b84b114);
        

        marker_86dca2e4103f091385766161c58fbe42.bindPopup(popup_3e154303886ea56e426e56ab4f2d4e6f)
        ;

        
    
    
            marker_86dca2e4103f091385766161c58fbe42.bindTooltip(
                `<div>
                     FRANKLINTON HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3b694a15206575eaae30395f38687b7d = L.marker(
                [36.105738, -78.457195],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_7e1124648656f33fce06da2739ac507e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3b694a15206575eaae30395f38687b7d.setIcon(icon_7e1124648656f33fce06da2739ac507e);
        
    
        var popup_03c6f056e6721658bc31e7a238c5238f = L.popup({"maxWidth": "100%"});

        
            var html_63d17699e5bbd6909bb49da0f5d19d0e = $(`<div id="html_63d17699e5bbd6909bb49da0f5d19d0e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_03c6f056e6721658bc31e7a238c5238f.setContent(html_63d17699e5bbd6909bb49da0f5d19d0e);
        

        marker_3b694a15206575eaae30395f38687b7d.bindPopup(popup_03c6f056e6721658bc31e7a238c5238f)
        ;

        
    
    
            marker_3b694a15206575eaae30395f38687b7d.bindTooltip(
                `<div>
                     FRANKLINTON UNITED METHODIST CHURCH DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c71fec38792f77bbaedbebb7c1b3f130 = L.marker(
                [36.105738, -78.457195],
                {}
            ).addTo(map_b610183d756848ec3c22ecd878a596ec);
        
    
            var icon_6251e20f171569bd91207a99e37ec34a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c71fec38792f77bbaedbebb7c1b3f130.setIcon(icon_6251e20f171569bd91207a99e37ec34a);
        
    
        var popup_9526d0d21b9770f175491f63ace825eb = L.popup({"maxWidth": "100%"});

        
            var html_02653f7f320f39e87f4aa9147bda21a2 = $(`<div id="html_02653f7f320f39e87f4aa9147bda21a2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9526d0d21b9770f175491f63ace825eb.setContent(html_02653f7f320f39e87f4aa9147bda21a2);
        

        marker_c71fec38792f77bbaedbebb7c1b3f130.bindPopup(popup_9526d0d21b9770f175491f63ace825eb)
        ;

        
    
    
            marker_c71fec38792f77bbaedbebb7c1b3f130.bindTooltip(
                `<div>
                     FRANKLINTON UNITED METHODIST CHURCH DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>