<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_902d3efabcf534300dd3f186123fa6a8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_902d3efabcf534300dd3f186123fa6a8" ></div>
        
</body>
<script>    
    
            var map_902d3efabcf534300dd3f186123fa6a8 = L.map(
                "map_902d3efabcf534300dd3f186123fa6a8",
                {
                    center: [35.5837704, -78.766113],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1cf4b570e28abcd54f6a74b547c3e43a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var marker_737cf54da350f81020416c2423f51715 = L.marker(
                [35.5837704, -78.766113],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_1fdc82e9cba03bb5565f9e3d9094b7ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_737cf54da350f81020416c2423f51715.setIcon(icon_1fdc82e9cba03bb5565f9e3d9094b7ec);
        
    
        var popup_4dbef185115764902b9f24a479d4ee3b = L.popup({"maxWidth": "100%"});

        
            var html_8d3a9cf8aeef7c652f5815f6559b4c67 = $(`<div id="html_8d3a9cf8aeef7c652f5815f6559b4c67" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4dbef185115764902b9f24a479d4ee3b.setContent(html_8d3a9cf8aeef7c652f5815f6559b4c67);
        

        marker_737cf54da350f81020416c2423f51715.bindPopup(popup_4dbef185115764902b9f24a479d4ee3b)
        ;

        
    
    
            marker_737cf54da350f81020416c2423f51715.bindTooltip(
                `<div>
                     ASHEBRIDGE CHILDREN'S ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5fc82dda76419fea9ec0727e0fa0370f = L.marker(
                [35.62901972425937, -78.73316305476651],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_14d096ccf32dd94b1b2e1b1548528f73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_5fc82dda76419fea9ec0727e0fa0370f.setIcon(icon_14d096ccf32dd94b1b2e1b1548528f73);
        
    
        var popup_a14e058bcc98406ba363ba288edb6678 = L.popup({"maxWidth": "100%"});

        
            var html_00d4219115bf1eff1d871a86821c85e3 = $(`<div id="html_00d4219115bf1eff1d871a86821c85e3" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_a14e058bcc98406ba363ba288edb6678.setContent(html_00d4219115bf1eff1d871a86821c85e3);
        

        marker_5fc82dda76419fea9ec0727e0fa0370f.bindPopup(popup_a14e058bcc98406ba363ba288edb6678)
        ;

        
    
    
            marker_5fc82dda76419fea9ec0727e0fa0370f.bindTooltip(
                `<div>
                     CASA KIDS SPANISH IMMERSION HOME DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c80a97d9029b60440533f15096af65d5 = L.marker(
                [35.587409663541585, -78.80455650411321],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_e1ae0a8ab96c72c314dd2ec3d769ec00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c80a97d9029b60440533f15096af65d5.setIcon(icon_e1ae0a8ab96c72c314dd2ec3d769ec00);
        
    
        var popup_f057e26a54a4958b1248d65618c24a66 = L.popup({"maxWidth": "100%"});

        
            var html_15cae0b23be24a9faf64c2423c6277e0 = $(`<div id="html_15cae0b23be24a9faf64c2423c6277e0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f057e26a54a4958b1248d65618c24a66.setContent(html_15cae0b23be24a9faf64c2423c6277e0);
        

        marker_c80a97d9029b60440533f15096af65d5.bindPopup(popup_f057e26a54a4958b1248d65618c24a66)
        ;

        
    
    
            marker_c80a97d9029b60440533f15096af65d5.bindTooltip(
                `<div>
                     CHILDCARE NETWORK-FUQUAY VARINA ELC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e0b9d04576c13bbdd4de8a8a461a1d7c = L.marker(
                [35.588347600000006, -78.79495086844659],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_a24b561d94537927ffa9540d062594d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e0b9d04576c13bbdd4de8a8a461a1d7c.setIcon(icon_a24b561d94537927ffa9540d062594d6);
        
    
        var popup_dcf1bc76001e644595fd88907f8147f6 = L.popup({"maxWidth": "100%"});

        
            var html_e790d18dfd910aae6e1ec201326107fb = $(`<div id="html_e790d18dfd910aae6e1ec201326107fb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_dcf1bc76001e644595fd88907f8147f6.setContent(html_e790d18dfd910aae6e1ec201326107fb);
        

        marker_e0b9d04576c13bbdd4de8a8a461a1d7c.bindPopup(popup_dcf1bc76001e644595fd88907f8147f6)
        ;

        
    
    
            marker_e0b9d04576c13bbdd4de8a8a461a1d7c.bindTooltip(
                `<div>
                     FUQUAY-VARINA BAPTIST WEE CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5e9680c29c522a477f46ac1d74bb5838 = L.marker(
                [35.59488007944009, -78.76582305654796],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_5705ee00370cd08bc29f7d24242b528e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5e9680c29c522a477f46ac1d74bb5838.setIcon(icon_5705ee00370cd08bc29f7d24242b528e);
        
    
        var popup_3b611dc26ee7946a48822390c1d5e491 = L.popup({"maxWidth": "100%"});

        
            var html_9393c9f7f056b5189ac7a90dbbd0310e = $(`<div id="html_9393c9f7f056b5189ac7a90dbbd0310e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3b611dc26ee7946a48822390c1d5e491.setContent(html_9393c9f7f056b5189ac7a90dbbd0310e);
        

        marker_5e9680c29c522a477f46ac1d74bb5838.bindPopup(popup_3b611dc26ee7946a48822390c1d5e491)
        ;

        
    
    
            marker_5e9680c29c522a477f46ac1d74bb5838.bindTooltip(
                `<div>
                     GINGERBREAD LITTLEVERSITY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a656a3b3b63021ede6e79e12bef9d8d1 = L.marker(
                [35.62219525573081, -78.80155933178037],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_6c77e7c9b2812396b4f34f5861dd11f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a656a3b3b63021ede6e79e12bef9d8d1.setIcon(icon_6c77e7c9b2812396b4f34f5861dd11f2);
        
    
        var popup_1db156c1ff395ec029838c564b052404 = L.popup({"maxWidth": "100%"});

        
            var html_2e4e3fc479ecf182dc203c28deca2751 = $(`<div id="html_2e4e3fc479ecf182dc203c28deca2751" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1db156c1ff395ec029838c564b052404.setContent(html_2e4e3fc479ecf182dc203c28deca2751);
        

        marker_a656a3b3b63021ede6e79e12bef9d8d1.bindPopup(popup_1db156c1ff395ec029838c564b052404)
        ;

        
    
    
            marker_a656a3b3b63021ede6e79e12bef9d8d1.bindTooltip(
                `<div>
                     HERBERT AKINS ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04dece46d401ad52b8c4820a89c6b4f6 = L.marker(
                [35.6064054, -78.75654920973119],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_ae6ee917dce36d24ef66c5b0ff38be17 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_04dece46d401ad52b8c4820a89c6b4f6.setIcon(icon_ae6ee917dce36d24ef66c5b0ff38be17);
        
    
        var popup_3da45eb339bf14f85d61380c97a0dbd0 = L.popup({"maxWidth": "100%"});

        
            var html_457bd470fd19c5224831d43bff9ab989 = $(`<div id="html_457bd470fd19c5224831d43bff9ab989" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3da45eb339bf14f85d61380c97a0dbd0.setContent(html_457bd470fd19c5224831d43bff9ab989);
        

        marker_04dece46d401ad52b8c4820a89c6b4f6.bindPopup(popup_3da45eb339bf14f85d61380c97a0dbd0)
        ;

        
    
    
            marker_04dece46d401ad52b8c4820a89c6b4f6.bindTooltip(
                `<div>
                     JOHNSON POND LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1d02b691c9c6e838fc648b4d5352c906 = L.marker(
                [35.5923139, -78.7650934727879],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_bec81eb5f9c1a61042975a32b08b857a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1d02b691c9c6e838fc648b4d5352c906.setIcon(icon_bec81eb5f9c1a61042975a32b08b857a);
        
    
        var popup_8646b17655b2d5bbc6346b1959b77560 = L.popup({"maxWidth": "100%"});

        
            var html_f31bfe6ee3cb2d62ec2d315088f6d4fe = $(`<div id="html_f31bfe6ee3cb2d62ec2d315088f6d4fe" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8646b17655b2d5bbc6346b1959b77560.setContent(html_f31bfe6ee3cb2d62ec2d315088f6d4fe);
        

        marker_1d02b691c9c6e838fc648b4d5352c906.bindPopup(popup_8646b17655b2d5bbc6346b1959b77560)
        ;

        
    
    
            marker_1d02b691c9c6e838fc648b4d5352c906.bindTooltip(
                `<div>
                     KIDDIE ACADEMY OF FUQUAY VARINA
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dcadab30bdfc08831f00e09a4501fd35 = L.marker(
                [35.5918249, -78.779868],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_be85a539725fc7ea0f5d11f18cfe3af6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dcadab30bdfc08831f00e09a4501fd35.setIcon(icon_be85a539725fc7ea0f5d11f18cfe3af6);
        
    
        var popup_36b285027e451ac535afa0e76091aa74 = L.popup({"maxWidth": "100%"});

        
            var html_2c31b16559d9831d38eba603b88cc2ca = $(`<div id="html_2c31b16559d9831d38eba603b88cc2ca" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_36b285027e451ac535afa0e76091aa74.setContent(html_2c31b16559d9831d38eba603b88cc2ca);
        

        marker_dcadab30bdfc08831f00e09a4501fd35.bindPopup(popup_36b285027e451ac535afa0e76091aa74)
        ;

        
    
    
            marker_dcadab30bdfc08831f00e09a4501fd35.bindTooltip(
                `<div>
                     LILLYPADS CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b9f14894f15f90a8aa276cd48d72f4a7 = L.marker(
                [35.590100500000005, -78.80957963011346],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_d0468d2bf5d7e2245785f9255f8c525c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b9f14894f15f90a8aa276cd48d72f4a7.setIcon(icon_d0468d2bf5d7e2245785f9255f8c525c);
        
    
        var popup_d09e0fd1aae7d5d84f491080cf5aa28d = L.popup({"maxWidth": "100%"});

        
            var html_d06e4db9345c35e59c477074fd68cb7f = $(`<div id="html_d06e4db9345c35e59c477074fd68cb7f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d09e0fd1aae7d5d84f491080cf5aa28d.setContent(html_d06e4db9345c35e59c477074fd68cb7f);
        

        marker_b9f14894f15f90a8aa276cd48d72f4a7.bindPopup(popup_d09e0fd1aae7d5d84f491080cf5aa28d)
        ;

        
    
    
            marker_b9f14894f15f90a8aa276cd48d72f4a7.bindTooltip(
                `<div>
                     LINCOLN HEIGHTS ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c447256f7cc3be500f77e8407b25433 = L.marker(
                [35.575752832194425, -78.8005027155835],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_39ea27890e018819068581957cc41fe3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7c447256f7cc3be500f77e8407b25433.setIcon(icon_39ea27890e018819068581957cc41fe3);
        
    
        var popup_ab1b704aa2a83a77d6b3039455ea6a8a = L.popup({"maxWidth": "100%"});

        
            var html_a7a1cc7134680b0376eb7de0783d6809 = $(`<div id="html_a7a1cc7134680b0376eb7de0783d6809" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ab1b704aa2a83a77d6b3039455ea6a8a.setContent(html_a7a1cc7134680b0376eb7de0783d6809);
        

        marker_7c447256f7cc3be500f77e8407b25433.bindPopup(popup_ab1b704aa2a83a77d6b3039455ea6a8a)
        ;

        
    
    
            marker_7c447256f7cc3be500f77e8407b25433.bindTooltip(
                `<div>
                     LITTLE ANGELS PREPARATORY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7aaf38a067010eba32f53ed166372fed = L.marker(
                [35.61024601844594, -78.79926142810145],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_1c685610dc1d5d71c0bbc0bf8101cea0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_7aaf38a067010eba32f53ed166372fed.setIcon(icon_1c685610dc1d5d71c0bbc0bf8101cea0);
        
    
        var popup_c50209405c1b675df13e914f7b28cbc1 = L.popup({"maxWidth": "100%"});

        
            var html_e48471959f22d92b58f3c4274319c897 = $(`<div id="html_e48471959f22d92b58f3c4274319c897" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_c50209405c1b675df13e914f7b28cbc1.setContent(html_e48471959f22d92b58f3c4274319c897);
        

        marker_7aaf38a067010eba32f53ed166372fed.bindPopup(popup_c50209405c1b675df13e914f7b28cbc1)
        ;

        
    
    
            marker_7aaf38a067010eba32f53ed166372fed.bindTooltip(
                `<div>
                     MELISSA'S SWEET PEAS CHILD CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9481eaa559eaf13713c1e383f622894b = L.marker(
                [35.6000518, -78.7825153],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_cf1e1d8c453d7fec2ff8cbac9ed13696 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9481eaa559eaf13713c1e383f622894b.setIcon(icon_cf1e1d8c453d7fec2ff8cbac9ed13696);
        
    
        var popup_42d4eb3c3e8a53fff790d2cd9dcd072a = L.popup({"maxWidth": "100%"});

        
            var html_4ae1f4ff1daa81d4b2c4db35b145d226 = $(`<div id="html_4ae1f4ff1daa81d4b2c4db35b145d226" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_42d4eb3c3e8a53fff790d2cd9dcd072a.setContent(html_4ae1f4ff1daa81d4b2c4db35b145d226);
        

        marker_9481eaa559eaf13713c1e383f622894b.bindPopup(popup_42d4eb3c3e8a53fff790d2cd9dcd072a)
        ;

        
    
    
            marker_9481eaa559eaf13713c1e383f622894b.bindTooltip(
                `<div>
                     MONTESSORI KIDS UNIVERSE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7d55402f7731d574399e8667a41104e9 = L.marker(
                [35.6069065181729, -78.80986774918188],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_158fb5a562d8f29de7d71301b6785088 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_7d55402f7731d574399e8667a41104e9.setIcon(icon_158fb5a562d8f29de7d71301b6785088);
        
    
        var popup_20b6c20011c1c78ae090c0968b4c9395 = L.popup({"maxWidth": "100%"});

        
            var html_a3ece050185df2240768a42b57bc7f05 = $(`<div id="html_a3ece050185df2240768a42b57bc7f05" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_20b6c20011c1c78ae090c0968b4c9395.setContent(html_a3ece050185df2240768a42b57bc7f05);
        

        marker_7d55402f7731d574399e8667a41104e9.bindPopup(popup_20b6c20011c1c78ae090c0968b4c9395)
        ;

        
    
    
            marker_7d55402f7731d574399e8667a41104e9.bindTooltip(
                `<div>
                     MY LIL FRIENDS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_29d27995abb6992fe64046e1f964f67c = L.marker(
                [35.603103, -78.801015],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_a119e9cc6f2913ffc8080aa0d8b3457a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_29d27995abb6992fe64046e1f964f67c.setIcon(icon_a119e9cc6f2913ffc8080aa0d8b3457a);
        
    
        var popup_bea3207f969f8bb007764846aceab319 = L.popup({"maxWidth": "100%"});

        
            var html_2e9df2ef22c70b8b87b9970b091a6d04 = $(`<div id="html_2e9df2ef22c70b8b87b9970b091a6d04" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bea3207f969f8bb007764846aceab319.setContent(html_2e9df2ef22c70b8b87b9970b091a6d04);
        

        marker_29d27995abb6992fe64046e1f964f67c.bindPopup(popup_bea3207f969f8bb007764846aceab319)
        ;

        
    
    
            marker_29d27995abb6992fe64046e1f964f67c.bindTooltip(
                `<div>
                     READY OR NOT, HERE I GROW DAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a8aa4fae4393616689c7dfdfb64ecb21 = L.marker(
                [35.616986652766045, -78.81016206332887],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_c76ecdab497d213c3d5a46dcabb65a5c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a8aa4fae4393616689c7dfdfb64ecb21.setIcon(icon_c76ecdab497d213c3d5a46dcabb65a5c);
        
    
        var popup_3143c8bfed5dcd3abe8841a85d99f65b = L.popup({"maxWidth": "100%"});

        
            var html_a9bcc19a470b8ea072f4409f2208fe15 = $(`<div id="html_a9bcc19a470b8ea072f4409f2208fe15" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3143c8bfed5dcd3abe8841a85d99f65b.setContent(html_a9bcc19a470b8ea072f4409f2208fe15);
        

        marker_a8aa4fae4393616689c7dfdfb64ecb21.bindPopup(popup_3143c8bfed5dcd3abe8841a85d99f65b)
        ;

        
    
    
            marker_a8aa4fae4393616689c7dfdfb64ecb21.bindTooltip(
                `<div>
                     SOUTH WAKE PRESCHOOL & ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b22d42f78427890ca38d946c1e56a13e = L.marker(
                [35.5890392, -78.77441399848814],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_7d620e19361f040ab011828daae25665 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b22d42f78427890ca38d946c1e56a13e.setIcon(icon_7d620e19361f040ab011828daae25665);
        
    
        var popup_e36cb855cfc45bb333f577b4f33f92ce = L.popup({"maxWidth": "100%"});

        
            var html_a7f5d36d37a25fc015616d22af42492a = $(`<div id="html_a7f5d36d37a25fc015616d22af42492a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e36cb855cfc45bb333f577b4f33f92ce.setContent(html_a7f5d36d37a25fc015616d22af42492a);
        

        marker_b22d42f78427890ca38d946c1e56a13e.bindPopup(popup_e36cb855cfc45bb333f577b4f33f92ce)
        ;

        
    
    
            marker_b22d42f78427890ca38d946c1e56a13e.bindTooltip(
                `<div>
                     THE GODDARD SCHOOL / FUQUAY-VARINA
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bb32aac3c475e8eaab01a815325990d2 = L.marker(
                [35.6030582, -78.7527522],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_1c21ed7e0f182c69a31a3f6aaa90eddc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bb32aac3c475e8eaab01a815325990d2.setIcon(icon_1c21ed7e0f182c69a31a3f6aaa90eddc);
        
    
        var popup_6b626a4d8544e8b9cc12073dd16c3837 = L.popup({"maxWidth": "100%"});

        
            var html_a76a55e9bd4f3940e25d31340cce5fbf = $(`<div id="html_a76a55e9bd4f3940e25d31340cce5fbf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6b626a4d8544e8b9cc12073dd16c3837.setContent(html_a76a55e9bd4f3940e25d31340cce5fbf);
        

        marker_bb32aac3c475e8eaab01a815325990d2.bindPopup(popup_6b626a4d8544e8b9cc12073dd16c3837)
        ;

        
    
    
            marker_bb32aac3c475e8eaab01a815325990d2.bindTooltip(
                `<div>
                     THE LEARNING EXPERIENCE FUQUAY VARINA
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3fb426c7e0b0a1c8018608778399e113 = L.marker(
                [35.59143815156121, -78.7965582950295],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_afe3468ba06c4f5336a6072f46664902 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3fb426c7e0b0a1c8018608778399e113.setIcon(icon_afe3468ba06c4f5336a6072f46664902);
        
    
        var popup_da495cb634e6b5b4f9b04a12ccecc688 = L.popup({"maxWidth": "100%"});

        
            var html_98073bcf04c5312ddb6e97e95678f20b = $(`<div id="html_98073bcf04c5312ddb6e97e95678f20b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_da495cb634e6b5b4f9b04a12ccecc688.setContent(html_98073bcf04c5312ddb6e97e95678f20b);
        

        marker_3fb426c7e0b0a1c8018608778399e113.bindPopup(popup_da495cb634e6b5b4f9b04a12ccecc688)
        ;

        
    
    
            marker_3fb426c7e0b0a1c8018608778399e113.bindTooltip(
                `<div>
                     UNIQUE CREATIONS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df3bf0721d194237f4d215cfb3616b3a = L.marker(
                [35.58135996539752, -78.79986102721696],
                {}
            ).addTo(map_902d3efabcf534300dd3f186123fa6a8);
        
    
            var icon_d3438d093324955f02491889371a059c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_df3bf0721d194237f4d215cfb3616b3a.setIcon(icon_d3438d093324955f02491889371a059c);
        
    
        var popup_40eccc1860b87a29176c28c970600711 = L.popup({"maxWidth": "100%"});

        
            var html_0e90f3dbfd28844893506697c3d60f4b = $(`<div id="html_0e90f3dbfd28844893506697c3d60f4b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_40eccc1860b87a29176c28c970600711.setContent(html_0e90f3dbfd28844893506697c3d60f4b);
        

        marker_df3bf0721d194237f4d215cfb3616b3a.bindPopup(popup_40eccc1860b87a29176c28c970600711)
        ;

        
    
    
            marker_df3bf0721d194237f4d215cfb3616b3a.bindTooltip(
                `<div>
                     UNIQUE CREATIONS CHILD CARE CENTER SOUTH CAMPUS
                 </div>`,
                {"sticky": true}
            );
        
</script>