<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_83b3f6495496492ee38dc02ea322d221 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_83b3f6495496492ee38dc02ea322d221" ></div>
        
</body>
<script>    
    
            var map_83b3f6495496492ee38dc02ea322d221 = L.map(
                "map_83b3f6495496492ee38dc02ea322d221",
                {
                    center: [35.71100225154963, -78.61278526394666],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_96c45043b59d985a1a3a49b0867d40d3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var marker_1b5c2264010a53e33705256ec4cc9a95 = L.marker(
                [35.71100225154963, -78.61278526394666],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_f5cc811b8baade17c609a47bb45687e4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1b5c2264010a53e33705256ec4cc9a95.setIcon(icon_f5cc811b8baade17c609a47bb45687e4);
        
    
        var popup_a3168790babaf57e724768681213a0c1 = L.popup({"maxWidth": "100%"});

        
            var html_b92e44146491cb1609bd78b22b1b3da6 = $(`<div id="html_b92e44146491cb1609bd78b22b1b3da6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a3168790babaf57e724768681213a0c1.setContent(html_b92e44146491cb1609bd78b22b1b3da6);
        

        marker_1b5c2264010a53e33705256ec4cc9a95.bindPopup(popup_a3168790babaf57e724768681213a0c1)
        ;

        
    
    
            marker_1b5c2264010a53e33705256ec4cc9a95.bindTooltip(
                `<div>
                     A HAPPY PLACE TO BEE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2c56334a249c8bdc5419653351f71473 = L.marker(
                [35.7168682062431, -78.61655509587878],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_79065ab82707dfd1aad9b3a590cf6518 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2c56334a249c8bdc5419653351f71473.setIcon(icon_79065ab82707dfd1aad9b3a590cf6518);
        
    
        var popup_10d0e1cece0a978b3e5be4cb56a90fa0 = L.popup({"maxWidth": "100%"});

        
            var html_78aa7502db607ec7e8c45bed926919b4 = $(`<div id="html_78aa7502db607ec7e8c45bed926919b4" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_10d0e1cece0a978b3e5be4cb56a90fa0.setContent(html_78aa7502db607ec7e8c45bed926919b4);
        

        marker_2c56334a249c8bdc5419653351f71473.bindPopup(popup_10d0e1cece0a978b3e5be4cb56a90fa0)
        ;

        
    
    
            marker_2c56334a249c8bdc5419653351f71473.bindTooltip(
                `<div>
                     A STEP OF LEARNING CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_93cc78b3dcf954fcf7a0727dd028d2d9 = L.marker(
                [35.690118, -78.616873],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_4e75c4014a6ccd48e35666600b20ce3c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_93cc78b3dcf954fcf7a0727dd028d2d9.setIcon(icon_4e75c4014a6ccd48e35666600b20ce3c);
        
    
        var popup_48dda96a8e4832b540f177216ef03fd0 = L.popup({"maxWidth": "100%"});

        
            var html_4f75f6a05363d92cc9d0daf1103dcef8 = $(`<div id="html_4f75f6a05363d92cc9d0daf1103dcef8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_48dda96a8e4832b540f177216ef03fd0.setContent(html_4f75f6a05363d92cc9d0daf1103dcef8);
        

        marker_93cc78b3dcf954fcf7a0727dd028d2d9.bindPopup(popup_48dda96a8e4832b540f177216ef03fd0)
        ;

        
    
    
            marker_93cc78b3dcf954fcf7a0727dd028d2d9.bindTooltip(
                `<div>
                     AVERSBORO ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c56c752a6fdc8f7fe241a3af7f9b56e = L.marker(
                [35.68760235, -78.6166526505292],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_f3508ba9fed038e14a4b97d3219187e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6c56c752a6fdc8f7fe241a3af7f9b56e.setIcon(icon_f3508ba9fed038e14a4b97d3219187e1);
        
    
        var popup_637bc9eb2658d4baa688707257302b6d = L.popup({"maxWidth": "100%"});

        
            var html_42bfd83cace896d67697cfb32aa312e3 = $(`<div id="html_42bfd83cace896d67697cfb32aa312e3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_637bc9eb2658d4baa688707257302b6d.setContent(html_42bfd83cace896d67697cfb32aa312e3);
        

        marker_6c56c752a6fdc8f7fe241a3af7f9b56e.bindPopup(popup_637bc9eb2658d4baa688707257302b6d)
        ;

        
    
    
            marker_6c56c752a6fdc8f7fe241a3af7f9b56e.bindTooltip(
                `<div>
                     AVERSBORO ROAD CHILD CARE CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e2ff8176d699f93d913500a2cf913eb3 = L.marker(
                [35.66532836805424, -78.59071742506669],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_416579816ba9c195ca8cfff73ec9534f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e2ff8176d699f93d913500a2cf913eb3.setIcon(icon_416579816ba9c195ca8cfff73ec9534f);
        
    
        var popup_19e4ab64db81b75b7c85c5c8b7eceb8e = L.popup({"maxWidth": "100%"});

        
            var html_97b122ce3c12a586a1fdac87c0c142d9 = $(`<div id="html_97b122ce3c12a586a1fdac87c0c142d9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_19e4ab64db81b75b7c85c5c8b7eceb8e.setContent(html_97b122ce3c12a586a1fdac87c0c142d9);
        

        marker_e2ff8176d699f93d913500a2cf913eb3.bindPopup(popup_19e4ab64db81b75b7c85c5c8b7eceb8e)
        ;

        
    
    
            marker_e2ff8176d699f93d913500a2cf913eb3.bindTooltip(
                `<div>
                     BRYAN ROAD ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2094304891bb1e54dcb35ae79efa8b78 = L.marker(
                [35.69641854545454, -78.5995809090909],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_c3b8e5b6b64ac07554d0c5e7f5d77fc4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2094304891bb1e54dcb35ae79efa8b78.setIcon(icon_c3b8e5b6b64ac07554d0c5e7f5d77fc4);
        
    
        var popup_acd5d2a9f4e5c9e312f786496bfe5a35 = L.popup({"maxWidth": "100%"});

        
            var html_2a8c2f998717a0197653b2d296a2094c = $(`<div id="html_2a8c2f998717a0197653b2d296a2094c" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_acd5d2a9f4e5c9e312f786496bfe5a35.setContent(html_2a8c2f998717a0197653b2d296a2094c);
        

        marker_2094304891bb1e54dcb35ae79efa8b78.bindPopup(popup_acd5d2a9f4e5c9e312f786496bfe5a35)
        ;

        
    
    
            marker_2094304891bb1e54dcb35ae79efa8b78.bindTooltip(
                `<div>
                     CHARMAYNE'S CHRISTIAN CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ea36e6994b0731fbd85bdfdabcc6fc88 = L.marker(
                [35.6840203, -78.60474240104182],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_9b2dcfb402a8bf1bb630cbe5f9209825 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ea36e6994b0731fbd85bdfdabcc6fc88.setIcon(icon_9b2dcfb402a8bf1bb630cbe5f9209825);
        
    
        var popup_7eb26d674f2f6147c6249f459220dd31 = L.popup({"maxWidth": "100%"});

        
            var html_a8bb010f81c49e3b1a7069a72e9c6972 = $(`<div id="html_a8bb010f81c49e3b1a7069a72e9c6972" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7eb26d674f2f6147c6249f459220dd31.setContent(html_a8bb010f81c49e3b1a7069a72e9c6972);
        

        marker_ea36e6994b0731fbd85bdfdabcc6fc88.bindPopup(popup_7eb26d674f2f6147c6249f459220dd31)
        ;

        
    
    
            marker_ea36e6994b0731fbd85bdfdabcc6fc88.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #236
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_65c4f306bf33cc1358b5aec57dfcebfb = L.marker(
                [35.593207, -78.57855868060201],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_ab2a76273f816fa3c291b84f7051edcc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_65c4f306bf33cc1358b5aec57dfcebfb.setIcon(icon_ab2a76273f816fa3c291b84f7051edcc);
        
    
        var popup_59af7e386c23baeb93c395b0c2ba7d8b = L.popup({"maxWidth": "100%"});

        
            var html_f902ef40c90c9649a823af33035483a6 = $(`<div id="html_f902ef40c90c9649a823af33035483a6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_59af7e386c23baeb93c395b0c2ba7d8b.setContent(html_f902ef40c90c9649a823af33035483a6);
        

        marker_65c4f306bf33cc1358b5aec57dfcebfb.bindPopup(popup_59af7e386c23baeb93c395b0c2ba7d8b)
        ;

        
    
    
            marker_65c4f306bf33cc1358b5aec57dfcebfb.bindTooltip(
                `<div>
                     CLEVELAND CHILD CARE AND DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_98a92199eb32fb5288c1475e720486e9 = L.marker(
                [35.7149839992013, -78.60220303996806],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_7d96271c9b8b2da45ca613114c6990da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_98a92199eb32fb5288c1475e720486e9.setIcon(icon_7d96271c9b8b2da45ca613114c6990da);
        
    
        var popup_870e3080b753399689b91f8cd79db5bc = L.popup({"maxWidth": "100%"});

        
            var html_c35fa5e3b50e8f20a817b01825d2fa81 = $(`<div id="html_c35fa5e3b50e8f20a817b01825d2fa81" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_870e3080b753399689b91f8cd79db5bc.setContent(html_c35fa5e3b50e8f20a817b01825d2fa81);
        

        marker_98a92199eb32fb5288c1475e720486e9.bindPopup(popup_870e3080b753399689b91f8cd79db5bc)
        ;

        
    
    
            marker_98a92199eb32fb5288c1475e720486e9.bindTooltip(
                `<div>
                     CREECH ROAD ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6a10eca6e3e4cc1fadc9380decdbddce = L.marker(
                [35.70987370270398, -78.6282655673866],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_59ddfdb65e6641ca0dcc495f2f414533 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_6a10eca6e3e4cc1fadc9380decdbddce.setIcon(icon_59ddfdb65e6641ca0dcc495f2f414533);
        
    
        var popup_c13631fa4ae8b464a568ece5570a49c3 = L.popup({"maxWidth": "100%"});

        
            var html_6895f69673c6ba365573259af7290454 = $(`<div id="html_6895f69673c6ba365573259af7290454" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_c13631fa4ae8b464a568ece5570a49c3.setContent(html_6895f69673c6ba365573259af7290454);
        

        marker_6a10eca6e3e4cc1fadc9380decdbddce.bindPopup(popup_c13631fa4ae8b464a568ece5570a49c3)
        ;

        
    
    
            marker_6a10eca6e3e4cc1fadc9380decdbddce.bindTooltip(
                `<div>
                     ELAINE'S HOME DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2723d6857cae514616739b95e16e4c70 = L.marker(
                [35.700683, -78.617609],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_c8668f785bb953200f51b8872d5d6316 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2723d6857cae514616739b95e16e4c70.setIcon(icon_c8668f785bb953200f51b8872d5d6316);
        
    
        var popup_c70a66e6fff12c3ba32ba2e9425c7fd1 = L.popup({"maxWidth": "100%"});

        
            var html_b150b611e2dab587690d6f48d7b141c7 = $(`<div id="html_b150b611e2dab587690d6f48d7b141c7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c70a66e6fff12c3ba32ba2e9425c7fd1.setContent(html_b150b611e2dab587690d6f48d7b141c7);
        

        marker_2723d6857cae514616739b95e16e4c70.bindPopup(popup_c70a66e6fff12c3ba32ba2e9425c7fd1)
        ;

        
    
    
            marker_2723d6857cae514616739b95e16e4c70.bindTooltip(
                `<div>
                     GARNER ACADEMY, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_db189f21ae07f57aa90fbcd67e94d926 = L.marker(
                [35.69433, -78.5845718],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_4580064ac6370c6170cd809beae572a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_db189f21ae07f57aa90fbcd67e94d926.setIcon(icon_4580064ac6370c6170cd809beae572a6);
        
    
        var popup_2bfd3283650736704200c2696fddd144 = L.popup({"maxWidth": "100%"});

        
            var html_0d8dbb5807e04bb9c431616b928b9df4 = $(`<div id="html_0d8dbb5807e04bb9c431616b928b9df4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2bfd3283650736704200c2696fddd144.setContent(html_0d8dbb5807e04bb9c431616b928b9df4);
        

        marker_db189f21ae07f57aa90fbcd67e94d926.bindPopup(popup_2bfd3283650736704200c2696fddd144)
        ;

        
    
    
            marker_db189f21ae07f57aa90fbcd67e94d926.bindTooltip(
                `<div>
                     GOOD-HONEY BEARS CHILD DEVELOPMENT CTR I
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_420defe007487b9846bd6588a485505f = L.marker(
                [35.69433, -78.5845718],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_5f7da7ee31ae7c5ec0cbaa66669ebf29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_420defe007487b9846bd6588a485505f.setIcon(icon_5f7da7ee31ae7c5ec0cbaa66669ebf29);
        
    
        var popup_8ba706f1b1a0119d279c3a9d46bdc91b = L.popup({"maxWidth": "100%"});

        
            var html_46cf1d3fe32e58bd00a800d62fb5e5d3 = $(`<div id="html_46cf1d3fe32e58bd00a800d62fb5e5d3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8ba706f1b1a0119d279c3a9d46bdc91b.setContent(html_46cf1d3fe32e58bd00a800d62fb5e5d3);
        

        marker_420defe007487b9846bd6588a485505f.bindPopup(popup_8ba706f1b1a0119d279c3a9d46bdc91b)
        ;

        
    
    
            marker_420defe007487b9846bd6588a485505f.bindTooltip(
                `<div>
                     GOOD-HONEYBEARS CHILD DEVELOPMENT CTR INC. II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3a35ccb2696b407be2938badd4931624 = L.marker(
                [35.69771643811077, -78.6141978766883],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_266b05f3ec33195b2f703c45a7fb85e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3a35ccb2696b407be2938badd4931624.setIcon(icon_266b05f3ec33195b2f703c45a7fb85e1);
        
    
        var popup_13aa68b20bf9849a7223bef313597777 = L.popup({"maxWidth": "100%"});

        
            var html_16274b70a70259ddd4bbf0812b2930c1 = $(`<div id="html_16274b70a70259ddd4bbf0812b2930c1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_13aa68b20bf9849a7223bef313597777.setContent(html_16274b70a70259ddd4bbf0812b2930c1);
        

        marker_3a35ccb2696b407be2938badd4931624.bindPopup(popup_13aa68b20bf9849a7223bef313597777)
        ;

        
    
    
            marker_3a35ccb2696b407be2938badd4931624.bindTooltip(
                `<div>
                     HUCKLEBERRY'S FRIENDS PRESCHOOL AND CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b98ea5434a625544ecaeab1d1666cdba = L.marker(
                [35.69161557178833, -78.61468073184055],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_3461dc20444a51983cc2f5ad1864c5b9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b98ea5434a625544ecaeab1d1666cdba.setIcon(icon_3461dc20444a51983cc2f5ad1864c5b9);
        
    
        var popup_41bdfb0ded7a2e6aea456c94f5039cc0 = L.popup({"maxWidth": "100%"});

        
            var html_76e53a1d53a4181a80af1ea71b3d97a5 = $(`<div id="html_76e53a1d53a4181a80af1ea71b3d97a5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_41bdfb0ded7a2e6aea456c94f5039cc0.setContent(html_76e53a1d53a4181a80af1ea71b3d97a5);
        

        marker_b98ea5434a625544ecaeab1d1666cdba.bindPopup(popup_41bdfb0ded7a2e6aea456c94f5039cc0)
        ;

        
    
    
            marker_b98ea5434a625544ecaeab1d1666cdba.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b33423513d3c41cfa69ed19c17ad3923 = L.marker(
                [35.688267873161685, -78.62783701306036],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_bba8d128ffeec571ab3ad8755b58e96c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_b33423513d3c41cfa69ed19c17ad3923.setIcon(icon_bba8d128ffeec571ab3ad8755b58e96c);
        
    
        var popup_cc457d59e931ed2aa8c4094a368d1487 = L.popup({"maxWidth": "100%"});

        
            var html_933c150c9beae4244b4b72f0665e8fb6 = $(`<div id="html_933c150c9beae4244b4b72f0665e8fb6" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_cc457d59e931ed2aa8c4094a368d1487.setContent(html_933c150c9beae4244b4b72f0665e8fb6);
        

        marker_b33423513d3c41cfa69ed19c17ad3923.bindPopup(popup_cc457d59e931ed2aa8c4094a368d1487)
        ;

        
    
    
            marker_b33423513d3c41cfa69ed19c17ad3923.bindTooltip(
                `<div>
                     KRYSTAL'S QUALITY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_03a92b5043236cd842d6c43e1a828be5 = L.marker(
                [35.6930673866727, -78.61664784347514],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_caf5ee9f1ba874f70c52158c97d4b301 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_03a92b5043236cd842d6c43e1a828be5.setIcon(icon_caf5ee9f1ba874f70c52158c97d4b301);
        
    
        var popup_0dc47d9c435bdb472bbef485ed349bff = L.popup({"maxWidth": "100%"});

        
            var html_5e1f21c208556d79115f8536f57008c0 = $(`<div id="html_5e1f21c208556d79115f8536f57008c0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0dc47d9c435bdb472bbef485ed349bff.setContent(html_5e1f21c208556d79115f8536f57008c0);
        

        marker_03a92b5043236cd842d6c43e1a828be5.bindPopup(popup_0dc47d9c435bdb472bbef485ed349bff)
        ;

        
    
    
            marker_03a92b5043236cd842d6c43e1a828be5.bindTooltip(
                `<div>
                     LA PETITE ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b9c3bdba357bc16a4c29f87af4e9984b = L.marker(
                [35.5854891, -78.5533737],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_9eb48cb41afa0d7e3432cface90e2827 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b9c3bdba357bc16a4c29f87af4e9984b.setIcon(icon_9eb48cb41afa0d7e3432cface90e2827);
        
    
        var popup_e8d3b0a8013160e57d4c3996f4f49ee5 = L.popup({"maxWidth": "100%"});

        
            var html_4d68e2912bf9a1a3956efb761ba9b2ff = $(`<div id="html_4d68e2912bf9a1a3956efb761ba9b2ff" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e8d3b0a8013160e57d4c3996f4f49ee5.setContent(html_4d68e2912bf9a1a3956efb761ba9b2ff);
        

        marker_b9c3bdba357bc16a4c29f87af4e9984b.bindPopup(popup_e8d3b0a8013160e57d4c3996f4f49ee5)
        ;

        
    
    
            marker_b9c3bdba357bc16a4c29f87af4e9984b.bindTooltip(
                `<div>
                     LITTLE STEPPING STONES
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_89e877ea3495d5a714b6613868ee2292 = L.marker(
                [35.68843629630548, -78.59837373037698],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_43caeb5b811fc0227bec041aa5417a42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_89e877ea3495d5a714b6613868ee2292.setIcon(icon_43caeb5b811fc0227bec041aa5417a42);
        
    
        var popup_e5e19eb15d9b14c02abaa2406dd0605f = L.popup({"maxWidth": "100%"});

        
            var html_2367f80f9d2234ba4398a7845674a582 = $(`<div id="html_2367f80f9d2234ba4398a7845674a582" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e5e19eb15d9b14c02abaa2406dd0605f.setContent(html_2367f80f9d2234ba4398a7845674a582);
        

        marker_89e877ea3495d5a714b6613868ee2292.bindPopup(popup_e5e19eb15d9b14c02abaa2406dd0605f)
        ;

        
    
    
            marker_89e877ea3495d5a714b6613868ee2292.bindTooltip(
                `<div>
                     LOTS OF LOVE AND LEARNING FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1e6403059a0144c97630509d70702ec = L.marker(
                [35.71163379169224, -78.61391008497927],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_9fd15807a82a38112102d63d8258856f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_e1e6403059a0144c97630509d70702ec.setIcon(icon_9fd15807a82a38112102d63d8258856f);
        
    
        var popup_881556fb7a0e6183edc1cea94f9fcce0 = L.popup({"maxWidth": "100%"});

        
            var html_10d46c6ff301b800405d69b39839baf4 = $(`<div id="html_10d46c6ff301b800405d69b39839baf4" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_881556fb7a0e6183edc1cea94f9fcce0.setContent(html_10d46c6ff301b800405d69b39839baf4);
        

        marker_e1e6403059a0144c97630509d70702ec.bindPopup(popup_881556fb7a0e6183edc1cea94f9fcce0)
        ;

        
    
    
            marker_e1e6403059a0144c97630509d70702ec.bindTooltip(
                `<div>
                     NICOLE'S NEST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c28af702c47627b31a7eeafa23ae5eb7 = L.marker(
                [35.56758975, -78.51244434026879],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_c401eec97973398df0876192a2868e19 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c28af702c47627b31a7eeafa23ae5eb7.setIcon(icon_c401eec97973398df0876192a2868e19);
        
    
        var popup_94ec4ac0139c370da2f7cc115c4b5a59 = L.popup({"maxWidth": "100%"});

        
            var html_3cc8bf5a4df322c7c5565bceb3292c36 = $(`<div id="html_3cc8bf5a4df322c7c5565bceb3292c36" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_94ec4ac0139c370da2f7cc115c4b5a59.setContent(html_3cc8bf5a4df322c7c5565bceb3292c36);
        

        marker_c28af702c47627b31a7eeafa23ae5eb7.bindPopup(popup_94ec4ac0139c370da2f7cc115c4b5a59)
        ;

        
    
    
            marker_c28af702c47627b31a7eeafa23ae5eb7.bindTooltip(
                `<div>
                     POLENTA ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca3208ba7858c5c35e8a8ac78f2b4107 = L.marker(
                [35.69497410863199, -78.62802878443242],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_8b7809dbde4eb760857824ef7c800dee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ca3208ba7858c5c35e8a8ac78f2b4107.setIcon(icon_8b7809dbde4eb760857824ef7c800dee);
        
    
        var popup_f9fca3360d85733026f21fb01241d990 = L.popup({"maxWidth": "100%"});

        
            var html_64b4e1592c577be7f695ea2444563ec2 = $(`<div id="html_64b4e1592c577be7f695ea2444563ec2" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_f9fca3360d85733026f21fb01241d990.setContent(html_64b4e1592c577be7f695ea2444563ec2);
        

        marker_ca3208ba7858c5c35e8a8ac78f2b4107.bindPopup(popup_f9fca3360d85733026f21fb01241d990)
        ;

        
    
    
            marker_ca3208ba7858c5c35e8a8ac78f2b4107.bindTooltip(
                `<div>
                     PRECIOUS ONES DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7166d127dc022fb63d75ed6f705ce948 = L.marker(
                [35.655491600000005, -78.61643517515238],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_de4399830419212a1039ddd8bdc9f14c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7166d127dc022fb63d75ed6f705ce948.setIcon(icon_de4399830419212a1039ddd8bdc9f14c);
        
    
        var popup_bd3965460b9d2c763b8cec0f573a93e4 = L.popup({"maxWidth": "100%"});

        
            var html_8f2832b0c09633ffbd1b121212a50bd5 = $(`<div id="html_8f2832b0c09633ffbd1b121212a50bd5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bd3965460b9d2c763b8cec0f573a93e4.setContent(html_8f2832b0c09633ffbd1b121212a50bd5);
        

        marker_7166d127dc022fb63d75ed6f705ce948.bindPopup(popup_bd3965460b9d2c763b8cec0f573a93e4)
        ;

        
    
    
            marker_7166d127dc022fb63d75ed6f705ce948.bindTooltip(
                `<div>
                     RAND ROAD ELEMENTARY BEFORE AND AFTER SCHOOL PRGRM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec46f918171812b01813f1d3ca4fd3b4 = L.marker(
                [35.70876035268409, -78.62792350528058],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_8320842e369c50384a22634b265c6afc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ec46f918171812b01813f1d3ca4fd3b4.setIcon(icon_8320842e369c50384a22634b265c6afc);
        
    
        var popup_89e0ff6340f125f140f5503d0c7a9495 = L.popup({"maxWidth": "100%"});

        
            var html_f61ecdc0b13553ef632c3a7b262e3477 = $(`<div id="html_f61ecdc0b13553ef632c3a7b262e3477" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_89e0ff6340f125f140f5503d0c7a9495.setContent(html_f61ecdc0b13553ef632c3a7b262e3477);
        

        marker_ec46f918171812b01813f1d3ca4fd3b4.bindPopup(popup_89e0ff6340f125f140f5503d0c7a9495)
        ;

        
    
    
            marker_ec46f918171812b01813f1d3ca4fd3b4.bindTooltip(
                `<div>
                     TAYLOR'S DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7549e0f62d866070823ccba151503172 = L.marker(
                [35.59548245, -78.56469831712519],
                {}
            ).addTo(map_83b3f6495496492ee38dc02ea322d221);
        
    
            var icon_d414bc3935279070bc06f6d55bf4c6d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7549e0f62d866070823ccba151503172.setIcon(icon_d414bc3935279070bc06f6d55bf4c6d5);
        
    
        var popup_aa2e5f385483eddbc5d98e8824b5631f = L.popup({"maxWidth": "100%"});

        
            var html_794339dba59211a968f5dbb3968fffc5 = $(`<div id="html_794339dba59211a968f5dbb3968fffc5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aa2e5f385483eddbc5d98e8824b5631f.setContent(html_794339dba59211a968f5dbb3968fffc5);
        

        marker_7549e0f62d866070823ccba151503172.bindPopup(popup_aa2e5f385483eddbc5d98e8824b5631f)
        ;

        
    
    
            marker_7549e0f62d866070823ccba151503172.bindTooltip(
                `<div>
                     WEST VIEW ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
</script>