<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3257fcdd92d926540d4b00d02e9f49a1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3257fcdd92d926540d4b00d02e9f49a1" ></div>
        
</body>
<script>    
    
            var map_3257fcdd92d926540d4b00d02e9f49a1 = L.map(
                "map_3257fcdd92d926540d4b00d02e9f49a1",
                {
                    center: [36.410963911616605, -76.75547127225559],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cc527107147575f083a52d5c848901fd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var marker_632060f93d707618cafcc1fc7dccb31d = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_3cf13ae39404ec8a96ebc9ae3eb591ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_632060f93d707618cafcc1fc7dccb31d.setIcon(icon_3cf13ae39404ec8a96ebc9ae3eb591ea);
        
    
        var popup_67370cbb4c13edcb519196058ba78600 = L.popup({"maxWidth": "100%"});

        
            var html_5a26d2eaf68bf2b0707fc8ae5c06cb04 = $(`<div id="html_5a26d2eaf68bf2b0707fc8ae5c06cb04" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_67370cbb4c13edcb519196058ba78600.setContent(html_5a26d2eaf68bf2b0707fc8ae5c06cb04);
        

        marker_632060f93d707618cafcc1fc7dccb31d.bindPopup(popup_67370cbb4c13edcb519196058ba78600)
        ;

        
    
    
            marker_632060f93d707618cafcc1fc7dccb31d.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a121288ca13008610df90be7519ea4db = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_4aeeb7bc2d01fe8ef28033334c868f5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a121288ca13008610df90be7519ea4db.setIcon(icon_4aeeb7bc2d01fe8ef28033334c868f5a);
        
    
        var popup_9718f9f165447eb0037bae812345be38 = L.popup({"maxWidth": "100%"});

        
            var html_1c6f5a87de6ae0141c29922c9627524e = $(`<div id="html_1c6f5a87de6ae0141c29922c9627524e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9718f9f165447eb0037bae812345be38.setContent(html_1c6f5a87de6ae0141c29922c9627524e);
        

        marker_a121288ca13008610df90be7519ea4db.bindPopup(popup_9718f9f165447eb0037bae812345be38)
        ;

        
    
    
            marker_a121288ca13008610df90be7519ea4db.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_69607f42d9bef171a0c2831d7685cf79 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_d725b972dbc95983c2175d66459f4233 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_69607f42d9bef171a0c2831d7685cf79.setIcon(icon_d725b972dbc95983c2175d66459f4233);
        
    
        var popup_a326853d3bd94707f0e0215c60d69ab2 = L.popup({"maxWidth": "100%"});

        
            var html_157770b89df281fa3b9179ef8a8a5a37 = $(`<div id="html_157770b89df281fa3b9179ef8a8a5a37" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a326853d3bd94707f0e0215c60d69ab2.setContent(html_157770b89df281fa3b9179ef8a8a5a37);
        

        marker_69607f42d9bef171a0c2831d7685cf79.bindPopup(popup_a326853d3bd94707f0e0215c60d69ab2)
        ;

        
    
    
            marker_69607f42d9bef171a0c2831d7685cf79.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a821af1b187f521c0ef14d7b601ec4f9 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_21e18e5977ff4468a4b7a33286c34ed9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a821af1b187f521c0ef14d7b601ec4f9.setIcon(icon_21e18e5977ff4468a4b7a33286c34ed9);
        
    
        var popup_7fdee2b23d2ed6beaae8c724095f0452 = L.popup({"maxWidth": "100%"});

        
            var html_efa1545fb35c6a51c1cb7d525f29536e = $(`<div id="html_efa1545fb35c6a51c1cb7d525f29536e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7fdee2b23d2ed6beaae8c724095f0452.setContent(html_efa1545fb35c6a51c1cb7d525f29536e);
        

        marker_a821af1b187f521c0ef14d7b601ec4f9.bindPopup(popup_7fdee2b23d2ed6beaae8c724095f0452)
        ;

        
    
    
            marker_a821af1b187f521c0ef14d7b601ec4f9.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_75ab80c4255ff883e679748862f8cda4 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_926ba4753bbb6fba3f6c6efbd9f4f16f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_75ab80c4255ff883e679748862f8cda4.setIcon(icon_926ba4753bbb6fba3f6c6efbd9f4f16f);
        
    
        var popup_5d9a6279c44fd3ca21b9e67b949a6bc8 = L.popup({"maxWidth": "100%"});

        
            var html_176829bc732f5ac76c854f2164c6e3b7 = $(`<div id="html_176829bc732f5ac76c854f2164c6e3b7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5d9a6279c44fd3ca21b9e67b949a6bc8.setContent(html_176829bc732f5ac76c854f2164c6e3b7);
        

        marker_75ab80c4255ff883e679748862f8cda4.bindPopup(popup_5d9a6279c44fd3ca21b9e67b949a6bc8)
        ;

        
    
    
            marker_75ab80c4255ff883e679748862f8cda4.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9fa1fa0e545dff15c7140cdac7af447f = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_ba10eee69da668651abb7460eacbd52a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9fa1fa0e545dff15c7140cdac7af447f.setIcon(icon_ba10eee69da668651abb7460eacbd52a);
        
    
        var popup_861f483407bb1cf20f38f6854c6e09a4 = L.popup({"maxWidth": "100%"});

        
            var html_761b4b1652e2f2e6bb2e09dc957cbbc5 = $(`<div id="html_761b4b1652e2f2e6bb2e09dc957cbbc5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_861f483407bb1cf20f38f6854c6e09a4.setContent(html_761b4b1652e2f2e6bb2e09dc957cbbc5);
        

        marker_9fa1fa0e545dff15c7140cdac7af447f.bindPopup(popup_861f483407bb1cf20f38f6854c6e09a4)
        ;

        
    
    
            marker_9fa1fa0e545dff15c7140cdac7af447f.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c88678dc3baaac540a667a18c909a347 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_7cf5dd40f531da97392875444f0e451d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c88678dc3baaac540a667a18c909a347.setIcon(icon_7cf5dd40f531da97392875444f0e451d);
        
    
        var popup_f8688129ff4562a661ae0a60aacebda9 = L.popup({"maxWidth": "100%"});

        
            var html_cec3dd0b3f75ec76560faf6cef58e632 = $(`<div id="html_cec3dd0b3f75ec76560faf6cef58e632" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f8688129ff4562a661ae0a60aacebda9.setContent(html_cec3dd0b3f75ec76560faf6cef58e632);
        

        marker_c88678dc3baaac540a667a18c909a347.bindPopup(popup_f8688129ff4562a661ae0a60aacebda9)
        ;

        
    
    
            marker_c88678dc3baaac540a667a18c909a347.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f8aaf5c8277512fc5468476b9237b707 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_16f43961955216c2a2a71055ada76903 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f8aaf5c8277512fc5468476b9237b707.setIcon(icon_16f43961955216c2a2a71055ada76903);
        
    
        var popup_34fcd2bf9a4ba567300e134f51ad1b1e = L.popup({"maxWidth": "100%"});

        
            var html_bbb9726cf8dc5e7278e8940b14a3e21d = $(`<div id="html_bbb9726cf8dc5e7278e8940b14a3e21d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_34fcd2bf9a4ba567300e134f51ad1b1e.setContent(html_bbb9726cf8dc5e7278e8940b14a3e21d);
        

        marker_f8aaf5c8277512fc5468476b9237b707.bindPopup(popup_34fcd2bf9a4ba567300e134f51ad1b1e)
        ;

        
    
    
            marker_f8aaf5c8277512fc5468476b9237b707.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ef2c7c382b6a3eb86907fcd4f369b397 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_5ede1f24409160e7d67a34ab58334481 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ef2c7c382b6a3eb86907fcd4f369b397.setIcon(icon_5ede1f24409160e7d67a34ab58334481);
        
    
        var popup_d92b98aac435fa3be7e0744b51b905f3 = L.popup({"maxWidth": "100%"});

        
            var html_39cc5b3c2f369991964d0fd2a1775ddb = $(`<div id="html_39cc5b3c2f369991964d0fd2a1775ddb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d92b98aac435fa3be7e0744b51b905f3.setContent(html_39cc5b3c2f369991964d0fd2a1775ddb);
        

        marker_ef2c7c382b6a3eb86907fcd4f369b397.bindPopup(popup_d92b98aac435fa3be7e0744b51b905f3)
        ;

        
    
    
            marker_ef2c7c382b6a3eb86907fcd4f369b397.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_77ceeef9f34a917cbb375db011313f56 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_139ea78aa022b04d01478500b029b71a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_77ceeef9f34a917cbb375db011313f56.setIcon(icon_139ea78aa022b04d01478500b029b71a);
        
    
        var popup_41ad17ee2df53e53134ecd726f091db4 = L.popup({"maxWidth": "100%"});

        
            var html_55feae3c8656d1557a94d89abeeb0319 = $(`<div id="html_55feae3c8656d1557a94d89abeeb0319" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_41ad17ee2df53e53134ecd726f091db4.setContent(html_55feae3c8656d1557a94d89abeeb0319);
        

        marker_77ceeef9f34a917cbb375db011313f56.bindPopup(popup_41ad17ee2df53e53134ecd726f091db4)
        ;

        
    
    
            marker_77ceeef9f34a917cbb375db011313f56.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec6c18dae3203e2c672efb220cb0810e = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_7788fa9170711e3ea7dbfb8a6fad4823 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ec6c18dae3203e2c672efb220cb0810e.setIcon(icon_7788fa9170711e3ea7dbfb8a6fad4823);
        
    
        var popup_8f99c555698aa08da6eadb0e7a97a515 = L.popup({"maxWidth": "100%"});

        
            var html_99e93f146ad17525a0c9a33b8451a11c = $(`<div id="html_99e93f146ad17525a0c9a33b8451a11c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8f99c555698aa08da6eadb0e7a97a515.setContent(html_99e93f146ad17525a0c9a33b8451a11c);
        

        marker_ec6c18dae3203e2c672efb220cb0810e.bindPopup(popup_8f99c555698aa08da6eadb0e7a97a515)
        ;

        
    
    
            marker_ec6c18dae3203e2c672efb220cb0810e.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_83fb23497306221746cccc631bdc2bb3 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_237f65f1d0e03b3b8ce74092231c7daf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_83fb23497306221746cccc631bdc2bb3.setIcon(icon_237f65f1d0e03b3b8ce74092231c7daf);
        
    
        var popup_3818ca4100c9288a94b55f98b3c2f76d = L.popup({"maxWidth": "100%"});

        
            var html_d54ba0b6b0fb7c844470f1cc4cf2cdbb = $(`<div id="html_d54ba0b6b0fb7c844470f1cc4cf2cdbb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3818ca4100c9288a94b55f98b3c2f76d.setContent(html_d54ba0b6b0fb7c844470f1cc4cf2cdbb);
        

        marker_83fb23497306221746cccc631bdc2bb3.bindPopup(popup_3818ca4100c9288a94b55f98b3c2f76d)
        ;

        
    
    
            marker_83fb23497306221746cccc631bdc2bb3.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7b83975b09ed422c9b49b162f2bc8aa8 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_0b3a071f7a7f816dfe2ffe11137ed89f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7b83975b09ed422c9b49b162f2bc8aa8.setIcon(icon_0b3a071f7a7f816dfe2ffe11137ed89f);
        
    
        var popup_e5f8e69b2c860db82a417b28fc20efbf = L.popup({"maxWidth": "100%"});

        
            var html_589e34a15330049f82361bcef4f67155 = $(`<div id="html_589e34a15330049f82361bcef4f67155" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e5f8e69b2c860db82a417b28fc20efbf.setContent(html_589e34a15330049f82361bcef4f67155);
        

        marker_7b83975b09ed422c9b49b162f2bc8aa8.bindPopup(popup_e5f8e69b2c860db82a417b28fc20efbf)
        ;

        
    
    
            marker_7b83975b09ed422c9b49b162f2bc8aa8.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f7d586cd86a8795ba2df7f8cd417856 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_d63025e20fd382b9c3e6c872f40a6d46 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4f7d586cd86a8795ba2df7f8cd417856.setIcon(icon_d63025e20fd382b9c3e6c872f40a6d46);
        
    
        var popup_8f86f847d7d281eff4e3539e7b35c811 = L.popup({"maxWidth": "100%"});

        
            var html_cc8a337333309a0bb77c99a6f3c1c178 = $(`<div id="html_cc8a337333309a0bb77c99a6f3c1c178" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8f86f847d7d281eff4e3539e7b35c811.setContent(html_cc8a337333309a0bb77c99a6f3c1c178);
        

        marker_4f7d586cd86a8795ba2df7f8cd417856.bindPopup(popup_8f86f847d7d281eff4e3539e7b35c811)
        ;

        
    
    
            marker_4f7d586cd86a8795ba2df7f8cd417856.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_27217c9c135840339db8556779b9e963 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_9b67d04c29989371f89f94b80fb38dcb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_27217c9c135840339db8556779b9e963.setIcon(icon_9b67d04c29989371f89f94b80fb38dcb);
        
    
        var popup_c0dad0dcd6a68f4990619d3328a17f6e = L.popup({"maxWidth": "100%"});

        
            var html_dfdfb3c2c193a3a9f403134398e843f6 = $(`<div id="html_dfdfb3c2c193a3a9f403134398e843f6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c0dad0dcd6a68f4990619d3328a17f6e.setContent(html_dfdfb3c2c193a3a9f403134398e843f6);
        

        marker_27217c9c135840339db8556779b9e963.bindPopup(popup_c0dad0dcd6a68f4990619d3328a17f6e)
        ;

        
    
    
            marker_27217c9c135840339db8556779b9e963.bindTooltip(
                `<div>
                     GATESVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_614695d5c8a13cef784742a9975cb889 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_36f34ce1a57a7358d89f3e4b8741b4db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_614695d5c8a13cef784742a9975cb889.setIcon(icon_36f34ce1a57a7358d89f3e4b8741b4db);
        
    
        var popup_2e028e13ee97fc8d51f369f8782b9f1b = L.popup({"maxWidth": "100%"});

        
            var html_7b0aa94ebf35dfaedeedc226570e7886 = $(`<div id="html_7b0aa94ebf35dfaedeedc226570e7886" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2e028e13ee97fc8d51f369f8782b9f1b.setContent(html_7b0aa94ebf35dfaedeedc226570e7886);
        

        marker_614695d5c8a13cef784742a9975cb889.bindPopup(popup_2e028e13ee97fc8d51f369f8782b9f1b)
        ;

        
    
    
            marker_614695d5c8a13cef784742a9975cb889.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_82aca57b2e4eb82f2ddbcc1d77c1a19b = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_860eaecc52394fcb1d59d231a835cf03 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_82aca57b2e4eb82f2ddbcc1d77c1a19b.setIcon(icon_860eaecc52394fcb1d59d231a835cf03);
        
    
        var popup_2cb45ac8940b3613d8c1b999921494d3 = L.popup({"maxWidth": "100%"});

        
            var html_0b2b6684e6f0182b68a893022c9c679d = $(`<div id="html_0b2b6684e6f0182b68a893022c9c679d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2cb45ac8940b3613d8c1b999921494d3.setContent(html_0b2b6684e6f0182b68a893022c9c679d);
        

        marker_82aca57b2e4eb82f2ddbcc1d77c1a19b.bindPopup(popup_2cb45ac8940b3613d8c1b999921494d3)
        ;

        
    
    
            marker_82aca57b2e4eb82f2ddbcc1d77c1a19b.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f9832e1c10e1e00047236a0b9d35bed5 = L.marker(
                [36.410963911616605, -76.75547127225559],
                {}
            ).addTo(map_3257fcdd92d926540d4b00d02e9f49a1);
        
    
            var icon_d0a4da84bde2bfb65391ced0ddd49482 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f9832e1c10e1e00047236a0b9d35bed5.setIcon(icon_d0a4da84bde2bfb65391ced0ddd49482);
        
    
        var popup_2bea9d830e57b194e4c6e1ff4e6e2fb5 = L.popup({"maxWidth": "100%"});

        
            var html_a4a82e2dd84541599bbd3fe43df85390 = $(`<div id="html_a4a82e2dd84541599bbd3fe43df85390" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2bea9d830e57b194e4c6e1ff4e6e2fb5.setContent(html_a4a82e2dd84541599bbd3fe43df85390);
        

        marker_f9832e1c10e1e00047236a0b9d35bed5.bindPopup(popup_2bea9d830e57b194e4c6e1ff4e6e2fb5)
        ;

        
    
    
            marker_f9832e1c10e1e00047236a0b9d35bed5.bindTooltip(
                `<div>
                     NEW BEGINNINGS DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>