<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bb623ae67080f6b0f7b24b620cb60ea8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bb623ae67080f6b0f7b24b620cb60ea8" ></div>
        
</body>
<script>    
    
            var map_bb623ae67080f6b0f7b24b620cb60ea8 = L.map(
                "map_bb623ae67080f6b0f7b24b620cb60ea8",
                {
                    center: [35.609260772107895, -77.40068548086414],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7d2fb138a7f17cac0efb3ef53d1988c1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var marker_525f9cf9f34db9da0e28b004c07581ce = L.marker(
                [35.609260772107895, -77.40068548086414],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_017e169754362192b1ad5ee4f35b54b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_525f9cf9f34db9da0e28b004c07581ce.setIcon(icon_017e169754362192b1ad5ee4f35b54b7);
        
    
        var popup_227d0fff3ff7098bd1769c1975c05bed = L.popup({"maxWidth": "100%"});

        
            var html_716ce33a07c9c530abe73035162cba2a = $(`<div id="html_716ce33a07c9c530abe73035162cba2a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_227d0fff3ff7098bd1769c1975c05bed.setContent(html_716ce33a07c9c530abe73035162cba2a);
        

        marker_525f9cf9f34db9da0e28b004c07581ce.bindPopup(popup_227d0fff3ff7098bd1769c1975c05bed)
        ;

        
    
    
            marker_525f9cf9f34db9da0e28b004c07581ce.bindTooltip(
                `<div>
                     A CHILD'S PLACE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6e36575ead89535b909163e38ba90310 = L.marker(
                [35.6314483, -77.3756102],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_08e99c4c97a8ed53ee86f69bc41a65a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_6e36575ead89535b909163e38ba90310.setIcon(icon_08e99c4c97a8ed53ee86f69bc41a65a2);
        
    
        var popup_5a6f57bc6e4fe3864fb1cfa2c9ee1a2d = L.popup({"maxWidth": "100%"});

        
            var html_e9cbbb648032a6b065d67b9dad86270c = $(`<div id="html_e9cbbb648032a6b065d67b9dad86270c" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_5a6f57bc6e4fe3864fb1cfa2c9ee1a2d.setContent(html_e9cbbb648032a6b065d67b9dad86270c);
        

        marker_6e36575ead89535b909163e38ba90310.bindPopup(popup_5a6f57bc6e4fe3864fb1cfa2c9ee1a2d)
        ;

        
    
    
            marker_6e36575ead89535b909163e38ba90310.bindTooltip(
                `<div>
                     A PLACE TO CALL HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ba34da9b501e437de22b065c76ba1133 = L.marker(
                [35.588584854267324, -77.35086302818023],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_31ac5668adaeb2135e8be335bf2c6b33 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ba34da9b501e437de22b065c76ba1133.setIcon(icon_31ac5668adaeb2135e8be335bf2c6b33);
        
    
        var popup_32f9b53395697061f1e38ab60c4a611c = L.popup({"maxWidth": "100%"});

        
            var html_6b8a33652d6bbdb2dfba31865c35b738 = $(`<div id="html_6b8a33652d6bbdb2dfba31865c35b738" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_32f9b53395697061f1e38ab60c4a611c.setContent(html_6b8a33652d6bbdb2dfba31865c35b738);
        

        marker_ba34da9b501e437de22b065c76ba1133.bindPopup(popup_32f9b53395697061f1e38ab60c4a611c)
        ;

        
    
    
            marker_ba34da9b501e437de22b065c76ba1133.bindTooltip(
                `<div>
                     ABC LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_545b653d01d95f35ef6ef8a6fdf62548 = L.marker(
                [35.64241161474886, -77.36994296693524],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_6790ae054793a28caef76fb5dc3bfd81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_545b653d01d95f35ef6ef8a6fdf62548.setIcon(icon_6790ae054793a28caef76fb5dc3bfd81);
        
    
        var popup_d38687c5def4c95a3483057c00042f13 = L.popup({"maxWidth": "100%"});

        
            var html_20674fb4009cdbf3f23b98d822b56286 = $(`<div id="html_20674fb4009cdbf3f23b98d822b56286" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d38687c5def4c95a3483057c00042f13.setContent(html_20674fb4009cdbf3f23b98d822b56286);
        

        marker_545b653d01d95f35ef6ef8a6fdf62548.bindPopup(popup_d38687c5def4c95a3483057c00042f13)
        ;

        
    
    
            marker_545b653d01d95f35ef6ef8a6fdf62548.bindTooltip(
                `<div>
                     ABOVE & BEYOND CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4328555bb52feb3836f84ca9cb8df7cf = L.marker(
                [35.60866828571428, -77.38251257142858],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_45e37f577a07c7c1a4cf21c74b699cc8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4328555bb52feb3836f84ca9cb8df7cf.setIcon(icon_45e37f577a07c7c1a4cf21c74b699cc8);
        
    
        var popup_ac7da8c5c88c8c9be39070cb3e00ae50 = L.popup({"maxWidth": "100%"});

        
            var html_0c216792ed1c2ef73e23dbe29e4e4f51 = $(`<div id="html_0c216792ed1c2ef73e23dbe29e4e4f51" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ac7da8c5c88c8c9be39070cb3e00ae50.setContent(html_0c216792ed1c2ef73e23dbe29e4e4f51);
        

        marker_4328555bb52feb3836f84ca9cb8df7cf.bindPopup(popup_ac7da8c5c88c8c9be39070cb3e00ae50)
        ;

        
    
    
            marker_4328555bb52feb3836f84ca9cb8df7cf.bindTooltip(
                `<div>
                     ABUNDANTLY CHOZEN LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_404da19b55bdae99c4664ea42f6f134b = L.marker(
                [35.56068191084352, -77.36383813965453],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_99df9acc3d1890fc83e2447a90b1d9b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_404da19b55bdae99c4664ea42f6f134b.setIcon(icon_99df9acc3d1890fc83e2447a90b1d9b7);
        
    
        var popup_a7ad49178bf001ce8625b298f6ed4487 = L.popup({"maxWidth": "100%"});

        
            var html_22ef01c2d6fd022e57f8cf46a26d0657 = $(`<div id="html_22ef01c2d6fd022e57f8cf46a26d0657" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a7ad49178bf001ce8625b298f6ed4487.setContent(html_22ef01c2d6fd022e57f8cf46a26d0657);
        

        marker_404da19b55bdae99c4664ea42f6f134b.bindPopup(popup_a7ad49178bf001ce8625b298f6ed4487)
        ;

        
    
    
            marker_404da19b55bdae99c4664ea42f6f134b.bindTooltip(
                `<div>
                     CHILDREN'S CAMPUS OF GREENVILLE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fae207dee4817e104ef86b67d6f6923e = L.marker(
                [35.60271926531116, -77.41472551658418],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_fda309137c2163b14afb0c341ea2a11e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fae207dee4817e104ef86b67d6f6923e.setIcon(icon_fda309137c2163b14afb0c341ea2a11e);
        
    
        var popup_e4ecca8bab82cacd4732f1683b2c2243 = L.popup({"maxWidth": "100%"});

        
            var html_002db2ea3320c722449ca4cad239d841 = $(`<div id="html_002db2ea3320c722449ca4cad239d841" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e4ecca8bab82cacd4732f1683b2c2243.setContent(html_002db2ea3320c722449ca4cad239d841);
        

        marker_fae207dee4817e104ef86b67d6f6923e.bindPopup(popup_e4ecca8bab82cacd4732f1683b2c2243)
        ;

        
    
    
            marker_fae207dee4817e104ef86b67d6f6923e.bindTooltip(
                `<div>
                     CHILDREN'S WORLD LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0a7d03a510de9c6623cf2c6813dbfc7c = L.marker(
                [35.57382149494949, -77.36061117171717],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_f680c2e60cdbca3f3fb9eee51165073d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0a7d03a510de9c6623cf2c6813dbfc7c.setIcon(icon_f680c2e60cdbca3f3fb9eee51165073d);
        
    
        var popup_f908e27d09eb135acbcdabf117f6a1d6 = L.popup({"maxWidth": "100%"});

        
            var html_9e9804078a3e7f5b6e06f05d89a0a108 = $(`<div id="html_9e9804078a3e7f5b6e06f05d89a0a108" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f908e27d09eb135acbcdabf117f6a1d6.setContent(html_9e9804078a3e7f5b6e06f05d89a0a108);
        

        marker_0a7d03a510de9c6623cf2c6813dbfc7c.bindPopup(popup_f908e27d09eb135acbcdabf117f6a1d6)
        ;

        
    
    
            marker_0a7d03a510de9c6623cf2c6813dbfc7c.bindTooltip(
                `<div>
                     CHILDREN'S WORLD LEARNING CENTER & ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0ea3b53437214dfade57d5e03c442fd6 = L.marker(
                [35.581907, -77.38945],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_8331c8f807e572eb7110f0972b320b57 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_0ea3b53437214dfade57d5e03c442fd6.setIcon(icon_8331c8f807e572eb7110f0972b320b57);
        
    
        var popup_b357e23279afe6cd3519cb44d119b988 = L.popup({"maxWidth": "100%"});

        
            var html_7bc8c2db4f798a9a76081fd4f448cab9 = $(`<div id="html_7bc8c2db4f798a9a76081fd4f448cab9" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_b357e23279afe6cd3519cb44d119b988.setContent(html_7bc8c2db4f798a9a76081fd4f448cab9);
        

        marker_0ea3b53437214dfade57d5e03c442fd6.bindPopup(popup_b357e23279afe6cd3519cb44d119b988)
        ;

        
    
    
            marker_0ea3b53437214dfade57d5e03c442fd6.bindTooltip(
                `<div>
                     COLORFUL KIDZ FCCH, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7ad74ab2e12918b2c1732c7196adce80 = L.marker(
                [35.63562718844819, -77.3762475070277],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_bf2b2712e976b2ff7c3e18fa0377a901 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7ad74ab2e12918b2c1732c7196adce80.setIcon(icon_bf2b2712e976b2ff7c3e18fa0377a901);
        
    
        var popup_e517bbfd805aee83e3345ac214d8f201 = L.popup({"maxWidth": "100%"});

        
            var html_e068b79da02b83542474f57ce74d1567 = $(`<div id="html_e068b79da02b83542474f57ce74d1567" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e517bbfd805aee83e3345ac214d8f201.setContent(html_e068b79da02b83542474f57ce74d1567);
        

        marker_7ad74ab2e12918b2c1732c7196adce80.bindPopup(popup_e517bbfd805aee83e3345ac214d8f201)
        ;

        
    
    
            marker_7ad74ab2e12918b2c1732c7196adce80.bindTooltip(
                `<div>
                     COMMUNITY CHRISTIAN CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9a109ec5b6a45c1e33d8c306b5483a33 = L.marker(
                [35.6070761041286, -77.42099598542802],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_88acd2fadb2909014a264737e83e7e99 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9a109ec5b6a45c1e33d8c306b5483a33.setIcon(icon_88acd2fadb2909014a264737e83e7e99);
        
    
        var popup_4d8fe670c64b1e523b09135aaa031cc3 = L.popup({"maxWidth": "100%"});

        
            var html_4c0f8c57701cb4fb4f3701b5853ebc7d = $(`<div id="html_4c0f8c57701cb4fb4f3701b5853ebc7d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4d8fe670c64b1e523b09135aaa031cc3.setContent(html_4c0f8c57701cb4fb4f3701b5853ebc7d);
        

        marker_9a109ec5b6a45c1e33d8c306b5483a33.bindPopup(popup_4d8fe670c64b1e523b09135aaa031cc3)
        ;

        
    
    
            marker_9a109ec5b6a45c1e33d8c306b5483a33.bindTooltip(
                `<div>
                     CORNERSTONE CHRISTIAN CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_87fd7c6e09dbfb88e127a7c8748719d9 = L.marker(
                [35.63143705406203, -77.372235648646],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_256e44a4a4dd07eee1ed678651f95c08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_87fd7c6e09dbfb88e127a7c8748719d9.setIcon(icon_256e44a4a4dd07eee1ed678651f95c08);
        
    
        var popup_dd5b803064e28fa985e1770392de3be9 = L.popup({"maxWidth": "100%"});

        
            var html_9ebec575d23cb9df067b9453bcccdabf = $(`<div id="html_9ebec575d23cb9df067b9453bcccdabf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_dd5b803064e28fa985e1770392de3be9.setContent(html_9ebec575d23cb9df067b9453bcccdabf);
        

        marker_87fd7c6e09dbfb88e127a7c8748719d9.bindPopup(popup_dd5b803064e28fa985e1770392de3be9)
        ;

        
    
    
            marker_87fd7c6e09dbfb88e127a7c8748719d9.bindTooltip(
                `<div>
                     DAWNSHA'S LOVING CHILDCARE #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d106558b344c997b0c1d3583f387a104 = L.marker(
                [35.62970401258437, -77.36534596327293],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_d3a9186b415bff54cb98418e170ea446 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d106558b344c997b0c1d3583f387a104.setIcon(icon_d3a9186b415bff54cb98418e170ea446);
        
    
        var popup_33402438c441c107fbfe0960dc2a1ed9 = L.popup({"maxWidth": "100%"});

        
            var html_4e955e08c1c654b18c884de9a8195ee7 = $(`<div id="html_4e955e08c1c654b18c884de9a8195ee7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_33402438c441c107fbfe0960dc2a1ed9.setContent(html_4e955e08c1c654b18c884de9a8195ee7);
        

        marker_d106558b344c997b0c1d3583f387a104.bindPopup(popup_33402438c441c107fbfe0960dc2a1ed9)
        ;

        
    
    
            marker_d106558b344c997b0c1d3583f387a104.bindTooltip(
                `<div>
                     DAWNSHA'S LOVING CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_08de435e3da0cce1abb34a7450676b22 = L.marker(
                [35.59706, -77.395195],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_9892ec4eab75f039218c6fcd3e9906cc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_08de435e3da0cce1abb34a7450676b22.setIcon(icon_9892ec4eab75f039218c6fcd3e9906cc);
        
    
        var popup_0d894f7a32f7e2162b88cbe85297d4a7 = L.popup({"maxWidth": "100%"});

        
            var html_22eb0fc7aca0051c052c9e09fc90c573 = $(`<div id="html_22eb0fc7aca0051c052c9e09fc90c573" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0d894f7a32f7e2162b88cbe85297d4a7.setContent(html_22eb0fc7aca0051c052c9e09fc90c573);
        

        marker_08de435e3da0cce1abb34a7450676b22.bindPopup(popup_0d894f7a32f7e2162b88cbe85297d4a7)
        ;

        
    
    
            marker_08de435e3da0cce1abb34a7450676b22.bindTooltip(
                `<div>
                     EILENE'S AFTERSCHOOL CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aa4267ec2ed50325cd03ecd85a82e6fc = L.marker(
                [35.596819, -77.395214],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_8ada3dc1a41e87924ef61e0e3263462b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_aa4267ec2ed50325cd03ecd85a82e6fc.setIcon(icon_8ada3dc1a41e87924ef61e0e3263462b);
        
    
        var popup_76c6201248067c1e2101762a76d293a7 = L.popup({"maxWidth": "100%"});

        
            var html_ccaac91f77c81efdbd836fd058f2db37 = $(`<div id="html_ccaac91f77c81efdbd836fd058f2db37" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_76c6201248067c1e2101762a76d293a7.setContent(html_ccaac91f77c81efdbd836fd058f2db37);
        

        marker_aa4267ec2ed50325cd03ecd85a82e6fc.bindPopup(popup_76c6201248067c1e2101762a76d293a7)
        ;

        
    
    
            marker_aa4267ec2ed50325cd03ecd85a82e6fc.bindTooltip(
                `<div>
                     EILENE'S CHILD CARE, LLC #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7318ae0fbf637a43674eb4852406ba1a = L.marker(
                [35.63159273395832, -77.37374071195588],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_a5b9f357d3128dba0a261cadc750dbe5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7318ae0fbf637a43674eb4852406ba1a.setIcon(icon_a5b9f357d3128dba0a261cadc750dbe5);
        
    
        var popup_00cddcb331688aa16774d384de8bb5d4 = L.popup({"maxWidth": "100%"});

        
            var html_df2f47b3934b7923053b061d0e0d4a32 = $(`<div id="html_df2f47b3934b7923053b061d0e0d4a32" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_00cddcb331688aa16774d384de8bb5d4.setContent(html_df2f47b3934b7923053b061d0e0d4a32);
        

        marker_7318ae0fbf637a43674eb4852406ba1a.bindPopup(popup_00cddcb331688aa16774d384de8bb5d4)
        ;

        
    
    
            marker_7318ae0fbf637a43674eb4852406ba1a.bindTooltip(
                `<div>
                     FOLLOW THE SON CHILD CARE CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5d26ae098a71ba005861c5cfb4804449 = L.marker(
                [35.602553148706654, -77.35053506604291],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_d1513d868279b99affe72837cd0d1203 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5d26ae098a71ba005861c5cfb4804449.setIcon(icon_d1513d868279b99affe72837cd0d1203);
        
    
        var popup_ad73115b40210239f907d370f31549d0 = L.popup({"maxWidth": "100%"});

        
            var html_0fed739c92667b16680a9081ab1e99b0 = $(`<div id="html_0fed739c92667b16680a9081ab1e99b0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ad73115b40210239f907d370f31549d0.setContent(html_0fed739c92667b16680a9081ab1e99b0);
        

        marker_5d26ae098a71ba005861c5cfb4804449.bindPopup(popup_ad73115b40210239f907d370f31549d0)
        ;

        
    
    
            marker_5d26ae098a71ba005861c5cfb4804449.bindTooltip(
                `<div>
                     GREENVILLE CHILD CARE AND LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7031201cb5aba18bbaf7f2fec5e31ea3 = L.marker(
                [35.605969, -77.394464],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_ff50ed9534c06d6183ee091962152af3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7031201cb5aba18bbaf7f2fec5e31ea3.setIcon(icon_ff50ed9534c06d6183ee091962152af3);
        
    
        var popup_e695bdac373864a7c5724f3ce4749994 = L.popup({"maxWidth": "100%"});

        
            var html_45f9599a05433c0d59fa7c680425c03e = $(`<div id="html_45f9599a05433c0d59fa7c680425c03e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e695bdac373864a7c5724f3ce4749994.setContent(html_45f9599a05433c0d59fa7c680425c03e);
        

        marker_7031201cb5aba18bbaf7f2fec5e31ea3.bindPopup(popup_e695bdac373864a7c5724f3ce4749994)
        ;

        
    
    
            marker_7031201cb5aba18bbaf7f2fec5e31ea3.bindTooltip(
                `<div>
                     KID'S CASTLE LEARNING CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_894a339069b73745feac261a49451127 = L.marker(
                [35.6314483, -77.3756102],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_b89b08d1bb5fe068c132fca50450edfd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_894a339069b73745feac261a49451127.setIcon(icon_b89b08d1bb5fe068c132fca50450edfd);
        
    
        var popup_9cb6d73cf3db04b5618b2f2db2826aeb = L.popup({"maxWidth": "100%"});

        
            var html_7906a05ff303ef33fa66f230f9d37524 = $(`<div id="html_7906a05ff303ef33fa66f230f9d37524" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_9cb6d73cf3db04b5618b2f2db2826aeb.setContent(html_7906a05ff303ef33fa66f230f9d37524);
        

        marker_894a339069b73745feac261a49451127.bindPopup(popup_9cb6d73cf3db04b5618b2f2db2826aeb)
        ;

        
    
    
            marker_894a339069b73745feac261a49451127.bindTooltip(
                `<div>
                     KIDS 1ST DAYCARE, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_11ec990ec5a82a2217d69b1efdfb732c = L.marker(
                [35.58942553101337, -77.39575514256568],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_3a235ca9e0dfac5775917d60377bed15 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_11ec990ec5a82a2217d69b1efdfb732c.setIcon(icon_3a235ca9e0dfac5775917d60377bed15);
        
    
        var popup_8ef2d5eb79543f829865a51f0a1385a1 = L.popup({"maxWidth": "100%"});

        
            var html_2565b272eea947cd0580fca03cbb0b4c = $(`<div id="html_2565b272eea947cd0580fca03cbb0b4c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8ef2d5eb79543f829865a51f0a1385a1.setContent(html_2565b272eea947cd0580fca03cbb0b4c);
        

        marker_11ec990ec5a82a2217d69b1efdfb732c.bindPopup(popup_8ef2d5eb79543f829865a51f0a1385a1)
        ;

        
    
    
            marker_11ec990ec5a82a2217d69b1efdfb732c.bindTooltip(
                `<div>
                     KIDZ PLACE CHILD CARE #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_050c892cc416698495843baeb3a34359 = L.marker(
                [35.5831452412808, -77.36293260122784],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_cd2a2217087aa7fd49bc66b74135e52c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_050c892cc416698495843baeb3a34359.setIcon(icon_cd2a2217087aa7fd49bc66b74135e52c);
        
    
        var popup_0cf6542ac230ad8f59242f3dbe424a95 = L.popup({"maxWidth": "100%"});

        
            var html_57b930bbae45ff997988d13b381b0349 = $(`<div id="html_57b930bbae45ff997988d13b381b0349" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0cf6542ac230ad8f59242f3dbe424a95.setContent(html_57b930bbae45ff997988d13b381b0349);
        

        marker_050c892cc416698495843baeb3a34359.bindPopup(popup_0cf6542ac230ad8f59242f3dbe424a95)
        ;

        
    
    
            marker_050c892cc416698495843baeb3a34359.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTERS LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_61a2d3153b0f677800759855334dbfd3 = L.marker(
                [35.60510537963113, -77.40682186537762],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_c3aa8ea3c34a0c83f10ff1ebaf7b7014 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_61a2d3153b0f677800759855334dbfd3.setIcon(icon_c3aa8ea3c34a0c83f10ff1ebaf7b7014);
        
    
        var popup_86babc6e183b5225189a1d6f36614109 = L.popup({"maxWidth": "100%"});

        
            var html_ef5185789ccf0f59d13cb8518f4f724e = $(`<div id="html_ef5185789ccf0f59d13cb8518f4f724e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_86babc6e183b5225189a1d6f36614109.setContent(html_ef5185789ccf0f59d13cb8518f4f724e);
        

        marker_61a2d3153b0f677800759855334dbfd3.bindPopup(popup_86babc6e183b5225189a1d6f36614109)
        ;

        
    
    
            marker_61a2d3153b0f677800759855334dbfd3.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTERS LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c002875cb3b2843e22746b3b8fa4542d = L.marker(
                [35.5909899, -77.4214301],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_d1e0678a63145ed267ed1cf1af2213fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c002875cb3b2843e22746b3b8fa4542d.setIcon(icon_d1e0678a63145ed267ed1cf1af2213fe);
        
    
        var popup_16c7eed2b66116cd47ac8179b8c19574 = L.popup({"maxWidth": "100%"});

        
            var html_bb43373cf21cd36c860502481123a037 = $(`<div id="html_bb43373cf21cd36c860502481123a037" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_16c7eed2b66116cd47ac8179b8c19574.setContent(html_bb43373cf21cd36c860502481123a037);
        

        marker_c002875cb3b2843e22746b3b8fa4542d.bindPopup(popup_16c7eed2b66116cd47ac8179b8c19574)
        ;

        
    
    
            marker_c002875cb3b2843e22746b3b8fa4542d.bindTooltip(
                `<div>
                     LAKEFOREST ELEMENTARY PRE K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7aab0c47597d47d692be5c022481d7db = L.marker(
                [35.57971473721332, -77.39852359772473],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_2e99205b2a801e7ffce4d5ffaa63157f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7aab0c47597d47d692be5c022481d7db.setIcon(icon_2e99205b2a801e7ffce4d5ffaa63157f);
        
    
        var popup_804923d56e8be6be1e35541573d9255a = L.popup({"maxWidth": "100%"});

        
            var html_85c8a038c9a682d591c39087b7dab6a9 = $(`<div id="html_85c8a038c9a682d591c39087b7dab6a9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_804923d56e8be6be1e35541573d9255a.setContent(html_85c8a038c9a682d591c39087b7dab6a9);
        

        marker_7aab0c47597d47d692be5c022481d7db.bindPopup(popup_804923d56e8be6be1e35541573d9255a)
        ;

        
    
    
            marker_7aab0c47597d47d692be5c022481d7db.bindTooltip(
                `<div>
                     LITTLE SUNSHINES ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_feb74e8571807f40d81854e0585f6974 = L.marker(
                [35.644319379225216, -77.37804114270236],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_039acbb4c9f5ba64257de91951e0d6c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_feb74e8571807f40d81854e0585f6974.setIcon(icon_039acbb4c9f5ba64257de91951e0d6c4);
        
    
        var popup_3a736238aad7fb42b8a8ca2071ad39c7 = L.popup({"maxWidth": "100%"});

        
            var html_bed056a4ffd0ac5cad67d6cd109f1bbf = $(`<div id="html_bed056a4ffd0ac5cad67d6cd109f1bbf" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_3a736238aad7fb42b8a8ca2071ad39c7.setContent(html_bed056a4ffd0ac5cad67d6cd109f1bbf);
        

        marker_feb74e8571807f40d81854e0585f6974.bindPopup(popup_3a736238aad7fb42b8a8ca2071ad39c7)
        ;

        
    
    
            marker_feb74e8571807f40d81854e0585f6974.bindTooltip(
                `<div>
                     NETTE'S CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b962e41a6417eaa4d05e3b3bb613b605 = L.marker(
                [35.595988243463964, -77.39525453462568],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_55148f4c4ee5f68a490965d6ad94b288 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b962e41a6417eaa4d05e3b3bb613b605.setIcon(icon_55148f4c4ee5f68a490965d6ad94b288);
        
    
        var popup_a63fd674b407d977519a1bc1be88936f = L.popup({"maxWidth": "100%"});

        
            var html_0f50ab7afee6c7f9cf13085550140e2e = $(`<div id="html_0f50ab7afee6c7f9cf13085550140e2e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a63fd674b407d977519a1bc1be88936f.setContent(html_0f50ab7afee6c7f9cf13085550140e2e);
        

        marker_b962e41a6417eaa4d05e3b3bb613b605.bindPopup(popup_a63fd674b407d977519a1bc1be88936f)
        ;

        
    
    
            marker_b962e41a6417eaa4d05e3b3bb613b605.bindTooltip(
                `<div>
                     OVER THE RAINBOW CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b5db3043c64d564168a4beaad5a9b143 = L.marker(
                [35.6528988, -77.3518795],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_ede01407f7aacac6d267388818007a00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b5db3043c64d564168a4beaad5a9b143.setIcon(icon_ede01407f7aacac6d267388818007a00);
        
    
        var popup_c88ba4a9b0fe3923cf5fe20ed82f059a = L.popup({"maxWidth": "100%"});

        
            var html_405a0c62e2a12b39292b0b5b007ef5ea = $(`<div id="html_405a0c62e2a12b39292b0b5b007ef5ea" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c88ba4a9b0fe3923cf5fe20ed82f059a.setContent(html_405a0c62e2a12b39292b0b5b007ef5ea);
        

        marker_b5db3043c64d564168a4beaad5a9b143.bindPopup(popup_c88ba4a9b0fe3923cf5fe20ed82f059a)
        ;

        
    
    
            marker_b5db3043c64d564168a4beaad5a9b143.bindTooltip(
                `<div>
                     PITT COUNTY EARLY HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_db404fc63b9e37493420391c9456cedd = L.marker(
                [35.6528988, -77.3518795],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_4968332a99d3c20d5a2da67862894406 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_db404fc63b9e37493420391c9456cedd.setIcon(icon_4968332a99d3c20d5a2da67862894406);
        
    
        var popup_27f7d708fdd831b58e31e1f38b8828eb = L.popup({"maxWidth": "100%"});

        
            var html_9ad47de9ec74224fae1036c4f26fbd61 = $(`<div id="html_9ad47de9ec74224fae1036c4f26fbd61" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_27f7d708fdd831b58e31e1f38b8828eb.setContent(html_9ad47de9ec74224fae1036c4f26fbd61);
        

        marker_db404fc63b9e37493420391c9456cedd.bindPopup(popup_27f7d708fdd831b58e31e1f38b8828eb)
        ;

        
    
    
            marker_db404fc63b9e37493420391c9456cedd.bindTooltip(
                `<div>
                     PITT COUNTY HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6ef8dc270777b455116f7a43df2ea0c6 = L.marker(
                [35.58966207413002, -77.39573755346213],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_6d462572077d2c8405da75bbd9f8061c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6ef8dc270777b455116f7a43df2ea0c6.setIcon(icon_6d462572077d2c8405da75bbd9f8061c);
        
    
        var popup_d93732ad774f0c80c2665ba56f9d8f07 = L.popup({"maxWidth": "100%"});

        
            var html_eedde6ec4f214a8fb62da6b7601377f2 = $(`<div id="html_eedde6ec4f214a8fb62da6b7601377f2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d93732ad774f0c80c2665ba56f9d8f07.setContent(html_eedde6ec4f214a8fb62da6b7601377f2);
        

        marker_6ef8dc270777b455116f7a43df2ea0c6.bindPopup(popup_d93732ad774f0c80c2665ba56f9d8f07)
        ;

        
    
    
            marker_6ef8dc270777b455116f7a43df2ea0c6.bindTooltip(
                `<div>
                     PRECIOUS MOMENTS AFTERSCHOOL CARE, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c101378cd14154c328dbde91f1bcb0b8 = L.marker(
                [35.61397, -77.396831],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_8a96420fa84f41446d76cf9d3340fd3d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c101378cd14154c328dbde91f1bcb0b8.setIcon(icon_8a96420fa84f41446d76cf9d3340fd3d);
        
    
        var popup_9f940362bfc9c9ca049de9862a1a07cd = L.popup({"maxWidth": "100%"});

        
            var html_960866f0d6e99e968bb1ac1a7d36d474 = $(`<div id="html_960866f0d6e99e968bb1ac1a7d36d474" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9f940362bfc9c9ca049de9862a1a07cd.setContent(html_960866f0d6e99e968bb1ac1a7d36d474);
        

        marker_c101378cd14154c328dbde91f1bcb0b8.bindPopup(popup_9f940362bfc9c9ca049de9862a1a07cd)
        ;

        
    
    
            marker_c101378cd14154c328dbde91f1bcb0b8.bindTooltip(
                `<div>
                     PRECIOUS MOMENTS LEARNING CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_97f17202473ff9861a6348f53a9422e2 = L.marker(
                [35.58449016630667, -77.31202804990333],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_ea55fd69f879cf0446d2f73537ba5670 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_97f17202473ff9861a6348f53a9422e2.setIcon(icon_ea55fd69f879cf0446d2f73537ba5670);
        
    
        var popup_5091893069005a97fdfef99f74023a63 = L.popup({"maxWidth": "100%"});

        
            var html_0aa64885f92baa8ea811722cb479e441 = $(`<div id="html_0aa64885f92baa8ea811722cb479e441" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5091893069005a97fdfef99f74023a63.setContent(html_0aa64885f92baa8ea811722cb479e441);
        

        marker_97f17202473ff9861a6348f53a9422e2.bindPopup(popup_5091893069005a97fdfef99f74023a63)
        ;

        
    
    
            marker_97f17202473ff9861a6348f53a9422e2.bindTooltip(
                `<div>
                     RISING STARS OF GREENVILLE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fa692875fd6f2fe48b449acbc9893d9a = L.marker(
                [35.6057908, -77.3894997],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_0af601514df272fe48f1c5f04b9ad3a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fa692875fd6f2fe48b449acbc9893d9a.setIcon(icon_0af601514df272fe48f1c5f04b9ad3a1);
        
    
        var popup_a2cd401a23feb67bd518071a22047fdf = L.popup({"maxWidth": "100%"});

        
            var html_ad10dab6bf39f8e3dac5524b00d0b197 = $(`<div id="html_ad10dab6bf39f8e3dac5524b00d0b197" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a2cd401a23feb67bd518071a22047fdf.setContent(html_ad10dab6bf39f8e3dac5524b00d0b197);
        

        marker_fa692875fd6f2fe48b449acbc9893d9a.bindPopup(popup_a2cd401a23feb67bd518071a22047fdf)
        ;

        
    
    
            marker_fa692875fd6f2fe48b449acbc9893d9a.bindTooltip(
                `<div>
                     SADIE SAULTER PRE-K CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_228eadf4b075eed4d9845bee99e26398 = L.marker(
                [35.59597210501006, -77.40184706579667],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_67d8050fb2f69b88e484283f67db584b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_228eadf4b075eed4d9845bee99e26398.setIcon(icon_67d8050fb2f69b88e484283f67db584b);
        
    
        var popup_4f9e732d0fcab0d79dee84793229d02a = L.popup({"maxWidth": "100%"});

        
            var html_334605e2455dd7421941a3d4e71c2711 = $(`<div id="html_334605e2455dd7421941a3d4e71c2711" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4f9e732d0fcab0d79dee84793229d02a.setContent(html_334605e2455dd7421941a3d4e71c2711);
        

        marker_228eadf4b075eed4d9845bee99e26398.bindPopup(popup_4f9e732d0fcab0d79dee84793229d02a)
        ;

        
    
    
            marker_228eadf4b075eed4d9845bee99e26398.bindTooltip(
                `<div>
                     SMILING FACES LEARNING CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c43ac5222ba340229355dbcc8c3a88ac = L.marker(
                [35.608038, -77.3829958],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_8d6a0b5efd518a32ab17da4a872fd852 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c43ac5222ba340229355dbcc8c3a88ac.setIcon(icon_8d6a0b5efd518a32ab17da4a872fd852);
        
    
        var popup_73748833b6738838475a32b718618997 = L.popup({"maxWidth": "100%"});

        
            var html_654181ba04ece9f84b071f9229f237b8 = $(`<div id="html_654181ba04ece9f84b071f9229f237b8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_73748833b6738838475a32b718618997.setContent(html_654181ba04ece9f84b071f9229f237b8);
        

        marker_c43ac5222ba340229355dbcc8c3a88ac.bindPopup(popup_73748833b6738838475a32b718618997)
        ;

        
    
    
            marker_c43ac5222ba340229355dbcc8c3a88ac.bindTooltip(
                `<div>
                     SYCAMORE CHAPEL'S TENDER TOUCH CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ab9d1332dff9a2f5716556ad5b6aa7d8 = L.marker(
                [35.54191720406233, -77.35167105450113],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_727f12ae4fc0453e774e749efa9f9b86 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ab9d1332dff9a2f5716556ad5b6aa7d8.setIcon(icon_727f12ae4fc0453e774e749efa9f9b86);
        
    
        var popup_3cea31b4142d6e713ec8be89fe9502aa = L.popup({"maxWidth": "100%"});

        
            var html_03fcf46150c7a77d43055b99ba07a2a0 = $(`<div id="html_03fcf46150c7a77d43055b99ba07a2a0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3cea31b4142d6e713ec8be89fe9502aa.setContent(html_03fcf46150c7a77d43055b99ba07a2a0);
        

        marker_ab9d1332dff9a2f5716556ad5b6aa7d8.bindPopup(popup_3cea31b4142d6e713ec8be89fe9502aa)
        ;

        
    
    
            marker_ab9d1332dff9a2f5716556ad5b6aa7d8.bindTooltip(
                `<div>
                     THE BEAR PATCH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_52d16a6bf16c9950fd46dde0e6ac3fbe = L.marker(
                [35.59571059144527, -77.34067556061858],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_38d3cefabac55301a69355df5521b513 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_52d16a6bf16c9950fd46dde0e6ac3fbe.setIcon(icon_38d3cefabac55301a69355df5521b513);
        
    
        var popup_ea0a6bd898107fd778c3e216db95088d = L.popup({"maxWidth": "100%"});

        
            var html_9ce58d2fde3d316fe458adda36337355 = $(`<div id="html_9ce58d2fde3d316fe458adda36337355" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ea0a6bd898107fd778c3e216db95088d.setContent(html_9ce58d2fde3d316fe458adda36337355);
        

        marker_52d16a6bf16c9950fd46dde0e6ac3fbe.bindPopup(popup_ea0a6bd898107fd778c3e216db95088d)
        ;

        
    
    
            marker_52d16a6bf16c9950fd46dde0e6ac3fbe.bindTooltip(
                `<div>
                     TRINITY DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e6051662c78f8b5c236ad3d2bdcc3771 = L.marker(
                [35.54661668346156, -77.35159573198692],
                {}
            ).addTo(map_bb623ae67080f6b0f7b24b620cb60ea8);
        
    
            var icon_92308634f356af6da152aa8ffe85d8c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e6051662c78f8b5c236ad3d2bdcc3771.setIcon(icon_92308634f356af6da152aa8ffe85d8c8);
        
    
        var popup_a2b10b6077df7f7f4f7a4c4b3004883d = L.popup({"maxWidth": "100%"});

        
            var html_08bed464d80b557166ef107b77557418 = $(`<div id="html_08bed464d80b557166ef107b77557418" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a2b10b6077df7f7f4f7a4c4b3004883d.setContent(html_08bed464d80b557166ef107b77557418);
        

        marker_e6051662c78f8b5c236ad3d2bdcc3771.bindPopup(popup_a2b10b6077df7f7f4f7a4c4b3004883d)
        ;

        
    
    
            marker_e6051662c78f8b5c236ad3d2bdcc3771.bindTooltip(
                `<div>
                     WINTERGREEN PRIMARY PRE K
                 </div>`,
                {"sticky": true}
            );
        
</script>