<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_08d8cec1541b7042b4f6407c64b46ab1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_08d8cec1541b7042b4f6407c64b46ab1" ></div>
        
</body>
<script>    
    
            var map_08d8cec1541b7042b4f6407c64b46ab1 = L.map(
                "map_08d8cec1541b7042b4f6407c64b46ab1",
                {
                    center: [35.31892425, -80.64159425823354],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8f02541e74573c2327e1286dcd4cf4be = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_08d8cec1541b7042b4f6407c64b46ab1);
        
    
            var marker_400e5cb37904c4245cc41aca11775dda = L.marker(
                [35.31892425, -80.64159425823354],
                {}
            ).addTo(map_08d8cec1541b7042b4f6407c64b46ab1);
        
    
            var icon_501dd790ee5d0c02a16a36d0ad420d64 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_400e5cb37904c4245cc41aca11775dda.setIcon(icon_501dd790ee5d0c02a16a36d0ad420d64);
        
    
        var popup_5b5079672f9c53ad07173dce594ec951 = L.popup({"maxWidth": "100%"});

        
            var html_ba3bbbed71a162fcc94567235c4d6df8 = $(`<div id="html_ba3bbbed71a162fcc94567235c4d6df8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5b5079672f9c53ad07173dce594ec951.setContent(html_ba3bbbed71a162fcc94567235c4d6df8);
        

        marker_400e5cb37904c4245cc41aca11775dda.bindPopup(popup_5b5079672f9c53ad07173dce594ec951)
        ;

        
    
    
            marker_400e5cb37904c4245cc41aca11775dda.bindTooltip(
                `<div>
                     HARRISBURG ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2b8a54fddbe7782ce4117a5ec227e462 = L.marker(
                [35.31892425, -80.64159425823354],
                {}
            ).addTo(map_08d8cec1541b7042b4f6407c64b46ab1);
        
    
            var icon_13ddb12fa38f68357a6e58030c460936 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2b8a54fddbe7782ce4117a5ec227e462.setIcon(icon_13ddb12fa38f68357a6e58030c460936);
        
    
        var popup_858ce3da03ee732dc36796c3b05e572a = L.popup({"maxWidth": "100%"});

        
            var html_1169317c2a4597f7e7a2cb007c2b8ca7 = $(`<div id="html_1169317c2a4597f7e7a2cb007c2b8ca7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_858ce3da03ee732dc36796c3b05e572a.setContent(html_1169317c2a4597f7e7a2cb007c2b8ca7);
        

        marker_2b8a54fddbe7782ce4117a5ec227e462.bindPopup(popup_858ce3da03ee732dc36796c3b05e572a)
        ;

        
    
    
            marker_2b8a54fddbe7782ce4117a5ec227e462.bindTooltip(
                `<div>
                     HARRISBURG KIDS : PLUS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b7757d374bfba080da8ec8bc95489b99 = L.marker(
                [35.2854354, -80.626597],
                {}
            ).addTo(map_08d8cec1541b7042b4f6407c64b46ab1);
        
    
            var icon_cde337c22aaa77469b3cf729740cd544 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b7757d374bfba080da8ec8bc95489b99.setIcon(icon_cde337c22aaa77469b3cf729740cd544);
        
    
        var popup_be73c7ef0b6af39bb41d602869e31e0b = L.popup({"maxWidth": "100%"});

        
            var html_38a7a1b381e67b1a4091ce08018e7870 = $(`<div id="html_38a7a1b381e67b1a4091ce08018e7870" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_be73c7ef0b6af39bb41d602869e31e0b.setContent(html_38a7a1b381e67b1a4091ce08018e7870);
        

        marker_b7757d374bfba080da8ec8bc95489b99.bindPopup(popup_be73c7ef0b6af39bb41d602869e31e0b)
        ;

        
    
    
            marker_b7757d374bfba080da8ec8bc95489b99.bindTooltip(
                `<div>
                     HICKORY RIDGE KIDS:PLUS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_119d0b1538ee5d12f5829fbfa4fcbf49 = L.marker(
                [35.32099570942499, -80.65235499154778],
                {}
            ).addTo(map_08d8cec1541b7042b4f6407c64b46ab1);
        
    
            var icon_f7c98b17886bd655c99cb00a034f8d2d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_119d0b1538ee5d12f5829fbfa4fcbf49.setIcon(icon_f7c98b17886bd655c99cb00a034f8d2d);
        
    
        var popup_60ddac7bafa260c125ac64b0f99f1cf8 = L.popup({"maxWidth": "100%"});

        
            var html_bfe475ae978c15b9d2e5825fbcf6f708 = $(`<div id="html_bfe475ae978c15b9d2e5825fbcf6f708" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_60ddac7bafa260c125ac64b0f99f1cf8.setContent(html_bfe475ae978c15b9d2e5825fbcf6f708);
        

        marker_119d0b1538ee5d12f5829fbfa4fcbf49.bindPopup(popup_60ddac7bafa260c125ac64b0f99f1cf8)
        ;

        
    
    
            marker_119d0b1538ee5d12f5829fbfa4fcbf49.bindTooltip(
                `<div>
                     LITTLE LEARNERS CHILD DEVELOPMENT CENTER, II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c3534d05ff451e6a761796216fa11d03 = L.marker(
                [35.321072529854256, -80.67131783970483],
                {}
            ).addTo(map_08d8cec1541b7042b4f6407c64b46ab1);
        
    
            var icon_25463ff735cbc26c8badc22689930e7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_c3534d05ff451e6a761796216fa11d03.setIcon(icon_25463ff735cbc26c8badc22689930e7e);
        
    
        var popup_22095cf5a9ef4c74fd11f6ad975a209e = L.popup({"maxWidth": "100%"});

        
            var html_09662ecfc4d7a216573b66ac549df53a = $(`<div id="html_09662ecfc4d7a216573b66ac549df53a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_22095cf5a9ef4c74fd11f6ad975a209e.setContent(html_09662ecfc4d7a216573b66ac549df53a);
        

        marker_c3534d05ff451e6a761796216fa11d03.bindPopup(popup_22095cf5a9ef4c74fd11f6ad975a209e)
        ;

        
    
    
            marker_c3534d05ff451e6a761796216fa11d03.bindTooltip(
                `<div>
                     MY BABIES STAR ACADEMY CDC & PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_70dd6eff051d6029c2b663c8d5b019fc = L.marker(
                [35.323811455263254, -80.64171980850209],
                {}
            ).addTo(map_08d8cec1541b7042b4f6407c64b46ab1);
        
    
            var icon_0df384c988782ef0cad7a6d1ecf16adc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_70dd6eff051d6029c2b663c8d5b019fc.setIcon(icon_0df384c988782ef0cad7a6d1ecf16adc);
        
    
        var popup_0da1ef4ffb2295de6ec2e6c770064808 = L.popup({"maxWidth": "100%"});

        
            var html_1b5b5df6f026493d1ebf5fc99603dac8 = $(`<div id="html_1b5b5df6f026493d1ebf5fc99603dac8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0da1ef4ffb2295de6ec2e6c770064808.setContent(html_1b5b5df6f026493d1ebf5fc99603dac8);
        

        marker_70dd6eff051d6029c2b663c8d5b019fc.bindPopup(popup_0da1ef4ffb2295de6ec2e6c770064808)
        ;

        
    
    
            marker_70dd6eff051d6029c2b663c8d5b019fc.bindTooltip(
                `<div>
                     THE CHILDREN'S COURTYARD #3212
                 </div>`,
                {"sticky": true}
            );
        
</script>