<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3be3f8b21461e9be25134b318b2ccb98 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3be3f8b21461e9be25134b318b2ccb98" ></div>
        
</body>
<script>    
    
            var map_3be3f8b21461e9be25134b318b2ccb98 = L.map(
                "map_3be3f8b21461e9be25134b318b2ccb98",
                {
                    center: [34.858563, -76.903497],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b59a62f1e1426b33c3339e03403b3ded = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var marker_444fb829c9e09d9a044c240e467a3762 = L.marker(
                [34.858563, -76.903497],
                {}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var icon_511a1bdfcc9c8bb56d02cbc0c301b655 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_444fb829c9e09d9a044c240e467a3762.setIcon(icon_511a1bdfcc9c8bb56d02cbc0c301b655);
        
    
        var popup_81c390d624a9d3d32bb8fdd85cd5cc1f = L.popup({"maxWidth": "100%"});

        
            var html_7092b686601cb51d5da8d03e3b4fb2f6 = $(`<div id="html_7092b686601cb51d5da8d03e3b4fb2f6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_81c390d624a9d3d32bb8fdd85cd5cc1f.setContent(html_7092b686601cb51d5da8d03e3b4fb2f6);
        

        marker_444fb829c9e09d9a044c240e467a3762.bindPopup(popup_81c390d624a9d3d32bb8fdd85cd5cc1f)
        ;

        
    
    
            marker_444fb829c9e09d9a044c240e467a3762.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #74
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_89494f468cda932231d5532bd72a7c9e = L.marker(
                [34.882345, -76.880792],
                {}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var icon_2ddf3bb9367acca100d98fcc5535e786 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_89494f468cda932231d5532bd72a7c9e.setIcon(icon_2ddf3bb9367acca100d98fcc5535e786);
        
    
        var popup_5cf662374fb1930b850e4a1c5c18c970 = L.popup({"maxWidth": "100%"});

        
            var html_de18ab8a26cc7da282cf4368ce7a59a5 = $(`<div id="html_de18ab8a26cc7da282cf4368ce7a59a5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5cf662374fb1930b850e4a1c5c18c970.setContent(html_de18ab8a26cc7da282cf4368ce7a59a5);
        

        marker_89494f468cda932231d5532bd72a7c9e.bindPopup(popup_5cf662374fb1930b850e4a1c5c18c970)
        ;

        
    
    
            marker_89494f468cda932231d5532bd72a7c9e.bindTooltip(
                `<div>
                     EMBRACING DIFFERENCES CHILD CARE AND AFTER SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_07397af7da7fee42b36e9bf7b0f2954d = L.marker(
                [34.882323280138806, -76.88956797918972],
                {}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var icon_3319331e2d3a9bc564e76bcecd2ceba4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_07397af7da7fee42b36e9bf7b0f2954d.setIcon(icon_3319331e2d3a9bc564e76bcecd2ceba4);
        
    
        var popup_e94e516cbdd7680f0e993f5d641da10e = L.popup({"maxWidth": "100%"});

        
            var html_f9909fde2334f955a24c720c910e8649 = $(`<div id="html_f9909fde2334f955a24c720c910e8649" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e94e516cbdd7680f0e993f5d641da10e.setContent(html_f9909fde2334f955a24c720c910e8649);
        

        marker_07397af7da7fee42b36e9bf7b0f2954d.bindPopup(popup_e94e516cbdd7680f0e993f5d641da10e)
        ;

        
    
    
            marker_07397af7da7fee42b36e9bf7b0f2954d.bindTooltip(
                `<div>
                     EXCEL LEARNING CENTERS #6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fae4faf3dec2dbf423e6916dcd775f6f = L.marker(
                [34.89359066284442, -76.91444636551225],
                {}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var icon_9d860b1251a8def245fd2e5e68fb0725 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fae4faf3dec2dbf423e6916dcd775f6f.setIcon(icon_9d860b1251a8def245fd2e5e68fb0725);
        
    
        var popup_5df8023da6fe21fe7b1085576481a2f8 = L.popup({"maxWidth": "100%"});

        
            var html_f112ba484e75047c61450250d949a09a = $(`<div id="html_f112ba484e75047c61450250d949a09a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5df8023da6fe21fe7b1085576481a2f8.setContent(html_f112ba484e75047c61450250d949a09a);
        

        marker_fae4faf3dec2dbf423e6916dcd775f6f.bindPopup(popup_5df8023da6fe21fe7b1085576481a2f8)
        ;

        
    
    
            marker_fae4faf3dec2dbf423e6916dcd775f6f.bindTooltip(
                `<div>
                     GRAHAM A. BARDEN ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ae542ef5162a67f99c6a96224a02770f = L.marker(
                [34.878269, -76.901706],
                {}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var icon_75affe7cfbfe2255c0c3f9580f8374b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ae542ef5162a67f99c6a96224a02770f.setIcon(icon_75affe7cfbfe2255c0c3f9580f8374b3);
        
    
        var popup_17acb6fea89ba2332e41e257ec14b867 = L.popup({"maxWidth": "100%"});

        
            var html_6cdfc0e3e7657bfbd5052d6a13b11820 = $(`<div id="html_6cdfc0e3e7657bfbd5052d6a13b11820" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_17acb6fea89ba2332e41e257ec14b867.setContent(html_6cdfc0e3e7657bfbd5052d6a13b11820);
        

        marker_ae542ef5162a67f99c6a96224a02770f.bindPopup(popup_17acb6fea89ba2332e41e257ec14b867)
        ;

        
    
    
            marker_ae542ef5162a67f99c6a96224a02770f.bindTooltip(
                `<div>
                     HAVELOCK ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3df9cd0d7decce9ccc90ee5385d7f9aa = L.marker(
                [34.862059, -76.898053],
                {}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var icon_42e2e02aba859376e475ed16fce336d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3df9cd0d7decce9ccc90ee5385d7f9aa.setIcon(icon_42e2e02aba859376e475ed16fce336d1);
        
    
        var popup_82e4c5989f283a534c3658635ae0f25f = L.popup({"maxWidth": "100%"});

        
            var html_03d6b5302e463ccd38ddb41777f2f6f7 = $(`<div id="html_03d6b5302e463ccd38ddb41777f2f6f7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_82e4c5989f283a534c3658635ae0f25f.setContent(html_03d6b5302e463ccd38ddb41777f2f6f7);
        

        marker_3df9cd0d7decce9ccc90ee5385d7f9aa.bindPopup(popup_82e4c5989f283a534c3658635ae0f25f)
        ;

        
    
    
            marker_3df9cd0d7decce9ccc90ee5385d7f9aa.bindTooltip(
                `<div>
                     KIDZ CHOICE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1fca91d4ab49558ef6b3d04e8e73a211 = L.marker(
                [34.882688, -76.91585],
                {}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var icon_5f1521b7e6ddbeb528420e1e6a54c463 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1fca91d4ab49558ef6b3d04e8e73a211.setIcon(icon_5f1521b7e6ddbeb528420e1e6a54c463);
        
    
        var popup_62b8927744eb4de3ce05197a5177bcba = L.popup({"maxWidth": "100%"});

        
            var html_c0bd7c5462f9198186d6dfb38892910b = $(`<div id="html_c0bd7c5462f9198186d6dfb38892910b" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_62b8927744eb4de3ce05197a5177bcba.setContent(html_c0bd7c5462f9198186d6dfb38892910b);
        

        marker_1fca91d4ab49558ef6b3d04e8e73a211.bindPopup(popup_62b8927744eb4de3ce05197a5177bcba)
        ;

        
    
    
            marker_1fca91d4ab49558ef6b3d04e8e73a211.bindTooltip(
                `<div>
                     MS SOPHIA'S HOME CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8f25390503d6ff3fea06767ba54636f1 = L.marker(
                [34.8746345, -76.8900146],
                {}
            ).addTo(map_3be3f8b21461e9be25134b318b2ccb98);
        
    
            var icon_2c85c385d92b79c96c438f16aaa6f361 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_8f25390503d6ff3fea06767ba54636f1.setIcon(icon_2c85c385d92b79c96c438f16aaa6f361);
        
    
        var popup_2e9637c5eedb172d8075aad5b0402156 = L.popup({"maxWidth": "100%"});

        
            var html_7087345cb5a41d3022c4a04eeeb68f49 = $(`<div id="html_7087345cb5a41d3022c4a04eeeb68f49" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_2e9637c5eedb172d8075aad5b0402156.setContent(html_7087345cb5a41d3022c4a04eeeb68f49);
        

        marker_8f25390503d6ff3fea06767ba54636f1.bindPopup(popup_2e9637c5eedb172d8075aad5b0402156)
        ;

        
    
    
            marker_8f25390503d6ff3fea06767ba54636f1.bindTooltip(
                `<div>
                     PAULA'S DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
</script>