<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3f7c2266241f0f43fecbe23e5c1ce0de {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3f7c2266241f0f43fecbe23e5c1ce0de" ></div>
        
</body>
<script>    
    
            var map_3f7c2266241f0f43fecbe23e5c1ce0de = L.map(
                "map_3f7c2266241f0f43fecbe23e5c1ce0de",
                {
                    center: [36.093319, -79.359969],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bd5138a324739999999d23f2a5fde43d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3f7c2266241f0f43fecbe23e5c1ce0de);
        
    
            var marker_36b891cd19f4e42787ba65eca2dd04f6 = L.marker(
                [36.093319, -79.359969],
                {}
            ).addTo(map_3f7c2266241f0f43fecbe23e5c1ce0de);
        
    
            var icon_84f9f6a187c974342778cd03e1d20f8e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_36b891cd19f4e42787ba65eca2dd04f6.setIcon(icon_84f9f6a187c974342778cd03e1d20f8e);
        
    
        var popup_207c50f784598266d4e8ac8c5f369f79 = L.popup({"maxWidth": "100%"});

        
            var html_f2c384c019680796a9972189af39a502 = $(`<div id="html_f2c384c019680796a9972189af39a502" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_207c50f784598266d4e8ac8c5f369f79.setContent(html_f2c384c019680796a9972189af39a502);
        

        marker_36b891cd19f4e42787ba65eca2dd04f6.bindPopup(popup_207c50f784598266d4e8ac8c5f369f79)
        ;

        
    
    
            marker_36b891cd19f4e42787ba65eca2dd04f6.bindTooltip(
                `<div>
                     HAW RIVER DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ef5457c3d9f5f3bfa6ef756e6bb6dcfb = L.marker(
                [36.093865, -79.358782],
                {}
            ).addTo(map_3f7c2266241f0f43fecbe23e5c1ce0de);
        
    
            var icon_7937afe37c888b4e4edb954b882a94a8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ef5457c3d9f5f3bfa6ef756e6bb6dcfb.setIcon(icon_7937afe37c888b4e4edb954b882a94a8);
        
    
        var popup_59f5f954254666cec990894a784c71b7 = L.popup({"maxWidth": "100%"});

        
            var html_561e81514132436b67574bc0e918cc38 = $(`<div id="html_561e81514132436b67574bc0e918cc38" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_59f5f954254666cec990894a784c71b7.setContent(html_561e81514132436b67574bc0e918cc38);
        

        marker_ef5457c3d9f5f3bfa6ef756e6bb6dcfb.bindPopup(popup_59f5f954254666cec990894a784c71b7)
        ;

        
    
    
            marker_ef5457c3d9f5f3bfa6ef756e6bb6dcfb.bindTooltip(
                `<div>
                     HAW RIVER ELEMENTARY PREK
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3602df06ce0ece9cf4d7b3d47b5bad33 = L.marker(
                [36.094615986076136, -79.35590880467268],
                {}
            ).addTo(map_3f7c2266241f0f43fecbe23e5c1ce0de);
        
    
            var icon_7311014a4d835ce15d4dfdae40ca1aec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3602df06ce0ece9cf4d7b3d47b5bad33.setIcon(icon_7311014a4d835ce15d4dfdae40ca1aec);
        
    
        var popup_4ca989612244daeb9ba79e63e122fb6f = L.popup({"maxWidth": "100%"});

        
            var html_31a7958a923d057057718effd5645207 = $(`<div id="html_31a7958a923d057057718effd5645207" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4ca989612244daeb9ba79e63e122fb6f.setContent(html_31a7958a923d057057718effd5645207);
        

        marker_3602df06ce0ece9cf4d7b3d47b5bad33.bindPopup(popup_4ca989612244daeb9ba79e63e122fb6f)
        ;

        
    
    
            marker_3602df06ce0ece9cf4d7b3d47b5bad33.bindTooltip(
                `<div>
                     KIDZ N PROGRESS 2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_08d7573032c5c4753cc572dcecd4e780 = L.marker(
                [36.094565552777816, -79.3572661398721],
                {}
            ).addTo(map_3f7c2266241f0f43fecbe23e5c1ce0de);
        
    
            var icon_560e21f9a449cefd6be9a4b2eb07f45c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_08d7573032c5c4753cc572dcecd4e780.setIcon(icon_560e21f9a449cefd6be9a4b2eb07f45c);
        
    
        var popup_c87db879e761c9417d2ebc6d9450694f = L.popup({"maxWidth": "100%"});

        
            var html_2aef7682cff88cc525f8dc1e32c72698 = $(`<div id="html_2aef7682cff88cc525f8dc1e32c72698" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c87db879e761c9417d2ebc6d9450694f.setContent(html_2aef7682cff88cc525f8dc1e32c72698);
        

        marker_08d7573032c5c4753cc572dcecd4e780.bindPopup(popup_c87db879e761c9417d2ebc6d9450694f)
        ;

        
    
    
            marker_08d7573032c5c4753cc572dcecd4e780.bindTooltip(
                `<div>
                     KIDZ N PROGRESS SCHOOL AGE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dfc64d10e3a4702fe478ecf3254d1f41 = L.marker(
                [36.09449342927136, -79.35472955959713],
                {}
            ).addTo(map_3f7c2266241f0f43fecbe23e5c1ce0de);
        
    
            var icon_cd391f6a5c8e7d208bdaf5e778999d0e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dfc64d10e3a4702fe478ecf3254d1f41.setIcon(icon_cd391f6a5c8e7d208bdaf5e778999d0e);
        
    
        var popup_59869c471da2ea987b4d458b210b48e0 = L.popup({"maxWidth": "100%"});

        
            var html_79b6b2a961189c29029b5732a6d722b6 = $(`<div id="html_79b6b2a961189c29029b5732a6d722b6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_59869c471da2ea987b4d458b210b48e0.setContent(html_79b6b2a961189c29029b5732a6d722b6);
        

        marker_dfc64d10e3a4702fe478ecf3254d1f41.bindPopup(popup_59869c471da2ea987b4d458b210b48e0)
        ;

        
    
    
            marker_dfc64d10e3a4702fe478ecf3254d1f41.bindTooltip(
                `<div>
                     LOVE'S CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
</script>