<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9d3c01e2c19b6672d504ee631641d44c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_9d3c01e2c19b6672d504ee631641d44c" ></div>
        
</body>
<script>    
    
            var map_9d3c01e2c19b6672d504ee631641d44c = L.map(
                "map_9d3c01e2c19b6672d504ee631641d44c",
                {
                    center: [36.31538225502965, -78.39768079703836],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_04dee276c7a00b76b4107863a51f5529 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var marker_71fad3734843630a2cbb81ff655af1af = L.marker(
                [36.31538225502965, -78.39768079703836],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_2ca1d9c96e9d22f8fa71c2b1e96bc9b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_71fad3734843630a2cbb81ff655af1af.setIcon(icon_2ca1d9c96e9d22f8fa71c2b1e96bc9b8);
        
    
        var popup_71b8e15d1579bac5751ef9d2d1d7e27d = L.popup({"maxWidth": "100%"});

        
            var html_efca56a1213f3632ad528bf1fa6bac48 = $(`<div id="html_efca56a1213f3632ad528bf1fa6bac48" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_71b8e15d1579bac5751ef9d2d1d7e27d.setContent(html_efca56a1213f3632ad528bf1fa6bac48);
        

        marker_71fad3734843630a2cbb81ff655af1af.bindPopup(popup_71b8e15d1579bac5751ef9d2d1d7e27d)
        ;

        
    
    
            marker_71fad3734843630a2cbb81ff655af1af.bindTooltip(
                `<div>
                     ABOVE AND BEYOND CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_803bb63c49a3507cbd92ad51819be0c0 = L.marker(
                [36.34618476960522, -78.38950970238731],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_8960190be0ede07c6603cf9eae18bb69 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_803bb63c49a3507cbd92ad51819be0c0.setIcon(icon_8960190be0ede07c6603cf9eae18bb69);
        
    
        var popup_5685f4be03ad1fc5c84ca809e0eae36b = L.popup({"maxWidth": "100%"});

        
            var html_a4405d1b3abcd457888eb516ddf15bb2 = $(`<div id="html_a4405d1b3abcd457888eb516ddf15bb2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5685f4be03ad1fc5c84ca809e0eae36b.setContent(html_a4405d1b3abcd457888eb516ddf15bb2);
        

        marker_803bb63c49a3507cbd92ad51819be0c0.bindPopup(popup_5685f4be03ad1fc5c84ca809e0eae36b)
        ;

        
    
    
            marker_803bb63c49a3507cbd92ad51819be0c0.bindTooltip(
                `<div>
                     CHOSEN GENERATION DAYCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a823304bd5c9d993002b767ed2c1a808 = L.marker(
                [36.30199555, -78.36671061698301],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_d757c45454ff9120b1ff6a6449d5fb1a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a823304bd5c9d993002b767ed2c1a808.setIcon(icon_d757c45454ff9120b1ff6a6449d5fb1a);
        
    
        var popup_2b5bf81434e452055558e35d340591a5 = L.popup({"maxWidth": "100%"});

        
            var html_f32aca15420aff07b80f939e5383fc21 = $(`<div id="html_f32aca15420aff07b80f939e5383fc21" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2b5bf81434e452055558e35d340591a5.setContent(html_f32aca15420aff07b80f939e5383fc21);
        

        marker_a823304bd5c9d993002b767ed2c1a808.bindPopup(popup_2b5bf81434e452055558e35d340591a5)
        ;

        
    
    
            marker_a823304bd5c9d993002b767ed2c1a808.bindTooltip(
                `<div>
                     CLARKE ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b35b6b007a7f728bbb0457fb5ae518ff = L.marker(
                [35.3881420620978, -82.40422150969354],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_72f9c8e988f3584f7ec944e72b16e647 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b35b6b007a7f728bbb0457fb5ae518ff.setIcon(icon_72f9c8e988f3584f7ec944e72b16e647);
        
    
        var popup_95d999f52a72818e04925e6dbea35dcc = L.popup({"maxWidth": "100%"});

        
            var html_db93e3ae30ff3ce9026188f7c1ee8ab1 = $(`<div id="html_db93e3ae30ff3ce9026188f7c1ee8ab1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_95d999f52a72818e04925e6dbea35dcc.setContent(html_db93e3ae30ff3ce9026188f7c1ee8ab1);
        

        marker_b35b6b007a7f728bbb0457fb5ae518ff.bindPopup(popup_95d999f52a72818e04925e6dbea35dcc)
        ;

        
    
    
            marker_b35b6b007a7f728bbb0457fb5ae518ff.bindTooltip(
                `<div>
                     DABNEY ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_847a6aec85014cd39acfe93553f18257 = L.marker(
                [36.318201, -78.418599],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_f6acfd3ecda261d8cd8ce105a6356192 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_847a6aec85014cd39acfe93553f18257.setIcon(icon_f6acfd3ecda261d8cd8ce105a6356192);
        
    
        var popup_0fd356bb2d38e24d92d3f1258aa968ac = L.popup({"maxWidth": "100%"});

        
            var html_b1f193c5d971e14003a3a97200a0b98b = $(`<div id="html_b1f193c5d971e14003a3a97200a0b98b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0fd356bb2d38e24d92d3f1258aa968ac.setContent(html_b1f193c5d971e14003a3a97200a0b98b);
        

        marker_847a6aec85014cd39acfe93553f18257.bindPopup(popup_0fd356bb2d38e24d92d3f1258aa968ac)
        ;

        
    
    
            marker_847a6aec85014cd39acfe93553f18257.bindTooltip(
                `<div>
                     EM ROLLINS ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ee9595297eb427f696fd662b05b8f3a1 = L.marker(
                [36.31093788021509, -78.38712694603647],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_6259c3695085d562bd1a71b19627f3c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ee9595297eb427f696fd662b05b8f3a1.setIcon(icon_6259c3695085d562bd1a71b19627f3c3);
        
    
        var popup_22f543321b5ff0883c3c93bbe8f34461 = L.popup({"maxWidth": "100%"});

        
            var html_fb731cc9905485253de568b05ca73a69 = $(`<div id="html_fb731cc9905485253de568b05ca73a69" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_22f543321b5ff0883c3c93bbe8f34461.setContent(html_fb731cc9905485253de568b05ca73a69);
        

        marker_ee9595297eb427f696fd662b05b8f3a1.bindPopup(popup_22f543321b5ff0883c3c93bbe8f34461)
        ;

        
    
    
            marker_ee9595297eb427f696fd662b05b8f3a1.bindTooltip(
                `<div>
                     GREAT BEGINNINGS CHRISTIAN CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_27cceec111ad5db9b5d51e734f41f0e4 = L.marker(
                [35.318099, -82.49122],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_7e8fcb9d7a8ad2611979757338c3e19e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_27cceec111ad5db9b5d51e734f41f0e4.setIcon(icon_7e8fcb9d7a8ad2611979757338c3e19e);
        
    
        var popup_8e4493e8cd9b1679cf7b6766bc8811f5 = L.popup({"maxWidth": "100%"});

        
            var html_d3b072b2f7e0fe88345a1235b945bf01 = $(`<div id="html_d3b072b2f7e0fe88345a1235b945bf01" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_8e4493e8cd9b1679cf7b6766bc8811f5.setContent(html_d3b072b2f7e0fe88345a1235b945bf01);
        

        marker_27cceec111ad5db9b5d51e734f41f0e4.bindPopup(popup_8e4493e8cd9b1679cf7b6766bc8811f5)
        ;

        
    
    
            marker_27cceec111ad5db9b5d51e734f41f0e4.bindTooltip(
                `<div>
                     HAWKINS KID COLLEGE DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d1ef5ca47678d54471c98e7505c1daf1 = L.marker(
                [36.343594, -78.397807],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_1563aa529a845e6b1340a5157c1a1b1e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_d1ef5ca47678d54471c98e7505c1daf1.setIcon(icon_1563aa529a845e6b1340a5157c1a1b1e);
        
    
        var popup_f29036dae35ace97ffe2c496eb30d415 = L.popup({"maxWidth": "100%"});

        
            var html_4208fc3be5e60355c8639e46df03dd39 = $(`<div id="html_4208fc3be5e60355c8639e46df03dd39" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_f29036dae35ace97ffe2c496eb30d415.setContent(html_4208fc3be5e60355c8639e46df03dd39);
        

        marker_d1ef5ca47678d54471c98e7505c1daf1.bindPopup(popup_f29036dae35ace97ffe2c496eb30d415)
        ;

        
    
    
            marker_d1ef5ca47678d54471c98e7505c1daf1.bindTooltip(
                `<div>
                     HENDERSON FAMILY DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a03765ae03087def8946e1363a01fc93 = L.marker(
                [36.33820975, -78.40178912969776],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_bd7a3387933de822628c5acdab15ad55 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a03765ae03087def8946e1363a01fc93.setIcon(icon_bd7a3387933de822628c5acdab15ad55);
        
    
        var popup_fd5626124f4cded4fb504dd0db2a36fe = L.popup({"maxWidth": "100%"});

        
            var html_e315800e20234b46d60cff84cc74705f = $(`<div id="html_e315800e20234b46d60cff84cc74705f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fd5626124f4cded4fb504dd0db2a36fe.setContent(html_e315800e20234b46d60cff84cc74705f);
        

        marker_a03765ae03087def8946e1363a01fc93.bindPopup(popup_fd5626124f4cded4fb504dd0db2a36fe)
        ;

        
    
    
            marker_a03765ae03087def8946e1363a01fc93.bindTooltip(
                `<div>
                     HENDERSON HEAD START/EARLY HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_27c66927e68a0f09afbb9c91e63b6ba2 = L.marker(
                [36.34241617602823, -78.39826566700148],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_9ac06a0c0e8200afc3ed8461c96ec76e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_27c66927e68a0f09afbb9c91e63b6ba2.setIcon(icon_9ac06a0c0e8200afc3ed8461c96ec76e);
        
    
        var popup_959c9ccf2a21e8eaf54391ed931355d0 = L.popup({"maxWidth": "100%"});

        
            var html_fb282f6f472a4498fa9ca9644ee9ee4b = $(`<div id="html_fb282f6f472a4498fa9ca9644ee9ee4b" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_959c9ccf2a21e8eaf54391ed931355d0.setContent(html_fb282f6f472a4498fa9ca9644ee9ee4b);
        

        marker_27c66927e68a0f09afbb9c91e63b6ba2.bindPopup(popup_959c9ccf2a21e8eaf54391ed931355d0)
        ;

        
    
    
            marker_27c66927e68a0f09afbb9c91e63b6ba2.bindTooltip(
                `<div>
                     HICKS DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ea729571af5e460e7a0b8b48cdedbbd = L.marker(
                [35.2389447, -82.4471525],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_6e34ec668e17415103472114f376a485 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3ea729571af5e460e7a0b8b48cdedbbd.setIcon(icon_6e34ec668e17415103472114f376a485);
        
    
        var popup_7725c55762767df82b28b89b1a9cdd95 = L.popup({"maxWidth": "100%"});

        
            var html_ff035cf9bc939b10c59d7204c0a9afdc = $(`<div id="html_ff035cf9bc939b10c59d7204c0a9afdc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7725c55762767df82b28b89b1a9cdd95.setContent(html_ff035cf9bc939b10c59d7204c0a9afdc);
        

        marker_3ea729571af5e460e7a0b8b48cdedbbd.bindPopup(popup_7725c55762767df82b28b89b1a9cdd95)
        ;

        
    
    
            marker_3ea729571af5e460e7a0b8b48cdedbbd.bindTooltip(
                `<div>
                     HUMPTY DUMPTY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4284a95c88739f15731e38fa744b15be = L.marker(
                [36.3436581987769, -78.39827079281429],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_30aaf369513ed95704cbde62218befb3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_4284a95c88739f15731e38fa744b15be.setIcon(icon_30aaf369513ed95704cbde62218befb3);
        
    
        var popup_e0623d2f028140778e058151f57bf967 = L.popup({"maxWidth": "100%"});

        
            var html_d4bcd154669ba77011e219db9e6b37e5 = $(`<div id="html_d4bcd154669ba77011e219db9e6b37e5" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_e0623d2f028140778e058151f57bf967.setContent(html_d4bcd154669ba77011e219db9e6b37e5);
        

        marker_4284a95c88739f15731e38fa744b15be.bindPopup(popup_e0623d2f028140778e058151f57bf967)
        ;

        
    
    
            marker_4284a95c88739f15731e38fa744b15be.bindTooltip(
                `<div>
                     JOYFUL KIDS FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_534b777c2b7bb9b174f78905197a821d = L.marker(
                [36.292928450000005, -78.45217385604352],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_495ba3d113ba4247d590a1da9307bd5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_534b777c2b7bb9b174f78905197a821d.setIcon(icon_495ba3d113ba4247d590a1da9307bd5d);
        
    
        var popup_e85895f8c5cef14a37dd965064ca9c28 = L.popup({"maxWidth": "100%"});

        
            var html_c0ec1acb3aca6c3ba6c409a237adc188 = $(`<div id="html_c0ec1acb3aca6c3ba6c409a237adc188" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e85895f8c5cef14a37dd965064ca9c28.setContent(html_c0ec1acb3aca6c3ba6c409a237adc188);
        

        marker_534b777c2b7bb9b174f78905197a821d.bindPopup(popup_e85895f8c5cef14a37dd965064ca9c28)
        ;

        
    
    
            marker_534b777c2b7bb9b174f78905197a821d.bindTooltip(
                `<div>
                     KERR VANCE ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec4c01c32306ed4187f152e95bb9235d = L.marker(
                [36.32472000478711, -78.40906142657981],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_28a8f8d3e96c05f69f45fbc49e4b6bbd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ec4c01c32306ed4187f152e95bb9235d.setIcon(icon_28a8f8d3e96c05f69f45fbc49e4b6bbd);
        
    
        var popup_35074f46eec3294bf2f8202c8f1abd64 = L.popup({"maxWidth": "100%"});

        
            var html_db228bfbc87623cb5257a4d00761bb65 = $(`<div id="html_db228bfbc87623cb5257a4d00761bb65" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_35074f46eec3294bf2f8202c8f1abd64.setContent(html_db228bfbc87623cb5257a4d00761bb65);
        

        marker_ec4c01c32306ed4187f152e95bb9235d.bindPopup(popup_35074f46eec3294bf2f8202c8f1abd64)
        ;

        
    
    
            marker_ec4c01c32306ed4187f152e95bb9235d.bindTooltip(
                `<div>
                     KIDDIE KLUBHOUSE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_633973e2d16b8c695360b65307155a9b = L.marker(
                [36.33712701717603, -78.45281154666996],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_57f9c308c679ca19e56a340572135aee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_633973e2d16b8c695360b65307155a9b.setIcon(icon_57f9c308c679ca19e56a340572135aee);
        
    
        var popup_3a48716160bb73169fb143ae485a8ad0 = L.popup({"maxWidth": "100%"});

        
            var html_7b42992f8e6257390d169d779fd4b66e = $(`<div id="html_7b42992f8e6257390d169d779fd4b66e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3a48716160bb73169fb143ae485a8ad0.setContent(html_7b42992f8e6257390d169d779fd4b66e);
        

        marker_633973e2d16b8c695360b65307155a9b.bindPopup(popup_3a48716160bb73169fb143ae485a8ad0)
        ;

        
    
    
            marker_633973e2d16b8c695360b65307155a9b.bindTooltip(
                `<div>
                     KIDS WORLD
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1abbc9100b5e5f930a9d17bdc1022cd0 = L.marker(
                [35.353232128335605, -82.3430281637115],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_3902ce710553bc6a9a907f900ec6c9ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1abbc9100b5e5f930a9d17bdc1022cd0.setIcon(icon_3902ce710553bc6a9a907f900ec6c9ca);
        
    
        var popup_46cf8a538b5694aa572abb2a5b070629 = L.popup({"maxWidth": "100%"});

        
            var html_4bda712d420749a7da25ab61160e74c3 = $(`<div id="html_4bda712d420749a7da25ab61160e74c3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_46cf8a538b5694aa572abb2a5b070629.setContent(html_4bda712d420749a7da25ab61160e74c3);
        

        marker_1abbc9100b5e5f930a9d17bdc1022cd0.bindPopup(popup_46cf8a538b5694aa572abb2a5b070629)
        ;

        
    
    
            marker_1abbc9100b5e5f930a9d17bdc1022cd0.bindTooltip(
                `<div>
                     KIDZ WORKSHOP DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8df90ca932c1b034a6744521a70993ba = L.marker(
                [36.3066324, -78.4027033],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_60820edebfe6abfa10dc66350f15f59d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8df90ca932c1b034a6744521a70993ba.setIcon(icon_60820edebfe6abfa10dc66350f15f59d);
        
    
        var popup_4178cf70f390760fe9e45d63d6685d37 = L.popup({"maxWidth": "100%"});

        
            var html_4ad278c7ed90b4022b907755383e9ff0 = $(`<div id="html_4ad278c7ed90b4022b907755383e9ff0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4178cf70f390760fe9e45d63d6685d37.setContent(html_4ad278c7ed90b4022b907755383e9ff0);
        

        marker_8df90ca932c1b034a6744521a70993ba.bindPopup(popup_4178cf70f390760fe9e45d63d6685d37)
        ;

        
    
    
            marker_8df90ca932c1b034a6744521a70993ba.bindTooltip(
                `<div>
                     LB YANCEY ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d02d8c28d9710661e41a4f99bab22a41 = L.marker(
                [36.330621406959935, -78.39787020094728],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_2a81e973ccfeb4af66cb9ecea2f4dfe3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d02d8c28d9710661e41a4f99bab22a41.setIcon(icon_2a81e973ccfeb4af66cb9ecea2f4dfe3);
        
    
        var popup_67609ee36e2c0c9cd26f029e3d1b8b5d = L.popup({"maxWidth": "100%"});

        
            var html_b0e3c8219d9b7fa094f7be56739b5620 = $(`<div id="html_b0e3c8219d9b7fa094f7be56739b5620" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_67609ee36e2c0c9cd26f029e3d1b8b5d.setContent(html_b0e3c8219d9b7fa094f7be56739b5620);
        

        marker_d02d8c28d9710661e41a4f99bab22a41.bindPopup(popup_67609ee36e2c0c9cd26f029e3d1b8b5d)
        ;

        
    
    
            marker_d02d8c28d9710661e41a4f99bab22a41.bindTooltip(
                `<div>
                     LITTLE EINSTEIN'S ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c449177052ae2753f4903a723ba5295d = L.marker(
                [36.3385913, -78.4451791],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_36bc8da3131deb2eff8d48d9370a9e01 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c449177052ae2753f4903a723ba5295d.setIcon(icon_36bc8da3131deb2eff8d48d9370a9e01);
        
    
        var popup_8e3d0fddc261a837f2bfd2d16ffdb0a9 = L.popup({"maxWidth": "100%"});

        
            var html_c2fb0db7de1c106557baee380f04bc4a = $(`<div id="html_c2fb0db7de1c106557baee380f04bc4a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8e3d0fddc261a837f2bfd2d16ffdb0a9.setContent(html_c2fb0db7de1c106557baee380f04bc4a);
        

        marker_c449177052ae2753f4903a723ba5295d.bindPopup(popup_8e3d0fddc261a837f2bfd2d16ffdb0a9)
        ;

        
    
    
            marker_c449177052ae2753f4903a723ba5295d.bindTooltip(
                `<div>
                     LITTLE PAWS LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2ca505d83e7d985dfb91f36ab43fa735 = L.marker(
                [36.33281127865811, -78.39543132467968],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_47829c9d5a802c65d400024a69840bee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2ca505d83e7d985dfb91f36ab43fa735.setIcon(icon_47829c9d5a802c65d400024a69840bee);
        
    
        var popup_0dba1bea2d9d73a890803ca65a29c80b = L.popup({"maxWidth": "100%"});

        
            var html_05a70fbd97bd43234ad226b0358bff53 = $(`<div id="html_05a70fbd97bd43234ad226b0358bff53" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_0dba1bea2d9d73a890803ca65a29c80b.setContent(html_05a70fbd97bd43234ad226b0358bff53);
        

        marker_2ca505d83e7d985dfb91f36ab43fa735.bindPopup(popup_0dba1bea2d9d73a890803ca65a29c80b)
        ;

        
    
    
            marker_2ca505d83e7d985dfb91f36ab43fa735.bindTooltip(
                `<div>
                     MARIE'S CHILD CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8de295312bd2e8444463ae61f8731d8c = L.marker(
                [36.31871681746631, -78.40618303586355],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_02ec7dc79a3031db0bc1112656847d90 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_8de295312bd2e8444463ae61f8731d8c.setIcon(icon_02ec7dc79a3031db0bc1112656847d90);
        
    
        var popup_397bfe3403a3307bb5e90a6ecb330baf = L.popup({"maxWidth": "100%"});

        
            var html_1c964b06524c2d62a5644119f17bb8b1 = $(`<div id="html_1c964b06524c2d62a5644119f17bb8b1" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_397bfe3403a3307bb5e90a6ecb330baf.setContent(html_1c964b06524c2d62a5644119f17bb8b1);
        

        marker_8de295312bd2e8444463ae61f8731d8c.bindPopup(popup_397bfe3403a3307bb5e90a6ecb330baf)
        ;

        
    
    
            marker_8de295312bd2e8444463ae61f8731d8c.bindTooltip(
                `<div>
                     MARY'S DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_52448996c55a63f2d3db7161329d7305 = L.marker(
                [36.34174870947569, -78.43835185482537],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_a203b6ade9357f50a5718d3ff98aeb63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_52448996c55a63f2d3db7161329d7305.setIcon(icon_a203b6ade9357f50a5718d3ff98aeb63);
        
    
        var popup_ef871620f90ea005aff85caa6d152d4a = L.popup({"maxWidth": "100%"});

        
            var html_01b53c72549b5b7adddba2e95ff7000a = $(`<div id="html_01b53c72549b5b7adddba2e95ff7000a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ef871620f90ea005aff85caa6d152d4a.setContent(html_01b53c72549b5b7adddba2e95ff7000a);
        

        marker_52448996c55a63f2d3db7161329d7305.bindPopup(popup_ef871620f90ea005aff85caa6d152d4a)
        ;

        
    
    
            marker_52448996c55a63f2d3db7161329d7305.bindTooltip(
                `<div>
                     NEW BEGINNINGS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b558edee3bf08106bff674720aef022a = L.marker(
                [36.3252473, -78.38631389910923],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_4bb8b0777543b56fa02df797a7213cd5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b558edee3bf08106bff674720aef022a.setIcon(icon_4bb8b0777543b56fa02df797a7213cd5);
        
    
        var popup_ddfde8b98f4dee24b4afa1b524311ad3 = L.popup({"maxWidth": "100%"});

        
            var html_1aa43276f47278e867bc5ca8a1c1e86d = $(`<div id="html_1aa43276f47278e867bc5ca8a1c1e86d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ddfde8b98f4dee24b4afa1b524311ad3.setContent(html_1aa43276f47278e867bc5ca8a1c1e86d);
        

        marker_b558edee3bf08106bff674720aef022a.bindPopup(popup_ddfde8b98f4dee24b4afa1b524311ad3)
        ;

        
    
    
            marker_b558edee3bf08106bff674720aef022a.bindTooltip(
                `<div>
                     PINKSTON STREET ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2f4879aca292990b7bfd5fed874e2c65 = L.marker(
                [35.28063, -82.423939],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_4199b4379828eed2e4120b8b8425076a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2f4879aca292990b7bfd5fed874e2c65.setIcon(icon_4199b4379828eed2e4120b8b8425076a);
        
    
        var popup_656463dabe7bc11e4717f853e73dbaa9 = L.popup({"maxWidth": "100%"});

        
            var html_37535d49009284a14a3cc8bfd71667ff = $(`<div id="html_37535d49009284a14a3cc8bfd71667ff" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_656463dabe7bc11e4717f853e73dbaa9.setContent(html_37535d49009284a14a3cc8bfd71667ff);
        

        marker_2f4879aca292990b7bfd5fed874e2c65.bindPopup(popup_656463dabe7bc11e4717f853e73dbaa9)
        ;

        
    
    
            marker_2f4879aca292990b7bfd5fed874e2c65.bindTooltip(
                `<div>
                     RING AROUND THE ROSES HOME DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7e1180809db245218c9e66049ab0d236 = L.marker(
                [36.31146946606324, -78.42319276062129],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_b44864b6dd71606f3c92c0d7e18ebf78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_7e1180809db245218c9e66049ab0d236.setIcon(icon_b44864b6dd71606f3c92c0d7e18ebf78);
        
    
        var popup_529b2fd82c66ecadd891503311bc5281 = L.popup({"maxWidth": "100%"});

        
            var html_c069aa51f0599e564927969ab4841f9c = $(`<div id="html_c069aa51f0599e564927969ab4841f9c" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_529b2fd82c66ecadd891503311bc5281.setContent(html_c069aa51f0599e564927969ab4841f9c);
        

        marker_7e1180809db245218c9e66049ab0d236.bindPopup(popup_529b2fd82c66ecadd891503311bc5281)
        ;

        
    
    
            marker_7e1180809db245218c9e66049ab0d236.bindTooltip(
                `<div>
                     START @ HOME CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e2c63eaf8a3c25fc6fb6a5ee5f876b57 = L.marker(
                [36.337422836432914, -78.41212575968058],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_2e0de43c0550370af578531b15c79319 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e2c63eaf8a3c25fc6fb6a5ee5f876b57.setIcon(icon_2e0de43c0550370af578531b15c79319);
        
    
        var popup_066939e70c71ef839260762f8a9e2ba8 = L.popup({"maxWidth": "100%"});

        
            var html_808f27e84778094b10b360fa962d99cd = $(`<div id="html_808f27e84778094b10b360fa962d99cd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_066939e70c71ef839260762f8a9e2ba8.setContent(html_808f27e84778094b10b360fa962d99cd);
        

        marker_e2c63eaf8a3c25fc6fb6a5ee5f876b57.bindPopup(popup_066939e70c71ef839260762f8a9e2ba8)
        ;

        
    
    
            marker_e2c63eaf8a3c25fc6fb6a5ee5f876b57.bindTooltip(
                `<div>
                     START RITE PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_92614fd5a4ae21f1074d192b3280c6c1 = L.marker(
                [36.31186232884794, -78.39406682436412],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_200cf73beab47dac796f651b2571cd84 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_92614fd5a4ae21f1074d192b3280c6c1.setIcon(icon_200cf73beab47dac796f651b2571cd84);
        
    
        var popup_770a35e0e3c41e40c236cbbccdfbb9ad = L.popup({"maxWidth": "100%"});

        
            var html_4843ce7955ff512e7cebef1d8e669870 = $(`<div id="html_4843ce7955ff512e7cebef1d8e669870" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_770a35e0e3c41e40c236cbbccdfbb9ad.setContent(html_4843ce7955ff512e7cebef1d8e669870);
        

        marker_92614fd5a4ae21f1074d192b3280c6c1.bindPopup(popup_770a35e0e3c41e40c236cbbccdfbb9ad)
        ;

        
    
    
            marker_92614fd5a4ae21f1074d192b3280c6c1.bindTooltip(
                `<div>
                     SUGAR N SPICE PRESCHOOL CCC INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a8cf65fd20749d8051105a2abaeeae24 = L.marker(
                [36.33116816470816, -78.38810486530602],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_4216f69717014537955ebb233914f391 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a8cf65fd20749d8051105a2abaeeae24.setIcon(icon_4216f69717014537955ebb233914f391);
        
    
        var popup_713025b4fb1806308f8f87982e13ba33 = L.popup({"maxWidth": "100%"});

        
            var html_7c36feefcf4d24c6b96aa301426703f4 = $(`<div id="html_7c36feefcf4d24c6b96aa301426703f4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_713025b4fb1806308f8f87982e13ba33.setContent(html_7c36feefcf4d24c6b96aa301426703f4);
        

        marker_a8cf65fd20749d8051105a2abaeeae24.bindPopup(popup_713025b4fb1806308f8f87982e13ba33)
        ;

        
    
    
            marker_a8cf65fd20749d8051105a2abaeeae24.bindTooltip(
                `<div>
                     TAYLOR TUBBIES ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f033c56e0a5e4a15777d965afacd1b47 = L.marker(
                [36.3376312653245, -78.39693855426759],
                {}
            ).addTo(map_9d3c01e2c19b6672d504ee631641d44c);
        
    
            var icon_0a7b7f731b3268882b0b3b5f9e9e2c2c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_f033c56e0a5e4a15777d965afacd1b47.setIcon(icon_0a7b7f731b3268882b0b3b5f9e9e2c2c);
        
    
        var popup_04bdbbea2ee2fcebd2adb4c11c4a1361 = L.popup({"maxWidth": "100%"});

        
            var html_bf77e5463df6c49aaf9806a10116bdde = $(`<div id="html_bf77e5463df6c49aaf9806a10116bdde" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_04bdbbea2ee2fcebd2adb4c11c4a1361.setContent(html_bf77e5463df6c49aaf9806a10116bdde);
        

        marker_f033c56e0a5e4a15777d965afacd1b47.bindPopup(popup_04bdbbea2ee2fcebd2adb4c11c4a1361)
        ;

        
    
    
            marker_f033c56e0a5e4a15777d965afacd1b47.bindTooltip(
                `<div>
                     TURNER FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>