<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c3543781337deedd018e7fcdd8d0ec0b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c3543781337deedd018e7fcdd8d0ec0b" ></div>
        
</body>
<script>    
    
            var map_c3543781337deedd018e7fcdd8d0ec0b = L.map(
                "map_c3543781337deedd018e7fcdd8d0ec0b",
                {
                    center: [36.17372, -76.463928],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c01e56b0d3312d7f3a708aaddc022a28 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c3543781337deedd018e7fcdd8d0ec0b);
        
    
            var marker_1d5ffb94d5057f58d1ec5b4e57bb7e6a = L.marker(
                [36.17372, -76.463928],
                {}
            ).addTo(map_c3543781337deedd018e7fcdd8d0ec0b);
        
    
            var icon_db47b0868f0d5547907d9124ff604100 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1d5ffb94d5057f58d1ec5b4e57bb7e6a.setIcon(icon_db47b0868f0d5547907d9124ff604100);
        
    
        var popup_5d85e28a0e299a1fa4f869c117a5c4fc = L.popup({"maxWidth": "100%"});

        
            var html_c98ce7c4e0a2ba1c987cc09154ead4e6 = $(`<div id="html_c98ce7c4e0a2ba1c987cc09154ead4e6" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_5d85e28a0e299a1fa4f869c117a5c4fc.setContent(html_c98ce7c4e0a2ba1c987cc09154ead4e6);
        

        marker_1d5ffb94d5057f58d1ec5b4e57bb7e6a.bindPopup(popup_5d85e28a0e299a1fa4f869c117a5c4fc)
        ;

        
    
    
            marker_1d5ffb94d5057f58d1ec5b4e57bb7e6a.bindTooltip(
                `<div>
                     ANNA'S HOUSE OF LEARNING
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d301f3a1db64bebbf674872b82918eb6 = L.marker(
                [36.16716793694781, -76.44790505851351],
                {}
            ).addTo(map_c3543781337deedd018e7fcdd8d0ec0b);
        
    
            var icon_32232c047b05de48682dc84cf2526bb5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d301f3a1db64bebbf674872b82918eb6.setIcon(icon_32232c047b05de48682dc84cf2526bb5);
        
    
        var popup_b02aa96c133400c650ec3a525f7cf5b6 = L.popup({"maxWidth": "100%"});

        
            var html_1ec3815417ac0935804ff422dda27703 = $(`<div id="html_1ec3815417ac0935804ff422dda27703" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b02aa96c133400c650ec3a525f7cf5b6.setContent(html_1ec3815417ac0935804ff422dda27703);
        

        marker_d301f3a1db64bebbf674872b82918eb6.bindPopup(popup_b02aa96c133400c650ec3a525f7cf5b6)
        ;

        
    
    
            marker_d301f3a1db64bebbf674872b82918eb6.bindTooltip(
                `<div>
                     FAITH CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b2fc40dbddaee2533e2b7cad6bbd3a47 = L.marker(
                [36.52927550047487, -77.04158713421107],
                {}
            ).addTo(map_c3543781337deedd018e7fcdd8d0ec0b);
        
    
            var icon_a20d0e6265038ef7417943f9abf22897 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_b2fc40dbddaee2533e2b7cad6bbd3a47.setIcon(icon_a20d0e6265038ef7417943f9abf22897);
        
    
        var popup_f43f3d07f61f9f7f5d2d078c557c6e49 = L.popup({"maxWidth": "100%"});

        
            var html_206861006ec848aa6c6b75ce4041f4c1 = $(`<div id="html_206861006ec848aa6c6b75ce4041f4c1" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_f43f3d07f61f9f7f5d2d078c557c6e49.setContent(html_206861006ec848aa6c6b75ce4041f4c1);
        

        marker_b2fc40dbddaee2533e2b7cad6bbd3a47.bindPopup(popup_f43f3d07f61f9f7f5d2d078c557c6e49)
        ;

        
    
    
            marker_b2fc40dbddaee2533e2b7cad6bbd3a47.bindTooltip(
                `<div>
                     MRS. PATRICIA'S DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ea430a33774c52c1805339a4957b19c4 = L.marker(
                [36.201725918632185, -76.49241686981149],
                {}
            ).addTo(map_c3543781337deedd018e7fcdd8d0ec0b);
        
    
            var icon_51f5a99ddd0cd0e35563fe5934434fed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ea430a33774c52c1805339a4957b19c4.setIcon(icon_51f5a99ddd0cd0e35563fe5934434fed);
        
    
        var popup_0ed3fbb441321b506b8e7ea5a8f892f1 = L.popup({"maxWidth": "100%"});

        
            var html_30c400e820cb415fce019d0a8fdc9681 = $(`<div id="html_30c400e820cb415fce019d0a8fdc9681" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0ed3fbb441321b506b8e7ea5a8f892f1.setContent(html_30c400e820cb415fce019d0a8fdc9681);
        

        marker_ea430a33774c52c1805339a4957b19c4.bindPopup(popup_0ed3fbb441321b506b8e7ea5a8f892f1)
        ;

        
    
    
            marker_ea430a33774c52c1805339a4957b19c4.bindTooltip(
                `<div>
                     PRECIOUS GIFTS CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_99bac9f69adfea6ee7e9ed665e56ad1f = L.marker(
                [36.5416603, -77.0152311],
                {}
            ).addTo(map_c3543781337deedd018e7fcdd8d0ec0b);
        
    
            var icon_68b397f760fa0e5161681c84f6be8bb2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_99bac9f69adfea6ee7e9ed665e56ad1f.setIcon(icon_68b397f760fa0e5161681c84f6be8bb2);
        
    
        var popup_fe21923bc3879d3646375a70b8f93877 = L.popup({"maxWidth": "100%"});

        
            var html_210efe1a2f6bac352f6c67b0905f9e63 = $(`<div id="html_210efe1a2f6bac352f6c67b0905f9e63" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_fe21923bc3879d3646375a70b8f93877.setContent(html_210efe1a2f6bac352f6c67b0905f9e63);
        

        marker_99bac9f69adfea6ee7e9ed665e56ad1f.bindPopup(popup_fe21923bc3879d3646375a70b8f93877)
        ;

        
    
    
            marker_99bac9f69adfea6ee7e9ed665e56ad1f.bindTooltip(
                `<div>
                     WANDA'S LITTLE DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>