<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_43b5234db1e7de49939d443e807750cd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_43b5234db1e7de49939d443e807750cd" ></div>
        
</body>
<script>    
    
            var map_43b5234db1e7de49939d443e807750cd = L.map(
                "map_43b5234db1e7de49939d443e807750cd",
                {
                    center: [35.735653, -81.3127286734694],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_769a4a488a03ee954f19299e29dda5cd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var marker_58f96d674c07674471488def988675d8 = L.marker(
                [35.735653, -81.3127286734694],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_b83147a933116b19b4d4f73e0eb45142 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_58f96d674c07674471488def988675d8.setIcon(icon_b83147a933116b19b4d4f73e0eb45142);
        
    
        var popup_4d13005118364e336b2ce6e1db51a94d = L.popup({"maxWidth": "100%"});

        
            var html_586edb43fa7a4fdc7102902456749fee = $(`<div id="html_586edb43fa7a4fdc7102902456749fee" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_4d13005118364e336b2ce6e1db51a94d.setContent(html_586edb43fa7a4fdc7102902456749fee);
        

        marker_58f96d674c07674471488def988675d8.bindPopup(popup_4d13005118364e336b2ce6e1db51a94d)
        ;

        
    
    
            marker_58f96d674c07674471488def988675d8.bindTooltip(
                `<div>
                     BIZZEE BIT'S HOME CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_84be38d5354c09d6903c7cd8bb81b91c = L.marker(
                [35.690254, -81.355245],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_fce5553f636e914cafc5161e9aafbdd3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_84be38d5354c09d6903c7cd8bb81b91c.setIcon(icon_fce5553f636e914cafc5161e9aafbdd3);
        
    
        var popup_c4f3d0b1c33c60fa40f05839416bb9ef = L.popup({"maxWidth": "100%"});

        
            var html_1b57f14253ee16f25b4d77701683cc16 = $(`<div id="html_1b57f14253ee16f25b4d77701683cc16" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c4f3d0b1c33c60fa40f05839416bb9ef.setContent(html_1b57f14253ee16f25b4d77701683cc16);
        

        marker_84be38d5354c09d6903c7cd8bb81b91c.bindPopup(popup_c4f3d0b1c33c60fa40f05839416bb9ef)
        ;

        
    
    
            marker_84be38d5354c09d6903c7cd8bb81b91c.bindTooltip(
                `<div>
                     CHRIST CHURCH CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_628d751b0420b2be531caa47d62f672d = L.marker(
                [35.7772396, -81.28574447111339],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_6029d045fa51ab48b69dad8fe5ff0b3f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_628d751b0420b2be531caa47d62f672d.setIcon(icon_6029d045fa51ab48b69dad8fe5ff0b3f);
        
    
        var popup_8c55bb38608d08bc35218b13726ed063 = L.popup({"maxWidth": "100%"});

        
            var html_b1adcfe5787ce8f372e85a097996523a = $(`<div id="html_b1adcfe5787ce8f372e85a097996523a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8c55bb38608d08bc35218b13726ed063.setContent(html_b1adcfe5787ce8f372e85a097996523a);
        

        marker_628d751b0420b2be531caa47d62f672d.bindPopup(popup_8c55bb38608d08bc35218b13726ed063)
        ;

        
    
    
            marker_628d751b0420b2be531caa47d62f672d.bindTooltip(
                `<div>
                     CLYDE CAMPBELL ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ec55578e1ff682844743b0ec35ab770 = L.marker(
                [35.72372357142857, -81.34191614285714],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_a2edfa8f12356655ffaa84df6df2da81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3ec55578e1ff682844743b0ec35ab770.setIcon(icon_a2edfa8f12356655ffaa84df6df2da81);
        
    
        var popup_98b19979f164a272dbf89d5c9385904f = L.popup({"maxWidth": "100%"});

        
            var html_1c744889e8f99be8805b7e51db6538a1 = $(`<div id="html_1c744889e8f99be8805b7e51db6538a1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_98b19979f164a272dbf89d5c9385904f.setContent(html_1c744889e8f99be8805b7e51db6538a1);
        

        marker_3ec55578e1ff682844743b0ec35ab770.bindPopup(popup_98b19979f164a272dbf89d5c9385904f)
        ;

        
    
    
            marker_3ec55578e1ff682844743b0ec35ab770.bindTooltip(
                `<div>
                     COMMUNITY RIDGE DAY CARE CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_19e24e86d83108148a535d2cbee11511 = L.marker(
                [35.7343579643934, -81.34313837561143],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_4ec546daeae36af8895fddbd231a6290 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_19e24e86d83108148a535d2cbee11511.setIcon(icon_4ec546daeae36af8895fddbd231a6290);
        
    
        var popup_2c16bcda7514811f5576516326b0e9d6 = L.popup({"maxWidth": "100%"});

        
            var html_a512c6ffaf23f7142c5afdd73e850549 = $(`<div id="html_a512c6ffaf23f7142c5afdd73e850549" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2c16bcda7514811f5576516326b0e9d6.setContent(html_a512c6ffaf23f7142c5afdd73e850549);
        

        marker_19e24e86d83108148a535d2cbee11511.bindPopup(popup_2c16bcda7514811f5576516326b0e9d6)
        ;

        
    
    
            marker_19e24e86d83108148a535d2cbee11511.bindTooltip(
                `<div>
                     FIRST BAPTIST CHURCH CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_10a46ae3ef8d15fd1be67a0167b3fabf = L.marker(
                [35.69240249749801, -81.35911395089468],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_e8c5a3e3bc1699a99381184bd0344c05 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_10a46ae3ef8d15fd1be67a0167b3fabf.setIcon(icon_e8c5a3e3bc1699a99381184bd0344c05);
        
    
        var popup_a2f46a6c07e8ee972f13ddc13ec53cf8 = L.popup({"maxWidth": "100%"});

        
            var html_c08833ad727df000f1b2adf388a0233d = $(`<div id="html_c08833ad727df000f1b2adf388a0233d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a2f46a6c07e8ee972f13ddc13ec53cf8.setContent(html_c08833ad727df000f1b2adf388a0233d);
        

        marker_10a46ae3ef8d15fd1be67a0167b3fabf.bindPopup(popup_a2f46a6c07e8ee972f13ddc13ec53cf8)
        ;

        
    
    
            marker_10a46ae3ef8d15fd1be67a0167b3fabf.bindTooltip(
                `<div>
                     FOOTSTEPS CHILD CARE CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c5640dbee497cead4837d2ade3941e0 = L.marker(
                [35.78008643050456, -81.32376832127781],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_355a220788a5d5d245335dac47100a3f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4c5640dbee497cead4837d2ade3941e0.setIcon(icon_355a220788a5d5d245335dac47100a3f);
        
    
        var popup_c3a8cb88c5d6eb99e5aec8a61a6bbc9e = L.popup({"maxWidth": "100%"});

        
            var html_7fd31ff62a56a15f0f9c51f94d8db54c = $(`<div id="html_7fd31ff62a56a15f0f9c51f94d8db54c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c3a8cb88c5d6eb99e5aec8a61a6bbc9e.setContent(html_7fd31ff62a56a15f0f9c51f94d8db54c);
        

        marker_4c5640dbee497cead4837d2ade3941e0.bindPopup(popup_c3a8cb88c5d6eb99e5aec8a61a6bbc9e)
        ;

        
    
    
            marker_4c5640dbee497cead4837d2ade3941e0.bindTooltip(
                `<div>
                     GRACE COVENANT PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c4403df3867eb8c3418f695f39f2792 = L.marker(
                [35.72751524801824, -81.32708475198176],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_cce24e0348cd94c7a3eeea3db00f6b3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1c4403df3867eb8c3418f695f39f2792.setIcon(icon_cce24e0348cd94c7a3eeea3db00f6b3b);
        
    
        var popup_99b53673805810ef4c6e9c2d7ca517e9 = L.popup({"maxWidth": "100%"});

        
            var html_f65d7fe058805284e5a2f26d0d098de2 = $(`<div id="html_f65d7fe058805284e5a2f26d0d098de2" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_99b53673805810ef4c6e9c2d7ca517e9.setContent(html_f65d7fe058805284e5a2f26d0d098de2);
        

        marker_1c4403df3867eb8c3418f695f39f2792.bindPopup(popup_99b53673805810ef4c6e9c2d7ca517e9)
        ;

        
    
    
            marker_1c4403df3867eb8c3418f695f39f2792.bindTooltip(
                `<div>
                     HART AND SOUL CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_265135b65837d471a2f2e2c250f22086 = L.marker(
                [35.74218105, -81.33960549082127],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_5d9389233d6dd5856cf99c3f45257188 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_265135b65837d471a2f2e2c250f22086.setIcon(icon_5d9389233d6dd5856cf99c3f45257188);
        
    
        var popup_b4973343fbdb6f19659418de7c11e82f = L.popup({"maxWidth": "100%"});

        
            var html_7eb8519c0a9b7140a4db65d45603846e = $(`<div id="html_7eb8519c0a9b7140a4db65d45603846e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b4973343fbdb6f19659418de7c11e82f.setContent(html_7eb8519c0a9b7140a4db65d45603846e);
        

        marker_265135b65837d471a2f2e2c250f22086.bindPopup(popup_b4973343fbdb6f19659418de7c11e82f)
        ;

        
    
    
            marker_265135b65837d471a2f2e2c250f22086.bindTooltip(
                `<div>
                     HICKORY FOUNDATION YMCA CHILD DEV. CTR.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fb214d9702970000566eba48b429f5b8 = L.marker(
                [35.7442265703374, -81.32794044686463],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_c88614265845e427863ebff4af465cf6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fb214d9702970000566eba48b429f5b8.setIcon(icon_c88614265845e427863ebff4af465cf6);
        
    
        var popup_b371fbaf79628fa4f056bfa20c5e861d = L.popup({"maxWidth": "100%"});

        
            var html_101e6557670589a178d93c45270a9773 = $(`<div id="html_101e6557670589a178d93c45270a9773" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b371fbaf79628fa4f056bfa20c5e861d.setContent(html_101e6557670589a178d93c45270a9773);
        

        marker_fb214d9702970000566eba48b429f5b8.bindPopup(popup_b371fbaf79628fa4f056bfa20c5e861d)
        ;

        
    
    
            marker_fb214d9702970000566eba48b429f5b8.bindTooltip(
                `<div>
                     HICKORY MONTESSORI SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6153d5e0abe8e4b9a37b5e77c7eae4ed = L.marker(
                [35.7809698, -81.32050389591208],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_cd986a572ca6b56e5f3a93efe8fd8149 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6153d5e0abe8e4b9a37b5e77c7eae4ed.setIcon(icon_cd986a572ca6b56e5f3a93efe8fd8149);
        
    
        var popup_f236786dc39a96b0b97a7e527cee0996 = L.popup({"maxWidth": "100%"});

        
            var html_a5b93a4c5fdcaafd1d405d7ad211ef24 = $(`<div id="html_a5b93a4c5fdcaafd1d405d7ad211ef24" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f236786dc39a96b0b97a7e527cee0996.setContent(html_a5b93a4c5fdcaafd1d405d7ad211ef24);
        

        marker_6153d5e0abe8e4b9a37b5e77c7eae4ed.bindPopup(popup_f236786dc39a96b0b97a7e527cee0996)
        ;

        
    
    
            marker_6153d5e0abe8e4b9a37b5e77c7eae4ed.bindTooltip(
                `<div>
                     JENKINS ELEMENTARY KID CONNECTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2820117fd99f92c0a3c50011f8c5af43 = L.marker(
                [35.727605, -81.331057],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_ed3fa88a65aeb9fb0ac6bb47a8150c25 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2820117fd99f92c0a3c50011f8c5af43.setIcon(icon_ed3fa88a65aeb9fb0ac6bb47a8150c25);
        
    
        var popup_4765a750721aef4fe4fd4a5d43130f6f = L.popup({"maxWidth": "100%"});

        
            var html_559d462cbd51809bcc18e62ec96c4bcb = $(`<div id="html_559d462cbd51809bcc18e62ec96c4bcb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4765a750721aef4fe4fd4a5d43130f6f.setContent(html_559d462cbd51809bcc18e62ec96c4bcb);
        

        marker_2820117fd99f92c0a3c50011f8c5af43.bindPopup(popup_4765a750721aef4fe4fd4a5d43130f6f)
        ;

        
    
    
            marker_2820117fd99f92c0a3c50011f8c5af43.bindTooltip(
                `<div>
                     LA VIE CHRISTIAN ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30df19ffdc468988d66bae4bde872ae3 = L.marker(
                [35.78026329663852, -81.323644747507],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_5b43c49e1bc308a39b009588e4b92d53 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_30df19ffdc468988d66bae4bde872ae3.setIcon(icon_5b43c49e1bc308a39b009588e4b92d53);
        
    
        var popup_47c2f0e62362312c4b3b2a9cb8bfe633 = L.popup({"maxWidth": "100%"});

        
            var html_5899e444897bf9c617967a2b3178558e = $(`<div id="html_5899e444897bf9c617967a2b3178558e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_47c2f0e62362312c4b3b2a9cb8bfe633.setContent(html_5899e444897bf9c617967a2b3178558e);
        

        marker_30df19ffdc468988d66bae4bde872ae3.bindPopup(popup_47c2f0e62362312c4b3b2a9cb8bfe633)
        ;

        
    
    
            marker_30df19ffdc468988d66bae4bde872ae3.bindTooltip(
                `<div>
                     LEGRANDE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_084faf063a57b1c8ac858659304e1ced = L.marker(
                [35.7277655, -81.2985085],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_5f0c568f3a98299e8bde2e929e047cf1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_084faf063a57b1c8ac858659304e1ced.setIcon(icon_5f0c568f3a98299e8bde2e929e047cf1);
        
    
        var popup_c8f619622d1b9d1ba241faffe17f95b6 = L.popup({"maxWidth": "100%"});

        
            var html_0d1e1896be73a19da52e6e31dab516e2 = $(`<div id="html_0d1e1896be73a19da52e6e31dab516e2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c8f619622d1b9d1ba241faffe17f95b6.setContent(html_0d1e1896be73a19da52e6e31dab516e2);
        

        marker_084faf063a57b1c8ac858659304e1ced.bindPopup(popup_c8f619622d1b9d1ba241faffe17f95b6)
        ;

        
    
    
            marker_084faf063a57b1c8ac858659304e1ced.bindTooltip(
                `<div>
                     LITTLE FOLKS SCHOOL EAST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a1af051ebeb1eb552e0084a7330ee425 = L.marker(
                [35.72148114692244, -81.32174235370988],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_6017a72c0379295c2a229edf96e48f83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_a1af051ebeb1eb552e0084a7330ee425.setIcon(icon_6017a72c0379295c2a229edf96e48f83);
        
    
        var popup_3c3fdf47b90f8183c261a9d14704b3c7 = L.popup({"maxWidth": "100%"});

        
            var html_30a91ce83b4296f05470a8fb6c0a2f6b = $(`<div id="html_30a91ce83b4296f05470a8fb6c0a2f6b" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_3c3fdf47b90f8183c261a9d14704b3c7.setContent(html_30a91ce83b4296f05470a8fb6c0a2f6b);
        

        marker_a1af051ebeb1eb552e0084a7330ee425.bindPopup(popup_3c3fdf47b90f8183c261a9d14704b3c7)
        ;

        
    
    
            marker_a1af051ebeb1eb552e0084a7330ee425.bindTooltip(
                `<div>
                     LITTLE LAMBS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_207a1ffe0ab701c981fb9d717126f9d8 = L.marker(
                [35.72017846874574, -81.32164118732126],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_17c58facf846f56b639f01ba31d61b56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_207a1ffe0ab701c981fb9d717126f9d8.setIcon(icon_17c58facf846f56b639f01ba31d61b56);
        
    
        var popup_e893e165092f834842bb2158344998a9 = L.popup({"maxWidth": "100%"});

        
            var html_df8fe7a9900b296bd249093d3322ca2f = $(`<div id="html_df8fe7a9900b296bd249093d3322ca2f" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_e893e165092f834842bb2158344998a9.setContent(html_df8fe7a9900b296bd249093d3322ca2f);
        

        marker_207a1ffe0ab701c981fb9d717126f9d8.bindPopup(popup_e893e165092f834842bb2158344998a9)
        ;

        
    
    
            marker_207a1ffe0ab701c981fb9d717126f9d8.bindTooltip(
                `<div>
                     LITTLE LAMBS CHILDCARE #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d0d5f01aaf5eaa826d8cf284281e213e = L.marker(
                [35.7498248, -81.2857619],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_4cf395c965bd28b7c2f0ea3ecd5327cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d0d5f01aaf5eaa826d8cf284281e213e.setIcon(icon_4cf395c965bd28b7c2f0ea3ecd5327cd);
        
    
        var popup_cfbaa2834bd82de0ebe3dc621d9a49d7 = L.popup({"maxWidth": "100%"});

        
            var html_a50e6962d8f6de1ef39cf5048b6a4f9a = $(`<div id="html_a50e6962d8f6de1ef39cf5048b6a4f9a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cfbaa2834bd82de0ebe3dc621d9a49d7.setContent(html_a50e6962d8f6de1ef39cf5048b6a4f9a);
        

        marker_d0d5f01aaf5eaa826d8cf284281e213e.bindPopup(popup_cfbaa2834bd82de0ebe3dc621d9a49d7)
        ;

        
    
    
            marker_d0d5f01aaf5eaa826d8cf284281e213e.bindTooltip(
                `<div>
                     LITTLE STARS CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca4ca85cbdb56ddb9c3c6a5c75d863fe = L.marker(
                [35.726327448451435, -81.36101569537873],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_212d8d77fd7014d98b3f3f0c9eaf08b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ca4ca85cbdb56ddb9c3c6a5c75d863fe.setIcon(icon_212d8d77fd7014d98b3f3f0c9eaf08b4);
        
    
        var popup_99f414f53e1eaf1662e9726019ee8735 = L.popup({"maxWidth": "100%"});

        
            var html_ab66c56fd6a4aaf6c35287cedbefdfd9 = $(`<div id="html_ab66c56fd6a4aaf6c35287cedbefdfd9" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_99f414f53e1eaf1662e9726019ee8735.setContent(html_ab66c56fd6a4aaf6c35287cedbefdfd9);
        

        marker_ca4ca85cbdb56ddb9c3c6a5c75d863fe.bindPopup(popup_99f414f53e1eaf1662e9726019ee8735)
        ;

        
    
    
            marker_ca4ca85cbdb56ddb9c3c6a5c75d863fe.bindTooltip(
                `<div>
                     LOVING ARMS CHRISTIAN CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fae74221288df9232c2c9855255ee162 = L.marker(
                [35.72044638272785, -81.32706034584737],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_5cd6583b4cb8a267a79130768b860a71 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_fae74221288df9232c2c9855255ee162.setIcon(icon_5cd6583b4cb8a267a79130768b860a71);
        
    
        var popup_8fefa1bc05c6cf025e2037e446c9a440 = L.popup({"maxWidth": "100%"});

        
            var html_8d87c48c2b52936e830778b583a95a84 = $(`<div id="html_8d87c48c2b52936e830778b583a95a84" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_8fefa1bc05c6cf025e2037e446c9a440.setContent(html_8d87c48c2b52936e830778b583a95a84);
        

        marker_fae74221288df9232c2c9855255ee162.bindPopup(popup_8fefa1bc05c6cf025e2037e446c9a440)
        ;

        
    
    
            marker_fae74221288df9232c2c9855255ee162.bindTooltip(
                `<div>
                     MARTHA'S DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_70191d668ec4d7adeba36d8d75283f94 = L.marker(
                [35.66219375, -81.38557327759307],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_6924cc3b7aab080ed7b1edb4709c3012 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_70191d668ec4d7adeba36d8d75283f94.setIcon(icon_6924cc3b7aab080ed7b1edb4709c3012);
        
    
        var popup_a0528b525ed68f0456dbba4a8b148a1e = L.popup({"maxWidth": "100%"});

        
            var html_c59393bc383159897b39acef3e4511ee = $(`<div id="html_c59393bc383159897b39acef3e4511ee" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a0528b525ed68f0456dbba4a8b148a1e.setContent(html_c59393bc383159897b39acef3e4511ee);
        

        marker_70191d668ec4d7adeba36d8d75283f94.bindPopup(popup_a0528b525ed68f0456dbba4a8b148a1e)
        ;

        
    
    
            marker_70191d668ec4d7adeba36d8d75283f94.bindTooltip(
                `<div>
                     MT. VIEW ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_11bb24f98aec75f56a26e5dcb5d9dbc4 = L.marker(
                [35.77506400186033, -81.36791939004725],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_fbc30db1b2e0a1120a07364745b5576f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_11bb24f98aec75f56a26e5dcb5d9dbc4.setIcon(icon_fbc30db1b2e0a1120a07364745b5576f);
        
    
        var popup_55af73ab6997bcc0e99cad83ab3b6795 = L.popup({"maxWidth": "100%"});

        
            var html_29c5731bac94f9b9d7704a269b5e94c4 = $(`<div id="html_29c5731bac94f9b9d7704a269b5e94c4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_55af73ab6997bcc0e99cad83ab3b6795.setContent(html_29c5731bac94f9b9d7704a269b5e94c4);
        

        marker_11bb24f98aec75f56a26e5dcb5d9dbc4.bindPopup(popup_55af73ab6997bcc0e99cad83ab3b6795)
        ;

        
    
    
            marker_11bb24f98aec75f56a26e5dcb5d9dbc4.bindTooltip(
                `<div>
                     NORTHLAKES ACADEMY, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_de2e08387c4baa9f83669d38c275165d = L.marker(
                [35.73702365, -81.34360559999999],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_195e69fa1bfdda47388b37a1c8deb09a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_de2e08387c4baa9f83669d38c275165d.setIcon(icon_195e69fa1bfdda47388b37a1c8deb09a);
        
    
        var popup_5d93f184a1244a091548946ec3ecb6ed = L.popup({"maxWidth": "100%"});

        
            var html_b18ffc47bcaf64da51c9b169b5f0c913 = $(`<div id="html_b18ffc47bcaf64da51c9b169b5f0c913" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5d93f184a1244a091548946ec3ecb6ed.setContent(html_b18ffc47bcaf64da51c9b169b5f0c913);
        

        marker_de2e08387c4baa9f83669d38c275165d.bindPopup(popup_5d93f184a1244a091548946ec3ecb6ed)
        ;

        
    
    
            marker_de2e08387c4baa9f83669d38c275165d.bindTooltip(
                `<div>
                     OAKWOOD ELEMENTARY KID CONNECTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb05ca0ac570fd998402951915cf47f6 = L.marker(
                [35.73702365, -81.34360559999999],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_5fdedff1d5cf814b3ed7c17b45e8c06e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_eb05ca0ac570fd998402951915cf47f6.setIcon(icon_5fdedff1d5cf814b3ed7c17b45e8c06e);
        
    
        var popup_245adc0a4c2aac1343c6ca157ed719b1 = L.popup({"maxWidth": "100%"});

        
            var html_1705f954f85f8b7f99f329f26bd3a602 = $(`<div id="html_1705f954f85f8b7f99f329f26bd3a602" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_245adc0a4c2aac1343c6ca157ed719b1.setContent(html_1705f954f85f8b7f99f329f26bd3a602);
        

        marker_eb05ca0ac570fd998402951915cf47f6.bindPopup(popup_245adc0a4c2aac1343c6ca157ed719b1)
        ;

        
    
    
            marker_eb05ca0ac570fd998402951915cf47f6.bindTooltip(
                `<div>
                     OAKWOOD ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04bb6dea242ae0b8cbf4ac98942dc223 = L.marker(
                [35.75727, -81.281136],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_db143f23f7a61f977ac066543a16ab26 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_04bb6dea242ae0b8cbf4ac98942dc223.setIcon(icon_db143f23f7a61f977ac066543a16ab26);
        
    
        var popup_576158ed31a9b5f7ba0b968d86e2f6ab = L.popup({"maxWidth": "100%"});

        
            var html_381538d3dd4f1e9aa4057c07a954ad7a = $(`<div id="html_381538d3dd4f1e9aa4057c07a954ad7a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_576158ed31a9b5f7ba0b968d86e2f6ab.setContent(html_381538d3dd4f1e9aa4057c07a954ad7a);
        

        marker_04bb6dea242ae0b8cbf4ac98942dc223.bindPopup(popup_576158ed31a9b5f7ba0b968d86e2f6ab)
        ;

        
    
    
            marker_04bb6dea242ae0b8cbf4ac98942dc223.bindTooltip(
                `<div>
                     QUALITY CARE CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e6a1acfdedad79e2e7a97d8d90ea7a18 = L.marker(
                [35.7772396, -81.28574447111339],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_b7d57e4c550b777b685cfe808f94d73e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e6a1acfdedad79e2e7a97d8d90ea7a18.setIcon(icon_b7d57e4c550b777b685cfe808f94d73e);
        
    
        var popup_7687ffbbe0bb8cfab597e167b72741e6 = L.popup({"maxWidth": "100%"});

        
            var html_4b1c7cd9804cc27ed4f66cef75e7ca19 = $(`<div id="html_4b1c7cd9804cc27ed4f66cef75e7ca19" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7687ffbbe0bb8cfab597e167b72741e6.setContent(html_4b1c7cd9804cc27ed4f66cef75e7ca19);
        

        marker_e6a1acfdedad79e2e7a97d8d90ea7a18.bindPopup(popup_7687ffbbe0bb8cfab597e167b72741e6)
        ;

        
    
    
            marker_e6a1acfdedad79e2e7a97d8d90ea7a18.bindTooltip(
                `<div>
                     QUEST AT CLYDE CAMPBELL ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2b8157c80c3038a9007ff74383089c18 = L.marker(
                [35.66219375, -81.38557327759307],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_4192f16dccf9315f9c101d6f01ff07de = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2b8157c80c3038a9007ff74383089c18.setIcon(icon_4192f16dccf9315f9c101d6f01ff07de);
        
    
        var popup_e0bb773bca48b2b4514d7044139337ef = L.popup({"maxWidth": "100%"});

        
            var html_4b7b085df5aba8335862a635984afd8f = $(`<div id="html_4b7b085df5aba8335862a635984afd8f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e0bb773bca48b2b4514d7044139337ef.setContent(html_4b7b085df5aba8335862a635984afd8f);
        

        marker_2b8157c80c3038a9007ff74383089c18.bindPopup(popup_e0bb773bca48b2b4514d7044139337ef)
        ;

        
    
    
            marker_2b8157c80c3038a9007ff74383089c18.bindTooltip(
                `<div>
                     QUEST AT MOUNTAIN VIEW ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c97cfa8036507b158e603e7455ba8467 = L.marker(
                [35.7374415, -81.25128849078163],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_d7394cfefbe4090c73ff02460f31a6c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c97cfa8036507b158e603e7455ba8467.setIcon(icon_d7394cfefbe4090c73ff02460f31a6c1);
        
    
        var popup_7fc11c8c539dc87850df92834f1764f7 = L.popup({"maxWidth": "100%"});

        
            var html_1e67899d5f5fde75d4ee7e3ef10d3896 = $(`<div id="html_1e67899d5f5fde75d4ee7e3ef10d3896" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7fc11c8c539dc87850df92834f1764f7.setContent(html_1e67899d5f5fde75d4ee7e3ef10d3896);
        

        marker_c97cfa8036507b158e603e7455ba8467.bindPopup(popup_7fc11c8c539dc87850df92834f1764f7)
        ;

        
    
    
            marker_c97cfa8036507b158e603e7455ba8467.bindTooltip(
                `<div>
                     QUEST AT WEBB A. MURRAY ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6d120067b350d474e426f3a5aa04d494 = L.marker(
                [35.75832659528193, -81.2801339448413],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_9eb27f0797e20190f9385da881aae347 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_6d120067b350d474e426f3a5aa04d494.setIcon(icon_9eb27f0797e20190f9385da881aae347);
        
    
        var popup_14cd1affb9b28431eb4fa6b529c9c0e5 = L.popup({"maxWidth": "100%"});

        
            var html_505b0170cc668768628d26a01cb5d0bf = $(`<div id="html_505b0170cc668768628d26a01cb5d0bf" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_14cd1affb9b28431eb4fa6b529c9c0e5.setContent(html_505b0170cc668768628d26a01cb5d0bf);
        

        marker_6d120067b350d474e426f3a5aa04d494.bindPopup(popup_14cd1affb9b28431eb4fa6b529c9c0e5)
        ;

        
    
    
            marker_6d120067b350d474e426f3a5aa04d494.bindTooltip(
                `<div>
                     SHINING STARS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d615c7f91d07f27fbac1f2fc3314c47b = L.marker(
                [35.78027945, -81.2677929117857],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_ca62dea6894d1d7b4f4223f40b0c5bfd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d615c7f91d07f27fbac1f2fc3314c47b.setIcon(icon_ca62dea6894d1d7b4f4223f40b0c5bfd);
        
    
        var popup_6d41f6ed475143cca19fbf14081d59f1 = L.popup({"maxWidth": "100%"});

        
            var html_4f317203858a175b9be05021915cf5e6 = $(`<div id="html_4f317203858a175b9be05021915cf5e6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6d41f6ed475143cca19fbf14081d59f1.setContent(html_4f317203858a175b9be05021915cf5e6);
        

        marker_d615c7f91d07f27fbac1f2fc3314c47b.bindPopup(popup_6d41f6ed475143cca19fbf14081d59f1)
        ;

        
    
    
            marker_d615c7f91d07f27fbac1f2fc3314c47b.bindTooltip(
                `<div>
                     SNOW CREEK ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a7577c6dc1d77b9632746ffce79409dd = L.marker(
                [35.709700850000004, -81.38672823609375],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_c0b3e1ab2e9fad4c27a24a04b7b4a48a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a7577c6dc1d77b9632746ffce79409dd.setIcon(icon_c0b3e1ab2e9fad4c27a24a04b7b4a48a);
        
    
        var popup_ce1b4f745a58bcac9d1d174b585e6e7c = L.popup({"maxWidth": "100%"});

        
            var html_ef1248c6230434967496c08bc23fcf98 = $(`<div id="html_ef1248c6230434967496c08bc23fcf98" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ce1b4f745a58bcac9d1d174b585e6e7c.setContent(html_ef1248c6230434967496c08bc23fcf98);
        

        marker_a7577c6dc1d77b9632746ffce79409dd.bindPopup(popup_ce1b4f745a58bcac9d1d174b585e6e7c)
        ;

        
    
    
            marker_a7577c6dc1d77b9632746ffce79409dd.bindTooltip(
                `<div>
                     SOUTHWEST PRIMARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5c1c898372e3801c2a86ff3341d5e5dc = L.marker(
                [35.793645, -81.258288],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_29454b81267b2cf4be588aba9caf44a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5c1c898372e3801c2a86ff3341d5e5dc.setIcon(icon_29454b81267b2cf4be588aba9caf44a9);
        
    
        var popup_9b5fdf94ff207c7700cbe09edd56097e = L.popup({"maxWidth": "100%"});

        
            var html_b9f36a39cb82e3cf066a65d89e1164f9 = $(`<div id="html_b9f36a39cb82e3cf066a65d89e1164f9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9b5fdf94ff207c7700cbe09edd56097e.setContent(html_b9f36a39cb82e3cf066a65d89e1164f9);
        

        marker_5c1c898372e3801c2a86ff3341d5e5dc.bindPopup(popup_9b5fdf94ff207c7700cbe09edd56097e)
        ;

        
    
    
            marker_5c1c898372e3801c2a86ff3341d5e5dc.bindTooltip(
                `<div>
                     ST. STEPHEN'S LUTHERAN PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_10e8c6be41d7f52050601ac5eb27741e = L.marker(
                [35.7720547, -81.26769306090586],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_b932e9b78d518f9dba234f85b4728e92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_10e8c6be41d7f52050601ac5eb27741e.setIcon(icon_b932e9b78d518f9dba234f85b4728e92);
        
    
        var popup_e2e6c8b3c61999d7e178a3419d21074f = L.popup({"maxWidth": "100%"});

        
            var html_4760773aad19bf991b5bdc95799a2900 = $(`<div id="html_4760773aad19bf991b5bdc95799a2900" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e2e6c8b3c61999d7e178a3419d21074f.setContent(html_4760773aad19bf991b5bdc95799a2900);
        

        marker_10e8c6be41d7f52050601ac5eb27741e.bindPopup(popup_e2e6c8b3c61999d7e178a3419d21074f)
        ;

        
    
    
            marker_10e8c6be41d7f52050601ac5eb27741e.bindTooltip(
                `<div>
                     ST. STEPHENS HIGH SCHOOL PRE K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_942fb8b470725a103416e9aaf1b3e609 = L.marker(
                [35.76827486651631, -81.30892555321456],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_7aae301ea57d5005b93fa5619b7b793a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_942fb8b470725a103416e9aaf1b3e609.setIcon(icon_7aae301ea57d5005b93fa5619b7b793a);
        
    
        var popup_2a08486883f7e6878e23ff1a0972e5c7 = L.popup({"maxWidth": "100%"});

        
            var html_02de307120329abe5d68fd038f53c634 = $(`<div id="html_02de307120329abe5d68fd038f53c634" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2a08486883f7e6878e23ff1a0972e5c7.setContent(html_02de307120329abe5d68fd038f53c634);
        

        marker_942fb8b470725a103416e9aaf1b3e609.bindPopup(popup_2a08486883f7e6878e23ff1a0972e5c7)
        ;

        
    
    
            marker_942fb8b470725a103416e9aaf1b3e609.bindTooltip(
                `<div>
                     TABERNACLE BAPTIST CHRISTIAN SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f7a8d6ed6409f52d5362383c6bbfe6d6 = L.marker(
                [35.72628972998639, -81.28199956810269],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_01ecb90430dc9b197ae67ad1a1cb669e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f7a8d6ed6409f52d5362383c6bbfe6d6.setIcon(icon_01ecb90430dc9b197ae67ad1a1cb669e);
        
    
        var popup_d167b27c9dc82e06f03ba23fb3cf8e19 = L.popup({"maxWidth": "100%"});

        
            var html_7745cfc7fb659a3ddc7c148b1f34150f = $(`<div id="html_7745cfc7fb659a3ddc7c148b1f34150f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d167b27c9dc82e06f03ba23fb3cf8e19.setContent(html_7745cfc7fb659a3ddc7c148b1f34150f);
        

        marker_f7a8d6ed6409f52d5362383c6bbfe6d6.bindPopup(popup_d167b27c9dc82e06f03ba23fb3cf8e19)
        ;

        
    
    
            marker_f7a8d6ed6409f52d5362383c6bbfe6d6.bindTooltip(
                `<div>
                     THE SANDBOX
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_38d5c0b9fa149b6fdd6d5b84fce8ce9c = L.marker(
                [35.74957255363926, -81.33492249525095],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_525b7ec911a3624e75e8f2e00981a09a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_38d5c0b9fa149b6fdd6d5b84fce8ce9c.setIcon(icon_525b7ec911a3624e75e8f2e00981a09a);
        
    
        var popup_224444cb9c88d20d8a38bdc75ca8771e = L.popup({"maxWidth": "100%"});

        
            var html_560200948c66c558171e9c41da84428d = $(`<div id="html_560200948c66c558171e9c41da84428d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_224444cb9c88d20d8a38bdc75ca8771e.setContent(html_560200948c66c558171e9c41da84428d);
        

        marker_38d5c0b9fa149b6fdd6d5b84fce8ce9c.bindPopup(popup_224444cb9c88d20d8a38bdc75ca8771e)
        ;

        
    
    
            marker_38d5c0b9fa149b6fdd6d5b84fce8ce9c.bindTooltip(
                `<div>
                     VIEWMONT BAPTIST CHURCH TREE OF LEARNING
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_29d7bd05661a18abf67f579d2cc689c1 = L.marker(
                [35.752789050000004, -81.33853448551349],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_5e1f68c25233a26e7c04b8acf428d37f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_29d7bd05661a18abf67f579d2cc689c1.setIcon(icon_5e1f68c25233a26e7c04b8acf428d37f);
        
    
        var popup_97a26841d73bac3f39bd7ed2bdc7e8bb = L.popup({"maxWidth": "100%"});

        
            var html_7ff631401b54e591db37a02e8f654114 = $(`<div id="html_7ff631401b54e591db37a02e8f654114" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_97a26841d73bac3f39bd7ed2bdc7e8bb.setContent(html_7ff631401b54e591db37a02e8f654114);
        

        marker_29d7bd05661a18abf67f579d2cc689c1.bindPopup(popup_97a26841d73bac3f39bd7ed2bdc7e8bb)
        ;

        
    
    
            marker_29d7bd05661a18abf67f579d2cc689c1.bindTooltip(
                `<div>
                     VIEWMONT ELEMENTARY KID CONNECTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_53b6541c45a97bd1a460a67cc8336585 = L.marker(
                [35.752789050000004, -81.33853448551349],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_5037024cd494dc6f9b2dac91ddf08704 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_53b6541c45a97bd1a460a67cc8336585.setIcon(icon_5037024cd494dc6f9b2dac91ddf08704);
        
    
        var popup_2eee67a8c2a0f837f983856606628cfc = L.popup({"maxWidth": "100%"});

        
            var html_249d1b03bd79acff7329a5fba48a0ff4 = $(`<div id="html_249d1b03bd79acff7329a5fba48a0ff4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2eee67a8c2a0f837f983856606628cfc.setContent(html_249d1b03bd79acff7329a5fba48a0ff4);
        

        marker_53b6541c45a97bd1a460a67cc8336585.bindPopup(popup_2eee67a8c2a0f837f983856606628cfc)
        ;

        
    
    
            marker_53b6541c45a97bd1a460a67cc8336585.bindTooltip(
                `<div>
                     VIEWMONT ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9fc8ee686cc807b2d2f626d0b35f76b8 = L.marker(
                [35.752789050000004, -81.33853448551349],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_af023a9517afbd829f851a18f694574e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9fc8ee686cc807b2d2f626d0b35f76b8.setIcon(icon_af023a9517afbd829f851a18f694574e);
        
    
        var popup_5de8f09b4d3c0016a6027e5b69b5e0c5 = L.popup({"maxWidth": "100%"});

        
            var html_c416a75c46995a8fafa51b5c6da2b15f = $(`<div id="html_c416a75c46995a8fafa51b5c6da2b15f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5de8f09b4d3c0016a6027e5b69b5e0c5.setContent(html_c416a75c46995a8fafa51b5c6da2b15f);
        

        marker_9fc8ee686cc807b2d2f626d0b35f76b8.bindPopup(popup_5de8f09b4d3c0016a6027e5b69b5e0c5)
        ;

        
    
    
            marker_9fc8ee686cc807b2d2f626d0b35f76b8.bindTooltip(
                `<div>
                     VIEWMONT HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_37cc316a84369be1d3159c1566cf595a = L.marker(
                [35.7374415, -81.25128849078163],
                {}
            ).addTo(map_43b5234db1e7de49939d443e807750cd);
        
    
            var icon_60d76c70f74dfc1f163abe1e91ca667e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_37cc316a84369be1d3159c1566cf595a.setIcon(icon_60d76c70f74dfc1f163abe1e91ca667e);
        
    
        var popup_4284f2e1719c51eba29fd1595af0d1db = L.popup({"maxWidth": "100%"});

        
            var html_e24f0cedab5b335a6db31f8219330669 = $(`<div id="html_e24f0cedab5b335a6db31f8219330669" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4284f2e1719c51eba29fd1595af0d1db.setContent(html_e24f0cedab5b335a6db31f8219330669);
        

        marker_37cc316a84369be1d3159c1566cf595a.bindPopup(popup_4284f2e1719c51eba29fd1595af0d1db)
        ;

        
    
    
            marker_37cc316a84369be1d3159c1566cf595a.bindTooltip(
                `<div>
                     WEBB MURRAY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
</script>