<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8554bb77aaebc68b974e328a1e3d335b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8554bb77aaebc68b974e328a1e3d335b" ></div>
        
</body>
<script>    
    
            var map_8554bb77aaebc68b974e328a1e3d335b = L.map(
                "map_8554bb77aaebc68b974e328a1e3d335b",
                {
                    center: [35.39975735, -80.92517248049658],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_28b5abecf20d5a2b8ebb79ea8129e6de = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var marker_b6560f1fd729d0cd59abe84f664d5ab2 = L.marker(
                [35.39975735, -80.92517248049658],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_272340913ec9b6c3450ac069b15377a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b6560f1fd729d0cd59abe84f664d5ab2.setIcon(icon_272340913ec9b6c3450ac069b15377a6);
        
    
        var popup_ea459f6e35a5526d0db63179ff3a1870 = L.popup({"maxWidth": "100%"});

        
            var html_67c82650b70cb44b7af2dfaa50e246eb = $(`<div id="html_67c82650b70cb44b7af2dfaa50e246eb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ea459f6e35a5526d0db63179ff3a1870.setContent(html_67c82650b70cb44b7af2dfaa50e246eb);
        

        marker_b6560f1fd729d0cd59abe84f664d5ab2.bindPopup(popup_ea459f6e35a5526d0db63179ff3a1870)
        ;

        
    
    
            marker_b6560f1fd729d0cd59abe84f664d5ab2.bindTooltip(
                `<div>
                     BARNETTE ELEMENTARY ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5cefe448ec781f260a5ffb0b649a8877 = L.marker(
                [35.376411950000005, -80.83540929057499],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_a4ede78d1f10800f4b1d6746003f080f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5cefe448ec781f260a5ffb0b649a8877.setIcon(icon_a4ede78d1f10800f4b1d6746003f080f);
        
    
        var popup_5ed1b0153d90c98502d1f72069933d78 = L.popup({"maxWidth": "100%"});

        
            var html_54e1be7a465085eb926aa38873a4a190 = $(`<div id="html_54e1be7a465085eb926aa38873a4a190" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5ed1b0153d90c98502d1f72069933d78.setContent(html_54e1be7a465085eb926aa38873a4a190);
        

        marker_5cefe448ec781f260a5ffb0b649a8877.bindPopup(popup_5ed1b0153d90c98502d1f72069933d78)
        ;

        
    
    
            marker_5cefe448ec781f260a5ffb0b649a8877.bindTooltip(
                `<div>
                     BLYTHE ELEMENTARY ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6359c1dc3a90c2c11d19f299563572bd = L.marker(
                [35.398646, -80.7671198],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_529fa9b0fc519a42d378e301c32467d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6359c1dc3a90c2c11d19f299563572bd.setIcon(icon_529fa9b0fc519a42d378e301c32467d2);
        
    
        var popup_b17912475f816001967bab937a449f9c = L.popup({"maxWidth": "100%"});

        
            var html_a28805e563fa5d2e2e097c310fa4c200 = $(`<div id="html_a28805e563fa5d2e2e097c310fa4c200" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b17912475f816001967bab937a449f9c.setContent(html_a28805e563fa5d2e2e097c310fa4c200);
        

        marker_6359c1dc3a90c2c11d19f299563572bd.bindPopup(popup_b17912475f816001967bab937a449f9c)
        ;

        
    
    
            marker_6359c1dc3a90c2c11d19f299563572bd.bindTooltip(
                `<div>
                     CADENCE ACADEMY PRESCHOOL, EASTFIELD
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c93f3c07704e6e1163373ebf081cf8bd = L.marker(
                [35.44696274934901, -80.88969896598066],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_ba79ea289d1711c3dc33ef2d5cebd69c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c93f3c07704e6e1163373ebf081cf8bd.setIcon(icon_ba79ea289d1711c3dc33ef2d5cebd69c);
        
    
        var popup_304588af9c8543a8a566a362ecc55ac8 = L.popup({"maxWidth": "100%"});

        
            var html_16db53369a41f8c480634e50669cea78 = $(`<div id="html_16db53369a41f8c480634e50669cea78" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_304588af9c8543a8a566a362ecc55ac8.setContent(html_16db53369a41f8c480634e50669cea78);
        

        marker_c93f3c07704e6e1163373ebf081cf8bd.bindPopup(popup_304588af9c8543a8a566a362ecc55ac8)
        ;

        
    
    
            marker_c93f3c07704e6e1163373ebf081cf8bd.bindTooltip(
                `<div>
                     CADENCE ACADEMY PRESCHOOL, KENTON
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1e2eaa0c8477dea88a7cad5ff633809 = L.marker(
                [35.40452091775266, -80.85308422886577],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_7f6e0dc4f1197437377ad7c40cd9eddf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e1e2eaa0c8477dea88a7cad5ff633809.setIcon(icon_7f6e0dc4f1197437377ad7c40cd9eddf);
        
    
        var popup_b787d1f5e7068f3e41e6ebb622c4fd3d = L.popup({"maxWidth": "100%"});

        
            var html_a41e97a999dac1f6cb19635b63568324 = $(`<div id="html_a41e97a999dac1f6cb19635b63568324" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b787d1f5e7068f3e41e6ebb622c4fd3d.setContent(html_a41e97a999dac1f6cb19635b63568324);
        

        marker_e1e2eaa0c8477dea88a7cad5ff633809.bindPopup(popup_b787d1f5e7068f3e41e6ebb622c4fd3d)
        ;

        
    
    
            marker_e1e2eaa0c8477dea88a7cad5ff633809.bindTooltip(
                `<div>
                     CHESTERBROOK ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ed8086602c17a9b4d54fc622203d12a8 = L.marker(
                [35.40124653097568, -80.86536223419405],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_c893ebd65d4e8beae764985a2a5068ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ed8086602c17a9b4d54fc622203d12a8.setIcon(icon_c893ebd65d4e8beae764985a2a5068ed);
        
    
        var popup_8595b63257a4aa4d0c882a8f1892452f = L.popup({"maxWidth": "100%"});

        
            var html_51ebfa533b0df18ebc8995aab7b4bd7e = $(`<div id="html_51ebfa533b0df18ebc8995aab7b4bd7e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8595b63257a4aa4d0c882a8f1892452f.setContent(html_51ebfa533b0df18ebc8995aab7b4bd7e);
        

        marker_ed8086602c17a9b4d54fc622203d12a8.bindPopup(popup_8595b63257a4aa4d0c882a8f1892452f)
        ;

        
    
    
            marker_ed8086602c17a9b4d54fc622203d12a8.bindTooltip(
                `<div>
                     CHILDTIME CHILDRENS CENTER #2009
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_57703b00d5f648390a478e05fb4f3927 = L.marker(
                [35.42336839130354, -80.8559052679054],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_93c2e1146f903b6f31af1df687aca754 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_57703b00d5f648390a478e05fb4f3927.setIcon(icon_93c2e1146f903b6f31af1df687aca754);
        
    
        var popup_5be9481f70d07a6e165d401f5913c20a = L.popup({"maxWidth": "100%"});

        
            var html_83462e24d759246933ec8938c0dde842 = $(`<div id="html_83462e24d759246933ec8938c0dde842" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5be9481f70d07a6e165d401f5913c20a.setContent(html_83462e24d759246933ec8938c0dde842);
        

        marker_57703b00d5f648390a478e05fb4f3927.bindPopup(popup_5be9481f70d07a6e165d401f5913c20a)
        ;

        
    
    
            marker_57703b00d5f648390a478e05fb4f3927.bindTooltip(
                `<div>
                     CHRISTIAN MONTESSORI SCHOOL AT LAKE NORMAN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d734b793c09a4acceabeb4d39cf5d04c = L.marker(
                [35.41176266209163, -80.84312897672748],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_98de080b40a8ebe3f1418be0394015de = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d734b793c09a4acceabeb4d39cf5d04c.setIcon(icon_98de080b40a8ebe3f1418be0394015de);
        
    
        var popup_360440f452e1ebb082599b0043584350 = L.popup({"maxWidth": "100%"});

        
            var html_66619a0023ff25e9ba66e66b23ab0552 = $(`<div id="html_66619a0023ff25e9ba66e66b23ab0552" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_360440f452e1ebb082599b0043584350.setContent(html_66619a0023ff25e9ba66e66b23ab0552);
        

        marker_d734b793c09a4acceabeb4d39cf5d04c.bindPopup(popup_360440f452e1ebb082599b0043584350)
        ;

        
    
    
            marker_d734b793c09a4acceabeb4d39cf5d04c.bindTooltip(
                `<div>
                     FIRST BAPTIST CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e053d2d8818de4862daf743230c3775d = L.marker(
                [35.40383198350036, -80.86601632934095],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_77eda78caf374fc76e77a9fa740e2ff5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e053d2d8818de4862daf743230c3775d.setIcon(icon_77eda78caf374fc76e77a9fa740e2ff5);
        
    
        var popup_7688331e4fb32bfcc8e4d7aa165a56b3 = L.popup({"maxWidth": "100%"});

        
            var html_72d3507533a2850c1514be013fb96818 = $(`<div id="html_72d3507533a2850c1514be013fb96818" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7688331e4fb32bfcc8e4d7aa165a56b3.setContent(html_72d3507533a2850c1514be013fb96818);
        

        marker_e053d2d8818de4862daf743230c3775d.bindPopup(popup_7688331e4fb32bfcc8e4d7aa165a56b3)
        ;

        
    
    
            marker_e053d2d8818de4862daf743230c3775d.bindTooltip(
                `<div>
                     FORRESTAL ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c354acf50f10b8c075d9d410d29d408 = L.marker(
                [35.426511221536686, -80.87259668571454],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_3ca0118e03ef46d8ee966a5b77822d33 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7c354acf50f10b8c075d9d410d29d408.setIcon(icon_3ca0118e03ef46d8ee966a5b77822d33);
        
    
        var popup_93cc399b99ec6e5305de36d995a38053 = L.popup({"maxWidth": "100%"});

        
            var html_fa0671d0f814c987e7a8ffd93e2dbfdb = $(`<div id="html_fa0671d0f814c987e7a8ffd93e2dbfdb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_93cc399b99ec6e5305de36d995a38053.setContent(html_fa0671d0f814c987e7a8ffd93e2dbfdb);
        

        marker_7c354acf50f10b8c075d9d410d29d408.bindPopup(popup_93cc399b99ec6e5305de36d995a38053)
        ;

        
    
    
            marker_7c354acf50f10b8c075d9d410d29d408.bindTooltip(
                `<div>
                     GRAND OAK BSEP/ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6426989db3a651b60af69d9286739c3e = L.marker(
                [35.44043065963239, -80.90001978492909],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_f3f675ecf80a95933219d254326d6958 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6426989db3a651b60af69d9286739c3e.setIcon(icon_f3f675ecf80a95933219d254326d6958);
        
    
        var popup_c367bb988646235e342f2b7219ecb94b = L.popup({"maxWidth": "100%"});

        
            var html_824290e88bacff54fc27b36543001173 = $(`<div id="html_824290e88bacff54fc27b36543001173" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c367bb988646235e342f2b7219ecb94b.setContent(html_824290e88bacff54fc27b36543001173);
        

        marker_6426989db3a651b60af69d9286739c3e.bindPopup(popup_c367bb988646235e342f2b7219ecb94b)
        ;

        
    
    
            marker_6426989db3a651b60af69d9286739c3e.bindTooltip(
                `<div>
                     GUIDEPOST MONTESSORI AT LAKE NORMAN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_625ef836d4779d007a4a337ad2026453 = L.marker(
                [35.410778, -80.846296],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_3b101da90903e77b4a7ddefd4d8a4828 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_625ef836d4779d007a4a337ad2026453.setIcon(icon_3b101da90903e77b4a7ddefd4d8a4828);
        
    
        var popup_756fba555761ee877b3e47fa3b29ce7a = L.popup({"maxWidth": "100%"});

        
            var html_260e2edf17a3747e3449f63a6014c96c = $(`<div id="html_260e2edf17a3747e3449f63a6014c96c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_756fba555761ee877b3e47fa3b29ce7a.setContent(html_260e2edf17a3747e3449f63a6014c96c);
        

        marker_625ef836d4779d007a4a337ad2026453.bindPopup(popup_756fba555761ee877b3e47fa3b29ce7a)
        ;

        
    
    
            marker_625ef836d4779d007a4a337ad2026453.bindTooltip(
                `<div>
                     HUNTERSVILLE ELEMENTARY ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30218956992670ad1de97faf5701f7a1 = L.marker(
                [35.447207207454674, -80.86580799026663],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_4b23da2c9a93f76086ddbf3e7e53a914 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_30218956992670ad1de97faf5701f7a1.setIcon(icon_4b23da2c9a93f76086ddbf3e7e53a914);
        
    
        var popup_32ac031b6a3a3eeb76d79777893f4d4d = L.popup({"maxWidth": "100%"});

        
            var html_2445e950d77000a46ee9d9a093f401ac = $(`<div id="html_2445e950d77000a46ee9d9a093f401ac" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_32ac031b6a3a3eeb76d79777893f4d4d.setContent(html_2445e950d77000a46ee9d9a093f401ac);
        

        marker_30218956992670ad1de97faf5701f7a1.bindPopup(popup_32ac031b6a3a3eeb76d79777893f4d4d)
        ;

        
    
    
            marker_30218956992670ad1de97faf5701f7a1.bindTooltip(
                `<div>
                     KIDS R KIDS LAKE NORMAN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a2acd744ce916dd892c47ad0d82099cb = L.marker(
                [35.39046862878788, -80.84811373484848],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_c9363a709a3482c1afa6972ae08497f0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a2acd744ce916dd892c47ad0d82099cb.setIcon(icon_c9363a709a3482c1afa6972ae08497f0);
        
    
        var popup_f248f781eed44532935b1a3d1b7d627d = L.popup({"maxWidth": "100%"});

        
            var html_8e2a962ac68b5ba4e7099c90cd4edc8d = $(`<div id="html_8e2a962ac68b5ba4e7099c90cd4edc8d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f248f781eed44532935b1a3d1b7d627d.setContent(html_8e2a962ac68b5ba4e7099c90cd4edc8d);
        

        marker_a2acd744ce916dd892c47ad0d82099cb.bindPopup(popup_f248f781eed44532935b1a3d1b7d627d)
        ;

        
    
    
            marker_a2acd744ce916dd892c47ad0d82099cb.bindTooltip(
                `<div>
                     KINDERCARE-HUNTERSVILLE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e8307cd94acbb0ee2d92d7415212dc26 = L.marker(
                [35.3509084, -80.889005],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_72daad966e11523c0ccaa253f30be164 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e8307cd94acbb0ee2d92d7415212dc26.setIcon(icon_72daad966e11523c0ccaa253f30be164);
        
    
        var popup_7d520a032ee7fe129bc472cdb8462df3 = L.popup({"maxWidth": "100%"});

        
            var html_dc194dd5926d350ddbd008b4b0a50c4f = $(`<div id="html_dc194dd5926d350ddbd008b4b0a50c4f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7d520a032ee7fe129bc472cdb8462df3.setContent(html_dc194dd5926d350ddbd008b4b0a50c4f);
        

        marker_e8307cd94acbb0ee2d92d7415212dc26.bindPopup(popup_7d520a032ee7fe129bc472cdb8462df3)
        ;

        
    
    
            marker_e8307cd94acbb0ee2d92d7415212dc26.bindTooltip(
                `<div>
                     LONG CREEK ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d30d189bece6ad9dea906c6af9714b4b = L.marker(
                [35.37748001348075, -80.83525662637653],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_3fb4cf9fa6ced5d53c13813749086ecd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d30d189bece6ad9dea906c6af9714b4b.setIcon(icon_3fb4cf9fa6ced5d53c13813749086ecd);
        
    
        var popup_3ff7838eb637deca0e2b2eedfce73bb7 = L.popup({"maxWidth": "100%"});

        
            var html_a714b5822d2791e1ac950728e6ec2271 = $(`<div id="html_a714b5822d2791e1ac950728e6ec2271" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3ff7838eb637deca0e2b2eedfce73bb7.setContent(html_a714b5822d2791e1ac950728e6ec2271);
        

        marker_d30d189bece6ad9dea906c6af9714b4b.bindPopup(popup_3ff7838eb637deca0e2b2eedfce73bb7)
        ;

        
    
    
            marker_d30d189bece6ad9dea906c6af9714b4b.bindTooltip(
                `<div>
                     NORTH ACADEMY OF WORLD LANGUAGES ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3a07190af20879c94f3751edb91b35b5 = L.marker(
                [35.402956737845955, -80.86795551676244],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_fc8fc8a00408d67c2b7f84b879c9e902 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3a07190af20879c94f3751edb91b35b5.setIcon(icon_fc8fc8a00408d67c2b7f84b879c9e902);
        
    
        var popup_827ab1a59fc58da5aa23acfe9e5e9bae = L.popup({"maxWidth": "100%"});

        
            var html_8ffbed25b754bbe148dfad9421392abd = $(`<div id="html_8ffbed25b754bbe148dfad9421392abd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_827ab1a59fc58da5aa23acfe9e5e9bae.setContent(html_8ffbed25b754bbe148dfad9421392abd);
        

        marker_3a07190af20879c94f3751edb91b35b5.bindPopup(popup_827ab1a59fc58da5aa23acfe9e5e9bae)
        ;

        
    
    
            marker_3a07190af20879c94f3751edb91b35b5.bindTooltip(
                `<div>
                     PRIMROSE SCHOOL OF HUNTERSVILLE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5ae5892d76758be8f6d5788bb2287223 = L.marker(
                [35.402674055373275, -80.86854351752797],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_79edb14daa8cb950e33ff8ca17a91903 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5ae5892d76758be8f6d5788bb2287223.setIcon(icon_79edb14daa8cb950e33ff8ca17a91903);
        
    
        var popup_7bc5084400c3e1646f1cd835e7c44198 = L.popup({"maxWidth": "100%"});

        
            var html_9e9829465e4aaaad49d490d092a1d7c9 = $(`<div id="html_9e9829465e4aaaad49d490d092a1d7c9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7bc5084400c3e1646f1cd835e7c44198.setContent(html_9e9829465e4aaaad49d490d092a1d7c9);
        

        marker_5ae5892d76758be8f6d5788bb2287223.bindPopup(popup_7bc5084400c3e1646f1cd835e7c44198)
        ;

        
    
    
            marker_5ae5892d76758be8f6d5788bb2287223.bindTooltip(
                `<div>
                     THE GODDARD SCHOOL OF HUNTERSVILLE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dfbce1c363d8c73f8e380a70bb2a0284 = L.marker(
                [35.43773847083934, -80.8440527998637],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_c9b57cb84dc9335ad3de43bd1334a24e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dfbce1c363d8c73f8e380a70bb2a0284.setIcon(icon_c9b57cb84dc9335ad3de43bd1334a24e);
        
    
        var popup_86853585dfcc1ad2bc757263bbf72a3a = L.popup({"maxWidth": "100%"});

        
            var html_58c13ab6b682caa5c2ff955dd3056fd0 = $(`<div id="html_58c13ab6b682caa5c2ff955dd3056fd0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_86853585dfcc1ad2bc757263bbf72a3a.setContent(html_58c13ab6b682caa5c2ff955dd3056fd0);
        

        marker_dfbce1c363d8c73f8e380a70bb2a0284.bindPopup(popup_86853585dfcc1ad2bc757263bbf72a3a)
        ;

        
    
    
            marker_dfbce1c363d8c73f8e380a70bb2a0284.bindTooltip(
                `<div>
                     THE LEARNING EXPERIENCE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a5d0e8bb574be272b5f26dad88f6940 = L.marker(
                [35.40508195538853, -80.88334345177542],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_cb60454bd625e48dc41eb9a80baa6b35 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5a5d0e8bb574be272b5f26dad88f6940.setIcon(icon_cb60454bd625e48dc41eb9a80baa6b35);
        
    
        var popup_505d617d2b0fd0f753e83e188f4592b9 = L.popup({"maxWidth": "100%"});

        
            var html_f4752a780ce7143fe79dc6d317771c4a = $(`<div id="html_f4752a780ce7143fe79dc6d317771c4a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_505d617d2b0fd0f753e83e188f4592b9.setContent(html_f4752a780ce7143fe79dc6d317771c4a);
        

        marker_5a5d0e8bb574be272b5f26dad88f6940.bindPopup(popup_505d617d2b0fd0f753e83e188f4592b9)
        ;

        
    
    
            marker_5a5d0e8bb574be272b5f26dad88f6940.bindTooltip(
                `<div>
                     THE LEARNING TREE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f0ea6a8e9d22a5b2d5a3da8b59103bb6 = L.marker(
                [35.37969780612737, -80.91439577255352],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_04b0486ec772d7e31ac9b2a1d270b923 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_f0ea6a8e9d22a5b2d5a3da8b59103bb6.setIcon(icon_04b0486ec772d7e31ac9b2a1d270b923);
        
    
        var popup_48409d04852f1035a8116d2b9d657a3c = L.popup({"maxWidth": "100%"});

        
            var html_b537d09a9be1093878468f569ebf725a = $(`<div id="html_b537d09a9be1093878468f569ebf725a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_48409d04852f1035a8116d2b9d657a3c.setContent(html_b537d09a9be1093878468f569ebf725a);
        

        marker_f0ea6a8e9d22a5b2d5a3da8b59103bb6.bindPopup(popup_48409d04852f1035a8116d2b9d657a3c)
        ;

        
    
    
            marker_f0ea6a8e9d22a5b2d5a3da8b59103bb6.bindTooltip(
                `<div>
                     TINY HANDS AND FEET
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bb6046f86712f2ca751135070211c39f = L.marker(
                [35.41211305, -80.87261720143007],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_afd56f17bd16c4be76d6d6dbb8f31cdd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bb6046f86712f2ca751135070211c39f.setIcon(icon_afd56f17bd16c4be76d6d6dbb8f31cdd);
        
    
        var popup_ef761a151c7b8a1d03af442edc891cba = L.popup({"maxWidth": "100%"});

        
            var html_365d4302034904a486cb2dda20f2c66f = $(`<div id="html_365d4302034904a486cb2dda20f2c66f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ef761a151c7b8a1d03af442edc891cba.setContent(html_365d4302034904a486cb2dda20f2c66f);
        

        marker_bb6046f86712f2ca751135070211c39f.bindPopup(popup_ef761a151c7b8a1d03af442edc891cba)
        ;

        
    
    
            marker_bb6046f86712f2ca751135070211c39f.bindTooltip(
                `<div>
                     TORRENCE CREEK ELEMENTARY ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6ff7bfc937fc59f0ca7121e97287acb7 = L.marker(
                [35.3509084, -80.889005],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_1bbdbcbbe5e5ef3db3afe1f481785d75 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6ff7bfc937fc59f0ca7121e97287acb7.setIcon(icon_1bbdbcbbe5e5ef3db3afe1f481785d75);
        
    
        var popup_2340e4441109ffb3ee4351c27272fd46 = L.popup({"maxWidth": "100%"});

        
            var html_6615ee9d189c87a402f1bfd5a0b323f7 = $(`<div id="html_6615ee9d189c87a402f1bfd5a0b323f7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2340e4441109ffb3ee4351c27272fd46.setContent(html_6615ee9d189c87a402f1bfd5a0b323f7);
        

        marker_6ff7bfc937fc59f0ca7121e97287acb7.bindPopup(popup_2340e4441109ffb3ee4351c27272fd46)
        ;

        
    
    
            marker_6ff7bfc937fc59f0ca7121e97287acb7.bindTooltip(
                `<div>
                     TRILLIUM SPRINGS ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_63139bc5ab5869efd04ad005ca193098 = L.marker(
                [35.44178615521715, -80.87490911093295],
                {}
            ).addTo(map_8554bb77aaebc68b974e328a1e3d335b);
        
    
            var icon_7bdc7ee7c8238d275df2598d21d8202f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_63139bc5ab5869efd04ad005ca193098.setIcon(icon_7bdc7ee7c8238d275df2598d21d8202f);
        
    
        var popup_560f8a7c32dab97cb55b3b49b7dac6cd = L.popup({"maxWidth": "100%"});

        
            var html_6ad8cb078be1bad05fd9f5b8b3430570 = $(`<div id="html_6ad8cb078be1bad05fd9f5b8b3430570" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_560f8a7c32dab97cb55b3b49b7dac6cd.setContent(html_6ad8cb078be1bad05fd9f5b8b3430570);
        

        marker_63139bc5ab5869efd04ad005ca193098.bindPopup(popup_560f8a7c32dab97cb55b3b49b7dac6cd)
        ;

        
    
    
            marker_63139bc5ab5869efd04ad005ca193098.bindTooltip(
                `<div>
                     UNIVERSITY CHILD DEV. CENTER AT NORTHCROSS
                 </div>`,
                {"sticky": true}
            );
        
</script>