<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bbdfefdef50b45ad10d17a6692c5d4fb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bbdfefdef50b45ad10d17a6692c5d4fb" ></div>
        
</body>
<script>    
    
            var map_bbdfefdef50b45ad10d17a6692c5d4fb = L.map(
                "map_bbdfefdef50b45ad10d17a6692c5d4fb",
                {
                    center: [35.1062248, -80.6296501053719],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_54c375e4319e78b472056db405d7ade2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var marker_e7eafa8c2740c44d66ceebd3df208334 = L.marker(
                [35.1062248, -80.6296501053719],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_e3002c20e59f6d0e56e694c009524815 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e7eafa8c2740c44d66ceebd3df208334.setIcon(icon_e3002c20e59f6d0e56e694c009524815);
        
    
        var popup_f1e393d5b17a81b0c072fe9dbdbede2a = L.popup({"maxWidth": "100%"});

        
            var html_dbbe36d297d8b3ddccab8096b3ab893f = $(`<div id="html_dbbe36d297d8b3ddccab8096b3ab893f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f1e393d5b17a81b0c072fe9dbdbede2a.setContent(html_dbbe36d297d8b3ddccab8096b3ab893f);
        

        marker_e7eafa8c2740c44d66ceebd3df208334.bindPopup(popup_f1e393d5b17a81b0c072fe9dbdbede2a)
        ;

        
    
    
            marker_e7eafa8c2740c44d66ceebd3df208334.bindTooltip(
                `<div>
                     A KID'S PLACE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6469a537512f7eabd1cc41aa3c0a9bb4 = L.marker(
                [35.0492317, -80.6438843],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_4debd25fcad846b2a52be8ef27ee415a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6469a537512f7eabd1cc41aa3c0a9bb4.setIcon(icon_4debd25fcad846b2a52be8ef27ee415a);
        
    
        var popup_fe16b1b80b3e68fc781840e69b859846 = L.popup({"maxWidth": "100%"});

        
            var html_8371507de416021da0f1f9742dfa5cae = $(`<div id="html_8371507de416021da0f1f9742dfa5cae" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fe16b1b80b3e68fc781840e69b859846.setContent(html_8371507de416021da0f1f9742dfa5cae);
        

        marker_6469a537512f7eabd1cc41aa3c0a9bb4.bindPopup(popup_fe16b1b80b3e68fc781840e69b859846)
        ;

        
    
    
            marker_6469a537512f7eabd1cc41aa3c0a9bb4.bindTooltip(
                `<div>
                     BIG BLUE MARBLE-WESLEY CHAPEL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1b9267df6fb077ebc9096713529b44bb = L.marker(
                [35.07686160304387, -80.66036435420529],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_5175dacad8519ca6d5e46a16a1a08e73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1b9267df6fb077ebc9096713529b44bb.setIcon(icon_5175dacad8519ca6d5e46a16a1a08e73);
        
    
        var popup_13c26361a156346a83b7164b3f4719a1 = L.popup({"maxWidth": "100%"});

        
            var html_01766d2e1a1fcbb68283f03290c0e4a0 = $(`<div id="html_01766d2e1a1fcbb68283f03290c0e4a0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_13c26361a156346a83b7164b3f4719a1.setContent(html_01766d2e1a1fcbb68283f03290c0e4a0);
        

        marker_1b9267df6fb077ebc9096713529b44bb.bindPopup(popup_13c26361a156346a83b7164b3f4719a1)
        ;

        
    
    
            marker_1b9267df6fb077ebc9096713529b44bb.bindTooltip(
                `<div>
                     CHILDTIME 2014
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a0ead2b2feff9732fd0fa50230931fef = L.marker(
                [35.0728299, -80.6738574],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_ef165fff9a75f2a59c4a9b1484d8937b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a0ead2b2feff9732fd0fa50230931fef.setIcon(icon_ef165fff9a75f2a59c4a9b1484d8937b);
        
    
        var popup_4e34cf2c94199fd58bfa148d971977b9 = L.popup({"maxWidth": "100%"});

        
            var html_1dcf090c32acdda9e50f1c94553220c5 = $(`<div id="html_1dcf090c32acdda9e50f1c94553220c5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4e34cf2c94199fd58bfa148d971977b9.setContent(html_1dcf090c32acdda9e50f1c94553220c5);
        

        marker_a0ead2b2feff9732fd0fa50230931fef.bindPopup(popup_4e34cf2c94199fd58bfa148d971977b9)
        ;

        
    
    
            marker_a0ead2b2feff9732fd0fa50230931fef.bindTooltip(
                `<div>
                     INDIAN TRAIL ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6674b189e19eb564660edc2aa2256fcc = L.marker(
                [35.1194805824262, -80.63035346154395],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_60993adbc7162a001be574a319d12112 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_6674b189e19eb564660edc2aa2256fcc.setIcon(icon_60993adbc7162a001be574a319d12112);
        
    
        var popup_7329d58c311105312cf48f33f7ac7d1c = L.popup({"maxWidth": "100%"});

        
            var html_44daa68bc755f4a61125d877f06bf427 = $(`<div id="html_44daa68bc755f4a61125d877f06bf427" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_7329d58c311105312cf48f33f7ac7d1c.setContent(html_44daa68bc755f4a61125d877f06bf427);
        

        marker_6674b189e19eb564660edc2aa2256fcc.bindPopup(popup_7329d58c311105312cf48f33f7ac7d1c)
        ;

        
    
    
            marker_6674b189e19eb564660edc2aa2256fcc.bindTooltip(
                `<div>
                     LITTLE EINSTEINS ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a7dbf8e6eb8696d19e676419fc34a84b = L.marker(
                [35.085319600000005, -80.65765880874801],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_864f41be221546f0705981d9bfc548df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a7dbf8e6eb8696d19e676419fc34a84b.setIcon(icon_864f41be221546f0705981d9bfc548df);
        
    
        var popup_b0f90adbec76ef27942e3e0d9b304072 = L.popup({"maxWidth": "100%"});

        
            var html_87c9973af8cd62a1f284c95309947267 = $(`<div id="html_87c9973af8cd62a1f284c95309947267" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b0f90adbec76ef27942e3e0d9b304072.setContent(html_87c9973af8cd62a1f284c95309947267);
        

        marker_a7dbf8e6eb8696d19e676419fc34a84b.bindPopup(popup_b0f90adbec76ef27942e3e0d9b304072)
        ;

        
    
    
            marker_a7dbf8e6eb8696d19e676419fc34a84b.bindTooltip(
                `<div>
                     METROLINA CHRISTIAN ACADEMY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4dfa9ed9b2ec10ab9afc0579fc76f29f = L.marker(
                [35.0812119, -80.6048575],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_b2ba311122f82f93f18c6635cf7ac109 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4dfa9ed9b2ec10ab9afc0579fc76f29f.setIcon(icon_b2ba311122f82f93f18c6635cf7ac109);
        
    
        var popup_6d27e35e7ca4cd1d965b2453429d93fb = L.popup({"maxWidth": "100%"});

        
            var html_b4b3794cbd22accc4735494e2d12cd08 = $(`<div id="html_b4b3794cbd22accc4735494e2d12cd08" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6d27e35e7ca4cd1d965b2453429d93fb.setContent(html_b4b3794cbd22accc4735494e2d12cd08);
        

        marker_4dfa9ed9b2ec10ab9afc0579fc76f29f.bindPopup(popup_6d27e35e7ca4cd1d965b2453429d93fb)
        ;

        
    
    
            marker_4dfa9ed9b2ec10ab9afc0579fc76f29f.bindTooltip(
                `<div>
                     POPLIN ELEMENTARY AFTER SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51e4d48ccbcace0dd2fe4fda6a8598e1 = L.marker(
                [35.093526100000005, -80.57632900903212],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_298620d0b4465000c357f2b17bfb4bb3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_51e4d48ccbcace0dd2fe4fda6a8598e1.setIcon(icon_298620d0b4465000c357f2b17bfb4bb3);
        
    
        var popup_0b0369730261a19e206bae9bfdf3a7f2 = L.popup({"maxWidth": "100%"});

        
            var html_79f1569a92068db0cc5d13ed43b6672f = $(`<div id="html_79f1569a92068db0cc5d13ed43b6672f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0b0369730261a19e206bae9bfdf3a7f2.setContent(html_79f1569a92068db0cc5d13ed43b6672f);
        

        marker_51e4d48ccbcace0dd2fe4fda6a8598e1.bindPopup(popup_0b0369730261a19e206bae9bfdf3a7f2)
        ;

        
    
    
            marker_51e4d48ccbcace0dd2fe4fda6a8598e1.bindTooltip(
                `<div>
                     PORTER RIDGE ELEMENTARY AFTER SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7d36900995030e45faa079f5c3d61355 = L.marker(
                [35.04481303457807, -80.65043522854937],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_060b312f5a04b0a5cd06bbfa78e89ae8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7d36900995030e45faa079f5c3d61355.setIcon(icon_060b312f5a04b0a5cd06bbfa78e89ae8);
        
    
        var popup_6bd7cfb7e92abef5c770925a6ab13aa1 = L.popup({"maxWidth": "100%"});

        
            var html_0fd7c3e400dfa0a1869a5f30dbe13e2e = $(`<div id="html_0fd7c3e400dfa0a1869a5f30dbe13e2e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6bd7cfb7e92abef5c770925a6ab13aa1.setContent(html_0fd7c3e400dfa0a1869a5f30dbe13e2e);
        

        marker_7d36900995030e45faa079f5c3d61355.bindPopup(popup_6bd7cfb7e92abef5c770925a6ab13aa1)
        ;

        
    
    
            marker_7d36900995030e45faa079f5c3d61355.bindTooltip(
                `<div>
                     THE GODDARD SCHOOL OF INDIAN TRAIL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aa6c77bdca492bce0d7a4a85dd39a430 = L.marker(
                [35.07618869397166, -80.63648117216025],
                {}
            ).addTo(map_bbdfefdef50b45ad10d17a6692c5d4fb);
        
    
            var icon_89177b0122f7e695ba5559f4e166367c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_aa6c77bdca492bce0d7a4a85dd39a430.setIcon(icon_89177b0122f7e695ba5559f4e166367c);
        
    
        var popup_905c676cb01a35c3c5489a5fafce70e5 = L.popup({"maxWidth": "100%"});

        
            var html_e30b72e3b3f5b76817d75a930d0e8e25 = $(`<div id="html_e30b72e3b3f5b76817d75a930d0e8e25" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_905c676cb01a35c3c5489a5fafce70e5.setContent(html_e30b72e3b3f5b76817d75a930d0e8e25);
        

        marker_aa6c77bdca492bce0d7a4a85dd39a430.bindPopup(popup_905c676cb01a35c3c5489a5fafce70e5)
        ;

        
    
    
            marker_aa6c77bdca492bce0d7a4a85dd39a430.bindTooltip(
                `<div>
                     WONDER ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
</script>