<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_96a6a9848b7fd2d6fa292d5e19e78a73 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_96a6a9848b7fd2d6fa292d5e19e78a73" ></div>
        
</body>
<script>    
    
            var map_96a6a9848b7fd2d6fa292d5e19e78a73 = L.map(
                "map_96a6a9848b7fd2d6fa292d5e19e78a73",
                {
                    center: [34.957406, -77.958066],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2ccb02f4e86e966dd7d8e8a67cdc4444 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_96a6a9848b7fd2d6fa292d5e19e78a73);
        
    
            var marker_9087bf0d7ba00e047bf0461a333b1eb1 = L.marker(
                [34.957406, -77.958066],
                {}
            ).addTo(map_96a6a9848b7fd2d6fa292d5e19e78a73);
        
    
            var icon_9c5be6ba37349e51c8aad3bd78577152 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9087bf0d7ba00e047bf0461a333b1eb1.setIcon(icon_9c5be6ba37349e51c8aad3bd78577152);
        
    
        var popup_beeed0a313646d825eeab90c8ce74719 = L.popup({"maxWidth": "100%"});

        
            var html_d9e650a1284d70e82f25cdc57ea006cb = $(`<div id="html_d9e650a1284d70e82f25cdc57ea006cb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_beeed0a313646d825eeab90c8ce74719.setContent(html_d9e650a1284d70e82f25cdc57ea006cb);
        

        marker_9087bf0d7ba00e047bf0461a333b1eb1.bindPopup(popup_beeed0a313646d825eeab90c8ce74719)
        ;

        
    
    
            marker_9087bf0d7ba00e047bf0461a333b1eb1.bindTooltip(
                `<div>
                     KENANSVILLE PREKINDERGARTEN CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dfc4bec593700f27309e8b303de5b767 = L.marker(
                [34.96248691836735, -77.95596530612245],
                {}
            ).addTo(map_96a6a9848b7fd2d6fa292d5e19e78a73);
        
    
            var icon_47314514594d49d4ce6fd0e8f5483708 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_dfc4bec593700f27309e8b303de5b767.setIcon(icon_47314514594d49d4ce6fd0e8f5483708);
        
    
        var popup_b6a695fd79f7e95506de428a05c1d1b3 = L.popup({"maxWidth": "100%"});

        
            var html_9b899fa2fc55f0b727f92201c5952982 = $(`<div id="html_9b899fa2fc55f0b727f92201c5952982" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_b6a695fd79f7e95506de428a05c1d1b3.setContent(html_9b899fa2fc55f0b727f92201c5952982);
        

        marker_dfc4bec593700f27309e8b303de5b767.bindPopup(popup_b6a695fd79f7e95506de428a05c1d1b3)
        ;

        
    
    
            marker_dfc4bec593700f27309e8b303de5b767.bindTooltip(
                `<div>
                     PRECIOUS ANGELS PRE-CARE DAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6798d2f59b01682d5dbd5373cdee8eff = L.marker(
                [34.96357016335, -77.95146188494577],
                {}
            ).addTo(map_96a6a9848b7fd2d6fa292d5e19e78a73);
        
    
            var icon_38362fb96c655d8eb389581fe3c56174 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6798d2f59b01682d5dbd5373cdee8eff.setIcon(icon_38362fb96c655d8eb389581fe3c56174);
        
    
        var popup_121612bbf3d107e9e108052a1f4cff9b = L.popup({"maxWidth": "100%"});

        
            var html_6a927c10ab537a3477bf7b77fbb969d2 = $(`<div id="html_6a927c10ab537a3477bf7b77fbb969d2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_121612bbf3d107e9e108052a1f4cff9b.setContent(html_6a927c10ab537a3477bf7b77fbb969d2);
        

        marker_6798d2f59b01682d5dbd5373cdee8eff.bindPopup(popup_121612bbf3d107e9e108052a1f4cff9b)
        ;

        
    
    
            marker_6798d2f59b01682d5dbd5373cdee8eff.bindTooltip(
                `<div>
                     THE RIGHT START FAMILY SOLUTION
                 </div>`,
                {"sticky": true}
            );
        
</script>