<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_999a0be4faea4bde814b27334aff618b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_999a0be4faea4bde814b27334aff618b" ></div>
        
</body>
<script>    
    
            var map_999a0be4faea4bde814b27334aff618b = L.map(
                "map_999a0be4faea4bde814b27334aff618b",
                {
                    center: [36.0255742, -75.6769189784593],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c621a153238e5990f0755366785fb3ad = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_999a0be4faea4bde814b27334aff618b);
        
    
            var marker_c308abcd58eb9a83cb95cc7f329fde3b = L.marker(
                [36.0255742, -75.6769189784593],
                {}
            ).addTo(map_999a0be4faea4bde814b27334aff618b);
        
    
            var icon_34ae0ccf0a672dc3f33ef93209f1804d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_c308abcd58eb9a83cb95cc7f329fde3b.setIcon(icon_34ae0ccf0a672dc3f33ef93209f1804d);
        
    
        var popup_482fa903099a9d58fd57d77da3b214cd = L.popup({"maxWidth": "100%"});

        
            var html_c2e9d3901d1d470d0fa0e19bcf180b80 = $(`<div id="html_c2e9d3901d1d470d0fa0e19bcf180b80" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_482fa903099a9d58fd57d77da3b214cd.setContent(html_c2e9d3901d1d470d0fa0e19bcf180b80);
        

        marker_c308abcd58eb9a83cb95cc7f329fde3b.bindPopup(popup_482fa903099a9d58fd57d77da3b214cd)
        ;

        
    
    
            marker_c308abcd58eb9a83cb95cc7f329fde3b.bindTooltip(
                `<div>
                     ABC'S CHILD CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b21def6bc1bfa86512555267aeafb5c = L.marker(
                [36.00890781632653, -75.66434587755103],
                {}
            ).addTo(map_999a0be4faea4bde814b27334aff618b);
        
    
            var icon_f423abd5274e278ff881326e2bf85f1a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4b21def6bc1bfa86512555267aeafb5c.setIcon(icon_f423abd5274e278ff881326e2bf85f1a);
        
    
        var popup_c30bd65ba716da9449ac37752c40aa44 = L.popup({"maxWidth": "100%"});

        
            var html_e1c601d126c49ba7f2731771d33a608a = $(`<div id="html_e1c601d126c49ba7f2731771d33a608a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c30bd65ba716da9449ac37752c40aa44.setContent(html_e1c601d126c49ba7f2731771d33a608a);
        

        marker_4b21def6bc1bfa86512555267aeafb5c.bindPopup(popup_c30bd65ba716da9449ac37752c40aa44)
        ;

        
    
    
            marker_4b21def6bc1bfa86512555267aeafb5c.bindTooltip(
                `<div>
                     FIRST FLIGHT ELEMENTARY ASEP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5d397dd279453f0953017afdd70418be = L.marker(
                [36.00890781632653, -75.66434587755103],
                {}
            ).addTo(map_999a0be4faea4bde814b27334aff618b);
        
    
            var icon_a7d5d250f11faebeb4a8c1a9d2d9ab00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5d397dd279453f0953017afdd70418be.setIcon(icon_a7d5d250f11faebeb4a8c1a9d2d9ab00);
        
    
        var popup_c416b58f20e31440ccd13f58a1089ba4 = L.popup({"maxWidth": "100%"});

        
            var html_64a9f092e72b08ea6e57535721764c2e = $(`<div id="html_64a9f092e72b08ea6e57535721764c2e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c416b58f20e31440ccd13f58a1089ba4.setContent(html_64a9f092e72b08ea6e57535721764c2e);
        

        marker_5d397dd279453f0953017afdd70418be.bindPopup(popup_c416b58f20e31440ccd13f58a1089ba4)
        ;

        
    
    
            marker_5d397dd279453f0953017afdd70418be.bindTooltip(
                `<div>
                     FIRST FLIGHT ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d0d6c812d2e5d42e78b793d5a1333771 = L.marker(
                [36.012579, -75.673787],
                {}
            ).addTo(map_999a0be4faea4bde814b27334aff618b);
        
    
            var icon_3469e86015bff32ccc8cdd80e633d99c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d0d6c812d2e5d42e78b793d5a1333771.setIcon(icon_3469e86015bff32ccc8cdd80e633d99c);
        
    
        var popup_6a453b4806fca4f9269777ca20c85887 = L.popup({"maxWidth": "100%"});

        
            var html_ad36489b8148a544b9cafb3cf05490e8 = $(`<div id="html_ad36489b8148a544b9cafb3cf05490e8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6a453b4806fca4f9269777ca20c85887.setContent(html_ad36489b8148a544b9cafb3cf05490e8);
        

        marker_d0d6c812d2e5d42e78b793d5a1333771.bindPopup(popup_6a453b4806fca4f9269777ca20c85887)
        ;

        
    
    
            marker_d0d6c812d2e5d42e78b793d5a1333771.bindTooltip(
                `<div>
                     HEALTHY ENVIRONMENTS CHILD DEVELOPMENT CENTER KDH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0e16c90932dcc2a7d80553b7684e6ab2 = L.marker(
                [35.99933755, -75.65491839397703],
                {}
            ).addTo(map_999a0be4faea4bde814b27334aff618b);
        
    
            var icon_2b2bdee369e5e7bbef18c47de47806f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_0e16c90932dcc2a7d80553b7684e6ab2.setIcon(icon_2b2bdee369e5e7bbef18c47de47806f8);
        
    
        var popup_2004315034f4d80752aea8bbeb5d40b3 = L.popup({"maxWidth": "100%"});

        
            var html_8125f75427a12df6168b9e7f6df9ec8a = $(`<div id="html_8125f75427a12df6168b9e7f6df9ec8a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_2004315034f4d80752aea8bbeb5d40b3.setContent(html_8125f75427a12df6168b9e7f6df9ec8a);
        

        marker_0e16c90932dcc2a7d80553b7684e6ab2.bindPopup(popup_2004315034f4d80752aea8bbeb5d40b3)
        ;

        
    
    
            marker_0e16c90932dcc2a7d80553b7684e6ab2.bindTooltip(
                `<div>
                     IMAGINE THAT FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>