<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_25d1efce7cf5c1edd6e96d984a579630 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_25d1efce7cf5c1edd6e96d984a579630" ></div>
        
</body>
<script>    
    
            var map_25d1efce7cf5c1edd6e96d984a579630 = L.map(
                "map_25d1efce7cf5c1edd6e96d984a579630",
                {
                    center: [36.2690356, -80.36351810546225],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_16bc8ff9b060d3b1b31c9e316142ced2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_25d1efce7cf5c1edd6e96d984a579630);
        
    
            var marker_3c2bd01ad8d9365d228adeb6920fe872 = L.marker(
                [36.2690356, -80.36351810546225],
                {}
            ).addTo(map_25d1efce7cf5c1edd6e96d984a579630);
        
    
            var icon_4a5da1a13b4c7c1f3206c1245fe08634 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3c2bd01ad8d9365d228adeb6920fe872.setIcon(icon_4a5da1a13b4c7c1f3206c1245fe08634);
        
    
        var popup_023ad3ca10a157950b5240416ade6c0f = L.popup({"maxWidth": "100%"});

        
            var html_c20878e73c206b963d6e477f4ac432e3 = $(`<div id="html_c20878e73c206b963d6e477f4ac432e3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_023ad3ca10a157950b5240416ade6c0f.setContent(html_c20878e73c206b963d6e477f4ac432e3);
        

        marker_3c2bd01ad8d9365d228adeb6920fe872.bindPopup(popup_023ad3ca10a157950b5240416ade6c0f)
        ;

        
    
    
            marker_3c2bd01ad8d9365d228adeb6920fe872.bindTooltip(
                `<div>
                     CALVARY CHRISTIAN CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_007607803823915b1b3d495bbe032536 = L.marker(
                [36.27808751988388, -80.35153367855898],
                {}
            ).addTo(map_25d1efce7cf5c1edd6e96d984a579630);
        
    
            var icon_ae5c2bd6547ea7839c559c1f6dd37289 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_007607803823915b1b3d495bbe032536.setIcon(icon_ae5c2bd6547ea7839c559c1f6dd37289);
        
    
        var popup_42d797c12a24e0265de9bb7dc515520c = L.popup({"maxWidth": "100%"});

        
            var html_4b7f558a94d2278c406a5c581653e2a9 = $(`<div id="html_4b7f558a94d2278c406a5c581653e2a9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_42d797c12a24e0265de9bb7dc515520c.setContent(html_4b7f558a94d2278c406a5c581653e2a9);
        

        marker_007607803823915b1b3d495bbe032536.bindPopup(popup_42d797c12a24e0265de9bb7dc515520c)
        ;

        
    
    
            marker_007607803823915b1b3d495bbe032536.bindTooltip(
                `<div>
                     FIRST BAPTIST CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c6f2dee889deceb44107fb310c41946a = L.marker(
                [36.31563646917934, -80.36138554307382],
                {}
            ).addTo(map_25d1efce7cf5c1edd6e96d984a579630);
        
    
            var icon_7e95d6b1443c790bab3a118fb553347f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c6f2dee889deceb44107fb310c41946a.setIcon(icon_7e95d6b1443c790bab3a118fb553347f);
        
    
        var popup_36de78b606dca77b56f042487d53a4b0 = L.popup({"maxWidth": "100%"});

        
            var html_15dfd2b24d7c21884b3e8520f242b68b = $(`<div id="html_15dfd2b24d7c21884b3e8520f242b68b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_36de78b606dca77b56f042487d53a4b0.setContent(html_15dfd2b24d7c21884b3e8520f242b68b);
        

        marker_c6f2dee889deceb44107fb310c41946a.bindPopup(popup_36de78b606dca77b56f042487d53a4b0)
        ;

        
    
    
            marker_c6f2dee889deceb44107fb310c41946a.bindTooltip(
                `<div>
                     KIDZ COMMUNITY CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_34d2301c1596a1561705d8460888e2b7 = L.marker(
                [36.26671, -80.350416],
                {}
            ).addTo(map_25d1efce7cf5c1edd6e96d984a579630);
        
    
            var icon_4b9d8c7c184d14f3e2f3c77b832a341e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_34d2301c1596a1561705d8460888e2b7.setIcon(icon_4b9d8c7c184d14f3e2f3c77b832a341e);
        
    
        var popup_949171a61519c4ac2997cb352cc3e3c8 = L.popup({"maxWidth": "100%"});

        
            var html_1819b4da4ee0ac8f9eeecb02e0a05aca = $(`<div id="html_1819b4da4ee0ac8f9eeecb02e0a05aca" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_949171a61519c4ac2997cb352cc3e3c8.setContent(html_1819b4da4ee0ac8f9eeecb02e0a05aca);
        

        marker_34d2301c1596a1561705d8460888e2b7.bindPopup(popup_949171a61519c4ac2997cb352cc3e3c8)
        ;

        
    
    
            marker_34d2301c1596a1561705d8460888e2b7.bindTooltip(
                `<div>
                     LITTLE BEARS DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ee96ae40523a976161092ee20f1b55a1 = L.marker(
                [36.2915751, -80.3265904],
                {}
            ).addTo(map_25d1efce7cf5c1edd6e96d984a579630);
        
    
            var icon_ee1a74d85375885e472dd331a67455ac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ee96ae40523a976161092ee20f1b55a1.setIcon(icon_ee1a74d85375885e472dd331a67455ac);
        
    
        var popup_31dc0656e5fe6890b55f5c9d3e7c116e = L.popup({"maxWidth": "100%"});

        
            var html_37e8c97736fc8d7733572e2751c3efb4 = $(`<div id="html_37e8c97736fc8d7733572e2751c3efb4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_31dc0656e5fe6890b55f5c9d3e7c116e.setContent(html_37e8c97736fc8d7733572e2751c3efb4);
        

        marker_ee96ae40523a976161092ee20f1b55a1.bindPopup(popup_31dc0656e5fe6890b55f5c9d3e7c116e)
        ;

        
    
    
            marker_ee96ae40523a976161092ee20f1b55a1.bindTooltip(
                `<div>
                     POPLAR SPRINGS ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>