<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5e42d1e9cd9108709e03092d099ced24 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5e42d1e9cd9108709e03092d099ced24" ></div>
        
</body>
<script>    
    
            var map_5e42d1e9cd9108709e03092d099ced24 = L.map(
                "map_5e42d1e9cd9108709e03092d099ced24",
                {
                    center: [35.248361700000004, -81.41428673297231],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c3e4ff5f3f39ff64c8d80f336532f23d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var marker_ec0b9b9d4ae514bf5d42fe4bb0f369b1 = L.marker(
                [35.248361700000004, -81.41428673297231],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_2ea8dca6c6bf9be037ff16518674abd8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ec0b9b9d4ae514bf5d42fe4bb0f369b1.setIcon(icon_2ea8dca6c6bf9be037ff16518674abd8);
        
    
        var popup_278d90001b35103fb808cebb39a63cc9 = L.popup({"maxWidth": "100%"});

        
            var html_2af13980bddfd7c37f2dfa847882b7f6 = $(`<div id="html_2af13980bddfd7c37f2dfa847882b7f6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_278d90001b35103fb808cebb39a63cc9.setContent(html_2af13980bddfd7c37f2dfa847882b7f6);
        

        marker_ec0b9b9d4ae514bf5d42fe4bb0f369b1.bindPopup(popup_278d90001b35103fb808cebb39a63cc9)
        ;

        
    
    
            marker_ec0b9b9d4ae514bf5d42fe4bb0f369b1.bindTooltip(
                `<div>
                     BETHWARE ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a1b9173f9bfdcc896c346d95fea9a62 = L.marker(
                [35.248361700000004, -81.41428673297231],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_738eaf9bdfd3460021f68e5112928f45 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4a1b9173f9bfdcc896c346d95fea9a62.setIcon(icon_738eaf9bdfd3460021f68e5112928f45);
        
    
        var popup_380198d0213a6cca908f6fdec672807b = L.popup({"maxWidth": "100%"});

        
            var html_44e0cb368e68a371aa628010c656b9af = $(`<div id="html_44e0cb368e68a371aa628010c656b9af" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_380198d0213a6cca908f6fdec672807b.setContent(html_44e0cb368e68a371aa628010c656b9af);
        

        marker_4a1b9173f9bfdcc896c346d95fea9a62.bindPopup(popup_380198d0213a6cca908f6fdec672807b)
        ;

        
    
    
            marker_4a1b9173f9bfdcc896c346d95fea9a62.bindTooltip(
                `<div>
                     BETHWARE ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_79769c4bfe1add6b3d8c94887613ecfa = L.marker(
                [35.254766731193264, -81.34115055680088],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_8941d9386b08b31287ce2ec4471aa70a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_79769c4bfe1add6b3d8c94887613ecfa.setIcon(icon_8941d9386b08b31287ce2ec4471aa70a);
        
    
        var popup_fee30541c1aba7930aa7e6be4aebe166 = L.popup({"maxWidth": "100%"});

        
            var html_3150e3093966176be19c5d3d28fd8fe3 = $(`<div id="html_3150e3093966176be19c5d3d28fd8fe3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fee30541c1aba7930aa7e6be4aebe166.setContent(html_3150e3093966176be19c5d3d28fd8fe3);
        

        marker_79769c4bfe1add6b3d8c94887613ecfa.bindPopup(popup_fee30541c1aba7930aa7e6be4aebe166)
        ;

        
    
    
            marker_79769c4bfe1add6b3d8c94887613ecfa.bindTooltip(
                `<div>
                     BOLIN DAY CARE, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_79a5a61da2f04548ac3dfcf385e9c4db = L.marker(
                [35.254766731193264, -81.34115055680088],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_24d43c53bf580fd9505265dc92b2b7a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_79a5a61da2f04548ac3dfcf385e9c4db.setIcon(icon_24d43c53bf580fd9505265dc92b2b7a9);
        
    
        var popup_08e3665acc9c4a6dc13fc3519bc398bb = L.popup({"maxWidth": "100%"});

        
            var html_1c4e5e799038d40156c2a4862de1edec = $(`<div id="html_1c4e5e799038d40156c2a4862de1edec" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_08e3665acc9c4a6dc13fc3519bc398bb.setContent(html_1c4e5e799038d40156c2a4862de1edec);
        

        marker_79a5a61da2f04548ac3dfcf385e9c4db.bindPopup(popup_08e3665acc9c4a6dc13fc3519bc398bb)
        ;

        
    
    
            marker_79a5a61da2f04548ac3dfcf385e9c4db.bindTooltip(
                `<div>
                     BOLIN DAY CARE, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c7dc9722821b2159c0d7a1e5ca558952 = L.marker(
                [35.213816566506495, -81.3267271625083],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_caccde62079e3e689cdf0fcfeee62ed4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_c7dc9722821b2159c0d7a1e5ca558952.setIcon(icon_caccde62079e3e689cdf0fcfeee62ed4);
        
    
        var popup_6bfb429e09a6d18b5a4ace0257b041ba = L.popup({"maxWidth": "100%"});

        
            var html_f65694ccfcbe6fe069a193a86045c8eb = $(`<div id="html_f65694ccfcbe6fe069a193a86045c8eb" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_6bfb429e09a6d18b5a4ace0257b041ba.setContent(html_f65694ccfcbe6fe069a193a86045c8eb);
        

        marker_c7dc9722821b2159c0d7a1e5ca558952.bindPopup(popup_6bfb429e09a6d18b5a4ace0257b041ba)
        ;

        
    
    
            marker_c7dc9722821b2159c0d7a1e5ca558952.bindTooltip(
                `<div>
                     CHILDREN FIRST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_958f35b0c11a488c3ad008a03317110d = L.marker(
                [35.213816566506495, -81.3267271625083],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_44cae67584bb19b29b02ac5d5c81f73f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_958f35b0c11a488c3ad008a03317110d.setIcon(icon_44cae67584bb19b29b02ac5d5c81f73f);
        
    
        var popup_50b8ce4c3962a94b87134a709dc96583 = L.popup({"maxWidth": "100%"});

        
            var html_d6e3207cf2e6b51a8668719d76cf7158 = $(`<div id="html_d6e3207cf2e6b51a8668719d76cf7158" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_50b8ce4c3962a94b87134a709dc96583.setContent(html_d6e3207cf2e6b51a8668719d76cf7158);
        

        marker_958f35b0c11a488c3ad008a03317110d.bindPopup(popup_50b8ce4c3962a94b87134a709dc96583)
        ;

        
    
    
            marker_958f35b0c11a488c3ad008a03317110d.bindTooltip(
                `<div>
                     CHILDREN FIRST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6cfb9e70b4ad168e65ad78d29b8d19f4 = L.marker(
                [35.2446943, -81.3300284],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_9319e7799e0a9a40fd620bae00735656 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6cfb9e70b4ad168e65ad78d29b8d19f4.setIcon(icon_9319e7799e0a9a40fd620bae00735656);
        
    
        var popup_3933899ed0fd0c3988612d956d3c9cc8 = L.popup({"maxWidth": "100%"});

        
            var html_5cb42666e29e74af4e9386e6ef15bfe7 = $(`<div id="html_5cb42666e29e74af4e9386e6ef15bfe7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3933899ed0fd0c3988612d956d3c9cc8.setContent(html_5cb42666e29e74af4e9386e6ef15bfe7);
        

        marker_6cfb9e70b4ad168e65ad78d29b8d19f4.bindPopup(popup_3933899ed0fd0c3988612d956d3c9cc8)
        ;

        
    
    
            marker_6cfb9e70b4ad168e65ad78d29b8d19f4.bindTooltip(
                `<div>
                     EAST ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_484869471096be0c3f9cd259aacb4df8 = L.marker(
                [35.2446943, -81.3300284],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_2ec310ff545bfdd90f7959a14f20e823 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_484869471096be0c3f9cd259aacb4df8.setIcon(icon_2ec310ff545bfdd90f7959a14f20e823);
        
    
        var popup_3af2e6de2b816010db552bee0737d611 = L.popup({"maxWidth": "100%"});

        
            var html_98db94664b8d373ce4bde160e2397743 = $(`<div id="html_98db94664b8d373ce4bde160e2397743" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3af2e6de2b816010db552bee0737d611.setContent(html_98db94664b8d373ce4bde160e2397743);
        

        marker_484869471096be0c3f9cd259aacb4df8.bindPopup(popup_3af2e6de2b816010db552bee0737d611)
        ;

        
    
    
            marker_484869471096be0c3f9cd259aacb4df8.bindTooltip(
                `<div>
                     EAST ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_324a1c1db6734aee314da82866b02b2d = L.marker(
                [35.24630830252315, -81.3320488311462],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_90babf6015d347627487366f4a1e595e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_324a1c1db6734aee314da82866b02b2d.setIcon(icon_90babf6015d347627487366f4a1e595e);
        
    
        var popup_65a0159a830e2d3d13e577beebd441a5 = L.popup({"maxWidth": "100%"});

        
            var html_b82c5b11ccc016a7fee6369125dfd91f = $(`<div id="html_b82c5b11ccc016a7fee6369125dfd91f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_65a0159a830e2d3d13e577beebd441a5.setContent(html_b82c5b11ccc016a7fee6369125dfd91f);
        

        marker_324a1c1db6734aee314da82866b02b2d.bindPopup(popup_65a0159a830e2d3d13e577beebd441a5)
        ;

        
    
    
            marker_324a1c1db6734aee314da82866b02b2d.bindTooltip(
                `<div>
                     GRACE CHRISTIAN ACADEMY OF KINGS MOUNTAIN, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e2db4acb2f7d723bb07187d612cb7500 = L.marker(
                [35.24630830252315, -81.3320488311462],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_69c8200bc1472f2e5b591dd382593704 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e2db4acb2f7d723bb07187d612cb7500.setIcon(icon_69c8200bc1472f2e5b591dd382593704);
        
    
        var popup_659062f030e0ef75571510dda5d4cb16 = L.popup({"maxWidth": "100%"});

        
            var html_9246437f86cd51dc5315268195d93e14 = $(`<div id="html_9246437f86cd51dc5315268195d93e14" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_659062f030e0ef75571510dda5d4cb16.setContent(html_9246437f86cd51dc5315268195d93e14);
        

        marker_e2db4acb2f7d723bb07187d612cb7500.bindPopup(popup_659062f030e0ef75571510dda5d4cb16)
        ;

        
    
    
            marker_e2db4acb2f7d723bb07187d612cb7500.bindTooltip(
                `<div>
                     GRACE CHRISTIAN ACADEMY OF KINGS MOUNTAIN, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b0ff94cf6d1edb2b8e49cb25873a29b0 = L.marker(
                [35.23874842857143, -81.33844095918367],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_ddfe4f3408857cfc5fae786e5beedc61 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b0ff94cf6d1edb2b8e49cb25873a29b0.setIcon(icon_ddfe4f3408857cfc5fae786e5beedc61);
        
    
        var popup_34e48df770c8ac06cdfc6e01d0e8da0f = L.popup({"maxWidth": "100%"});

        
            var html_11163583211bf351e7e7faee21c41bb5 = $(`<div id="html_11163583211bf351e7e7faee21c41bb5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_34e48df770c8ac06cdfc6e01d0e8da0f.setContent(html_11163583211bf351e7e7faee21c41bb5);
        

        marker_b0ff94cf6d1edb2b8e49cb25873a29b0.bindPopup(popup_34e48df770c8ac06cdfc6e01d0e8da0f)
        ;

        
    
    
            marker_b0ff94cf6d1edb2b8e49cb25873a29b0.bindTooltip(
                `<div>
                     HIGHER LEARNING CHILD CARE ACADEMY INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fff6546d1f3ba76207e756ebc26f899f = L.marker(
                [35.23874842857143, -81.33844095918367],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_d9f555499fc4fb4cdd18fb846dd33cf4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fff6546d1f3ba76207e756ebc26f899f.setIcon(icon_d9f555499fc4fb4cdd18fb846dd33cf4);
        
    
        var popup_7096bae6fe08c7c3e5a67de65d8d1b17 = L.popup({"maxWidth": "100%"});

        
            var html_2a9c1c62e8861a99def6e93db470a5b2 = $(`<div id="html_2a9c1c62e8861a99def6e93db470a5b2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7096bae6fe08c7c3e5a67de65d8d1b17.setContent(html_2a9c1c62e8861a99def6e93db470a5b2);
        

        marker_fff6546d1f3ba76207e756ebc26f899f.bindPopup(popup_7096bae6fe08c7c3e5a67de65d8d1b17)
        ;

        
    
    
            marker_fff6546d1f3ba76207e756ebc26f899f.bindTooltip(
                `<div>
                     HIGHER LEARNING CHILD CARE ACADEMY INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c2987a64974e1c4d69f2ca1087daf48e = L.marker(
                [35.24056748979592, -81.3570256734694],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_d1551d43c7314cde9df5c2d19991d33e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c2987a64974e1c4d69f2ca1087daf48e.setIcon(icon_d1551d43c7314cde9df5c2d19991d33e);
        
    
        var popup_afbb0719b0ca07aba72b460f32d8fed0 = L.popup({"maxWidth": "100%"});

        
            var html_a0ec01ba5e4783373bce204a3a25d843 = $(`<div id="html_a0ec01ba5e4783373bce204a3a25d843" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_afbb0719b0ca07aba72b460f32d8fed0.setContent(html_a0ec01ba5e4783373bce204a3a25d843);
        

        marker_c2987a64974e1c4d69f2ca1087daf48e.bindPopup(popup_afbb0719b0ca07aba72b460f32d8fed0)
        ;

        
    
    
            marker_c2987a64974e1c4d69f2ca1087daf48e.bindTooltip(
                `<div>
                     IT TAKES A VILLAGE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4870ea9a3e4a98eb57ff6da8d7d1792e = L.marker(
                [35.24056748979592, -81.3570256734694],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_ebab977f93cf5faf0303f16836ad7c5c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4870ea9a3e4a98eb57ff6da8d7d1792e.setIcon(icon_ebab977f93cf5faf0303f16836ad7c5c);
        
    
        var popup_824f91dd2707fd176b721c5d913e5f19 = L.popup({"maxWidth": "100%"});

        
            var html_13b7ebd1a835f1cfe2b7268105b92720 = $(`<div id="html_13b7ebd1a835f1cfe2b7268105b92720" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_824f91dd2707fd176b721c5d913e5f19.setContent(html_13b7ebd1a835f1cfe2b7268105b92720);
        

        marker_4870ea9a3e4a98eb57ff6da8d7d1792e.bindPopup(popup_824f91dd2707fd176b721c5d913e5f19)
        ;

        
    
    
            marker_4870ea9a3e4a98eb57ff6da8d7d1792e.bindTooltip(
                `<div>
                     IT TAKES A VILLAGE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_10945c7e0113ba5f8f4e2807846ea687 = L.marker(
                [35.25435504152217, -81.32196500674395],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_57b1689342acb1809d10b9768c6c891d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_10945c7e0113ba5f8f4e2807846ea687.setIcon(icon_57b1689342acb1809d10b9768c6c891d);
        
    
        var popup_584aaabec21ab02aa75a6731ebd730e9 = L.popup({"maxWidth": "100%"});

        
            var html_5d55a2608d3646499fca6f9d642a6023 = $(`<div id="html_5d55a2608d3646499fca6f9d642a6023" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_584aaabec21ab02aa75a6731ebd730e9.setContent(html_5d55a2608d3646499fca6f9d642a6023);
        

        marker_10945c7e0113ba5f8f4e2807846ea687.bindPopup(popup_584aaabec21ab02aa75a6731ebd730e9)
        ;

        
    
    
            marker_10945c7e0113ba5f8f4e2807846ea687.bindTooltip(
                `<div>
                     LYNN'S LIL' ANGELS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d97b7930ee1e60eaa18c4b75ae267fb = L.marker(
                [35.25435504152217, -81.32196500674395],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_f7e5f42402854d1430a53fb44c8acb52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_8d97b7930ee1e60eaa18c4b75ae267fb.setIcon(icon_f7e5f42402854d1430a53fb44c8acb52);
        
    
        var popup_eee022ee7d69830d20c281c6b5c01b6b = L.popup({"maxWidth": "100%"});

        
            var html_3dbb492d80515fd554b3a641b0ee21a7 = $(`<div id="html_3dbb492d80515fd554b3a641b0ee21a7" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_eee022ee7d69830d20c281c6b5c01b6b.setContent(html_3dbb492d80515fd554b3a641b0ee21a7);
        

        marker_8d97b7930ee1e60eaa18c4b75ae267fb.bindPopup(popup_eee022ee7d69830d20c281c6b5c01b6b)
        ;

        
    
    
            marker_8d97b7930ee1e60eaa18c4b75ae267fb.bindTooltip(
                `<div>
                     LYNN'S LIL' ANGELS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f32c24019532ec715c93196bce216446 = L.marker(
                [35.25434845540323, -81.31607944630326],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_8fd0e34cf603d432aa44c57da8aa91a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_f32c24019532ec715c93196bce216446.setIcon(icon_8fd0e34cf603d432aa44c57da8aa91a7);
        
    
        var popup_545c99d4d49a7b2a1f7b364aabf87f83 = L.popup({"maxWidth": "100%"});

        
            var html_0676ed848aa5cacce7f5d586fa96982c = $(`<div id="html_0676ed848aa5cacce7f5d586fa96982c" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_545c99d4d49a7b2a1f7b364aabf87f83.setContent(html_0676ed848aa5cacce7f5d586fa96982c);
        

        marker_f32c24019532ec715c93196bce216446.bindPopup(popup_545c99d4d49a7b2a1f7b364aabf87f83)
        ;

        
    
    
            marker_f32c24019532ec715c93196bce216446.bindTooltip(
                `<div>
                     MS. LORI'S HOME LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_304eadae9f6e92725dcbcdee68cfdb18 = L.marker(
                [35.25434845540323, -81.31607944630326],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_5a7e37ae4ac6e8085092dfbe5399a735 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_304eadae9f6e92725dcbcdee68cfdb18.setIcon(icon_5a7e37ae4ac6e8085092dfbe5399a735);
        
    
        var popup_1f29abf70baff2b82dde632bcf0e3cd3 = L.popup({"maxWidth": "100%"});

        
            var html_ce63bbe10f6c7debd351e7b7c54d335a = $(`<div id="html_ce63bbe10f6c7debd351e7b7c54d335a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_1f29abf70baff2b82dde632bcf0e3cd3.setContent(html_ce63bbe10f6c7debd351e7b7c54d335a);
        

        marker_304eadae9f6e92725dcbcdee68cfdb18.bindPopup(popup_1f29abf70baff2b82dde632bcf0e3cd3)
        ;

        
    
    
            marker_304eadae9f6e92725dcbcdee68cfdb18.bindTooltip(
                `<div>
                     MS. LORI'S HOME LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7572ecd50f1d04ad2de8c551c8ea9dbf = L.marker(
                [35.2401673, -81.35159993731135],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_41cacf86766025343c46135d60960662 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7572ecd50f1d04ad2de8c551c8ea9dbf.setIcon(icon_41cacf86766025343c46135d60960662);
        
    
        var popup_16b75328479dcaf224e5e01d80a4a26a = L.popup({"maxWidth": "100%"});

        
            var html_df97f200d6c5dda72b08692023763f1a = $(`<div id="html_df97f200d6c5dda72b08692023763f1a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_16b75328479dcaf224e5e01d80a4a26a.setContent(html_df97f200d6c5dda72b08692023763f1a);
        

        marker_7572ecd50f1d04ad2de8c551c8ea9dbf.bindPopup(popup_16b75328479dcaf224e5e01d80a4a26a)
        ;

        
    
    
            marker_7572ecd50f1d04ad2de8c551c8ea9dbf.bindTooltip(
                `<div>
                     WEST ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1a7adf97a2eb82d3dff4a6fed4c8ef24 = L.marker(
                [35.2401673, -81.35159993731135],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_c20bde6bacbae1b579dbbe9e9c3ba3fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1a7adf97a2eb82d3dff4a6fed4c8ef24.setIcon(icon_c20bde6bacbae1b579dbbe9e9c3ba3fc);
        
    
        var popup_303f43f23a5e223e7797c06e0e4f1c5a = L.popup({"maxWidth": "100%"});

        
            var html_c500dd94a20ce8a19693874df551fac6 = $(`<div id="html_c500dd94a20ce8a19693874df551fac6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_303f43f23a5e223e7797c06e0e4f1c5a.setContent(html_c500dd94a20ce8a19693874df551fac6);
        

        marker_1a7adf97a2eb82d3dff4a6fed4c8ef24.bindPopup(popup_303f43f23a5e223e7797c06e0e4f1c5a)
        ;

        
    
    
            marker_1a7adf97a2eb82d3dff4a6fed4c8ef24.bindTooltip(
                `<div>
                     WEST ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_785e6d7585bbfbcb712a1f7ba3246f23 = L.marker(
                [35.248361700000004, -81.41428673297231],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_e371b8094d1511ebf67592f8c0f1ea92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_785e6d7585bbfbcb712a1f7ba3246f23.setIcon(icon_e371b8094d1511ebf67592f8c0f1ea92);
        
    
        var popup_d6067b7141c224df584ac2c13461e22b = L.popup({"maxWidth": "100%"});

        
            var html_9579091c0de1f797104fdc964426552c = $(`<div id="html_9579091c0de1f797104fdc964426552c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d6067b7141c224df584ac2c13461e22b.setContent(html_9579091c0de1f797104fdc964426552c);
        

        marker_785e6d7585bbfbcb712a1f7ba3246f23.bindPopup(popup_d6067b7141c224df584ac2c13461e22b)
        ;

        
    
    
            marker_785e6d7585bbfbcb712a1f7ba3246f23.bindTooltip(
                `<div>
                     BETHWARE ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_63375a339a601128a969e8e6ec6d1799 = L.marker(
                [35.248361700000004, -81.41428673297231],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_d411d3c83d36c82bd2b2751b035226a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_63375a339a601128a969e8e6ec6d1799.setIcon(icon_d411d3c83d36c82bd2b2751b035226a3);
        
    
        var popup_8164952f790b1ba106eed62b716a2dd9 = L.popup({"maxWidth": "100%"});

        
            var html_2fa05ffb2e1616fb2b9e2dd5f14a8aed = $(`<div id="html_2fa05ffb2e1616fb2b9e2dd5f14a8aed" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8164952f790b1ba106eed62b716a2dd9.setContent(html_2fa05ffb2e1616fb2b9e2dd5f14a8aed);
        

        marker_63375a339a601128a969e8e6ec6d1799.bindPopup(popup_8164952f790b1ba106eed62b716a2dd9)
        ;

        
    
    
            marker_63375a339a601128a969e8e6ec6d1799.bindTooltip(
                `<div>
                     BETHWARE ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ff25db8cb0227e1c78a18d0ef74a9ec3 = L.marker(
                [35.254766731193264, -81.34115055680088],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_03277e19f9ce6bd9242e153a727ebdac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ff25db8cb0227e1c78a18d0ef74a9ec3.setIcon(icon_03277e19f9ce6bd9242e153a727ebdac);
        
    
        var popup_6cf87160fa127a9be5a29bbf1c6f2275 = L.popup({"maxWidth": "100%"});

        
            var html_6eb1b2ee0299bfda708e4f27aaa1b4cb = $(`<div id="html_6eb1b2ee0299bfda708e4f27aaa1b4cb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6cf87160fa127a9be5a29bbf1c6f2275.setContent(html_6eb1b2ee0299bfda708e4f27aaa1b4cb);
        

        marker_ff25db8cb0227e1c78a18d0ef74a9ec3.bindPopup(popup_6cf87160fa127a9be5a29bbf1c6f2275)
        ;

        
    
    
            marker_ff25db8cb0227e1c78a18d0ef74a9ec3.bindTooltip(
                `<div>
                     BOLIN DAY CARE, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9d911baf7320fc97c52ad5768eafd23b = L.marker(
                [35.254766731193264, -81.34115055680088],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_5d606a9534a04c50911b21f98f98d5a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9d911baf7320fc97c52ad5768eafd23b.setIcon(icon_5d606a9534a04c50911b21f98f98d5a9);
        
    
        var popup_985b3524983f8508a0b962f330d4d3f7 = L.popup({"maxWidth": "100%"});

        
            var html_5e09fa99e0cfa98ef9b3a50cb4b1d313 = $(`<div id="html_5e09fa99e0cfa98ef9b3a50cb4b1d313" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_985b3524983f8508a0b962f330d4d3f7.setContent(html_5e09fa99e0cfa98ef9b3a50cb4b1d313);
        

        marker_9d911baf7320fc97c52ad5768eafd23b.bindPopup(popup_985b3524983f8508a0b962f330d4d3f7)
        ;

        
    
    
            marker_9d911baf7320fc97c52ad5768eafd23b.bindTooltip(
                `<div>
                     BOLIN DAY CARE, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e7c2512e938a14856448b4d1a34936be = L.marker(
                [35.213816566506495, -81.3267271625083],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_3b85c35303f7981bb1395c5656a04cd3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_e7c2512e938a14856448b4d1a34936be.setIcon(icon_3b85c35303f7981bb1395c5656a04cd3);
        
    
        var popup_ac2f79ea6cdfc7f5f2b41773fc61e580 = L.popup({"maxWidth": "100%"});

        
            var html_57bd7f35c7f49e5f63f57e7f6cf8a229 = $(`<div id="html_57bd7f35c7f49e5f63f57e7f6cf8a229" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_ac2f79ea6cdfc7f5f2b41773fc61e580.setContent(html_57bd7f35c7f49e5f63f57e7f6cf8a229);
        

        marker_e7c2512e938a14856448b4d1a34936be.bindPopup(popup_ac2f79ea6cdfc7f5f2b41773fc61e580)
        ;

        
    
    
            marker_e7c2512e938a14856448b4d1a34936be.bindTooltip(
                `<div>
                     CHILDREN FIRST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e07f27845803bec880b60a4f12fe5921 = L.marker(
                [35.213816566506495, -81.3267271625083],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_4a9548db914eebf81811f6bcee7dabf1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_e07f27845803bec880b60a4f12fe5921.setIcon(icon_4a9548db914eebf81811f6bcee7dabf1);
        
    
        var popup_f488416dd3c309eb877c5c03b90a9f8e = L.popup({"maxWidth": "100%"});

        
            var html_794eff3d56adfd77314795c0d9d185e2 = $(`<div id="html_794eff3d56adfd77314795c0d9d185e2" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_f488416dd3c309eb877c5c03b90a9f8e.setContent(html_794eff3d56adfd77314795c0d9d185e2);
        

        marker_e07f27845803bec880b60a4f12fe5921.bindPopup(popup_f488416dd3c309eb877c5c03b90a9f8e)
        ;

        
    
    
            marker_e07f27845803bec880b60a4f12fe5921.bindTooltip(
                `<div>
                     CHILDREN FIRST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5094b9c9f260063a3c11617fffb1e361 = L.marker(
                [35.2446943, -81.3300284],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_3cbf52ef43cddf3db5ddfb89d7abb72d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5094b9c9f260063a3c11617fffb1e361.setIcon(icon_3cbf52ef43cddf3db5ddfb89d7abb72d);
        
    
        var popup_2463dee49eb32413297c5b1c4a4c7c3b = L.popup({"maxWidth": "100%"});

        
            var html_d42e6ba9ddda6e89408d0dffdfd1e012 = $(`<div id="html_d42e6ba9ddda6e89408d0dffdfd1e012" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2463dee49eb32413297c5b1c4a4c7c3b.setContent(html_d42e6ba9ddda6e89408d0dffdfd1e012);
        

        marker_5094b9c9f260063a3c11617fffb1e361.bindPopup(popup_2463dee49eb32413297c5b1c4a4c7c3b)
        ;

        
    
    
            marker_5094b9c9f260063a3c11617fffb1e361.bindTooltip(
                `<div>
                     EAST ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0892b3c3fdcf7777aa58e2573fa737ac = L.marker(
                [35.2446943, -81.3300284],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_ddc8a072682c0ba456b5a230a3e0038f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0892b3c3fdcf7777aa58e2573fa737ac.setIcon(icon_ddc8a072682c0ba456b5a230a3e0038f);
        
    
        var popup_8d6f921797880bcaab991627c3ffa1bf = L.popup({"maxWidth": "100%"});

        
            var html_3da32c7d187b9585f3385fa1e75d6969 = $(`<div id="html_3da32c7d187b9585f3385fa1e75d6969" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8d6f921797880bcaab991627c3ffa1bf.setContent(html_3da32c7d187b9585f3385fa1e75d6969);
        

        marker_0892b3c3fdcf7777aa58e2573fa737ac.bindPopup(popup_8d6f921797880bcaab991627c3ffa1bf)
        ;

        
    
    
            marker_0892b3c3fdcf7777aa58e2573fa737ac.bindTooltip(
                `<div>
                     EAST ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f941fa964095092cc857fd1e711e9446 = L.marker(
                [35.24630830252315, -81.3320488311462],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_bae29677d1ca57e76d1eb468e2af6657 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f941fa964095092cc857fd1e711e9446.setIcon(icon_bae29677d1ca57e76d1eb468e2af6657);
        
    
        var popup_06459d2c1ecbbcff375557593c35da4f = L.popup({"maxWidth": "100%"});

        
            var html_4f6f507b0da1d29205a560cf5143da45 = $(`<div id="html_4f6f507b0da1d29205a560cf5143da45" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_06459d2c1ecbbcff375557593c35da4f.setContent(html_4f6f507b0da1d29205a560cf5143da45);
        

        marker_f941fa964095092cc857fd1e711e9446.bindPopup(popup_06459d2c1ecbbcff375557593c35da4f)
        ;

        
    
    
            marker_f941fa964095092cc857fd1e711e9446.bindTooltip(
                `<div>
                     GRACE CHRISTIAN ACADEMY OF KINGS MOUNTAIN, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_64b995d6ede94b1e88a678cbdd85e33f = L.marker(
                [35.24630830252315, -81.3320488311462],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_77c4118f32f742c7e6d90c88c6c53019 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_64b995d6ede94b1e88a678cbdd85e33f.setIcon(icon_77c4118f32f742c7e6d90c88c6c53019);
        
    
        var popup_bc673af0a39aaf77ea8f75963bc082f7 = L.popup({"maxWidth": "100%"});

        
            var html_9872b9428369671d03642748c25975d3 = $(`<div id="html_9872b9428369671d03642748c25975d3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bc673af0a39aaf77ea8f75963bc082f7.setContent(html_9872b9428369671d03642748c25975d3);
        

        marker_64b995d6ede94b1e88a678cbdd85e33f.bindPopup(popup_bc673af0a39aaf77ea8f75963bc082f7)
        ;

        
    
    
            marker_64b995d6ede94b1e88a678cbdd85e33f.bindTooltip(
                `<div>
                     GRACE CHRISTIAN ACADEMY OF KINGS MOUNTAIN, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d9c0f3e9d289244666bc69e7001d9c93 = L.marker(
                [35.23874842857143, -81.33844095918367],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_7ea94885d3470c8df05025d1723f836f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d9c0f3e9d289244666bc69e7001d9c93.setIcon(icon_7ea94885d3470c8df05025d1723f836f);
        
    
        var popup_2f9aea02109f8c8aaff1c34f39c38595 = L.popup({"maxWidth": "100%"});

        
            var html_796b1c915bc616b5903caa643cc920f7 = $(`<div id="html_796b1c915bc616b5903caa643cc920f7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2f9aea02109f8c8aaff1c34f39c38595.setContent(html_796b1c915bc616b5903caa643cc920f7);
        

        marker_d9c0f3e9d289244666bc69e7001d9c93.bindPopup(popup_2f9aea02109f8c8aaff1c34f39c38595)
        ;

        
    
    
            marker_d9c0f3e9d289244666bc69e7001d9c93.bindTooltip(
                `<div>
                     HIGHER LEARNING CHILD CARE ACADEMY INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_526d311eca8f030feea70ac7063b060c = L.marker(
                [35.23874842857143, -81.33844095918367],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_5c3d29190f77ed063ef509f32770542e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_526d311eca8f030feea70ac7063b060c.setIcon(icon_5c3d29190f77ed063ef509f32770542e);
        
    
        var popup_fda1fa13f1e76d0716fe5b22c82cba27 = L.popup({"maxWidth": "100%"});

        
            var html_151f1727d0b8d2c66b79fde3e5ee10f3 = $(`<div id="html_151f1727d0b8d2c66b79fde3e5ee10f3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fda1fa13f1e76d0716fe5b22c82cba27.setContent(html_151f1727d0b8d2c66b79fde3e5ee10f3);
        

        marker_526d311eca8f030feea70ac7063b060c.bindPopup(popup_fda1fa13f1e76d0716fe5b22c82cba27)
        ;

        
    
    
            marker_526d311eca8f030feea70ac7063b060c.bindTooltip(
                `<div>
                     HIGHER LEARNING CHILD CARE ACADEMY INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_25eab82bc8edb876556a875a8d74f9da = L.marker(
                [35.24056748979592, -81.3570256734694],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_4563b70fe0a0bcacbd3e73449f4f3891 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_25eab82bc8edb876556a875a8d74f9da.setIcon(icon_4563b70fe0a0bcacbd3e73449f4f3891);
        
    
        var popup_5e10dd0bf134a9fb2aecb9301fadc913 = L.popup({"maxWidth": "100%"});

        
            var html_2c8302778284da5e44e03ef93d743315 = $(`<div id="html_2c8302778284da5e44e03ef93d743315" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5e10dd0bf134a9fb2aecb9301fadc913.setContent(html_2c8302778284da5e44e03ef93d743315);
        

        marker_25eab82bc8edb876556a875a8d74f9da.bindPopup(popup_5e10dd0bf134a9fb2aecb9301fadc913)
        ;

        
    
    
            marker_25eab82bc8edb876556a875a8d74f9da.bindTooltip(
                `<div>
                     IT TAKES A VILLAGE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cb978584e204766a433524c96a9c70c1 = L.marker(
                [35.24056748979592, -81.3570256734694],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_f38cf8d41ba7c98ea0f598d92ed6c84f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cb978584e204766a433524c96a9c70c1.setIcon(icon_f38cf8d41ba7c98ea0f598d92ed6c84f);
        
    
        var popup_4a8927f38f5ccf325a2c953a6cfdfb1b = L.popup({"maxWidth": "100%"});

        
            var html_8b4cfafb0f9103fb7494579bb4c1c953 = $(`<div id="html_8b4cfafb0f9103fb7494579bb4c1c953" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4a8927f38f5ccf325a2c953a6cfdfb1b.setContent(html_8b4cfafb0f9103fb7494579bb4c1c953);
        

        marker_cb978584e204766a433524c96a9c70c1.bindPopup(popup_4a8927f38f5ccf325a2c953a6cfdfb1b)
        ;

        
    
    
            marker_cb978584e204766a433524c96a9c70c1.bindTooltip(
                `<div>
                     IT TAKES A VILLAGE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e7f15d9237257771f424741cab819d51 = L.marker(
                [35.25435504152217, -81.32196500674395],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_a0353dbd8b8427cedc3330070eaa206b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_e7f15d9237257771f424741cab819d51.setIcon(icon_a0353dbd8b8427cedc3330070eaa206b);
        
    
        var popup_0cc09ac49019e757b798cffd7a50f365 = L.popup({"maxWidth": "100%"});

        
            var html_e3ebec99a8ac26e411695647d3fcc6e1 = $(`<div id="html_e3ebec99a8ac26e411695647d3fcc6e1" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_0cc09ac49019e757b798cffd7a50f365.setContent(html_e3ebec99a8ac26e411695647d3fcc6e1);
        

        marker_e7f15d9237257771f424741cab819d51.bindPopup(popup_0cc09ac49019e757b798cffd7a50f365)
        ;

        
    
    
            marker_e7f15d9237257771f424741cab819d51.bindTooltip(
                `<div>
                     LYNN'S LIL' ANGELS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a170353eee77136f0a4410ec189b3e8f = L.marker(
                [35.25435504152217, -81.32196500674395],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_9a9c279bb44e9dfb246dfac4a2cbed80 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_a170353eee77136f0a4410ec189b3e8f.setIcon(icon_9a9c279bb44e9dfb246dfac4a2cbed80);
        
    
        var popup_40c9a53042d5b39aef8e1e859d254e55 = L.popup({"maxWidth": "100%"});

        
            var html_7fdaf2cc14d95635c6a43d99e1c24f61 = $(`<div id="html_7fdaf2cc14d95635c6a43d99e1c24f61" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_40c9a53042d5b39aef8e1e859d254e55.setContent(html_7fdaf2cc14d95635c6a43d99e1c24f61);
        

        marker_a170353eee77136f0a4410ec189b3e8f.bindPopup(popup_40c9a53042d5b39aef8e1e859d254e55)
        ;

        
    
    
            marker_a170353eee77136f0a4410ec189b3e8f.bindTooltip(
                `<div>
                     LYNN'S LIL' ANGELS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b558f6b5b563ffc364d64e585452064 = L.marker(
                [35.25434845540323, -81.31607944630326],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_00b38e21ac7120a40ebb3e61989539ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_6b558f6b5b563ffc364d64e585452064.setIcon(icon_00b38e21ac7120a40ebb3e61989539ea);
        
    
        var popup_9eb87f1a3bbbe5353e429e5a99f6bccf = L.popup({"maxWidth": "100%"});

        
            var html_2d601a584c5b4a27467afa81433b79f7 = $(`<div id="html_2d601a584c5b4a27467afa81433b79f7" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_9eb87f1a3bbbe5353e429e5a99f6bccf.setContent(html_2d601a584c5b4a27467afa81433b79f7);
        

        marker_6b558f6b5b563ffc364d64e585452064.bindPopup(popup_9eb87f1a3bbbe5353e429e5a99f6bccf)
        ;

        
    
    
            marker_6b558f6b5b563ffc364d64e585452064.bindTooltip(
                `<div>
                     MS. LORI'S HOME LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1561d8476b19e80008548864ca5a5d74 = L.marker(
                [35.25434845540323, -81.31607944630326],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_c3ed8621d7f97431c8c89aa726efe8d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1561d8476b19e80008548864ca5a5d74.setIcon(icon_c3ed8621d7f97431c8c89aa726efe8d5);
        
    
        var popup_db927df218cc38a61494863229f5684d = L.popup({"maxWidth": "100%"});

        
            var html_98b9cdf2c2c70a5413be64485829f1dd = $(`<div id="html_98b9cdf2c2c70a5413be64485829f1dd" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_db927df218cc38a61494863229f5684d.setContent(html_98b9cdf2c2c70a5413be64485829f1dd);
        

        marker_1561d8476b19e80008548864ca5a5d74.bindPopup(popup_db927df218cc38a61494863229f5684d)
        ;

        
    
    
            marker_1561d8476b19e80008548864ca5a5d74.bindTooltip(
                `<div>
                     MS. LORI'S HOME LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2681b2b77ab540fdf208257d0dd46e94 = L.marker(
                [35.2401673, -81.35159993731135],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_e483549f3f5fb8c237efff70eac574e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2681b2b77ab540fdf208257d0dd46e94.setIcon(icon_e483549f3f5fb8c237efff70eac574e0);
        
    
        var popup_939f391941dda9ea7ca84e6040959998 = L.popup({"maxWidth": "100%"});

        
            var html_5391935d1536fbf3c29e229a6002717f = $(`<div id="html_5391935d1536fbf3c29e229a6002717f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_939f391941dda9ea7ca84e6040959998.setContent(html_5391935d1536fbf3c29e229a6002717f);
        

        marker_2681b2b77ab540fdf208257d0dd46e94.bindPopup(popup_939f391941dda9ea7ca84e6040959998)
        ;

        
    
    
            marker_2681b2b77ab540fdf208257d0dd46e94.bindTooltip(
                `<div>
                     WEST ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5695b30864a3d886ab90310f9bbea1b9 = L.marker(
                [35.2401673, -81.35159993731135],
                {}
            ).addTo(map_5e42d1e9cd9108709e03092d099ced24);
        
    
            var icon_95b44d6298939c7a5311ebd348b97c13 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5695b30864a3d886ab90310f9bbea1b9.setIcon(icon_95b44d6298939c7a5311ebd348b97c13);
        
    
        var popup_095477ba8a638efc7d3f1e38032f8c63 = L.popup({"maxWidth": "100%"});

        
            var html_35c19d0d1defeca1dfc22d433a5320cc = $(`<div id="html_35c19d0d1defeca1dfc22d433a5320cc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_095477ba8a638efc7d3f1e38032f8c63.setContent(html_35c19d0d1defeca1dfc22d433a5320cc);
        

        marker_5695b30864a3d886ab90310f9bbea1b9.bindPopup(popup_095477ba8a638efc7d3f1e38032f8c63)
        ;

        
    
    
            marker_5695b30864a3d886ab90310f9bbea1b9.bindTooltip(
                `<div>
                     WEST ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>