<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2644258431d8decdd3b7aac806089877 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2644258431d8decdd3b7aac806089877" ></div>
        
</body>
<script>    
    
            var map_2644258431d8decdd3b7aac806089877 = L.map(
                "map_2644258431d8decdd3b7aac806089877",
                {
                    center: [36.0636188, -75.69367791207767],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3017f723429150f8b8b88193989d9f09 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2644258431d8decdd3b7aac806089877);
        
    
            var marker_cdbf6a59a414cdcc091dd5a7ac40f87b = L.marker(
                [36.0636188, -75.69367791207767],
                {}
            ).addTo(map_2644258431d8decdd3b7aac806089877);
        
    
            var icon_8d53099b85673d3289bbcf8e12ac0b87 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cdbf6a59a414cdcc091dd5a7ac40f87b.setIcon(icon_8d53099b85673d3289bbcf8e12ac0b87);
        
    
        var popup_a1c0916c05dccd0c589af9014854c1ea = L.popup({"maxWidth": "100%"});

        
            var html_6cd2a3e42fb9f592f13604bb841340d2 = $(`<div id="html_6cd2a3e42fb9f592f13604bb841340d2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a1c0916c05dccd0c589af9014854c1ea.setContent(html_6cd2a3e42fb9f592f13604bb841340d2);
        

        marker_cdbf6a59a414cdcc091dd5a7ac40f87b.bindPopup(popup_a1c0916c05dccd0c589af9014854c1ea)
        ;

        
    
    
            marker_cdbf6a59a414cdcc091dd5a7ac40f87b.bindTooltip(
                `<div>
                     BEACON CHRISTIAN ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_049a688174e8a2dac6779e653bc955d1 = L.marker(
                [36.06409226265157, -75.70932435591222],
                {}
            ).addTo(map_2644258431d8decdd3b7aac806089877);
        
    
            var icon_8d10aa6b212ca317ad06bff9d56f589d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_049a688174e8a2dac6779e653bc955d1.setIcon(icon_8d10aa6b212ca317ad06bff9d56f589d);
        
    
        var popup_0e39b929e042f508688d69b2e2ae2afb = L.popup({"maxWidth": "100%"});

        
            var html_c3ce16afbcb513bc53643b75c34d119e = $(`<div id="html_c3ce16afbcb513bc53643b75c34d119e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0e39b929e042f508688d69b2e2ae2afb.setContent(html_c3ce16afbcb513bc53643b75c34d119e);
        

        marker_049a688174e8a2dac6779e653bc955d1.bindPopup(popup_0e39b929e042f508688d69b2e2ae2afb)
        ;

        
    
    
            marker_049a688174e8a2dac6779e653bc955d1.bindTooltip(
                `<div>
                     HERON POND MONTESSORI SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>