<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_da0066800311486a0182dd6a68bdbb50 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_da0066800311486a0182dd6a68bdbb50" ></div>
        
</body>
<script>    
    
            var map_da0066800311486a0182dd6a68bdbb50 = L.map(
                "map_da0066800311486a0182dd6a68bdbb50",
                {
                    center: [35.77906812597942, -78.49009713785621],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e62c4320f3e5a99f925c29682b57e545 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var marker_16565a4a939038bf49b2c1be69e80b59 = L.marker(
                [35.77906812597942, -78.49009713785621],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_45c7bf521f3ff0f7112ac02223df00b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_16565a4a939038bf49b2c1be69e80b59.setIcon(icon_45c7bf521f3ff0f7112ac02223df00b7);
        
    
        var popup_231c1543ea67745b19e8b710644f631d = L.popup({"maxWidth": "100%"});

        
            var html_ec7c8358cb12a40397dacdf5fae72d67 = $(`<div id="html_ec7c8358cb12a40397dacdf5fae72d67" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_231c1543ea67745b19e8b710644f631d.setContent(html_ec7c8358cb12a40397dacdf5fae72d67);
        

        marker_16565a4a939038bf49b2c1be69e80b59.bindPopup(popup_231c1543ea67745b19e8b710644f631d)
        ;

        
    
    
            marker_16565a4a939038bf49b2c1be69e80b59.bindTooltip(
                `<div>
                     CATHY LEE CHILD DEVELOPMENT CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f249676b6bb36c91ca1485a87b568a6a = L.marker(
                [35.807551, -78.480411],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_0fbd307d6a87c4c6166321cf40c58f12 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f249676b6bb36c91ca1485a87b568a6a.setIcon(icon_0fbd307d6a87c4c6166321cf40c58f12);
        
    
        var popup_babd6740276fc19617b4f1a0f465003c = L.popup({"maxWidth": "100%"});

        
            var html_6a27879862a1e27a1e573f99dbd71b12 = $(`<div id="html_6a27879862a1e27a1e573f99dbd71b12" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_babd6740276fc19617b4f1a0f465003c.setContent(html_6a27879862a1e27a1e573f99dbd71b12);
        

        marker_f249676b6bb36c91ca1485a87b568a6a.bindPopup(popup_babd6740276fc19617b4f1a0f465003c)
        ;

        
    
    
            marker_f249676b6bb36c91ca1485a87b568a6a.bindTooltip(
                `<div>
                     FORESTVILLE ROAD ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6cc766bd5b731a878dadee0279d1ea6f = L.marker(
                [35.810894408163264, -78.46421206122449],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_f4097f9cfb26e145f69d33e58a9d3796 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_6cc766bd5b731a878dadee0279d1ea6f.setIcon(icon_f4097f9cfb26e145f69d33e58a9d3796);
        
    
        var popup_1761f1df3b91f2c1ab1d9c8a8c03bb64 = L.popup({"maxWidth": "100%"});

        
            var html_7bf6b0abbf21c8c9e6aff952c3cb5c03 = $(`<div id="html_7bf6b0abbf21c8c9e6aff952c3cb5c03" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_1761f1df3b91f2c1ab1d9c8a8c03bb64.setContent(html_7bf6b0abbf21c8c9e6aff952c3cb5c03);
        

        marker_6cc766bd5b731a878dadee0279d1ea6f.bindPopup(popup_1761f1df3b91f2c1ab1d9c8a8c03bb64)
        ;

        
    
    
            marker_6cc766bd5b731a878dadee0279d1ea6f.bindTooltip(
                `<div>
                     GRACE AND MERCY CHRISTIAN ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8cc977e51bcb0655f5cb424801c1b996 = L.marker(
                [35.79355549013047, -78.48912],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_4075cac7806bdcfd19bbfbdd9629e020 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8cc977e51bcb0655f5cb424801c1b996.setIcon(icon_4075cac7806bdcfd19bbfbdd9629e020);
        
    
        var popup_d9a470888dee97ea4f58b44181e7930a = L.popup({"maxWidth": "100%"});

        
            var html_938db22532860a4fc13bc197f38acf80 = $(`<div id="html_938db22532860a4fc13bc197f38acf80" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d9a470888dee97ea4f58b44181e7930a.setContent(html_938db22532860a4fc13bc197f38acf80);
        

        marker_8cc977e51bcb0655f5cb424801c1b996.bindPopup(popup_d9a470888dee97ea4f58b44181e7930a)
        ;

        
    
    
            marker_8cc977e51bcb0655f5cb424801c1b996.bindTooltip(
                `<div>
                     GROW-N-LEARN CHILD CARE CENTER OF KNIGHTDALE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f30a1e66d64f0ad952e04c2a7cd5789e = L.marker(
                [35.775326412186715, -78.5224979832604],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_40d65a36559b3b033dd95a7b78018867 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f30a1e66d64f0ad952e04c2a7cd5789e.setIcon(icon_40d65a36559b3b033dd95a7b78018867);
        
    
        var popup_549e8ca65262e2b2d108a272e8896d55 = L.popup({"maxWidth": "100%"});

        
            var html_5ce211c315e01a2a873a56966a0df696 = $(`<div id="html_5ce211c315e01a2a873a56966a0df696" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_549e8ca65262e2b2d108a272e8896d55.setContent(html_5ce211c315e01a2a873a56966a0df696);
        

        marker_f30a1e66d64f0ad952e04c2a7cd5789e.bindPopup(popup_549e8ca65262e2b2d108a272e8896d55)
        ;

        
    
    
            marker_f30a1e66d64f0ad952e04c2a7cd5789e.bindTooltip(
                `<div>
                     HODGE ROAD ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fcaaf13f8634c037e550c2e456b88753 = L.marker(
                [35.80843513964691, -78.48239419651476],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_654864a561eb3d32b1ddf3b5207dbcd7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fcaaf13f8634c037e550c2e456b88753.setIcon(icon_654864a561eb3d32b1ddf3b5207dbcd7);
        
    
        var popup_47d4fcead7e9d382d47846c958cbf51b = L.popup({"maxWidth": "100%"});

        
            var html_10a20c6c620a8de4f2da8c67adc92a53 = $(`<div id="html_10a20c6c620a8de4f2da8c67adc92a53" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_47d4fcead7e9d382d47846c958cbf51b.setContent(html_10a20c6c620a8de4f2da8c67adc92a53);
        

        marker_fcaaf13f8634c037e550c2e456b88753.bindPopup(popup_47d4fcead7e9d382d47846c958cbf51b)
        ;

        
    
    
            marker_fcaaf13f8634c037e550c2e456b88753.bindTooltip(
                `<div>
                     KIDS EDUCATIONAL CENTER IV
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_20bb1641ff7c87cfd248ce2939f7c323 = L.marker(
                [35.77510287755102, -78.50280120408163],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_c4ad985b1b5d3b05cc6198ff187f0fdc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_20bb1641ff7c87cfd248ce2939f7c323.setIcon(icon_c4ad985b1b5d3b05cc6198ff187f0fdc);
        
    
        var popup_9653beb54155ac9f00a686cd40bf8706 = L.popup({"maxWidth": "100%"});

        
            var html_548fb484d49c421d01d7e27ffdfb0d6a = $(`<div id="html_548fb484d49c421d01d7e27ffdfb0d6a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9653beb54155ac9f00a686cd40bf8706.setContent(html_548fb484d49c421d01d7e27ffdfb0d6a);
        

        marker_20bb1641ff7c87cfd248ce2939f7c323.bindPopup(popup_9653beb54155ac9f00a686cd40bf8706)
        ;

        
    
    
            marker_20bb1641ff7c87cfd248ce2939f7c323.bindTooltip(
                `<div>
                     KIDS EDUCATIONAL CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8905da5e9fb141903c98b0c1558a74d5 = L.marker(
                [35.800422, -78.478047],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_41d7aa78cb721f1789c642249b4e6c07 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8905da5e9fb141903c98b0c1558a74d5.setIcon(icon_41d7aa78cb721f1789c642249b4e6c07);
        
    
        var popup_d0d5f3fe0e1d6011f48a46b945eb8504 = L.popup({"maxWidth": "100%"});

        
            var html_779f269de7d9d7739689a4c0505ea04c = $(`<div id="html_779f269de7d9d7739689a4c0505ea04c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d0d5f3fe0e1d6011f48a46b945eb8504.setContent(html_779f269de7d9d7739689a4c0505ea04c);
        

        marker_8905da5e9fb141903c98b0c1558a74d5.bindPopup(popup_d0d5f3fe0e1d6011f48a46b945eb8504)
        ;

        
    
    
            marker_8905da5e9fb141903c98b0c1558a74d5.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTERS LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44ef4c172309b011ae258341c2ba265f = L.marker(
                [35.7852917722489, -78.47868205045654],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_e0d5e8c1184cc9048c09f261956e918a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_44ef4c172309b011ae258341c2ba265f.setIcon(icon_e0d5e8c1184cc9048c09f261956e918a);
        
    
        var popup_ea925866a769d3d9aa0ddd09ba29afd2 = L.popup({"maxWidth": "100%"});

        
            var html_df695ab3bac2c7bb2f853f9c00195eac = $(`<div id="html_df695ab3bac2c7bb2f853f9c00195eac" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ea925866a769d3d9aa0ddd09ba29afd2.setContent(html_df695ab3bac2c7bb2f853f9c00195eac);
        

        marker_44ef4c172309b011ae258341c2ba265f.bindPopup(popup_ea925866a769d3d9aa0ddd09ba29afd2)
        ;

        
    
    
            marker_44ef4c172309b011ae258341c2ba265f.bindTooltip(
                `<div>
                     KNIGHTDALE ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_87e84d0f3dc8e36b4cc704a618af63d7 = L.marker(
                [35.8005176, -78.4687794],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_ece99ec2afdd91d8125114ba6cfbabb4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_87e84d0f3dc8e36b4cc704a618af63d7.setIcon(icon_ece99ec2afdd91d8125114ba6cfbabb4);
        
    
        var popup_f6199330c21e9e6528b39abe18ebb6ae = L.popup({"maxWidth": "100%"});

        
            var html_97a1e5127eb4acf917343bcd06e4c4ec = $(`<div id="html_97a1e5127eb4acf917343bcd06e4c4ec" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f6199330c21e9e6528b39abe18ebb6ae.setContent(html_97a1e5127eb4acf917343bcd06e4c4ec);
        

        marker_87e84d0f3dc8e36b4cc704a618af63d7.bindPopup(popup_f6199330c21e9e6528b39abe18ebb6ae)
        ;

        
    
    
            marker_87e84d0f3dc8e36b4cc704a618af63d7.bindTooltip(
                `<div>
                     KNIGHTDALE STATION PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_59b5ff1fb5adde1a9057f840bdd151ce = L.marker(
                [35.81238665575946, -78.46304515044156],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_63a9c4718102bf24ee41b22b3915c875 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_59b5ff1fb5adde1a9057f840bdd151ce.setIcon(icon_63a9c4718102bf24ee41b22b3915c875);
        
    
        var popup_5b5ca4015f2b1a5bbdb4f7f91f84db57 = L.popup({"maxWidth": "100%"});

        
            var html_40f6165364360af36adc18a1a45ca377 = $(`<div id="html_40f6165364360af36adc18a1a45ca377" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_5b5ca4015f2b1a5bbdb4f7f91f84db57.setContent(html_40f6165364360af36adc18a1a45ca377);
        

        marker_59b5ff1fb5adde1a9057f840bdd151ce.bindPopup(popup_5b5ca4015f2b1a5bbdb4f7f91f84db57)
        ;

        
    
    
            marker_59b5ff1fb5adde1a9057f840bdd151ce.bindTooltip(
                `<div>
                     TOUCH OF LOVE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cb8fcdcee9e4a263e94828610f7142b8 = L.marker(
                [35.7945666, -78.5119197],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_26cd9f91f2c2f5b09246d878a959c6d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cb8fcdcee9e4a263e94828610f7142b8.setIcon(icon_26cd9f91f2c2f5b09246d878a959c6d1);
        
    
        var popup_7f0dffb5dff019020403bbfc3c5c7447 = L.popup({"maxWidth": "100%"});

        
            var html_9362c4f1d378464161a9945976e7a1ba = $(`<div id="html_9362c4f1d378464161a9945976e7a1ba" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7f0dffb5dff019020403bbfc3c5c7447.setContent(html_9362c4f1d378464161a9945976e7a1ba);
        

        marker_cb8fcdcee9e4a263e94828610f7142b8.bindPopup(popup_7f0dffb5dff019020403bbfc3c5c7447)
        ;

        
    
    
            marker_cb8fcdcee9e4a263e94828610f7142b8.bindTooltip(
                `<div>
                     TOUCHED BY AN ANGEL OPEN ARMS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51b768e9cb0c854b2bc1876e210690e3 = L.marker(
                [35.7950182, -78.4998733],
                {}
            ).addTo(map_da0066800311486a0182dd6a68bdbb50);
        
    
            var icon_749401f7e3cdf98c785259f2291de19b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_51b768e9cb0c854b2bc1876e210690e3.setIcon(icon_749401f7e3cdf98c785259f2291de19b);
        
    
        var popup_28dc819bc5722ce71444fbcf541b497b = L.popup({"maxWidth": "100%"});

        
            var html_52d8aab1905c9bc4b71a38b6f8cbbcc8 = $(`<div id="html_52d8aab1905c9bc4b71a38b6f8cbbcc8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_28dc819bc5722ce71444fbcf541b497b.setContent(html_52d8aab1905c9bc4b71a38b6f8cbbcc8);
        

        marker_51b768e9cb0c854b2bc1876e210690e3.bindPopup(popup_28dc819bc5722ce71444fbcf541b497b)
        ;

        
    
    
            marker_51b768e9cb0c854b2bc1876e210690e3.bindTooltip(
                `<div>
                     WIDEWATERS LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>