<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_51f35c7fc8b85c9e571b002144bb786d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_51f35c7fc8b85c9e571b002144bb786d" ></div>
        
</body>
<script>    
    
            var map_51f35c7fc8b85c9e571b002144bb786d = L.map(
                "map_51f35c7fc8b85c9e571b002144bb786d",
                {
                    center: [35.308456, -77.796867],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_910dacd11db6c2f3a312db8fbcff9abe = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_51f35c7fc8b85c9e571b002144bb786d);
        
    
            var marker_f762b83b3a51a2fbd163047bbada3de4 = L.marker(
                [35.308456, -77.796867],
                {}
            ).addTo(map_51f35c7fc8b85c9e571b002144bb786d);
        
    
            var icon_369a70a0b5325f73b61e7c73e7f3e455 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f762b83b3a51a2fbd163047bbada3de4.setIcon(icon_369a70a0b5325f73b61e7c73e7f3e455);
        
    
        var popup_38289360ac71320e50d97911e800e120 = L.popup({"maxWidth": "100%"});

        
            var html_3cb223a4aceeaf32133ae4832dcb0283 = $(`<div id="html_3cb223a4aceeaf32133ae4832dcb0283" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_38289360ac71320e50d97911e800e120.setContent(html_3cb223a4aceeaf32133ae4832dcb0283);
        

        marker_f762b83b3a51a2fbd163047bbada3de4.bindPopup(popup_38289360ac71320e50d97911e800e120)
        ;

        
    
    
            marker_f762b83b3a51a2fbd163047bbada3de4.bindTooltip(
                `<div>
                     BEST ENRICHMENT CHILD DEVELOPMENT CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_813f7a41a7b6b396a81803b5e6ca8cb9 = L.marker(
                [35.3119577, -77.7962519],
                {}
            ).addTo(map_51f35c7fc8b85c9e571b002144bb786d);
        
    
            var icon_f486a2ae18ddf831ba9db11469eb9b02 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_813f7a41a7b6b396a81803b5e6ca8cb9.setIcon(icon_f486a2ae18ddf831ba9db11469eb9b02);
        
    
        var popup_34f9743af59f4f835bf7e68ae80fe4a2 = L.popup({"maxWidth": "100%"});

        
            var html_fa1af436d8c11839960e8f3421bda7bc = $(`<div id="html_fa1af436d8c11839960e8f3421bda7bc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_34f9743af59f4f835bf7e68ae80fe4a2.setContent(html_fa1af436d8c11839960e8f3421bda7bc);
        

        marker_813f7a41a7b6b396a81803b5e6ca8cb9.bindPopup(popup_34f9743af59f4f835bf7e68ae80fe4a2)
        ;

        
    
    
            marker_813f7a41a7b6b396a81803b5e6ca8cb9.bindTooltip(
                `<div>
                     COUNTRY KIDS, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dac3a98472faf3c46f626a1b665528da = L.marker(
                [35.30998900846071, -77.79514214371828],
                {}
            ).addTo(map_51f35c7fc8b85c9e571b002144bb786d);
        
    
            var icon_ff687de79a21fa98feca19eec36cf1e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dac3a98472faf3c46f626a1b665528da.setIcon(icon_ff687de79a21fa98feca19eec36cf1e2);
        
    
        var popup_915e98b1f79ff6bf3f1c6266e9b703bc = L.popup({"maxWidth": "100%"});

        
            var html_50aa8fd1e8eb80b9c47e1aea563d482f = $(`<div id="html_50aa8fd1e8eb80b9c47e1aea563d482f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_915e98b1f79ff6bf3f1c6266e9b703bc.setContent(html_50aa8fd1e8eb80b9c47e1aea563d482f);
        

        marker_dac3a98472faf3c46f626a1b665528da.bindPopup(popup_915e98b1f79ff6bf3f1c6266e9b703bc)
        ;

        
    
    
            marker_dac3a98472faf3c46f626a1b665528da.bindTooltip(
                `<div>
                     LAGRANGE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6cd84cecc66661e4da268c0081bc7bc9 = L.marker(
                [35.30998900846071, -77.79514214371828],
                {}
            ).addTo(map_51f35c7fc8b85c9e571b002144bb786d);
        
    
            var icon_8dfa5dc59320302d14dab87bad0ac496 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6cd84cecc66661e4da268c0081bc7bc9.setIcon(icon_8dfa5dc59320302d14dab87bad0ac496);
        
    
        var popup_bd13af04db6111d8750dc301c80cccd5 = L.popup({"maxWidth": "100%"});

        
            var html_de82ec598765cea9fcaa01cdbfdb0a8a = $(`<div id="html_de82ec598765cea9fcaa01cdbfdb0a8a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bd13af04db6111d8750dc301c80cccd5.setContent(html_de82ec598765cea9fcaa01cdbfdb0a8a);
        

        marker_6cd84cecc66661e4da268c0081bc7bc9.bindPopup(popup_bd13af04db6111d8750dc301c80cccd5)
        ;

        
    
    
            marker_6cd84cecc66661e4da268c0081bc7bc9.bindTooltip(
                `<div>
                     LAGRANGE HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>