<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5830ed6d91036d7032f26716194c761a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5830ed6d91036d7032f26716194c761a" ></div>
        
</body>
<script>    
    
            var map_5830ed6d91036d7032f26716194c761a = L.map(
                "map_5830ed6d91036d7032f26716194c761a",
                {
                    center: [35.87699, -81.537133],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_91d318ef815cc4d4556eece5be341098 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var marker_bce8210e1fa5d7e301cbf7a30c1756d5 = L.marker(
                [35.87699, -81.537133],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_19e14274b52c9c53550474bcde121881 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bce8210e1fa5d7e301cbf7a30c1756d5.setIcon(icon_19e14274b52c9c53550474bcde121881);
        
    
        var popup_2bdaec07d6c5f236a61e47947f71298a = L.popup({"maxWidth": "100%"});

        
            var html_d2ace8817b83445bd13139546fea157d = $(`<div id="html_d2ace8817b83445bd13139546fea157d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2bdaec07d6c5f236a61e47947f71298a.setContent(html_d2ace8817b83445bd13139546fea157d);
        

        marker_bce8210e1fa5d7e301cbf7a30c1756d5.bindPopup(popup_2bdaec07d6c5f236a61e47947f71298a)
        ;

        
    
    
            marker_bce8210e1fa5d7e301cbf7a30c1756d5.bindTooltip(
                `<div>
                     A WORLD OF DISCOVERY CDC/PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_928c6231cbb71e4f6a1ee05aec125324 = L.marker(
                [35.91175295, -81.53938837358871],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_fd6e7dd5c7943e98b9d1a4ed1f997f19 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_928c6231cbb71e4f6a1ee05aec125324.setIcon(icon_fd6e7dd5c7943e98b9d1a4ed1f997f19);
        
    
        var popup_651002ede3a921341e38620d0562c45f = L.popup({"maxWidth": "100%"});

        
            var html_fb5d06357f0aea36fa581d0ec99db54e = $(`<div id="html_fb5d06357f0aea36fa581d0ec99db54e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_651002ede3a921341e38620d0562c45f.setContent(html_fb5d06357f0aea36fa581d0ec99db54e);
        

        marker_928c6231cbb71e4f6a1ee05aec125324.bindPopup(popup_651002ede3a921341e38620d0562c45f)
        ;

        
    
    
            marker_928c6231cbb71e4f6a1ee05aec125324.bindTooltip(
                `<div>
                     DAVENPORT ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ee87becbe27adabb3861ad0a18b4edfe = L.marker(
                [35.91175295, -81.53938837358871],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_f17f8c92459b44e8eba2e02b9b8ae1f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ee87becbe27adabb3861ad0a18b4edfe.setIcon(icon_f17f8c92459b44e8eba2e02b9b8ae1f6);
        
    
        var popup_b49cfd45efb365237393fa09ea26cb31 = L.popup({"maxWidth": "100%"});

        
            var html_af25307cbc718bff455f6ba841566a74 = $(`<div id="html_af25307cbc718bff455f6ba841566a74" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b49cfd45efb365237393fa09ea26cb31.setContent(html_af25307cbc718bff455f6ba841566a74);
        

        marker_ee87becbe27adabb3861ad0a18b4edfe.bindPopup(popup_b49cfd45efb365237393fa09ea26cb31)
        ;

        
    
    
            marker_ee87becbe27adabb3861ad0a18b4edfe.bindTooltip(
                `<div>
                     DAVENPORT WRAPAROUND
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_012c29650d0dce70fdd1e0c65968095c = L.marker(
                [35.916003330304605, -81.54042191215596],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_ee8f40fa9cd77b00f5cc2a8c76ec9f2f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_012c29650d0dce70fdd1e0c65968095c.setIcon(icon_ee8f40fa9cd77b00f5cc2a8c76ec9f2f);
        
    
        var popup_b93d4264b04267b4608a201bf9698629 = L.popup({"maxWidth": "100%"});

        
            var html_e079ba089aa31bce2d314d49fd137a50 = $(`<div id="html_e079ba089aa31bce2d314d49fd137a50" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b93d4264b04267b4608a201bf9698629.setContent(html_e079ba089aa31bce2d314d49fd137a50);
        

        marker_012c29650d0dce70fdd1e0c65968095c.bindPopup(popup_b93d4264b04267b4608a201bf9698629)
        ;

        
    
    
            marker_012c29650d0dce70fdd1e0c65968095c.bindTooltip(
                `<div>
                     FIRST BAPTIST CHURCH OF LENOIR PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a3700e4fd1583a58c8468549a263f219 = L.marker(
                [35.261458, -77.571018],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_780b2efc2f157283ee24d4fa9f89ccb1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a3700e4fd1583a58c8468549a263f219.setIcon(icon_780b2efc2f157283ee24d4fa9f89ccb1);
        
    
        var popup_4b0a2fce36761c56e6552ad1fbf125af = L.popup({"maxWidth": "100%"});

        
            var html_d111f597dfe71bd1d7e982a30893e734 = $(`<div id="html_d111f597dfe71bd1d7e982a30893e734" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4b0a2fce36761c56e6552ad1fbf125af.setContent(html_d111f597dfe71bd1d7e982a30893e734);
        

        marker_a3700e4fd1583a58c8468549a263f219.bindPopup(popup_4b0a2fce36761c56e6552ad1fbf125af)
        ;

        
    
    
            marker_a3700e4fd1583a58c8468549a263f219.bindTooltip(
                `<div>
                     FOREVER YOUNG CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1fb950b85db94a4a55e2234317a515b2 = L.marker(
                [35.86889030142315, -81.59617408082248],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_3f0a5cf2bc791c48ee522bc8b548765f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1fb950b85db94a4a55e2234317a515b2.setIcon(icon_3f0a5cf2bc791c48ee522bc8b548765f);
        
    
        var popup_b62133ab78d3a7fb0be2ab757062e6ed = L.popup({"maxWidth": "100%"});

        
            var html_ec1e167df757d08582c3f48bea11a3d1 = $(`<div id="html_ec1e167df757d08582c3f48bea11a3d1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b62133ab78d3a7fb0be2ab757062e6ed.setContent(html_ec1e167df757d08582c3f48bea11a3d1);
        

        marker_1fb950b85db94a4a55e2234317a515b2.bindPopup(popup_b62133ab78d3a7fb0be2ab757062e6ed)
        ;

        
    
    
            marker_1fb950b85db94a4a55e2234317a515b2.bindTooltip(
                `<div>
                     GAMEWELL ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_270e8f2d76244cb3ba192c35f054076b = L.marker(
                [35.86889030142315, -81.59617408082248],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_a253852a5c19feef418a679ff1f3fcc0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_270e8f2d76244cb3ba192c35f054076b.setIcon(icon_a253852a5c19feef418a679ff1f3fcc0);
        
    
        var popup_d6b3d2b65d0fe959d6b0d5abf55e9368 = L.popup({"maxWidth": "100%"});

        
            var html_f85ec9d6ea3b9b858e2440f344416b11 = $(`<div id="html_f85ec9d6ea3b9b858e2440f344416b11" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d6b3d2b65d0fe959d6b0d5abf55e9368.setContent(html_f85ec9d6ea3b9b858e2440f344416b11);
        

        marker_270e8f2d76244cb3ba192c35f054076b.bindPopup(popup_d6b3d2b65d0fe959d6b0d5abf55e9368)
        ;

        
    
    
            marker_270e8f2d76244cb3ba192c35f054076b.bindTooltip(
                `<div>
                     GAMEWELL ELEMENTARY WRAPAROUND
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c12b22962dfb1e0b24a6b1304928f002 = L.marker(
                [35.88070422742412, -81.58900662167707],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_9766bdfd027024fe6e1c92be2af6090e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c12b22962dfb1e0b24a6b1304928f002.setIcon(icon_9766bdfd027024fe6e1c92be2af6090e);
        
    
        var popup_e9131a97fb8bc2345cf98a6fa9a7a9f5 = L.popup({"maxWidth": "100%"});

        
            var html_0080b752b475a3452575dfa84b2c0a8c = $(`<div id="html_0080b752b475a3452575dfa84b2c0a8c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e9131a97fb8bc2345cf98a6fa9a7a9f5.setContent(html_0080b752b475a3452575dfa84b2c0a8c);
        

        marker_c12b22962dfb1e0b24a6b1304928f002.bindPopup(popup_e9131a97fb8bc2345cf98a6fa9a7a9f5)
        ;

        
    
    
            marker_c12b22962dfb1e0b24a6b1304928f002.bindTooltip(
                `<div>
                     HAPPY HEART KIDS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_640bcd4b99e4c52766124c2f7a7a54e4 = L.marker(
                [35.99609083861951, -81.56056845033096],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_a916c0f9ec1a981dcc5c31fe546c0980 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_640bcd4b99e4c52766124c2f7a7a54e4.setIcon(icon_a916c0f9ec1a981dcc5c31fe546c0980);
        
    
        var popup_44f3372c1343d1b78c977f605a6da39e = L.popup({"maxWidth": "100%"});

        
            var html_897dc9a52fc75817c3183f15e735920b = $(`<div id="html_897dc9a52fc75817c3183f15e735920b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_44f3372c1343d1b78c977f605a6da39e.setContent(html_897dc9a52fc75817c3183f15e735920b);
        

        marker_640bcd4b99e4c52766124c2f7a7a54e4.bindPopup(popup_44f3372c1343d1b78c977f605a6da39e)
        ;

        
    
    
            marker_640bcd4b99e4c52766124c2f7a7a54e4.bindTooltip(
                `<div>
                     HAPPY VALLEY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1fa0778f136d587f72a7a5ef896bf64b = L.marker(
                [35.9140508, -81.5249198],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_a57a4b7e1e6dd56710c4a74bfdab746d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1fa0778f136d587f72a7a5ef896bf64b.setIcon(icon_a57a4b7e1e6dd56710c4a74bfdab746d);
        
    
        var popup_0ebb61af47542f2897aa603480d7bca4 = L.popup({"maxWidth": "100%"});

        
            var html_b2821c97f36081b0b3b01b578cf4b48b = $(`<div id="html_b2821c97f36081b0b3b01b578cf4b48b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0ebb61af47542f2897aa603480d7bca4.setContent(html_b2821c97f36081b0b3b01b578cf4b48b);
        

        marker_1fa0778f136d587f72a7a5ef896bf64b.bindPopup(popup_0ebb61af47542f2897aa603480d7bca4)
        ;

        
    
    
            marker_1fa0778f136d587f72a7a5ef896bf64b.bindTooltip(
                `<div>
                     KINGS CREEK PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f63fba24eb2f55b56a8c9f8007c5c04f = L.marker(
                [35.876767241067526, -81.53806347309924],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_520f47634024d9e69307d7617a0ef039 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f63fba24eb2f55b56a8c9f8007c5c04f.setIcon(icon_520f47634024d9e69307d7617a0ef039);
        
    
        var popup_7f49dc2f42a8975c0797a9b16ba76459 = L.popup({"maxWidth": "100%"});

        
            var html_436deab219902485b18e9ab8a8e62e32 = $(`<div id="html_436deab219902485b18e9ab8a8e62e32" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7f49dc2f42a8975c0797a9b16ba76459.setContent(html_436deab219902485b18e9ab8a8e62e32);
        

        marker_f63fba24eb2f55b56a8c9f8007c5c04f.bindPopup(popup_7f49dc2f42a8975c0797a9b16ba76459)
        ;

        
    
    
            marker_f63fba24eb2f55b56a8c9f8007c5c04f.bindTooltip(
                `<div>
                     LACEY'S PLACE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_35a257e0739b9b19f4131d38721a808e = L.marker(
                [35.927429648425466, -81.50482745185543],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_73f2b0211150756d179408a928cf69d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_35a257e0739b9b19f4131d38721a808e.setIcon(icon_73f2b0211150756d179408a928cf69d3);
        
    
        var popup_3e29ae4b4f5fa480eaecf1c8c8de4bce = L.popup({"maxWidth": "100%"});

        
            var html_02aabb83456d4daacad42765b4ac82c0 = $(`<div id="html_02aabb83456d4daacad42765b4ac82c0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3e29ae4b4f5fa480eaecf1c8c8de4bce.setContent(html_02aabb83456d4daacad42765b4ac82c0);
        

        marker_35a257e0739b9b19f4131d38721a808e.bindPopup(popup_3e29ae4b4f5fa480eaecf1c8c8de4bce)
        ;

        
    
    
            marker_35a257e0739b9b19f4131d38721a808e.bindTooltip(
                `<div>
                     LENOIR CHRISTIAN ACADEMY CHURCH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d2a4adf6be59a1b2a9b264df909dcc69 = L.marker(
                [35.92248025, -81.51163190857301],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_a81a8929b5afac93e0767134393a8242 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d2a4adf6be59a1b2a9b264df909dcc69.setIcon(icon_a81a8929b5afac93e0767134393a8242);
        
    
        var popup_ca276583c620b08d3528ea31da5d2165 = L.popup({"maxWidth": "100%"});

        
            var html_f51205eeab75ec0501560d1c3bca9696 = $(`<div id="html_f51205eeab75ec0501560d1c3bca9696" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ca276583c620b08d3528ea31da5d2165.setContent(html_f51205eeab75ec0501560d1c3bca9696);
        

        marker_d2a4adf6be59a1b2a9b264df909dcc69.bindPopup(popup_ca276583c620b08d3528ea31da5d2165)
        ;

        
    
    
            marker_d2a4adf6be59a1b2a9b264df909dcc69.bindTooltip(
                `<div>
                     LOWER CREEK WRAP AROUND
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a1be9f65088b621cf8347e76f7bba13b = L.marker(
                [35.91812171428571, -81.53135228571429],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_c8ecf4ceeb1244b73cdd75943e3b7977 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_a1be9f65088b621cf8347e76f7bba13b.setIcon(icon_c8ecf4ceeb1244b73cdd75943e3b7977);
        
    
        var popup_539c1353b5e02893f9e404610d972db3 = L.popup({"maxWidth": "100%"});

        
            var html_7e9e6b659d5dd8719f25c9fc027708e3 = $(`<div id="html_7e9e6b659d5dd8719f25c9fc027708e3" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_539c1353b5e02893f9e404610d972db3.setContent(html_7e9e6b659d5dd8719f25c9fc027708e3);
        

        marker_a1be9f65088b621cf8347e76f7bba13b.bindPopup(popup_539c1353b5e02893f9e404610d972db3)
        ;

        
    
    
            marker_a1be9f65088b621cf8347e76f7bba13b.bindTooltip(
                `<div>
                     NORMA'S CHRISTIAN DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bb45f20219e793a938cb01d0434fd8dc = L.marker(
                [35.93661282926829, -81.53650726829268],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_fc9b08c4115783b8d2ca8838901aecf8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bb45f20219e793a938cb01d0434fd8dc.setIcon(icon_fc9b08c4115783b8d2ca8838901aecf8);
        
    
        var popup_8a5cb40157ca5dd5133b2fdf9a5d8bc0 = L.popup({"maxWidth": "100%"});

        
            var html_8223646dfcc062e61e757a550ea40ced = $(`<div id="html_8223646dfcc062e61e757a550ea40ced" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8a5cb40157ca5dd5133b2fdf9a5d8bc0.setContent(html_8223646dfcc062e61e757a550ea40ced);
        

        marker_bb45f20219e793a938cb01d0434fd8dc.bindPopup(popup_8a5cb40157ca5dd5133b2fdf9a5d8bc0)
        ;

        
    
    
            marker_bb45f20219e793a938cb01d0434fd8dc.bindTooltip(
                `<div>
                     NORTHSIDE CHILDREN'S LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c0560e4d1adcf52caf6e8553052082f9 = L.marker(
                [35.885029730224744, -81.61105881744382],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_9fcfcc5c5b1be10e2cc99a9b9012b8e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c0560e4d1adcf52caf6e8553052082f9.setIcon(icon_9fcfcc5c5b1be10e2cc99a9b9012b8e1);
        
    
        var popup_5361367a1a9ffee14dbb615d7bd83276 = L.popup({"maxWidth": "100%"});

        
            var html_c58098b53e1896d60cc72f4fa95d1527 = $(`<div id="html_c58098b53e1896d60cc72f4fa95d1527" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5361367a1a9ffee14dbb615d7bd83276.setContent(html_c58098b53e1896d60cc72f4fa95d1527);
        

        marker_c0560e4d1adcf52caf6e8553052082f9.bindPopup(popup_5361367a1a9ffee14dbb615d7bd83276)
        ;

        
    
    
            marker_c0560e4d1adcf52caf6e8553052082f9.bindTooltip(
                `<div>
                     PAT PAT'S PLAYSCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4bb82bd9bdfed29ab855ff1ea954d3f7 = L.marker(
                [35.891119, -81.525339],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_1bb0af5e0f67fb65bb756d52913256a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4bb82bd9bdfed29ab855ff1ea954d3f7.setIcon(icon_1bb0af5e0f67fb65bb756d52913256a6);
        
    
        var popup_da80cd72bde5c987f7cf832d0298b5d0 = L.popup({"maxWidth": "100%"});

        
            var html_d55f5d5bea01edd170b6e0f956f227ad = $(`<div id="html_d55f5d5bea01edd170b6e0f956f227ad" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_da80cd72bde5c987f7cf832d0298b5d0.setContent(html_d55f5d5bea01edd170b6e0f956f227ad);
        

        marker_4bb82bd9bdfed29ab855ff1ea954d3f7.bindPopup(popup_da80cd72bde5c987f7cf832d0298b5d0)
        ;

        
    
    
            marker_4bb82bd9bdfed29ab855ff1ea954d3f7.bindTooltip(
                `<div>
                     PRIME TIME YOUTH FOCUS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b6c002b69bea99766e47d20d408746c = L.marker(
                [35.88963602783498, -81.52296574725692],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_a76bdcf078865702cd274726d9f5c63e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6b6c002b69bea99766e47d20d408746c.setIcon(icon_a76bdcf078865702cd274726d9f5c63e);
        
    
        var popup_19662fdb4b3805760847e7420779cf47 = L.popup({"maxWidth": "100%"});

        
            var html_3cb21c46abef147e52d76b157e17aa55 = $(`<div id="html_3cb21c46abef147e52d76b157e17aa55" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_19662fdb4b3805760847e7420779cf47.setContent(html_3cb21c46abef147e52d76b157e17aa55);
        

        marker_6b6c002b69bea99766e47d20d408746c.bindPopup(popup_19662fdb4b3805760847e7420779cf47)
        ;

        
    
    
            marker_6b6c002b69bea99766e47d20d408746c.bindTooltip(
                `<div>
                     WHITNEL PRE-K / EVEN START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bb53955bb5a698bdf809f1c2056f5bf6 = L.marker(
                [35.88963602783498, -81.52296574725692],
                {}
            ).addTo(map_5830ed6d91036d7032f26716194c761a);
        
    
            var icon_20037099901117ecefa7f770292e8eb2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bb53955bb5a698bdf809f1c2056f5bf6.setIcon(icon_20037099901117ecefa7f770292e8eb2);
        
    
        var popup_5860a93afce0e517e73f69b5ad230b68 = L.popup({"maxWidth": "100%"});

        
            var html_3545352a4b503006163e4058d961da7e = $(`<div id="html_3545352a4b503006163e4058d961da7e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5860a93afce0e517e73f69b5ad230b68.setContent(html_3545352a4b503006163e4058d961da7e);
        

        marker_bb53955bb5a698bdf809f1c2056f5bf6.bindPopup(popup_5860a93afce0e517e73f69b5ad230b68)
        ;

        
    
    
            marker_bb53955bb5a698bdf809f1c2056f5bf6.bindTooltip(
                `<div>
                     WHITNEL WRAPAROUND
                 </div>`,
                {"sticky": true}
            );
        
</script>