<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1168e6802af43c8861379bcf555f1a2b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1168e6802af43c8861379bcf555f1a2b" ></div>
        
</body>
<script>    
    
            var map_1168e6802af43c8861379bcf555f1a2b = L.map(
                "map_1168e6802af43c8861379bcf555f1a2b",
                {
                    center: [35.8104292, -80.26920649975409],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dbc8d302ed3ca4dbfbed5f481237ef7a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var marker_c09b98cb1988b7e6ac28277f3b4d04b5 = L.marker(
                [35.8104292, -80.26920649975409],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_28d2478a8adb99e0a55cf297bcb8d3be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c09b98cb1988b7e6ac28277f3b4d04b5.setIcon(icon_28d2478a8adb99e0a55cf297bcb8d3be);
        
    
        var popup_c6179eab50848009f0ecac1bc75df433 = L.popup({"maxWidth": "100%"});

        
            var html_59dd6b7f8b20c50c76a87931c32769fb = $(`<div id="html_59dd6b7f8b20c50c76a87931c32769fb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c6179eab50848009f0ecac1bc75df433.setContent(html_59dd6b7f8b20c50c76a87931c32769fb);
        

        marker_c09b98cb1988b7e6ac28277f3b4d04b5.bindPopup(popup_c6179eab50848009f0ecac1bc75df433)
        ;

        
    
    
            marker_c09b98cb1988b7e6ac28277f3b4d04b5.bindTooltip(
                `<div>
                     COGGINS MEMORIAL BAPTIST CHURCH CHILD DEV. CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_26c19e942c2002bd8e061e94c53c9fb8 = L.marker(
                [35.80445056614914, -80.26301920874482],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_43653d9e9667668992aa045197d38569 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_26c19e942c2002bd8e061e94c53c9fb8.setIcon(icon_43653d9e9667668992aa045197d38569);
        
    
        var popup_d74f2890d499c40c7ec7c99fd85071dd = L.popup({"maxWidth": "100%"});

        
            var html_a805a560c3bc6b025c00dd26576a94fb = $(`<div id="html_a805a560c3bc6b025c00dd26576a94fb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d74f2890d499c40c7ec7c99fd85071dd.setContent(html_a805a560c3bc6b025c00dd26576a94fb);
        

        marker_26c19e942c2002bd8e061e94c53c9fb8.bindPopup(popup_d74f2890d499c40c7ec7c99fd85071dd)
        ;

        
    
    
            marker_26c19e942c2002bd8e061e94c53c9fb8.bindTooltip(
                `<div>
                     COTTON GROVE HEAD START CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4fc80bade306d921af7dea2d07a59b61 = L.marker(
                [35.8267316, -80.2739345],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_c901aceffad45ae637ac80521923a659 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4fc80bade306d921af7dea2d07a59b61.setIcon(icon_c901aceffad45ae637ac80521923a659);
        
    
        var popup_01a74e963b69defd9c82a598a4dddb98 = L.popup({"maxWidth": "100%"});

        
            var html_eb946688fe933768b229d7c28142a710 = $(`<div id="html_eb946688fe933768b229d7c28142a710" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_01a74e963b69defd9c82a598a4dddb98.setContent(html_eb946688fe933768b229d7c28142a710);
        

        marker_4fc80bade306d921af7dea2d07a59b61.bindPopup(popup_01a74e963b69defd9c82a598a4dddb98)
        ;

        
    
    
            marker_4fc80bade306d921af7dea2d07a59b61.bindTooltip(
                `<div>
                     CRADLES 2 CRAYONS DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f7ae30f367df7bdf2959e0640b1d2670 = L.marker(
                [35.800736305552746, -80.26067529772544],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_3b6d3f0080f5de1d700fa7b137417c9a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f7ae30f367df7bdf2959e0640b1d2670.setIcon(icon_3b6d3f0080f5de1d700fa7b137417c9a);
        
    
        var popup_56195635ef773b859027946b3a89ddd1 = L.popup({"maxWidth": "100%"});

        
            var html_39920e0e032c64378297cd7cad6794e3 = $(`<div id="html_39920e0e032c64378297cd7cad6794e3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_56195635ef773b859027946b3a89ddd1.setContent(html_39920e0e032c64378297cd7cad6794e3);
        

        marker_f7ae30f367df7bdf2959e0640b1d2670.bindPopup(popup_56195635ef773b859027946b3a89ddd1)
        ;

        
    
    
            marker_f7ae30f367df7bdf2959e0640b1d2670.bindTooltip(
                `<div>
                     FIRST BAPTIST CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_00c4eb15503d8e0f7c1683a6c0bbd805 = L.marker(
                [35.81187381829842, -80.24860052557183],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_c697a0724580207fa9b16d3156e76752 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_00c4eb15503d8e0f7c1683a6c0bbd805.setIcon(icon_c697a0724580207fa9b16d3156e76752);
        
    
        var popup_81343375145751f614b3fc6c0a69dbad = L.popup({"maxWidth": "100%"});

        
            var html_6b8ed3b12f9f7e6d5fbdf3c7d67c812f = $(`<div id="html_6b8ed3b12f9f7e6d5fbdf3c7d67c812f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_81343375145751f614b3fc6c0a69dbad.setContent(html_6b8ed3b12f9f7e6d5fbdf3c7d67c812f);
        

        marker_00c4eb15503d8e0f7c1683a6c0bbd805.bindPopup(popup_81343375145751f614b3fc6c0a69dbad)
        ;

        
    
    
            marker_00c4eb15503d8e0f7c1683a6c0bbd805.bindTooltip(
                `<div>
                     LITTLE BO PEEP DAYCARE, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43263350e214276b05d7bfdb86012766 = L.marker(
                [35.82686616424862, -80.2521420874507],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_bcf69cafffba39105a767fb0595f97d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_43263350e214276b05d7bfdb86012766.setIcon(icon_bcf69cafffba39105a767fb0595f97d8);
        
    
        var popup_abcd30c191112edae82c5cb1e660dd51 = L.popup({"maxWidth": "100%"});

        
            var html_b795f5a56c431eaceded373713d14b9d = $(`<div id="html_b795f5a56c431eaceded373713d14b9d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_abcd30c191112edae82c5cb1e660dd51.setContent(html_b795f5a56c431eaceded373713d14b9d);
        

        marker_43263350e214276b05d7bfdb86012766.bindPopup(popup_abcd30c191112edae82c5cb1e660dd51)
        ;

        
    
    
            marker_43263350e214276b05d7bfdb86012766.bindTooltip(
                `<div>
                     LOVE'S CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2538573bfa1116e228c7acf475139276 = L.marker(
                [35.823724, -80.257945],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_b8148242ff4b03f14228a408d8dd0971 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2538573bfa1116e228c7acf475139276.setIcon(icon_b8148242ff4b03f14228a408d8dd0971);
        
    
        var popup_2d03e48ace6679e6ed36a5bbcf10f427 = L.popup({"maxWidth": "100%"});

        
            var html_d3818b0e1c348bdca6d121260a54906b = $(`<div id="html_d3818b0e1c348bdca6d121260a54906b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2d03e48ace6679e6ed36a5bbcf10f427.setContent(html_d3818b0e1c348bdca6d121260a54906b);
        

        marker_2538573bfa1116e228c7acf475139276.bindPopup(popup_2d03e48ace6679e6ed36a5bbcf10f427)
        ;

        
    
    
            marker_2538573bfa1116e228c7acf475139276.bindTooltip(
                `<div>
                     MARTHA BEST CHILDREN'S CENTER OF FIRST BAPTIST CHU
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ed182c9a6954a6fdd0a76e16451a62c6 = L.marker(
                [35.81179697996095, -80.26181311045312],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_202d1d65d48b73342122e2432b18ea19 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ed182c9a6954a6fdd0a76e16451a62c6.setIcon(icon_202d1d65d48b73342122e2432b18ea19);
        
    
        var popup_fb2c2ea0e6006f311bc2757cd6442de7 = L.popup({"maxWidth": "100%"});

        
            var html_e4a2cb58203cb7ddef95455028ead3b2 = $(`<div id="html_e4a2cb58203cb7ddef95455028ead3b2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fb2c2ea0e6006f311bc2757cd6442de7.setContent(html_e4a2cb58203cb7ddef95455028ead3b2);
        

        marker_ed182c9a6954a6fdd0a76e16451a62c6.bindPopup(popup_fb2c2ea0e6006f311bc2757cd6442de7)
        ;

        
    
    
            marker_ed182c9a6954a6fdd0a76e16451a62c6.bindTooltip(
                `<div>
                     SHEETS MEMORIAL PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ab6e999d23f2d364ac272d62ca8e8a17 = L.marker(
                [35.797673, -80.262379],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_2b00c34ee692d1c6b7f548f8aa18d11c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ab6e999d23f2d364ac272d62ca8e8a17.setIcon(icon_2b00c34ee692d1c6b7f548f8aa18d11c);
        
    
        var popup_e542f8df0d1cc244dade286836b38720 = L.popup({"maxWidth": "100%"});

        
            var html_2e076dd0d4799a4bb6a5798b194534b0 = $(`<div id="html_2e076dd0d4799a4bb6a5798b194534b0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e542f8df0d1cc244dade286836b38720.setContent(html_2e076dd0d4799a4bb6a5798b194534b0);
        

        marker_ab6e999d23f2d364ac272d62ca8e8a17.bindPopup(popup_e542f8df0d1cc244dade286836b38720)
        ;

        
    
    
            marker_ab6e999d23f2d364ac272d62ca8e8a17.bindTooltip(
                `<div>
                     SOUTH LEXINGTON DEVELOPMENTAL CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2ad45ce67df72929c7d6a0538d29939c = L.marker(
                [35.797673, -80.262379],
                {}
            ).addTo(map_1168e6802af43c8861379bcf555f1a2b);
        
    
            var icon_aa7d800bce517debb966966e459e9e04 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2ad45ce67df72929c7d6a0538d29939c.setIcon(icon_aa7d800bce517debb966966e459e9e04);
        
    
        var popup_1144aa7465e6c4741e9c435bcc17bb1f = L.popup({"maxWidth": "100%"});

        
            var html_fc67c8aa9bf0ea920b71e8e65b3f5a98 = $(`<div id="html_fc67c8aa9bf0ea920b71e8e65b3f5a98" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1144aa7465e6c4741e9c435bcc17bb1f.setContent(html_fc67c8aa9bf0ea920b71e8e65b3f5a98);
        

        marker_2ad45ce67df72929c7d6a0538d29939c.bindPopup(popup_1144aa7465e6c4741e9c435bcc17bb1f)
        ;

        
    
    
            marker_2ad45ce67df72929c7d6a0538d29939c.bindTooltip(
                `<div>
                     SOUTH LEXINGTON SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>