<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7b78cc749dfa88099530391586a90d3f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7b78cc749dfa88099530391586a90d3f" ></div>
        
</body>
<script>    
    
            var map_7b78cc749dfa88099530391586a90d3f = L.map(
                "map_7b78cc749dfa88099530391586a90d3f",
                {
                    center: [34.5980006, -78.9702285],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_06e8281d32c22d2539d3825adbd946b2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var marker_e91909607a68e72f4086b00cdd6851f2 = L.marker(
                [34.5980006, -78.9702285],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_90ae27dd3ea3dcc901199b0474b8b6da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e91909607a68e72f4086b00cdd6851f2.setIcon(icon_90ae27dd3ea3dcc901199b0474b8b6da);
        
    
        var popup_973300d3acb2c48d151f3616cd220239 = L.popup({"maxWidth": "100%"});

        
            var html_ccd490004bf2c3f3976c6f6f31ebf6ec = $(`<div id="html_ccd490004bf2c3f3976c6f6f31ebf6ec" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_973300d3acb2c48d151f3616cd220239.setContent(html_ccd490004bf2c3f3976c6f6f31ebf6ec);
        

        marker_e91909607a68e72f4086b00cdd6851f2.bindPopup(popup_973300d3acb2c48d151f3616cd220239)
        ;

        
    
    
            marker_e91909607a68e72f4086b00cdd6851f2.bindTooltip(
                `<div>
                     ABC PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c38ffac4d7f73cb79d85076dfc7d67e4 = L.marker(
                [34.60344, -79.023302],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_4f2f93e6a00047da5e650cb912679ced = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c38ffac4d7f73cb79d85076dfc7d67e4.setIcon(icon_4f2f93e6a00047da5e650cb912679ced);
        
    
        var popup_aa445e947393d0bd192baa119731e822 = L.popup({"maxWidth": "100%"});

        
            var html_e086ad4703ff6b74741ed16e512e5fca = $(`<div id="html_e086ad4703ff6b74741ed16e512e5fca" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aa445e947393d0bd192baa119731e822.setContent(html_e086ad4703ff6b74741ed16e512e5fca);
        

        marker_c38ffac4d7f73cb79d85076dfc7d67e4.bindPopup(popup_aa445e947393d0bd192baa119731e822)
        ;

        
    
    
            marker_c38ffac4d7f73cb79d85076dfc7d67e4.bindTooltip(
                `<div>
                     AGAPE CHILD DEVELOPMENT CENTER, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ed8022267f831844b0d51c329cbfb502 = L.marker(
                [34.61993312145259, -79.0007127933446],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_8456776452655443134da416cf69f9fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ed8022267f831844b0d51c329cbfb502.setIcon(icon_8456776452655443134da416cf69f9fd);
        
    
        var popup_bb7a599a0cb05a44d246a3db065b389a = L.popup({"maxWidth": "100%"});

        
            var html_51cfa4a6fe0f9556264b33307a0a1e0f = $(`<div id="html_51cfa4a6fe0f9556264b33307a0a1e0f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bb7a599a0cb05a44d246a3db065b389a.setContent(html_51cfa4a6fe0f9556264b33307a0a1e0f);
        

        marker_ed8022267f831844b0d51c329cbfb502.bindPopup(popup_bb7a599a0cb05a44d246a3db065b389a)
        ;

        
    
    
            marker_ed8022267f831844b0d51c329cbfb502.bindTooltip(
                `<div>
                     BRIGHT FUTURE CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0e6afef35eebf7be5d1800d76cee31cb = L.marker(
                [34.655117071539586, -79.00089375915663],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_8ae5a538ea9835de433cc1dc57a332ee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0e6afef35eebf7be5d1800d76cee31cb.setIcon(icon_8ae5a538ea9835de433cc1dc57a332ee);
        
    
        var popup_fd0876e836d2ac0bd1d167b088533530 = L.popup({"maxWidth": "100%"});

        
            var html_7f672e23834ec02eac6d8693418ecdcd = $(`<div id="html_7f672e23834ec02eac6d8693418ecdcd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fd0876e836d2ac0bd1d167b088533530.setContent(html_7f672e23834ec02eac6d8693418ecdcd);
        

        marker_0e6afef35eebf7be5d1800d76cee31cb.bindPopup(popup_fd0876e836d2ac0bd1d167b088533530)
        ;

        
    
    
            marker_0e6afef35eebf7be5d1800d76cee31cb.bindTooltip(
                `<div>
                     CHRISTINE'S CHRISTIAN DAYCARE OF LUMBERTON
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f3e2648cb85ad3311b21f9aa7352e524 = L.marker(
                [34.620951694777304, -79.05527438901076],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_38dde055834b89a01926740db6d55937 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f3e2648cb85ad3311b21f9aa7352e524.setIcon(icon_38dde055834b89a01926740db6d55937);
        
    
        var popup_664d2026dc7e5fab8ab6fc38d28510f4 = L.popup({"maxWidth": "100%"});

        
            var html_79164541c8b5bf3b56699b63590ed623 = $(`<div id="html_79164541c8b5bf3b56699b63590ed623" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_664d2026dc7e5fab8ab6fc38d28510f4.setContent(html_79164541c8b5bf3b56699b63590ed623);
        

        marker_f3e2648cb85ad3311b21f9aa7352e524.bindPopup(popup_664d2026dc7e5fab8ab6fc38d28510f4)
        ;

        
    
    
            marker_f3e2648cb85ad3311b21f9aa7352e524.bindTooltip(
                `<div>
                     COTTONWOOD PRE-ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_12ec13699ec3f59876627b0edfefd114 = L.marker(
                [34.62095614957113, -79.00594641732418],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_d6d00df3e7a9f322b896721be410950d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_12ec13699ec3f59876627b0edfefd114.setIcon(icon_d6d00df3e7a9f322b896721be410950d);
        
    
        var popup_9156e566b02da7c088836d774c245f4d = L.popup({"maxWidth": "100%"});

        
            var html_c33b77a6bb848e67041522399ed98516 = $(`<div id="html_c33b77a6bb848e67041522399ed98516" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9156e566b02da7c088836d774c245f4d.setContent(html_c33b77a6bb848e67041522399ed98516);
        

        marker_12ec13699ec3f59876627b0edfefd114.bindPopup(popup_9156e566b02da7c088836d774c245f4d)
        ;

        
    
    
            marker_12ec13699ec3f59876627b0edfefd114.bindTooltip(
                `<div>
                     FIRST BAPTIST EARLY CHILDHOOD MINISTRY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_763d019892fa7b17b852b94d5b771bf2 = L.marker(
                [34.600173570163825, -79.03367105253824],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_70d79576c75fc00427f54058e3e7a4bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_763d019892fa7b17b852b94d5b771bf2.setIcon(icon_70d79576c75fc00427f54058e3e7a4bd);
        
    
        var popup_d35875b0c8baf30ea4e5891eed1d3c4f = L.popup({"maxWidth": "100%"});

        
            var html_4859e3a60a1021935da48041dbf55b21 = $(`<div id="html_4859e3a60a1021935da48041dbf55b21" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d35875b0c8baf30ea4e5891eed1d3c4f.setContent(html_4859e3a60a1021935da48041dbf55b21);
        

        marker_763d019892fa7b17b852b94d5b771bf2.bindPopup(popup_d35875b0c8baf30ea4e5891eed1d3c4f)
        ;

        
    
    
            marker_763d019892fa7b17b852b94d5b771bf2.bindTooltip(
                `<div>
                     GOD'S GIFT DAY CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_08473a2b5bc18da6ece660e61fb41e09 = L.marker(
                [34.5913073065179, -79.03153007199559],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_93623950967111dd63fc79d09286e0af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_08473a2b5bc18da6ece660e61fb41e09.setIcon(icon_93623950967111dd63fc79d09286e0af);
        
    
        var popup_2334adc5f32b1daceaf17b6cf3eaef23 = L.popup({"maxWidth": "100%"});

        
            var html_9cbc833e543288009de3f787ac8d94a1 = $(`<div id="html_9cbc833e543288009de3f787ac8d94a1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2334adc5f32b1daceaf17b6cf3eaef23.setContent(html_9cbc833e543288009de3f787ac8d94a1);
        

        marker_08473a2b5bc18da6ece660e61fb41e09.bindPopup(popup_2334adc5f32b1daceaf17b6cf3eaef23)
        ;

        
    
    
            marker_08473a2b5bc18da6ece660e61fb41e09.bindTooltip(
                `<div>
                     GOD'S GIFT DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c8828aeebf27c07983bfc8abc1973eaa = L.marker(
                [34.63015402829339, -78.99601995755992],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_5c93541a2bbb54ea032274153b73b9fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c8828aeebf27c07983bfc8abc1973eaa.setIcon(icon_5c93541a2bbb54ea032274153b73b9fc);
        
    
        var popup_789d10640b4bf8dcfec1136bb36be3a5 = L.popup({"maxWidth": "100%"});

        
            var html_83a2231659b7bfa249fa28b4e69260c4 = $(`<div id="html_83a2231659b7bfa249fa28b4e69260c4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_789d10640b4bf8dcfec1136bb36be3a5.setContent(html_83a2231659b7bfa249fa28b4e69260c4);
        

        marker_c8828aeebf27c07983bfc8abc1973eaa.bindPopup(popup_789d10640b4bf8dcfec1136bb36be3a5)
        ;

        
    
    
            marker_c8828aeebf27c07983bfc8abc1973eaa.bindTooltip(
                `<div>
                     HUG-A-BEAR CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4ab96fc12ae0e7b43bfc47717e8881f1 = L.marker(
                [34.618564, -78.988219],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_d1ed89f79cf7cce18d4b4a405692241e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4ab96fc12ae0e7b43bfc47717e8881f1.setIcon(icon_d1ed89f79cf7cce18d4b4a405692241e);
        
    
        var popup_d986eb7d84d450f64db8db57b7311cd7 = L.popup({"maxWidth": "100%"});

        
            var html_e6cabf13d2cb94e8fa1b69fdf0c7d6f1 = $(`<div id="html_e6cabf13d2cb94e8fa1b69fdf0c7d6f1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d986eb7d84d450f64db8db57b7311cd7.setContent(html_e6cabf13d2cb94e8fa1b69fdf0c7d6f1);
        

        marker_4ab96fc12ae0e7b43bfc47717e8881f1.bindPopup(popup_d986eb7d84d450f64db8db57b7311cd7)
        ;

        
    
    
            marker_4ab96fc12ae0e7b43bfc47717e8881f1.bindTooltip(
                `<div>
                     HUG-A-BEAR CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04af586f8a312136352044acfed6ed37 = L.marker(
                [34.642986556620095, -78.99178039337593],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_1a7edcbd7060ed08469360876a70e2cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_04af586f8a312136352044acfed6ed37.setIcon(icon_1a7edcbd7060ed08469360876a70e2cd);
        
    
        var popup_c8276d6a03f5ca85443dcde7e4b3ee7a = L.popup({"maxWidth": "100%"});

        
            var html_20a7a494bc7f3cb5004cc94c2bea61e2 = $(`<div id="html_20a7a494bc7f3cb5004cc94c2bea61e2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c8276d6a03f5ca85443dcde7e4b3ee7a.setContent(html_20a7a494bc7f3cb5004cc94c2bea61e2);
        

        marker_04af586f8a312136352044acfed6ed37.bindPopup(popup_c8276d6a03f5ca85443dcde7e4b3ee7a)
        ;

        
    
    
            marker_04af586f8a312136352044acfed6ed37.bindTooltip(
                `<div>
                     KIDS' ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_59942f22b07eb8f5eaa544e8e4441021 = L.marker(
                [34.6032877, -79.0287371],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_823e785284be02a3edaaba1ac2121a2f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_59942f22b07eb8f5eaa544e8e4441021.setIcon(icon_823e785284be02a3edaaba1ac2121a2f);
        
    
        var popup_ecbbec2219507e3f5a4aa9246376006a = L.popup({"maxWidth": "100%"});

        
            var html_51b536e8d864154b94664b07d00d9e57 = $(`<div id="html_51b536e8d864154b94664b07d00d9e57" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ecbbec2219507e3f5a4aa9246376006a.setContent(html_51b536e8d864154b94664b07d00d9e57);
        

        marker_59942f22b07eb8f5eaa544e8e4441021.bindPopup(popup_ecbbec2219507e3f5a4aa9246376006a)
        ;

        
    
    
            marker_59942f22b07eb8f5eaa544e8e4441021.bindTooltip(
                `<div>
                     KINGS LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_45bd6030d18b21adff779a663f89b1b9 = L.marker(
                [34.6153666, -78.9859344],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_4f233b8d2e36e5b5428e2225a617df7d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_45bd6030d18b21adff779a663f89b1b9.setIcon(icon_4f233b8d2e36e5b5428e2225a617df7d);
        
    
        var popup_1e0caf429b86b5597923b44f278b4ee9 = L.popup({"maxWidth": "100%"});

        
            var html_6c997e3d1ba533182ec8233e5abb6e0f = $(`<div id="html_6c997e3d1ba533182ec8233e5abb6e0f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1e0caf429b86b5597923b44f278b4ee9.setContent(html_6c997e3d1ba533182ec8233e5abb6e0f);
        

        marker_45bd6030d18b21adff779a663f89b1b9.bindPopup(popup_1e0caf429b86b5597923b44f278b4ee9)
        ;

        
    
    
            marker_45bd6030d18b21adff779a663f89b1b9.bindTooltip(
                `<div>
                     LONG BRANCH EARLY CHILDHOOD PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_00c15db728496dca32015f2654f3abd1 = L.marker(
                [34.60820878285391, -78.9824744565427],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_05aa10316cac49b3006553e292ac7665 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_00c15db728496dca32015f2654f3abd1.setIcon(icon_05aa10316cac49b3006553e292ac7665);
        
    
        var popup_9f39ac6777559923b7f7907f95694b87 = L.popup({"maxWidth": "100%"});

        
            var html_41a03f3a31527628a73ccbd1ba197b18 = $(`<div id="html_41a03f3a31527628a73ccbd1ba197b18" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9f39ac6777559923b7f7907f95694b87.setContent(html_41a03f3a31527628a73ccbd1ba197b18);
        

        marker_00c15db728496dca32015f2654f3abd1.bindPopup(popup_9f39ac6777559923b7f7907f95694b87)
        ;

        
    
    
            marker_00c15db728496dca32015f2654f3abd1.bindTooltip(
                `<div>
                     OPEN ARMS CHRISTIAN DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e2cbaa84ba9d3aa3e1af5cf47a15d32 = L.marker(
                [34.6414535, -78.9939173],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_dde55a36f22fd374f8dde45c79ac0ac8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3e2cbaa84ba9d3aa3e1af5cf47a15d32.setIcon(icon_dde55a36f22fd374f8dde45c79ac0ac8);
        
    
        var popup_05225bbbef5d3861d5f6f55c56ac72e9 = L.popup({"maxWidth": "100%"});

        
            var html_8921d3a4a394c86973ac8fc784595008 = $(`<div id="html_8921d3a4a394c86973ac8fc784595008" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_05225bbbef5d3861d5f6f55c56ac72e9.setContent(html_8921d3a4a394c86973ac8fc784595008);
        

        marker_3e2cbaa84ba9d3aa3e1af5cf47a15d32.bindPopup(popup_05225bbbef5d3861d5f6f55c56ac72e9)
        ;

        
    
    
            marker_3e2cbaa84ba9d3aa3e1af5cf47a15d32.bindTooltip(
                `<div>
                     PRECIOUS ANGELS DAYCARE II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8fe3412c7deb9a0522dd99affe7297fb = L.marker(
                [34.625376012799535, -79.00347976254629],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_11da406e5d8506965305f61b19014bf7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8fe3412c7deb9a0522dd99affe7297fb.setIcon(icon_11da406e5d8506965305f61b19014bf7);
        
    
        var popup_12c25cdfabe2932d529ab951c7377ce5 = L.popup({"maxWidth": "100%"});

        
            var html_fb6e7279feaf13393031f5181c9ee531 = $(`<div id="html_fb6e7279feaf13393031f5181c9ee531" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_12c25cdfabe2932d529ab951c7377ce5.setContent(html_fb6e7279feaf13393031f5181c9ee531);
        

        marker_8fe3412c7deb9a0522dd99affe7297fb.bindPopup(popup_12c25cdfabe2932d529ab951c7377ce5)
        ;

        
    
    
            marker_8fe3412c7deb9a0522dd99affe7297fb.bindTooltip(
                `<div>
                     PRECIOUS ANGELS' DAY CARE, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_300fd86ca48a55b5d2dbf84cbcb2b6d4 = L.marker(
                [34.617942, -78.980104],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_f3269f78c1e62e5b1c848fd536a9258e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_300fd86ca48a55b5d2dbf84cbcb2b6d4.setIcon(icon_f3269f78c1e62e5b1c848fd536a9258e);
        
    
        var popup_a2c7ac6c39800f0242f44ca8ea3695c6 = L.popup({"maxWidth": "100%"});

        
            var html_ffdac36b10cab5260ca00c1c50161093 = $(`<div id="html_ffdac36b10cab5260ca00c1c50161093" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a2c7ac6c39800f0242f44ca8ea3695c6.setContent(html_ffdac36b10cab5260ca00c1c50161093);
        

        marker_300fd86ca48a55b5d2dbf84cbcb2b6d4.bindPopup(popup_a2c7ac6c39800f0242f44ca8ea3695c6)
        ;

        
    
    
            marker_300fd86ca48a55b5d2dbf84cbcb2b6d4.bindTooltip(
                `<div>
                     PRESBYTERIAN LEARNING CENTER OF LUMBERTON, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43bba34d094fa74d2396b262588d9550 = L.marker(
                [34.621458, -78.995422],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_77610a59c230f0437facd03be54d19c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_43bba34d094fa74d2396b262588d9550.setIcon(icon_77610a59c230f0437facd03be54d19c6);
        
    
        var popup_5ffdad366b39439c19f6141e05cea2cc = L.popup({"maxWidth": "100%"});

        
            var html_77e635d03d18fc3d6245cf896c4e51e5 = $(`<div id="html_77e635d03d18fc3d6245cf896c4e51e5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5ffdad366b39439c19f6141e05cea2cc.setContent(html_77e635d03d18fc3d6245cf896c4e51e5);
        

        marker_43bba34d094fa74d2396b262588d9550.bindPopup(popup_5ffdad366b39439c19f6141e05cea2cc)
        ;

        
    
    
            marker_43bba34d094fa74d2396b262588d9550.bindTooltip(
                `<div>
                     ROWLAND NORMENT EC PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd05d8b254e95262011bb7455562c483 = L.marker(
                [34.621458, -78.995422],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_e85e8738b752fdec93d394b83edff787 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bd05d8b254e95262011bb7455562c483.setIcon(icon_e85e8738b752fdec93d394b83edff787);
        
    
        var popup_71fa64cbaec7c42151843221e43c43c0 = L.popup({"maxWidth": "100%"});

        
            var html_23e0481b8479159784267f7ff395fd3a = $(`<div id="html_23e0481b8479159784267f7ff395fd3a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_71fa64cbaec7c42151843221e43c43c0.setContent(html_23e0481b8479159784267f7ff395fd3a);
        

        marker_bd05d8b254e95262011bb7455562c483.bindPopup(popup_71fa64cbaec7c42151843221e43c43c0)
        ;

        
    
    
            marker_bd05d8b254e95262011bb7455562c483.bindTooltip(
                `<div>
                     ROWLAND NORMENT PRIME TIME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ee787c4af5bf73adf6b4383c25fae602 = L.marker(
                [34.6222285, -79.0506567],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_62b872b597159942632cf4cdbc21c8cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ee787c4af5bf73adf6b4383c25fae602.setIcon(icon_62b872b597159942632cf4cdbc21c8cd);
        
    
        var popup_071fc5dc57ee376bfa408979fe996016 = L.popup({"maxWidth": "100%"});

        
            var html_1e2b7ba8d4fc572e2a370f4100863816 = $(`<div id="html_1e2b7ba8d4fc572e2a370f4100863816" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_071fc5dc57ee376bfa408979fe996016.setContent(html_1e2b7ba8d4fc572e2a370f4100863816);
        

        marker_ee787c4af5bf73adf6b4383c25fae602.bindPopup(popup_071fc5dc57ee376bfa408979fe996016)
        ;

        
    
    
            marker_ee787c4af5bf73adf6b4383c25fae602.bindTooltip(
                `<div>
                     SHINING STARS PRESCHOOL BRYAN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ab3387cac75eaed9388ddf4248409906 = L.marker(
                [34.638022, -79.010641],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_c0bcee8b628a2b84e24c858b9add832f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ab3387cac75eaed9388ddf4248409906.setIcon(icon_c0bcee8b628a2b84e24c858b9add832f);
        
    
        var popup_e5400f3595cd7ea70cde83ce3344a776 = L.popup({"maxWidth": "100%"});

        
            var html_0015070d0e9be7669f73b4a887647eb0 = $(`<div id="html_0015070d0e9be7669f73b4a887647eb0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e5400f3595cd7ea70cde83ce3344a776.setContent(html_0015070d0e9be7669f73b4a887647eb0);
        

        marker_ab3387cac75eaed9388ddf4248409906.bindPopup(popup_e5400f3595cd7ea70cde83ce3344a776)
        ;

        
    
    
            marker_ab3387cac75eaed9388ddf4248409906.bindTooltip(
                `<div>
                     TANGLEWOOD ELEMENTARY EARLY CHILDHOOD PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8c985283220f2d97f3cf50fd0755bf40 = L.marker(
                [34.638022, -79.010641],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_2a0f240f72423d91a178c05fe24d336a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8c985283220f2d97f3cf50fd0755bf40.setIcon(icon_2a0f240f72423d91a178c05fe24d336a);
        
    
        var popup_ed33996028d2bfb8b3dc1e44044a1923 = L.popup({"maxWidth": "100%"});

        
            var html_605e41990a10a1419a24cdc41401f8b1 = $(`<div id="html_605e41990a10a1419a24cdc41401f8b1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ed33996028d2bfb8b3dc1e44044a1923.setContent(html_605e41990a10a1419a24cdc41401f8b1);
        

        marker_8c985283220f2d97f3cf50fd0755bf40.bindPopup(popup_ed33996028d2bfb8b3dc1e44044a1923)
        ;

        
    
    
            marker_8c985283220f2d97f3cf50fd0755bf40.bindTooltip(
                `<div>
                     TANGLEWOOD PRIMETIME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c4b1370b0ae894459c99aab64dc5497 = L.marker(
                [34.61104651989597, -78.9884068034599],
                {}
            ).addTo(map_7b78cc749dfa88099530391586a90d3f);
        
    
            var icon_17449b66eddf62c55635965736b854bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4c4b1370b0ae894459c99aab64dc5497.setIcon(icon_17449b66eddf62c55635965736b854bb);
        
    
        var popup_94f5d85fdf2f174df55350e587752d74 = L.popup({"maxWidth": "100%"});

        
            var html_1d9122084f247c7114b5124a46354291 = $(`<div id="html_1d9122084f247c7114b5124a46354291" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_94f5d85fdf2f174df55350e587752d74.setContent(html_1d9122084f247c7114b5124a46354291);
        

        marker_4c4b1370b0ae894459c99aab64dc5497.bindPopup(popup_94f5d85fdf2f174df55350e587752d74)
        ;

        
    
    
            marker_4c4b1370b0ae894459c99aab64dc5497.bindTooltip(
                `<div>
                     TINY STEPS LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>