<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_252485149a7ad015ec2c86d0032a4aff {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_252485149a7ad015ec2c86d0032a4aff" ></div>
        
</body>
<script>    
    
            var map_252485149a7ad015ec2c86d0032a4aff = L.map(
                "map_252485149a7ad015ec2c86d0032a4aff",
                {
                    center: [35.57887875, -81.20971901171309],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bd7b4851860638eae7478deb57e13aa9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_252485149a7ad015ec2c86d0032a4aff);
        
    
            var marker_20fa439ba3c8c0014216610ec347c929 = L.marker(
                [35.57887875, -81.20971901171309],
                {}
            ).addTo(map_252485149a7ad015ec2c86d0032a4aff);
        
    
            var icon_c5a8863b2906c73e5d24ea0fc9108913 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_20fa439ba3c8c0014216610ec347c929.setIcon(icon_c5a8863b2906c73e5d24ea0fc9108913);
        
    
        var popup_f150daa8ceefddd3c8565d9199c6e838 = L.popup({"maxWidth": "100%"});

        
            var html_8fd797a205c15152e33ad3311a7546e0 = $(`<div id="html_8fd797a205c15152e33ad3311a7546e0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f150daa8ceefddd3c8565d9199c6e838.setContent(html_8fd797a205c15152e33ad3311a7546e0);
        

        marker_20fa439ba3c8c0014216610ec347c929.bindPopup(popup_f150daa8ceefddd3c8565d9199c6e838)
        ;

        
    
    
            marker_20fa439ba3c8c0014216610ec347c929.bindTooltip(
                `<div>
                     MAIDEN ELEMENTARY PRE K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30f977db263bc8c6eaffaf6d12d02659 = L.marker(
                [35.58760317398256, -81.15681010938783],
                {}
            ).addTo(map_252485149a7ad015ec2c86d0032a4aff);
        
    
            var icon_bce47226a56c7a13df26d135ed59570e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_30f977db263bc8c6eaffaf6d12d02659.setIcon(icon_bce47226a56c7a13df26d135ed59570e);
        
    
        var popup_a168fff4c629d7db19d6af09868f9c73 = L.popup({"maxWidth": "100%"});

        
            var html_6ae3d9033784de0026e863d2fff9f784 = $(`<div id="html_6ae3d9033784de0026e863d2fff9f784" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a168fff4c629d7db19d6af09868f9c73.setContent(html_6ae3d9033784de0026e863d2fff9f784);
        

        marker_30f977db263bc8c6eaffaf6d12d02659.bindPopup(popup_a168fff4c629d7db19d6af09868f9c73)
        ;

        
    
    
            marker_30f977db263bc8c6eaffaf6d12d02659.bindTooltip(
                `<div>
                     MISS MILLIE'S CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5d3cb24b0e790404b45e9916f87cde9b = L.marker(
                [35.58880895, -81.15766855658987],
                {}
            ).addTo(map_252485149a7ad015ec2c86d0032a4aff);
        
    
            var icon_9d8b812ee714721cccf1c84b2544b343 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5d3cb24b0e790404b45e9916f87cde9b.setIcon(icon_9d8b812ee714721cccf1c84b2544b343);
        
    
        var popup_8f06be60211c89fc9150f528e5c50c61 = L.popup({"maxWidth": "100%"});

        
            var html_2bab1f46b54152348f5c31d03c178c93 = $(`<div id="html_2bab1f46b54152348f5c31d03c178c93" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8f06be60211c89fc9150f528e5c50c61.setContent(html_2bab1f46b54152348f5c31d03c178c93);
        

        marker_5d3cb24b0e790404b45e9916f87cde9b.bindPopup(popup_8f06be60211c89fc9150f528e5c50c61)
        ;

        
    
    
            marker_5d3cb24b0e790404b45e9916f87cde9b.bindTooltip(
                `<div>
                     QUEST AT C.H. TUTTLE ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_646643b6adea402f9cc8571d407c7afc = L.marker(
                [35.57887875, -81.20971901171309],
                {}
            ).addTo(map_252485149a7ad015ec2c86d0032a4aff);
        
    
            var icon_8e5fd9f2e3d0e4ace374090b344ed085 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_646643b6adea402f9cc8571d407c7afc.setIcon(icon_8e5fd9f2e3d0e4ace374090b344ed085);
        
    
        var popup_393abd51eb085f00cbe027ef25d4237b = L.popup({"maxWidth": "100%"});

        
            var html_3c0a77e527f9fcd14cdd165645788637 = $(`<div id="html_3c0a77e527f9fcd14cdd165645788637" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_393abd51eb085f00cbe027ef25d4237b.setContent(html_3c0a77e527f9fcd14cdd165645788637);
        

        marker_646643b6adea402f9cc8571d407c7afc.bindPopup(popup_393abd51eb085f00cbe027ef25d4237b)
        ;

        
    
    
            marker_646643b6adea402f9cc8571d407c7afc.bindTooltip(
                `<div>
                     QUEST AT MAIDEN ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1c4735cdbeaa7e5496be23087c853b6 = L.marker(
                [35.573185883991684, -81.22109551122662],
                {}
            ).addTo(map_252485149a7ad015ec2c86d0032a4aff);
        
    
            var icon_7e8aa2973b9d68c3643e071cef2b0cb1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e1c4735cdbeaa7e5496be23087c853b6.setIcon(icon_7e8aa2973b9d68c3643e071cef2b0cb1);
        
    
        var popup_143f640f8071d1f06426014aea8835be = L.popup({"maxWidth": "100%"});

        
            var html_1c1629e102fafb8cee0549dd0f2d958b = $(`<div id="html_1c1629e102fafb8cee0549dd0f2d958b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_143f640f8071d1f06426014aea8835be.setContent(html_1c1629e102fafb8cee0549dd0f2d958b);
        

        marker_e1c4735cdbeaa7e5496be23087c853b6.bindPopup(popup_143f640f8071d1f06426014aea8835be)
        ;

        
    
    
            marker_e1c4735cdbeaa7e5496be23087c853b6.bindTooltip(
                `<div>
                     ROSENWALD PRESCHOOL ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
</script>