<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_01c85311c256995c34f6d993f4e19e4a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_01c85311c256995c34f6d993f4e19e4a" ></div>
        
</body>
<script>    
    
            var map_01c85311c256995c34f6d993f4e19e4a = L.map(
                "map_01c85311c256995c34f6d993f4e19e4a",
                {
                    center: [34.99121025, -80.35488803702614],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5ec0643d6e2f4196080b03fd60d45095 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_01c85311c256995c34f6d993f4e19e4a);
        
    
            var marker_3e4f556b0568f57dd429e9007d483af1 = L.marker(
                [34.99121025, -80.35488803702614],
                {}
            ).addTo(map_01c85311c256995c34f6d993f4e19e4a);
        
    
            var icon_666d8ec449873a1f50f11a36fe819298 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3e4f556b0568f57dd429e9007d483af1.setIcon(icon_666d8ec449873a1f50f11a36fe819298);
        
    
        var popup_25e47be7de4ee752153773f9c55d206a = L.popup({"maxWidth": "100%"});

        
            var html_221cdb8c9540fb19795b5679cbe33e0a = $(`<div id="html_221cdb8c9540fb19795b5679cbe33e0a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_25e47be7de4ee752153773f9c55d206a.setContent(html_221cdb8c9540fb19795b5679cbe33e0a);
        

        marker_3e4f556b0568f57dd429e9007d483af1.bindPopup(popup_25e47be7de4ee752153773f9c55d206a)
        ;

        
    
    
            marker_3e4f556b0568f57dd429e9007d483af1.bindTooltip(
                `<div>
                     CHRIST BIBLE TEACHING CENTER #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0abd0ad4e5450235f3ca41c9e9928c57 = L.marker(
                [34.9899485, -80.36237730266626],
                {}
            ).addTo(map_01c85311c256995c34f6d993f4e19e4a);
        
    
            var icon_f9efe6847ca4199e218710e3a79043db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_0abd0ad4e5450235f3ca41c9e9928c57.setIcon(icon_f9efe6847ca4199e218710e3a79043db);
        
    
        var popup_fb3d04ffb9252ab5e2a57735fde7df17 = L.popup({"maxWidth": "100%"});

        
            var html_500f63d1a03335598da24d04df019026 = $(`<div id="html_500f63d1a03335598da24d04df019026" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_fb3d04ffb9252ab5e2a57735fde7df17.setContent(html_500f63d1a03335598da24d04df019026);
        

        marker_0abd0ad4e5450235f3ca41c9e9928c57.bindPopup(popup_fb3d04ffb9252ab5e2a57735fde7df17)
        ;

        
    
    
            marker_0abd0ad4e5450235f3ca41c9e9928c57.bindTooltip(
                `<div>
                     MAMA G'S FAMILY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>