<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f3f3f85ed127b3e43eafa54f7156d56c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f3f3f85ed127b3e43eafa54f7156d56c" ></div>
        
</body>
<script>    
    
            var map_f3f3f85ed127b3e43eafa54f7156d56c = L.map(
                "map_f3f3f85ed127b3e43eafa54f7156d56c",
                {
                    center: [35.10869, -80.682271],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d6fd1b9afcecdb4995de8e0118556dcd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var marker_45c61803ead9d459b41d0eac8843f2d4 = L.marker(
                [35.10869, -80.682271],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_55883aba619f4e4aea48d6dec5d033a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_45c61803ead9d459b41d0eac8843f2d4.setIcon(icon_55883aba619f4e4aea48d6dec5d033a7);
        
    
        var popup_fd92c7109e932f43bffc4503ba7275d7 = L.popup({"maxWidth": "100%"});

        
            var html_96bf4aa72c053992d16a6636aaa30d1b = $(`<div id="html_96bf4aa72c053992d16a6636aaa30d1b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fd92c7109e932f43bffc4503ba7275d7.setContent(html_96bf4aa72c053992d16a6636aaa30d1b);
        

        marker_45c61803ead9d459b41d0eac8843f2d4.bindPopup(popup_fd92c7109e932f43bffc4503ba7275d7)
        ;

        
    
    
            marker_45c61803ead9d459b41d0eac8843f2d4.bindTooltip(
                `<div>
                     ASSEMBLY OF GOD DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_717d1ff5917a0f389dfc82250ee6ea42 = L.marker(
                [35.11742203562087, -80.74094960217113],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_709c76ea7f921e680425d1c2b1576e7f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_717d1ff5917a0f389dfc82250ee6ea42.setIcon(icon_709c76ea7f921e680425d1c2b1576e7f);
        
    
        var popup_3f628cc02eb2b323a79785a7c7882ca3 = L.popup({"maxWidth": "100%"});

        
            var html_2038783ef2eec2c5205a15807bbbfce2 = $(`<div id="html_2038783ef2eec2c5205a15807bbbfce2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3f628cc02eb2b323a79785a7c7882ca3.setContent(html_2038783ef2eec2c5205a15807bbbfce2);
        

        marker_717d1ff5917a0f389dfc82250ee6ea42.bindPopup(popup_3f628cc02eb2b323a79785a7c7882ca3)
        ;

        
    
    
            marker_717d1ff5917a0f389dfc82250ee6ea42.bindTooltip(
                `<div>
                     CHILDCARE NETWORK # 96
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2581f699c0e3aab0781a486830705b92 = L.marker(
                [35.12454714802368, -80.72960487328255],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_dca22fbaa587eb9ee6172a4c30132eb0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2581f699c0e3aab0781a486830705b92.setIcon(icon_dca22fbaa587eb9ee6172a4c30132eb0);
        
    
        var popup_bd763d98f864f300820ed4a26e0d6742 = L.popup({"maxWidth": "100%"});

        
            var html_e25f7a2e5e54f99a7bfb5d7c00f13199 = $(`<div id="html_e25f7a2e5e54f99a7bfb5d7c00f13199" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bd763d98f864f300820ed4a26e0d6742.setContent(html_e25f7a2e5e54f99a7bfb5d7c00f13199);
        

        marker_2581f699c0e3aab0781a486830705b92.bindPopup(popup_bd763d98f864f300820ed4a26e0d6742)
        ;

        
    
    
            marker_2581f699c0e3aab0781a486830705b92.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #325
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d7f444a001451baf1c658727d17ee166 = L.marker(
                [35.11709126530612, -80.7240288367347],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_d01477171bfc248c0cf161b9a8a33af3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d7f444a001451baf1c658727d17ee166.setIcon(icon_d01477171bfc248c0cf161b9a8a33af3);
        
    
        var popup_99e22c84b13c1b32d99be71d9b45499f = L.popup({"maxWidth": "100%"});

        
            var html_57067610a1c1142e4e3f434fa336323c = $(`<div id="html_57067610a1c1142e4e3f434fa336323c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_99e22c84b13c1b32d99be71d9b45499f.setContent(html_57067610a1c1142e4e3f434fa336323c);
        

        marker_d7f444a001451baf1c658727d17ee166.bindPopup(popup_99e22c84b13c1b32d99be71d9b45499f)
        ;

        
    
    
            marker_d7f444a001451baf1c658727d17ee166.bindTooltip(
                `<div>
                     CHRIST OUR SHEPHERD CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fed5a62f76c9c582a9c3c722050068e8 = L.marker(
                [35.15997775, -80.71474735229546],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_58fafa9852f10723eeb0b8b1c4442c42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fed5a62f76c9c582a9c3c722050068e8.setIcon(icon_58fafa9852f10723eeb0b8b1c4442c42);
        
    
        var popup_9e69a39cc4cbb93ed613c5f3ff3241e9 = L.popup({"maxWidth": "100%"});

        
            var html_ff00008d5fd504884c8a3034bb9c7b5e = $(`<div id="html_ff00008d5fd504884c8a3034bb9c7b5e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9e69a39cc4cbb93ed613c5f3ff3241e9.setContent(html_ff00008d5fd504884c8a3034bb9c7b5e);
        

        marker_fed5a62f76c9c582a9c3c722050068e8.bindPopup(popup_9e69a39cc4cbb93ed613c5f3ff3241e9)
        ;

        
    
    
            marker_fed5a62f76c9c582a9c3c722050068e8.bindTooltip(
                `<div>
                     CROWN POINT AFTER SCHOOL ENRICHMENT PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_61379ed9ec82d38d918418fd8756657e = L.marker(
                [35.129223, -80.739747],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_3732c9929acf660868e34c93d0185267 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_61379ed9ec82d38d918418fd8756657e.setIcon(icon_3732c9929acf660868e34c93d0185267);
        
    
        var popup_129b336f08089a41591e45cd732bbafc = L.popup({"maxWidth": "100%"});

        
            var html_549f75b5daa305d96ad295db8d490db6 = $(`<div id="html_549f75b5daa305d96ad295db8d490db6" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_129b336f08089a41591e45cd732bbafc.setContent(html_549f75b5daa305d96ad295db8d490db6);
        

        marker_61379ed9ec82d38d918418fd8756657e.bindPopup(popup_129b336f08089a41591e45cd732bbafc)
        ;

        
    
    
            marker_61379ed9ec82d38d918418fd8756657e.bindTooltip(
                `<div>
                     DEBRA GUERTIN HOME CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c0f5c462f679824f7446433af7374ec8 = L.marker(
                [35.09297150601807, -80.71122790436935],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_e4475b42f9245056294fed730386b05d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_c0f5c462f679824f7446433af7374ec8.setIcon(icon_e4475b42f9245056294fed730386b05d);
        
    
        var popup_93529d14afd980b5ff73eb277232d950 = L.popup({"maxWidth": "100%"});

        
            var html_5be2cf1fd0cf2d48b657394bfdc61e13 = $(`<div id="html_5be2cf1fd0cf2d48b657394bfdc61e13" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_93529d14afd980b5ff73eb277232d950.setContent(html_5be2cf1fd0cf2d48b657394bfdc61e13);
        

        marker_c0f5c462f679824f7446433af7374ec8.bindPopup(popup_93529d14afd980b5ff73eb277232d950)
        ;

        
    
    
            marker_c0f5c462f679824f7446433af7374ec8.bindTooltip(
                `<div>
                     EVERY CHILD IS SPECIAL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ebd8304172864d369f171917aa66408 = L.marker(
                [35.10238955296093, -80.72234221559265],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_b37a2d70a2a013143478961eb39e489b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_3ebd8304172864d369f171917aa66408.setIcon(icon_b37a2d70a2a013143478961eb39e489b);
        
    
        var popup_2ed262582a96dcd2e1d152fe2d56752d = L.popup({"maxWidth": "100%"});

        
            var html_38a740271ca6837da9e3411453aef9ea = $(`<div id="html_38a740271ca6837da9e3411453aef9ea" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_2ed262582a96dcd2e1d152fe2d56752d.setContent(html_38a740271ca6837da9e3411453aef9ea);
        

        marker_3ebd8304172864d369f171917aa66408.bindPopup(popup_2ed262582a96dcd2e1d152fe2d56752d)
        ;

        
    
    
            marker_3ebd8304172864d369f171917aa66408.bindTooltip(
                `<div>
                     GINNYS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9c80a852fffe15540ea09d4a38f8b54e = L.marker(
                [35.1228279012589, -80.728954695454],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_28ef110e14dad9a5234e24b81a6724b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9c80a852fffe15540ea09d4a38f8b54e.setIcon(icon_28ef110e14dad9a5234e24b81a6724b1);
        
    
        var popup_77eefadff6d696b61ab42e2fa5fc6893 = L.popup({"maxWidth": "100%"});

        
            var html_541ffae18ac0a42a769ce2751fde1df7 = $(`<div id="html_541ffae18ac0a42a769ce2751fde1df7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_77eefadff6d696b61ab42e2fa5fc6893.setContent(html_541ffae18ac0a42a769ce2751fde1df7);
        

        marker_9c80a852fffe15540ea09d4a38f8b54e.bindPopup(popup_77eefadff6d696b61ab42e2fa5fc6893)
        ;

        
    
    
            marker_9c80a852fffe15540ea09d4a38f8b54e.bindTooltip(
                `<div>
                     HARBOR VIEW CREATIVE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e2b9038f7c337109063300539a6711af = L.marker(
                [35.13959355, -80.68808390190881],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_19dfbb36d874c386f12a26ef9c04929a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e2b9038f7c337109063300539a6711af.setIcon(icon_19dfbb36d874c386f12a26ef9c04929a);
        
    
        var popup_e4c4ff4f0e8683ca5e4ccd29dcaf0f87 = L.popup({"maxWidth": "100%"});

        
            var html_e6082930842798cc2a3e96426528ef58 = $(`<div id="html_e6082930842798cc2a3e96426528ef58" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e4c4ff4f0e8683ca5e4ccd29dcaf0f87.setContent(html_e6082930842798cc2a3e96426528ef58);
        

        marker_e2b9038f7c337109063300539a6711af.bindPopup(popup_e4c4ff4f0e8683ca5e4ccd29dcaf0f87)
        ;

        
    
    
            marker_e2b9038f7c337109063300539a6711af.bindTooltip(
                `<div>
                     IDLEWILD BAPTIST CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dd088a18997b7ab9a6a81a458008070b = L.marker(
                [35.118487, -80.663697],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_0e8d73ba9840bef6b9d52a3775162ac7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dd088a18997b7ab9a6a81a458008070b.setIcon(icon_0e8d73ba9840bef6b9d52a3775162ac7);
        
    
        var popup_e0965ac822e7ce7602ecbf7d0768090d = L.popup({"maxWidth": "100%"});

        
            var html_1146a8705d5ab8c98c4f1730b7dc5c8a = $(`<div id="html_1146a8705d5ab8c98c4f1730b7dc5c8a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e0965ac822e7ce7602ecbf7d0768090d.setContent(html_1146a8705d5ab8c98c4f1730b7dc5c8a);
        

        marker_dd088a18997b7ab9a6a81a458008070b.bindPopup(popup_e0965ac822e7ce7602ecbf7d0768090d)
        ;

        
    
    
            marker_dd088a18997b7ab9a6a81a458008070b.bindTooltip(
                `<div>
                     LADYBUG LEARNING ACADEMY, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b8866f4ee3c783e9b1891e1f32c0eb40 = L.marker(
                [35.11329685, -80.71264197857951],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_190471bcf272b71bf161424e1ea395fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b8866f4ee3c783e9b1891e1f32c0eb40.setIcon(icon_190471bcf272b71bf161424e1ea395fa);
        
    
        var popup_79513151caee29652c55b6df29c13e9f = L.popup({"maxWidth": "100%"});

        
            var html_e932b611e80976f9fe7ae43a97f67333 = $(`<div id="html_e932b611e80976f9fe7ae43a97f67333" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_79513151caee29652c55b6df29c13e9f.setContent(html_e932b611e80976f9fe7ae43a97f67333);
        

        marker_b8866f4ee3c783e9b1891e1f32c0eb40.bindPopup(popup_79513151caee29652c55b6df29c13e9f)
        ;

        
    
    
            marker_b8866f4ee3c783e9b1891e1f32c0eb40.bindTooltip(
                `<div>
                     MT MORIAH CHILD DEVELOPMENT CENTER, INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3154396198a61ed47f3f93d6eab87efd = L.marker(
                [35.13730424573926, -80.73832348253713],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_8653c6ea9839ae94a1517190b3bc5bc1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3154396198a61ed47f3f93d6eab87efd.setIcon(icon_8653c6ea9839ae94a1517190b3bc5bc1);
        
    
        var popup_f8b91138dae3d51bce59f87f421cbcc7 = L.popup({"maxWidth": "100%"});

        
            var html_86b35e9f7c9594a7c3aa109408077079 = $(`<div id="html_86b35e9f7c9594a7c3aa109408077079" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f8b91138dae3d51bce59f87f421cbcc7.setContent(html_86b35e9f7c9594a7c3aa109408077079);
        

        marker_3154396198a61ed47f3f93d6eab87efd.bindPopup(popup_f8b91138dae3d51bce59f87f421cbcc7)
        ;

        
    
    
            marker_3154396198a61ed47f3f93d6eab87efd.bindTooltip(
                `<div>
                     NATIONAL CHILD CARE INSTITUTE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_568501b110384106610ecee23165e82f = L.marker(
                [35.1334456, -80.60798404107611],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_049dd51182c4a458bee2cb06f2e5b2f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_568501b110384106610ecee23165e82f.setIcon(icon_049dd51182c4a458bee2cb06f2e5b2f7);
        
    
        var popup_9530181de31e35d984049d70b67ea62b = L.popup({"maxWidth": "100%"});

        
            var html_7ee607ed25ccfecf1a8806b38db53fd0 = $(`<div id="html_7ee607ed25ccfecf1a8806b38db53fd0" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_9530181de31e35d984049d70b67ea62b.setContent(html_7ee607ed25ccfecf1a8806b38db53fd0);
        

        marker_568501b110384106610ecee23165e82f.bindPopup(popup_9530181de31e35d984049d70b67ea62b)
        ;

        
    
    
            marker_568501b110384106610ecee23165e82f.bindTooltip(
                `<div>
                     PAMMY'S DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9193c7ebce19a7f9fbbe1568596b01a6 = L.marker(
                [35.130597354884124, -80.71934079766778],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_2baadd24fbf0d46188d3e5c14bb360d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9193c7ebce19a7f9fbbe1568596b01a6.setIcon(icon_2baadd24fbf0d46188d3e5c14bb360d8);
        
    
        var popup_bf7ed9d66e3d4719c8fb4fbe86949a59 = L.popup({"maxWidth": "100%"});

        
            var html_44cb33908bac8829871201c73b2e22a6 = $(`<div id="html_44cb33908bac8829871201c73b2e22a6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bf7ed9d66e3d4719c8fb4fbe86949a59.setContent(html_44cb33908bac8829871201c73b2e22a6);
        

        marker_9193c7ebce19a7f9fbbe1568596b01a6.bindPopup(popup_bf7ed9d66e3d4719c8fb4fbe86949a59)
        ;

        
    
    
            marker_9193c7ebce19a7f9fbbe1568596b01a6.bindTooltip(
                `<div>
                     SMART KIDS CHILD DEVELOPMENT CENTER #7
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9ad87db556bbb7adc9a5e37fcfe9df03 = L.marker(
                [35.132177, -80.705879],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_2514d84d8a48c6259b69866db9c0b213 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9ad87db556bbb7adc9a5e37fcfe9df03.setIcon(icon_2514d84d8a48c6259b69866db9c0b213);
        
    
        var popup_3cddcdfc191e01c37fd0ec112ca6504c = L.popup({"maxWidth": "100%"});

        
            var html_a0296dae6f813ddccddf060410320416 = $(`<div id="html_a0296dae6f813ddccddf060410320416" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3cddcdfc191e01c37fd0ec112ca6504c.setContent(html_a0296dae6f813ddccddf060410320416);
        

        marker_9ad87db556bbb7adc9a5e37fcfe9df03.bindPopup(popup_3cddcdfc191e01c37fd0ec112ca6504c)
        ;

        
    
    
            marker_9ad87db556bbb7adc9a5e37fcfe9df03.bindTooltip(
                `<div>
                     THE GODDARD SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c03f5271e2aa815e743ed846d22447c9 = L.marker(
                [35.084595, -80.73526109845679],
                {}
            ).addTo(map_f3f3f85ed127b3e43eafa54f7156d56c);
        
    
            var icon_5f0ed1a5773d7b84bbf7660c6cb42cda = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c03f5271e2aa815e743ed846d22447c9.setIcon(icon_5f0ed1a5773d7b84bbf7660c6cb42cda);
        
    
        var popup_87472c44ca5dc4d05958757fb2bba3a2 = L.popup({"maxWidth": "100%"});

        
            var html_ee23a36a0f58bec1298ab468c1dfcbdb = $(`<div id="html_ee23a36a0f58bec1298ab468c1dfcbdb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_87472c44ca5dc4d05958757fb2bba3a2.setContent(html_ee23a36a0f58bec1298ab468c1dfcbdb);
        

        marker_c03f5271e2aa815e743ed846d22447c9.bindPopup(popup_87472c44ca5dc4d05958757fb2bba3a2)
        ;

        
    
    
            marker_c03f5271e2aa815e743ed846d22447c9.bindTooltip(
                `<div>
                     TUTOR TIME CHILD CARE/ LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>