<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_16fc0b28a97f5d69183e9257ee021fd4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_16fc0b28a97f5d69183e9257ee021fd4" ></div>
        
</body>
<script>    
    
            var map_16fc0b28a97f5d69183e9257ee021fd4 = L.map(
                "map_16fc0b28a97f5d69183e9257ee021fd4",
                {
                    center: [34.99871271428572, -80.54572291836735],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dde6e3f4c5723b9af66559ee02593b2c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var marker_bfa0db9c4820f40105a2258e3d6439a6 = L.marker(
                [34.99871271428572, -80.54572291836735],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_fab374f6ac88119903d5efa2ed2b61b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bfa0db9c4820f40105a2258e3d6439a6.setIcon(icon_fab374f6ac88119903d5efa2ed2b61b4);
        
    
        var popup_111e1c1c6dbaf563682efe70cbe1c242 = L.popup({"maxWidth": "100%"});

        
            var html_c840e86c0e8e86357e12bdab03b1b654 = $(`<div id="html_c840e86c0e8e86357e12bdab03b1b654" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_111e1c1c6dbaf563682efe70cbe1c242.setContent(html_c840e86c0e8e86357e12bdab03b1b654);
        

        marker_bfa0db9c4820f40105a2258e3d6439a6.bindPopup(popup_111e1c1c6dbaf563682efe70cbe1c242)
        ;

        
    
    
            marker_bfa0db9c4820f40105a2258e3d6439a6.bindTooltip(
                `<div>
                     A+ CHILDCARE & LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_af8b1fb18c6d48a3ee6899134afa270d = L.marker(
                [34.97547290623469, -80.51659628619923],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_aa8c118bf4378b4bcbe6c70413d1fdcd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_af8b1fb18c6d48a3ee6899134afa270d.setIcon(icon_aa8c118bf4378b4bcbe6c70413d1fdcd);
        
    
        var popup_1a45e969921c547e9e0e2e045c998176 = L.popup({"maxWidth": "100%"});

        
            var html_b3af5ad3aa7b6921f7a0e25c833bc144 = $(`<div id="html_b3af5ad3aa7b6921f7a0e25c833bc144" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1a45e969921c547e9e0e2e045c998176.setContent(html_b3af5ad3aa7b6921f7a0e25c833bc144);
        

        marker_af8b1fb18c6d48a3ee6899134afa270d.bindPopup(popup_1a45e969921c547e9e0e2e045c998176)
        ;

        
    
    
            marker_af8b1fb18c6d48a3ee6899134afa270d.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #121
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51964c8326d00dd5d7c533e73864283d = L.marker(
                [34.996082, -80.560727],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_8712ba43ffb56bf7aaf83da48c64d8de = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_51964c8326d00dd5d7c533e73864283d.setIcon(icon_8712ba43ffb56bf7aaf83da48c64d8de);
        
    
        var popup_36b8e0ee9169383df44d3e6396cddeff = L.popup({"maxWidth": "100%"});

        
            var html_2d669bd7d6f240e68c95e6e320153938 = $(`<div id="html_2d669bd7d6f240e68c95e6e320153938" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_36b8e0ee9169383df44d3e6396cddeff.setContent(html_2d669bd7d6f240e68c95e6e320153938);
        

        marker_51964c8326d00dd5d7c533e73864283d.bindPopup(popup_36b8e0ee9169383df44d3e6396cddeff)
        ;

        
    
    
            marker_51964c8326d00dd5d7c533e73864283d.bindTooltip(
                `<div>
                     CHILDTIME CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_39da421a295a0e550068d59fe8ad1b16 = L.marker(
                [35.04168605, -80.63681677921156],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_f12c4513466b0519dd42618cfcf21a94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_39da421a295a0e550068d59fe8ad1b16.setIcon(icon_f12c4513466b0519dd42618cfcf21a94);
        
    
        var popup_1e860d0349bb7142d11678062ceb8a31 = L.popup({"maxWidth": "100%"});

        
            var html_49bba7ee8f3445feeec6d52ee150be6d = $(`<div id="html_49bba7ee8f3445feeec6d52ee150be6d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1e860d0349bb7142d11678062ceb8a31.setContent(html_49bba7ee8f3445feeec6d52ee150be6d);
        

        marker_39da421a295a0e550068d59fe8ad1b16.bindPopup(popup_1e860d0349bb7142d11678062ceb8a31)
        ;

        
    
    
            marker_39da421a295a0e550068d59fe8ad1b16.bindTooltip(
                `<div>
                     CREATIVE CARE CHRISTIAN PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4da286601e01c97d9415deb79e94a3ec = L.marker(
                [35.04217115, -80.50239043923611],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_01e82ee1257f571ef11034c8beb0b76d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4da286601e01c97d9415deb79e94a3ec.setIcon(icon_01e82ee1257f571ef11034c8beb0b76d);
        
    
        var popup_e2a31a69e5b7e6ef1234da0c8f1a49d6 = L.popup({"maxWidth": "100%"});

        
            var html_e2d2a9e8922c3da9cd55d7efee87789c = $(`<div id="html_e2d2a9e8922c3da9cd55d7efee87789c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e2a31a69e5b7e6ef1234da0c8f1a49d6.setContent(html_e2d2a9e8922c3da9cd55d7efee87789c);
        

        marker_4da286601e01c97d9415deb79e94a3ec.bindPopup(popup_e2a31a69e5b7e6ef1234da0c8f1a49d6)
        ;

        
    
    
            marker_4da286601e01c97d9415deb79e94a3ec.bindTooltip(
                `<div>
                     EMMANUEL CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c892293a834c6019b8135009b783497 = L.marker(
                [35.013303300000004, -80.58299925546564],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_8183ed8f3b5026fb99917dc0e5c140ba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6c892293a834c6019b8135009b783497.setIcon(icon_8183ed8f3b5026fb99917dc0e5c140ba);
        
    
        var popup_f5de6011da1945eeacf5bdc920b0f0a8 = L.popup({"maxWidth": "100%"});

        
            var html_3f456b3dd68c704bbb13fb21f3383afb = $(`<div id="html_3f456b3dd68c704bbb13fb21f3383afb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f5de6011da1945eeacf5bdc920b0f0a8.setContent(html_3f456b3dd68c704bbb13fb21f3383afb);
        

        marker_6c892293a834c6019b8135009b783497.bindPopup(popup_f5de6011da1945eeacf5bdc920b0f0a8)
        ;

        
    
    
            marker_6c892293a834c6019b8135009b783497.bindTooltip(
                `<div>
                     FIRST ASSEMBLY DAY CARE #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_00c0e068421c4f7e6bbaf51757eccb3b = L.marker(
                [34.976866900000005, -80.60665190280213],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_e729ec15d7a1b9a90bab03c6b20c8fdd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_00c0e068421c4f7e6bbaf51757eccb3b.setIcon(icon_e729ec15d7a1b9a90bab03c6b20c8fdd);
        
    
        var popup_93c83826008114c7793b28b779e01dc0 = L.popup({"maxWidth": "100%"});

        
            var html_1b442cb8199a1461a01d3fe20708e4e7 = $(`<div id="html_1b442cb8199a1461a01d3fe20708e4e7" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_93c83826008114c7793b28b779e01dc0.setContent(html_1b442cb8199a1461a01d3fe20708e4e7);
        

        marker_00c0e068421c4f7e6bbaf51757eccb3b.bindPopup(popup_93c83826008114c7793b28b779e01dc0)
        ;

        
    
    
            marker_00c0e068421c4f7e6bbaf51757eccb3b.bindTooltip(
                `<div>
                     HEAVEN SENT DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ab1af6dc55b5729f486b10817253435e = L.marker(
                [35.0204656, -80.5355766],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_fe855837def8b13f2c867883ae8927de = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ab1af6dc55b5729f486b10817253435e.setIcon(icon_fe855837def8b13f2c867883ae8927de);
        
    
        var popup_6b3c84b711755cdbe8ac0b58b7070fa0 = L.popup({"maxWidth": "100%"});

        
            var html_ca7f380c0ed1810d9acdfb00a63494a1 = $(`<div id="html_ca7f380c0ed1810d9acdfb00a63494a1" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_6b3c84b711755cdbe8ac0b58b7070fa0.setContent(html_ca7f380c0ed1810d9acdfb00a63494a1);
        

        marker_ab1af6dc55b5729f486b10817253435e.bindPopup(popup_6b3c84b711755cdbe8ac0b58b7070fa0)
        ;

        
    
    
            marker_ab1af6dc55b5729f486b10817253435e.bindTooltip(
                `<div>
                     KATHERINE ELDIN'S CHILD DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1e5fdee82c4ff4a8a709cda95a000528 = L.marker(
                [35.01009594594595, -80.58031032432432],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_7363b28cac8dbb381d0bc8099266e5e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1e5fdee82c4ff4a8a709cda95a000528.setIcon(icon_7363b28cac8dbb381d0bc8099266e5e5);
        
    
        var popup_9584b816a9596bd1d760deceb1c5012d = L.popup({"maxWidth": "100%"});

        
            var html_5b21fd791c7e771f844eb2f3ac55da0d = $(`<div id="html_5b21fd791c7e771f844eb2f3ac55da0d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9584b816a9596bd1d760deceb1c5012d.setContent(html_5b21fd791c7e771f844eb2f3ac55da0d);
        

        marker_1e5fdee82c4ff4a8a709cda95a000528.bindPopup(popup_9584b816a9596bd1d760deceb1c5012d)
        ;

        
    
    
            marker_1e5fdee82c4ff4a8a709cda95a000528.bindTooltip(
                `<div>
                     KIDS COVE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06164c1b95a10865a37a839d839cb339 = L.marker(
                [34.989793395420605, -80.55876428668333],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_b1a23a954a062fc02efa37e7a99e3257 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_06164c1b95a10865a37a839d839cb339.setIcon(icon_b1a23a954a062fc02efa37e7a99e3257);
        
    
        var popup_33234421ae640ab1a0d60c065b752ccb = L.popup({"maxWidth": "100%"});

        
            var html_d04d3f2880beb8e26c1a9253dc744970 = $(`<div id="html_d04d3f2880beb8e26c1a9253dc744970" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_33234421ae640ab1a0d60c065b752ccb.setContent(html_d04d3f2880beb8e26c1a9253dc744970);
        

        marker_06164c1b95a10865a37a839d839cb339.bindPopup(popup_33234421ae640ab1a0d60c065b752ccb)
        ;

        
    
    
            marker_06164c1b95a10865a37a839d839cb339.bindTooltip(
                `<div>
                     KIDZ CONNECTION CHILDCARE-THE VILLAGE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cd2435e77cfe54ddbe8483b731bac6a1 = L.marker(
                [34.994072, -80.56839],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_f39fa547190e9fc12197b6454cd5e702 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cd2435e77cfe54ddbe8483b731bac6a1.setIcon(icon_f39fa547190e9fc12197b6454cd5e702);
        
    
        var popup_9aad78afb7501a077c8d4b48437a9df8 = L.popup({"maxWidth": "100%"});

        
            var html_3ae2742778936ce7fbf415870af658c5 = $(`<div id="html_3ae2742778936ce7fbf415870af658c5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9aad78afb7501a077c8d4b48437a9df8.setContent(html_3ae2742778936ce7fbf415870af658c5);
        

        marker_cd2435e77cfe54ddbe8483b731bac6a1.bindPopup(popup_9aad78afb7501a077c8d4b48437a9df8)
        ;

        
    
    
            marker_cd2435e77cfe54ddbe8483b731bac6a1.bindTooltip(
                `<div>
                     LOVING CARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0ccfc6403c7d2ebd92659080a42b125f = L.marker(
                [35.030417, -80.626421],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_d7dc2eb742b3f80b9d5675a2f7ce7dc7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0ccfc6403c7d2ebd92659080a42b125f.setIcon(icon_d7dc2eb742b3f80b9d5675a2f7ce7dc7);
        
    
        var popup_fc7372fe61cd9254bb31a49f3cde085d = L.popup({"maxWidth": "100%"});

        
            var html_94c96d7a213a7f4354e6a7221ddd082a = $(`<div id="html_94c96d7a213a7f4354e6a7221ddd082a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fc7372fe61cd9254bb31a49f3cde085d.setContent(html_94c96d7a213a7f4354e6a7221ddd082a);
        

        marker_0ccfc6403c7d2ebd92659080a42b125f.bindPopup(popup_fc7372fe61cd9254bb31a49f3cde085d)
        ;

        
    
    
            marker_0ccfc6403c7d2ebd92659080a42b125f.bindTooltip(
                `<div>
                     NEW COVENANT CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8e82d6f6f03e1a1cadc98f304647b3f2 = L.marker(
                [34.977833, -80.522075],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_dff42d3f1b34c8b0cb11ca9a34b75ca0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8e82d6f6f03e1a1cadc98f304647b3f2.setIcon(icon_dff42d3f1b34c8b0cb11ca9a34b75ca0);
        
    
        var popup_39334790a159667eb5d2258244ba9fb1 = L.popup({"maxWidth": "100%"});

        
            var html_6f89a05abf6abbc8743d2e195dcdecb9 = $(`<div id="html_6f89a05abf6abbc8743d2e195dcdecb9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_39334790a159667eb5d2258244ba9fb1.setContent(html_6f89a05abf6abbc8743d2e195dcdecb9);
        

        marker_8e82d6f6f03e1a1cadc98f304647b3f2.bindPopup(popup_39334790a159667eb5d2258244ba9fb1)
        ;

        
    
    
            marker_8e82d6f6f03e1a1cadc98f304647b3f2.bindTooltip(
                `<div>
                     NEW GENERATION ACADEMY FOR KIDS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_61c8ac9370db0ec0574d0e10dcf17a24 = L.marker(
                [35.00368675, -80.59311869973982],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_2ed430a3e4a8183f675fb621634c0043 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_61c8ac9370db0ec0574d0e10dcf17a24.setIcon(icon_2ed430a3e4a8183f675fb621634c0043);
        
    
        var popup_3e293536454bb0207de4e2563593e4f3 = L.popup({"maxWidth": "100%"});

        
            var html_30bf4dd059fcd2b157d774a29800eaf1 = $(`<div id="html_30bf4dd059fcd2b157d774a29800eaf1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3e293536454bb0207de4e2563593e4f3.setContent(html_30bf4dd059fcd2b157d774a29800eaf1);
        

        marker_61c8ac9370db0ec0574d0e10dcf17a24.bindPopup(popup_3e293536454bb0207de4e2563593e4f3)
        ;

        
    
    
            marker_61c8ac9370db0ec0574d0e10dcf17a24.bindTooltip(
                `<div>
                     NEW TESTAMENT CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3f4488c4ec128d8896f22226e2587a51 = L.marker(
                [34.9995285, -80.63733185],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_cd448493da7c9ff9f2d3f1ec46d727e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_3f4488c4ec128d8896f22226e2587a51.setIcon(icon_cd448493da7c9ff9f2d3f1ec46d727e2);
        
    
        var popup_36ebf8047fffda75f5051dd363665149 = L.popup({"maxWidth": "100%"});

        
            var html_d24aa57de3ea87752c20460139d162a7 = $(`<div id="html_d24aa57de3ea87752c20460139d162a7" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_36ebf8047fffda75f5051dd363665149.setContent(html_d24aa57de3ea87752c20460139d162a7);
        

        marker_3f4488c4ec128d8896f22226e2587a51.bindPopup(popup_36ebf8047fffda75f5051dd363665149)
        ;

        
    
    
            marker_3f4488c4ec128d8896f22226e2587a51.bindTooltip(
                `<div>
                     PRECIOUS MOMENTS FAMILY DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f39aaf58928c8fe185978da6a3af321e = L.marker(
                [34.973549934630306, -80.54373754899463],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_9d85c51d5ef8a6c980d85ecdfb308055 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f39aaf58928c8fe185978da6a3af321e.setIcon(icon_9d85c51d5ef8a6c980d85ecdfb308055);
        
    
        var popup_d7912a1dafbdb685c45e21f6a7b3b8cb = L.popup({"maxWidth": "100%"});

        
            var html_14918004b1ed85a66e7c942edb6ced6d = $(`<div id="html_14918004b1ed85a66e7c942edb6ced6d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d7912a1dafbdb685c45e21f6a7b3b8cb.setContent(html_14918004b1ed85a66e7c942edb6ced6d);
        

        marker_f39aaf58928c8fe185978da6a3af321e.bindPopup(popup_d7912a1dafbdb685c45e21f6a7b3b8cb)
        ;

        
    
    
            marker_f39aaf58928c8fe185978da6a3af321e.bindTooltip(
                `<div>
                     RISING STARS CHILD DEVELOPMENT CENTER #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b1e650cbf12df5f51bdd36c5ea8b69e5 = L.marker(
                [35.030417, -80.626421],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_8eaaf299b690137b843459525d6acae4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b1e650cbf12df5f51bdd36c5ea8b69e5.setIcon(icon_8eaaf299b690137b843459525d6acae4);
        
    
        var popup_ed0e3c1089ac89b8b25a2606063385b1 = L.popup({"maxWidth": "100%"});

        
            var html_0c471c3cda9f5db0b5b3a802fcef7ef0 = $(`<div id="html_0c471c3cda9f5db0b5b3a802fcef7ef0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ed0e3c1089ac89b8b25a2606063385b1.setContent(html_0c471c3cda9f5db0b5b3a802fcef7ef0);
        

        marker_b1e650cbf12df5f51bdd36c5ea8b69e5.bindPopup(popup_ed0e3c1089ac89b8b25a2606063385b1)
        ;

        
    
    
            marker_b1e650cbf12df5f51bdd36c5ea8b69e5.bindTooltip(
                `<div>
                     SHILOH VALLEY ELEMENTARY AFTER SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_877579ee8133a820a18724614fca7e0a = L.marker(
                [35.030417, -80.626421],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_4281abc882a4a4cc3cbcd0d3893ccfe7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_877579ee8133a820a18724614fca7e0a.setIcon(icon_4281abc882a4a4cc3cbcd0d3893ccfe7);
        
    
        var popup_9c2e3288f05b01e9dacc3599a6298000 = L.popup({"maxWidth": "100%"});

        
            var html_2c3cb74fb76916fa09e9c67ae33d57a5 = $(`<div id="html_2c3cb74fb76916fa09e9c67ae33d57a5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9c2e3288f05b01e9dacc3599a6298000.setContent(html_2c3cb74fb76916fa09e9c67ae33d57a5);
        

        marker_877579ee8133a820a18724614fca7e0a.bindPopup(popup_9c2e3288f05b01e9dacc3599a6298000)
        ;

        
    
    
            marker_877579ee8133a820a18724614fca7e0a.bindTooltip(
                `<div>
                     SHILOH VALLEY PRIMARY AFTER SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e9772ca0ddf6af0fdd6d3b3345c70f4 = L.marker(
                [35.0095429, -80.58139721792693],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_cdede1f75760e8d08f919e78dc7e0688 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3e9772ca0ddf6af0fdd6d3b3345c70f4.setIcon(icon_cdede1f75760e8d08f919e78dc7e0688);
        
    
        var popup_4d92252c9da5799365ec6f1ee7988549 = L.popup({"maxWidth": "100%"});

        
            var html_39d24650670961173749938aaedcff28 = $(`<div id="html_39d24650670961173749938aaedcff28" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4d92252c9da5799365ec6f1ee7988549.setContent(html_39d24650670961173749938aaedcff28);
        

        marker_3e9772ca0ddf6af0fdd6d3b3345c70f4.bindPopup(popup_4d92252c9da5799365ec6f1ee7988549)
        ;

        
    
    
            marker_3e9772ca0ddf6af0fdd6d3b3345c70f4.bindTooltip(
                `<div>
                     SHINING LIGHT BAPTIST ACADEMY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c50d31c01d1cdfa2d2b04312aa691d05 = L.marker(
                [34.991369, -80.49833],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_e75f50cb335a5af1fe05a13fdf48e888 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c50d31c01d1cdfa2d2b04312aa691d05.setIcon(icon_e75f50cb335a5af1fe05a13fdf48e888);
        
    
        var popup_a5ca898fd77e27e691002ce5b3aafe83 = L.popup({"maxWidth": "100%"});

        
            var html_9cabf974a5300472dc37284ce9a2bb4d = $(`<div id="html_9cabf974a5300472dc37284ce9a2bb4d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a5ca898fd77e27e691002ce5b3aafe83.setContent(html_9cabf974a5300472dc37284ce9a2bb4d);
        

        marker_c50d31c01d1cdfa2d2b04312aa691d05.bindPopup(popup_a5ca898fd77e27e691002ce5b3aafe83)
        ;

        
    
    
            marker_c50d31c01d1cdfa2d2b04312aa691d05.bindTooltip(
                `<div>
                     TABERNACLE CHRISTIAN CHILDCARE & LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_acbf6b2a50e9b032365e301511e2ab88 = L.marker(
                [35.0786178, -80.5765571],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_e646ddc596d8cea6ee5ddc81a4ca444f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_acbf6b2a50e9b032365e301511e2ab88.setIcon(icon_e646ddc596d8cea6ee5ddc81a4ca444f);
        
    
        var popup_8e92206fed529106415f0f2f8d8a6614 = L.popup({"maxWidth": "100%"});

        
            var html_96f0a82e1d108dbae59d01d0a8586424 = $(`<div id="html_96f0a82e1d108dbae59d01d0a8586424" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8e92206fed529106415f0f2f8d8a6614.setContent(html_96f0a82e1d108dbae59d01d0a8586424);
        

        marker_acbf6b2a50e9b032365e301511e2ab88.bindPopup(popup_8e92206fed529106415f0f2f8d8a6614)
        ;

        
    
    
            marker_acbf6b2a50e9b032365e301511e2ab88.bindTooltip(
                `<div>
                     UNIONVILLE ELEMENTARY AFTER SCHOOL CARE PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2c30ed884d3290b8ed4e9c30eb67b437 = L.marker(
                [34.976909, -80.553689],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_9bd0ea82fe316e69909648ad43f4e017 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2c30ed884d3290b8ed4e9c30eb67b437.setIcon(icon_9bd0ea82fe316e69909648ad43f4e017);
        
    
        var popup_8696f9edaed0c58f62f4d6ed612c511c = L.popup({"maxWidth": "100%"});

        
            var html_fcba860b77ae4b652eb8a52fa0543f71 = $(`<div id="html_fcba860b77ae4b652eb8a52fa0543f71" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8696f9edaed0c58f62f4d6ed612c511c.setContent(html_fcba860b77ae4b652eb8a52fa0543f71);
        

        marker_2c30ed884d3290b8ed4e9c30eb67b437.bindPopup(popup_8696f9edaed0c58f62f4d6ed612c511c)
        ;

        
    
    
            marker_2c30ed884d3290b8ed4e9c30eb67b437.bindTooltip(
                `<div>
                     WALTER BICKETT EDUCATION CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4e8a5b5d99a898bddb03cfa112f2f0d9 = L.marker(
                [34.974166, -80.548874],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_0dd83f922c81e0fce4711acb03395349 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4e8a5b5d99a898bddb03cfa112f2f0d9.setIcon(icon_0dd83f922c81e0fce4711acb03395349);
        
    
        var popup_14c5bf70279d0ebae5ee93906636ceab = L.popup({"maxWidth": "100%"});

        
            var html_eb0510b84fcb620a64723d39c12d93bc = $(`<div id="html_eb0510b84fcb620a64723d39c12d93bc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_14c5bf70279d0ebae5ee93906636ceab.setContent(html_eb0510b84fcb620a64723d39c12d93bc);
        

        marker_4e8a5b5d99a898bddb03cfa112f2f0d9.bindPopup(popup_14c5bf70279d0ebae5ee93906636ceab)
        ;

        
    
    
            marker_4e8a5b5d99a898bddb03cfa112f2f0d9.bindTooltip(
                `<div>
                     WEEKDAY CHILDREN'S MINISTRIES
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_40ba2a8d22b808e1806cec1b92470081 = L.marker(
                [34.979022845767695, -80.52643587003915],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_3d0836d6a32dd613fa300db8d68e0ff1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_40ba2a8d22b808e1806cec1b92470081.setIcon(icon_3d0836d6a32dd613fa300db8d68e0ff1);
        
    
        var popup_a0c49f53a9d64048bf883d451a7686b5 = L.popup({"maxWidth": "100%"});

        
            var html_c4095e00b0604548318b9220d16ccebb = $(`<div id="html_c4095e00b0604548318b9220d16ccebb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a0c49f53a9d64048bf883d451a7686b5.setContent(html_c4095e00b0604548318b9220d16ccebb);
        

        marker_40ba2a8d22b808e1806cec1b92470081.bindPopup(popup_a0c49f53a9d64048bf883d451a7686b5)
        ;

        
    
    
            marker_40ba2a8d22b808e1806cec1b92470081.bindTooltip(
                `<div>
                     WILMA'S DAY CARE, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eeedb0a0dcef714f72bce505e81577b9 = L.marker(
                [34.98655698616197, -80.5375470615118],
                {}
            ).addTo(map_16fc0b28a97f5d69183e9257ee021fd4);
        
    
            var icon_58266eade70eb9ec4ecc1ff744489b7b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_eeedb0a0dcef714f72bce505e81577b9.setIcon(icon_58266eade70eb9ec4ecc1ff744489b7b);
        
    
        var popup_658dfce20b36c1648562323b0f6845be = L.popup({"maxWidth": "100%"});

        
            var html_890e82a35462ba04b8721476575b2f7c = $(`<div id="html_890e82a35462ba04b8721476575b2f7c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_658dfce20b36c1648562323b0f6845be.setContent(html_890e82a35462ba04b8721476575b2f7c);
        

        marker_eeedb0a0dcef714f72bce505e81577b9.bindPopup(popup_658dfce20b36c1648562323b0f6845be)
        ;

        
    
    
            marker_eeedb0a0dcef714f72bce505e81577b9.bindTooltip(
                `<div>
                     WINCHESTER HEAD START PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
</script>