<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b947f2d72e6dc971037659ab433aea60 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b947f2d72e6dc971037659ab433aea60" ></div>
        
</body>
<script>    
    
            var map_b947f2d72e6dc971037659ab433aea60 = L.map(
                "map_b947f2d72e6dc971037659ab433aea60",
                {
                    center: [35.748849, -81.680614],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c677deb5d4d416326380c5f7bb850e8b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var marker_97c69c2fd5a86c36a9348879f94a503d = L.marker(
                [35.748849, -81.680614],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_5e86a85da5c1a42973c738e6156a6928 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_97c69c2fd5a86c36a9348879f94a503d.setIcon(icon_5e86a85da5c1a42973c738e6156a6928);
        
    
        var popup_adf3f20f0c14c3193b6dbff6fe36367e = L.popup({"maxWidth": "100%"});

        
            var html_5fc20b3ba88aa3b4c461cb670e65c3eb = $(`<div id="html_5fc20b3ba88aa3b4c461cb670e65c3eb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_adf3f20f0c14c3193b6dbff6fe36367e.setContent(html_5fc20b3ba88aa3b4c461cb670e65c3eb);
        

        marker_97c69c2fd5a86c36a9348879f94a503d.bindPopup(popup_adf3f20f0c14c3193b6dbff6fe36367e)
        ;

        
    
    
            marker_97c69c2fd5a86c36a9348879f94a503d.bindTooltip(
                `<div>
                     BURKE EARLY HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_15880ed57ecfc1f74ff988f728d8be53 = L.marker(
                [35.7457093, -81.6867789],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_a63fc18ce1bb8cd1b969120791d3ede3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_15880ed57ecfc1f74ff988f728d8be53.setIcon(icon_a63fc18ce1bb8cd1b969120791d3ede3);
        
    
        var popup_8cf73d8cdefb9af0cee78fab02c7e0c4 = L.popup({"maxWidth": "100%"});

        
            var html_769e079f0b699d922f42cdc8aa2be55e = $(`<div id="html_769e079f0b699d922f42cdc8aa2be55e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8cf73d8cdefb9af0cee78fab02c7e0c4.setContent(html_769e079f0b699d922f42cdc8aa2be55e);
        

        marker_15880ed57ecfc1f74ff988f728d8be53.bindPopup(popup_8cf73d8cdefb9af0cee78fab02c7e0c4)
        ;

        
    
    
            marker_15880ed57ecfc1f74ff988f728d8be53.bindTooltip(
                `<div>
                     CALVARY BAPTIST DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2fb53f79c1acebe505c3b283ac7df544 = L.marker(
                [35.75518396232245, -81.71638382002392],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_c8cdbb2b29c6951d2db2fdc11366a7b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2fb53f79c1acebe505c3b283ac7df544.setIcon(icon_c8cdbb2b29c6951d2db2fdc11366a7b8);
        
    
        var popup_085783e2a5568fdbf6b8023939327f85 = L.popup({"maxWidth": "100%"});

        
            var html_6bcb5214cd3b5cd2f9dd98a35d7b681d = $(`<div id="html_6bcb5214cd3b5cd2f9dd98a35d7b681d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_085783e2a5568fdbf6b8023939327f85.setContent(html_6bcb5214cd3b5cd2f9dd98a35d7b681d);
        

        marker_2fb53f79c1acebe505c3b283ac7df544.bindPopup(popup_085783e2a5568fdbf6b8023939327f85)
        ;

        
    
    
            marker_2fb53f79c1acebe505c3b283ac7df544.bindTooltip(
                `<div>
                     CREATIVE BEGINNINGS, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f17e89da61a0cda12be44075d27aba5d = L.marker(
                [35.74040186393163, -81.69389520501853],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_c0e30e7541410819d29d3130c6dd09da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f17e89da61a0cda12be44075d27aba5d.setIcon(icon_c0e30e7541410819d29d3130c6dd09da);
        
    
        var popup_7c95e919ed4f5775ff6c0a11d429dc7f = L.popup({"maxWidth": "100%"});

        
            var html_5272daf84517c5c4f70f2a4de35ffe04 = $(`<div id="html_5272daf84517c5c4f70f2a4de35ffe04" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7c95e919ed4f5775ff6c0a11d429dc7f.setContent(html_5272daf84517c5c4f70f2a4de35ffe04);
        

        marker_f17e89da61a0cda12be44075d27aba5d.bindPopup(popup_7c95e919ed4f5775ff6c0a11d429dc7f)
        ;

        
    
    
            marker_f17e89da61a0cda12be44075d27aba5d.bindTooltip(
                `<div>
                     FIRST BAPTIST PRESCHOOL & AFTERSCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7b0cb4d18b510cee247880f946c05029 = L.marker(
                [35.73207531725001, -81.70051053659027],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_5aac2f7201b134894b0eafa1b1b26b86 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7b0cb4d18b510cee247880f946c05029.setIcon(icon_5aac2f7201b134894b0eafa1b1b26b86);
        
    
        var popup_6d58cd1fa24534bf8ec12c8788a1e81a = L.popup({"maxWidth": "100%"});

        
            var html_3a40a93882951925ce1c033a6a9d2efa = $(`<div id="html_3a40a93882951925ce1c033a6a9d2efa" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6d58cd1fa24534bf8ec12c8788a1e81a.setContent(html_3a40a93882951925ce1c033a6a9d2efa);
        

        marker_7b0cb4d18b510cee247880f946c05029.bindPopup(popup_6d58cd1fa24534bf8ec12c8788a1e81a)
        ;

        
    
    
            marker_7b0cb4d18b510cee247880f946c05029.bindTooltip(
                `<div>
                     FOREST HILL PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1c65f3720b449a8b6bc13a7b81bf4fd = L.marker(
                [35.7229921, -81.70161862912052],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_4e0301d1faa85d7039991fca69cc5a76 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e1c65f3720b449a8b6bc13a7b81bf4fd.setIcon(icon_4e0301d1faa85d7039991fca69cc5a76);
        
    
        var popup_e0470d4990e2c434bb2881d1ea4f5cbd = L.popup({"maxWidth": "100%"});

        
            var html_e31496ac6bfb30f3020957f810a2f84e = $(`<div id="html_e31496ac6bfb30f3020957f810a2f84e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e0470d4990e2c434bb2881d1ea4f5cbd.setContent(html_e31496ac6bfb30f3020957f810a2f84e);
        

        marker_e1c65f3720b449a8b6bc13a7b81bf4fd.bindPopup(popup_e0470d4990e2c434bb2881d1ea4f5cbd)
        ;

        
    
    
            marker_e1c65f3720b449a8b6bc13a7b81bf4fd.bindTooltip(
                `<div>
                     GIGGLES N' GRINS 3 CHILD CARE & LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0b960c7f6618819fc94badd5aadfa92f = L.marker(
                [35.754838335968856, -81.67523173010046],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_b803a8fa683849411b0c19f9458347b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0b960c7f6618819fc94badd5aadfa92f.setIcon(icon_b803a8fa683849411b0c19f9458347b4);
        
    
        var popup_469031cd8fcf36ad89822152907fb463 = L.popup({"maxWidth": "100%"});

        
            var html_5625982b9cacac2425d6fee9ac9e5abd = $(`<div id="html_5625982b9cacac2425d6fee9ac9e5abd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_469031cd8fcf36ad89822152907fb463.setContent(html_5625982b9cacac2425d6fee9ac9e5abd);
        

        marker_0b960c7f6618819fc94badd5aadfa92f.bindPopup(popup_469031cd8fcf36ad89822152907fb463)
        ;

        
    
    
            marker_0b960c7f6618819fc94badd5aadfa92f.bindTooltip(
                `<div>
                     HILLCREST PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d592fd0248bf366ade1fc2daf9dd5e9e = L.marker(
                [35.74066655, -81.68848741875],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_4128f2d70b9ef5c093676212489e0b4b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d592fd0248bf366ade1fc2daf9dd5e9e.setIcon(icon_4128f2d70b9ef5c093676212489e0b4b);
        
    
        var popup_645e46393741258b33d81b8eab694251 = L.popup({"maxWidth": "100%"});

        
            var html_7d749620d326d4b8f045577b8e4cd2b7 = $(`<div id="html_7d749620d326d4b8f045577b8e4cd2b7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_645e46393741258b33d81b8eab694251.setContent(html_7d749620d326d4b8f045577b8e4cd2b7);
        

        marker_d592fd0248bf366ade1fc2daf9dd5e9e.bindPopup(popup_645e46393741258b33d81b8eab694251)
        ;

        
    
    
            marker_d592fd0248bf366ade1fc2daf9dd5e9e.bindTooltip(
                `<div>
                     MORGANTON DAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dad9656278b2bab528c28c571eae16d0 = L.marker(
                [35.75449224489796, -81.70133383673469],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_c7292d95d8d0a96be5388f4f877276dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_dad9656278b2bab528c28c571eae16d0.setIcon(icon_c7292d95d8d0a96be5388f4f877276dd);
        
    
        var popup_af787ac5f41f03e12c5693564b5e9ff3 = L.popup({"maxWidth": "100%"});

        
            var html_287125167fc7e8cb778bc236ebd8e763 = $(`<div id="html_287125167fc7e8cb778bc236ebd8e763" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_af787ac5f41f03e12c5693564b5e9ff3.setContent(html_287125167fc7e8cb778bc236ebd8e763);
        

        marker_dad9656278b2bab528c28c571eae16d0.bindPopup(popup_af787ac5f41f03e12c5693564b5e9ff3)
        ;

        
    
    
            marker_dad9656278b2bab528c28c571eae16d0.bindTooltip(
                `<div>
                     MOUNTAIN VIEW ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4e182575cdf2203389cd4786505d0569 = L.marker(
                [35.75449224489796, -81.70133383673469],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_ffa063204bcafa73e0802d05f20c588e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4e182575cdf2203389cd4786505d0569.setIcon(icon_ffa063204bcafa73e0802d05f20c588e);
        
    
        var popup_0ab6782980553aba288d654615ed0765 = L.popup({"maxWidth": "100%"});

        
            var html_246b0eb9368fcba24c4d401418f0dbb9 = $(`<div id="html_246b0eb9368fcba24c4d401418f0dbb9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0ab6782980553aba288d654615ed0765.setContent(html_246b0eb9368fcba24c4d401418f0dbb9);
        

        marker_4e182575cdf2203389cd4786505d0569.bindPopup(popup_0ab6782980553aba288d654615ed0765)
        ;

        
    
    
            marker_4e182575cdf2203389cd4786505d0569.bindTooltip(
                `<div>
                     MOUNTAIN VIEW ELEMENTARY YMCA CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc9b50dfcd259636750007f8999bddb8 = L.marker(
                [35.70455865, -81.65949535113063],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_0f1bad509321632ea1810d79fedf994a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cc9b50dfcd259636750007f8999bddb8.setIcon(icon_0f1bad509321632ea1810d79fedf994a);
        
    
        var popup_ae622f6a485e052a5d27129390e57c84 = L.popup({"maxWidth": "100%"});

        
            var html_d4afc11b84fe008f617e0176e0a960f8 = $(`<div id="html_d4afc11b84fe008f617e0176e0a960f8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ae622f6a485e052a5d27129390e57c84.setContent(html_d4afc11b84fe008f617e0176e0a960f8);
        

        marker_cc9b50dfcd259636750007f8999bddb8.bindPopup(popup_ae622f6a485e052a5d27129390e57c84)
        ;

        
    
    
            marker_cc9b50dfcd259636750007f8999bddb8.bindTooltip(
                `<div>
                     MULL ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ccf212747f497c8044269a9dbc197c78 = L.marker(
                [35.73020078180853, -81.69326955741336],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_78c4e94dcce77a436ee47dfb10916f51 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ccf212747f497c8044269a9dbc197c78.setIcon(icon_78c4e94dcce77a436ee47dfb10916f51);
        
    
        var popup_900e71fabf5c3ac7bfa3613341b0c8c5 = L.popup({"maxWidth": "100%"});

        
            var html_1550a1cf7e2ec943a86a3c46acfff966 = $(`<div id="html_1550a1cf7e2ec943a86a3c46acfff966" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_900e71fabf5c3ac7bfa3613341b0c8c5.setContent(html_1550a1cf7e2ec943a86a3c46acfff966);
        

        marker_ccf212747f497c8044269a9dbc197c78.bindPopup(popup_900e71fabf5c3ac7bfa3613341b0c8c5)
        ;

        
    
    
            marker_ccf212747f497c8044269a9dbc197c78.bindTooltip(
                `<div>
                     NC SCHOOL FOR THE DEAF
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d2742d83a591c6ba68eb9e870e581a1c = L.marker(
                [35.7233786, -81.6733628],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_3b2e3d6217085e8f346aecd2342c96be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d2742d83a591c6ba68eb9e870e581a1c.setIcon(icon_3b2e3d6217085e8f346aecd2342c96be);
        
    
        var popup_9238302ed852b9c7bd9a063218da625a = L.popup({"maxWidth": "100%"});

        
            var html_596d9fd5a3dcd3d4bb1ddef4b423dff2 = $(`<div id="html_596d9fd5a3dcd3d4bb1ddef4b423dff2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9238302ed852b9c7bd9a063218da625a.setContent(html_596d9fd5a3dcd3d4bb1ddef4b423dff2);
        

        marker_d2742d83a591c6ba68eb9e870e581a1c.bindPopup(popup_9238302ed852b9c7bd9a063218da625a)
        ;

        
    
    
            marker_d2742d83a591c6ba68eb9e870e581a1c.bindTooltip(
                `<div>
                     NORTH LIBERTY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b455aee880b9be68b1829aa683d3fbe6 = L.marker(
                [35.749651, -81.704504],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_a53145eff7196b0656fc17e15ff63f32 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b455aee880b9be68b1829aa683d3fbe6.setIcon(icon_a53145eff7196b0656fc17e15ff63f32);
        
    
        var popup_a02b6bb9d0a9a5559d75c279e2e3efbd = L.popup({"maxWidth": "100%"});

        
            var html_03b9b64fce3df6dae3bbf11b5b0ea415 = $(`<div id="html_03b9b64fce3df6dae3bbf11b5b0ea415" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a02b6bb9d0a9a5559d75c279e2e3efbd.setContent(html_03b9b64fce3df6dae3bbf11b5b0ea415);
        

        marker_b455aee880b9be68b1829aa683d3fbe6.bindPopup(popup_a02b6bb9d0a9a5559d75c279e2e3efbd)
        ;

        
    
    
            marker_b455aee880b9be68b1829aa683d3fbe6.bindTooltip(
                `<div>
                     QUAKER MEADOWS GENERATIONS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_abbee82cfdd161a8fdbad5968197abcf = L.marker(
                [35.7030218, -81.7003079],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_e2652bb0ef76f8822924717f62f700cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_abbee82cfdd161a8fdbad5968197abcf.setIcon(icon_e2652bb0ef76f8822924717f62f700cd);
        
    
        var popup_b13dec18bbf48f44cae061b38c1e0947 = L.popup({"maxWidth": "100%"});

        
            var html_e92c3b4bbae381aa73c0a0ea50e5565c = $(`<div id="html_e92c3b4bbae381aa73c0a0ea50e5565c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b13dec18bbf48f44cae061b38c1e0947.setContent(html_e92c3b4bbae381aa73c0a0ea50e5565c);
        

        marker_abbee82cfdd161a8fdbad5968197abcf.bindPopup(popup_b13dec18bbf48f44cae061b38c1e0947)
        ;

        
    
    
            marker_abbee82cfdd161a8fdbad5968197abcf.bindTooltip(
                `<div>
                     SALEM ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5d93ee471f01ee2e8d267d94b1dd5ec9 = L.marker(
                [35.7030218, -81.7003079],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_406f42328a0e147dc49a749c57794d67 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5d93ee471f01ee2e8d267d94b1dd5ec9.setIcon(icon_406f42328a0e147dc49a749c57794d67);
        
    
        var popup_62329c8d713f1522469d02e9afbbdfe8 = L.popup({"maxWidth": "100%"});

        
            var html_f93eeab5baaceee5f3b1bfd592dedd51 = $(`<div id="html_f93eeab5baaceee5f3b1bfd592dedd51" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_62329c8d713f1522469d02e9afbbdfe8.setContent(html_f93eeab5baaceee5f3b1bfd592dedd51);
        

        marker_5d93ee471f01ee2e8d267d94b1dd5ec9.bindPopup(popup_62329c8d713f1522469d02e9afbbdfe8)
        ;

        
    
    
            marker_5d93ee471f01ee2e8d267d94b1dd5ec9.bindTooltip(
                `<div>
                     SALEM ELEMENTARY YMCA CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_66094cb9224d44df8499f427920da051 = L.marker(
                [35.718017305147505, -81.76762424502536],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_065e026f02a18eb89b83175198a364c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_66094cb9224d44df8499f427920da051.setIcon(icon_065e026f02a18eb89b83175198a364c9);
        
    
        var popup_96680e2c7984ad83a6bd2f6433ad1242 = L.popup({"maxWidth": "100%"});

        
            var html_30237994881c156f833913c97b4a80d6 = $(`<div id="html_30237994881c156f833913c97b4a80d6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_96680e2c7984ad83a6bd2f6433ad1242.setContent(html_30237994881c156f833913c97b4a80d6);
        

        marker_66094cb9224d44df8499f427920da051.bindPopup(popup_96680e2c7984ad83a6bd2f6433ad1242)
        ;

        
    
    
            marker_66094cb9224d44df8499f427920da051.bindTooltip(
                `<div>
                     W A YOUNG PRE-K/MORE AT FOUR
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d7ffcac7f6555889f7ddd319129251c2 = L.marker(
                [35.718017305147505, -81.76762424502536],
                {}
            ).addTo(map_b947f2d72e6dc971037659ab433aea60);
        
    
            var icon_d63676a01fccc3a6c8b9f971eda861f9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d7ffcac7f6555889f7ddd319129251c2.setIcon(icon_d63676a01fccc3a6c8b9f971eda861f9);
        
    
        var popup_337559eced88ff30f58b9d428d30d784 = L.popup({"maxWidth": "100%"});

        
            var html_9627266a5d5aa8f8a5a021ac3350fbe0 = $(`<div id="html_9627266a5d5aa8f8a5a021ac3350fbe0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_337559eced88ff30f58b9d428d30d784.setContent(html_9627266a5d5aa8f8a5a021ac3350fbe0);
        

        marker_d7ffcac7f6555889f7ddd319129251c2.bindPopup(popup_337559eced88ff30f58b9d428d30d784)
        ;

        
    
    
            marker_d7ffcac7f6555889f7ddd319129251c2.bindTooltip(
                `<div>
                     WA YOUNG ELEMENTARY YMCA CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
</script>