<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_484c5714736e53a2010b7c821ea0a932 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_484c5714736e53a2010b7c821ea0a932" ></div>
        
</body>
<script>    
    
            var map_484c5714736e53a2010b7c821ea0a932 = L.map(
                "map_484c5714736e53a2010b7c821ea0a932",
                {
                    center: [36.490765, -80.602658],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8d2d7aeb1c93ee14db4a3b866c25989b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var marker_91bd417ed32bb6f25f412793e5bc120a = L.marker(
                [36.490765, -80.602658],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_52dd8567ee23129ed609cae2dac6ffa3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_91bd417ed32bb6f25f412793e5bc120a.setIcon(icon_52dd8567ee23129ed609cae2dac6ffa3);
        
    
        var popup_cc1c1c8fe29aad9c39b4e6d595b289c5 = L.popup({"maxWidth": "100%"});

        
            var html_dbceaaacc3f986148fcddf6ad81649f4 = $(`<div id="html_dbceaaacc3f986148fcddf6ad81649f4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cc1c1c8fe29aad9c39b4e6d595b289c5.setContent(html_dbceaaacc3f986148fcddf6ad81649f4);
        

        marker_91bd417ed32bb6f25f412793e5bc120a.bindPopup(popup_cc1c1c8fe29aad9c39b4e6d595b289c5)
        ;

        
    
    
            marker_91bd417ed32bb6f25f412793e5bc120a.bindTooltip(
                `<div>
                     BH THARRINGTON PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b16461ec23fbc2f40cf89014ada86782 = L.marker(
                [36.490765, -80.602658],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_a57bf302815ad95dec1faa9c613cd1cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b16461ec23fbc2f40cf89014ada86782.setIcon(icon_a57bf302815ad95dec1faa9c613cd1cd);
        
    
        var popup_f2df58595fd23b141facb826554c054a = L.popup({"maxWidth": "100%"});

        
            var html_83b7465b7aab274461a30c3e8fda6f49 = $(`<div id="html_83b7465b7aab274461a30c3e8fda6f49" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f2df58595fd23b141facb826554c054a.setContent(html_83b7465b7aab274461a30c3e8fda6f49);
        

        marker_b16461ec23fbc2f40cf89014ada86782.bindPopup(popup_f2df58595fd23b141facb826554c054a)
        ;

        
    
    
            marker_b16461ec23fbc2f40cf89014ada86782.bindTooltip(
                `<div>
                     BH THARRINGTON PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0e8771d25d9307820e92aa1f945598b7 = L.marker(
                [36.52304155, -80.60442440985332],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_1db387b69e2c52e2e41828ed8a064d4c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0e8771d25d9307820e92aa1f945598b7.setIcon(icon_1db387b69e2c52e2e41828ed8a064d4c);
        
    
        var popup_56a08e02f1ab66317be93621ef85aa62 = L.popup({"maxWidth": "100%"});

        
            var html_09ab702de31322498b5b7183bcba84d0 = $(`<div id="html_09ab702de31322498b5b7183bcba84d0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_56a08e02f1ab66317be93621ef85aa62.setContent(html_09ab702de31322498b5b7183bcba84d0);
        

        marker_0e8771d25d9307820e92aa1f945598b7.bindPopup(popup_56a08e02f1ab66317be93621ef85aa62)
        ;

        
    
    
            marker_0e8771d25d9307820e92aa1f945598b7.bindTooltip(
                `<div>
                     CENTRAL METHODIST CHILD CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_24b5c38c8c4cea85e315352a4a63ff5e = L.marker(
                [36.52304155, -80.60442440985332],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_b6e38a307a5a78564e434e97f9830c1a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_24b5c38c8c4cea85e315352a4a63ff5e.setIcon(icon_b6e38a307a5a78564e434e97f9830c1a);
        
    
        var popup_a9204fe5e7c7fd0a6592091ba7b09408 = L.popup({"maxWidth": "100%"});

        
            var html_ee2f0a96054f89cb697fe716f7c74877 = $(`<div id="html_ee2f0a96054f89cb697fe716f7c74877" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a9204fe5e7c7fd0a6592091ba7b09408.setContent(html_ee2f0a96054f89cb697fe716f7c74877);
        

        marker_24b5c38c8c4cea85e315352a4a63ff5e.bindPopup(popup_a9204fe5e7c7fd0a6592091ba7b09408)
        ;

        
    
    
            marker_24b5c38c8c4cea85e315352a4a63ff5e.bindTooltip(
                `<div>
                     CENTRAL METHODIST CHILD CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9d96038620bd9538c2c90655cd41320 = L.marker(
                [36.5132228, -80.5686001],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_536b663f2b59ec8e326e33aed7eb1841 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e9d96038620bd9538c2c90655cd41320.setIcon(icon_536b663f2b59ec8e326e33aed7eb1841);
        
    
        var popup_5d435f97684385b481ae2677fa69ca6d = L.popup({"maxWidth": "100%"});

        
            var html_2eda68afda0acf3ca39a32f0999fd6c9 = $(`<div id="html_2eda68afda0acf3ca39a32f0999fd6c9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5d435f97684385b481ae2677fa69ca6d.setContent(html_2eda68afda0acf3ca39a32f0999fd6c9);
        

        marker_e9d96038620bd9538c2c90655cd41320.bindPopup(popup_5d435f97684385b481ae2677fa69ca6d)
        ;

        
    
    
            marker_e9d96038620bd9538c2c90655cd41320.bindTooltip(
                `<div>
                     FLAT ROCK ELEMENTARY PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5ee6f03feafcdf2db360aa321b49695b = L.marker(
                [36.5132228, -80.5686001],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_9f662aacc6a3e6b92c56508c0cade76b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5ee6f03feafcdf2db360aa321b49695b.setIcon(icon_9f662aacc6a3e6b92c56508c0cade76b);
        
    
        var popup_68e5ce826b97c39bde8069882e622cfa = L.popup({"maxWidth": "100%"});

        
            var html_8d6ef47da92d52c0fa1be0601fc864ee = $(`<div id="html_8d6ef47da92d52c0fa1be0601fc864ee" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_68e5ce826b97c39bde8069882e622cfa.setContent(html_8d6ef47da92d52c0fa1be0601fc864ee);
        

        marker_5ee6f03feafcdf2db360aa321b49695b.bindPopup(popup_68e5ce826b97c39bde8069882e622cfa)
        ;

        
    
    
            marker_5ee6f03feafcdf2db360aa321b49695b.bindTooltip(
                `<div>
                     FLAT ROCK ELEMENTARY PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1fb7e290de7ad1724f012cb0c8c79750 = L.marker(
                [36.478488, -80.622796],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_d858555612e81fdf737b310eeafbec4b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1fb7e290de7ad1724f012cb0c8c79750.setIcon(icon_d858555612e81fdf737b310eeafbec4b);
        
    
        var popup_73cf57f4d4d3336f3413ec138c75689e = L.popup({"maxWidth": "100%"});

        
            var html_d5cd2e7efc45b2abb3ef68f41d077554 = $(`<div id="html_d5cd2e7efc45b2abb3ef68f41d077554" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_73cf57f4d4d3336f3413ec138c75689e.setContent(html_d5cd2e7efc45b2abb3ef68f41d077554);
        

        marker_1fb7e290de7ad1724f012cb0c8c79750.bindPopup(popup_73cf57f4d4d3336f3413ec138c75689e)
        ;

        
    
    
            marker_1fb7e290de7ad1724f012cb0c8c79750.bindTooltip(
                `<div>
                     FRANKLIN ELEMENTARY PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f4e905af7fead1314f72df8ed77de148 = L.marker(
                [36.478488, -80.622796],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_a4955128c8c1e83bd38ce846c626d7b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f4e905af7fead1314f72df8ed77de148.setIcon(icon_a4955128c8c1e83bd38ce846c626d7b7);
        
    
        var popup_30c9fdf4f2a62fe25366f899872a1d1c = L.popup({"maxWidth": "100%"});

        
            var html_76ebe5c2ad82f5a99f0a8f20ff7b5dbb = $(`<div id="html_76ebe5c2ad82f5a99f0a8f20ff7b5dbb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_30c9fdf4f2a62fe25366f899872a1d1c.setContent(html_76ebe5c2ad82f5a99f0a8f20ff7b5dbb);
        

        marker_f4e905af7fead1314f72df8ed77de148.bindPopup(popup_30c9fdf4f2a62fe25366f899872a1d1c)
        ;

        
    
    
            marker_f4e905af7fead1314f72df8ed77de148.bindTooltip(
                `<div>
                     FRANKLIN ELEMENTARY PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_94f6e9ece2c8300831b0860110909cbc = L.marker(
                [36.53130874439926, -80.60195224549052],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_e44592dc47281ec8db21f674980ce195 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_94f6e9ece2c8300831b0860110909cbc.setIcon(icon_e44592dc47281ec8db21f674980ce195);
        
    
        var popup_644ad4a0de2184f7906b4c36c1cde1dd = L.popup({"maxWidth": "100%"});

        
            var html_86f2676ae5247afa00e72e6fb8b3f71c = $(`<div id="html_86f2676ae5247afa00e72e6fb8b3f71c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_644ad4a0de2184f7906b4c36c1cde1dd.setContent(html_86f2676ae5247afa00e72e6fb8b3f71c);
        

        marker_94f6e9ece2c8300831b0860110909cbc.bindPopup(popup_644ad4a0de2184f7906b4c36c1cde1dd)
        ;

        
    
    
            marker_94f6e9ece2c8300831b0860110909cbc.bindTooltip(
                `<div>
                     JONES HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd71e2f678b200e03a557667b15f1721 = L.marker(
                [36.53130874439926, -80.60195224549052],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_f5b5ff4edf832e248a554a5ca4836151 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bd71e2f678b200e03a557667b15f1721.setIcon(icon_f5b5ff4edf832e248a554a5ca4836151);
        
    
        var popup_df704ad5b68b4bb9890f05817d14c7e2 = L.popup({"maxWidth": "100%"});

        
            var html_5291649324849e0053a33140e5c0778f = $(`<div id="html_5291649324849e0053a33140e5c0778f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_df704ad5b68b4bb9890f05817d14c7e2.setContent(html_5291649324849e0053a33140e5c0778f);
        

        marker_bd71e2f678b200e03a557667b15f1721.bindPopup(popup_df704ad5b68b4bb9890f05817d14c7e2)
        ;

        
    
    
            marker_bd71e2f678b200e03a557667b15f1721.bindTooltip(
                `<div>
                     JONES HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_619af33cd881b174c93290300be15f09 = L.marker(
                [36.493961, -80.615061],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_03fa212893fa06249517160d10fca3f9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_619af33cd881b174c93290300be15f09.setIcon(icon_03fa212893fa06249517160d10fca3f9);
        
    
        var popup_eef1a00f1c627502dba642ece1756f2d = L.popup({"maxWidth": "100%"});

        
            var html_8b2ca5cc1088e0b6730cd4bbd0619faa = $(`<div id="html_8b2ca5cc1088e0b6730cd4bbd0619faa" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_eef1a00f1c627502dba642ece1756f2d.setContent(html_8b2ca5cc1088e0b6730cd4bbd0619faa);
        

        marker_619af33cd881b174c93290300be15f09.bindPopup(popup_eef1a00f1c627502dba642ece1756f2d)
        ;

        
    
    
            marker_619af33cd881b174c93290300be15f09.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8e82b3b511fa56b07a570e3de9c0063c = L.marker(
                [36.493961, -80.615061],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_4dd4e1e5992571e5f89a0508f5ddf748 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8e82b3b511fa56b07a570e3de9c0063c.setIcon(icon_4dd4e1e5992571e5f89a0508f5ddf748);
        
    
        var popup_520be93634aa5cee00c0838028f179f8 = L.popup({"maxWidth": "100%"});

        
            var html_743d9fdabab8c445abdc581d7e9cdd32 = $(`<div id="html_743d9fdabab8c445abdc581d7e9cdd32" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_520be93634aa5cee00c0838028f179f8.setContent(html_743d9fdabab8c445abdc581d7e9cdd32);
        

        marker_8e82b3b511fa56b07a570e3de9c0063c.bindPopup(popup_520be93634aa5cee00c0838028f179f8)
        ;

        
    
    
            marker_8e82b3b511fa56b07a570e3de9c0063c.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e278e8ec31a819d916e73c49503dcaca = L.marker(
                [36.51961405, -80.59254893214879],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_314a53fb2938d58e0bce1c94aef5a002 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e278e8ec31a819d916e73c49503dcaca.setIcon(icon_314a53fb2938d58e0bce1c94aef5a002);
        
    
        var popup_a475c58bf94ce5a7fefe5155786bf623 = L.popup({"maxWidth": "100%"});

        
            var html_e8d65aff3776cf6f221c63a380a01de1 = $(`<div id="html_e8d65aff3776cf6f221c63a380a01de1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a475c58bf94ce5a7fefe5155786bf623.setContent(html_e8d65aff3776cf6f221c63a380a01de1);
        

        marker_e278e8ec31a819d916e73c49503dcaca.bindPopup(popup_a475c58bf94ce5a7fefe5155786bf623)
        ;

        
    
    
            marker_e278e8ec31a819d916e73c49503dcaca.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_211c82d2b3c2e8b623c563dfab392a5f = L.marker(
                [36.51961405, -80.59254893214879],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_953fddbae58e00115c1643c83ff985d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_211c82d2b3c2e8b623c563dfab392a5f.setIcon(icon_953fddbae58e00115c1643c83ff985d4);
        
    
        var popup_f27b7e823a0b48cdb92569788ca60ef1 = L.popup({"maxWidth": "100%"});

        
            var html_420c2c912af8e72e1803b9dafbd52d71 = $(`<div id="html_420c2c912af8e72e1803b9dafbd52d71" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f27b7e823a0b48cdb92569788ca60ef1.setContent(html_420c2c912af8e72e1803b9dafbd52d71);
        

        marker_211c82d2b3c2e8b623c563dfab392a5f.bindPopup(popup_f27b7e823a0b48cdb92569788ca60ef1)
        ;

        
    
    
            marker_211c82d2b3c2e8b623c563dfab392a5f.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_14a722ad2e49884cbd24ab61aa293152 = L.marker(
                [36.477232123609085, -80.62315825631875],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_01fafed4c1ba71575ee9b34cd83efce4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_14a722ad2e49884cbd24ab61aa293152.setIcon(icon_01fafed4c1ba71575ee9b34cd83efce4);
        
    
        var popup_6c1249f67ff9bd652c7b4f39b3968430 = L.popup({"maxWidth": "100%"});

        
            var html_06dcb992f54dcc2170874b039037a181 = $(`<div id="html_06dcb992f54dcc2170874b039037a181" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6c1249f67ff9bd652c7b4f39b3968430.setContent(html_06dcb992f54dcc2170874b039037a181);
        

        marker_14a722ad2e49884cbd24ab61aa293152.bindPopup(popup_6c1249f67ff9bd652c7b4f39b3968430)
        ;

        
    
    
            marker_14a722ad2e49884cbd24ab61aa293152.bindTooltip(
                `<div>
                     MAGICAL MOMENTS LEARNING ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ad4f6f6e17bc7decf58ba6fbef4a8dfc = L.marker(
                [36.477232123609085, -80.62315825631875],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_bf091e7569487069063c6343384f9053 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ad4f6f6e17bc7decf58ba6fbef4a8dfc.setIcon(icon_bf091e7569487069063c6343384f9053);
        
    
        var popup_936d433eae0eeb068c86e8276108a8d2 = L.popup({"maxWidth": "100%"});

        
            var html_40212be65b4e788abfddb9e0f0a80f25 = $(`<div id="html_40212be65b4e788abfddb9e0f0a80f25" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_936d433eae0eeb068c86e8276108a8d2.setContent(html_40212be65b4e788abfddb9e0f0a80f25);
        

        marker_ad4f6f6e17bc7decf58ba6fbef4a8dfc.bindPopup(popup_936d433eae0eeb068c86e8276108a8d2)
        ;

        
    
    
            marker_ad4f6f6e17bc7decf58ba6fbef4a8dfc.bindTooltip(
                `<div>
                     MAGICAL MOMENTS LEARNING ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_abee255fa107d6e4f2e61473e60c4f1f = L.marker(
                [36.50315284695488, -80.60431760271847],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_01edc9f94c85b730ab29480848b20ac8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_abee255fa107d6e4f2e61473e60c4f1f.setIcon(icon_01edc9f94c85b730ab29480848b20ac8);
        
    
        var popup_a65399644a995c57a79bf6b820beec23 = L.popup({"maxWidth": "100%"});

        
            var html_05159a765d6c1129b7534568f30f5e55 = $(`<div id="html_05159a765d6c1129b7534568f30f5e55" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a65399644a995c57a79bf6b820beec23.setContent(html_05159a765d6c1129b7534568f30f5e55);
        

        marker_abee255fa107d6e4f2e61473e60c4f1f.bindPopup(popup_a65399644a995c57a79bf6b820beec23)
        ;

        
    
    
            marker_abee255fa107d6e4f2e61473e60c4f1f.bindTooltip(
                `<div>
                     RAINBOW CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0591f1bec7e8feb0257f4c498ad02b0f = L.marker(
                [36.50315284695488, -80.60431760271847],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_85723d835d1260ad54cf53258ba75fd0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0591f1bec7e8feb0257f4c498ad02b0f.setIcon(icon_85723d835d1260ad54cf53258ba75fd0);
        
    
        var popup_5dcc6ada439ba2c10e864eed2bedced2 = L.popup({"maxWidth": "100%"});

        
            var html_6803d29bda593977d46d83e19a4860dc = $(`<div id="html_6803d29bda593977d46d83e19a4860dc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5dcc6ada439ba2c10e864eed2bedced2.setContent(html_6803d29bda593977d46d83e19a4860dc);
        

        marker_0591f1bec7e8feb0257f4c498ad02b0f.bindPopup(popup_5dcc6ada439ba2c10e864eed2bedced2)
        ;

        
    
    
            marker_0591f1bec7e8feb0257f4c498ad02b0f.bindTooltip(
                `<div>
                     RAINBOW CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_63903770f128fd05390f7343c336d662 = L.marker(
                [36.50168, -80.601673],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_588870312b914ea884bfa8a58d20520d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_63903770f128fd05390f7343c336d662.setIcon(icon_588870312b914ea884bfa8a58d20520d);
        
    
        var popup_ecc7ddb86abc432c0201ab53750fc4ce = L.popup({"maxWidth": "100%"});

        
            var html_8f83f1bb8318f6af4f5e38ea59ef11a6 = $(`<div id="html_8f83f1bb8318f6af4f5e38ea59ef11a6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ecc7ddb86abc432c0201ab53750fc4ce.setContent(html_8f83f1bb8318f6af4f5e38ea59ef11a6);
        

        marker_63903770f128fd05390f7343c336d662.bindPopup(popup_ecc7ddb86abc432c0201ab53750fc4ce)
        ;

        
    
    
            marker_63903770f128fd05390f7343c336d662.bindTooltip(
                `<div>
                     SOUTH MAIN CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_442f59c4d6f17a3df1dd5d0256c2f6ee = L.marker(
                [36.50168, -80.601673],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_c886c9bf59328404eb251c8b29fe3116 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_442f59c4d6f17a3df1dd5d0256c2f6ee.setIcon(icon_c886c9bf59328404eb251c8b29fe3116);
        
    
        var popup_61f7ed8923105e759cd8e94632b4dbb1 = L.popup({"maxWidth": "100%"});

        
            var html_66be48892eadfa18d0f9af3b71f6873b = $(`<div id="html_66be48892eadfa18d0f9af3b71f6873b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_61f7ed8923105e759cd8e94632b4dbb1.setContent(html_66be48892eadfa18d0f9af3b71f6873b);
        

        marker_442f59c4d6f17a3df1dd5d0256c2f6ee.bindPopup(popup_61f7ed8923105e759cd8e94632b4dbb1)
        ;

        
    
    
            marker_442f59c4d6f17a3df1dd5d0256c2f6ee.bindTooltip(
                `<div>
                     SOUTH MAIN CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_59deffd0e42d32f12313047814ea359a = L.marker(
                [36.486439515126506, -80.59071824911378],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_0b6e823ecf2cd1f84d4daeaf4ed2c1a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_59deffd0e42d32f12313047814ea359a.setIcon(icon_0b6e823ecf2cd1f84d4daeaf4ed2c1a2);
        
    
        var popup_ca830b6e76ed3850bf5c6e63b5eb37ff = L.popup({"maxWidth": "100%"});

        
            var html_20e47828850d776583d8239afa7851a4 = $(`<div id="html_20e47828850d776583d8239afa7851a4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ca830b6e76ed3850bf5c6e63b5eb37ff.setContent(html_20e47828850d776583d8239afa7851a4);
        

        marker_59deffd0e42d32f12313047814ea359a.bindPopup(popup_ca830b6e76ed3850bf5c6e63b5eb37ff)
        ;

        
    
    
            marker_59deffd0e42d32f12313047814ea359a.bindTooltip(
                `<div>
                     SOUTH MAIN CHILDREN'S CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df59c26513c871564a52bfa3fffe5554 = L.marker(
                [36.486439515126506, -80.59071824911378],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_13f524a47fc8589abeedab64660787a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_df59c26513c871564a52bfa3fffe5554.setIcon(icon_13f524a47fc8589abeedab64660787a9);
        
    
        var popup_0a982493cb2ab34237f2727b2f2049dc = L.popup({"maxWidth": "100%"});

        
            var html_3aa569723747db19d05b1fa75acd4b2b = $(`<div id="html_3aa569723747db19d05b1fa75acd4b2b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0a982493cb2ab34237f2727b2f2049dc.setContent(html_3aa569723747db19d05b1fa75acd4b2b);
        

        marker_df59c26513c871564a52bfa3fffe5554.bindPopup(popup_0a982493cb2ab34237f2727b2f2049dc)
        ;

        
    
    
            marker_df59c26513c871564a52bfa3fffe5554.bindTooltip(
                `<div>
                     SOUTH MAIN CHILDREN'S CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_69f418bf958fbfd0089ab281e83d6b86 = L.marker(
                [36.490765, -80.602658],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_57b5eef8c54405afee1cfe6454390338 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_69f418bf958fbfd0089ab281e83d6b86.setIcon(icon_57b5eef8c54405afee1cfe6454390338);
        
    
        var popup_4c465a01fe3505783c291c88e1759b1d = L.popup({"maxWidth": "100%"});

        
            var html_9f5f0b25d5e563657f0c192612a1748c = $(`<div id="html_9f5f0b25d5e563657f0c192612a1748c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4c465a01fe3505783c291c88e1759b1d.setContent(html_9f5f0b25d5e563657f0c192612a1748c);
        

        marker_69f418bf958fbfd0089ab281e83d6b86.bindPopup(popup_4c465a01fe3505783c291c88e1759b1d)
        ;

        
    
    
            marker_69f418bf958fbfd0089ab281e83d6b86.bindTooltip(
                `<div>
                     BH THARRINGTON PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_948af7484c7d90b09d61b6d8ce83d25b = L.marker(
                [36.490765, -80.602658],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_4cf1382afaf17ca98657086d0df864bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_948af7484c7d90b09d61b6d8ce83d25b.setIcon(icon_4cf1382afaf17ca98657086d0df864bb);
        
    
        var popup_64f15841d2db019710d46fd108e10c67 = L.popup({"maxWidth": "100%"});

        
            var html_fa75c5076e81db8e04e4b44c4149b6f0 = $(`<div id="html_fa75c5076e81db8e04e4b44c4149b6f0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_64f15841d2db019710d46fd108e10c67.setContent(html_fa75c5076e81db8e04e4b44c4149b6f0);
        

        marker_948af7484c7d90b09d61b6d8ce83d25b.bindPopup(popup_64f15841d2db019710d46fd108e10c67)
        ;

        
    
    
            marker_948af7484c7d90b09d61b6d8ce83d25b.bindTooltip(
                `<div>
                     BH THARRINGTON PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c4a791427d45f137933fa76af4a493f0 = L.marker(
                [36.52304155, -80.60442440985332],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_2fee0ffc9554b15e2ffcebc7f8e46e7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c4a791427d45f137933fa76af4a493f0.setIcon(icon_2fee0ffc9554b15e2ffcebc7f8e46e7e);
        
    
        var popup_55c331f109bfc5bdfdb51c3632f13796 = L.popup({"maxWidth": "100%"});

        
            var html_a91bd0f8d93955dfa8b9ea3e72d95b99 = $(`<div id="html_a91bd0f8d93955dfa8b9ea3e72d95b99" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_55c331f109bfc5bdfdb51c3632f13796.setContent(html_a91bd0f8d93955dfa8b9ea3e72d95b99);
        

        marker_c4a791427d45f137933fa76af4a493f0.bindPopup(popup_55c331f109bfc5bdfdb51c3632f13796)
        ;

        
    
    
            marker_c4a791427d45f137933fa76af4a493f0.bindTooltip(
                `<div>
                     CENTRAL METHODIST CHILD CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_500da2cc8dab55d574cda1fdd213dad3 = L.marker(
                [36.52304155, -80.60442440985332],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_c2d774cab5b010275ea14353d292b591 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_500da2cc8dab55d574cda1fdd213dad3.setIcon(icon_c2d774cab5b010275ea14353d292b591);
        
    
        var popup_742ad6cd938588125d80bbbd271a9dc7 = L.popup({"maxWidth": "100%"});

        
            var html_1b061d9e9a4532e65d0298cc6b06d054 = $(`<div id="html_1b061d9e9a4532e65d0298cc6b06d054" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_742ad6cd938588125d80bbbd271a9dc7.setContent(html_1b061d9e9a4532e65d0298cc6b06d054);
        

        marker_500da2cc8dab55d574cda1fdd213dad3.bindPopup(popup_742ad6cd938588125d80bbbd271a9dc7)
        ;

        
    
    
            marker_500da2cc8dab55d574cda1fdd213dad3.bindTooltip(
                `<div>
                     CENTRAL METHODIST CHILD CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b6d2429e64ff9ad6875666a36f0e90a2 = L.marker(
                [36.5132228, -80.5686001],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_669d4f0dca665c509286cf3ed8f2ada3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b6d2429e64ff9ad6875666a36f0e90a2.setIcon(icon_669d4f0dca665c509286cf3ed8f2ada3);
        
    
        var popup_7946e54f1633e1768714a7360da1ce54 = L.popup({"maxWidth": "100%"});

        
            var html_d9793ad0af334cdf699596ddb462ccc7 = $(`<div id="html_d9793ad0af334cdf699596ddb462ccc7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7946e54f1633e1768714a7360da1ce54.setContent(html_d9793ad0af334cdf699596ddb462ccc7);
        

        marker_b6d2429e64ff9ad6875666a36f0e90a2.bindPopup(popup_7946e54f1633e1768714a7360da1ce54)
        ;

        
    
    
            marker_b6d2429e64ff9ad6875666a36f0e90a2.bindTooltip(
                `<div>
                     FLAT ROCK ELEMENTARY PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_90a27ecfaba68ddb141b6764596a0acf = L.marker(
                [36.5132228, -80.5686001],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_1510df88cf269ab9589c21a014c4eb87 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_90a27ecfaba68ddb141b6764596a0acf.setIcon(icon_1510df88cf269ab9589c21a014c4eb87);
        
    
        var popup_b4114862f920a2088aef9dc05b550b39 = L.popup({"maxWidth": "100%"});

        
            var html_b69d3421ccccf3ffd4a77d949d2d899d = $(`<div id="html_b69d3421ccccf3ffd4a77d949d2d899d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b4114862f920a2088aef9dc05b550b39.setContent(html_b69d3421ccccf3ffd4a77d949d2d899d);
        

        marker_90a27ecfaba68ddb141b6764596a0acf.bindPopup(popup_b4114862f920a2088aef9dc05b550b39)
        ;

        
    
    
            marker_90a27ecfaba68ddb141b6764596a0acf.bindTooltip(
                `<div>
                     FLAT ROCK ELEMENTARY PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_33f3bbc387c2f74e73cbe2c678976667 = L.marker(
                [36.478488, -80.622796],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_e9c91ae336a8b23e016667df91d61af6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_33f3bbc387c2f74e73cbe2c678976667.setIcon(icon_e9c91ae336a8b23e016667df91d61af6);
        
    
        var popup_c7ef3c3dc963449b8fbcded01e0a798d = L.popup({"maxWidth": "100%"});

        
            var html_ce72537a5ca7f4cbf2ff141b80baea78 = $(`<div id="html_ce72537a5ca7f4cbf2ff141b80baea78" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c7ef3c3dc963449b8fbcded01e0a798d.setContent(html_ce72537a5ca7f4cbf2ff141b80baea78);
        

        marker_33f3bbc387c2f74e73cbe2c678976667.bindPopup(popup_c7ef3c3dc963449b8fbcded01e0a798d)
        ;

        
    
    
            marker_33f3bbc387c2f74e73cbe2c678976667.bindTooltip(
                `<div>
                     FRANKLIN ELEMENTARY PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e17ec3818fd17c759e0c18f17a43335b = L.marker(
                [36.478488, -80.622796],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_1b4bcfa5486f439ae4c37d64b6c2eab9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e17ec3818fd17c759e0c18f17a43335b.setIcon(icon_1b4bcfa5486f439ae4c37d64b6c2eab9);
        
    
        var popup_e7775c37cf793174335ff32d33c0ce3d = L.popup({"maxWidth": "100%"});

        
            var html_e574a758dd76e3563ff5564ae503f63b = $(`<div id="html_e574a758dd76e3563ff5564ae503f63b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e7775c37cf793174335ff32d33c0ce3d.setContent(html_e574a758dd76e3563ff5564ae503f63b);
        

        marker_e17ec3818fd17c759e0c18f17a43335b.bindPopup(popup_e7775c37cf793174335ff32d33c0ce3d)
        ;

        
    
    
            marker_e17ec3818fd17c759e0c18f17a43335b.bindTooltip(
                `<div>
                     FRANKLIN ELEMENTARY PRE-K SCHOOL READY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_60f2689b930fa92ccd04916735effe6d = L.marker(
                [36.53130874439926, -80.60195224549052],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_b98edf18ff4eb4a2bc996d49874346d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_60f2689b930fa92ccd04916735effe6d.setIcon(icon_b98edf18ff4eb4a2bc996d49874346d5);
        
    
        var popup_cd886f233046ca26c343ab5fa2018760 = L.popup({"maxWidth": "100%"});

        
            var html_c8265afd8275f5265cc470956c56a607 = $(`<div id="html_c8265afd8275f5265cc470956c56a607" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cd886f233046ca26c343ab5fa2018760.setContent(html_c8265afd8275f5265cc470956c56a607);
        

        marker_60f2689b930fa92ccd04916735effe6d.bindPopup(popup_cd886f233046ca26c343ab5fa2018760)
        ;

        
    
    
            marker_60f2689b930fa92ccd04916735effe6d.bindTooltip(
                `<div>
                     JONES HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_546ebe1bde0758c1275f6962d09f1377 = L.marker(
                [36.53130874439926, -80.60195224549052],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_3bc65b3cede60592f9c1cf9e314af673 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_546ebe1bde0758c1275f6962d09f1377.setIcon(icon_3bc65b3cede60592f9c1cf9e314af673);
        
    
        var popup_4e38a9b3f07dbe3d31ef40aa0e2f938a = L.popup({"maxWidth": "100%"});

        
            var html_91f482b20693386bdf658072ddc3b659 = $(`<div id="html_91f482b20693386bdf658072ddc3b659" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4e38a9b3f07dbe3d31ef40aa0e2f938a.setContent(html_91f482b20693386bdf658072ddc3b659);
        

        marker_546ebe1bde0758c1275f6962d09f1377.bindPopup(popup_4e38a9b3f07dbe3d31ef40aa0e2f938a)
        ;

        
    
    
            marker_546ebe1bde0758c1275f6962d09f1377.bindTooltip(
                `<div>
                     JONES HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d8e1d2764d0b89652782122b3395d93f = L.marker(
                [36.493961, -80.615061],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_d0a7c98abd94860714c1e130cd65f624 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d8e1d2764d0b89652782122b3395d93f.setIcon(icon_d0a7c98abd94860714c1e130cd65f624);
        
    
        var popup_209bc6ff3bd401042258abb38cd3ea47 = L.popup({"maxWidth": "100%"});

        
            var html_e6d7d28157626ffe1f05aa80a1f8c355 = $(`<div id="html_e6d7d28157626ffe1f05aa80a1f8c355" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_209bc6ff3bd401042258abb38cd3ea47.setContent(html_e6d7d28157626ffe1f05aa80a1f8c355);
        

        marker_d8e1d2764d0b89652782122b3395d93f.bindPopup(popup_209bc6ff3bd401042258abb38cd3ea47)
        ;

        
    
    
            marker_d8e1d2764d0b89652782122b3395d93f.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ccdc76cd1f6bec3c4532204b0c09a351 = L.marker(
                [36.493961, -80.615061],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_dd0e4934b1fa05f5cc282cfd81507733 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ccdc76cd1f6bec3c4532204b0c09a351.setIcon(icon_dd0e4934b1fa05f5cc282cfd81507733);
        
    
        var popup_80a0d81c8efd65d7aaa20d86217d242b = L.popup({"maxWidth": "100%"});

        
            var html_b16ee3c8bbb2b7ddbacf3aec2aaec2d9 = $(`<div id="html_b16ee3c8bbb2b7ddbacf3aec2aaec2d9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_80a0d81c8efd65d7aaa20d86217d242b.setContent(html_b16ee3c8bbb2b7ddbacf3aec2aaec2d9);
        

        marker_ccdc76cd1f6bec3c4532204b0c09a351.bindPopup(popup_80a0d81c8efd65d7aaa20d86217d242b)
        ;

        
    
    
            marker_ccdc76cd1f6bec3c4532204b0c09a351.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2d6a688d8303efed8b671b526a64e83b = L.marker(
                [36.51961405, -80.59254893214879],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_66d836276a3dc407fc3e9d151365c798 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2d6a688d8303efed8b671b526a64e83b.setIcon(icon_66d836276a3dc407fc3e9d151365c798);
        
    
        var popup_8490c882bce9a3e31e091d743715b252 = L.popup({"maxWidth": "100%"});

        
            var html_01a4db822ab78b10e03a8f8018ae5cdc = $(`<div id="html_01a4db822ab78b10e03a8f8018ae5cdc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8490c882bce9a3e31e091d743715b252.setContent(html_01a4db822ab78b10e03a8f8018ae5cdc);
        

        marker_2d6a688d8303efed8b671b526a64e83b.bindPopup(popup_8490c882bce9a3e31e091d743715b252)
        ;

        
    
    
            marker_2d6a688d8303efed8b671b526a64e83b.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_49e7540dd4e2fc5498eded3539528845 = L.marker(
                [36.51961405, -80.59254893214879],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_830d490777e77caaabc1ebebd09007f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_49e7540dd4e2fc5498eded3539528845.setIcon(icon_830d490777e77caaabc1ebebd09007f8);
        
    
        var popup_d0cbc0cc4df1a735c0f6d3b2831598af = L.popup({"maxWidth": "100%"});

        
            var html_6e3d0869b34b7b2ebf8ed1bfc1905985 = $(`<div id="html_6e3d0869b34b7b2ebf8ed1bfc1905985" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d0cbc0cc4df1a735c0f6d3b2831598af.setContent(html_6e3d0869b34b7b2ebf8ed1bfc1905985);
        

        marker_49e7540dd4e2fc5498eded3539528845.bindPopup(popup_d0cbc0cc4df1a735c0f6d3b2831598af)
        ;

        
    
    
            marker_49e7540dd4e2fc5498eded3539528845.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_523fda2e5f71f51d00da6b5ed4f6f3f8 = L.marker(
                [36.477232123609085, -80.62315825631875],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_167f42bbc3008ad9ccef287d8402601e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_523fda2e5f71f51d00da6b5ed4f6f3f8.setIcon(icon_167f42bbc3008ad9ccef287d8402601e);
        
    
        var popup_ebf6cd5dc798fd73fb30f68d810370f6 = L.popup({"maxWidth": "100%"});

        
            var html_a2a79bcb894417139d3e2685ab1504d6 = $(`<div id="html_a2a79bcb894417139d3e2685ab1504d6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ebf6cd5dc798fd73fb30f68d810370f6.setContent(html_a2a79bcb894417139d3e2685ab1504d6);
        

        marker_523fda2e5f71f51d00da6b5ed4f6f3f8.bindPopup(popup_ebf6cd5dc798fd73fb30f68d810370f6)
        ;

        
    
    
            marker_523fda2e5f71f51d00da6b5ed4f6f3f8.bindTooltip(
                `<div>
                     MAGICAL MOMENTS LEARNING ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cfbbcb4ca5c91618fe7e6af3fb16680a = L.marker(
                [36.477232123609085, -80.62315825631875],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_767f91c63cce880270e417e72ef8c2ee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cfbbcb4ca5c91618fe7e6af3fb16680a.setIcon(icon_767f91c63cce880270e417e72ef8c2ee);
        
    
        var popup_6dfd1a62a5c1f52d8bc84492f6e0a10d = L.popup({"maxWidth": "100%"});

        
            var html_ad7b7421a33a07c0bbd2ab378053d53c = $(`<div id="html_ad7b7421a33a07c0bbd2ab378053d53c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6dfd1a62a5c1f52d8bc84492f6e0a10d.setContent(html_ad7b7421a33a07c0bbd2ab378053d53c);
        

        marker_cfbbcb4ca5c91618fe7e6af3fb16680a.bindPopup(popup_6dfd1a62a5c1f52d8bc84492f6e0a10d)
        ;

        
    
    
            marker_cfbbcb4ca5c91618fe7e6af3fb16680a.bindTooltip(
                `<div>
                     MAGICAL MOMENTS LEARNING ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1f7252bb2a654f39c92c30b6c05842cc = L.marker(
                [36.50315284695488, -80.60431760271847],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_6868693f435f74483cc9bbe05e16293b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1f7252bb2a654f39c92c30b6c05842cc.setIcon(icon_6868693f435f74483cc9bbe05e16293b);
        
    
        var popup_74fe4618db8dbb0c6707629cfd8a26e3 = L.popup({"maxWidth": "100%"});

        
            var html_4687e0bd19c9ad46a159b12af5e6c60a = $(`<div id="html_4687e0bd19c9ad46a159b12af5e6c60a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_74fe4618db8dbb0c6707629cfd8a26e3.setContent(html_4687e0bd19c9ad46a159b12af5e6c60a);
        

        marker_1f7252bb2a654f39c92c30b6c05842cc.bindPopup(popup_74fe4618db8dbb0c6707629cfd8a26e3)
        ;

        
    
    
            marker_1f7252bb2a654f39c92c30b6c05842cc.bindTooltip(
                `<div>
                     RAINBOW CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_056a40b4cfdbd1124b609a197b63f3a4 = L.marker(
                [36.50315284695488, -80.60431760271847],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_275a484787bab09abbc42c06d87843d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_056a40b4cfdbd1124b609a197b63f3a4.setIcon(icon_275a484787bab09abbc42c06d87843d4);
        
    
        var popup_06d8820affad04c1b34cd6a697e04b71 = L.popup({"maxWidth": "100%"});

        
            var html_f343adc8b931156ec11be74323b0763b = $(`<div id="html_f343adc8b931156ec11be74323b0763b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_06d8820affad04c1b34cd6a697e04b71.setContent(html_f343adc8b931156ec11be74323b0763b);
        

        marker_056a40b4cfdbd1124b609a197b63f3a4.bindPopup(popup_06d8820affad04c1b34cd6a697e04b71)
        ;

        
    
    
            marker_056a40b4cfdbd1124b609a197b63f3a4.bindTooltip(
                `<div>
                     RAINBOW CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b6b25cf2b96573e7b03244d9c6f4c35 = L.marker(
                [36.50168, -80.601673],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_b6e9bd92c6c67e54474df2985735acb9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6b6b25cf2b96573e7b03244d9c6f4c35.setIcon(icon_b6e9bd92c6c67e54474df2985735acb9);
        
    
        var popup_10bc6c04ac0cce4faa9b503f7f739178 = L.popup({"maxWidth": "100%"});

        
            var html_344a4b4533b29321020730056c83c1bf = $(`<div id="html_344a4b4533b29321020730056c83c1bf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_10bc6c04ac0cce4faa9b503f7f739178.setContent(html_344a4b4533b29321020730056c83c1bf);
        

        marker_6b6b25cf2b96573e7b03244d9c6f4c35.bindPopup(popup_10bc6c04ac0cce4faa9b503f7f739178)
        ;

        
    
    
            marker_6b6b25cf2b96573e7b03244d9c6f4c35.bindTooltip(
                `<div>
                     SOUTH MAIN CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d643bde2166f4206414ff6f1e3b18ea6 = L.marker(
                [36.50168, -80.601673],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_f8c5f978c3b0f449252dcdb244dd7173 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d643bde2166f4206414ff6f1e3b18ea6.setIcon(icon_f8c5f978c3b0f449252dcdb244dd7173);
        
    
        var popup_f670925085976d3c53f03a477997cb7d = L.popup({"maxWidth": "100%"});

        
            var html_818eea591ee31c6bb08d7f6ea82d0905 = $(`<div id="html_818eea591ee31c6bb08d7f6ea82d0905" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f670925085976d3c53f03a477997cb7d.setContent(html_818eea591ee31c6bb08d7f6ea82d0905);
        

        marker_d643bde2166f4206414ff6f1e3b18ea6.bindPopup(popup_f670925085976d3c53f03a477997cb7d)
        ;

        
    
    
            marker_d643bde2166f4206414ff6f1e3b18ea6.bindTooltip(
                `<div>
                     SOUTH MAIN CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2db261948b5410eda4e7f7d59b21f830 = L.marker(
                [36.486439515126506, -80.59071824911378],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_22dd9a57026557052e04aa74661bf80f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2db261948b5410eda4e7f7d59b21f830.setIcon(icon_22dd9a57026557052e04aa74661bf80f);
        
    
        var popup_e1ef3b641ecb2975ab4a56a10aa2b9bb = L.popup({"maxWidth": "100%"});

        
            var html_b90ef49c65bd6226653a133192f214d1 = $(`<div id="html_b90ef49c65bd6226653a133192f214d1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e1ef3b641ecb2975ab4a56a10aa2b9bb.setContent(html_b90ef49c65bd6226653a133192f214d1);
        

        marker_2db261948b5410eda4e7f7d59b21f830.bindPopup(popup_e1ef3b641ecb2975ab4a56a10aa2b9bb)
        ;

        
    
    
            marker_2db261948b5410eda4e7f7d59b21f830.bindTooltip(
                `<div>
                     SOUTH MAIN CHILDREN'S CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0fb7fdefb60c9d6ee2d04e86eac7ade1 = L.marker(
                [36.486439515126506, -80.59071824911378],
                {}
            ).addTo(map_484c5714736e53a2010b7c821ea0a932);
        
    
            var icon_ba03fe0414432efc2405ae51e5a35e5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0fb7fdefb60c9d6ee2d04e86eac7ade1.setIcon(icon_ba03fe0414432efc2405ae51e5a35e5d);
        
    
        var popup_c7d0b91837745be78665ee0927f16080 = L.popup({"maxWidth": "100%"});

        
            var html_bc953eb4776f0a3c4b75a29702ff7b54 = $(`<div id="html_bc953eb4776f0a3c4b75a29702ff7b54" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c7d0b91837745be78665ee0927f16080.setContent(html_bc953eb4776f0a3c4b75a29702ff7b54);
        

        marker_0fb7fdefb60c9d6ee2d04e86eac7ade1.bindPopup(popup_c7d0b91837745be78665ee0927f16080)
        ;

        
    
    
            marker_0fb7fdefb60c9d6ee2d04e86eac7ade1.bindTooltip(
                `<div>
                     SOUTH MAIN CHILDREN'S CENTER II
                 </div>`,
                {"sticky": true}
            );
        
</script>