<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_980794c02b82e750d9e2ff69c541139e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_980794c02b82e750d9e2ff69c541139e" ></div>
        
</body>
<script>    
    
            var map_980794c02b82e750d9e2ff69c541139e = L.map(
                "map_980794c02b82e750d9e2ff69c541139e",
                {
                    center: [35.07033925157814, -84.05707431626307],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_19de79a19f1fe9ad567b5e584401bc69 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_980794c02b82e750d9e2ff69c541139e);
        
    
            var marker_57b65f19869dbbb636d4c53f3ca64260 = L.marker(
                [35.07033925157814, -84.05707431626307],
                {}
            ).addTo(map_980794c02b82e750d9e2ff69c541139e);
        
    
            var icon_fb110fdf4d07697c59836e801d12ab1e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_57b65f19869dbbb636d4c53f3ca64260.setIcon(icon_fb110fdf4d07697c59836e801d12ab1e);
        
    
        var popup_b76bb1e29b84996c0df9fee79afd33db = L.popup({"maxWidth": "100%"});

        
            var html_3f2c0c90f9e01047e0b9f955655958d3 = $(`<div id="html_3f2c0c90f9e01047e0b9f955655958d3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b76bb1e29b84996c0df9fee79afd33db.setContent(html_3f2c0c90f9e01047e0b9f955655958d3);
        

        marker_57b65f19869dbbb636d4c53f3ca64260.bindPopup(popup_b76bb1e29b84996c0df9fee79afd33db)
        ;

        
    
    
            marker_57b65f19869dbbb636d4c53f3ca64260.bindTooltip(
                `<div>
                     MURPHY ADVENTIST CHRISTIAN SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0a217158f988e6ade456c8fc8d2a9f06 = L.marker(
                [35.089081767187295, -84.02935279897792],
                {}
            ).addTo(map_980794c02b82e750d9e2ff69c541139e);
        
    
            var icon_b4978f4d6dbf0f1ed38096fdc926cf68 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0a217158f988e6ade456c8fc8d2a9f06.setIcon(icon_b4978f4d6dbf0f1ed38096fdc926cf68);
        
    
        var popup_edecf0851a07c387d29cf82ccb9acb97 = L.popup({"maxWidth": "100%"});

        
            var html_e3425caad5381baaf1624225cb903db1 = $(`<div id="html_e3425caad5381baaf1624225cb903db1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_edecf0851a07c387d29cf82ccb9acb97.setContent(html_e3425caad5381baaf1624225cb903db1);
        

        marker_0a217158f988e6ade456c8fc8d2a9f06.bindPopup(popup_edecf0851a07c387d29cf82ccb9acb97)
        ;

        
    
    
            marker_0a217158f988e6ade456c8fc8d2a9f06.bindTooltip(
                `<div>
                     MURPHY AFTER SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e42d674db7cf7fa87f6e3e71c5e8eb2b = L.marker(
                [35.10480264826183, -84.01459635677443],
                {}
            ).addTo(map_980794c02b82e750d9e2ff69c541139e);
        
    
            var icon_1938df880d9c42b747476ffcd971ebe6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e42d674db7cf7fa87f6e3e71c5e8eb2b.setIcon(icon_1938df880d9c42b747476ffcd971ebe6);
        
    
        var popup_e4805c17cebb913789156977dcdfdd24 = L.popup({"maxWidth": "100%"});

        
            var html_17f2647bd7b9aee60ff148f983535d3a = $(`<div id="html_17f2647bd7b9aee60ff148f983535d3a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e4805c17cebb913789156977dcdfdd24.setContent(html_17f2647bd7b9aee60ff148f983535d3a);
        

        marker_e42d674db7cf7fa87f6e3e71c5e8eb2b.bindPopup(popup_e4805c17cebb913789156977dcdfdd24)
        ;

        
    
    
            marker_e42d674db7cf7fa87f6e3e71c5e8eb2b.bindTooltip(
                `<div>
                     MURPHY EARLY EDUCATION AND PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a68fde2d15fde728eff2cc5da7bc8a3 = L.marker(
                [35.089081767187295, -84.02935279897792],
                {}
            ).addTo(map_980794c02b82e750d9e2ff69c541139e);
        
    
            var icon_0c1db3d34669459a0512e52d1c49e1a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5a68fde2d15fde728eff2cc5da7bc8a3.setIcon(icon_0c1db3d34669459a0512e52d1c49e1a2);
        
    
        var popup_13ed4abe4bf5fcd3629788dcd69e1904 = L.popup({"maxWidth": "100%"});

        
            var html_b911141b73e0f4eda66dc27774e11c43 = $(`<div id="html_b911141b73e0f4eda66dc27774e11c43" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_13ed4abe4bf5fcd3629788dcd69e1904.setContent(html_b911141b73e0f4eda66dc27774e11c43);
        

        marker_5a68fde2d15fde728eff2cc5da7bc8a3.bindPopup(popup_13ed4abe4bf5fcd3629788dcd69e1904)
        ;

        
    
    
            marker_5a68fde2d15fde728eff2cc5da7bc8a3.bindTooltip(
                `<div>
                     MURPHY ELEMENTARY SCHOOL PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_69a44a2d5d0408c681db0156a6be0bc6 = L.marker(
                [35.09134896563575, -84.03217780590278],
                {}
            ).addTo(map_980794c02b82e750d9e2ff69c541139e);
        
    
            var icon_9d7d510d0beca37722bf23acc40cc145 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_69a44a2d5d0408c681db0156a6be0bc6.setIcon(icon_9d7d510d0beca37722bf23acc40cc145);
        
    
        var popup_86e35648e4beffe1d0f8236155387e1a = L.popup({"maxWidth": "100%"});

        
            var html_28964ec813c4864d78e8ba7c1cd6ada4 = $(`<div id="html_28964ec813c4864d78e8ba7c1cd6ada4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_86e35648e4beffe1d0f8236155387e1a.setContent(html_28964ec813c4864d78e8ba7c1cd6ada4);
        

        marker_69a44a2d5d0408c681db0156a6be0bc6.bindPopup(popup_86e35648e4beffe1d0f8236155387e1a)
        ;

        
    
    
            marker_69a44a2d5d0408c681db0156a6be0bc6.bindTooltip(
                `<div>
                     MURPHY HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>