<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5b93ca4846b804d4697c2ea452bed86d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5b93ca4846b804d4697c2ea452bed86d" ></div>
        
</body>
<script>    
    
            var map_5b93ca4846b804d4697c2ea452bed86d = L.map(
                "map_5b93ca4846b804d4697c2ea452bed86d",
                {
                    center: [35.44295768687776, -80.21898176831164],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9789bc4a00d12097139b6fd2fd505adb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5b93ca4846b804d4697c2ea452bed86d);
        
    
            var marker_7cbaa12e0c804d3188769d5bf4084e1e = L.marker(
                [35.44295768687776, -80.21898176831164],
                {}
            ).addTo(map_5b93ca4846b804d4697c2ea452bed86d);
        
    
            var icon_08d9a70c32018ca34562d7c36fd712c0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7cbaa12e0c804d3188769d5bf4084e1e.setIcon(icon_08d9a70c32018ca34562d7c36fd712c0);
        
    
        var popup_813dbf1bc5c1cbcae761abce3b193767 = L.popup({"maxWidth": "100%"});

        
            var html_4bb8b812b6ae404de2d4585006d20ad8 = $(`<div id="html_4bb8b812b6ae404de2d4585006d20ad8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_813dbf1bc5c1cbcae761abce3b193767.setContent(html_4bb8b812b6ae404de2d4585006d20ad8);
        

        marker_7cbaa12e0c804d3188769d5bf4084e1e.bindPopup(popup_813dbf1bc5c1cbcae761abce3b193767)
        ;

        
    
    
            marker_7cbaa12e0c804d3188769d5bf4084e1e.bindTooltip(
                `<div>
                     ALL STAR LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_923212374dc17b0315f142330f16046f = L.marker(
                [35.44295768687776, -80.21898176831164],
                {}
            ).addTo(map_5b93ca4846b804d4697c2ea452bed86d);
        
    
            var icon_13594d9a017a564948c423721806cefc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_923212374dc17b0315f142330f16046f.setIcon(icon_13594d9a017a564948c423721806cefc);
        
    
        var popup_a5a2988e7f413096c01508027bbd7983 = L.popup({"maxWidth": "100%"});

        
            var html_fd87636c012673aea07b28c4898bb8ec = $(`<div id="html_fd87636c012673aea07b28c4898bb8ec" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a5a2988e7f413096c01508027bbd7983.setContent(html_fd87636c012673aea07b28c4898bb8ec);
        

        marker_923212374dc17b0315f142330f16046f.bindPopup(popup_a5a2988e7f413096c01508027bbd7983)
        ;

        
    
    
            marker_923212374dc17b0315f142330f16046f.bindTooltip(
                `<div>
                     ALL STAR LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2a8417a926c64842be0d716f803f5131 = L.marker(
                [35.44295768687776, -80.21898176831164],
                {}
            ).addTo(map_5b93ca4846b804d4697c2ea452bed86d);
        
    
            var icon_a1ff6c47c6732f9f9c09d41d648777e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2a8417a926c64842be0d716f803f5131.setIcon(icon_a1ff6c47c6732f9f9c09d41d648777e1);
        
    
        var popup_018d49583d2783598c371d48649e6d3d = L.popup({"maxWidth": "100%"});

        
            var html_cab9731f79fca4dd11667b7102095623 = $(`<div id="html_cab9731f79fca4dd11667b7102095623" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_018d49583d2783598c371d48649e6d3d.setContent(html_cab9731f79fca4dd11667b7102095623);
        

        marker_2a8417a926c64842be0d716f803f5131.bindPopup(popup_018d49583d2783598c371d48649e6d3d)
        ;

        
    
    
            marker_2a8417a926c64842be0d716f803f5131.bindTooltip(
                `<div>
                     ALL STAR LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d59c22c7070375e0ecc56f89a766383b = L.marker(
                [35.44295768687776, -80.21898176831164],
                {}
            ).addTo(map_5b93ca4846b804d4697c2ea452bed86d);
        
    
            var icon_5f6be1611ffe6bbadacbfba68ddda4d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d59c22c7070375e0ecc56f89a766383b.setIcon(icon_5f6be1611ffe6bbadacbfba68ddda4d8);
        
    
        var popup_65d6cbeab19cbda89a32ef45aff98e96 = L.popup({"maxWidth": "100%"});

        
            var html_d93f11375d811325cb299e445ad9a4f0 = $(`<div id="html_d93f11375d811325cb299e445ad9a4f0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_65d6cbeab19cbda89a32ef45aff98e96.setContent(html_d93f11375d811325cb299e445ad9a4f0);
        

        marker_d59c22c7070375e0ecc56f89a766383b.bindPopup(popup_65d6cbeab19cbda89a32ef45aff98e96)
        ;

        
    
    
            marker_d59c22c7070375e0ecc56f89a766383b.bindTooltip(
                `<div>
                     ALL STAR LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>