<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a253a6bf079b833cf9519698c80d97bc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a253a6bf079b833cf9519698c80d97bc" ></div>
        
</body>
<script>    
    
            var map_a253a6bf079b833cf9519698c80d97bc = L.map(
                "map_a253a6bf079b833cf9519698c80d97bc",
                {
                    center: [35.2447587, -78.3578563],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_80f19cf78b042018e82095c81e2f1420 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var marker_90005a1c774e52d57045c07bdf93fa3e = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_748088e69f5fc186b3ef0b1cac02ca7a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_90005a1c774e52d57045c07bdf93fa3e.setIcon(icon_748088e69f5fc186b3ef0b1cac02ca7a);
        
    
        var popup_8cd005ca0108f4dad8cee63bfdc575f8 = L.popup({"maxWidth": "100%"});

        
            var html_216e239f68efe4cbec2f79d409f19a0e = $(`<div id="html_216e239f68efe4cbec2f79d409f19a0e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8cd005ca0108f4dad8cee63bfdc575f8.setContent(html_216e239f68efe4cbec2f79d409f19a0e);
        

        marker_90005a1c774e52d57045c07bdf93fa3e.bindPopup(popup_8cd005ca0108f4dad8cee63bfdc575f8)
        ;

        
    
    
            marker_90005a1c774e52d57045c07bdf93fa3e.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b83578db695d53fbc642a5f4c7599b25 = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_f25369a6711418bccc39630a53f2fccd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b83578db695d53fbc642a5f4c7599b25.setIcon(icon_f25369a6711418bccc39630a53f2fccd);
        
    
        var popup_32e2342e6cfa3e453f78e1e46891c391 = L.popup({"maxWidth": "100%"});

        
            var html_c92b0ee33b5c22ccd6e1bc216e90ea9e = $(`<div id="html_c92b0ee33b5c22ccd6e1bc216e90ea9e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_32e2342e6cfa3e453f78e1e46891c391.setContent(html_c92b0ee33b5c22ccd6e1bc216e90ea9e);
        

        marker_b83578db695d53fbc642a5f4c7599b25.bindPopup(popup_32e2342e6cfa3e453f78e1e46891c391)
        ;

        
    
    
            marker_b83578db695d53fbc642a5f4c7599b25.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bb97b216dd24deca0ebcfe878126cc45 = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_1d6e0a010c57fb8bfc90b0c4a99f3ebb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bb97b216dd24deca0ebcfe878126cc45.setIcon(icon_1d6e0a010c57fb8bfc90b0c4a99f3ebb);
        
    
        var popup_11fb54c4b6c3a09f91612fb6b856c3c9 = L.popup({"maxWidth": "100%"});

        
            var html_bcba5af3b2c4a253aace8b3538a867a5 = $(`<div id="html_bcba5af3b2c4a253aace8b3538a867a5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_11fb54c4b6c3a09f91612fb6b856c3c9.setContent(html_bcba5af3b2c4a253aace8b3538a867a5);
        

        marker_bb97b216dd24deca0ebcfe878126cc45.bindPopup(popup_11fb54c4b6c3a09f91612fb6b856c3c9)
        ;

        
    
    
            marker_bb97b216dd24deca0ebcfe878126cc45.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3839fad29447a33fd2405e74e8d1314b = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_c580be6d8525999dc797510bd48e1a83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3839fad29447a33fd2405e74e8d1314b.setIcon(icon_c580be6d8525999dc797510bd48e1a83);
        
    
        var popup_0b754c104510ebb9e62837d7e875974e = L.popup({"maxWidth": "100%"});

        
            var html_f961aff5287b612512fe5be50a44683b = $(`<div id="html_f961aff5287b612512fe5be50a44683b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0b754c104510ebb9e62837d7e875974e.setContent(html_f961aff5287b612512fe5be50a44683b);
        

        marker_3839fad29447a33fd2405e74e8d1314b.bindPopup(popup_0b754c104510ebb9e62837d7e875974e)
        ;

        
    
    
            marker_3839fad29447a33fd2405e74e8d1314b.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_73ee1210ef8f38ce6b46bb8d2903aa84 = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_d8093ad8954436f9598058f59e85fe59 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_73ee1210ef8f38ce6b46bb8d2903aa84.setIcon(icon_d8093ad8954436f9598058f59e85fe59);
        
    
        var popup_5705d3439623ddf72348e43698aaa511 = L.popup({"maxWidth": "100%"});

        
            var html_b3d0abf059e8ef59139aea3fc46465c8 = $(`<div id="html_b3d0abf059e8ef59139aea3fc46465c8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5705d3439623ddf72348e43698aaa511.setContent(html_b3d0abf059e8ef59139aea3fc46465c8);
        

        marker_73ee1210ef8f38ce6b46bb8d2903aa84.bindPopup(popup_5705d3439623ddf72348e43698aaa511)
        ;

        
    
    
            marker_73ee1210ef8f38ce6b46bb8d2903aa84.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_827a69dbe9173fcee2cf91d90d84c221 = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_141d6659899b9cd812e266071abbd5d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_827a69dbe9173fcee2cf91d90d84c221.setIcon(icon_141d6659899b9cd812e266071abbd5d7);
        
    
        var popup_d24e1f86135aab573d93a5bb5a66dee1 = L.popup({"maxWidth": "100%"});

        
            var html_e3c3fb0c5326871222d47c0c43eabadb = $(`<div id="html_e3c3fb0c5326871222d47c0c43eabadb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d24e1f86135aab573d93a5bb5a66dee1.setContent(html_e3c3fb0c5326871222d47c0c43eabadb);
        

        marker_827a69dbe9173fcee2cf91d90d84c221.bindPopup(popup_d24e1f86135aab573d93a5bb5a66dee1)
        ;

        
    
    
            marker_827a69dbe9173fcee2cf91d90d84c221.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_265ac0d68d97cd252da08aa4f6c08cac = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_58e838ae4e9cfde826328f1e7ffc4efc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_265ac0d68d97cd252da08aa4f6c08cac.setIcon(icon_58e838ae4e9cfde826328f1e7ffc4efc);
        
    
        var popup_d814e94b61aded3d9c159b131b9ef101 = L.popup({"maxWidth": "100%"});

        
            var html_792e45d868c3eb3b04a5e95e6e36eb37 = $(`<div id="html_792e45d868c3eb3b04a5e95e6e36eb37" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d814e94b61aded3d9c159b131b9ef101.setContent(html_792e45d868c3eb3b04a5e95e6e36eb37);
        

        marker_265ac0d68d97cd252da08aa4f6c08cac.bindPopup(popup_d814e94b61aded3d9c159b131b9ef101)
        ;

        
    
    
            marker_265ac0d68d97cd252da08aa4f6c08cac.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3160ccbf8e7e7dcc1dfd576ef969966b = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_d218b70bddda05f18ef8d8ee37d39403 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3160ccbf8e7e7dcc1dfd576ef969966b.setIcon(icon_d218b70bddda05f18ef8d8ee37d39403);
        
    
        var popup_ed29b403aec48d1f8e0df2840f094e4a = L.popup({"maxWidth": "100%"});

        
            var html_00f63add9b5af2fa4b67f14070d951c6 = $(`<div id="html_00f63add9b5af2fa4b67f14070d951c6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ed29b403aec48d1f8e0df2840f094e4a.setContent(html_00f63add9b5af2fa4b67f14070d951c6);
        

        marker_3160ccbf8e7e7dcc1dfd576ef969966b.bindPopup(popup_ed29b403aec48d1f8e0df2840f094e4a)
        ;

        
    
    
            marker_3160ccbf8e7e7dcc1dfd576ef969966b.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2e1f1f8830f648957fb39a30048ad107 = L.marker(
                [35.2447587, -78.3578563],
                {}
            ).addTo(map_a253a6bf079b833cf9519698c80d97bc);
        
    
            var icon_43d3652bc2f5f5d2498cbc3bd0b69846 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2e1f1f8830f648957fb39a30048ad107.setIcon(icon_43d3652bc2f5f5d2498cbc3bd0b69846);
        
    
        var popup_ed77d3209c8eb573af7e593c94093443 = L.popup({"maxWidth": "100%"});

        
            var html_8c7a13e9595951b1423ed39b5f608f45 = $(`<div id="html_8c7a13e9595951b1423ed39b5f608f45" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ed77d3209c8eb573af7e593c94093443.setContent(html_8c7a13e9595951b1423ed39b5f608f45);
        

        marker_2e1f1f8830f648957fb39a30048ad107.bindPopup(popup_ed77d3209c8eb573af7e593c94093443)
        ;

        
    
    
            marker_2e1f1f8830f648957fb39a30048ad107.bindTooltip(
                `<div>
                     LITTLE DOLPHINS CHILD CARE CENTER II
                 </div>`,
                {"sticky": true}
            );
        
</script>