<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4af6b148612f039b01243659867576f2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4af6b148612f039b01243659867576f2" ></div>
        
</body>
<script>    
    
            var map_4af6b148612f039b01243659867576f2 = L.map(
                "map_4af6b148612f039b01243659867576f2",
                {
                    center: [36.17512254543164, -81.14352493705589],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5436e36353c3f166500f3d933e21bd5a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4af6b148612f039b01243659867576f2);
        
    
            var marker_432064283bf34294832c64f196d2f6bd = L.marker(
                [36.17512254543164, -81.14352493705589],
                {}
            ).addTo(map_4af6b148612f039b01243659867576f2);
        
    
            var icon_04fc50a07fb3a7f2f017ca0cc9af5f8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_432064283bf34294832c64f196d2f6bd.setIcon(icon_04fc50a07fb3a7f2f017ca0cc9af5f8a);
        
    
        var popup_e18c386037a3f3019431ee83276eb6b0 = L.popup({"maxWidth": "100%"});

        
            var html_7690796adc67cf97f22291ce92cf773c = $(`<div id="html_7690796adc67cf97f22291ce92cf773c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e18c386037a3f3019431ee83276eb6b0.setContent(html_7690796adc67cf97f22291ce92cf773c);
        

        marker_432064283bf34294832c64f196d2f6bd.bindPopup(popup_e18c386037a3f3019431ee83276eb6b0)
        ;

        
    
    
            marker_432064283bf34294832c64f196d2f6bd.bindTooltip(
                `<div>
                     A CHILD'S LIFE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_765a507c684413b555c6c240adb23911 = L.marker(
                [36.1383263, -81.10487260982327],
                {}
            ).addTo(map_4af6b148612f039b01243659867576f2);
        
    
            var icon_882e6df54b2756936deab3340a114b01 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_765a507c684413b555c6c240adb23911.setIcon(icon_882e6df54b2756936deab3340a114b01);
        
    
        var popup_1be791970a2cb34f17f912654fbed18a = L.popup({"maxWidth": "100%"});

        
            var html_0c3e1a5d7dacfdd646c4e3f60044723e = $(`<div id="html_0c3e1a5d7dacfdd646c4e3f60044723e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1be791970a2cb34f17f912654fbed18a.setContent(html_0c3e1a5d7dacfdd646c4e3f60044723e);
        

        marker_765a507c684413b555c6c240adb23911.bindPopup(popup_1be791970a2cb34f17f912654fbed18a)
        ;

        
    
    
            marker_765a507c684413b555c6c240adb23911.bindTooltip(
                `<div>
                     C C WRIGHT ELEMENTARY SCHOOL PRE K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a386183adb3e849a3daa30282dd7f000 = L.marker(
                [36.172798, -81.138276],
                {}
            ).addTo(map_4af6b148612f039b01243659867576f2);
        
    
            var icon_fb5eee1f998f7d0965ce998865b26ace = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a386183adb3e849a3daa30282dd7f000.setIcon(icon_fb5eee1f998f7d0965ce998865b26ace);
        
    
        var popup_75ad1c23d80746c918b8cc3250016bf4 = L.popup({"maxWidth": "100%"});

        
            var html_84488a3e48dee6bd9eafb0c0582aa045 = $(`<div id="html_84488a3e48dee6bd9eafb0c0582aa045" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_75ad1c23d80746c918b8cc3250016bf4.setContent(html_84488a3e48dee6bd9eafb0c0582aa045);
        

        marker_a386183adb3e849a3daa30282dd7f000.bindPopup(popup_75ad1c23d80746c918b8cc3250016bf4)
        ;

        
    
    
            marker_a386183adb3e849a3daa30282dd7f000.bindTooltip(
                `<div>
                     GRAMSY'S PLACE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_edd4da50ebe6ad0bd4dec02aad1d693d = L.marker(
                [36.1781366, -81.13822660001155],
                {}
            ).addTo(map_4af6b148612f039b01243659867576f2);
        
    
            var icon_f39c51b899e0bb57dd29c13b8efb6a92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_edd4da50ebe6ad0bd4dec02aad1d693d.setIcon(icon_f39c51b899e0bb57dd29c13b8efb6a92);
        
    
        var popup_73b91259b9a04c857db431ce90aced7b = L.popup({"maxWidth": "100%"});

        
            var html_8c12bcc1a83176c3f7554d85fec4f4b9 = $(`<div id="html_8c12bcc1a83176c3f7554d85fec4f4b9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_73b91259b9a04c857db431ce90aced7b.setContent(html_8c12bcc1a83176c3f7554d85fec4f4b9);
        

        marker_edd4da50ebe6ad0bd4dec02aad1d693d.bindPopup(popup_73b91259b9a04c857db431ce90aced7b)
        ;

        
    
    
            marker_edd4da50ebe6ad0bd4dec02aad1d693d.bindTooltip(
                `<div>
                     NORTH WILKESBORO ELEMENTARY PRE KINDERGARTEN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ed172c456cb9e5525f0ffda4d376bacb = L.marker(
                [36.18451135299093, -81.14910045792536],
                {}
            ).addTo(map_4af6b148612f039b01243659867576f2);
        
    
            var icon_a40d381e44e526707b0fbbc9d07b2210 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ed172c456cb9e5525f0ffda4d376bacb.setIcon(icon_a40d381e44e526707b0fbbc9d07b2210);
        
    
        var popup_4e8836c14803527750fd193917b11cbc = L.popup({"maxWidth": "100%"});

        
            var html_9ed49ab29448c57f9465bec1b2b9d514 = $(`<div id="html_9ed49ab29448c57f9465bec1b2b9d514" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4e8836c14803527750fd193917b11cbc.setContent(html_9ed49ab29448c57f9465bec1b2b9d514);
        

        marker_ed172c456cb9e5525f0ffda4d376bacb.bindPopup(popup_4e8836c14803527750fd193917b11cbc)
        ;

        
    
    
            marker_ed172c456cb9e5525f0ffda4d376bacb.bindTooltip(
                `<div>
                     NORTH WILKESBORO HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9734ab242cb35ab8219cc64228b5fe60 = L.marker(
                [36.16004590377084, -81.14919267869158],
                {}
            ).addTo(map_4af6b148612f039b01243659867576f2);
        
    
            var icon_e0098613a7b56c2fbc8525e65891c827 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9734ab242cb35ab8219cc64228b5fe60.setIcon(icon_e0098613a7b56c2fbc8525e65891c827);
        
    
        var popup_76ff2449195823702c96ae1eb0b923dd = L.popup({"maxWidth": "100%"});

        
            var html_5c0617691b9a0954f0aeaf27b474674b = $(`<div id="html_5c0617691b9a0954f0aeaf27b474674b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_76ff2449195823702c96ae1eb0b923dd.setContent(html_5c0617691b9a0954f0aeaf27b474674b);
        

        marker_9734ab242cb35ab8219cc64228b5fe60.bindPopup(popup_76ff2449195823702c96ae1eb0b923dd)
        ;

        
    
    
            marker_9734ab242cb35ab8219cc64228b5fe60.bindTooltip(
                `<div>
                     PLAYWORKS EARLY CARE & LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>