<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_065c8b3cf04f95e5442692a0c05e2649 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_065c8b3cf04f95e5442692a0c05e2649" ></div>
        
</body>
<script>    
    
            var map_065c8b3cf04f95e5442692a0c05e2649 = L.map(
                "map_065c8b3cf04f95e5442692a0c05e2649",
                {
                    center: [36.16840630274488, -79.99556757761513],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9d4fce5d71c27a0f8eaec6b24bba7176 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var marker_26f88c3cc131a92875e6dd59e1294c32 = L.marker(
                [36.16840630274488, -79.99556757761513],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_4c606e56b30757fd2987960bf12e9e02 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_26f88c3cc131a92875e6dd59e1294c32.setIcon(icon_4c606e56b30757fd2987960bf12e9e02);
        
    
        var popup_62fb2dbf1c2dccc090ce29fa3813ca07 = L.popup({"maxWidth": "100%"});

        
            var html_898fd247356efa875f9e460702edf699 = $(`<div id="html_898fd247356efa875f9e460702edf699" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_62fb2dbf1c2dccc090ce29fa3813ca07.setContent(html_898fd247356efa875f9e460702edf699);
        

        marker_26f88c3cc131a92875e6dd59e1294c32.bindPopup(popup_62fb2dbf1c2dccc090ce29fa3813ca07)
        ;

        
    
    
            marker_26f88c3cc131a92875e6dd59e1294c32.bindTooltip(
                `<div>
                     OAK RIDGE ELEMENTARY ACES PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fe005075bca8f1bec241f633a5bd98ae = L.marker(
                [36.16840630274488, -79.99556757761513],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_b6c141ea5759fb83fe6ca5614ff30d5b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fe005075bca8f1bec241f633a5bd98ae.setIcon(icon_b6c141ea5759fb83fe6ca5614ff30d5b);
        
    
        var popup_1459f008d9abebafe73f3c96af02a504 = L.popup({"maxWidth": "100%"});

        
            var html_03145ae368999bf4b35a738907d1217f = $(`<div id="html_03145ae368999bf4b35a738907d1217f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1459f008d9abebafe73f3c96af02a504.setContent(html_03145ae368999bf4b35a738907d1217f);
        

        marker_fe005075bca8f1bec241f633a5bd98ae.bindPopup(popup_1459f008d9abebafe73f3c96af02a504)
        ;

        
    
    
            marker_fe005075bca8f1bec241f633a5bd98ae.bindTooltip(
                `<div>
                     OAK RIDGE ELEMENTARY ACES PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_54518939c591ba1ae48d762383c95a8a = L.marker(
                [36.16840630274488, -79.99556757761513],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_e1ed9df0b1794b5ef5ae00ad086d9670 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_54518939c591ba1ae48d762383c95a8a.setIcon(icon_e1ed9df0b1794b5ef5ae00ad086d9670);
        
    
        var popup_2a78a31cfcfb1bbfeb989d176750475e = L.popup({"maxWidth": "100%"});

        
            var html_f08002fe4202806b7c5df75ad0ba36a8 = $(`<div id="html_f08002fe4202806b7c5df75ad0ba36a8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2a78a31cfcfb1bbfeb989d176750475e.setContent(html_f08002fe4202806b7c5df75ad0ba36a8);
        

        marker_54518939c591ba1ae48d762383c95a8a.bindPopup(popup_2a78a31cfcfb1bbfeb989d176750475e)
        ;

        
    
    
            marker_54518939c591ba1ae48d762383c95a8a.bindTooltip(
                `<div>
                     OAK RIDGE ELEMENTARY NC PRE-K PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a25469510706694200e6b6bf3ecae2b9 = L.marker(
                [36.16840630274488, -79.99556757761513],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_635716b448e83427b732bf21e2950d94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a25469510706694200e6b6bf3ecae2b9.setIcon(icon_635716b448e83427b732bf21e2950d94);
        
    
        var popup_9e4d408ac103cea0f4bae59de478622d = L.popup({"maxWidth": "100%"});

        
            var html_8a92ca6a7c0cda25ddd036a673759d8f = $(`<div id="html_8a92ca6a7c0cda25ddd036a673759d8f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9e4d408ac103cea0f4bae59de478622d.setContent(html_8a92ca6a7c0cda25ddd036a673759d8f);
        

        marker_a25469510706694200e6b6bf3ecae2b9.bindPopup(popup_9e4d408ac103cea0f4bae59de478622d)
        ;

        
    
    
            marker_a25469510706694200e6b6bf3ecae2b9.bindTooltip(
                `<div>
                     OAK RIDGE ELEMENTARY NC PRE-K PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d84570e316c9038667a2d13558093100 = L.marker(
                [36.17824772480238, -79.98000436298551],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_f9ca1b20c9e4c6e1c983d1079ce2594d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d84570e316c9038667a2d13558093100.setIcon(icon_f9ca1b20c9e4c6e1c983d1079ce2594d);
        
    
        var popup_f2d801b6fe705bf55f12e886082bebc0 = L.popup({"maxWidth": "100%"});

        
            var html_eab92e43045912e84b1fa255bb5f4c02 = $(`<div id="html_eab92e43045912e84b1fa255bb5f4c02" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f2d801b6fe705bf55f12e886082bebc0.setContent(html_eab92e43045912e84b1fa255bb5f4c02);
        

        marker_d84570e316c9038667a2d13558093100.bindPopup(popup_f2d801b6fe705bf55f12e886082bebc0)
        ;

        
    
    
            marker_d84570e316c9038667a2d13558093100.bindTooltip(
                `<div>
                     OAK RIDGE WEEKDAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8edb2bb0736a0a387b51bf75db246222 = L.marker(
                [36.17824772480238, -79.98000436298551],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_46cf7a075207f03288a4914cc4b2e350 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8edb2bb0736a0a387b51bf75db246222.setIcon(icon_46cf7a075207f03288a4914cc4b2e350);
        
    
        var popup_0d0857ce19f98fd110a37b718be6d81b = L.popup({"maxWidth": "100%"});

        
            var html_fa632151b8756325821b26f3a22ab04a = $(`<div id="html_fa632151b8756325821b26f3a22ab04a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0d0857ce19f98fd110a37b718be6d81b.setContent(html_fa632151b8756325821b26f3a22ab04a);
        

        marker_8edb2bb0736a0a387b51bf75db246222.bindPopup(popup_0d0857ce19f98fd110a37b718be6d81b)
        ;

        
    
    
            marker_8edb2bb0736a0a387b51bf75db246222.bindTooltip(
                `<div>
                     OAK RIDGE WEEKDAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_32cc5e4a5db4e2e573f7b4225420aee2 = L.marker(
                [36.16840630274488, -79.99556757761513],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_16e295c821dffbac1bf5302315fbe370 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_32cc5e4a5db4e2e573f7b4225420aee2.setIcon(icon_16e295c821dffbac1bf5302315fbe370);
        
    
        var popup_c2aec147f70c670b3c8d4fdc5db8b59f = L.popup({"maxWidth": "100%"});

        
            var html_a0942e21fbee860c69c16681010eb939 = $(`<div id="html_a0942e21fbee860c69c16681010eb939" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c2aec147f70c670b3c8d4fdc5db8b59f.setContent(html_a0942e21fbee860c69c16681010eb939);
        

        marker_32cc5e4a5db4e2e573f7b4225420aee2.bindPopup(popup_c2aec147f70c670b3c8d4fdc5db8b59f)
        ;

        
    
    
            marker_32cc5e4a5db4e2e573f7b4225420aee2.bindTooltip(
                `<div>
                     OAK RIDGE ELEMENTARY ACES PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b238861c802dade489620180613c7569 = L.marker(
                [36.16840630274488, -79.99556757761513],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_eee586bb1cf3a80e73319807e48d8cf2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b238861c802dade489620180613c7569.setIcon(icon_eee586bb1cf3a80e73319807e48d8cf2);
        
    
        var popup_06beb2061b5b1af6610c96824558270a = L.popup({"maxWidth": "100%"});

        
            var html_c2337c9b9bfb069cfedd825ae8220cc9 = $(`<div id="html_c2337c9b9bfb069cfedd825ae8220cc9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_06beb2061b5b1af6610c96824558270a.setContent(html_c2337c9b9bfb069cfedd825ae8220cc9);
        

        marker_b238861c802dade489620180613c7569.bindPopup(popup_06beb2061b5b1af6610c96824558270a)
        ;

        
    
    
            marker_b238861c802dade489620180613c7569.bindTooltip(
                `<div>
                     OAK RIDGE ELEMENTARY ACES PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_033494890ad796b480d48d852087cac6 = L.marker(
                [36.16840630274488, -79.99556757761513],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_67074538e13f7bd7c365e26360e2ba1b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_033494890ad796b480d48d852087cac6.setIcon(icon_67074538e13f7bd7c365e26360e2ba1b);
        
    
        var popup_016f36a2affcb99988b4c1b45559ac88 = L.popup({"maxWidth": "100%"});

        
            var html_16189a82d092ed8ef04a91ed161d807b = $(`<div id="html_16189a82d092ed8ef04a91ed161d807b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_016f36a2affcb99988b4c1b45559ac88.setContent(html_16189a82d092ed8ef04a91ed161d807b);
        

        marker_033494890ad796b480d48d852087cac6.bindPopup(popup_016f36a2affcb99988b4c1b45559ac88)
        ;

        
    
    
            marker_033494890ad796b480d48d852087cac6.bindTooltip(
                `<div>
                     OAK RIDGE ELEMENTARY NC PRE-K PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c026d2ed2840faced5056045293608d = L.marker(
                [36.16840630274488, -79.99556757761513],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_9b34b7fab037af8737a8f5ac3435de2c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7c026d2ed2840faced5056045293608d.setIcon(icon_9b34b7fab037af8737a8f5ac3435de2c);
        
    
        var popup_ce7dea2c43ac378281e22e49b728039e = L.popup({"maxWidth": "100%"});

        
            var html_c94d9c5feaeacb5fe9716eafffb41e20 = $(`<div id="html_c94d9c5feaeacb5fe9716eafffb41e20" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ce7dea2c43ac378281e22e49b728039e.setContent(html_c94d9c5feaeacb5fe9716eafffb41e20);
        

        marker_7c026d2ed2840faced5056045293608d.bindPopup(popup_ce7dea2c43ac378281e22e49b728039e)
        ;

        
    
    
            marker_7c026d2ed2840faced5056045293608d.bindTooltip(
                `<div>
                     OAK RIDGE ELEMENTARY NC PRE-K PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eeb2bc21d015ff4f0ad4689fe2c8e021 = L.marker(
                [36.17824772480238, -79.98000436298551],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_149c2c1b8fc9766885989e29983e0148 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_eeb2bc21d015ff4f0ad4689fe2c8e021.setIcon(icon_149c2c1b8fc9766885989e29983e0148);
        
    
        var popup_67fa5f69b11a1c9a5b917cc54599791a = L.popup({"maxWidth": "100%"});

        
            var html_084a16d3b61646a65ea4e1562809d893 = $(`<div id="html_084a16d3b61646a65ea4e1562809d893" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_67fa5f69b11a1c9a5b917cc54599791a.setContent(html_084a16d3b61646a65ea4e1562809d893);
        

        marker_eeb2bc21d015ff4f0ad4689fe2c8e021.bindPopup(popup_67fa5f69b11a1c9a5b917cc54599791a)
        ;

        
    
    
            marker_eeb2bc21d015ff4f0ad4689fe2c8e021.bindTooltip(
                `<div>
                     OAK RIDGE WEEKDAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c738760a7b1af8a3bc520143788e6c85 = L.marker(
                [36.17824772480238, -79.98000436298551],
                {}
            ).addTo(map_065c8b3cf04f95e5442692a0c05e2649);
        
    
            var icon_2bf883850fc43eea6cee7963c4042c5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c738760a7b1af8a3bc520143788e6c85.setIcon(icon_2bf883850fc43eea6cee7963c4042c5d);
        
    
        var popup_f2abf01c657a1e0ee91fdc337316dfae = L.popup({"maxWidth": "100%"});

        
            var html_51ab3646d6dde1c75bc9233a72d354f8 = $(`<div id="html_51ab3646d6dde1c75bc9233a72d354f8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f2abf01c657a1e0ee91fdc337316dfae.setContent(html_51ab3646d6dde1c75bc9233a72d354f8);
        

        marker_c738760a7b1af8a3bc520143788e6c85.bindPopup(popup_f2abf01c657a1e0ee91fdc337316dfae)
        ;

        
    
    
            marker_c738760a7b1af8a3bc520143788e6c85.bindTooltip(
                `<div>
                     OAK RIDGE WEEKDAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>