<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_609004fa4b4e3d550383dbc221640050 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_609004fa4b4e3d550383dbc221640050" ></div>
        
</body>
<script>    
    
            var map_609004fa4b4e3d550383dbc221640050 = L.map(
                "map_609004fa4b4e3d550383dbc221640050",
                {
                    center: [34.67012675510204, -79.20544326530612],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ecf8cfd629e53b609de679b3089e00ba = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var marker_8038ab09c0d2d20b09c78907bc4f96c8 = L.marker(
                [34.67012675510204, -79.20544326530612],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_91959d751bf49b93bf8faa4b99c2563c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8038ab09c0d2d20b09c78907bc4f96c8.setIcon(icon_91959d751bf49b93bf8faa4b99c2563c);
        
    
        var popup_21ca09f1fe5a406f375633c14a67fa3e = L.popup({"maxWidth": "100%"});

        
            var html_34beb8b116d6ede39de4ba8590fb14b8 = $(`<div id="html_34beb8b116d6ede39de4ba8590fb14b8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_21ca09f1fe5a406f375633c14a67fa3e.setContent(html_34beb8b116d6ede39de4ba8590fb14b8);
        

        marker_8038ab09c0d2d20b09c78907bc4f96c8.bindPopup(popup_21ca09f1fe5a406f375633c14a67fa3e)
        ;

        
    
    
            marker_8038ab09c0d2d20b09c78907bc4f96c8.bindTooltip(
                `<div>
                     A GIFT FROM GOD CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_47528a4793af07ab3c1b01d9b0226f67 = L.marker(
                [34.676589, -79.193152],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_bc8717e9e8a3018d9ca33765b14c196b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_47528a4793af07ab3c1b01d9b0226f67.setIcon(icon_bc8717e9e8a3018d9ca33765b14c196b);
        
    
        var popup_aeea83107a79109acb06cf161195d7fd = L.popup({"maxWidth": "100%"});

        
            var html_cb265961692eee14184be0fdc28a6f8d = $(`<div id="html_cb265961692eee14184be0fdc28a6f8d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aeea83107a79109acb06cf161195d7fd.setContent(html_cb265961692eee14184be0fdc28a6f8d);
        

        marker_47528a4793af07ab3c1b01d9b0226f67.bindPopup(popup_aeea83107a79109acb06cf161195d7fd)
        ;

        
    
    
            marker_47528a4793af07ab3c1b01d9b0226f67.bindTooltip(
                `<div>
                     LELA ANNE'S LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0425499995819ca17291c97aa1473191 = L.marker(
                [34.67411886577181, -79.1855469261745],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_4d9b497738fe6c61695df2746bd8689c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0425499995819ca17291c97aa1473191.setIcon(icon_4d9b497738fe6c61695df2746bd8689c);
        
    
        var popup_cc51edf5005404ea9f036ad6b19754ae = L.popup({"maxWidth": "100%"});

        
            var html_3d8ccae2703e4ef5b27e4b6b8d75db38 = $(`<div id="html_3d8ccae2703e4ef5b27e4b6b8d75db38" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cc51edf5005404ea9f036ad6b19754ae.setContent(html_3d8ccae2703e4ef5b27e4b6b8d75db38);
        

        marker_0425499995819ca17291c97aa1473191.bindPopup(popup_cc51edf5005404ea9f036ad6b19754ae)
        ;

        
    
    
            marker_0425499995819ca17291c97aa1473191.bindTooltip(
                `<div>
                     LITTLE ANGELS DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c1db927a10b9ac2662560d85f42699d = L.marker(
                [34.67723211451977, -79.19382197532363],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_8792b360542f9018c874a462b0a5aa5b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6c1db927a10b9ac2662560d85f42699d.setIcon(icon_8792b360542f9018c874a462b0a5aa5b);
        
    
        var popup_aa53fd5d0f295b6f1cf66da52ea4768b = L.popup({"maxWidth": "100%"});

        
            var html_9daaf8e35d7799b39e0671abd11d8fca = $(`<div id="html_9daaf8e35d7799b39e0671abd11d8fca" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aa53fd5d0f295b6f1cf66da52ea4768b.setContent(html_9daaf8e35d7799b39e0671abd11d8fca);
        

        marker_6c1db927a10b9ac2662560d85f42699d.bindPopup(popup_aa53fd5d0f295b6f1cf66da52ea4768b)
        ;

        
    
    
            marker_6c1db927a10b9ac2662560d85f42699d.bindTooltip(
                `<div>
                     PEMBROKE ELEMENTARY EARLY CHILDHOOD PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5bd065f277849435077fff29de71921f = L.marker(
                [34.67723211451977, -79.19382197532363],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_68eac52383bd445c1683df8bd164d5ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5bd065f277849435077fff29de71921f.setIcon(icon_68eac52383bd445c1683df8bd164d5ad);
        
    
        var popup_236e11e10cc876fd1cc8eb7dae2eaa52 = L.popup({"maxWidth": "100%"});

        
            var html_aa568146c55b4bbff9e3cbba50233c1f = $(`<div id="html_aa568146c55b4bbff9e3cbba50233c1f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_236e11e10cc876fd1cc8eb7dae2eaa52.setContent(html_aa568146c55b4bbff9e3cbba50233c1f);
        

        marker_5bd065f277849435077fff29de71921f.bindPopup(popup_236e11e10cc876fd1cc8eb7dae2eaa52)
        ;

        
    
    
            marker_5bd065f277849435077fff29de71921f.bindTooltip(
                `<div>
                     PEMBROKE ELEMENTARY PRIME TIME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3751f38d2f197e1618b3eb608e894aa0 = L.marker(
                [34.693985702811695, -79.17343133156106],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_875b23b3e97663cb3f91b225dc410c5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3751f38d2f197e1618b3eb608e894aa0.setIcon(icon_875b23b3e97663cb3f91b225dc410c5e);
        
    
        var popup_373651a8d809e0497d0215513c3d8935 = L.popup({"maxWidth": "100%"});

        
            var html_06ff119a45380a41251d4acee4fe458f = $(`<div id="html_06ff119a45380a41251d4acee4fe458f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_373651a8d809e0497d0215513c3d8935.setContent(html_06ff119a45380a41251d4acee4fe458f);
        

        marker_3751f38d2f197e1618b3eb608e894aa0.bindPopup(popup_373651a8d809e0497d0215513c3d8935)
        ;

        
    
    
            marker_3751f38d2f197e1618b3eb608e894aa0.bindTooltip(
                `<div>
                     PEMBROKE HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_39973c82212f9147bf45d8e457af1e52 = L.marker(
                [34.70421969566478, -79.16431973612043],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_146c6df18df3552536f19595edd5040d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_39973c82212f9147bf45d8e457af1e52.setIcon(icon_146c6df18df3552536f19595edd5040d);
        
    
        var popup_ecab207130b543fc6eb7a35257d5d96f = L.popup({"maxWidth": "100%"});

        
            var html_b3e81d2585b1be6036960aa7746afc9d = $(`<div id="html_b3e81d2585b1be6036960aa7746afc9d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ecab207130b543fc6eb7a35257d5d96f.setContent(html_b3e81d2585b1be6036960aa7746afc9d);
        

        marker_39973c82212f9147bf45d8e457af1e52.bindPopup(popup_ecab207130b543fc6eb7a35257d5d96f)
        ;

        
    
    
            marker_39973c82212f9147bf45d8e457af1e52.bindTooltip(
                `<div>
                     SANDY PLAINS CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5331838c5a0245993e24ed8d54ae5440 = L.marker(
                [34.68522468615915, -79.2036565835618],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_8e8271598ed8fedccf24dd5e8427d187 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5331838c5a0245993e24ed8d54ae5440.setIcon(icon_8e8271598ed8fedccf24dd5e8427d187);
        
    
        var popup_0004ae3ae7df47b81f1c2eb4430cc656 = L.popup({"maxWidth": "100%"});

        
            var html_9a4a2c6e2141a1794904eda97776051b = $(`<div id="html_9a4a2c6e2141a1794904eda97776051b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0004ae3ae7df47b81f1c2eb4430cc656.setContent(html_9a4a2c6e2141a1794904eda97776051b);
        

        marker_5331838c5a0245993e24ed8d54ae5440.bindPopup(popup_0004ae3ae7df47b81f1c2eb4430cc656)
        ;

        
    
    
            marker_5331838c5a0245993e24ed8d54ae5440.bindTooltip(
                `<div>
                     SHINING STARS PRESCHOOL/PEMBROKE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6bb6b7f203f4a6215a85388115bc54c8 = L.marker(
                [34.6914893, -79.1765304],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_2747ce49c6a4073eebdc5a18a9e71c7d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6bb6b7f203f4a6215a85388115bc54c8.setIcon(icon_2747ce49c6a4073eebdc5a18a9e71c7d);
        
    
        var popup_1f3de1148bbb5f1b542e0e50dd44c7d7 = L.popup({"maxWidth": "100%"});

        
            var html_ac039b8bbc3c2a488b1781f6d2b07a76 = $(`<div id="html_ac039b8bbc3c2a488b1781f6d2b07a76" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1f3de1148bbb5f1b542e0e50dd44c7d7.setContent(html_ac039b8bbc3c2a488b1781f6d2b07a76);
        

        marker_6bb6b7f203f4a6215a85388115bc54c8.bindPopup(popup_1f3de1148bbb5f1b542e0e50dd44c7d7)
        ;

        
    
    
            marker_6bb6b7f203f4a6215a85388115bc54c8.bindTooltip(
                `<div>
                     UNION CHAPEL ELEM ECP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b33fbdef9717783c92478f3023eb6dd3 = L.marker(
                [34.6914893, -79.1765304],
                {}
            ).addTo(map_609004fa4b4e3d550383dbc221640050);
        
    
            var icon_2d4b7d49836e30a723a05625ef23aded = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b33fbdef9717783c92478f3023eb6dd3.setIcon(icon_2d4b7d49836e30a723a05625ef23aded);
        
    
        var popup_6b98d010258b9e76a695031bda96d2d4 = L.popup({"maxWidth": "100%"});

        
            var html_c7b51c07b7dc7f2f2e5d094d53e571ad = $(`<div id="html_c7b51c07b7dc7f2f2e5d094d53e571ad" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6b98d010258b9e76a695031bda96d2d4.setContent(html_c7b51c07b7dc7f2f2e5d094d53e571ad);
        

        marker_b33fbdef9717783c92478f3023eb6dd3.bindPopup(popup_6b98d010258b9e76a695031bda96d2d4)
        ;

        
    
    
            marker_b33fbdef9717783c92478f3023eb6dd3.bindTooltip(
                `<div>
                     UNION CHAPEL PRIMETIME
                 </div>`,
                {"sticky": true}
            );
        
</script>