<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_52dc65d39443224f4468ee773c8ae46c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_52dc65d39443224f4468ee773c8ae46c" ></div>
        
</body>
<script>    
    
            var map_52dc65d39443224f4468ee773c8ae46c = L.map(
                "map_52dc65d39443224f4468ee773c8ae46c",
                {
                    center: [35.5128703, -78.2481233971675],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6d26de6df2b97e90a386acd55cb569da = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_52dc65d39443224f4468ee773c8ae46c);
        
    
            var marker_e0b5c6df9fbb14e03abe2f8366719f0f = L.marker(
                [35.5128703, -78.2481233971675],
                {}
            ).addTo(map_52dc65d39443224f4468ee773c8ae46c);
        
    
            var icon_2f7177d44da8717867c8be69d7feb023 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e0b5c6df9fbb14e03abe2f8366719f0f.setIcon(icon_2f7177d44da8717867c8be69d7feb023);
        
    
        var popup_049831ee6f7a81d7bcb767ca906f3b74 = L.popup({"maxWidth": "100%"});

        
            var html_0b4cce1104495569a47ab220faa07798 = $(`<div id="html_0b4cce1104495569a47ab220faa07798" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_049831ee6f7a81d7bcb767ca906f3b74.setContent(html_0b4cce1104495569a47ab220faa07798);
        

        marker_e0b5c6df9fbb14e03abe2f8366719f0f.bindPopup(popup_049831ee6f7a81d7bcb767ca906f3b74)
        ;

        
    
    
            marker_e0b5c6df9fbb14e03abe2f8366719f0f.bindTooltip(
                `<div>
                     PINE LEVEL ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_767b0d7afc05589cbc279be80874a202 = L.marker(
                [35.5120583, -78.24412198355736],
                {}
            ).addTo(map_52dc65d39443224f4468ee773c8ae46c);
        
    
            var icon_b6f6b7f68589bb7d691a961ac60cae29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_767b0d7afc05589cbc279be80874a202.setIcon(icon_b6f6b7f68589bb7d691a961ac60cae29);
        
    
        var popup_0a291ca1e11beeb977af79c4cb8b2099 = L.popup({"maxWidth": "100%"});

        
            var html_570ea5f45b4daa6f2fba01613f4db6be = $(`<div id="html_570ea5f45b4daa6f2fba01613f4db6be" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0a291ca1e11beeb977af79c4cb8b2099.setContent(html_570ea5f45b4daa6f2fba01613f4db6be);
        

        marker_767b0d7afc05589cbc279be80874a202.bindPopup(popup_0a291ca1e11beeb977af79c4cb8b2099)
        ;

        
    
    
            marker_767b0d7afc05589cbc279be80874a202.bindTooltip(
                `<div>
                     PLAYMATES CHILD CARE AND DEVELOPMENT CENTER 2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1232332fb271efeaa212c3c3a03c0f7f = L.marker(
                [35.511596453618665, -78.24712331159785],
                {}
            ).addTo(map_52dc65d39443224f4468ee773c8ae46c);
        
    
            var icon_a7e527856b491d24f5dd3f59cb164057 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1232332fb271efeaa212c3c3a03c0f7f.setIcon(icon_a7e527856b491d24f5dd3f59cb164057);
        
    
        var popup_03bf2b462cc78a9ef979415b6fc4f017 = L.popup({"maxWidth": "100%"});

        
            var html_fd97704dc0a58e152331e29018e2bf60 = $(`<div id="html_fd97704dc0a58e152331e29018e2bf60" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_03bf2b462cc78a9ef979415b6fc4f017.setContent(html_fd97704dc0a58e152331e29018e2bf60);
        

        marker_1232332fb271efeaa212c3c3a03c0f7f.bindPopup(popup_03bf2b462cc78a9ef979415b6fc4f017)
        ;

        
    
    
            marker_1232332fb271efeaa212c3c3a03c0f7f.bindTooltip(
                `<div>
                     RENEE'S CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>