<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_63c2d7f8c0b576fa60106d0dba73174a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_63c2d7f8c0b576fa60106d0dba73174a" ></div>
        
</body>
<script>    
    
            var map_63c2d7f8c0b576fa60106d0dba73174a = L.map(
                "map_63c2d7f8c0b576fa60106d0dba73174a",
                {
                    center: [35.7642057, -79.2042433],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1a677eafdb544c67a13591d2abd9c371 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var marker_cc0798176ef41fa3d074f8f72a2fc314 = L.marker(
                [35.7642057, -79.2042433],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_b0b7fa29afc9e05def769373338515b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_cc0798176ef41fa3d074f8f72a2fc314.setIcon(icon_b0b7fa29afc9e05def769373338515b0);
        
    
        var popup_4fa2cf8d1e4175d65f28b4b35c666c78 = L.popup({"maxWidth": "100%"});

        
            var html_f8ba7f196db10321c098a5f456f06921 = $(`<div id="html_f8ba7f196db10321c098a5f456f06921" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_4fa2cf8d1e4175d65f28b4b35c666c78.setContent(html_f8ba7f196db10321c098a5f456f06921);
        

        marker_cc0798176ef41fa3d074f8f72a2fc314.bindPopup(popup_4fa2cf8d1e4175d65f28b4b35c666c78)
        ;

        
    
    
            marker_cc0798176ef41fa3d074f8f72a2fc314.bindTooltip(
                `<div>
                     COUNTRY DAY PRESCHOOL AND NURSERY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ff55470a2f187e7ac79b2839e07869b7 = L.marker(
                [35.7642057, -79.2042433],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_ec4d844145f51a2b2118df54ff4b7eca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ff55470a2f187e7ac79b2839e07869b7.setIcon(icon_ec4d844145f51a2b2118df54ff4b7eca);
        
    
        var popup_5f11d2d936443e134178a1429c3bfbc0 = L.popup({"maxWidth": "100%"});

        
            var html_6d9b2a7f26676d00cb5ae3c56ae5fcf5 = $(`<div id="html_6d9b2a7f26676d00cb5ae3c56ae5fcf5" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_5f11d2d936443e134178a1429c3bfbc0.setContent(html_6d9b2a7f26676d00cb5ae3c56ae5fcf5);
        

        marker_ff55470a2f187e7ac79b2839e07869b7.bindPopup(popup_5f11d2d936443e134178a1429c3bfbc0)
        ;

        
    
    
            marker_ff55470a2f187e7ac79b2839e07869b7.bindTooltip(
                `<div>
                     COUNTRY DAY PRESCHOOL AND NURSERY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_254242ee017bffade0bacae73dc00780 = L.marker(
                [35.7124113, -79.2341064],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_5e0f56fa7572d48b8f3a8ee32a5d17c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_254242ee017bffade0bacae73dc00780.setIcon(icon_5e0f56fa7572d48b8f3a8ee32a5d17c6);
        
    
        var popup_416f29fea0a42de91ba47e133063a108 = L.popup({"maxWidth": "100%"});

        
            var html_7710b2d2084f4691045ef7f2b98dafda = $(`<div id="html_7710b2d2084f4691045ef7f2b98dafda" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_416f29fea0a42de91ba47e133063a108.setContent(html_7710b2d2084f4691045ef7f2b98dafda);
        

        marker_254242ee017bffade0bacae73dc00780.bindPopup(popup_416f29fea0a42de91ba47e133063a108)
        ;

        
    
    
            marker_254242ee017bffade0bacae73dc00780.bindTooltip(
                `<div>
                     KIDZ KORNER IN HOME DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_559fc8be29b372ce6f53a42b7bc3f283 = L.marker(
                [35.7124113, -79.2341064],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_f14c7934c8720480190b472d43a7bd70 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_559fc8be29b372ce6f53a42b7bc3f283.setIcon(icon_f14c7934c8720480190b472d43a7bd70);
        
    
        var popup_4c3d93aceaeb52f4f3ef0aec013c14c6 = L.popup({"maxWidth": "100%"});

        
            var html_9c4f0d3199cd337f05150f6312c3287e = $(`<div id="html_9c4f0d3199cd337f05150f6312c3287e" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_4c3d93aceaeb52f4f3ef0aec013c14c6.setContent(html_9c4f0d3199cd337f05150f6312c3287e);
        

        marker_559fc8be29b372ce6f53a42b7bc3f283.bindPopup(popup_4c3d93aceaeb52f4f3ef0aec013c14c6)
        ;

        
    
    
            marker_559fc8be29b372ce6f53a42b7bc3f283.bindTooltip(
                `<div>
                     KIDZ KORNER IN HOME DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fb6be2a4f67fff5d2c72635910856ff6 = L.marker(
                [35.7193414, -79.1621691],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_88501c4a1cc90006e6a65dfed9dc99ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fb6be2a4f67fff5d2c72635910856ff6.setIcon(icon_88501c4a1cc90006e6a65dfed9dc99ce);
        
    
        var popup_18db10069d4c3ffdf52b030a85f15c6e = L.popup({"maxWidth": "100%"});

        
            var html_1a0682e4874e0f027047a719dbe63291 = $(`<div id="html_1a0682e4874e0f027047a719dbe63291" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_18db10069d4c3ffdf52b030a85f15c6e.setContent(html_1a0682e4874e0f027047a719dbe63291);
        

        marker_fb6be2a4f67fff5d2c72635910856ff6.bindPopup(popup_18db10069d4c3ffdf52b030a85f15c6e)
        ;

        
    
    
            marker_fb6be2a4f67fff5d2c72635910856ff6.bindTooltip(
                `<div>
                     LEARNING LEMON DROPS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e10e2b01473f04e0271722dfdc59d712 = L.marker(
                [35.7193414, -79.1621691],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_5c279ed8e9fd3585c7a962b89cd7bd2b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e10e2b01473f04e0271722dfdc59d712.setIcon(icon_5c279ed8e9fd3585c7a962b89cd7bd2b);
        
    
        var popup_860323f536c2e7df348aca251446c20a = L.popup({"maxWidth": "100%"});

        
            var html_7a3c1894b6defd38130fb580e0e833c0 = $(`<div id="html_7a3c1894b6defd38130fb580e0e833c0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_860323f536c2e7df348aca251446c20a.setContent(html_7a3c1894b6defd38130fb580e0e833c0);
        

        marker_e10e2b01473f04e0271722dfdc59d712.bindPopup(popup_860323f536c2e7df348aca251446c20a)
        ;

        
    
    
            marker_e10e2b01473f04e0271722dfdc59d712.bindTooltip(
                `<div>
                     LEARNING LEMON DROPS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7051638f56a2473a0ee21c363c19a760 = L.marker(
                [35.7193768, -79.1624229],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_5ba86e8b66eec2f95e2055f338d8a493 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7051638f56a2473a0ee21c363c19a760.setIcon(icon_5ba86e8b66eec2f95e2055f338d8a493);
        
    
        var popup_204528ca61da8794b973f5d9b4296cda = L.popup({"maxWidth": "100%"});

        
            var html_ddc06bf59bfcdd87517e008957cd9344 = $(`<div id="html_ddc06bf59bfcdd87517e008957cd9344" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_204528ca61da8794b973f5d9b4296cda.setContent(html_ddc06bf59bfcdd87517e008957cd9344);
        

        marker_7051638f56a2473a0ee21c363c19a760.bindPopup(popup_204528ca61da8794b973f5d9b4296cda)
        ;

        
    
    
            marker_7051638f56a2473a0ee21c363c19a760.bindTooltip(
                `<div>
                     LITTLE LEMON DROPS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bcac376dee2faf3504bb20f108143f00 = L.marker(
                [35.7193768, -79.1624229],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_27867822101338f05da26c7852bfe0f3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bcac376dee2faf3504bb20f108143f00.setIcon(icon_27867822101338f05da26c7852bfe0f3);
        
    
        var popup_ed51d10a6241a984c3f238d155be307d = L.popup({"maxWidth": "100%"});

        
            var html_710052a47ea6cb591609dd94ec1b8554 = $(`<div id="html_710052a47ea6cb591609dd94ec1b8554" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ed51d10a6241a984c3f238d155be307d.setContent(html_710052a47ea6cb591609dd94ec1b8554);
        

        marker_bcac376dee2faf3504bb20f108143f00.bindPopup(popup_ed51d10a6241a984c3f238d155be307d)
        ;

        
    
    
            marker_bcac376dee2faf3504bb20f108143f00.bindTooltip(
                `<div>
                     LITTLE LEMON DROPS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_351f19678d4e74ee055fc6e9e3077b49 = L.marker(
                [35.7299558, -79.1898103],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_513185ec5763798643568c3630a8d4bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_351f19678d4e74ee055fc6e9e3077b49.setIcon(icon_513185ec5763798643568c3630a8d4bb);
        
    
        var popup_93403304c99725df4f72b79ce802b2cd = L.popup({"maxWidth": "100%"});

        
            var html_4b3c4666f9804e1015cb17d762a03a3e = $(`<div id="html_4b3c4666f9804e1015cb17d762a03a3e" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_93403304c99725df4f72b79ce802b2cd.setContent(html_4b3c4666f9804e1015cb17d762a03a3e);
        

        marker_351f19678d4e74ee055fc6e9e3077b49.bindPopup(popup_93403304c99725df4f72b79ce802b2cd)
        ;

        
    
    
            marker_351f19678d4e74ee055fc6e9e3077b49.bindTooltip(
                `<div>
                     LITTLE SWEET POTATOES
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bcb8e5ec8f13b69ca1e894a36b5f79fb = L.marker(
                [35.7299558, -79.1898103],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_74667f9179a03267e1d17a06f242b44a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_bcb8e5ec8f13b69ca1e894a36b5f79fb.setIcon(icon_74667f9179a03267e1d17a06f242b44a);
        
    
        var popup_593c0b37d2d9454be790ae9c90d53f41 = L.popup({"maxWidth": "100%"});

        
            var html_4eeaad97f64cbdc0562cabcf3e25e91a = $(`<div id="html_4eeaad97f64cbdc0562cabcf3e25e91a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_593c0b37d2d9454be790ae9c90d53f41.setContent(html_4eeaad97f64cbdc0562cabcf3e25e91a);
        

        marker_bcb8e5ec8f13b69ca1e894a36b5f79fb.bindPopup(popup_593c0b37d2d9454be790ae9c90d53f41)
        ;

        
    
    
            marker_bcb8e5ec8f13b69ca1e894a36b5f79fb.bindTooltip(
                `<div>
                     LITTLE SWEET POTATOES
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_269c6d81eccc592b46ff87813dbf943c = L.marker(
                [35.7445493, -79.283391],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_244eb4976564268e5f8601039df10eb1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_269c6d81eccc592b46ff87813dbf943c.setIcon(icon_244eb4976564268e5f8601039df10eb1);
        
    
        var popup_faf0b1faa631af84911044e31b1ebcb0 = L.popup({"maxWidth": "100%"});

        
            var html_2ca68eb672255652ef3fdeaf93279332 = $(`<div id="html_2ca68eb672255652ef3fdeaf93279332" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_faf0b1faa631af84911044e31b1ebcb0.setContent(html_2ca68eb672255652ef3fdeaf93279332);
        

        marker_269c6d81eccc592b46ff87813dbf943c.bindPopup(popup_faf0b1faa631af84911044e31b1ebcb0)
        ;

        
    
    
            marker_269c6d81eccc592b46ff87813dbf943c.bindTooltip(
                `<div>
                     READY SET GROW DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_59450c34a5d861d451f52957e5101252 = L.marker(
                [35.7445493, -79.283391],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_5d46439237e8721414216cfe3e7d1239 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_59450c34a5d861d451f52957e5101252.setIcon(icon_5d46439237e8721414216cfe3e7d1239);
        
    
        var popup_13ef9a9240563a7e66038ded1a853c14 = L.popup({"maxWidth": "100%"});

        
            var html_9a220816aff11576e87687c9930c99b1 = $(`<div id="html_9a220816aff11576e87687c9930c99b1" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_13ef9a9240563a7e66038ded1a853c14.setContent(html_9a220816aff11576e87687c9930c99b1);
        

        marker_59450c34a5d861d451f52957e5101252.bindPopup(popup_13ef9a9240563a7e66038ded1a853c14)
        ;

        
    
    
            marker_59450c34a5d861d451f52957e5101252.bindTooltip(
                `<div>
                     READY SET GROW DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e93c8e985ecd0299c9a2d8877a4b362 = L.marker(
                [35.70550295, -79.18077625000001],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_a4039ad083a6516a1b53ba16a5493350 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9e93c8e985ecd0299c9a2d8877a4b362.setIcon(icon_a4039ad083a6516a1b53ba16a5493350);
        
    
        var popup_5f4aea30fd66417d936070ef3a47bb04 = L.popup({"maxWidth": "100%"});

        
            var html_585dde507735358f5654b53a195e5846 = $(`<div id="html_585dde507735358f5654b53a195e5846" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5f4aea30fd66417d936070ef3a47bb04.setContent(html_585dde507735358f5654b53a195e5846);
        

        marker_9e93c8e985ecd0299c9a2d8877a4b362.bindPopup(popup_5f4aea30fd66417d936070ef3a47bb04)
        ;

        
    
    
            marker_9e93c8e985ecd0299c9a2d8877a4b362.bindTooltip(
                `<div>
                     ROBYN'S NEST CREATIVE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5171fc81657946b6444022389592b6db = L.marker(
                [35.70550295, -79.18077625000001],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_354d68a8ecbc26da7a09134eaa3010af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5171fc81657946b6444022389592b6db.setIcon(icon_354d68a8ecbc26da7a09134eaa3010af);
        
    
        var popup_3d4b3593c21d99511a6cc3fac05da58c = L.popup({"maxWidth": "100%"});

        
            var html_9e339c4f44277c2348eb5bdb2f5f40dd = $(`<div id="html_9e339c4f44277c2348eb5bdb2f5f40dd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3d4b3593c21d99511a6cc3fac05da58c.setContent(html_9e339c4f44277c2348eb5bdb2f5f40dd);
        

        marker_5171fc81657946b6444022389592b6db.bindPopup(popup_3d4b3593c21d99511a6cc3fac05da58c)
        ;

        
    
    
            marker_5171fc81657946b6444022389592b6db.bindTooltip(
                `<div>
                     ROBYN'S NEST CREATIVE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c449584161fb531ace94c75fbf77b686 = L.marker(
                [35.8169559, -79.1179326],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_54cc854ed6721b35f20d82ce3972d5f9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c449584161fb531ace94c75fbf77b686.setIcon(icon_54cc854ed6721b35f20d82ce3972d5f9);
        
    
        var popup_acc36cd41a0837aa411f48ddfce1038e = L.popup({"maxWidth": "100%"});

        
            var html_c7ac1fe4461db6adb7e37cc4567df1e7 = $(`<div id="html_c7ac1fe4461db6adb7e37cc4567df1e7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_acc36cd41a0837aa411f48ddfce1038e.setContent(html_c7ac1fe4461db6adb7e37cc4567df1e7);
        

        marker_c449584161fb531ace94c75fbf77b686.bindPopup(popup_acc36cd41a0837aa411f48ddfce1038e)
        ;

        
    
    
            marker_c449584161fb531ace94c75fbf77b686.bindTooltip(
                `<div>
                     WILLOW OAK MONTESSORI CHILDREN'S HOUSE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_94c273106a5b2bf4353ab43ca0f9eca5 = L.marker(
                [35.8169559, -79.1179326],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_319e1767250723dfcb53650ae7a2f6b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_94c273106a5b2bf4353ab43ca0f9eca5.setIcon(icon_319e1767250723dfcb53650ae7a2f6b3);
        
    
        var popup_59be1ed3f06ae73f07317909ca684c4f = L.popup({"maxWidth": "100%"});

        
            var html_e2dd085e67b0d0d8ef80fd46c424bde8 = $(`<div id="html_e2dd085e67b0d0d8ef80fd46c424bde8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_59be1ed3f06ae73f07317909ca684c4f.setContent(html_e2dd085e67b0d0d8ef80fd46c424bde8);
        

        marker_94c273106a5b2bf4353ab43ca0f9eca5.bindPopup(popup_59be1ed3f06ae73f07317909ca684c4f)
        ;

        
    
    
            marker_94c273106a5b2bf4353ab43ca0f9eca5.bindTooltip(
                `<div>
                     WILLOW OAK MONTESSORI CHILDREN'S HOUSE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_300ec7e72aad12550a417505951f92a5 = L.marker(
                [35.7642057, -79.2042433],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_61880f748353795d4fd432d041879269 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_300ec7e72aad12550a417505951f92a5.setIcon(icon_61880f748353795d4fd432d041879269);
        
    
        var popup_80e1274ba8ffcf3db790905b9711a173 = L.popup({"maxWidth": "100%"});

        
            var html_d88b92471d843ead8c2c9a6cf6ec618a = $(`<div id="html_d88b92471d843ead8c2c9a6cf6ec618a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_80e1274ba8ffcf3db790905b9711a173.setContent(html_d88b92471d843ead8c2c9a6cf6ec618a);
        

        marker_300ec7e72aad12550a417505951f92a5.bindPopup(popup_80e1274ba8ffcf3db790905b9711a173)
        ;

        
    
    
            marker_300ec7e72aad12550a417505951f92a5.bindTooltip(
                `<div>
                     COUNTRY DAY PRESCHOOL AND NURSERY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b3228fd16d37bde12488284686df11bc = L.marker(
                [35.7642057, -79.2042433],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_ba03d1ba2fb764ea8813a41463f2cbef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_b3228fd16d37bde12488284686df11bc.setIcon(icon_ba03d1ba2fb764ea8813a41463f2cbef);
        
    
        var popup_5a1691637ba153414f7ae568347ece23 = L.popup({"maxWidth": "100%"});

        
            var html_7269a89c4d9ffce9b7f5a001c9d22ca4 = $(`<div id="html_7269a89c4d9ffce9b7f5a001c9d22ca4" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_5a1691637ba153414f7ae568347ece23.setContent(html_7269a89c4d9ffce9b7f5a001c9d22ca4);
        

        marker_b3228fd16d37bde12488284686df11bc.bindPopup(popup_5a1691637ba153414f7ae568347ece23)
        ;

        
    
    
            marker_b3228fd16d37bde12488284686df11bc.bindTooltip(
                `<div>
                     COUNTRY DAY PRESCHOOL AND NURSERY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_efd50a15c0762c1f4de07d4cb467324f = L.marker(
                [35.7124113, -79.2341064],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_d3bae5b4b5d2ae952663f8d6ecbfb2d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_efd50a15c0762c1f4de07d4cb467324f.setIcon(icon_d3bae5b4b5d2ae952663f8d6ecbfb2d5);
        
    
        var popup_595b7b603d9cb82f0d00c7cecfd49138 = L.popup({"maxWidth": "100%"});

        
            var html_f3f9fb7ba6e5200db1cc03af0f08fcfa = $(`<div id="html_f3f9fb7ba6e5200db1cc03af0f08fcfa" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_595b7b603d9cb82f0d00c7cecfd49138.setContent(html_f3f9fb7ba6e5200db1cc03af0f08fcfa);
        

        marker_efd50a15c0762c1f4de07d4cb467324f.bindPopup(popup_595b7b603d9cb82f0d00c7cecfd49138)
        ;

        
    
    
            marker_efd50a15c0762c1f4de07d4cb467324f.bindTooltip(
                `<div>
                     KIDZ KORNER IN HOME DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bb7eb80efd75530ead72c236730f46f9 = L.marker(
                [35.7124113, -79.2341064],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_de6a199bb9bcb7dc673916881655f40b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_bb7eb80efd75530ead72c236730f46f9.setIcon(icon_de6a199bb9bcb7dc673916881655f40b);
        
    
        var popup_0854c804d89a80661aef37698cd20559 = L.popup({"maxWidth": "100%"});

        
            var html_23c2d6021f586d237cf756ea7ce04812 = $(`<div id="html_23c2d6021f586d237cf756ea7ce04812" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_0854c804d89a80661aef37698cd20559.setContent(html_23c2d6021f586d237cf756ea7ce04812);
        

        marker_bb7eb80efd75530ead72c236730f46f9.bindPopup(popup_0854c804d89a80661aef37698cd20559)
        ;

        
    
    
            marker_bb7eb80efd75530ead72c236730f46f9.bindTooltip(
                `<div>
                     KIDZ KORNER IN HOME DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_90d2409776c02c75074ce2e6b142aa1b = L.marker(
                [35.7193414, -79.1621691],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_f55886cbba05a965237075140259c6dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_90d2409776c02c75074ce2e6b142aa1b.setIcon(icon_f55886cbba05a965237075140259c6dc);
        
    
        var popup_e83df4181878583d7c6431c3dd16b0d5 = L.popup({"maxWidth": "100%"});

        
            var html_be183ce61ccdffa5a56604754844e016 = $(`<div id="html_be183ce61ccdffa5a56604754844e016" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e83df4181878583d7c6431c3dd16b0d5.setContent(html_be183ce61ccdffa5a56604754844e016);
        

        marker_90d2409776c02c75074ce2e6b142aa1b.bindPopup(popup_e83df4181878583d7c6431c3dd16b0d5)
        ;

        
    
    
            marker_90d2409776c02c75074ce2e6b142aa1b.bindTooltip(
                `<div>
                     LEARNING LEMON DROPS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fe2ec3eb523a341f9698be775d96e85b = L.marker(
                [35.7193414, -79.1621691],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_a0344ca80ded8c08e9cd878e56fd9fc3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fe2ec3eb523a341f9698be775d96e85b.setIcon(icon_a0344ca80ded8c08e9cd878e56fd9fc3);
        
    
        var popup_a9ab50afff616f73145ca600791a0075 = L.popup({"maxWidth": "100%"});

        
            var html_3d78f7e48059352dc6a16dd1492e6cc1 = $(`<div id="html_3d78f7e48059352dc6a16dd1492e6cc1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a9ab50afff616f73145ca600791a0075.setContent(html_3d78f7e48059352dc6a16dd1492e6cc1);
        

        marker_fe2ec3eb523a341f9698be775d96e85b.bindPopup(popup_a9ab50afff616f73145ca600791a0075)
        ;

        
    
    
            marker_fe2ec3eb523a341f9698be775d96e85b.bindTooltip(
                `<div>
                     LEARNING LEMON DROPS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_821b9e4c96a134ddc879bf9c5ebc723f = L.marker(
                [35.7193768, -79.1624229],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_db2a5a4eed0e530760100f19d474df22 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_821b9e4c96a134ddc879bf9c5ebc723f.setIcon(icon_db2a5a4eed0e530760100f19d474df22);
        
    
        var popup_55cee6f1c47b6d7cbacbebacc2f853e2 = L.popup({"maxWidth": "100%"});

        
            var html_4d82dcdb974cc59a36df43ff1be9cfe2 = $(`<div id="html_4d82dcdb974cc59a36df43ff1be9cfe2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_55cee6f1c47b6d7cbacbebacc2f853e2.setContent(html_4d82dcdb974cc59a36df43ff1be9cfe2);
        

        marker_821b9e4c96a134ddc879bf9c5ebc723f.bindPopup(popup_55cee6f1c47b6d7cbacbebacc2f853e2)
        ;

        
    
    
            marker_821b9e4c96a134ddc879bf9c5ebc723f.bindTooltip(
                `<div>
                     LITTLE LEMON DROPS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fac496c73794172eef652175f421c72b = L.marker(
                [35.7193768, -79.1624229],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_090574f4db8cb5e2da3b25df190608ba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fac496c73794172eef652175f421c72b.setIcon(icon_090574f4db8cb5e2da3b25df190608ba);
        
    
        var popup_edf24a31042e13e0ffd7538712988e7d = L.popup({"maxWidth": "100%"});

        
            var html_9b116e81e6ffa54f3f33dc7722f732e5 = $(`<div id="html_9b116e81e6ffa54f3f33dc7722f732e5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_edf24a31042e13e0ffd7538712988e7d.setContent(html_9b116e81e6ffa54f3f33dc7722f732e5);
        

        marker_fac496c73794172eef652175f421c72b.bindPopup(popup_edf24a31042e13e0ffd7538712988e7d)
        ;

        
    
    
            marker_fac496c73794172eef652175f421c72b.bindTooltip(
                `<div>
                     LITTLE LEMON DROPS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1aea74b088fb9f0be3ff59ce07ba6735 = L.marker(
                [35.7299558, -79.1898103],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_3ef30752ba65e910850ed267f8ebdc6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1aea74b088fb9f0be3ff59ce07ba6735.setIcon(icon_3ef30752ba65e910850ed267f8ebdc6f);
        
    
        var popup_851a4a0d841672425bf36ffd74bd1a99 = L.popup({"maxWidth": "100%"});

        
            var html_0486bc1fe47b61cdeec83c28481706c1 = $(`<div id="html_0486bc1fe47b61cdeec83c28481706c1" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_851a4a0d841672425bf36ffd74bd1a99.setContent(html_0486bc1fe47b61cdeec83c28481706c1);
        

        marker_1aea74b088fb9f0be3ff59ce07ba6735.bindPopup(popup_851a4a0d841672425bf36ffd74bd1a99)
        ;

        
    
    
            marker_1aea74b088fb9f0be3ff59ce07ba6735.bindTooltip(
                `<div>
                     LITTLE SWEET POTATOES
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f73ed4050db9109f27286f814c3d51e7 = L.marker(
                [35.7299558, -79.1898103],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_7ce407d03118525f5f97d884485987d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_f73ed4050db9109f27286f814c3d51e7.setIcon(icon_7ce407d03118525f5f97d884485987d6);
        
    
        var popup_b014b7b16a59a3dcd3f01269adc7fbd5 = L.popup({"maxWidth": "100%"});

        
            var html_f1de50ac867b73f4a47abb7261dc3558 = $(`<div id="html_f1de50ac867b73f4a47abb7261dc3558" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_b014b7b16a59a3dcd3f01269adc7fbd5.setContent(html_f1de50ac867b73f4a47abb7261dc3558);
        

        marker_f73ed4050db9109f27286f814c3d51e7.bindPopup(popup_b014b7b16a59a3dcd3f01269adc7fbd5)
        ;

        
    
    
            marker_f73ed4050db9109f27286f814c3d51e7.bindTooltip(
                `<div>
                     LITTLE SWEET POTATOES
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_867e6975f24fd9c303fb1d487b2f2d8f = L.marker(
                [35.7445493, -79.283391],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_7ca37df2e34bde3013c0a43da96f9520 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_867e6975f24fd9c303fb1d487b2f2d8f.setIcon(icon_7ca37df2e34bde3013c0a43da96f9520);
        
    
        var popup_f9fbd1d12471cc96eb9d568dfb8b6ed7 = L.popup({"maxWidth": "100%"});

        
            var html_8a7991c7f54548be96758c9653d219cc = $(`<div id="html_8a7991c7f54548be96758c9653d219cc" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_f9fbd1d12471cc96eb9d568dfb8b6ed7.setContent(html_8a7991c7f54548be96758c9653d219cc);
        

        marker_867e6975f24fd9c303fb1d487b2f2d8f.bindPopup(popup_f9fbd1d12471cc96eb9d568dfb8b6ed7)
        ;

        
    
    
            marker_867e6975f24fd9c303fb1d487b2f2d8f.bindTooltip(
                `<div>
                     READY SET GROW DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43cf0c6dd6907908f0887d2675b5f63f = L.marker(
                [35.7445493, -79.283391],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_b06a5da6c3a1fdfb5bb352a5b0631d56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_43cf0c6dd6907908f0887d2675b5f63f.setIcon(icon_b06a5da6c3a1fdfb5bb352a5b0631d56);
        
    
        var popup_41e079d92481ae2a1b548a160c3af639 = L.popup({"maxWidth": "100%"});

        
            var html_38df1990196026ad1ef38f2a28071990 = $(`<div id="html_38df1990196026ad1ef38f2a28071990" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_41e079d92481ae2a1b548a160c3af639.setContent(html_38df1990196026ad1ef38f2a28071990);
        

        marker_43cf0c6dd6907908f0887d2675b5f63f.bindPopup(popup_41e079d92481ae2a1b548a160c3af639)
        ;

        
    
    
            marker_43cf0c6dd6907908f0887d2675b5f63f.bindTooltip(
                `<div>
                     READY SET GROW DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd144a2ecde97e6a07968595f0e1ba39 = L.marker(
                [35.70550295, -79.18077625000001],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_f00bc72f9060117fd4ce364d20f18779 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bd144a2ecde97e6a07968595f0e1ba39.setIcon(icon_f00bc72f9060117fd4ce364d20f18779);
        
    
        var popup_6062653e1e7f5d76d9d577ef0209d82d = L.popup({"maxWidth": "100%"});

        
            var html_4be71568ad1defdb366d86fdfc96d4c2 = $(`<div id="html_4be71568ad1defdb366d86fdfc96d4c2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6062653e1e7f5d76d9d577ef0209d82d.setContent(html_4be71568ad1defdb366d86fdfc96d4c2);
        

        marker_bd144a2ecde97e6a07968595f0e1ba39.bindPopup(popup_6062653e1e7f5d76d9d577ef0209d82d)
        ;

        
    
    
            marker_bd144a2ecde97e6a07968595f0e1ba39.bindTooltip(
                `<div>
                     ROBYN'S NEST CREATIVE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_68d430c25f1dbbd2fde2722aa7e0a49f = L.marker(
                [35.70550295, -79.18077625000001],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_8ae9dfcfe2bbec2ba37d34f6128a451d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_68d430c25f1dbbd2fde2722aa7e0a49f.setIcon(icon_8ae9dfcfe2bbec2ba37d34f6128a451d);
        
    
        var popup_d82559d17984547a721bc7bd54820fd4 = L.popup({"maxWidth": "100%"});

        
            var html_f95dd30ac6b837ca24ec7d979fd4ee1f = $(`<div id="html_f95dd30ac6b837ca24ec7d979fd4ee1f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d82559d17984547a721bc7bd54820fd4.setContent(html_f95dd30ac6b837ca24ec7d979fd4ee1f);
        

        marker_68d430c25f1dbbd2fde2722aa7e0a49f.bindPopup(popup_d82559d17984547a721bc7bd54820fd4)
        ;

        
    
    
            marker_68d430c25f1dbbd2fde2722aa7e0a49f.bindTooltip(
                `<div>
                     ROBYN'S NEST CREATIVE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cac9d678eb54ea98bac57a84846ae689 = L.marker(
                [35.8169559, -79.1179326],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_87e62a51cf9448c49a491f03ab1f32af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cac9d678eb54ea98bac57a84846ae689.setIcon(icon_87e62a51cf9448c49a491f03ab1f32af);
        
    
        var popup_a67968e110890749dafcb9da8e9d3e54 = L.popup({"maxWidth": "100%"});

        
            var html_1462092c9ff6b5c1fe48b667ad551ff1 = $(`<div id="html_1462092c9ff6b5c1fe48b667ad551ff1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a67968e110890749dafcb9da8e9d3e54.setContent(html_1462092c9ff6b5c1fe48b667ad551ff1);
        

        marker_cac9d678eb54ea98bac57a84846ae689.bindPopup(popup_a67968e110890749dafcb9da8e9d3e54)
        ;

        
    
    
            marker_cac9d678eb54ea98bac57a84846ae689.bindTooltip(
                `<div>
                     WILLOW OAK MONTESSORI CHILDREN'S HOUSE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_640a9e8676fde10e1348845b5ece37c2 = L.marker(
                [35.8169559, -79.1179326],
                {}
            ).addTo(map_63c2d7f8c0b576fa60106d0dba73174a);
        
    
            var icon_13d2c4b236942312e24739d11b884a51 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_640a9e8676fde10e1348845b5ece37c2.setIcon(icon_13d2c4b236942312e24739d11b884a51);
        
    
        var popup_5966abcc53cb77cbdc65f4ca5789c377 = L.popup({"maxWidth": "100%"});

        
            var html_0ec546897821621c6c312c560c282c26 = $(`<div id="html_0ec546897821621c6c312c560c282c26" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5966abcc53cb77cbdc65f4ca5789c377.setContent(html_0ec546897821621c6c312c560c282c26);
        

        marker_640a9e8676fde10e1348845b5ece37c2.bindPopup(popup_5966abcc53cb77cbdc65f4ca5789c377)
        ;

        
    
    
            marker_640a9e8676fde10e1348845b5ece37c2.bindTooltip(
                `<div>
                     WILLOW OAK MONTESSORI CHILDREN'S HOUSE
                 </div>`,
                {"sticky": true}
            );
        
</script>