<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_715b1a6d2410d9aa2350056d57c8b312 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_715b1a6d2410d9aa2350056d57c8b312" ></div>
        
</body>
<script>    
    
            var map_715b1a6d2410d9aa2350056d57c8b312 = L.map(
                "map_715b1a6d2410d9aa2350056d57c8b312",
                {
                    center: [35.96136785, -79.76132219836353],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9b01bc18b5e58d09b1305ed6d31c2661 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_715b1a6d2410d9aa2350056d57c8b312);
        
    
            var marker_73aa813478b3f9bbb91b3f50670dc6f6 = L.marker(
                [35.96136785, -79.76132219836353],
                {}
            ).addTo(map_715b1a6d2410d9aa2350056d57c8b312);
        
    
            var icon_a4edcd09e8059e89661b508e3d64399f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_73aa813478b3f9bbb91b3f50670dc6f6.setIcon(icon_a4edcd09e8059e89661b508e3d64399f);
        
    
        var popup_37118ca71549a48f65d2e7db8d2a0537 = L.popup({"maxWidth": "100%"});

        
            var html_e0d37727b83c74af1c5018e82a065490 = $(`<div id="html_e0d37727b83c74af1c5018e82a065490" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_37118ca71549a48f65d2e7db8d2a0537.setContent(html_e0d37727b83c74af1c5018e82a065490);
        

        marker_73aa813478b3f9bbb91b3f50670dc6f6.bindPopup(popup_37118ca71549a48f65d2e7db8d2a0537)
        ;

        
    
    
            marker_73aa813478b3f9bbb91b3f50670dc6f6.bindTooltip(
                `<div>
                     PLEASANT GARDEN ELEMENTARY ACES PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6803c209be3de4689f364a375877c160 = L.marker(
                [35.96136785, -79.76132219836353],
                {}
            ).addTo(map_715b1a6d2410d9aa2350056d57c8b312);
        
    
            var icon_638aaf680cb3ecd806a21c74d7df00ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6803c209be3de4689f364a375877c160.setIcon(icon_638aaf680cb3ecd806a21c74d7df00ab);
        
    
        var popup_5a0182166160df9aebb75a644571c2b6 = L.popup({"maxWidth": "100%"});

        
            var html_7d35bf0c3d373bba287039d2a2b9e196 = $(`<div id="html_7d35bf0c3d373bba287039d2a2b9e196" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5a0182166160df9aebb75a644571c2b6.setContent(html_7d35bf0c3d373bba287039d2a2b9e196);
        

        marker_6803c209be3de4689f364a375877c160.bindPopup(popup_5a0182166160df9aebb75a644571c2b6)
        ;

        
    
    
            marker_6803c209be3de4689f364a375877c160.bindTooltip(
                `<div>
                     PLEASANT GARDEN ELEMENTARY NC PRE-K PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
</script>