<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d46e9be1c4e7ac59dce3429dffd6c591 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d46e9be1c4e7ac59dce3429dffd6c591" ></div>
        
</body>
<script>    
    
            var map_d46e9be1c4e7ac59dce3429dffd6c591 = L.map(
                "map_d46e9be1c4e7ac59dce3429dffd6c591",
                {
                    center: [35.00490285, -77.22538970804219],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8f0b130ade5482410e9e9de4a4bdf494 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d46e9be1c4e7ac59dce3429dffd6c591);
        
    
            var marker_b1d57cf1bf24376c527ebc3990c32ff0 = L.marker(
                [35.00490285, -77.22538970804219],
                {}
            ).addTo(map_d46e9be1c4e7ac59dce3429dffd6c591);
        
    
            var icon_11b18e12561a7fa367fdbd7254a2a862 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b1d57cf1bf24376c527ebc3990c32ff0.setIcon(icon_11b18e12561a7fa367fdbd7254a2a862);
        
    
        var popup_86564e9215e7455a1720cb34c4cd731b = L.popup({"maxWidth": "100%"});

        
            var html_8ecbd09759fb52c87865160eaad4d9de = $(`<div id="html_8ecbd09759fb52c87865160eaad4d9de" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_86564e9215e7455a1720cb34c4cd731b.setContent(html_8ecbd09759fb52c87865160eaad4d9de);
        

        marker_b1d57cf1bf24376c527ebc3990c32ff0.bindPopup(popup_86564e9215e7455a1720cb34c4cd731b)
        ;

        
    
    
            marker_b1d57cf1bf24376c527ebc3990c32ff0.bindTooltip(
                `<div>
                     POLLOCKSVILLE ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_74d5dae66df7c6be741c3fe4cccadefc = L.marker(
                [35.0051115, -77.2204430058066],
                {}
            ).addTo(map_d46e9be1c4e7ac59dce3429dffd6c591);
        
    
            var icon_89d931e6eb2b6f1715f50e2d688d115f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_74d5dae66df7c6be741c3fe4cccadefc.setIcon(icon_89d931e6eb2b6f1715f50e2d688d115f);
        
    
        var popup_982c3e0987ee4f3bb7575c41e9eec3df = L.popup({"maxWidth": "100%"});

        
            var html_3d688c01e176ebacb096cfbc7158161c = $(`<div id="html_3d688c01e176ebacb096cfbc7158161c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_982c3e0987ee4f3bb7575c41e9eec3df.setContent(html_3d688c01e176ebacb096cfbc7158161c);
        

        marker_74d5dae66df7c6be741c3fe4cccadefc.bindPopup(popup_982c3e0987ee4f3bb7575c41e9eec3df)
        ;

        
    
    
            marker_74d5dae66df7c6be741c3fe4cccadefc.bindTooltip(
                `<div>
                     POLLOCKSVILLE PRESBYTERIAN CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>