<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1364a26dde86558cc00a4648d94ec6b4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1364a26dde86558cc00a4648d94ec6b4" ></div>
        
</body>
<script>    
    
            var map_1364a26dde86558cc00a4648d94ec6b4 = L.map(
                "map_1364a26dde86558cc00a4648d94ec6b4",
                {
                    center: [35.470203, -78.1626688],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0f981affc05430a21c4e87b6458a0f25 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1364a26dde86558cc00a4648d94ec6b4);
        
    
            var marker_2934828365396050ce93bf3e0d289b3d = L.marker(
                [35.470203, -78.1626688],
                {}
            ).addTo(map_1364a26dde86558cc00a4648d94ec6b4);
        
    
            var icon_289d58b5c582b29a3d02d133abf82c6b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2934828365396050ce93bf3e0d289b3d.setIcon(icon_289d58b5c582b29a3d02d133abf82c6b);
        
    
        var popup_c0bd968fb1291f647e354ddc0afe2aae = L.popup({"maxWidth": "100%"});

        
            var html_9b8040c650c54109fe1865c419b7b194 = $(`<div id="html_9b8040c650c54109fe1865c419b7b194" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c0bd968fb1291f647e354ddc0afe2aae.setContent(html_9b8040c650c54109fe1865c419b7b194);
        

        marker_2934828365396050ce93bf3e0d289b3d.bindPopup(popup_c0bd968fb1291f647e354ddc0afe2aae)
        ;

        
    
    
            marker_2934828365396050ce93bf3e0d289b3d.bindTooltip(
                `<div>
                     PRINCETON DAYCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1ef6330dd13ce6b6ee7bce6e90343acb = L.marker(
                [35.4643758, -78.17655357451666],
                {}
            ).addTo(map_1364a26dde86558cc00a4648d94ec6b4);
        
    
            var icon_4b4726255f6e850d3c80f39caa19110b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1ef6330dd13ce6b6ee7bce6e90343acb.setIcon(icon_4b4726255f6e850d3c80f39caa19110b);
        
    
        var popup_692c3653b415c4dce35f8e94173735a0 = L.popup({"maxWidth": "100%"});

        
            var html_4d5e0732ec350aacfabfe9efda8db2ff = $(`<div id="html_4d5e0732ec350aacfabfe9efda8db2ff" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_692c3653b415c4dce35f8e94173735a0.setContent(html_4d5e0732ec350aacfabfe9efda8db2ff);
        

        marker_1ef6330dd13ce6b6ee7bce6e90343acb.bindPopup(popup_692c3653b415c4dce35f8e94173735a0)
        ;

        
    
    
            marker_1ef6330dd13ce6b6ee7bce6e90343acb.bindTooltip(
                `<div>
                     PRINCETON ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0a650c3c9484bc3cd7a52c61abb7923b = L.marker(
                [35.46539018485833, -78.16401139420682],
                {}
            ).addTo(map_1364a26dde86558cc00a4648d94ec6b4);
        
    
            var icon_7d4c4572529f978ab36eb134dc4100d9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0a650c3c9484bc3cd7a52c61abb7923b.setIcon(icon_7d4c4572529f978ab36eb134dc4100d9);
        
    
        var popup_16fb4647616e7a7242b0f8eb525d56cf = L.popup({"maxWidth": "100%"});

        
            var html_a7ff8eb49121fd2be975c61ffbe6d9e5 = $(`<div id="html_a7ff8eb49121fd2be975c61ffbe6d9e5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_16fb4647616e7a7242b0f8eb525d56cf.setContent(html_a7ff8eb49121fd2be975c61ffbe6d9e5);
        

        marker_0a650c3c9484bc3cd7a52c61abb7923b.bindPopup(popup_16fb4647616e7a7242b0f8eb525d56cf)
        ;

        
    
    
            marker_0a650c3c9484bc3cd7a52c61abb7923b.bindTooltip(
                `<div>
                     PRINCETON HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>