<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b670f5deaafa113b9aa5f40716e44cc8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b670f5deaafa113b9aa5f40716e44cc8" ></div>
        
</body>
<script>    
    
            var map_b670f5deaafa113b9aa5f40716e44cc8 = L.map(
                "map_b670f5deaafa113b9aa5f40716e44cc8",
                {
                    center: [35.825196052765214, -79.83582544447457],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_df043adedaa7b799b04d593f669a24cf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b670f5deaafa113b9aa5f40716e44cc8);
        
    
            var marker_671934a60c37ef331d3cb17293549635 = L.marker(
                [35.825196052765214, -79.83582544447457],
                {}
            ).addTo(map_b670f5deaafa113b9aa5f40716e44cc8);
        
    
            var icon_ea03d10b44d1d4a5fd7370ec663fb1c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_671934a60c37ef331d3cb17293549635.setIcon(icon_ea03d10b44d1d4a5fd7370ec663fb1c2);
        
    
        var popup_74dff3ec844c2fa5de74618b052d6b4b = L.popup({"maxWidth": "100%"});

        
            var html_c21b9b97d6c255d499f256ede5dafd2b = $(`<div id="html_c21b9b97d6c255d499f256ede5dafd2b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_74dff3ec844c2fa5de74618b052d6b4b.setContent(html_c21b9b97d6c255d499f256ede5dafd2b);
        

        marker_671934a60c37ef331d3cb17293549635.bindPopup(popup_74dff3ec844c2fa5de74618b052d6b4b)
        ;

        
    
    
            marker_671934a60c37ef331d3cb17293549635.bindTooltip(
                `<div>
                     IT'S A KIDS WORLD, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_218d1f58d18f7731d5d4ad48860980fb = L.marker(
                [35.809246, -79.803663],
                {}
            ).addTo(map_b670f5deaafa113b9aa5f40716e44cc8);
        
    
            var icon_eee855c1b69c1a1ed41b6b7759faacdb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_218d1f58d18f7731d5d4ad48860980fb.setIcon(icon_eee855c1b69c1a1ed41b6b7759faacdb);
        
    
        var popup_17afd0d35f8df3549c1a12daa579dbf6 = L.popup({"maxWidth": "100%"});

        
            var html_752425ce1edf2853e392a6ea89573e31 = $(`<div id="html_752425ce1edf2853e392a6ea89573e31" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_17afd0d35f8df3549c1a12daa579dbf6.setContent(html_752425ce1edf2853e392a6ea89573e31);
        

        marker_218d1f58d18f7731d5d4ad48860980fb.bindPopup(popup_17afd0d35f8df3549c1a12daa579dbf6)
        ;

        
    
    
            marker_218d1f58d18f7731d5d4ad48860980fb.bindTooltip(
                `<div>
                     RANDLEMAN ENRICHMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>