<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_67f2921b9fcd872166f733c582607d92 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_67f2921b9fcd872166f733c582607d92" ></div>
        
</body>
<script>    
    
            var map_67f2921b9fcd872166f733c582607d92 = L.map(
                "map_67f2921b9fcd872166f733c582607d92",
                {
                    center: [34.80902813107784, -79.17767876129889],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8ccd84f2a4a8c6282ae602ea177134b5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_67f2921b9fcd872166f733c582607d92);
        
    
            var marker_1d6513dad3e7c8a0025bf52fe702dff5 = L.marker(
                [34.80902813107784, -79.17767876129889],
                {}
            ).addTo(map_67f2921b9fcd872166f733c582607d92);
        
    
            var icon_ad3326f133e158b35c75d1c3be979ee4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1d6513dad3e7c8a0025bf52fe702dff5.setIcon(icon_ad3326f133e158b35c75d1c3be979ee4);
        
    
        var popup_ac2d2ebcecd83507129c246868a86e21 = L.popup({"maxWidth": "100%"});

        
            var html_fcc058d90c84ce1b3628c5216c6038cf = $(`<div id="html_fcc058d90c84ce1b3628c5216c6038cf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ac2d2ebcecd83507129c246868a86e21.setContent(html_fcc058d90c84ce1b3628c5216c6038cf);
        

        marker_1d6513dad3e7c8a0025bf52fe702dff5.bindPopup(popup_ac2d2ebcecd83507129c246868a86e21)
        ;

        
    
    
            marker_1d6513dad3e7c8a0025bf52fe702dff5.bindTooltip(
                `<div>
                     BRIGHTER DAY CHRISTIAN ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ac9b587171b5dd0fb09cf0435f39b3f0 = L.marker(
                [34.81272890332271, -79.18921387100988],
                {}
            ).addTo(map_67f2921b9fcd872166f733c582607d92);
        
    
            var icon_991e955d701dfa29b6ced254e887b52f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ac9b587171b5dd0fb09cf0435f39b3f0.setIcon(icon_991e955d701dfa29b6ced254e887b52f);
        
    
        var popup_919486a12fcb7b4e572f5aed327ebe0a = L.popup({"maxWidth": "100%"});

        
            var html_c70a13ad1a2ffc29a07ada27bc4247b0 = $(`<div id="html_c70a13ad1a2ffc29a07ada27bc4247b0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_919486a12fcb7b4e572f5aed327ebe0a.setContent(html_c70a13ad1a2ffc29a07ada27bc4247b0);
        

        marker_ac9b587171b5dd0fb09cf0435f39b3f0.bindPopup(popup_919486a12fcb7b4e572f5aed327ebe0a)
        ;

        
    
    
            marker_ac9b587171b5dd0fb09cf0435f39b3f0.bindTooltip(
                `<div>
                     PETERSON EARLY CHILDHOOD PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_75c10e8f0308dd9e3c1abbd4e3f72ddb = L.marker(
                [34.81272890332271, -79.18921387100988],
                {}
            ).addTo(map_67f2921b9fcd872166f733c582607d92);
        
    
            var icon_c24324510fe1a422d74e4e457b67bea3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_75c10e8f0308dd9e3c1abbd4e3f72ddb.setIcon(icon_c24324510fe1a422d74e4e457b67bea3);
        
    
        var popup_0b81587bddee95ec72909b4789adad06 = L.popup({"maxWidth": "100%"});

        
            var html_2b8712c534851cb8265fcc519a35e7f1 = $(`<div id="html_2b8712c534851cb8265fcc519a35e7f1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0b81587bddee95ec72909b4789adad06.setContent(html_2b8712c534851cb8265fcc519a35e7f1);
        

        marker_75c10e8f0308dd9e3c1abbd4e3f72ddb.bindPopup(popup_0b81587bddee95ec72909b4789adad06)
        ;

        
    
    
            marker_75c10e8f0308dd9e3c1abbd4e3f72ddb.bindTooltip(
                `<div>
                     PETERSON PRIMETIME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_26d7e1e7e411438875ea36d9b3cad68f = L.marker(
                [34.79986369241343, -79.19696639205121],
                {}
            ).addTo(map_67f2921b9fcd872166f733c582607d92);
        
    
            var icon_fb8dcd287720f89624395a134a81d149 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_26d7e1e7e411438875ea36d9b3cad68f.setIcon(icon_fb8dcd287720f89624395a134a81d149);
        
    
        var popup_9ddfd5916660c1aaf9cf1af300575f93 = L.popup({"maxWidth": "100%"});

        
            var html_c3e25ed9019b3079afe34d06c8820d3e = $(`<div id="html_c3e25ed9019b3079afe34d06c8820d3e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9ddfd5916660c1aaf9cf1af300575f93.setContent(html_c3e25ed9019b3079afe34d06c8820d3e);
        

        marker_26d7e1e7e411438875ea36d9b3cad68f.bindPopup(popup_9ddfd5916660c1aaf9cf1af300575f93)
        ;

        
    
    
            marker_26d7e1e7e411438875ea36d9b3cad68f.bindTooltip(
                `<div>
                     TINY TOTS DAYCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>