<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6fe6964772c0f7f1900e42980b3c5b60 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6fe6964772c0f7f1900e42980b3c5b60" ></div>
        
</body>
<script>    
    
            var map_6fe6964772c0f7f1900e42980b3c5b60 = L.map(
                "map_6fe6964772c0f7f1900e42980b3c5b60",
                {
                    center: [36.46607153061225, -77.64674987755102],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bc5fab3c911337e522f13697d003ce94 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var marker_80422b5b11696b7d53584699794bbd6a = L.marker(
                [36.46607153061225, -77.64674987755102],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_76018b2ea6c5494180f8cf35425783ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_80422b5b11696b7d53584699794bbd6a.setIcon(icon_76018b2ea6c5494180f8cf35425783ad);
        
    
        var popup_0d94b282d8b13c11ce90375747c85c07 = L.popup({"maxWidth": "100%"});

        
            var html_f30d2b8fddd8976b2145445b8905d0b4 = $(`<div id="html_f30d2b8fddd8976b2145445b8905d0b4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0d94b282d8b13c11ce90375747c85c07.setContent(html_f30d2b8fddd8976b2145445b8905d0b4);
        

        marker_80422b5b11696b7d53584699794bbd6a.bindPopup(popup_0d94b282d8b13c11ce90375747c85c07)
        ;

        
    
    
            marker_80422b5b11696b7d53584699794bbd6a.bindTooltip(
                `<div>
                     A - Z CHILDREN ENRICHMENT ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_86788faa7b941cf52f9a71c753fda036 = L.marker(
                [36.45089538576018, -77.638708746581],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_1a02a003eae7ef43cff1b852a3256ffe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_86788faa7b941cf52f9a71c753fda036.setIcon(icon_1a02a003eae7ef43cff1b852a3256ffe);
        
    
        var popup_12e57e7bb747803a539015abb8f739e2 = L.popup({"maxWidth": "100%"});

        
            var html_2001d13a7fff4a2baaa540bcdec0c143 = $(`<div id="html_2001d13a7fff4a2baaa540bcdec0c143" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_12e57e7bb747803a539015abb8f739e2.setContent(html_2001d13a7fff4a2baaa540bcdec0c143);
        

        marker_86788faa7b941cf52f9a71c753fda036.bindPopup(popup_12e57e7bb747803a539015abb8f739e2)
        ;

        
    
    
            marker_86788faa7b941cf52f9a71c753fda036.bindTooltip(
                `<div>
                     ANGIE'S DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8bc6d691573c98ac76fee480cf7dd403 = L.marker(
                [36.445349, -77.66965],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_9dcd2b48801f19e9c1e0bf620a1eae19 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8bc6d691573c98ac76fee480cf7dd403.setIcon(icon_9dcd2b48801f19e9c1e0bf620a1eae19);
        
    
        var popup_89efbafa1897a695f24b4848d25e6d13 = L.popup({"maxWidth": "100%"});

        
            var html_0c8e7e6c684b0286b4bfc4fd5a166e85 = $(`<div id="html_0c8e7e6c684b0286b4bfc4fd5a166e85" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_89efbafa1897a695f24b4848d25e6d13.setContent(html_0c8e7e6c684b0286b4bfc4fd5a166e85);
        

        marker_8bc6d691573c98ac76fee480cf7dd403.bindPopup(popup_89efbafa1897a695f24b4848d25e6d13)
        ;

        
    
    
            marker_8bc6d691573c98ac76fee480cf7dd403.bindTooltip(
                `<div>
                     CHILDREN'S CREATIVE CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_18f37ca19b28f1cb37d2d9adca89a652 = L.marker(
                [36.46320665306122, -77.66298061224491],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_4da52c72bd8dc0751c8a3c57a339ac2e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_18f37ca19b28f1cb37d2d9adca89a652.setIcon(icon_4da52c72bd8dc0751c8a3c57a339ac2e);
        
    
        var popup_d43ee1630387f8a6493d4e2d249737f0 = L.popup({"maxWidth": "100%"});

        
            var html_ff864b20936c86513dc7a9e688edb3df = $(`<div id="html_ff864b20936c86513dc7a9e688edb3df" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d43ee1630387f8a6493d4e2d249737f0.setContent(html_ff864b20936c86513dc7a9e688edb3df);
        

        marker_18f37ca19b28f1cb37d2d9adca89a652.bindPopup(popup_d43ee1630387f8a6493d4e2d249737f0)
        ;

        
    
    
            marker_18f37ca19b28f1cb37d2d9adca89a652.bindTooltip(
                `<div>
                     CLARA HEARNE EARLY CHILDHOOD CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_75768fe581b6572aa7920439ac9a2ba9 = L.marker(
                [36.46320665306122, -77.66298061224491],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_adb1255e777cc989a0931681a4d12b23 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_75768fe581b6572aa7920439ac9a2ba9.setIcon(icon_adb1255e777cc989a0931681a4d12b23);
        
    
        var popup_13787cad929fd14d6cbf1630bcdeacc6 = L.popup({"maxWidth": "100%"});

        
            var html_6cd2c949e51ac618d66ae51786ef5847 = $(`<div id="html_6cd2c949e51ac618d66ae51786ef5847" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_13787cad929fd14d6cbf1630bcdeacc6.setContent(html_6cd2c949e51ac618d66ae51786ef5847);
        

        marker_75768fe581b6572aa7920439ac9a2ba9.bindPopup(popup_13787cad929fd14d6cbf1630bcdeacc6)
        ;

        
    
    
            marker_75768fe581b6572aa7920439ac9a2ba9.bindTooltip(
                `<div>
                     CLARA HEARNE HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a08a18606633c98ce7f13a94deebfc0 = L.marker(
                [36.4448721, -77.7452593],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_d36ae49c79c1111906b480a9a13f0388 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5a08a18606633c98ce7f13a94deebfc0.setIcon(icon_d36ae49c79c1111906b480a9a13f0388);
        
    
        var popup_f03e8bb1ae74712cc413481e1e4882bd = L.popup({"maxWidth": "100%"});

        
            var html_6d60ef7eeae028f00b5943d516fec7ff = $(`<div id="html_6d60ef7eeae028f00b5943d516fec7ff" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f03e8bb1ae74712cc413481e1e4882bd.setContent(html_6d60ef7eeae028f00b5943d516fec7ff);
        

        marker_5a08a18606633c98ce7f13a94deebfc0.bindPopup(popup_f03e8bb1ae74712cc413481e1e4882bd)
        ;

        
    
    
            marker_5a08a18606633c98ce7f13a94deebfc0.bindTooltip(
                `<div>
                     EVERETTS ELEMENTARY S.T.E.M. ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a279492282d87e905b68ab206e4c5de6 = L.marker(
                [36.43438232653062, -77.69656977551021],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_b8e6369d09c29b382986f6b1d1f02f3d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_a279492282d87e905b68ab206e4c5de6.setIcon(icon_b8e6369d09c29b382986f6b1d1f02f3d);
        
    
        var popup_4e622d55812d438ce430c5770e519783 = L.popup({"maxWidth": "100%"});

        
            var html_8a220a5b0eebd51d004fe0e58d4afc0a = $(`<div id="html_8a220a5b0eebd51d004fe0e58d4afc0a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_4e622d55812d438ce430c5770e519783.setContent(html_8a220a5b0eebd51d004fe0e58d4afc0a);
        

        marker_a279492282d87e905b68ab206e4c5de6.bindPopup(popup_4e622d55812d438ce430c5770e519783)
        ;

        
    
    
            marker_a279492282d87e905b68ab206e4c5de6.bindTooltip(
                `<div>
                     FROM THE HEART DAYCARE L.L.C.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7d97a7f8369736baddc635c767d62a7e = L.marker(
                [36.441948295918365, -77.65627179591837],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_05617ec8cebda213590826e5657bfb85 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7d97a7f8369736baddc635c767d62a7e.setIcon(icon_05617ec8cebda213590826e5657bfb85);
        
    
        var popup_fdfeb45ef4b6460a3fa4ba1f13f8c6b5 = L.popup({"maxWidth": "100%"});

        
            var html_1267ea2a12e62033bede93251233e3f6 = $(`<div id="html_1267ea2a12e62033bede93251233e3f6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fdfeb45ef4b6460a3fa4ba1f13f8c6b5.setContent(html_1267ea2a12e62033bede93251233e3f6);
        

        marker_7d97a7f8369736baddc635c767d62a7e.bindPopup(popup_fdfeb45ef4b6460a3fa4ba1f13f8c6b5)
        ;

        
    
    
            marker_7d97a7f8369736baddc635c767d62a7e.bindTooltip(
                `<div>
                     HODGESTOWN LIFETIME LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7f6d27a3211af042932948b113cb171d = L.marker(
                [36.45428867346939, -77.64625746938775],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_229b2d382fafe5114e10b447908af293 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7f6d27a3211af042932948b113cb171d.setIcon(icon_229b2d382fafe5114e10b447908af293);
        
    
        var popup_801404682f98740c439b87e300f1ff59 = L.popup({"maxWidth": "100%"});

        
            var html_c2de028f4d60b91f0227c3e7b8ae2057 = $(`<div id="html_c2de028f4d60b91f0227c3e7b8ae2057" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_801404682f98740c439b87e300f1ff59.setContent(html_c2de028f4d60b91f0227c3e7b8ae2057);
        

        marker_7f6d27a3211af042932948b113cb171d.bindPopup(popup_801404682f98740c439b87e300f1ff59)
        ;

        
    
    
            marker_7f6d27a3211af042932948b113cb171d.bindTooltip(
                `<div>
                     JUST FOR KIDS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_73f1cf3701cbdefb7c98913d540b6160 = L.marker(
                [36.44364200889799, -77.6382967577596],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_9ccb365849238b54bb4956e5dc7759ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_73f1cf3701cbdefb7c98913d540b6160.setIcon(icon_9ccb365849238b54bb4956e5dc7759ea);
        
    
        var popup_49cdf0fe034f9cfcb85d4f5b58bddea1 = L.popup({"maxWidth": "100%"});

        
            var html_05b02063eb34c2cb7e67dde8bfe41bdb = $(`<div id="html_05b02063eb34c2cb7e67dde8bfe41bdb" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_49cdf0fe034f9cfcb85d4f5b58bddea1.setContent(html_05b02063eb34c2cb7e67dde8bfe41bdb);
        

        marker_73f1cf3701cbdefb7c98913d540b6160.bindPopup(popup_49cdf0fe034f9cfcb85d4f5b58bddea1)
        ;

        
    
    
            marker_73f1cf3701cbdefb7c98913d540b6160.bindTooltip(
                `<div>
                     LET THEM BE LITTLE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ebb9afa5362537715f063e7da00412f5 = L.marker(
                [36.464121142857145, -77.64771357142857],
                {}
            ).addTo(map_6fe6964772c0f7f1900e42980b3c5b60);
        
    
            var icon_0fe30b75e5ee77e1bdeee7f12662f940 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ebb9afa5362537715f063e7da00412f5.setIcon(icon_0fe30b75e5ee77e1bdeee7f12662f940);
        
    
        var popup_2e62cd940508f11b64695b52f01c0c1d = L.popup({"maxWidth": "100%"});

        
            var html_1f78772ffa50ee6a363037aba7d778ed = $(`<div id="html_1f78772ffa50ee6a363037aba7d778ed" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_2e62cd940508f11b64695b52f01c0c1d.setContent(html_1f78772ffa50ee6a363037aba7d778ed);
        

        marker_ebb9afa5362537715f063e7da00412f5.bindPopup(popup_2e62cd940508f11b64695b52f01c0c1d)
        ;

        
    
    
            marker_ebb9afa5362537715f063e7da00412f5.bindTooltip(
                `<div>
                     MAMA G'S NURSERY
                 </div>`,
                {"sticky": true}
            );
        
</script>