<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a12be24883190e86f6b04baa2c996e66 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a12be24883190e86f6b04baa2c996e66" ></div>
        
</body>
<script>    
    
            var map_a12be24883190e86f6b04baa2c996e66 = L.map(
                "map_a12be24883190e86f6b04baa2c996e66",
                {
                    center: [35.8260767, -77.2619128],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bd10245f5c6da578823cab0e11d342c9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a12be24883190e86f6b04baa2c996e66);
        
    
            var marker_c04703c550a06af43b73a25b0e5da1c8 = L.marker(
                [35.8260767, -77.2619128],
                {}
            ).addTo(map_a12be24883190e86f6b04baa2c996e66);
        
    
            var icon_dc38c2909cb1d4dd692af703bd064c61 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c04703c550a06af43b73a25b0e5da1c8.setIcon(icon_dc38c2909cb1d4dd692af703bd064c61);
        
    
        var popup_fdc1dff5549d6c62093d0f466d21e4b5 = L.popup({"maxWidth": "100%"});

        
            var html_df5163febdcc40e99ea835c75933f1aa = $(`<div id="html_df5163febdcc40e99ea835c75933f1aa" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fdc1dff5549d6c62093d0f466d21e4b5.setContent(html_df5163febdcc40e99ea835c75933f1aa);
        

        marker_c04703c550a06af43b73a25b0e5da1c8.bindPopup(popup_fdc1dff5549d6c62093d0f466d21e4b5)
        ;

        
    
    
            marker_c04703c550a06af43b73a25b0e5da1c8.bindTooltip(
                `<div>
                     NC OPEN ARMS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a4249e95f09197a70092f427319f368e = L.marker(
                [35.8226294, -77.2530363],
                {}
            ).addTo(map_a12be24883190e86f6b04baa2c996e66);
        
    
            var icon_b8064304791f376f20d986feca1c06c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a4249e95f09197a70092f427319f368e.setIcon(icon_b8064304791f376f20d986feca1c06c9);
        
    
        var popup_4438b4173ee66275590108f933d8f7a4 = L.popup({"maxWidth": "100%"});

        
            var html_69041339454af502735d0e191c5632d6 = $(`<div id="html_69041339454af502735d0e191c5632d6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4438b4173ee66275590108f933d8f7a4.setContent(html_69041339454af502735d0e191c5632d6);
        

        marker_a4249e95f09197a70092f427319f368e.bindPopup(popup_4438b4173ee66275590108f933d8f7a4)
        ;

        
    
    
            marker_a4249e95f09197a70092f427319f368e.bindTooltip(
                `<div>
                     SOUTH CREEK PRE-K
                 </div>`,
                {"sticky": true}
            );
        
</script>