<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1d20bc2e361b1bc8a409d36a399f00d1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1d20bc2e361b1bc8a409d36a399f00d1" ></div>
        
</body>
<script>    
    
            var map_1d20bc2e361b1bc8a409d36a399f00d1 = L.map(
                "map_1d20bc2e361b1bc8a409d36a399f00d1",
                {
                    center: [35.914649009160165, -78.47332893715988],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_019b988d40ca4d642c1c4952cb002954 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1d20bc2e361b1bc8a409d36a399f00d1);
        
    
            var marker_01bd631fe3facc1fe1ae3f3c7b8b1041 = L.marker(
                [35.914649009160165, -78.47332893715988],
                {}
            ).addTo(map_1d20bc2e361b1bc8a409d36a399f00d1);
        
    
            var icon_c3037548e7b93f709890ae4198338dd7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_01bd631fe3facc1fe1ae3f3c7b8b1041.setIcon(icon_c3037548e7b93f709890ae4198338dd7);
        
    
        var popup_5481555d52db1b42ddb6bdd0ef71f118 = L.popup({"maxWidth": "100%"});

        
            var html_bfa97dd64fd9947ab880827ddd6e40bf = $(`<div id="html_bfa97dd64fd9947ab880827ddd6e40bf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5481555d52db1b42ddb6bdd0ef71f118.setContent(html_bfa97dd64fd9947ab880827ddd6e40bf);
        

        marker_01bd631fe3facc1fe1ae3f3c7b8b1041.bindPopup(popup_5481555d52db1b42ddb6bdd0ef71f118)
        ;

        
    
    
            marker_01bd631fe3facc1fe1ae3f3c7b8b1041.bindTooltip(
                `<div>
                     RHYMES & REASONS, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aac9aa7af1e377825868d9da1a7f8e8a = L.marker(
                [35.927667, -78.471052],
                {}
            ).addTo(map_1d20bc2e361b1bc8a409d36a399f00d1);
        
    
            var icon_b528d513b061b77854301afbbb81f125 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_aac9aa7af1e377825868d9da1a7f8e8a.setIcon(icon_b528d513b061b77854301afbbb81f125);
        
    
        var popup_5117536e292743a29ad8d67b21194f16 = L.popup({"maxWidth": "100%"});

        
            var html_e31311b5c3065346c67729f6f8e8d158 = $(`<div id="html_e31311b5c3065346c67729f6f8e8d158" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5117536e292743a29ad8d67b21194f16.setContent(html_e31311b5c3065346c67729f6f8e8d158);
        

        marker_aac9aa7af1e377825868d9da1a7f8e8a.bindPopup(popup_5117536e292743a29ad8d67b21194f16)
        ;

        
    
    
            marker_aac9aa7af1e377825868d9da1a7f8e8a.bindTooltip(
                `<div>
                     ROLESVILLE CREEK LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1d572cc18cbec09572d4eb8ec63174d6 = L.marker(
                [35.928369, -78.458873],
                {}
            ).addTo(map_1d20bc2e361b1bc8a409d36a399f00d1);
        
    
            var icon_156d9c9981e6318fb592a458a7b4dc07 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1d572cc18cbec09572d4eb8ec63174d6.setIcon(icon_156d9c9981e6318fb592a458a7b4dc07);
        
    
        var popup_237714d3dadb4192c0671ec74ade51bd = L.popup({"maxWidth": "100%"});

        
            var html_b47e7949037bd127c24b7ca0b729dd24 = $(`<div id="html_b47e7949037bd127c24b7ca0b729dd24" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_237714d3dadb4192c0671ec74ade51bd.setContent(html_b47e7949037bd127c24b7ca0b729dd24);
        

        marker_1d572cc18cbec09572d4eb8ec63174d6.bindPopup(popup_237714d3dadb4192c0671ec74ade51bd)
        ;

        
    
    
            marker_1d572cc18cbec09572d4eb8ec63174d6.bindTooltip(
                `<div>
                     SANFORD CREEK ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
</script>