<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_874fd183abe40d6e2653019698f0f03f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_874fd183abe40d6e2653019698f0f03f" ></div>
        
</body>
<script>    
    
            var map_874fd183abe40d6e2653019698f0f03f = L.map(
                "map_874fd183abe40d6e2653019698f0f03f",
                {
                    center: [34.824178875, -78.027288625],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bd92e7e8ea43e1816756f152300eb5e6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_874fd183abe40d6e2653019698f0f03f);
        
    
            var marker_939badc888e1c530ffd255d92e448dde = L.marker(
                [34.824178875, -78.027288625],
                {}
            ).addTo(map_874fd183abe40d6e2653019698f0f03f);
        
    
            var icon_77f7bdb6037f3c63ab65eab82acfaa9b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_939badc888e1c530ffd255d92e448dde.setIcon(icon_77f7bdb6037f3c63ab65eab82acfaa9b);
        
    
        var popup_889d61d61afb28f1286d4ee16e4b5e14 = L.popup({"maxWidth": "100%"});

        
            var html_0cc4559a6b621a79ce238cee2f033b35 = $(`<div id="html_0cc4559a6b621a79ce238cee2f033b35" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_889d61d61afb28f1286d4ee16e4b5e14.setContent(html_0cc4559a6b621a79ce238cee2f033b35);
        

        marker_939badc888e1c530ffd255d92e448dde.bindPopup(popup_889d61d61afb28f1286d4ee16e4b5e14)
        ;

        
    
    
            marker_939badc888e1c530ffd255d92e448dde.bindTooltip(
                `<div>
                     TAILORED LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd3b2e460e7adfe93e18aec6df2d20f8 = L.marker(
                [34.8200671875, -78.01993900000001],
                {}
            ).addTo(map_874fd183abe40d6e2653019698f0f03f);
        
    
            var icon_8254f377364c73d1f3630faf67d0b0ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bd3b2e460e7adfe93e18aec6df2d20f8.setIcon(icon_8254f377364c73d1f3630faf67d0b0ff);
        
    
        var popup_9df859c75a7db2fd52f8edbb3c277bad = L.popup({"maxWidth": "100%"});

        
            var html_7b804ae7d7be54f0b80d3ef2a8a83429 = $(`<div id="html_7b804ae7d7be54f0b80d3ef2a8a83429" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9df859c75a7db2fd52f8edbb3c277bad.setContent(html_7b804ae7d7be54f0b80d3ef2a8a83429);
        

        marker_bd3b2e460e7adfe93e18aec6df2d20f8.bindPopup(popup_9df859c75a7db2fd52f8edbb3c277bad)
        ;

        
    
    
            marker_bd3b2e460e7adfe93e18aec6df2d20f8.bindTooltip(
                `<div>
                     TATER TOTS LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>