<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_72e76d30859fbf9d4581bebc9ffb3c2b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_72e76d30859fbf9d4581bebc9ffb3c2b" ></div>
        
</body>
<script>    
    
            var map_72e76d30859fbf9d4581bebc9ffb3c2b = L.map(
                "map_72e76d30859fbf9d4581bebc9ffb3c2b",
                {
                    center: [34.95459303212063, -78.51243950495973],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cdabcac79b5c82bd4c80d50c1224c006 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var marker_22ed895518ca0edd44d8b2ed75af0d25 = L.marker(
                [34.95459303212063, -78.51243950495973],
                {}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var icon_3192186dd89902fab9668243dbdcaeb3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_22ed895518ca0edd44d8b2ed75af0d25.setIcon(icon_3192186dd89902fab9668243dbdcaeb3);
        
    
        var popup_2136532e7a58e4278b355ae004cbacef = L.popup({"maxWidth": "100%"});

        
            var html_a15151245d1ddb27217fc31c6d100a0f = $(`<div id="html_a15151245d1ddb27217fc31c6d100a0f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2136532e7a58e4278b355ae004cbacef.setContent(html_a15151245d1ddb27217fc31c6d100a0f);
        

        marker_22ed895518ca0edd44d8b2ed75af0d25.bindPopup(popup_2136532e7a58e4278b355ae004cbacef)
        ;

        
    
    
            marker_22ed895518ca0edd44d8b2ed75af0d25.bindTooltip(
                `<div>
                     CASON'S COMMUNITY DAY CARE LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_917cca5b4ff3dfafe0736264e9b35ef7 = L.marker(
                [34.95459303212063, -78.51243950495973],
                {}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var icon_f5ed9bad4053f278cecef5151de40c5c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_917cca5b4ff3dfafe0736264e9b35ef7.setIcon(icon_f5ed9bad4053f278cecef5151de40c5c);
        
    
        var popup_14c229ac855453227ea8d91d8268ed7b = L.popup({"maxWidth": "100%"});

        
            var html_096fd78a05d92c6dd9cb3bf6eaef252b = $(`<div id="html_096fd78a05d92c6dd9cb3bf6eaef252b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_14c229ac855453227ea8d91d8268ed7b.setContent(html_096fd78a05d92c6dd9cb3bf6eaef252b);
        

        marker_917cca5b4ff3dfafe0736264e9b35ef7.bindPopup(popup_14c229ac855453227ea8d91d8268ed7b)
        ;

        
    
    
            marker_917cca5b4ff3dfafe0736264e9b35ef7.bindTooltip(
                `<div>
                     CASON'S COMMUNITY DAY CARE LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_40712b13e58f34b42d6456239c784832 = L.marker(
                [34.9543441, -78.5216077],
                {}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var icon_4d59e0dc4d7bb06c51fcb998d40e4648 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_40712b13e58f34b42d6456239c784832.setIcon(icon_4d59e0dc4d7bb06c51fcb998d40e4648);
        
    
        var popup_dca7c2eac064adf5333bca614f01602d = L.popup({"maxWidth": "100%"});

        
            var html_a1a526959ce6ee6290369a13763e7ae4 = $(`<div id="html_a1a526959ce6ee6290369a13763e7ae4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_dca7c2eac064adf5333bca614f01602d.setContent(html_a1a526959ce6ee6290369a13763e7ae4);
        

        marker_40712b13e58f34b42d6456239c784832.bindPopup(popup_dca7c2eac064adf5333bca614f01602d)
        ;

        
    
    
            marker_40712b13e58f34b42d6456239c784832.bindTooltip(
                `<div>
                     TELAMON NORTH CAROLINA HEAD START AT THE LEARNING
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7a0123e690eef8eecf2e7633c9822039 = L.marker(
                [34.9543441, -78.5216077],
                {}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var icon_98667c27e658d48dae5e4b33ff63a809 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7a0123e690eef8eecf2e7633c9822039.setIcon(icon_98667c27e658d48dae5e4b33ff63a809);
        
    
        var popup_c5ef0a560d5e36d68dc7adef845703c3 = L.popup({"maxWidth": "100%"});

        
            var html_82c9c60153f9f98e1743d1ed3bd6fd32 = $(`<div id="html_82c9c60153f9f98e1743d1ed3bd6fd32" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c5ef0a560d5e36d68dc7adef845703c3.setContent(html_82c9c60153f9f98e1743d1ed3bd6fd32);
        

        marker_7a0123e690eef8eecf2e7633c9822039.bindPopup(popup_c5ef0a560d5e36d68dc7adef845703c3)
        ;

        
    
    
            marker_7a0123e690eef8eecf2e7633c9822039.bindTooltip(
                `<div>
                     TELAMON NORTH CAROLINA HEAD START AT THE LEARNING
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_42835dccd34f9e20319d2c618309f648 = L.marker(
                [34.95459303212063, -78.51243950495973],
                {}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var icon_a46782f0ad1e0b46a2fe3833c5ea243c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_42835dccd34f9e20319d2c618309f648.setIcon(icon_a46782f0ad1e0b46a2fe3833c5ea243c);
        
    
        var popup_7dc295b23611d640187e985d91ad79d3 = L.popup({"maxWidth": "100%"});

        
            var html_cc9aa1dbc576c0907ee11f3a249c77f9 = $(`<div id="html_cc9aa1dbc576c0907ee11f3a249c77f9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7dc295b23611d640187e985d91ad79d3.setContent(html_cc9aa1dbc576c0907ee11f3a249c77f9);
        

        marker_42835dccd34f9e20319d2c618309f648.bindPopup(popup_7dc295b23611d640187e985d91ad79d3)
        ;

        
    
    
            marker_42835dccd34f9e20319d2c618309f648.bindTooltip(
                `<div>
                     CASON'S COMMUNITY DAY CARE LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04432b96eb2288a2e3e9bcab6e777743 = L.marker(
                [34.95459303212063, -78.51243950495973],
                {}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var icon_7843da92ccc0940d31b0a7783c4364be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_04432b96eb2288a2e3e9bcab6e777743.setIcon(icon_7843da92ccc0940d31b0a7783c4364be);
        
    
        var popup_a27084723b49abdf048522a51cc464a1 = L.popup({"maxWidth": "100%"});

        
            var html_1dc58214b2f53de2a596e859f95fdfdc = $(`<div id="html_1dc58214b2f53de2a596e859f95fdfdc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a27084723b49abdf048522a51cc464a1.setContent(html_1dc58214b2f53de2a596e859f95fdfdc);
        

        marker_04432b96eb2288a2e3e9bcab6e777743.bindPopup(popup_a27084723b49abdf048522a51cc464a1)
        ;

        
    
    
            marker_04432b96eb2288a2e3e9bcab6e777743.bindTooltip(
                `<div>
                     CASON'S COMMUNITY DAY CARE LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cb1b03a72270ffd5af69d9dc415789e2 = L.marker(
                [34.9543441, -78.5216077],
                {}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var icon_1faee3a371cec2ca618ff85d5b9cc48f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cb1b03a72270ffd5af69d9dc415789e2.setIcon(icon_1faee3a371cec2ca618ff85d5b9cc48f);
        
    
        var popup_7d147e0fa3565d47709261e0c96f0d16 = L.popup({"maxWidth": "100%"});

        
            var html_7905c718abd75730e8ff25abb0bdb3e2 = $(`<div id="html_7905c718abd75730e8ff25abb0bdb3e2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7d147e0fa3565d47709261e0c96f0d16.setContent(html_7905c718abd75730e8ff25abb0bdb3e2);
        

        marker_cb1b03a72270ffd5af69d9dc415789e2.bindPopup(popup_7d147e0fa3565d47709261e0c96f0d16)
        ;

        
    
    
            marker_cb1b03a72270ffd5af69d9dc415789e2.bindTooltip(
                `<div>
                     TELAMON NORTH CAROLINA HEAD START AT THE LEARNING
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e5c90115162ead1eb08860709437fdc6 = L.marker(
                [34.9543441, -78.5216077],
                {}
            ).addTo(map_72e76d30859fbf9d4581bebc9ffb3c2b);
        
    
            var icon_9131fb36912e1cf092cc36d54cf4f573 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e5c90115162ead1eb08860709437fdc6.setIcon(icon_9131fb36912e1cf092cc36d54cf4f573);
        
    
        var popup_8cdc7546dcd1a2c7c58edf1912b7ac6f = L.popup({"maxWidth": "100%"});

        
            var html_bbea0da53f6effb833460a406fef74e7 = $(`<div id="html_bbea0da53f6effb833460a406fef74e7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8cdc7546dcd1a2c7c58edf1912b7ac6f.setContent(html_bbea0da53f6effb833460a406fef74e7);
        

        marker_e5c90115162ead1eb08860709437fdc6.bindPopup(popup_8cdc7546dcd1a2c7c58edf1912b7ac6f)
        ;

        
    
    
            marker_e5c90115162ead1eb08860709437fdc6.bindTooltip(
                `<div>
                     TELAMON NORTH CAROLINA HEAD START AT THE LEARNING
                 </div>`,
                {"sticky": true}
            );
        
</script>