<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4044064c693d3840d6901993f4409df8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4044064c693d3840d6901993f4409df8" ></div>
        
</body>
<script>    
    
            var map_4044064c693d3840d6901993f4409df8 = L.map(
                "map_4044064c693d3840d6901993f4409df8",
                {
                    center: [35.48680215, -79.2123448647348],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_438bffdf51e0ccacdae8d7f62329e3d2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var marker_81cffefaeb139796d7ce3052e878437b = L.marker(
                [35.48680215, -79.2123448647348],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_5b5522e553939a898be41bd53df94b8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_81cffefaeb139796d7ce3052e878437b.setIcon(icon_5b5522e553939a898be41bd53df94b8a);
        
    
        var popup_b121322798de039049e4dba0decefda4 = L.popup({"maxWidth": "100%"});

        
            var html_f02168d1cbe90d8c0675a56750cc1947 = $(`<div id="html_f02168d1cbe90d8c0675a56750cc1947" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b121322798de039049e4dba0decefda4.setContent(html_f02168d1cbe90d8c0675a56750cc1947);
        

        marker_81cffefaeb139796d7ce3052e878437b.bindPopup(popup_b121322798de039049e4dba0decefda4)
        ;

        
    
    
            marker_81cffefaeb139796d7ce3052e878437b.bindTooltip(
                `<div>
                     ABUNDANT LIFE CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6492658014b2303c981ab0abf5d041d8 = L.marker(
                [35.443312939847054, -79.11467323906204],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_2e36fc950a24140fb721fb32230798c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6492658014b2303c981ab0abf5d041d8.setIcon(icon_2e36fc950a24140fb721fb32230798c6);
        
    
        var popup_3027cdbab6f8a8a61af1108e24af6fb8 = L.popup({"maxWidth": "100%"});

        
            var html_08b21ffec4e983ed0c1ed7a082e73582 = $(`<div id="html_08b21ffec4e983ed0c1ed7a082e73582" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3027cdbab6f8a8a61af1108e24af6fb8.setContent(html_08b21ffec4e983ed0c1ed7a082e73582);
        

        marker_6492658014b2303c981ab0abf5d041d8.bindPopup(popup_3027cdbab6f8a8a61af1108e24af6fb8)
        ;

        
    
    
            marker_6492658014b2303c981ab0abf5d041d8.bindTooltip(
                `<div>
                     ALEXANDRIA'S ANGELS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b3dd9f25e9edbd2c8d0d9f6897592aa1 = L.marker(
                [35.48355405, -79.16925560179305],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_ce323784f1be08cffcc5db9d7dd1972b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b3dd9f25e9edbd2c8d0d9f6897592aa1.setIcon(icon_ce323784f1be08cffcc5db9d7dd1972b);
        
    
        var popup_240c4afe13d4754d7e51e5db48cd1900 = L.popup({"maxWidth": "100%"});

        
            var html_c2b7920107c7d05b25c83c4028350449 = $(`<div id="html_c2b7920107c7d05b25c83c4028350449" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_240c4afe13d4754d7e51e5db48cd1900.setContent(html_c2b7920107c7d05b25c83c4028350449);
        

        marker_b3dd9f25e9edbd2c8d0d9f6897592aa1.bindPopup(popup_240c4afe13d4754d7e51e5db48cd1900)
        ;

        
    
    
            marker_b3dd9f25e9edbd2c8d0d9f6897592aa1.bindTooltip(
                `<div>
                     ALL ABOUT US-KIDS CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b7b452002652201597399ceb8e7ea820 = L.marker(
                [35.3351028, -79.0829405],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_02475fcc93be475af35d600ad082b098 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b7b452002652201597399ceb8e7ea820.setIcon(icon_02475fcc93be475af35d600ad082b098);
        
    
        var popup_ccf1791d9c4065877e36e952ab3de45f = L.popup({"maxWidth": "100%"});

        
            var html_8358ad10e2dc3ea057db4a3149a2752d = $(`<div id="html_8358ad10e2dc3ea057db4a3149a2752d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ccf1791d9c4065877e36e952ab3de45f.setContent(html_8358ad10e2dc3ea057db4a3149a2752d);
        

        marker_b7b452002652201597399ceb8e7ea820.bindPopup(popup_ccf1791d9c4065877e36e952ab3de45f)
        ;

        
    
    
            marker_b7b452002652201597399ceb8e7ea820.bindTooltip(
                `<div>
                     BENHAVEN ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e02ffb4f4cffb5f453075de49a2da75 = L.marker(
                [35.50558082926829, -79.183166],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_f2bd94147f21ce15349bfa4957a22e9f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_9e02ffb4f4cffb5f453075de49a2da75.setIcon(icon_f2bd94147f21ce15349bfa4957a22e9f);
        
    
        var popup_fea0782a3286a5a76e35233752d05d33 = L.popup({"maxWidth": "100%"});

        
            var html_4a11bfe2b60802fc7818427a5a78ecee = $(`<div id="html_4a11bfe2b60802fc7818427a5a78ecee" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_fea0782a3286a5a76e35233752d05d33.setContent(html_4a11bfe2b60802fc7818427a5a78ecee);
        

        marker_9e02ffb4f4cffb5f453075de49a2da75.bindPopup(popup_fea0782a3286a5a76e35233752d05d33)
        ;

        
    
    
            marker_9e02ffb4f4cffb5f453075de49a2da75.bindTooltip(
                `<div>
                     BRIGHT START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d67b29620c831120d92ceb9d668e72bd = L.marker(
                [35.46725814285715, -79.17830632653062],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_a529a096ce7053c23b8e2ca34313c8e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d67b29620c831120d92ceb9d668e72bd.setIcon(icon_a529a096ce7053c23b8e2ca34313c8e6);
        
    
        var popup_cb8d35ba703782bb17a15f82cb3c2c79 = L.popup({"maxWidth": "100%"});

        
            var html_6abc1125ff625e03777acb6b1b22db99 = $(`<div id="html_6abc1125ff625e03777acb6b1b22db99" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_cb8d35ba703782bb17a15f82cb3c2c79.setContent(html_6abc1125ff625e03777acb6b1b22db99);
        

        marker_d67b29620c831120d92ceb9d668e72bd.bindPopup(popup_cb8d35ba703782bb17a15f82cb3c2c79)
        ;

        
    
    
            marker_d67b29620c831120d92ceb9d668e72bd.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #102A
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9bf2d4b38512c096b8e9140315145694 = L.marker(
                [35.48519215, -79.16769853129145],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_4b1245e83d1b3dd741bb2f61942812a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9bf2d4b38512c096b8e9140315145694.setIcon(icon_4b1245e83d1b3dd741bb2f61942812a0);
        
    
        var popup_931507a912f9315e25873375a147db2f = L.popup({"maxWidth": "100%"});

        
            var html_f42afc0a54e4cd978e4513631d5623f3 = $(`<div id="html_f42afc0a54e4cd978e4513631d5623f3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_931507a912f9315e25873375a147db2f.setContent(html_f42afc0a54e4cd978e4513631d5623f3);
        

        marker_9bf2d4b38512c096b8e9140315145694.bindPopup(popup_931507a912f9315e25873375a147db2f)
        ;

        
    
    
            marker_9bf2d4b38512c096b8e9140315145694.bindTooltip(
                `<div>
                     CHILDREN OF TOMORROW
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_546324a8dd090645933f4aeeb6e9f2f3 = L.marker(
                [35.4625791, -79.16868515],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_d5af52a2d699e4dacb266e1a37631669 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_546324a8dd090645933f4aeeb6e9f2f3.setIcon(icon_d5af52a2d699e4dacb266e1a37631669);
        
    
        var popup_0b0ab2bd4f5c0d923484251e2c42ec0f = L.popup({"maxWidth": "100%"});

        
            var html_60a137b46062ffa75363bde8562d417f = $(`<div id="html_60a137b46062ffa75363bde8562d417f" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_0b0ab2bd4f5c0d923484251e2c42ec0f.setContent(html_60a137b46062ffa75363bde8562d417f);
        

        marker_546324a8dd090645933f4aeeb6e9f2f3.bindPopup(popup_0b0ab2bd4f5c0d923484251e2c42ec0f)
        ;

        
    
    
            marker_546324a8dd090645933f4aeeb6e9f2f3.bindTooltip(
                `<div>
                     DESTINY'S LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_70fd6cd69b657e7ab3b75eba8bd4b188 = L.marker(
                [35.565841, -79.168426],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_0c6fc06ef984914a46cb6a44053f4953 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_70fd6cd69b657e7ab3b75eba8bd4b188.setIcon(icon_0c6fc06ef984914a46cb6a44053f4953);
        
    
        var popup_75b05c357317fa53b1a27f3c8e5d7838 = L.popup({"maxWidth": "100%"});

        
            var html_7fd4d2db720fe035e9c1875257a67aee = $(`<div id="html_7fd4d2db720fe035e9c1875257a67aee" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_75b05c357317fa53b1a27f3c8e5d7838.setContent(html_7fd4d2db720fe035e9c1875257a67aee);
        

        marker_70fd6cd69b657e7ab3b75eba8bd4b188.bindPopup(popup_75b05c357317fa53b1a27f3c8e5d7838)
        ;

        
    
    
            marker_70fd6cd69b657e7ab3b75eba8bd4b188.bindTooltip(
                `<div>
                     EDUCATION STATION
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3622c6b5322eca0e74bc9dae65be6cbf = L.marker(
                [35.4678107317817, -79.16839814169727],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_9abca674b7362db31cd403e41cf59898 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3622c6b5322eca0e74bc9dae65be6cbf.setIcon(icon_9abca674b7362db31cd403e41cf59898);
        
    
        var popup_aa660c19631d6967e3c4bfb4bc0ab564 = L.popup({"maxWidth": "100%"});

        
            var html_34d40b010347bf475d9046e6be4865a3 = $(`<div id="html_34d40b010347bf475d9046e6be4865a3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aa660c19631d6967e3c4bfb4bc0ab564.setContent(html_34d40b010347bf475d9046e6be4865a3);
        

        marker_3622c6b5322eca0e74bc9dae65be6cbf.bindPopup(popup_aa660c19631d6967e3c4bfb4bc0ab564)
        ;

        
    
    
            marker_3622c6b5322eca0e74bc9dae65be6cbf.bindTooltip(
                `<div>
                     ESTELLE'S CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd6c77a41dc5d6adcf0eac9794fe2ab1 = L.marker(
                [35.445434015789715, -79.14716440947383],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_b58c5051d7b4a7e9f94f6ab298e1acd7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bd6c77a41dc5d6adcf0eac9794fe2ab1.setIcon(icon_b58c5051d7b4a7e9f94f6ab298e1acd7);
        
    
        var popup_d0e8c6ca4cd5b4215c4bcec676e1bf3e = L.popup({"maxWidth": "100%"});

        
            var html_4682a7ea316a87567e3b120369266583 = $(`<div id="html_4682a7ea316a87567e3b120369266583" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d0e8c6ca4cd5b4215c4bcec676e1bf3e.setContent(html_4682a7ea316a87567e3b120369266583);
        

        marker_bd6c77a41dc5d6adcf0eac9794fe2ab1.bindPopup(popup_d0e8c6ca4cd5b4215c4bcec676e1bf3e)
        ;

        
    
    
            marker_bd6c77a41dc5d6adcf0eac9794fe2ab1.bindTooltip(
                `<div>
                     ESTELLE'S CHILDCARE II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d179d5ee80c4eee4581e331b82657973 = L.marker(
                [35.48335, -79.1785939],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_c8e53ddbf7f3ce1c31a87add15c60e4d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d179d5ee80c4eee4581e331b82657973.setIcon(icon_c8e53ddbf7f3ce1c31a87add15c60e4d);
        
    
        var popup_f930b9307206679df0da1360b2f5ce57 = L.popup({"maxWidth": "100%"});

        
            var html_31594ca04f9ef0395cdb6b41b50931cf = $(`<div id="html_31594ca04f9ef0395cdb6b41b50931cf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f930b9307206679df0da1360b2f5ce57.setContent(html_31594ca04f9ef0395cdb6b41b50931cf);
        

        marker_d179d5ee80c4eee4581e331b82657973.bindPopup(popup_f930b9307206679df0da1360b2f5ce57)
        ;

        
    
    
            marker_d179d5ee80c4eee4581e331b82657973.bindTooltip(
                `<div>
                     FIRST PRESBYTERIAN CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_601463acb1131dc77f76966f3e572391 = L.marker(
                [35.46390022840787, -79.16719740649566],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_6ed979ab9a57da799b3324c56ebeb37f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_601463acb1131dc77f76966f3e572391.setIcon(icon_6ed979ab9a57da799b3324c56ebeb37f);
        
    
        var popup_c5a71e3f09336c43c880a426ea2948c0 = L.popup({"maxWidth": "100%"});

        
            var html_dfa3993b9cbdb7aee3aaa92ecadbba1f = $(`<div id="html_dfa3993b9cbdb7aee3aaa92ecadbba1f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c5a71e3f09336c43c880a426ea2948c0.setContent(html_dfa3993b9cbdb7aee3aaa92ecadbba1f);
        

        marker_601463acb1131dc77f76966f3e572391.bindPopup(popup_c5a71e3f09336c43c880a426ea2948c0)
        ;

        
    
    
            marker_601463acb1131dc77f76966f3e572391.bindTooltip(
                `<div>
                     FLOYD L KNIGHT SCHOOL-THE CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_070505b8ea8c7cc06dbedf9ac1bfa7da = L.marker(
                [35.46746277820712, -79.21325852613546],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_f49b4d6f3d748f0c3ed99b8e5d1cd2ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_070505b8ea8c7cc06dbedf9ac1bfa7da.setIcon(icon_f49b4d6f3d748f0c3ed99b8e5d1cd2ff);
        
    
        var popup_28be25be4dcac030ea5ffcd73bb17f36 = L.popup({"maxWidth": "100%"});

        
            var html_28123e25b361e96f73ebf1a1943c0f32 = $(`<div id="html_28123e25b361e96f73ebf1a1943c0f32" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_28be25be4dcac030ea5ffcd73bb17f36.setContent(html_28123e25b361e96f73ebf1a1943c0f32);
        

        marker_070505b8ea8c7cc06dbedf9ac1bfa7da.bindPopup(popup_28be25be4dcac030ea5ffcd73bb17f36)
        ;

        
    
    
            marker_070505b8ea8c7cc06dbedf9ac1bfa7da.bindTooltip(
                `<div>
                     GLORIOUS COMMUNITY CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b8cc8b647b5f1d141c026c24c46a1754 = L.marker(
                [35.42647225, -79.22108650564357],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_3e0543bb101ae7ac34ab4e40ad48faca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b8cc8b647b5f1d141c026c24c46a1754.setIcon(icon_3e0543bb101ae7ac34ab4e40ad48faca);
        
    
        var popup_547b4c936443996096cbc8d79689dadf = L.popup({"maxWidth": "100%"});

        
            var html_564e2c2ef4660f4b24bca2961bf3e37c = $(`<div id="html_564e2c2ef4660f4b24bca2961bf3e37c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_547b4c936443996096cbc8d79689dadf.setContent(html_564e2c2ef4660f4b24bca2961bf3e37c);
        

        marker_b8cc8b647b5f1d141c026c24c46a1754.bindPopup(popup_547b4c936443996096cbc8d79689dadf)
        ;

        
    
    
            marker_b8cc8b647b5f1d141c026c24c46a1754.bindTooltip(
                `<div>
                     GRACE CHRISTIAN CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5d3c70a5c79ac78d5f07eabd755195e9 = L.marker(
                [35.42496367346939, -79.13870742857144],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_593be90578fb9a7acc9391e51250e94b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_5d3c70a5c79ac78d5f07eabd755195e9.setIcon(icon_593be90578fb9a7acc9391e51250e94b);
        
    
        var popup_74095eb57c1099ec24d6b6013d6bf456 = L.popup({"maxWidth": "100%"});

        
            var html_0343e1c8b297414fc82e567b549648b7 = $(`<div id="html_0343e1c8b297414fc82e567b549648b7" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_74095eb57c1099ec24d6b6013d6bf456.setContent(html_0343e1c8b297414fc82e567b549648b7);
        

        marker_5d3c70a5c79ac78d5f07eabd755195e9.bindPopup(popup_74095eb57c1099ec24d6b6013d6bf456)
        ;

        
    
    
            marker_5d3c70a5c79ac78d5f07eabd755195e9.bindTooltip(
                `<div>
                     JEANNE'S SMALL DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9ab32572fa6cada6481b2f9ef7a4495 = L.marker(
                [35.46618208163265, -79.16523273469387],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_6bd607063d376a668f3ebc6ca8ce61eb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e9ab32572fa6cada6481b2f9ef7a4495.setIcon(icon_6bd607063d376a668f3ebc6ca8ce61eb);
        
    
        var popup_3b075128639a3eb7ed6a3bf504cde6c6 = L.popup({"maxWidth": "100%"});

        
            var html_70aff2fb887e284ecb0bfec7e3eafdd5 = $(`<div id="html_70aff2fb887e284ecb0bfec7e3eafdd5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3b075128639a3eb7ed6a3bf504cde6c6.setContent(html_70aff2fb887e284ecb0bfec7e3eafdd5);
        

        marker_e9ab32572fa6cada6481b2f9ef7a4495.bindPopup(popup_3b075128639a3eb7ed6a3bf504cde6c6)
        ;

        
    
    
            marker_e9ab32572fa6cada6481b2f9ef7a4495.bindTooltip(
                `<div>
                     JIREH CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3fbe6389dfee0007a2b6a509c97bcb5a = L.marker(
                [35.455303959183674, -79.15512030612246],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_c128cc0fb70022dabb747f0e09e7319f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3fbe6389dfee0007a2b6a509c97bcb5a.setIcon(icon_c128cc0fb70022dabb747f0e09e7319f);
        
    
        var popup_c77300ff3212e603ad75e9bd2c6bc06f = L.popup({"maxWidth": "100%"});

        
            var html_54a33549e97c8a5cbff01ebaf8e379dd = $(`<div id="html_54a33549e97c8a5cbff01ebaf8e379dd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c77300ff3212e603ad75e9bd2c6bc06f.setContent(html_54a33549e97c8a5cbff01ebaf8e379dd);
        

        marker_3fbe6389dfee0007a2b6a509c97bcb5a.bindPopup(popup_c77300ff3212e603ad75e9bd2c6bc06f)
        ;

        
    
    
            marker_3fbe6389dfee0007a2b6a509c97bcb5a.bindTooltip(
                `<div>
                     JONESBORO DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ab45328025fb49f098371970fb6a76d6 = L.marker(
                [35.4623126, -79.13655320000001],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_aa9356bacbe57d2a9e46acf5af0b24dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ab45328025fb49f098371970fb6a76d6.setIcon(icon_aa9356bacbe57d2a9e46acf5af0b24dc);
        
    
        var popup_5b79b4a173fb15a045c836158c029da4 = L.popup({"maxWidth": "100%"});

        
            var html_010247ff53e875e1cf4489cacb06a141 = $(`<div id="html_010247ff53e875e1cf4489cacb06a141" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5b79b4a173fb15a045c836158c029da4.setContent(html_010247ff53e875e1cf4489cacb06a141);
        

        marker_ab45328025fb49f098371970fb6a76d6.bindPopup(popup_5b79b4a173fb15a045c836158c029da4)
        ;

        
    
    
            marker_ab45328025fb49f098371970fb6a76d6.bindTooltip(
                `<div>
                     KIDDIE LAND DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8a017d0a013ba34c027994b0fbf0e244 = L.marker(
                [35.46010604360478, -79.20431723543881],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_5c8dc4c8ab739630f9ee64c74d8bba10 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8a017d0a013ba34c027994b0fbf0e244.setIcon(icon_5c8dc4c8ab739630f9ee64c74d8bba10);
        
    
        var popup_6e66f27784c58bcc161b4c2095590acd = L.popup({"maxWidth": "100%"});

        
            var html_9b274d750a01a007338e9f7edc8914d7 = $(`<div id="html_9b274d750a01a007338e9f7edc8914d7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6e66f27784c58bcc161b4c2095590acd.setContent(html_9b274d750a01a007338e9f7edc8914d7);
        

        marker_8a017d0a013ba34c027994b0fbf0e244.bindPopup(popup_6e66f27784c58bcc161b4c2095590acd)
        ;

        
    
    
            marker_8a017d0a013ba34c027994b0fbf0e244.bindTooltip(
                `<div>
                     LEE CHRISTIAN SCHOOL K-4 PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_36105171729f5a4e0cd6e2905b0da966 = L.marker(
                [35.507801385961805, -79.18050315289796],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_72a0d8f9a2699f02ae7395a4c0346693 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_36105171729f5a4e0cd6e2905b0da966.setIcon(icon_72a0d8f9a2699f02ae7395a4c0346693);
        
    
        var popup_6a5e72d65ff67eaf1674596814eaf381 = L.popup({"maxWidth": "100%"});

        
            var html_ca35c3b466f606fa22baa61cffcde897 = $(`<div id="html_ca35c3b466f606fa22baa61cffcde897" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6a5e72d65ff67eaf1674596814eaf381.setContent(html_ca35c3b466f606fa22baa61cffcde897);
        

        marker_36105171729f5a4e0cd6e2905b0da966.bindPopup(popup_6a5e72d65ff67eaf1674596814eaf381)
        ;

        
    
    
            marker_36105171729f5a4e0cd6e2905b0da966.bindTooltip(
                `<div>
                     LITTLE DREAMERS FEC INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f4d6b314dc95764512078b987212688b = L.marker(
                [35.47321285562874, -79.16814681418974],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_56a6fb42727dd91a81d125b39fda868d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f4d6b314dc95764512078b987212688b.setIcon(icon_56a6fb42727dd91a81d125b39fda868d);
        
    
        var popup_52bdbe4d4de45252314cb8abf089b5b3 = L.popup({"maxWidth": "100%"});

        
            var html_341541aae6331d9984748fca1b7d4125 = $(`<div id="html_341541aae6331d9984748fca1b7d4125" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_52bdbe4d4de45252314cb8abf089b5b3.setContent(html_341541aae6331d9984748fca1b7d4125);
        

        marker_f4d6b314dc95764512078b987212688b.bindPopup(popup_52bdbe4d4de45252314cb8abf089b5b3)
        ;

        
    
    
            marker_f4d6b314dc95764512078b987212688b.bindTooltip(
                `<div>
                     LOVE AND LEARN CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_48744cd04a0cf4817204476526a45a25 = L.marker(
                [35.481325, -79.181782],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_513e749814905d62f10f32a0a1935716 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_48744cd04a0cf4817204476526a45a25.setIcon(icon_513e749814905d62f10f32a0a1935716);
        
    
        var popup_60293f9f0667826613ca8877ec559d34 = L.popup({"maxWidth": "100%"});

        
            var html_04739eae00f5da630c4c0e881f27cbf5 = $(`<div id="html_04739eae00f5da630c4c0e881f27cbf5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_60293f9f0667826613ca8877ec559d34.setContent(html_04739eae00f5da630c4c0e881f27cbf5);
        

        marker_48744cd04a0cf4817204476526a45a25.bindPopup(popup_60293f9f0667826613ca8877ec559d34)
        ;

        
    
    
            marker_48744cd04a0cf4817204476526a45a25.bindTooltip(
                `<div>
                     LUXURY LEARNING
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a376d2de5093fd17ad3d505322be4f6c = L.marker(
                [35.48552515, -79.15603785549285],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_cc0196732b2c0520da421e06897d53df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_a376d2de5093fd17ad3d505322be4f6c.setIcon(icon_cc0196732b2c0520da421e06897d53df);
        
    
        var popup_915b3f87c046cdeccd9275f84f974772 = L.popup({"maxWidth": "100%"});

        
            var html_93c6fc826e46e28aad171a115e1a363a = $(`<div id="html_93c6fc826e46e28aad171a115e1a363a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_915b3f87c046cdeccd9275f84f974772.setContent(html_93c6fc826e46e28aad171a115e1a363a);
        

        marker_a376d2de5093fd17ad3d505322be4f6c.bindPopup(popup_915b3f87c046cdeccd9275f84f974772)
        ;

        
    
    
            marker_a376d2de5093fd17ad3d505322be4f6c.bindTooltip(
                `<div>
                     MEMORABLE MOMENTS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_099f512ef075fe0c443d3dc857a09d82 = L.marker(
                [35.44099223577276, -79.1129752228302],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_6de0cdc7ca89f101bbdf58dfa3655b59 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_099f512ef075fe0c443d3dc857a09d82.setIcon(icon_6de0cdc7ca89f101bbdf58dfa3655b59);
        
    
        var popup_ace88152d7ff3b91848239992b43ac23 = L.popup({"maxWidth": "100%"});

        
            var html_6628784ca02ca0498d657565a233f08e = $(`<div id="html_6628784ca02ca0498d657565a233f08e" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_ace88152d7ff3b91848239992b43ac23.setContent(html_6628784ca02ca0498d657565a233f08e);
        

        marker_099f512ef075fe0c443d3dc857a09d82.bindPopup(popup_ace88152d7ff3b91848239992b43ac23)
        ;

        
    
    
            marker_099f512ef075fe0c443d3dc857a09d82.bindTooltip(
                `<div>
                     POOH'S CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1a159ed101428aa449b89e43852d3b19 = L.marker(
                [35.47696521653443, -79.1565768439596],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_287fd7d4085c618072b623c8e19b198b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1a159ed101428aa449b89e43852d3b19.setIcon(icon_287fd7d4085c618072b623c8e19b198b);
        
    
        var popup_ee7b3c6566aef6a1df1490867eb52b38 = L.popup({"maxWidth": "100%"});

        
            var html_76cdf3a8371ed8db1dd4bfa2159531ae = $(`<div id="html_76cdf3a8371ed8db1dd4bfa2159531ae" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ee7b3c6566aef6a1df1490867eb52b38.setContent(html_76cdf3a8371ed8db1dd4bfa2159531ae);
        

        marker_1a159ed101428aa449b89e43852d3b19.bindPopup(popup_ee7b3c6566aef6a1df1490867eb52b38)
        ;

        
    
    
            marker_1a159ed101428aa449b89e43852d3b19.bindTooltip(
                `<div>
                     SANFORD CHILD CARE, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8e9897afe69af7703381de5324baf55e = L.marker(
                [35.482009558823535, -79.17551935294118],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_1a073794fd8e79df33fcab4b5f9a8a1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8e9897afe69af7703381de5324baf55e.setIcon(icon_1a073794fd8e79df33fcab4b5f9a8a1d);
        
    
        var popup_d2e37e3704c104704a2a9bad2e502111 = L.popup({"maxWidth": "100%"});

        
            var html_72ab024af9b518d8a0b125f4f4182a2e = $(`<div id="html_72ab024af9b518d8a0b125f4f4182a2e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d2e37e3704c104704a2a9bad2e502111.setContent(html_72ab024af9b518d8a0b125f4f4182a2e);
        

        marker_8e9897afe69af7703381de5324baf55e.bindPopup(popup_d2e37e3704c104704a2a9bad2e502111)
        ;

        
    
    
            marker_8e9897afe69af7703381de5324baf55e.bindTooltip(
                `<div>
                     SHOOTING STARS LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0397dd932347d60ef92500a18beeb93b = L.marker(
                [35.46335866807004, -79.13092521699595],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_4bbbf5a0639320af62ae35bcae545e23 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0397dd932347d60ef92500a18beeb93b.setIcon(icon_4bbbf5a0639320af62ae35bcae545e23);
        
    
        var popup_17afac2bc277bbb5a6096e1d60e9ed64 = L.popup({"maxWidth": "100%"});

        
            var html_e459e0d8eb64e27164828445ec3a5b5f = $(`<div id="html_e459e0d8eb64e27164828445ec3a5b5f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_17afac2bc277bbb5a6096e1d60e9ed64.setContent(html_e459e0d8eb64e27164828445ec3a5b5f);
        

        marker_0397dd932347d60ef92500a18beeb93b.bindPopup(popup_17afac2bc277bbb5a6096e1d60e9ed64)
        ;

        
    
    
            marker_0397dd932347d60ef92500a18beeb93b.bindTooltip(
                `<div>
                     SMALL HANDS - BIG FUTURE CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5cef761eb450b39da482d47d1d550f5a = L.marker(
                [35.47858560814933, -79.13496910669895],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_ab48622335c5ab29e9ea36cca475d708 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5cef761eb450b39da482d47d1d550f5a.setIcon(icon_ab48622335c5ab29e9ea36cca475d708);
        
    
        var popup_586faabfdfbcc697a2d6b8164f968f7f = L.popup({"maxWidth": "100%"});

        
            var html_f638a920884b68ea05dec6cbe79cce68 = $(`<div id="html_f638a920884b68ea05dec6cbe79cce68" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_586faabfdfbcc697a2d6b8164f968f7f.setContent(html_f638a920884b68ea05dec6cbe79cce68);
        

        marker_5cef761eb450b39da482d47d1d550f5a.bindPopup(popup_586faabfdfbcc697a2d6b8164f968f7f)
        ;

        
    
    
            marker_5cef761eb450b39da482d47d1d550f5a.bindTooltip(
                `<div>
                     STEPPING STONES CHILDREN'S CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc291f368240352baf578fd30aa72aa9 = L.marker(
                [35.492687, -79.183272],
                {}
            ).addTo(map_4044064c693d3840d6901993f4409df8);
        
    
            var icon_540574df5b1b58624486333e421d762d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cc291f368240352baf578fd30aa72aa9.setIcon(icon_540574df5b1b58624486333e421d762d);
        
    
        var popup_bf023a52fa0b7518f2d78a2cd6d3bb98 = L.popup({"maxWidth": "100%"});

        
            var html_3d81330580c753955ed3cefbc72f92de = $(`<div id="html_3d81330580c753955ed3cefbc72f92de" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bf023a52fa0b7518f2d78a2cd6d3bb98.setContent(html_3d81330580c753955ed3cefbc72f92de);
        

        marker_cc291f368240352baf578fd30aa72aa9.bindPopup(popup_bf023a52fa0b7518f2d78a2cd6d3bb98)
        ;

        
    
    
            marker_cc291f368240352baf578fd30aa72aa9.bindTooltip(
                `<div>
                     WARREN WILLIAMS SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>