<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_79674f0d46bc7b1d506db7143983855d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_79674f0d46bc7b1d506db7143983855d" ></div>
        
</body>
<script>    
    
            var map_79674f0d46bc7b1d506db7143983855d = L.map(
                "map_79674f0d46bc7b1d506db7143983855d",
                {
                    center: [33.98208297336027, -78.41785528365294],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7eeeb771ff48b168e51c68044165b668 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var marker_70b1e1c46d036c9193bb177b4f0d6850 = L.marker(
                [33.98208297336027, -78.41785528365294],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_dcb4c69c29b1e00785863367c0615662 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_70b1e1c46d036c9193bb177b4f0d6850.setIcon(icon_dcb4c69c29b1e00785863367c0615662);
        
    
        var popup_c04983cb63afed025157479729443958 = L.popup({"maxWidth": "100%"});

        
            var html_2336d2bc0d5832aef5345ad9db8ce878 = $(`<div id="html_2336d2bc0d5832aef5345ad9db8ce878" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c04983cb63afed025157479729443958.setContent(html_2336d2bc0d5832aef5345ad9db8ce878);
        

        marker_70b1e1c46d036c9193bb177b4f0d6850.bindPopup(popup_c04983cb63afed025157479729443958)
        ;

        
    
    
            marker_70b1e1c46d036c9193bb177b4f0d6850.bindTooltip(
                `<div>
                     EARTH ANGELS EDUCATIONAL CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_de5396901bc535f20340b56794d4b95d = L.marker(
                [33.98208297336027, -78.41785528365294],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_e82c4e207bc98676329d6950711224b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_de5396901bc535f20340b56794d4b95d.setIcon(icon_e82c4e207bc98676329d6950711224b8);
        
    
        var popup_b2276d9b6b50cec7335027a90a3ac683 = L.popup({"maxWidth": "100%"});

        
            var html_3390b94d75cb1637c88aec6eb854b386 = $(`<div id="html_3390b94d75cb1637c88aec6eb854b386" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b2276d9b6b50cec7335027a90a3ac683.setContent(html_3390b94d75cb1637c88aec6eb854b386);
        

        marker_de5396901bc535f20340b56794d4b95d.bindPopup(popup_b2276d9b6b50cec7335027a90a3ac683)
        ;

        
    
    
            marker_de5396901bc535f20340b56794d4b95d.bindTooltip(
                `<div>
                     EARTH ANGELS EDUCATIONAL CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b946eedd088b4135fb90bc1d11632817 = L.marker(
                [33.9856523, -78.3934063],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_0a509664304e9232c7b4319ff92ebe3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b946eedd088b4135fb90bc1d11632817.setIcon(icon_0a509664304e9232c7b4319ff92ebe3b);
        
    
        var popup_934fb2166ad39751888657a5386749e0 = L.popup({"maxWidth": "100%"});

        
            var html_7fcc02fd83881917d45616dbefac2b3d = $(`<div id="html_7fcc02fd83881917d45616dbefac2b3d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_934fb2166ad39751888657a5386749e0.setContent(html_7fcc02fd83881917d45616dbefac2b3d);
        

        marker_b946eedd088b4135fb90bc1d11632817.bindPopup(popup_934fb2166ad39751888657a5386749e0)
        ;

        
    
    
            marker_b946eedd088b4135fb90bc1d11632817.bindTooltip(
                `<div>
                     FOR KIDS ONLY CHILD DEVELOPMENT CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c70956476d14a7032cc33a9d8eb30c6 = L.marker(
                [33.9856523, -78.3934063],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_1a653b2c5f22363decedc18f22c423b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4c70956476d14a7032cc33a9d8eb30c6.setIcon(icon_1a653b2c5f22363decedc18f22c423b8);
        
    
        var popup_7c7b32fadae552a40c6f5e78f5a6fd56 = L.popup({"maxWidth": "100%"});

        
            var html_44e7a7f4d93c246bf99f2bbf235a344e = $(`<div id="html_44e7a7f4d93c246bf99f2bbf235a344e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7c7b32fadae552a40c6f5e78f5a6fd56.setContent(html_44e7a7f4d93c246bf99f2bbf235a344e);
        

        marker_4c70956476d14a7032cc33a9d8eb30c6.bindPopup(popup_7c7b32fadae552a40c6f5e78f5a6fd56)
        ;

        
    
    
            marker_4c70956476d14a7032cc33a9d8eb30c6.bindTooltip(
                `<div>
                     FOR KIDS ONLY CHILD DEVELOPMENT CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04af760e0be5a5d1c8ac551171b8e023 = L.marker(
                [33.96125441517558, -78.4275090286188],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_efdaa0a6cbeeacaea0b8d220885bbd3f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_04af760e0be5a5d1c8ac551171b8e023.setIcon(icon_efdaa0a6cbeeacaea0b8d220885bbd3f);
        
    
        var popup_814abcf4872cfdbb19e27a3f6d7cc96d = L.popup({"maxWidth": "100%"});

        
            var html_710bceab94a2012f49a03eff06eb7e76 = $(`<div id="html_710bceab94a2012f49a03eff06eb7e76" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_814abcf4872cfdbb19e27a3f6d7cc96d.setContent(html_710bceab94a2012f49a03eff06eb7e76);
        

        marker_04af760e0be5a5d1c8ac551171b8e023.bindPopup(popup_814abcf4872cfdbb19e27a3f6d7cc96d)
        ;

        
    
    
            marker_04af760e0be5a5d1c8ac551171b8e023.bindTooltip(
                `<div>
                     THE KIDS CONNECTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0d9abc2d2348ffd47d3b077e428c065a = L.marker(
                [33.96125441517558, -78.4275090286188],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_fdf8d9e971b77eb496f2f5aaf7c944a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0d9abc2d2348ffd47d3b077e428c065a.setIcon(icon_fdf8d9e971b77eb496f2f5aaf7c944a6);
        
    
        var popup_3cbdea0adb584f9a622bf9e4cda52301 = L.popup({"maxWidth": "100%"});

        
            var html_899d30775b7f18b894cb13a67e130a6c = $(`<div id="html_899d30775b7f18b894cb13a67e130a6c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3cbdea0adb584f9a622bf9e4cda52301.setContent(html_899d30775b7f18b894cb13a67e130a6c);
        

        marker_0d9abc2d2348ffd47d3b077e428c065a.bindPopup(popup_3cbdea0adb584f9a622bf9e4cda52301)
        ;

        
    
    
            marker_0d9abc2d2348ffd47d3b077e428c065a.bindTooltip(
                `<div>
                     THE KIDS CONNECTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5b4e5223ba8d8e5a1b9a203fa2ed4d07 = L.marker(
                [33.98208297336027, -78.41785528365294],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_0fb90a97c38b79bb430d2558bf79d24a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5b4e5223ba8d8e5a1b9a203fa2ed4d07.setIcon(icon_0fb90a97c38b79bb430d2558bf79d24a);
        
    
        var popup_b3febf07525e887a2ec0fba1c6fbdd88 = L.popup({"maxWidth": "100%"});

        
            var html_a94340602693b12fa51707e8ba9167ab = $(`<div id="html_a94340602693b12fa51707e8ba9167ab" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b3febf07525e887a2ec0fba1c6fbdd88.setContent(html_a94340602693b12fa51707e8ba9167ab);
        

        marker_5b4e5223ba8d8e5a1b9a203fa2ed4d07.bindPopup(popup_b3febf07525e887a2ec0fba1c6fbdd88)
        ;

        
    
    
            marker_5b4e5223ba8d8e5a1b9a203fa2ed4d07.bindTooltip(
                `<div>
                     EARTH ANGELS EDUCATIONAL CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_501e15ce9c72d72f2fbd9f01a41d2933 = L.marker(
                [33.98208297336027, -78.41785528365294],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_a3ef8e2cb87b73e64461a3d9760e92b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_501e15ce9c72d72f2fbd9f01a41d2933.setIcon(icon_a3ef8e2cb87b73e64461a3d9760e92b3);
        
    
        var popup_062b44af88c22687023f28f5b6fe2c4c = L.popup({"maxWidth": "100%"});

        
            var html_17f862c8027c77b4daf4d52644da2027 = $(`<div id="html_17f862c8027c77b4daf4d52644da2027" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_062b44af88c22687023f28f5b6fe2c4c.setContent(html_17f862c8027c77b4daf4d52644da2027);
        

        marker_501e15ce9c72d72f2fbd9f01a41d2933.bindPopup(popup_062b44af88c22687023f28f5b6fe2c4c)
        ;

        
    
    
            marker_501e15ce9c72d72f2fbd9f01a41d2933.bindTooltip(
                `<div>
                     EARTH ANGELS EDUCATIONAL CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ea14ed0ab49ec06fb162428ecf6623b5 = L.marker(
                [33.9856523, -78.3934063],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_f1d7518de03709f8a28299e89036ccf7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ea14ed0ab49ec06fb162428ecf6623b5.setIcon(icon_f1d7518de03709f8a28299e89036ccf7);
        
    
        var popup_11a3ee5104ef04fa261d5d34957fc8ed = L.popup({"maxWidth": "100%"});

        
            var html_4bb3c0a4946a727f5859fae12d916c2c = $(`<div id="html_4bb3c0a4946a727f5859fae12d916c2c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_11a3ee5104ef04fa261d5d34957fc8ed.setContent(html_4bb3c0a4946a727f5859fae12d916c2c);
        

        marker_ea14ed0ab49ec06fb162428ecf6623b5.bindPopup(popup_11a3ee5104ef04fa261d5d34957fc8ed)
        ;

        
    
    
            marker_ea14ed0ab49ec06fb162428ecf6623b5.bindTooltip(
                `<div>
                     FOR KIDS ONLY CHILD DEVELOPMENT CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_99136656da3589a271dfa52283ded232 = L.marker(
                [33.9856523, -78.3934063],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_08430f471185b6463cdeda79f57aca3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_99136656da3589a271dfa52283ded232.setIcon(icon_08430f471185b6463cdeda79f57aca3a);
        
    
        var popup_a77cc358182715f6dd0ac15b2d5e6bfd = L.popup({"maxWidth": "100%"});

        
            var html_19598fc5faf2e14c3e7a0f1c685573d4 = $(`<div id="html_19598fc5faf2e14c3e7a0f1c685573d4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a77cc358182715f6dd0ac15b2d5e6bfd.setContent(html_19598fc5faf2e14c3e7a0f1c685573d4);
        

        marker_99136656da3589a271dfa52283ded232.bindPopup(popup_a77cc358182715f6dd0ac15b2d5e6bfd)
        ;

        
    
    
            marker_99136656da3589a271dfa52283ded232.bindTooltip(
                `<div>
                     FOR KIDS ONLY CHILD DEVELOPMENT CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a59b86866ed7b61b6961830fc6fa6adc = L.marker(
                [33.96125441517558, -78.4275090286188],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_2c4e7c246082b2d7bc3e2082c0d7447d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a59b86866ed7b61b6961830fc6fa6adc.setIcon(icon_2c4e7c246082b2d7bc3e2082c0d7447d);
        
    
        var popup_702ce3b46d890e038d6990e946460986 = L.popup({"maxWidth": "100%"});

        
            var html_0ed8a9075077a2dd31941b62f43a32a7 = $(`<div id="html_0ed8a9075077a2dd31941b62f43a32a7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_702ce3b46d890e038d6990e946460986.setContent(html_0ed8a9075077a2dd31941b62f43a32a7);
        

        marker_a59b86866ed7b61b6961830fc6fa6adc.bindPopup(popup_702ce3b46d890e038d6990e946460986)
        ;

        
    
    
            marker_a59b86866ed7b61b6961830fc6fa6adc.bindTooltip(
                `<div>
                     THE KIDS CONNECTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c280692de4363fcc7a7974dc7b4e7983 = L.marker(
                [33.96125441517558, -78.4275090286188],
                {}
            ).addTo(map_79674f0d46bc7b1d506db7143983855d);
        
    
            var icon_68eeee380c14bf607438d42aa41527ba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c280692de4363fcc7a7974dc7b4e7983.setIcon(icon_68eeee380c14bf607438d42aa41527ba);
        
    
        var popup_c645c23a059c8ee7cbe9233eca5e0236 = L.popup({"maxWidth": "100%"});

        
            var html_54d87685507312e913583017e168cd04 = $(`<div id="html_54d87685507312e913583017e168cd04" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c645c23a059c8ee7cbe9233eca5e0236.setContent(html_54d87685507312e913583017e168cd04);
        

        marker_c280692de4363fcc7a7974dc7b4e7983.bindPopup(popup_c645c23a059c8ee7cbe9233eca5e0236)
        ;

        
    
    
            marker_c280692de4363fcc7a7974dc7b4e7983.bindTooltip(
                `<div>
                     THE KIDS CONNECTION
                 </div>`,
                {"sticky": true}
            );
        
</script>