<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_219285e49802e7d71b7fc318bf3e26bb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_219285e49802e7d71b7fc318bf3e26bb" ></div>
        
</body>
<script>    
    
            var map_219285e49802e7d71b7fc318bf3e26bb = L.map(
                "map_219285e49802e7d71b7fc318bf3e26bb",
                {
                    center: [36.43314521465079, -76.09010635597318],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_de7963649dca1906cf98661685a67e8f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_219285e49802e7d71b7fc318bf3e26bb);
        
    
            var marker_833f6368eb8f7b3d0c89cbd5977e14f3 = L.marker(
                [36.43314521465079, -76.09010635597318],
                {}
            ).addTo(map_219285e49802e7d71b7fc318bf3e26bb);
        
    
            var icon_650579f42ddc33ee5ad975bacd58ae16 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_833f6368eb8f7b3d0c89cbd5977e14f3.setIcon(icon_650579f42ddc33ee5ad975bacd58ae16);
        
    
        var popup_a94d04c3d0e9f055b36b106154d407ca = L.popup({"maxWidth": "100%"});

        
            var html_c7e1d5c5b4ebbd4f7b7444afb2603229 = $(`<div id="html_c7e1d5c5b4ebbd4f7b7444afb2603229" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a94d04c3d0e9f055b36b106154d407ca.setContent(html_c7e1d5c5b4ebbd4f7b7444afb2603229);
        

        marker_833f6368eb8f7b3d0c89cbd5977e14f3.bindPopup(popup_a94d04c3d0e9f055b36b106154d407ca)
        ;

        
    
    
            marker_833f6368eb8f7b3d0c89cbd5977e14f3.bindTooltip(
                `<div>
                     SHAWBORO ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f8a10830de684a132e80c50f6cce7b78 = L.marker(
                [36.43314521465079, -76.09010635597318],
                {}
            ).addTo(map_219285e49802e7d71b7fc318bf3e26bb);
        
    
            var icon_65a15af4b18b5025051548b7a925501c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f8a10830de684a132e80c50f6cce7b78.setIcon(icon_65a15af4b18b5025051548b7a925501c);
        
    
        var popup_780d5cfbb5ad91b7daef481add02105a = L.popup({"maxWidth": "100%"});

        
            var html_6276169fcbd646ab8b0039f1d3ff1737 = $(`<div id="html_6276169fcbd646ab8b0039f1d3ff1737" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_780d5cfbb5ad91b7daef481add02105a.setContent(html_6276169fcbd646ab8b0039f1d3ff1737);
        

        marker_f8a10830de684a132e80c50f6cce7b78.bindPopup(popup_780d5cfbb5ad91b7daef481add02105a)
        ;

        
    
    
            marker_f8a10830de684a132e80c50f6cce7b78.bindTooltip(
                `<div>
                     SHAWBORO ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1974e25152ae6f4a1c26b6f047530085 = L.marker(
                [36.43314521465079, -76.09010635597318],
                {}
            ).addTo(map_219285e49802e7d71b7fc318bf3e26bb);
        
    
            var icon_11ede06310da9b5483b753bb18929622 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1974e25152ae6f4a1c26b6f047530085.setIcon(icon_11ede06310da9b5483b753bb18929622);
        
    
        var popup_148c6b02e8d17fd048f1cedee2529bfe = L.popup({"maxWidth": "100%"});

        
            var html_fce09806a2e10b85c9acc371c29a16ce = $(`<div id="html_fce09806a2e10b85c9acc371c29a16ce" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_148c6b02e8d17fd048f1cedee2529bfe.setContent(html_fce09806a2e10b85c9acc371c29a16ce);
        

        marker_1974e25152ae6f4a1c26b6f047530085.bindPopup(popup_148c6b02e8d17fd048f1cedee2529bfe)
        ;

        
    
    
            marker_1974e25152ae6f4a1c26b6f047530085.bindTooltip(
                `<div>
                     SHAWBORO ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_169e79676a8f4e47c6eeffd80ce1fb4b = L.marker(
                [36.43314521465079, -76.09010635597318],
                {}
            ).addTo(map_219285e49802e7d71b7fc318bf3e26bb);
        
    
            var icon_8c6683ebc53ce45b322f67fa96ce7b56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_169e79676a8f4e47c6eeffd80ce1fb4b.setIcon(icon_8c6683ebc53ce45b322f67fa96ce7b56);
        
    
        var popup_73cafde0c9b5ad2831fb67bf8b187847 = L.popup({"maxWidth": "100%"});

        
            var html_85e793c166bdb34982ed45cbf1200426 = $(`<div id="html_85e793c166bdb34982ed45cbf1200426" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_73cafde0c9b5ad2831fb67bf8b187847.setContent(html_85e793c166bdb34982ed45cbf1200426);
        

        marker_169e79676a8f4e47c6eeffd80ce1fb4b.bindPopup(popup_73cafde0c9b5ad2831fb67bf8b187847)
        ;

        
    
    
            marker_169e79676a8f4e47c6eeffd80ce1fb4b.bindTooltip(
                `<div>
                     SHAWBORO ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>