<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1388036006072f991ede4632cda99f9a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1388036006072f991ede4632cda99f9a" ></div>
        
</body>
<script>    
    
            var map_1388036006072f991ede4632cda99f9a = L.map(
                "map_1388036006072f991ede4632cda99f9a",
                {
                    center: [35.5822996, -80.9886814],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1c13b7f7f6ebbac12868f03f92a037f8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1388036006072f991ede4632cda99f9a);
        
    
            var marker_5e3a846d481afe9395d2671f4a34a026 = L.marker(
                [35.5822996, -80.9886814],
                {}
            ).addTo(map_1388036006072f991ede4632cda99f9a);
        
    
            var icon_ace0aa8d30c55d50f5997999dd59e25d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5e3a846d481afe9395d2671f4a34a026.setIcon(icon_ace0aa8d30c55d50f5997999dd59e25d);
        
    
        var popup_638a9d38efe5b6c6a995b60f9e5bcde3 = L.popup({"maxWidth": "100%"});

        
            var html_9ccf4a5380a0725bc13e911f81eec3a1 = $(`<div id="html_9ccf4a5380a0725bc13e911f81eec3a1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_638a9d38efe5b6c6a995b60f9e5bcde3.setContent(html_9ccf4a5380a0725bc13e911f81eec3a1);
        

        marker_5e3a846d481afe9395d2671f4a34a026.bindPopup(popup_638a9d38efe5b6c6a995b60f9e5bcde3)
        ;

        
    
    
            marker_5e3a846d481afe9395d2671f4a34a026.bindTooltip(
                `<div>
                     FOUNDATIONS EARLY LEARNING CENTER #238
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a4792a8b5847dad16f37c2b567a4cc33 = L.marker(
                [35.621481200000005, -80.98907081458177],
                {}
            ).addTo(map_1388036006072f991ede4632cda99f9a);
        
    
            var icon_0f518ca2bdaebc81e69139f7f59dc36c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a4792a8b5847dad16f37c2b567a4cc33.setIcon(icon_0f518ca2bdaebc81e69139f7f59dc36c);
        
    
        var popup_b4c27eff7fd8a07b94c8f531044ea904 = L.popup({"maxWidth": "100%"});

        
            var html_1c396562001528bb3b61996a0ea5b686 = $(`<div id="html_1c396562001528bb3b61996a0ea5b686" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b4c27eff7fd8a07b94c8f531044ea904.setContent(html_1c396562001528bb3b61996a0ea5b686);
        

        marker_a4792a8b5847dad16f37c2b567a4cc33.bindPopup(popup_b4c27eff7fd8a07b94c8f531044ea904)
        ;

        
    
    
            marker_a4792a8b5847dad16f37c2b567a4cc33.bindTooltip(
                `<div>
                     QUEST AT SHERRILLS FORD ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b770511b0ebc60afe2071b8d90c02e9 = L.marker(
                [35.63006166512834, -80.99390003104631],
                {}
            ).addTo(map_1388036006072f991ede4632cda99f9a);
        
    
            var icon_7939fd47d7a147bcb07266c3cc88f9ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6b770511b0ebc60afe2071b8d90c02e9.setIcon(icon_7939fd47d7a147bcb07266c3cc88f9ab);
        
    
        var popup_735e0f758e782b6f82ec0b4e327d45b3 = L.popup({"maxWidth": "100%"});

        
            var html_b0aa0bf55b9529ccc91b2e7e85bcbf8d = $(`<div id="html_b0aa0bf55b9529ccc91b2e7e85bcbf8d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_735e0f758e782b6f82ec0b4e327d45b3.setContent(html_b0aa0bf55b9529ccc91b2e7e85bcbf8d);
        

        marker_6b770511b0ebc60afe2071b8d90c02e9.bindPopup(popup_735e0f758e782b6f82ec0b4e327d45b3)
        ;

        
    
    
            marker_6b770511b0ebc60afe2071b8d90c02e9.bindTooltip(
                `<div>
                     SHERRILLS FORD LEARNING ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
</script>