<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bd88c2f96d6a84a68ea6092150049f77 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bd88c2f96d6a84a68ea6092150049f77" ></div>
        
</body>
<script>    
    
            var map_bd88c2f96d6a84a68ea6092150049f77 = L.map(
                "map_bd88c2f96d6a84a68ea6092150049f77",
                {
                    center: [35.73425135, -79.4690911347973],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_21520a453b32b0346ac7c1f85d24bfe5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var marker_955623f5c8d5f590360c6f238eac3e83 = L.marker(
                [35.73425135, -79.4690911347973],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_020354732fc2d97d5e9319478e5235b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_955623f5c8d5f590360c6f238eac3e83.setIcon(icon_020354732fc2d97d5e9319478e5235b8);
        
    
        var popup_68f7835b0b42c666aaec5954c5a35de7 = L.popup({"maxWidth": "100%"});

        
            var html_72751135e839dac2f9d9ec5456166125 = $(`<div id="html_72751135e839dac2f9d9ec5456166125" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_68f7835b0b42c666aaec5954c5a35de7.setContent(html_72751135e839dac2f9d9ec5456166125);
        

        marker_955623f5c8d5f590360c6f238eac3e83.bindPopup(popup_68f7835b0b42c666aaec5954c5a35de7)
        ;

        
    
    
            marker_955623f5c8d5f590360c6f238eac3e83.bindTooltip(
                `<div>
                     BUSY BEES CREATIVE LEARNING CENTER @ WEST END
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_80ea17c5e3c871df0087db86976c9668 = L.marker(
                [35.7273766, -79.4538487],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_74b4ab5715556037406d15c03cb9559c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_80ea17c5e3c871df0087db86976c9668.setIcon(icon_74b4ab5715556037406d15c03cb9559c);
        
    
        var popup_54645266416d85eb83475689ba385051 = L.popup({"maxWidth": "100%"});

        
            var html_bd9e79fa6f94c90cb5a8e1ef3a8c847d = $(`<div id="html_bd9e79fa6f94c90cb5a8e1ef3a8c847d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_54645266416d85eb83475689ba385051.setContent(html_bd9e79fa6f94c90cb5a8e1ef3a8c847d);
        

        marker_80ea17c5e3c871df0087db86976c9668.bindPopup(popup_54645266416d85eb83475689ba385051)
        ;

        
    
    
            marker_80ea17c5e3c871df0087db86976c9668.bindTooltip(
                `<div>
                     CHILDREN FIRST LEARNING CENTER, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_753d606739934d41f643faa9977b29d3 = L.marker(
                [35.7182656, -79.4656016],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_ec594a239377afeb028547f42d1dc8d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_753d606739934d41f643faa9977b29d3.setIcon(icon_ec594a239377afeb028547f42d1dc8d6);
        
    
        var popup_73ff2ab6bb6f8b6c1ffe27ee56bab055 = L.popup({"maxWidth": "100%"});

        
            var html_4bbf9567e6eccca674f067bff7dfeae9 = $(`<div id="html_4bbf9567e6eccca674f067bff7dfeae9" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_73ff2ab6bb6f8b6c1ffe27ee56bab055.setContent(html_4bbf9567e6eccca674f067bff7dfeae9);
        

        marker_753d606739934d41f643faa9977b29d3.bindPopup(popup_73ff2ab6bb6f8b6c1ffe27ee56bab055)
        ;

        
    
    
            marker_753d606739934d41f643faa9977b29d3.bindTooltip(
                `<div>
                     DEBBIE'S DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bfb595731893248058f43a111226caaa = L.marker(
                [35.7338951, -79.4543368],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_b2fd21b034568418e1179514bd2de7c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_bfb595731893248058f43a111226caaa.setIcon(icon_b2fd21b034568418e1179514bd2de7c6);
        
    
        var popup_754fc2210591bdc995a54aae02953974 = L.popup({"maxWidth": "100%"});

        
            var html_2c771b56b4c5ebbe61cd09d96d563d0f = $(`<div id="html_2c771b56b4c5ebbe61cd09d96d563d0f" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_754fc2210591bdc995a54aae02953974.setContent(html_2c771b56b4c5ebbe61cd09d96d563d0f);
        

        marker_bfb595731893248058f43a111226caaa.bindPopup(popup_754fc2210591bdc995a54aae02953974)
        ;

        
    
    
            marker_bfb595731893248058f43a111226caaa.bindTooltip(
                `<div>
                     DEBORAH'S DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1a872c74617467bc916da00c18a762e5 = L.marker(
                [35.7581262, -79.4749881],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_dfdf63e59b39e395c87138fff3f5b0e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1a872c74617467bc916da00c18a762e5.setIcon(icon_dfdf63e59b39e395c87138fff3f5b0e2);
        
    
        var popup_6a005ecde53e3ba249d9ea32e59e06c7 = L.popup({"maxWidth": "100%"});

        
            var html_8911b7496bc8788bf42b3c0a0bfe907a = $(`<div id="html_8911b7496bc8788bf42b3c0a0bfe907a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_6a005ecde53e3ba249d9ea32e59e06c7.setContent(html_8911b7496bc8788bf42b3c0a0bfe907a);
        

        marker_1a872c74617467bc916da00c18a762e5.bindPopup(popup_6a005ecde53e3ba249d9ea32e59e06c7)
        ;

        
    
    
            marker_1a872c74617467bc916da00c18a762e5.bindTooltip(
                `<div>
                     KATHY COCKMAN DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec19766745aba8b78565d44957415c56 = L.marker(
                [35.7321585, -79.44200321468682],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_b7c443d5cd775470e341553a99eaa9f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ec19766745aba8b78565d44957415c56.setIcon(icon_b7c443d5cd775470e341553a99eaa9f8);
        
    
        var popup_4779f932fddbb88d762be1ebd60f131f = L.popup({"maxWidth": "100%"});

        
            var html_402d1bd4b6e718079387aa49b9af98fd = $(`<div id="html_402d1bd4b6e718079387aa49b9af98fd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4779f932fddbb88d762be1ebd60f131f.setContent(html_402d1bd4b6e718079387aa49b9af98fd);
        

        marker_ec19766745aba8b78565d44957415c56.bindPopup(popup_4779f932fddbb88d762be1ebd60f131f)
        ;

        
    
    
            marker_ec19766745aba8b78565d44957415c56.bindTooltip(
                `<div>
                     LITTLE BLESSINGS CHRISTIAN CHILD CARE CENTER LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0a1bc48862998446203604c9c5e096f2 = L.marker(
                [35.7752472, -79.3769724],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_658dd9369ac3a39c5dcc25131c7c48da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0a1bc48862998446203604c9c5e096f2.setIcon(icon_658dd9369ac3a39c5dcc25131c7c48da);
        
    
        var popup_7ec53988631908a559b30b3cb98731e6 = L.popup({"maxWidth": "100%"});

        
            var html_954bae8620faa77df79ba7bbd982268c = $(`<div id="html_954bae8620faa77df79ba7bbd982268c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7ec53988631908a559b30b3cb98731e6.setContent(html_954bae8620faa77df79ba7bbd982268c);
        

        marker_0a1bc48862998446203604c9c5e096f2.bindPopup(popup_7ec53988631908a559b30b3cb98731e6)
        ;

        
    
    
            marker_0a1bc48862998446203604c9c5e096f2.bindTooltip(
                `<div>
                     LITTLE SPROUTS CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9706cbde673098128ccf252404b9ca36 = L.marker(
                [35.7250444, -79.46888251817819],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_aacc6b2491f9ba56e77807b9bbb44279 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9706cbde673098128ccf252404b9ca36.setIcon(icon_aacc6b2491f9ba56e77807b9bbb44279);
        
    
        var popup_2a7e3306b344e22c76c8100b326b65cb = L.popup({"maxWidth": "100%"});

        
            var html_5c403b146c3b4e3f39b51f4bfc37af66 = $(`<div id="html_5c403b146c3b4e3f39b51f4bfc37af66" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2a7e3306b344e22c76c8100b326b65cb.setContent(html_5c403b146c3b4e3f39b51f4bfc37af66);
        

        marker_9706cbde673098128ccf252404b9ca36.bindPopup(popup_2a7e3306b344e22c76c8100b326b65cb)
        ;

        
    
    
            marker_9706cbde673098128ccf252404b9ca36.bindTooltip(
                `<div>
                     MASON'S CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f46f901c1ac8f35d8e434eab3d1e7a9d = L.marker(
                [35.7339263, -79.4351558],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_fb944dc5d34b400f0aa2a7a221961b04 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f46f901c1ac8f35d8e434eab3d1e7a9d.setIcon(icon_fb944dc5d34b400f0aa2a7a221961b04);
        
    
        var popup_1d028b3113c08a8eeafdf83ba716bcd8 = L.popup({"maxWidth": "100%"});

        
            var html_9522d3f9dd06c2649f5b4f31d260e3c6 = $(`<div id="html_9522d3f9dd06c2649f5b4f31d260e3c6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1d028b3113c08a8eeafdf83ba716bcd8.setContent(html_9522d3f9dd06c2649f5b4f31d260e3c6);
        

        marker_f46f901c1ac8f35d8e434eab3d1e7a9d.bindPopup(popup_1d028b3113c08a8eeafdf83ba716bcd8)
        ;

        
    
    
            marker_f46f901c1ac8f35d8e434eab3d1e7a9d.bindTooltip(
                `<div>
                     MONA'S KIDDIE CARE, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_36c552b6d19b4220bbd879131f6ea71e = L.marker(
                [35.7272057, -79.4928334],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_583618d00f4762ed041b0e649e4a86b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_36c552b6d19b4220bbd879131f6ea71e.setIcon(icon_583618d00f4762ed041b0e649e4a86b7);
        
    
        var popup_e87a7009b63026ab9fd383c9713eb520 = L.popup({"maxWidth": "100%"});

        
            var html_f0935cb03559f03b4102cd9c53cdb565 = $(`<div id="html_f0935cb03559f03b4102cd9c53cdb565" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e87a7009b63026ab9fd383c9713eb520.setContent(html_f0935cb03559f03b4102cd9c53cdb565);
        

        marker_36c552b6d19b4220bbd879131f6ea71e.bindPopup(popup_e87a7009b63026ab9fd383c9713eb520)
        ;

        
    
    
            marker_36c552b6d19b4220bbd879131f6ea71e.bindTooltip(
                `<div>
                     SILER CITY ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ae6526881b9b1ff0903be633fcaf02e0 = L.marker(
                [35.7745658, -79.3766112],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_d1904ca702d8aaed505eece9794909ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ae6526881b9b1ff0903be633fcaf02e0.setIcon(icon_d1904ca702d8aaed505eece9794909ec);
        
    
        var popup_5144f7d5f4990c5a0650f830b2cb38cb = L.popup({"maxWidth": "100%"});

        
            var html_57c6fa8370d3a3614a2037bf0e0bbeb6 = $(`<div id="html_57c6fa8370d3a3614a2037bf0e0bbeb6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5144f7d5f4990c5a0650f830b2cb38cb.setContent(html_57c6fa8370d3a3614a2037bf0e0bbeb6);
        

        marker_ae6526881b9b1ff0903be633fcaf02e0.bindPopup(popup_5144f7d5f4990c5a0650f830b2cb38cb)
        ;

        
    
    
            marker_ae6526881b9b1ff0903be633fcaf02e0.bindTooltip(
                `<div>
                     SONFLOWER SEEDS PRESCHOOL & LC LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9eec7487e5df72fb74e909eb3b3138ad = L.marker(
                [35.7587959, -79.4747926],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_7e56ff637edb4fc86dcf5ec17750eeab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_9eec7487e5df72fb74e909eb3b3138ad.setIcon(icon_7e56ff637edb4fc86dcf5ec17750eeab);
        
    
        var popup_1b199cf31bccbb12dba2f02abc85360a = L.popup({"maxWidth": "100%"});

        
            var html_923e582161f50736cae77bf50bf28ab3 = $(`<div id="html_923e582161f50736cae77bf50bf28ab3" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_1b199cf31bccbb12dba2f02abc85360a.setContent(html_923e582161f50736cae77bf50bf28ab3);
        

        marker_9eec7487e5df72fb74e909eb3b3138ad.bindPopup(popup_1b199cf31bccbb12dba2f02abc85360a)
        ;

        
    
    
            marker_9eec7487e5df72fb74e909eb3b3138ad.bindTooltip(
                `<div>
                     THE WRIGHT PLACE DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3fa76feaa0e87117961d94776f0d4a5d = L.marker(
                [35.73134735, -79.5056053402974],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_5fde6715f7ebdea33860b84a41709718 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_3fa76feaa0e87117961d94776f0d4a5d.setIcon(icon_5fde6715f7ebdea33860b84a41709718);
        
    
        var popup_35b53ae456eaf0ed2b4f11917e7406f6 = L.popup({"maxWidth": "100%"});

        
            var html_306c2b18dee8cdcbbaae80f250171cff = $(`<div id="html_306c2b18dee8cdcbbaae80f250171cff" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_35b53ae456eaf0ed2b4f11917e7406f6.setContent(html_306c2b18dee8cdcbbaae80f250171cff);
        

        marker_3fa76feaa0e87117961d94776f0d4a5d.bindPopup(popup_35b53ae456eaf0ed2b4f11917e7406f6)
        ;

        
    
    
            marker_3fa76feaa0e87117961d94776f0d4a5d.bindTooltip(
                `<div>
                     WATSON'S DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6d896987274069daa4ab2ca09e60f434 = L.marker(
                [35.7349216, -79.4674321],
                {}
            ).addTo(map_bd88c2f96d6a84a68ea6092150049f77);
        
    
            var icon_2ee34ff29be80e81f6d00c7d4529153e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6d896987274069daa4ab2ca09e60f434.setIcon(icon_2ee34ff29be80e81f6d00c7d4529153e);
        
    
        var popup_388bd3963013373414a06a4e76ecbb81 = L.popup({"maxWidth": "100%"});

        
            var html_c8b5f54703634f5acf9c84b7ea14b388 = $(`<div id="html_c8b5f54703634f5acf9c84b7ea14b388" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_388bd3963013373414a06a4e76ecbb81.setContent(html_c8b5f54703634f5acf9c84b7ea14b388);
        

        marker_6d896987274069daa4ab2ca09e60f434.bindPopup(popup_388bd3963013373414a06a4e76ecbb81)
        ;

        
    
    
            marker_6d896987274069daa4ab2ca09e60f434.bindTooltip(
                `<div>
                     WRITE BEGINNINGS CHRISTIAN PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>