<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_baea122fa1afc76afea8f581f77ab1ac {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_baea122fa1afc76afea8f581f77ab1ac" ></div>
        
</body>
<script>    
    
            var map_baea122fa1afc76afea8f581f77ab1ac = L.map(
                "map_baea122fa1afc76afea8f581f77ab1ac",
                {
                    center: [35.5771485, -78.3413905],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9c2f35b8537d626620061c45023d5d9b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var marker_0ec6a51167ca2929450ba41f338a3512 = L.marker(
                [35.5771485, -78.3413905],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_b239254925643335d2a88403cbbf3027 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_0ec6a51167ca2929450ba41f338a3512.setIcon(icon_b239254925643335d2a88403cbbf3027);
        
    
        var popup_4e1f837a2deb98ffd070a87aa6920afd = L.popup({"maxWidth": "100%"});

        
            var html_84af1e51bd49a1a8788eae9936ac1245 = $(`<div id="html_84af1e51bd49a1a8788eae9936ac1245" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_4e1f837a2deb98ffd070a87aa6920afd.setContent(html_84af1e51bd49a1a8788eae9936ac1245);
        

        marker_0ec6a51167ca2929450ba41f338a3512.bindPopup(popup_4e1f837a2deb98ffd070a87aa6920afd)
        ;

        
    
    
            marker_0ec6a51167ca2929450ba41f338a3512.bindTooltip(
                `<div>
                     SMALL BLESSINGS'
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb5dbd3cae1fcd999822b3907a2a7f3f = L.marker(
                [35.51907581090875, -78.32545953156206],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_a72197bae9b5515e2336888a31244135 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_eb5dbd3cae1fcd999822b3907a2a7f3f.setIcon(icon_a72197bae9b5515e2336888a31244135);
        
    
        var popup_7b783fbdfa57eeb2341e2f38643db75a = L.popup({"maxWidth": "100%"});

        
            var html_c9230300c34cf040473cd830d1a619c4 = $(`<div id="html_c9230300c34cf040473cd830d1a619c4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7b783fbdfa57eeb2341e2f38643db75a.setContent(html_c9230300c34cf040473cd830d1a619c4);
        

        marker_eb5dbd3cae1fcd999822b3907a2a7f3f.bindPopup(popup_7b783fbdfa57eeb2341e2f38643db75a)
        ;

        
    
    
            marker_eb5dbd3cae1fcd999822b3907a2a7f3f.bindTooltip(
                `<div>
                     A BRIGHT START CHILD CARE LEARNING CENTER INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8a9a180b14e62878b2728bb25370ea5c = L.marker(
                [35.521437000000006, -78.30442300000001],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_616e72f8d2168e0ff0eb5e5e2674d850 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8a9a180b14e62878b2728bb25370ea5c.setIcon(icon_616e72f8d2168e0ff0eb5e5e2674d850);
        
    
        var popup_78b01da5e9a49566478b5b0c00f095d3 = L.popup({"maxWidth": "100%"});

        
            var html_4e6c0d3f522fa7728462678aea7b6f4e = $(`<div id="html_4e6c0d3f522fa7728462678aea7b6f4e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_78b01da5e9a49566478b5b0c00f095d3.setContent(html_4e6c0d3f522fa7728462678aea7b6f4e);
        

        marker_8a9a180b14e62878b2728bb25370ea5c.bindPopup(popup_78b01da5e9a49566478b5b0c00f095d3)
        ;

        
    
    
            marker_8a9a180b14e62878b2728bb25370ea5c.bindTooltip(
                `<div>
                     A CHILD'S PLACE #1
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c25d1cd64ffd6f60ecc6f6f93f8eaec = L.marker(
                [35.511014236069705, -78.3249642705572],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_5ce10768aba1cfff2a20fc5ee51eb9ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1c25d1cd64ffd6f60ecc6f6f93f8eaec.setIcon(icon_5ce10768aba1cfff2a20fc5ee51eb9ce);
        
    
        var popup_3b70b6482be8500b3b01c30630b0291b = L.popup({"maxWidth": "100%"});

        
            var html_d619292b4ee4fb47390bdc70a63a5d3a = $(`<div id="html_d619292b4ee4fb47390bdc70a63a5d3a" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_3b70b6482be8500b3b01c30630b0291b.setContent(html_d619292b4ee4fb47390bdc70a63a5d3a);
        

        marker_1c25d1cd64ffd6f60ecc6f6f93f8eaec.bindPopup(popup_3b70b6482be8500b3b01c30630b0291b)
        ;

        
    
    
            marker_1c25d1cd64ffd6f60ecc6f6f93f8eaec.bindTooltip(
                `<div>
                     CHILDREN OF DESTINY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e4893ff956e2f0cd3e042fc4881920c9 = L.marker(
                [35.5166074, -78.3224671],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_86050e0b61423069104a86a6b8d413ba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e4893ff956e2f0cd3e042fc4881920c9.setIcon(icon_86050e0b61423069104a86a6b8d413ba);
        
    
        var popup_a534213a1e13fa76c7e99d750e76c720 = L.popup({"maxWidth": "100%"});

        
            var html_3c985ce12e134f2d3ca2767cd4073baa = $(`<div id="html_3c985ce12e134f2d3ca2767cd4073baa" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a534213a1e13fa76c7e99d750e76c720.setContent(html_3c985ce12e134f2d3ca2767cd4073baa);
        

        marker_e4893ff956e2f0cd3e042fc4881920c9.bindPopup(popup_a534213a1e13fa76c7e99d750e76c720)
        ;

        
    
    
            marker_e4893ff956e2f0cd3e042fc4881920c9.bindTooltip(
                `<div>
                     CHILDREN'S UNLIMITED ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b52690648189293a363a1cec443b0128 = L.marker(
                [35.5146148, -78.3371925],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_370f19c21d89e40f4351249e411ecae2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b52690648189293a363a1cec443b0128.setIcon(icon_370f19c21d89e40f4351249e411ecae2);
        
    
        var popup_5d2bdf4339094ee4cc3f2ab5786bb40a = L.popup({"maxWidth": "100%"});

        
            var html_7326e08d98f0dedaecd9bd5ca8ac2e72 = $(`<div id="html_7326e08d98f0dedaecd9bd5ca8ac2e72" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5d2bdf4339094ee4cc3f2ab5786bb40a.setContent(html_7326e08d98f0dedaecd9bd5ca8ac2e72);
        

        marker_b52690648189293a363a1cec443b0128.bindPopup(popup_5d2bdf4339094ee4cc3f2ab5786bb40a)
        ;

        
    
    
            marker_b52690648189293a363a1cec443b0128.bindTooltip(
                `<div>
                     HIGHER CALLING CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_852cd24c66e9d7d61258ce2a0e3358ba = L.marker(
                [35.5020518, -78.3349574],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_e32824961534d786784bb7bd08a876d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_852cd24c66e9d7d61258ce2a0e3358ba.setIcon(icon_e32824961534d786784bb7bd08a876d8);
        
    
        var popup_9e584e30e402066c3797cdb18de5567f = L.popup({"maxWidth": "100%"});

        
            var html_5edef3d0605f86a3b643b8b7b5ab8989 = $(`<div id="html_5edef3d0605f86a3b643b8b7b5ab8989" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9e584e30e402066c3797cdb18de5567f.setContent(html_5edef3d0605f86a3b643b8b7b5ab8989);
        

        marker_852cd24c66e9d7d61258ce2a0e3358ba.bindPopup(popup_9e584e30e402066c3797cdb18de5567f)
        ;

        
    
    
            marker_852cd24c66e9d7d61258ce2a0e3358ba.bindTooltip(
                `<div>
                     JOHNSTON COMMUNITY COLLEGE CHILD DEVELOPMENT CENTE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fe9bdc371eb7aa4ee07e66af83913d88 = L.marker(
                [35.49745405805223, -78.34715414458107],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_1189fa92eb1d440e9a20facec0b9cd60 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_fe9bdc371eb7aa4ee07e66af83913d88.setIcon(icon_1189fa92eb1d440e9a20facec0b9cd60);
        
    
        var popup_ed9e474c541dacb4073d34edc55d2ece = L.popup({"maxWidth": "100%"});

        
            var html_4cfdca66e3944a771c8eb82748877965 = $(`<div id="html_4cfdca66e3944a771c8eb82748877965" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_ed9e474c541dacb4073d34edc55d2ece.setContent(html_4cfdca66e3944a771c8eb82748877965);
        

        marker_fe9bdc371eb7aa4ee07e66af83913d88.bindPopup(popup_ed9e474c541dacb4073d34edc55d2ece)
        ;

        
    
    
            marker_fe9bdc371eb7aa4ee07e66af83913d88.bindTooltip(
                `<div>
                     KAY'S IN-HOME DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2dede0eadfde67c8c5e9f4c94a66e65b = L.marker(
                [35.5780555, -78.3487585],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_c9a200b7d5be820b006d86271bf2b99c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2dede0eadfde67c8c5e9f4c94a66e65b.setIcon(icon_c9a200b7d5be820b006d86271bf2b99c);
        
    
        var popup_aa8972c1022a8824a4632c6827e5ca17 = L.popup({"maxWidth": "100%"});

        
            var html_31c26a879691fb90f0f2343f0ed19970 = $(`<div id="html_31c26a879691fb90f0f2343f0ed19970" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_aa8972c1022a8824a4632c6827e5ca17.setContent(html_31c26a879691fb90f0f2343f0ed19970);
        

        marker_2dede0eadfde67c8c5e9f4c94a66e65b.bindPopup(popup_aa8972c1022a8824a4632c6827e5ca17)
        ;

        
    
    
            marker_2dede0eadfde67c8c5e9f4c94a66e65b.bindTooltip(
                `<div>
                     KID'S COUNTRY DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_79ba4677452cc8c41e383a9d1afef7f6 = L.marker(
                [35.51620385, -78.33039042871914],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_8f26187f48c97f915db507abfc1b115f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_79ba4677452cc8c41e383a9d1afef7f6.setIcon(icon_8f26187f48c97f915db507abfc1b115f);
        
    
        var popup_0d053c7ed9efa5061b939a20fbf63aca = L.popup({"maxWidth": "100%"});

        
            var html_032240c6fa642596ddcf404aeaf44317 = $(`<div id="html_032240c6fa642596ddcf404aeaf44317" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0d053c7ed9efa5061b939a20fbf63aca.setContent(html_032240c6fa642596ddcf404aeaf44317);
        

        marker_79ba4677452cc8c41e383a9d1afef7f6.bindPopup(popup_0d053c7ed9efa5061b939a20fbf63aca)
        ;

        
    
    
            marker_79ba4677452cc8c41e383a9d1afef7f6.bindTooltip(
                `<div>
                     KIDDIE KOLLEGE OF BERKSHIRE INC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9dc28cf57c749f7490812719601d7aca = L.marker(
                [35.5195383, -78.3231573],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_877d6d0f28c38790dafc4c1aebce00bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9dc28cf57c749f7490812719601d7aca.setIcon(icon_877d6d0f28c38790dafc4c1aebce00bd);
        
    
        var popup_18da6d98e88519e19393135860e871bc = L.popup({"maxWidth": "100%"});

        
            var html_bc6086819d0dfe8a8ffb2fa5ae8fd3f1 = $(`<div id="html_bc6086819d0dfe8a8ffb2fa5ae8fd3f1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_18da6d98e88519e19393135860e871bc.setContent(html_bc6086819d0dfe8a8ffb2fa5ae8fd3f1);
        

        marker_9dc28cf57c749f7490812719601d7aca.bindPopup(popup_18da6d98e88519e19393135860e871bc)
        ;

        
    
    
            marker_9dc28cf57c749f7490812719601d7aca.bindTooltip(
                `<div>
                     PLAYMATES CHILD CARE OF SMITHFIELD
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f6944dfbb3b85f9d62e54420dcebae6 = L.marker(
                [35.506009, -78.336637],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_08382cd0876e6218edb86b9677275b0e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5f6944dfbb3b85f9d62e54420dcebae6.setIcon(icon_08382cd0876e6218edb86b9677275b0e);
        
    
        var popup_6ce3d05fee9bca699152db4f58cb73ba = L.popup({"maxWidth": "100%"});

        
            var html_0d6791ae1535202bbfb00e8cb791ebcd = $(`<div id="html_0d6791ae1535202bbfb00e8cb791ebcd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6ce3d05fee9bca699152db4f58cb73ba.setContent(html_0d6791ae1535202bbfb00e8cb791ebcd);
        

        marker_5f6944dfbb3b85f9d62e54420dcebae6.bindPopup(popup_6ce3d05fee9bca699152db4f58cb73ba)
        ;

        
    
    
            marker_5f6944dfbb3b85f9d62e54420dcebae6.bindTooltip(
                `<div>
                     SMITHFIELD HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9b292a24233387e1b4a4b1d5558fba2e = L.marker(
                [35.5169279, -78.3576759],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_a4ae623cdb954ca4d4d5a12e73425129 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_9b292a24233387e1b4a4b1d5558fba2e.setIcon(icon_a4ae623cdb954ca4d4d5a12e73425129);
        
    
        var popup_3b9b13116c007f257f906124356c45e8 = L.popup({"maxWidth": "100%"});

        
            var html_06db9586271a9090e7261236f8ec74d6 = $(`<div id="html_06db9586271a9090e7261236f8ec74d6" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_3b9b13116c007f257f906124356c45e8.setContent(html_06db9586271a9090e7261236f8ec74d6);
        

        marker_9b292a24233387e1b4a4b1d5558fba2e.bindPopup(popup_3b9b13116c007f257f906124356c45e8)
        ;

        
    
    
            marker_9b292a24233387e1b4a4b1d5558fba2e.bindTooltip(
                `<div>
                     SOMEPLACE SPECIAL FAMILY CHILD CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc8c145fcc63247690ed43b7bd4b83fb = L.marker(
                [35.49910095, -78.35871433579439],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_063a8ebd46c4826cd4732c561c42ad27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cc8c145fcc63247690ed43b7bd4b83fb.setIcon(icon_063a8ebd46c4826cd4732c561c42ad27);
        
    
        var popup_44452bf99c04df852d77bc155dae9bec = L.popup({"maxWidth": "100%"});

        
            var html_ee3c4615e3843902cc8035f12e43e6b9 = $(`<div id="html_ee3c4615e3843902cc8035f12e43e6b9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_44452bf99c04df852d77bc155dae9bec.setContent(html_ee3c4615e3843902cc8035f12e43e6b9);
        

        marker_cc8c145fcc63247690ed43b7bd4b83fb.bindPopup(popup_44452bf99c04df852d77bc155dae9bec)
        ;

        
    
    
            marker_cc8c145fcc63247690ed43b7bd4b83fb.bindTooltip(
                `<div>
                     SOUTH SMITHFIELD ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d7c1c15ae5ebed89056b5f4e27bd2853 = L.marker(
                [35.54086624541277, -78.35379302327715],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_97df7478a548987dc0d6db6084b02be0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d7c1c15ae5ebed89056b5f4e27bd2853.setIcon(icon_97df7478a548987dc0d6db6084b02be0);
        
    
        var popup_9e7147b8036944db965ad375e989301a = L.popup({"maxWidth": "100%"});

        
            var html_5c980df60ef30ce077d79f3e92b40568 = $(`<div id="html_5c980df60ef30ce077d79f3e92b40568" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9e7147b8036944db965ad375e989301a.setContent(html_5c980df60ef30ce077d79f3e92b40568);
        

        marker_d7c1c15ae5ebed89056b5f4e27bd2853.bindPopup(popup_9e7147b8036944db965ad375e989301a)
        ;

        
    
    
            marker_d7c1c15ae5ebed89056b5f4e27bd2853.bindTooltip(
                `<div>
                     THE KIDZ GARDEN
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_71c4c0798e7b958076640c519ece04f4 = L.marker(
                [35.52676122426746, -78.31857888074146],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_7d89a6ddc3624abe943a48c8bcd18dad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_71c4c0798e7b958076640c519ece04f4.setIcon(icon_7d89a6ddc3624abe943a48c8bcd18dad);
        
    
        var popup_3683d1d1b819db5138a5857766f11508 = L.popup({"maxWidth": "100%"});

        
            var html_9e8308381d7a01422130a97590faac66 = $(`<div id="html_9e8308381d7a01422130a97590faac66" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_3683d1d1b819db5138a5857766f11508.setContent(html_9e8308381d7a01422130a97590faac66);
        

        marker_71c4c0798e7b958076640c519ece04f4.bindPopup(popup_3683d1d1b819db5138a5857766f11508)
        ;

        
    
    
            marker_71c4c0798e7b958076640c519ece04f4.bindTooltip(
                `<div>
                     TOTAL FAITH CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_27e94403a789b6606d725a37bfcdb18c = L.marker(
                [35.50144605, -78.40710853153674],
                {}
            ).addTo(map_baea122fa1afc76afea8f581f77ab1ac);
        
    
            var icon_660c7aabc9195fc437d5c6d7aac5b18e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_27e94403a789b6606d725a37bfcdb18c.setIcon(icon_660c7aabc9195fc437d5c6d7aac5b18e);
        
    
        var popup_7fe71c273cd0be1cf9305cf1ec169632 = L.popup({"maxWidth": "100%"});

        
            var html_a524b93b30ec8b72b0ed806fa54eb73a = $(`<div id="html_a524b93b30ec8b72b0ed806fa54eb73a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7fe71c273cd0be1cf9305cf1ec169632.setContent(html_a524b93b30ec8b72b0ed806fa54eb73a);
        

        marker_27e94403a789b6606d725a37bfcdb18c.bindPopup(popup_7fe71c273cd0be1cf9305cf1ec169632)
        ;

        
    
    
            marker_27e94403a789b6606d725a37bfcdb18c.bindTooltip(
                `<div>
                     WEST SMITHFIELD ELEMENTARY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>