<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_94402596b4b6964ba234c52b40fed1d3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_94402596b4b6964ba234c52b40fed1d3" ></div>
        
</body>
<script>    
    
            var map_94402596b4b6964ba234c52b40fed1d3 = L.map(
                "map_94402596b4b6964ba234c52b40fed1d3",
                {
                    center: [33.93261239636128, -78.01448651844827],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0ebc7c74322f9ceadeab2daded045ca8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_94402596b4b6964ba234c52b40fed1d3);
        
    
            var marker_991a269b927ff8dae396ba44e26f7e98 = L.marker(
                [33.93261239636128, -78.01448651844827],
                {}
            ).addTo(map_94402596b4b6964ba234c52b40fed1d3);
        
    
            var icon_42119408ab8f2615f7406e2fec8cb540 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_991a269b927ff8dae396ba44e26f7e98.setIcon(icon_42119408ab8f2615f7406e2fec8cb540);
        
    
        var popup_04c8091e9f957417ee56e9493c648fcf = L.popup({"maxWidth": "100%"});

        
            var html_96195fafa90fb2683cc4f264f354fbee = $(`<div id="html_96195fafa90fb2683cc4f264f354fbee" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_04c8091e9f957417ee56e9493c648fcf.setContent(html_96195fafa90fb2683cc4f264f354fbee);
        

        marker_991a269b927ff8dae396ba44e26f7e98.bindPopup(popup_04c8091e9f957417ee56e9493c648fcf)
        ;

        
    
    
            marker_991a269b927ff8dae396ba44e26f7e98.bindTooltip(
                `<div>
                     CHILDCARE NETWORK # 85
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_33c411707191fc7ff9e9278eea9399ff = L.marker(
                [33.92476385714286, -78.0238557755102],
                {}
            ).addTo(map_94402596b4b6964ba234c52b40fed1d3);
        
    
            var icon_4b9c4add21b4052c5193344ee4ef15ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_33c411707191fc7ff9e9278eea9399ff.setIcon(icon_4b9c4add21b4052c5193344ee4ef15ab);
        
    
        var popup_4052b5be5ef7c41d1145058f02ef5fa2 = L.popup({"maxWidth": "100%"});

        
            var html_d19e70d0c5fbc4f737404c9412621120 = $(`<div id="html_d19e70d0c5fbc4f737404c9412621120" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_4052b5be5ef7c41d1145058f02ef5fa2.setContent(html_d19e70d0c5fbc4f737404c9412621120);
        

        marker_33c411707191fc7ff9e9278eea9399ff.bindPopup(popup_4052b5be5ef7c41d1145058f02ef5fa2)
        ;

        
    
    
            marker_33c411707191fc7ff9e9278eea9399ff.bindTooltip(
                `<div>
                     KIDS WORLD ACADEMY I
                 </div>`,
                {"sticky": true}
            );
        
</script>