<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_29c2e6e72cc7b17915587e040cd3620e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_29c2e6e72cc7b17915587e040cd3620e" ></div>
        
</body>
<script>    
    
            var map_29c2e6e72cc7b17915587e040cd3620e = L.map(
                "map_29c2e6e72cc7b17915587e040cd3620e",
                {
                    center: [35.17312231313131, -79.39635274747475],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fe3a9bd10b15566633cbc691a2680c85 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var marker_c8350a450eaba08d9f3590bd72f04350 = L.marker(
                [35.17312231313131, -79.39635274747475],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_ee94c42f57a944f676527f5de7b8dd61 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c8350a450eaba08d9f3590bd72f04350.setIcon(icon_ee94c42f57a944f676527f5de7b8dd61);
        
    
        var popup_5c897b22b844b0f8b9f95a9f024fe17a = L.popup({"maxWidth": "100%"});

        
            var html_d186480804a33fc87e69ad695aeeef1b = $(`<div id="html_d186480804a33fc87e69ad695aeeef1b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_5c897b22b844b0f8b9f95a9f024fe17a.setContent(html_d186480804a33fc87e69ad695aeeef1b);
        

        marker_c8350a450eaba08d9f3590bd72f04350.bindPopup(popup_5c897b22b844b0f8b9f95a9f024fe17a)
        ;

        
    
    
            marker_c8350a450eaba08d9f3590bd72f04350.bindTooltip(
                `<div>
                     CALVARY CHRISTIAN DAY CARE #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9902ac04ddf0177aea593a6f5aae257 = L.marker(
                [35.17312231313131, -79.39635274747475],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_ccf285a872503223a18e148431568681 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e9902ac04ddf0177aea593a6f5aae257.setIcon(icon_ccf285a872503223a18e148431568681);
        
    
        var popup_49ba7fa30ac58a71d1c8f5bc324423b1 = L.popup({"maxWidth": "100%"});

        
            var html_e865fbf07c4e67e5b92e1db17a467158 = $(`<div id="html_e865fbf07c4e67e5b92e1db17a467158" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_49ba7fa30ac58a71d1c8f5bc324423b1.setContent(html_e865fbf07c4e67e5b92e1db17a467158);
        

        marker_e9902ac04ddf0177aea593a6f5aae257.bindPopup(popup_49ba7fa30ac58a71d1c8f5bc324423b1)
        ;

        
    
    
            marker_e9902ac04ddf0177aea593a6f5aae257.bindTooltip(
                `<div>
                     CALVARY CHRISTIAN DAY CARE CENTER #1
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f2a64a756be2623b06fcd52894c1b071 = L.marker(
                [35.18227393877551, -79.40309046938775],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_7fd453f0ee88c4384220ddb24706df76 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f2a64a756be2623b06fcd52894c1b071.setIcon(icon_7fd453f0ee88c4384220ddb24706df76);
        
    
        var popup_143e78d246fc9bb4107c0a99490b528c = L.popup({"maxWidth": "100%"});

        
            var html_d1713d6a6e433f163b00019200ad76bf = $(`<div id="html_d1713d6a6e433f163b00019200ad76bf" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_143e78d246fc9bb4107c0a99490b528c.setContent(html_d1713d6a6e433f163b00019200ad76bf);
        

        marker_f2a64a756be2623b06fcd52894c1b071.bindPopup(popup_143e78d246fc9bb4107c0a99490b528c)
        ;

        
    
    
            marker_f2a64a756be2623b06fcd52894c1b071.bindTooltip(
                `<div>
                     D'S ANGELS LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e20c1e788f4207d1d8797fedcaa43138 = L.marker(
                [35.16948853061225, -79.39217132653062],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_a805c6887e88403215e28c767f4b7414 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e20c1e788f4207d1d8797fedcaa43138.setIcon(icon_a805c6887e88403215e28c767f4b7414);
        
    
        var popup_e55a2223332685a1365d6c130d1413e3 = L.popup({"maxWidth": "100%"});

        
            var html_faced0ae9c70c2300c511e674b0d32cd = $(`<div id="html_faced0ae9c70c2300c511e674b0d32cd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e55a2223332685a1365d6c130d1413e3.setContent(html_faced0ae9c70c2300c511e674b0d32cd);
        

        marker_e20c1e788f4207d1d8797fedcaa43138.bindPopup(popup_e55a2223332685a1365d6c130d1413e3)
        ;

        
    
    
            marker_e20c1e788f4207d1d8797fedcaa43138.bindTooltip(
                `<div>
                     EPISCOPAL DAY SCHOOL PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a84bbb2ba47e93d38ce141f81aae0937 = L.marker(
                [35.16800611764705, -79.41118132352942],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_9f1e6b12a7038bffb2e4f480688f3a48 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_a84bbb2ba47e93d38ce141f81aae0937.setIcon(icon_9f1e6b12a7038bffb2e4f480688f3a48);
        
    
        var popup_222a14bc0a4380d425159a6779af151a = L.popup({"maxWidth": "100%"});

        
            var html_5ad8eed1b85caf1180275269d7c8a369 = $(`<div id="html_5ad8eed1b85caf1180275269d7c8a369" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_222a14bc0a4380d425159a6779af151a.setContent(html_5ad8eed1b85caf1180275269d7c8a369);
        

        marker_a84bbb2ba47e93d38ce141f81aae0937.bindPopup(popup_222a14bc0a4380d425159a6779af151a)
        ;

        
    
    
            marker_a84bbb2ba47e93d38ce141f81aae0937.bindTooltip(
                `<div>
                     FAITH'S SMALL DAY CARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_123e296e381c703646c75c3a3c5eb7d2 = L.marker(
                [35.17194864152997, -79.40098420810986],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_f9439c6492008003e1f0b2aef00baec1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_123e296e381c703646c75c3a3c5eb7d2.setIcon(icon_f9439c6492008003e1f0b2aef00baec1);
        
    
        var popup_a924a39cc89f5fdea3da00a6b0a3a2dd = L.popup({"maxWidth": "100%"});

        
            var html_987242b18d35b031f7ff2e17d7a80ccb = $(`<div id="html_987242b18d35b031f7ff2e17d7a80ccb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a924a39cc89f5fdea3da00a6b0a3a2dd.setContent(html_987242b18d35b031f7ff2e17d7a80ccb);
        

        marker_123e296e381c703646c75c3a3c5eb7d2.bindPopup(popup_a924a39cc89f5fdea3da00a6b0a3a2dd)
        ;

        
    
    
            marker_123e296e381c703646c75c3a3c5eb7d2.bindTooltip(
                `<div>
                     JESSIE'S LITTLE BLESSINGS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7ec640538fd94999a8ee2284144e3ef9 = L.marker(
                [35.17852804567121, -79.40866510245725],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_e4dc77b2058b1f6ba13ebcdc561fb99d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7ec640538fd94999a8ee2284144e3ef9.setIcon(icon_e4dc77b2058b1f6ba13ebcdc561fb99d);
        
    
        var popup_e9332178edad0f1590348b5b79c67043 = L.popup({"maxWidth": "100%"});

        
            var html_ddc7f226275f4e0c962987aa941a8865 = $(`<div id="html_ddc7f226275f4e0c962987aa941a8865" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e9332178edad0f1590348b5b79c67043.setContent(html_ddc7f226275f4e0c962987aa941a8865);
        

        marker_7ec640538fd94999a8ee2284144e3ef9.bindPopup(popup_e9332178edad0f1590348b5b79c67043)
        ;

        
    
    
            marker_7ec640538fd94999a8ee2284144e3ef9.bindTooltip(
                `<div>
                     LISA'S LOVABLE LEARNING II
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3bf20c6b3578b0c4840a61954534d46d = L.marker(
                [35.17699646938776, -79.3947343877551],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_53ebbe468ac34222af5d041fd89ff7e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3bf20c6b3578b0c4840a61954534d46d.setIcon(icon_53ebbe468ac34222af5d041fd89ff7e2);
        
    
        var popup_7ee2ae8c7ab591115eb400f1381d0c58 = L.popup({"maxWidth": "100%"});

        
            var html_8590d3e4ba4c984a70d46f5962095b63 = $(`<div id="html_8590d3e4ba4c984a70d46f5962095b63" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7ee2ae8c7ab591115eb400f1381d0c58.setContent(html_8590d3e4ba4c984a70d46f5962095b63);
        

        marker_3bf20c6b3578b0c4840a61954534d46d.bindPopup(popup_7ee2ae8c7ab591115eb400f1381d0c58)
        ;

        
    
    
            marker_3bf20c6b3578b0c4840a61954534d46d.bindTooltip(
                `<div>
                     LITTLE PINES ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7ae8fbd72301133928b1efd264f91c40 = L.marker(
                [35.18425434693878, -79.40219379591836],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_0b10c147636dc1b4ce2e2bd5cd75adcf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7ae8fbd72301133928b1efd264f91c40.setIcon(icon_0b10c147636dc1b4ce2e2bd5cd75adcf);
        
    
        var popup_ac1a33fabb02ebb4542933987b4bbca4 = L.popup({"maxWidth": "100%"});

        
            var html_08cac637b25bbbb6f5795fb98a29a6ac = $(`<div id="html_08cac637b25bbbb6f5795fb98a29a6ac" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ac1a33fabb02ebb4542933987b4bbca4.setContent(html_08cac637b25bbbb6f5795fb98a29a6ac);
        

        marker_7ae8fbd72301133928b1efd264f91c40.bindPopup(popup_ac1a33fabb02ebb4542933987b4bbca4)
        ;

        
    
    
            marker_7ae8fbd72301133928b1efd264f91c40.bindTooltip(
                `<div>
                     LITTLE TEAPOT CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ef56738fea01c3acaa8c0e558e8a2eeb = L.marker(
                [35.2127255, -79.37711305727663],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_2c406b933e4ad6c3bee369965a78acbd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ef56738fea01c3acaa8c0e558e8a2eeb.setIcon(icon_2c406b933e4ad6c3bee369965a78acbd);
        
    
        var popup_2ea8b76949a2a5552bb77b51278173de = L.popup({"maxWidth": "100%"});

        
            var html_53bd0bc8ec04c53773fad77ef3c2374c = $(`<div id="html_53bd0bc8ec04c53773fad77ef3c2374c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2ea8b76949a2a5552bb77b51278173de.setContent(html_53bd0bc8ec04c53773fad77ef3c2374c);
        

        marker_ef56738fea01c3acaa8c0e558e8a2eeb.bindPopup(popup_2ea8b76949a2a5552bb77b51278173de)
        ;

        
    
    
            marker_ef56738fea01c3acaa8c0e558e8a2eeb.bindTooltip(
                `<div>
                     MCDEED'S CREEK ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc0070b91801bb4291ad083ef4ffc893 = L.marker(
                [35.18514644897959, -79.4032934489796],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_2572d63fe47e27748c1761850053438a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cc0070b91801bb4291ad083ef4ffc893.setIcon(icon_2572d63fe47e27748c1761850053438a);
        
    
        var popup_8bf9dbd248bbb18beb4fe7c945ef7a8c = L.popup({"maxWidth": "100%"});

        
            var html_993b03888cb08175af3304e07f2b0f7d = $(`<div id="html_993b03888cb08175af3304e07f2b0f7d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8bf9dbd248bbb18beb4fe7c945ef7a8c.setContent(html_993b03888cb08175af3304e07f2b0f7d);
        

        marker_cc0070b91801bb4291ad083ef4ffc893.bindPopup(popup_8bf9dbd248bbb18beb4fe7c945ef7a8c)
        ;

        
    
    
            marker_cc0070b91801bb4291ad083ef4ffc893.bindTooltip(
                `<div>
                     OPEN ARMS DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c1da0c88540896aeb909e6e31de93f8 = L.marker(
                [35.210122997083474, -79.39231076161039],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_43c723b515e932500e05aeb1bf8e343c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4c1da0c88540896aeb909e6e31de93f8.setIcon(icon_43c723b515e932500e05aeb1bf8e343c);
        
    
        var popup_873479ea80caeb60f84755be26e7a8e4 = L.popup({"maxWidth": "100%"});

        
            var html_eb09d9fb7f504a62143a929d9967be04 = $(`<div id="html_eb09d9fb7f504a62143a929d9967be04" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_873479ea80caeb60f84755be26e7a8e4.setContent(html_eb09d9fb7f504a62143a929d9967be04);
        

        marker_4c1da0c88540896aeb909e6e31de93f8.bindPopup(popup_873479ea80caeb60f84755be26e7a8e4)
        ;

        
    
    
            marker_4c1da0c88540896aeb909e6e31de93f8.bindTooltip(
                `<div>
                     SANDHILLS CHILDREN'S CENTER #1
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46c07d65317ba15f75b27cb924e458ff = L.marker(
                [35.185418, -79.408577],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_410cb76fad641bbd1d779d01f26c6687 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_46c07d65317ba15f75b27cb924e458ff.setIcon(icon_410cb76fad641bbd1d779d01f26c6687);
        
    
        var popup_967b004f8cb9b7a3ee66c1e30b4507d5 = L.popup({"maxWidth": "100%"});

        
            var html_581e7c42c4f25e9dc8ea2b52597e9da1 = $(`<div id="html_581e7c42c4f25e9dc8ea2b52597e9da1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_967b004f8cb9b7a3ee66c1e30b4507d5.setContent(html_581e7c42c4f25e9dc8ea2b52597e9da1);
        

        marker_46c07d65317ba15f75b27cb924e458ff.bindPopup(popup_967b004f8cb9b7a3ee66c1e30b4507d5)
        ;

        
    
    
            marker_46c07d65317ba15f75b27cb924e458ff.bindTooltip(
                `<div>
                     SAVE THE CHILDREN SOUTHERN PINES HEAD START ACADEM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e714e1a108d88b62738eb0db857e568d = L.marker(
                [35.16944966445515, -79.40211330245978],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_77ca845392759d11b2b25bea922e16be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e714e1a108d88b62738eb0db857e568d.setIcon(icon_77ca845392759d11b2b25bea922e16be);
        
    
        var popup_97792788d9e73688c13e1b11e2df2f6c = L.popup({"maxWidth": "100%"});

        
            var html_ae0ad58de138f5ce78ccd194e254bb03 = $(`<div id="html_ae0ad58de138f5ce78ccd194e254bb03" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_97792788d9e73688c13e1b11e2df2f6c.setContent(html_ae0ad58de138f5ce78ccd194e254bb03);
        

        marker_e714e1a108d88b62738eb0db857e568d.bindPopup(popup_97792788d9e73688c13e1b11e2df2f6c)
        ;

        
    
    
            marker_e714e1a108d88b62738eb0db857e568d.bindTooltip(
                `<div>
                     SOUTHERN PINES ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_af17b462cd8758552cf7c10d2170978d = L.marker(
                [35.1808863, -79.4104436],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_f1269e6c8204d4885c4177e2909c34b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_af17b462cd8758552cf7c10d2170978d.setIcon(icon_f1269e6c8204d4885c4177e2909c34b4);
        
    
        var popup_e61b2113031b52bdbdb14d2b9822e9cf = L.popup({"maxWidth": "100%"});

        
            var html_e5b6b63d2671b1b405b2dab9b5641c00 = $(`<div id="html_e5b6b63d2671b1b405b2dab9b5641c00" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e61b2113031b52bdbdb14d2b9822e9cf.setContent(html_e5b6b63d2671b1b405b2dab9b5641c00);
        

        marker_af17b462cd8758552cf7c10d2170978d.bindPopup(popup_e61b2113031b52bdbdb14d2b9822e9cf)
        ;

        
    
    
            marker_af17b462cd8758552cf7c10d2170978d.bindTooltip(
                `<div>
                     SOUTHERN PINES ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8253771a4986273d6e8d491bf8151ab8 = L.marker(
                [35.16169909042032, -79.41677337747997],
                {}
            ).addTo(map_29c2e6e72cc7b17915587e040cd3620e);
        
    
            var icon_831a9abf5480b6c28c51b8cf64a87bb4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8253771a4986273d6e8d491bf8151ab8.setIcon(icon_831a9abf5480b6c28c51b8cf64a87bb4);
        
    
        var popup_886560f32108bd161162c953489b6667 = L.popup({"maxWidth": "100%"});

        
            var html_80a9d65cb6279014d231115e8deef4b8 = $(`<div id="html_80a9d65cb6279014d231115e8deef4b8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_886560f32108bd161162c953489b6667.setContent(html_80a9d65cb6279014d231115e8deef4b8);
        

        marker_8253771a4986273d6e8d491bf8151ab8.bindPopup(popup_886560f32108bd161162c953489b6667)
        ;

        
    
    
            marker_8253771a4986273d6e8d491bf8151ab8.bindTooltip(
                `<div>
                     SUNSHINE LEARNING CENTER OF THE SANDHILLS, INC
                 </div>`,
                {"sticky": true}
            );
        
</script>