<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bce6cb34da770c2cb50198b47a99ad97 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bce6cb34da770c2cb50198b47a99ad97" ></div>
        
</body>
<script>    
    
            var map_bce6cb34da770c2cb50198b47a99ad97 = L.map(
                "map_bce6cb34da770c2cb50198b47a99ad97",
                {
                    center: [36.495367315442, -81.12939173549779],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f1454cd90aae1f08e83fa500673d52ad = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bce6cb34da770c2cb50198b47a99ad97);
        
    
            var marker_4d14937fd78440ac669de4a8722ab580 = L.marker(
                [36.495367315442, -81.12939173549779],
                {}
            ).addTo(map_bce6cb34da770c2cb50198b47a99ad97);
        
    
            var icon_f8d2b52164c0c2e41a4929f5664c2ccb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4d14937fd78440ac669de4a8722ab580.setIcon(icon_f8d2b52164c0c2e41a4929f5664c2ccb);
        
    
        var popup_dc85dc03d45f1503dfbfcf8e42349311 = L.popup({"maxWidth": "100%"});

        
            var html_d21bde6aa894d07114926396cb0ba0c1 = $(`<div id="html_d21bde6aa894d07114926396cb0ba0c1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_dc85dc03d45f1503dfbfcf8e42349311.setContent(html_d21bde6aa894d07114926396cb0ba0c1);
        

        marker_4d14937fd78440ac669de4a8722ab580.bindPopup(popup_dc85dc03d45f1503dfbfcf8e42349311)
        ;

        
    
    
            marker_4d14937fd78440ac669de4a8722ab580.bindTooltip(
                `<div>
                     FREE WORSHIP CHRISTIAN DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_adf503e99f82c87ef23416b03b97dc55 = L.marker(
                [36.508261414590834, -81.1318247081452],
                {}
            ).addTo(map_bce6cb34da770c2cb50198b47a99ad97);
        
    
            var icon_1e01e12618f21b62ef9ee577999d0f4d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_adf503e99f82c87ef23416b03b97dc55.setIcon(icon_1e01e12618f21b62ef9ee577999d0f4d);
        
    
        var popup_e78b189b1d566f0bf661e1048cbec54b = L.popup({"maxWidth": "100%"});

        
            var html_d0594ddeb69eec7685fbd27a116c0644 = $(`<div id="html_d0594ddeb69eec7685fbd27a116c0644" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e78b189b1d566f0bf661e1048cbec54b.setContent(html_d0594ddeb69eec7685fbd27a116c0644);
        

        marker_adf503e99f82c87ef23416b03b97dc55.bindPopup(popup_e78b189b1d566f0bf661e1048cbec54b)
        ;

        
    
    
            marker_adf503e99f82c87ef23416b03b97dc55.bindTooltip(
                `<div>
                     GAP CIVIL HEAD START
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_88f66e8c8fb95e3dd2615665467f9a96 = L.marker(
                [36.5059206, -81.1287896],
                {}
            ).addTo(map_bce6cb34da770c2cb50198b47a99ad97);
        
    
            var icon_51f3359b238be2878a5b2f258ae8641f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_88f66e8c8fb95e3dd2615665467f9a96.setIcon(icon_51f3359b238be2878a5b2f258ae8641f);
        
    
        var popup_6276ea792e190b5f0c2464694604c8ab = L.popup({"maxWidth": "100%"});

        
            var html_f99f5667d90acd428e13f69f8d18e6fa = $(`<div id="html_f99f5667d90acd428e13f69f8d18e6fa" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_6276ea792e190b5f0c2464694604c8ab.setContent(html_f99f5667d90acd428e13f69f8d18e6fa);
        

        marker_88f66e8c8fb95e3dd2615665467f9a96.bindPopup(popup_6276ea792e190b5f0c2464694604c8ab)
        ;

        
    
    
            marker_88f66e8c8fb95e3dd2615665467f9a96.bindTooltip(
                `<div>
                     OLLIE'S SMALL WORLD LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_91ef5c51b319dfb318a76aaae7e7b6d1 = L.marker(
                [36.509483, -81.1269436],
                {}
            ).addTo(map_bce6cb34da770c2cb50198b47a99ad97);
        
    
            var icon_e0653e7df6eec4e26915975e9e805753 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_91ef5c51b319dfb318a76aaae7e7b6d1.setIcon(icon_e0653e7df6eec4e26915975e9e805753);
        
    
        var popup_24e5b822f35821f6113e955ddb594b47 = L.popup({"maxWidth": "100%"});

        
            var html_85818e75fc00ee1f50024db446ff6053 = $(`<div id="html_85818e75fc00ee1f50024db446ff6053" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_24e5b822f35821f6113e955ddb594b47.setContent(html_85818e75fc00ee1f50024db446ff6053);
        

        marker_91ef5c51b319dfb318a76aaae7e7b6d1.bindPopup(popup_24e5b822f35821f6113e955ddb594b47)
        ;

        
    
    
            marker_91ef5c51b319dfb318a76aaae7e7b6d1.bindTooltip(
                `<div>
                     SPARTA ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>