<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3bef0125d999ce5f1cf91956602b25b0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3bef0125d999ce5f1cf91956602b25b0" ></div>
        
</body>
<script>    
    
            var map_3bef0125d999ce5f1cf91956602b25b0 = L.map(
                "map_3bef0125d999ce5f1cf91956602b25b0",
                {
                    center: [35.00987265696819, -78.68489337869356],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_78ab6fb00ed79e97997122585cabd415 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3bef0125d999ce5f1cf91956602b25b0);
        
    
            var marker_2e0b9ca551799ea576a4133842ab85c7 = L.marker(
                [35.00987265696819, -78.68489337869356],
                {}
            ).addTo(map_3bef0125d999ce5f1cf91956602b25b0);
        
    
            var icon_bebe8c537b303412e1cab7673c34df58 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2e0b9ca551799ea576a4133842ab85c7.setIcon(icon_bebe8c537b303412e1cab7673c34df58);
        
    
        var popup_89f0002542826fa038afc64f0f86e346 = L.popup({"maxWidth": "100%"});

        
            var html_bcd5a962184b6bddb9546f638ec44746 = $(`<div id="html_bcd5a962184b6bddb9546f638ec44746" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_89f0002542826fa038afc64f0f86e346.setContent(html_bcd5a962184b6bddb9546f638ec44746);
        

        marker_2e0b9ca551799ea576a4133842ab85c7.bindPopup(popup_89f0002542826fa038afc64f0f86e346)
        ;

        
    
    
            marker_2e0b9ca551799ea576a4133842ab85c7.bindTooltip(
                `<div>
                     STEDMAN BAPTIST CHURCH DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d70c55fcb753796722acc360900e3e6 = L.marker(
                [35.00658728934822, -78.69841275590876],
                {}
            ).addTo(map_3bef0125d999ce5f1cf91956602b25b0);
        
    
            var icon_528449b7f3b65c96010318e3bcab8846 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8d70c55fcb753796722acc360900e3e6.setIcon(icon_528449b7f3b65c96010318e3bcab8846);
        
    
        var popup_54ca36131a27ed1e65cda0736635d919 = L.popup({"maxWidth": "100%"});

        
            var html_da314bca4eebc3b84b2a3576367d93b8 = $(`<div id="html_da314bca4eebc3b84b2a3576367d93b8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_54ca36131a27ed1e65cda0736635d919.setContent(html_da314bca4eebc3b84b2a3576367d93b8);
        

        marker_8d70c55fcb753796722acc360900e3e6.bindPopup(popup_54ca36131a27ed1e65cda0736635d919)
        ;

        
    
    
            marker_8d70c55fcb753796722acc360900e3e6.bindTooltip(
                `<div>
                     STEDMAN CHRISTIAN CHILD CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a9c5b864e9dedaa76ec9a59b6ea48f9 = L.marker(
                [35.017863318929166, -78.71422726737799],
                {}
            ).addTo(map_3bef0125d999ce5f1cf91956602b25b0);
        
    
            var icon_d2272b301125a692e15e73455bc5a3c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4a9c5b864e9dedaa76ec9a59b6ea48f9.setIcon(icon_d2272b301125a692e15e73455bc5a3c6);
        
    
        var popup_dda3a0a1a643bd551876967d7d6c9f4e = L.popup({"maxWidth": "100%"});

        
            var html_bd83a32ff79d45a2f1951750ef29caf0 = $(`<div id="html_bd83a32ff79d45a2f1951750ef29caf0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_dda3a0a1a643bd551876967d7d6c9f4e.setContent(html_bd83a32ff79d45a2f1951750ef29caf0);
        

        marker_4a9c5b864e9dedaa76ec9a59b6ea48f9.bindPopup(popup_dda3a0a1a643bd551876967d7d6c9f4e)
        ;

        
    
    
            marker_4a9c5b864e9dedaa76ec9a59b6ea48f9.bindTooltip(
                `<div>
                     WEE WONDERS CHRISTIAN DAY CARE, LLC.
                 </div>`,
                {"sticky": true}
            );
        
</script>