<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_73a678dbf5a9c6132d9e7249711868a7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_73a678dbf5a9c6132d9e7249711868a7" ></div>
        
</body>
<script>    
    
            var map_73a678dbf5a9c6132d9e7249711868a7 = L.map(
                "map_73a678dbf5a9c6132d9e7249711868a7",
                {
                    center: [35.869282060232365, -81.0477219297289],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2ce0708987887e45fe9fcd9a7234725f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_73a678dbf5a9c6132d9e7249711868a7);
        
    
            var marker_951e311b080bcfb5a31ef17c1e631ed0 = L.marker(
                [35.869282060232365, -81.0477219297289],
                {}
            ).addTo(map_73a678dbf5a9c6132d9e7249711868a7);
        
    
            var icon_91137015ab183923acd6d6134c91bf9f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_951e311b080bcfb5a31ef17c1e631ed0.setIcon(icon_91137015ab183923acd6d6134c91bf9f);
        
    
        var popup_805d06f9292b68936c9a77ff851a3662 = L.popup({"maxWidth": "100%"});

        
            var html_ed7ca908b3063bec959c69b40c92109e = $(`<div id="html_ed7ca908b3063bec959c69b40c92109e" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_805d06f9292b68936c9a77ff851a3662.setContent(html_ed7ca908b3063bec959c69b40c92109e);
        

        marker_951e311b080bcfb5a31ef17c1e631ed0.bindPopup(popup_805d06f9292b68936c9a77ff851a3662)
        ;

        
    
    
            marker_951e311b080bcfb5a31ef17c1e631ed0.bindTooltip(
                `<div>
                     ALEXANDER COUNTY HEAD START - STONY POINT
                 </div>`,
                {"sticky": true}
            );
        
</script>