<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_83aacfed48fb113209f4b50fdb5bf985 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_83aacfed48fb113209f4b50fdb5bf985" ></div>
        
</body>
<script>    
    
            var map_83aacfed48fb113209f4b50fdb5bf985 = L.map(
                "map_83aacfed48fb113209f4b50fdb5bf985",
                {
                    center: [36.462707030907325, -79.90273438079512],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f288617ef6d66b62b149131ed8c51a1b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_83aacfed48fb113209f4b50fdb5bf985);
        
    
            var marker_3bb646593aa1b3e3f49e87c826ff1637 = L.marker(
                [36.462707030907325, -79.90273438079512],
                {}
            ).addTo(map_83aacfed48fb113209f4b50fdb5bf985);
        
    
            var icon_1b5c167bf5da21586b8ab697d4f1d80f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3bb646593aa1b3e3f49e87c826ff1637.setIcon(icon_1b5c167bf5da21586b8ab697d4f1d80f);
        
    
        var popup_d82c88228089073a45c7922f569d3cc1 = L.popup({"maxWidth": "100%"});

        
            var html_8f2e6f7aade18d9e88cadb3aaad73438 = $(`<div id="html_8f2e6f7aade18d9e88cadb3aaad73438" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_d82c88228089073a45c7922f569d3cc1.setContent(html_8f2e6f7aade18d9e88cadb3aaad73438);
        

        marker_3bb646593aa1b3e3f49e87c826ff1637.bindPopup(popup_d82c88228089073a45c7922f569d3cc1)
        ;

        
    
    
            marker_3bb646593aa1b3e3f49e87c826ff1637.bindTooltip(
                `<div>
                     KID'S WORLD OF STONEVILLE #2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3576f4de73d8940832fc107f2cd3fe59 = L.marker(
                [36.46274652273429, -79.90538530860805],
                {}
            ).addTo(map_83aacfed48fb113209f4b50fdb5bf985);
        
    
            var icon_07c0b4035db9e4ae6b9d98d0d87ed5b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3576f4de73d8940832fc107f2cd3fe59.setIcon(icon_07c0b4035db9e4ae6b9d98d0d87ed5b5);
        
    
        var popup_f06c6202b210e8252bfcdf23ad2de4a0 = L.popup({"maxWidth": "100%"});

        
            var html_b9dc5520505fd22da20a511e609d87b9 = $(`<div id="html_b9dc5520505fd22da20a511e609d87b9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f06c6202b210e8252bfcdf23ad2de4a0.setContent(html_b9dc5520505fd22da20a511e609d87b9);
        

        marker_3576f4de73d8940832fc107f2cd3fe59.bindPopup(popup_f06c6202b210e8252bfcdf23ad2de4a0)
        ;

        
    
    
            marker_3576f4de73d8940832fc107f2cd3fe59.bindTooltip(
                `<div>
                     STONEVILLE ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_64d10c9ad1308b9a1f2b39c2960ebc18 = L.marker(
                [36.46274652273429, -79.90538530860805],
                {}
            ).addTo(map_83aacfed48fb113209f4b50fdb5bf985);
        
    
            var icon_1de95b5187ee072909054916f821cb87 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_64d10c9ad1308b9a1f2b39c2960ebc18.setIcon(icon_1de95b5187ee072909054916f821cb87);
        
    
        var popup_77a87bb30eef1eb081c01b4b2cf6f28f = L.popup({"maxWidth": "100%"});

        
            var html_eb360639d0caa0ea70d5f5d7bbc9ee3d = $(`<div id="html_eb360639d0caa0ea70d5f5d7bbc9ee3d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_77a87bb30eef1eb081c01b4b2cf6f28f.setContent(html_eb360639d0caa0ea70d5f5d7bbc9ee3d);
        

        marker_64d10c9ad1308b9a1f2b39c2960ebc18.bindPopup(popup_77a87bb30eef1eb081c01b4b2cf6f28f)
        ;

        
    
    
            marker_64d10c9ad1308b9a1f2b39c2960ebc18.bindTooltip(
                `<div>
                     STONEVILLE ELEMENTARY SCHOOL AGE CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_11eac923492e72cbaf8f1519d2707afa = L.marker(
                [36.46274652273429, -79.90538530860805],
                {}
            ).addTo(map_83aacfed48fb113209f4b50fdb5bf985);
        
    
            var icon_465d0283c8183928f15df202ff2f54d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_11eac923492e72cbaf8f1519d2707afa.setIcon(icon_465d0283c8183928f15df202ff2f54d3);
        
    
        var popup_f7635930706b5ae5340100ec8619549e = L.popup({"maxWidth": "100%"});

        
            var html_1b552eaa2ab5daa5690737b58e23f419 = $(`<div id="html_1b552eaa2ab5daa5690737b58e23f419" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f7635930706b5ae5340100ec8619549e.setContent(html_1b552eaa2ab5daa5690737b58e23f419);
        

        marker_11eac923492e72cbaf8f1519d2707afa.bindPopup(popup_f7635930706b5ae5340100ec8619549e)
        ;

        
    
    
            marker_11eac923492e72cbaf8f1519d2707afa.bindTooltip(
                `<div>
                     STONEVILLE SCHOOL HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>