<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cff5333a4ee233c80a75b51deb893efe {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cff5333a4ee233c80a75b51deb893efe" ></div>
        
</body>
<script>    
    
            var map_cff5333a4ee233c80a75b51deb893efe = L.map(
                "map_cff5333a4ee233c80a75b51deb893efe",
                {
                    center: [36.26305519453975, -81.78509276822653],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a7e4b71f79ad6b42d58c56132e3b0d92 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cff5333a4ee233c80a75b51deb893efe);
        
    
            var marker_bba226fe2dbe61946c3925d15eae9737 = L.marker(
                [36.26305519453975, -81.78509276822653],
                {}
            ).addTo(map_cff5333a4ee233c80a75b51deb893efe);
        
    
            var icon_ce796c3e48045a14fb44e599a7e6a8c7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bba226fe2dbe61946c3925d15eae9737.setIcon(icon_ce796c3e48045a14fb44e599a7e6a8c7);
        
    
        var popup_56d8e2e68fff590562ed0a4da36516b7 = L.popup({"maxWidth": "100%"});

        
            var html_85d6ff7c3fad4169e6258af21ff9cfa9 = $(`<div id="html_85d6ff7c3fad4169e6258af21ff9cfa9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_56d8e2e68fff590562ed0a4da36516b7.setContent(html_85d6ff7c3fad4169e6258af21ff9cfa9);
        

        marker_bba226fe2dbe61946c3925d15eae9737.bindPopup(popup_56d8e2e68fff590562ed0a4da36516b7)
        ;

        
    
    
            marker_bba226fe2dbe61946c3925d15eae9737.bindTooltip(
                `<div>
                     SUGAR GROVE DEVELOPMENTAL DAY SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
</script>