<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5cb973fa3acb6db3ea22df30456a82de {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5cb973fa3acb6db3ea22df30456a82de" ></div>
        
</body>
<script>    
    
            var map_5cb973fa3acb6db3ea22df30456a82de = L.map(
                "map_5cb973fa3acb6db3ea22df30456a82de",
                {
                    center: [36.18432047353444, -79.94032916944367],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dfaaa2b6faae30e7a359854a91417400 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5cb973fa3acb6db3ea22df30456a82de);
        
    
            var marker_842ec3980d4b0b8cdb035ae02321c21f = L.marker(
                [36.18432047353444, -79.94032916944367],
                {}
            ).addTo(map_5cb973fa3acb6db3ea22df30456a82de);
        
    
            var icon_b5bb332d00332bc8cb96280c318d5cd9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_842ec3980d4b0b8cdb035ae02321c21f.setIcon(icon_b5bb332d00332bc8cb96280c318d5cd9);
        
    
        var popup_18da1d4523a3e926b5a098d6a6abeb0b = L.popup({"maxWidth": "100%"});

        
            var html_7b9d4688eff2a4daa355ba867d69f66d = $(`<div id="html_7b9d4688eff2a4daa355ba867d69f66d" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_18da1d4523a3e926b5a098d6a6abeb0b.setContent(html_7b9d4688eff2a4daa355ba867d69f66d);
        

        marker_842ec3980d4b0b8cdb035ae02321c21f.bindPopup(popup_18da1d4523a3e926b5a098d6a6abeb0b)
        ;

        
    
    
            marker_842ec3980d4b0b8cdb035ae02321c21f.bindTooltip(
                `<div>
                     CHILDREN'S CHOICE, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1f46544155219bc6245951c7150967e2 = L.marker(
                [36.19586476210907, -79.90234509596681],
                {}
            ).addTo(map_5cb973fa3acb6db3ea22df30456a82de);
        
    
            var icon_4545b0a35b42307828159e2ef93f26e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1f46544155219bc6245951c7150967e2.setIcon(icon_4545b0a35b42307828159e2ef93f26e6);
        
    
        var popup_c51388abf3f0fdb4d99a162594bad3f7 = L.popup({"maxWidth": "100%"});

        
            var html_89114e91e4bcd60dc246b8b4f3766aa6 = $(`<div id="html_89114e91e4bcd60dc246b8b4f3766aa6" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_c51388abf3f0fdb4d99a162594bad3f7.setContent(html_89114e91e4bcd60dc246b8b4f3766aa6);
        

        marker_1f46544155219bc6245951c7150967e2.bindPopup(popup_c51388abf3f0fdb4d99a162594bad3f7)
        ;

        
    
    
            marker_1f46544155219bc6245951c7150967e2.bindTooltip(
                `<div>
                     GIGGLES, JIGGLES, WIGGLES CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2b037285d720af7a17c6c1df8eeb2550 = L.marker(
                [36.19973646938775, -79.90286274489796],
                {}
            ).addTo(map_5cb973fa3acb6db3ea22df30456a82de);
        
    
            var icon_3fa1542bef0fba337525498f0414053d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2b037285d720af7a17c6c1df8eeb2550.setIcon(icon_3fa1542bef0fba337525498f0414053d);
        
    
        var popup_8ec2a729e9c9fae61c8644800fb8a35c = L.popup({"maxWidth": "100%"});

        
            var html_a60753eae57cc84d79a3d5055899bd61 = $(`<div id="html_a60753eae57cc84d79a3d5055899bd61" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8ec2a729e9c9fae61c8644800fb8a35c.setContent(html_a60753eae57cc84d79a3d5055899bd61);
        

        marker_2b037285d720af7a17c6c1df8eeb2550.bindPopup(popup_8ec2a729e9c9fae61c8644800fb8a35c)
        ;

        
    
    
            marker_2b037285d720af7a17c6c1df8eeb2550.bindTooltip(
                `<div>
                     SUMMERFIELD ELEMENTARY ACES PROGRAM
                 </div>`,
                {"sticky": true}
            );
        
</script>