<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_25649caec399a86a58dc7cef60b2f238 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_25649caec399a86a58dc7cef60b2f238" ></div>
        
</body>
<script>    
    
            var map_25649caec399a86a58dc7cef60b2f238 = L.map(
                "map_25649caec399a86a58dc7cef60b2f238",
                {
                    center: [34.69601646106704, -77.13625806824078],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9dfe4ba3b82ea24dbc1cdf42aed5a4b6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_25649caec399a86a58dc7cef60b2f238);
        
    
            var marker_2c5e0ce4503065c81b6824aff6acebf5 = L.marker(
                [34.69601646106704, -77.13625806824078],
                {}
            ).addTo(map_25649caec399a86a58dc7cef60b2f238);
        
    
            var icon_ca39a807d542fa6475b22eb8b02021e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2c5e0ce4503065c81b6824aff6acebf5.setIcon(icon_ca39a807d542fa6475b22eb8b02021e3);
        
    
        var popup_7dfedc4a15ee47381ab1a867a3a90db0 = L.popup({"maxWidth": "100%"});

        
            var html_50e48cdb2e1b4c3d37d62e03f2ce5f46 = $(`<div id="html_50e48cdb2e1b4c3d37d62e03f2ce5f46" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7dfedc4a15ee47381ab1a867a3a90db0.setContent(html_50e48cdb2e1b4c3d37d62e03f2ce5f46);
        

        marker_2c5e0ce4503065c81b6824aff6acebf5.bindPopup(popup_7dfedc4a15ee47381ab1a867a3a90db0)
        ;

        
    
    
            marker_2c5e0ce4503065c81b6824aff6acebf5.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #79
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_97e011dba2038e2ee6885fe165ab8013 = L.marker(
                [34.69452816503173, -77.12378413782507],
                {}
            ).addTo(map_25649caec399a86a58dc7cef60b2f238);
        
    
            var icon_e1f0914af6b0251033e60be29897b619 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_97e011dba2038e2ee6885fe165ab8013.setIcon(icon_e1f0914af6b0251033e60be29897b619);
        
    
        var popup_2b8dd310b7fa4096ba22087010b3a975 = L.popup({"maxWidth": "100%"});

        
            var html_eb5536159d0b3ff386be74f0db1c9c49 = $(`<div id="html_eb5536159d0b3ff386be74f0db1c9c49" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2b8dd310b7fa4096ba22087010b3a975.setContent(html_eb5536159d0b3ff386be74f0db1c9c49);
        

        marker_97e011dba2038e2ee6885fe165ab8013.bindPopup(popup_2b8dd310b7fa4096ba22087010b3a975)
        ;

        
    
    
            marker_97e011dba2038e2ee6885fe165ab8013.bindTooltip(
                `<div>
                     CHILDCARE NETWORK #79 B
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8cdc5ae19bcdc97bca3184542d50a050 = L.marker(
                [34.7006476, -77.1580134],
                {}
            ).addTo(map_25649caec399a86a58dc7cef60b2f238);
        
    
            var icon_179599da57c5ad3e854f770ebf8a4897 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8cdc5ae19bcdc97bca3184542d50a050.setIcon(icon_179599da57c5ad3e854f770ebf8a4897);
        
    
        var popup_65b2182138726cf6d1ecfb0b53730d34 = L.popup({"maxWidth": "100%"});

        
            var html_b8c558cb5b383296e3281829239bfeff = $(`<div id="html_b8c558cb5b383296e3281829239bfeff" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_65b2182138726cf6d1ecfb0b53730d34.setContent(html_b8c558cb5b383296e3281829239bfeff);
        

        marker_8cdc5ae19bcdc97bca3184542d50a050.bindPopup(popup_65b2182138726cf6d1ecfb0b53730d34)
        ;

        
    
    
            marker_8cdc5ae19bcdc97bca3184542d50a050.bindTooltip(
                `<div>
                     QUEENS CREEK PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8ceb8258fc0ad197e761a2c929b9bd27 = L.marker(
                [34.69151563669237, -77.12681610736477],
                {}
            ).addTo(map_25649caec399a86a58dc7cef60b2f238);
        
    
            var icon_daa70534c3fbfed34c4bc52f202439bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8ceb8258fc0ad197e761a2c929b9bd27.setIcon(icon_daa70534c3fbfed34c4bc52f202439bb);
        
    
        var popup_834349a9cd632bf1acd393649d483707 = L.popup({"maxWidth": "100%"});

        
            var html_14ca0f72b14b7dc23c90ad8aab0c6f59 = $(`<div id="html_14ca0f72b14b7dc23c90ad8aab0c6f59" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_834349a9cd632bf1acd393649d483707.setContent(html_14ca0f72b14b7dc23c90ad8aab0c6f59);
        

        marker_8ceb8258fc0ad197e761a2c929b9bd27.bindPopup(popup_834349a9cd632bf1acd393649d483707)
        ;

        
    
    
            marker_8ceb8258fc0ad197e761a2c929b9bd27.bindTooltip(
                `<div>
                     SWANSBORO UNITED METHODIST CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
</script>