<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a64a54208b1ece1aba0943fa68803ad2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a64a54208b1ece1aba0943fa68803ad2" ></div>
        
</body>
<script>    
    
            var map_a64a54208b1ece1aba0943fa68803ad2 = L.map(
                "map_a64a54208b1ece1aba0943fa68803ad2",
                {
                    center: [34.15879887578881, -78.85248661154056],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_74d264930af126d9efb52a9ab5121972 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a64a54208b1ece1aba0943fa68803ad2);
        
    
            var marker_8641138143912487f3064f89bcb39418 = L.marker(
                [34.15879887578881, -78.85248661154056],
                {}
            ).addTo(map_a64a54208b1ece1aba0943fa68803ad2);
        
    
            var icon_ea4f6eb602760ecc792dc382a1f8cd17 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8641138143912487f3064f89bcb39418.setIcon(icon_ea4f6eb602760ecc792dc382a1f8cd17);
        
    
        var popup_711acb50fb33099c49015b5d6fc7298a = L.popup({"maxWidth": "100%"});

        
            var html_204be1eae7ce2fb36d0409ee9678f7e8 = $(`<div id="html_204be1eae7ce2fb36d0409ee9678f7e8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_711acb50fb33099c49015b5d6fc7298a.setContent(html_204be1eae7ce2fb36d0409ee9678f7e8);
        

        marker_8641138143912487f3064f89bcb39418.bindPopup(popup_711acb50fb33099c49015b5d6fc7298a)
        ;

        
    
    
            marker_8641138143912487f3064f89bcb39418.bindTooltip(
                `<div>
                     BRI'S SCHOOL AGE CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e194b642e564271800f547f5ca8a285a = L.marker(
                [34.160589, -78.847517],
                {}
            ).addTo(map_a64a54208b1ece1aba0943fa68803ad2);
        
    
            var icon_efed3d7ef03e214501f3603815164371 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e194b642e564271800f547f5ca8a285a.setIcon(icon_efed3d7ef03e214501f3603815164371);
        
    
        var popup_57ed3fb841b4815dcd43f795107fe866 = L.popup({"maxWidth": "100%"});

        
            var html_53305b38e231410c98926b6858350a39 = $(`<div id="html_53305b38e231410c98926b6858350a39" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_57ed3fb841b4815dcd43f795107fe866.setContent(html_53305b38e231410c98926b6858350a39);
        

        marker_e194b642e564271800f547f5ca8a285a.bindPopup(popup_57ed3fb841b4815dcd43f795107fe866)
        ;

        
    
    
            marker_e194b642e564271800f547f5ca8a285a.bindTooltip(
                `<div>
                     BRI'S SCHOOL AGE CARE 2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e37bb87ab1ac88c2bdb707f026243de8 = L.marker(
                [34.15243001970432, -78.87281527907307],
                {}
            ).addTo(map_a64a54208b1ece1aba0943fa68803ad2);
        
    
            var icon_1d0c7abecaef56653e728e82d0b9a2f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e37bb87ab1ac88c2bdb707f026243de8.setIcon(icon_1d0c7abecaef56653e728e82d0b9a2f2);
        
    
        var popup_27dd3b266565a821d8e9cdd51e0eb61b = L.popup({"maxWidth": "100%"});

        
            var html_c7d11ca2c2628903566bd9eb8d12d920 = $(`<div id="html_c7d11ca2c2628903566bd9eb8d12d920" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_27dd3b266565a821d8e9cdd51e0eb61b.setContent(html_c7d11ca2c2628903566bd9eb8d12d920);
        

        marker_e37bb87ab1ac88c2bdb707f026243de8.bindPopup(popup_27dd3b266565a821d8e9cdd51e0eb61b)
        ;

        
    
    
            marker_e37bb87ab1ac88c2bdb707f026243de8.bindTooltip(
                `<div>
                     TABOR CITY ELEMENTARY PRE-K
                 </div>`,
                {"sticky": true}
            );
        
</script>