<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_398f6c574b6472b9adf7853605e32726 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_398f6c574b6472b9adf7853605e32726" ></div>
        
</body>
<script>    
    
            var map_398f6c574b6472b9adf7853605e32726 = L.map(
                "map_398f6c574b6472b9adf7853605e32726",
                {
                    center: [35.9161041, -81.18947586285722],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_818fb71e2fd08fb7f2c1bf6cd921e1ae = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_398f6c574b6472b9adf7853605e32726);
        
    
            var marker_c364f878ee850ab49d425494b8d181d4 = L.marker(
                [35.9161041, -81.18947586285722],
                {}
            ).addTo(map_398f6c574b6472b9adf7853605e32726);
        
    
            var icon_2d5cd0e45e114feddf0e1148cfeece5c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c364f878ee850ab49d425494b8d181d4.setIcon(icon_2d5cd0e45e114feddf0e1148cfeece5c);
        
    
        var popup_30a41a216bd7759a537d5e8700a46eca = L.popup({"maxWidth": "100%"});

        
            var html_3230a51931af1e15ef44202aeeeafaea = $(`<div id="html_3230a51931af1e15ef44202aeeeafaea" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_30a41a216bd7759a537d5e8700a46eca.setContent(html_3230a51931af1e15ef44202aeeeafaea);
        

        marker_c364f878ee850ab49d425494b8d181d4.bindPopup(popup_30a41a216bd7759a537d5e8700a46eca)
        ;

        
    
    
            marker_c364f878ee850ab49d425494b8d181d4.bindTooltip(
                `<div>
                     ALEXANDER CENTRAL HIGH SCHOOL CHILD DEVELOPMENT CE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5edb48f8b09bbdf4179879ca05522123 = L.marker(
                [35.919970750000005, -81.1830462427645],
                {}
            ).addTo(map_398f6c574b6472b9adf7853605e32726);
        
    
            var icon_1b4dccdf8442093cd707ed4b4518d7ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5edb48f8b09bbdf4179879ca05522123.setIcon(icon_1b4dccdf8442093cd707ed4b4518d7ab);
        
    
        var popup_183d1b39f6ec6752804bdc23c909137c = L.popup({"maxWidth": "100%"});

        
            var html_494a830469d025bb13864073c657e91b = $(`<div id="html_494a830469d025bb13864073c657e91b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_183d1b39f6ec6752804bdc23c909137c.setContent(html_494a830469d025bb13864073c657e91b);
        

        marker_5edb48f8b09bbdf4179879ca05522123.bindPopup(popup_183d1b39f6ec6752804bdc23c909137c)
        ;

        
    
    
            marker_5edb48f8b09bbdf4179879ca05522123.bindTooltip(
                `<div>
                     ALEXANDER COUNTY HEAD START - TAYLORSVILLE ELEM.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_69529fdf16651e98d3593963e7d9ffe8 = L.marker(
                [35.831741, -81.200462],
                {}
            ).addTo(map_398f6c574b6472b9adf7853605e32726);
        
    
            var icon_bdef4580d3e46c06ef4745725ce5e617 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_69529fdf16651e98d3593963e7d9ffe8.setIcon(icon_bdef4580d3e46c06ef4745725ce5e617);
        
    
        var popup_87e9bbb8c381f7ac1516bf1758f55228 = L.popup({"maxWidth": "100%"});

        
            var html_0b6e68f8086e44f97da416aea2a4de38 = $(`<div id="html_0b6e68f8086e44f97da416aea2a4de38" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_87e9bbb8c381f7ac1516bf1758f55228.setContent(html_0b6e68f8086e44f97da416aea2a4de38);
        

        marker_69529fdf16651e98d3593963e7d9ffe8.bindPopup(popup_87e9bbb8c381f7ac1516bf1758f55228)
        ;

        
    
    
            marker_69529fdf16651e98d3593963e7d9ffe8.bindTooltip(
                `<div>
                     ALEXANDER COUNTY HEAD START - WITTENBURG ELEM. SCH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_392a6af2c8136e42252b6aef88aa6279 = L.marker(
                [35.92108605, -81.180997471145],
                {}
            ).addTo(map_398f6c574b6472b9adf7853605e32726);
        
    
            var icon_39a1511cceafded467accd962f4ffd14 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_392a6af2c8136e42252b6aef88aa6279.setIcon(icon_39a1511cceafded467accd962f4ffd14);
        
    
        var popup_202e465d6625429d720fdfb75525a8c2 = L.popup({"maxWidth": "100%"});

        
            var html_f3cf21317d60b1c735ad3efe914c26b3 = $(`<div id="html_f3cf21317d60b1c735ad3efe914c26b3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_202e465d6625429d720fdfb75525a8c2.setContent(html_f3cf21317d60b1c735ad3efe914c26b3);
        

        marker_392a6af2c8136e42252b6aef88aa6279.bindPopup(popup_202e465d6625429d720fdfb75525a8c2)
        ;

        
    
    
            marker_392a6af2c8136e42252b6aef88aa6279.bindTooltip(
                `<div>
                     FIRST BAPTIST CHURCH CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_39263af5037f4252e06082d21768d571 = L.marker(
                [35.919970750000005, -81.1830462427645],
                {}
            ).addTo(map_398f6c574b6472b9adf7853605e32726);
        
    
            var icon_a16b32b644a7102b9bcb0cba9c03a9e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_39263af5037f4252e06082d21768d571.setIcon(icon_a16b32b644a7102b9bcb0cba9c03a9e1);
        
    
        var popup_186440717ee194807c0bbf3216dc3b44 = L.popup({"maxWidth": "100%"});

        
            var html_b103afcda4417b460ae41784eb563d18 = $(`<div id="html_b103afcda4417b460ae41784eb563d18" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_186440717ee194807c0bbf3216dc3b44.setContent(html_b103afcda4417b460ae41784eb563d18);
        

        marker_39263af5037f4252e06082d21768d571.bindPopup(popup_186440717ee194807c0bbf3216dc3b44)
        ;

        
    
    
            marker_39263af5037f4252e06082d21768d571.bindTooltip(
                `<div>
                     TAYLORSVILLE ELEMENTARY CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4660facdb0fd438fa25a7e5525d6970a = L.marker(
                [35.831741, -81.200462],
                {}
            ).addTo(map_398f6c574b6472b9adf7853605e32726);
        
    
            var icon_115a38752213b254abf0a7770d3491d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4660facdb0fd438fa25a7e5525d6970a.setIcon(icon_115a38752213b254abf0a7770d3491d6);
        
    
        var popup_41ccb99d202000286b2ef1a6f97851ee = L.popup({"maxWidth": "100%"});

        
            var html_275953c1f1800cb70fba3e48a5ad544c = $(`<div id="html_275953c1f1800cb70fba3e48a5ad544c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_41ccb99d202000286b2ef1a6f97851ee.setContent(html_275953c1f1800cb70fba3e48a5ad544c);
        

        marker_4660facdb0fd438fa25a7e5525d6970a.bindPopup(popup_41ccb99d202000286b2ef1a6f97851ee)
        ;

        
    
    
            marker_4660facdb0fd438fa25a7e5525d6970a.bindTooltip(
                `<div>
                     WITTENBURG ELEMENTARY BEFORE / AFTER SCHOOL CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>