<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_477e6131b3176dcf6f2303483a1ffece {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_477e6131b3176dcf6f2303483a1ffece" ></div>
        
</body>
<script>    
    
            var map_477e6131b3176dcf6f2303483a1ffece = L.map(
                "map_477e6131b3176dcf6f2303483a1ffece",
                {
                    center: [36.2864001, -78.95781450406261],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4716e24e462759dfb236b68ff981ff65 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_477e6131b3176dcf6f2303483a1ffece);
        
    
            var marker_287647d06f0db0a0db5ba169390fe0cb = L.marker(
                [36.2864001, -78.95781450406261],
                {}
            ).addTo(map_477e6131b3176dcf6f2303483a1ffece);
        
    
            var icon_98bb28e1cafa1f2e888ee85af91fe64c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_287647d06f0db0a0db5ba169390fe0cb.setIcon(icon_98bb28e1cafa1f2e888ee85af91fe64c);
        
    
        var popup_ca7c48932c38a3d59e123bab7b76ddde = L.popup({"maxWidth": "100%"});

        
            var html_acdcfbc9a2e47a10e7647582ee9b6342 = $(`<div id="html_acdcfbc9a2e47a10e7647582ee9b6342" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_ca7c48932c38a3d59e123bab7b76ddde.setContent(html_acdcfbc9a2e47a10e7647582ee9b6342);
        

        marker_287647d06f0db0a0db5ba169390fe0cb.bindPopup(popup_ca7c48932c38a3d59e123bab7b76ddde)
        ;

        
    
    
            marker_287647d06f0db0a0db5ba169390fe0cb.bindTooltip(
                `<div>
                     HELENA ELEMENTARY SCHOOL-AGE CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>