<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_374e84ed4f6c94106e2f7ed79499c8aa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_374e84ed4f6c94106e2f7ed79499c8aa" ></div>
        
</body>
<script>    
    
            var map_374e84ed4f6c94106e2f7ed79499c8aa = L.map(
                "map_374e84ed4f6c94106e2f7ed79499c8aa",
                {
                    center: [35.708058, -80.8941195],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_251fdc0254445d8dc96e2ecaa2212228 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_374e84ed4f6c94106e2f7ed79499c8aa);
        
    
            var marker_adda887716f70c653a14a78766b5328d = L.marker(
                [35.708058, -80.8941195],
                {}
            ).addTo(map_374e84ed4f6c94106e2f7ed79499c8aa);
        
    
            var icon_0ff405c2dcd3a27471d49cd7b8dac419 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_adda887716f70c653a14a78766b5328d.setIcon(icon_0ff405c2dcd3a27471d49cd7b8dac419);
        
    
        var popup_2ee42d7f94155de9edfecaaea3d09564 = L.popup({"maxWidth": "100%"});

        
            var html_79ec17665399c9421431dee4c8589c94 = $(`<div id="html_79ec17665399c9421431dee4c8589c94" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_2ee42d7f94155de9edfecaaea3d09564.setContent(html_79ec17665399c9421431dee4c8589c94);
        

        marker_adda887716f70c653a14a78766b5328d.bindPopup(popup_2ee42d7f94155de9edfecaaea3d09564)
        ;

        
    
    
            marker_adda887716f70c653a14a78766b5328d.bindTooltip(
                `<div>
                     HAPPY DAYS CHILD DEVELOPMENT CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6a5ec76f619e5e42e50921eea6e24b52 = L.marker(
                [35.6927653, -80.8718655],
                {}
            ).addTo(map_374e84ed4f6c94106e2f7ed79499c8aa);
        
    
            var icon_642a979ae83ff9619e94195adfb16ff5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6a5ec76f619e5e42e50921eea6e24b52.setIcon(icon_642a979ae83ff9619e94195adfb16ff5);
        
    
        var popup_85e2a6a2a52b2e7934e03b8a994a97c4 = L.popup({"maxWidth": "100%"});

        
            var html_99668d21000be7d7e0aaa619d9e49743 = $(`<div id="html_99668d21000be7d7e0aaa619d9e49743" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_85e2a6a2a52b2e7934e03b8a994a97c4.setContent(html_99668d21000be7d7e0aaa619d9e49743);
        

        marker_6a5ec76f619e5e42e50921eea6e24b52.bindPopup(popup_85e2a6a2a52b2e7934e03b8a994a97c4)
        ;

        
    
    
            marker_6a5ec76f619e5e42e50921eea6e24b52.bindTooltip(
                `<div>
                     JACOBS LADDER CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_97dab28105bde0873fbd0c89a6bfbe90 = L.marker(
                [35.70292549987821, -80.89736226331283],
                {}
            ).addTo(map_374e84ed4f6c94106e2f7ed79499c8aa);
        
    
            var icon_82011d1f09bef6c69cda5411d9b20cee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_97dab28105bde0873fbd0c89a6bfbe90.setIcon(icon_82011d1f09bef6c69cda5411d9b20cee);
        
    
        var popup_45a5cba2fdd0d46bd94879a80dbac463 = L.popup({"maxWidth": "100%"});

        
            var html_755d8e284d58a45043d5226bccd673b4 = $(`<div id="html_755d8e284d58a45043d5226bccd673b4" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_45a5cba2fdd0d46bd94879a80dbac463.setContent(html_755d8e284d58a45043d5226bccd673b4);
        

        marker_97dab28105bde0873fbd0c89a6bfbe90.bindPopup(popup_45a5cba2fdd0d46bd94879a80dbac463)
        ;

        
    
    
            marker_97dab28105bde0873fbd0c89a6bfbe90.bindTooltip(
                `<div>
                     LITTLE TOTS #3 EARLY LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
</script>