<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_05a52ec4fa130c3b1b1365a4aeac241a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_05a52ec4fa130c3b1b1365a4aeac241a" ></div>
        
</body>
<script>    
    
            var map_05a52ec4fa130c3b1b1365a4aeac241a = L.map(
                "map_05a52ec4fa130c3b1b1365a4aeac241a",
                {
                    center: [35.74562858862455, -81.56346241926185],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e4dd88887fdf30c7ce8597c1018bd79e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_05a52ec4fa130c3b1b1365a4aeac241a);
        
    
            var marker_63eb351d2d60863b49dbbf8e7de0e599 = L.marker(
                [35.74562858862455, -81.56346241926185],
                {}
            ).addTo(map_05a52ec4fa130c3b1b1365a4aeac241a);
        
    
            var icon_17398b4f829eabc3e695dd64b36b9b6c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_63eb351d2d60863b49dbbf8e7de0e599.setIcon(icon_17398b4f829eabc3e695dd64b36b9b6c);
        
    
        var popup_0b276152fbb1ed5ca4becea1d539fc2d = L.popup({"maxWidth": "100%"});

        
            var html_7cc9aad718825e55a70c79c228e81d48 = $(`<div id="html_7cc9aad718825e55a70c79c228e81d48" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0b276152fbb1ed5ca4becea1d539fc2d.setContent(html_7cc9aad718825e55a70c79c228e81d48);
        

        marker_63eb351d2d60863b49dbbf8e7de0e599.bindPopup(popup_0b276152fbb1ed5ca4becea1d539fc2d)
        ;

        
    
    
            marker_63eb351d2d60863b49dbbf8e7de0e599.bindTooltip(
                `<div>
                     FIRST BAPTIST CHURCH CHILD DEVELOPMENT CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d7f3cfca20a3a84503b1db9ef53e4270 = L.marker(
                [35.7416449, -81.5556038],
                {}
            ).addTo(map_05a52ec4fa130c3b1b1365a4aeac241a);
        
    
            var icon_412f5052731d3caba6584c28890b97bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d7f3cfca20a3a84503b1db9ef53e4270.setIcon(icon_412f5052731d3caba6584c28890b97bf);
        
    
        var popup_df7a43c017e59bbe6bcc168cde738e41 = L.popup({"maxWidth": "100%"});

        
            var html_669f41a4ce563a46f3ea26664b50172a = $(`<div id="html_669f41a4ce563a46f3ea26664b50172a" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_df7a43c017e59bbe6bcc168cde738e41.setContent(html_669f41a4ce563a46f3ea26664b50172a);
        

        marker_d7f3cfca20a3a84503b1db9ef53e4270.bindPopup(popup_df7a43c017e59bbe6bcc168cde738e41)
        ;

        
    
    
            marker_d7f3cfca20a3a84503b1db9ef53e4270.bindTooltip(
                `<div>
                     GIGGLES N' GRINS CHILD CARE & LEARNING CENTER TOO
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7b650a04eebbcaba398fd9f4f653fe29 = L.marker(
                [35.745605591170346, -81.56537536091388],
                {}
            ).addTo(map_05a52ec4fa130c3b1b1365a4aeac241a);
        
    
            var icon_fef492e2c430278a570b46dbcdf03cb1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7b650a04eebbcaba398fd9f4f653fe29.setIcon(icon_fef492e2c430278a570b46dbcdf03cb1);
        
    
        var popup_3ea4dc59308c35f078d9cbf0a62a62c4 = L.popup({"maxWidth": "100%"});

        
            var html_520bcb4be1668aeb9be2e4630a788589 = $(`<div id="html_520bcb4be1668aeb9be2e4630a788589" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_3ea4dc59308c35f078d9cbf0a62a62c4.setContent(html_520bcb4be1668aeb9be2e4630a788589);
        

        marker_7b650a04eebbcaba398fd9f4f653fe29.bindPopup(popup_3ea4dc59308c35f078d9cbf0a62a62c4)
        ;

        
    
    
            marker_7b650a04eebbcaba398fd9f4f653fe29.bindTooltip(
                `<div>
                     VALDESE ELEMENTARY SCHOOL PRE-K
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd6b20f24f77f3d13a1227a498ad062d = L.marker(
                [35.745605591170346, -81.56537536091388],
                {}
            ).addTo(map_05a52ec4fa130c3b1b1365a4aeac241a);
        
    
            var icon_b3245b3cae4fc7162dd4ebf34e9a3f1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bd6b20f24f77f3d13a1227a498ad062d.setIcon(icon_b3245b3cae4fc7162dd4ebf34e9a3f1d);
        
    
        var popup_7f2539e286a5afa04fc5bb0ea1b7734c = L.popup({"maxWidth": "100%"});

        
            var html_626ba1e606d07f240cd5ae137bb754e0 = $(`<div id="html_626ba1e606d07f240cd5ae137bb754e0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7f2539e286a5afa04fc5bb0ea1b7734c.setContent(html_626ba1e606d07f240cd5ae137bb754e0);
        

        marker_bd6b20f24f77f3d13a1227a498ad062d.bindPopup(popup_7f2539e286a5afa04fc5bb0ea1b7734c)
        ;

        
    
    
            marker_bd6b20f24f77f3d13a1227a498ad062d.bindTooltip(
                `<div>
                     VALDESE ELEMENTARY YMCA CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
</script>