<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_73504e0c3b4eeec963178049a58f0e07 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_73504e0c3b4eeec963178049a58f0e07" ></div>
        
</body>
<script>    
    
            var map_73504e0c3b4eeec963178049a58f0e07 = L.map(
                "map_73504e0c3b4eeec963178049a58f0e07",
                {
                    center: [35.256113001100985, -79.28235478495323],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_003bbd0cd6cf49c036169220e3095d1e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_73504e0c3b4eeec963178049a58f0e07);
        
    
            var marker_b1337f520e964a6331a2500015fc7fb9 = L.marker(
                [35.256113001100985, -79.28235478495323],
                {}
            ).addTo(map_73504e0c3b4eeec963178049a58f0e07);
        
    
            var icon_a763c56bec5ecebf463383e414844a37 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b1337f520e964a6331a2500015fc7fb9.setIcon(icon_a763c56bec5ecebf463383e414844a37);
        
    
        var popup_621f5d59b1dde21ae024a2276d7e938d = L.popup({"maxWidth": "100%"});

        
            var html_7edad31506b18a493563b21f8343dfae = $(`<div id="html_7edad31506b18a493563b21f8343dfae" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_621f5d59b1dde21ae024a2276d7e938d.setContent(html_7edad31506b18a493563b21f8343dfae);
        

        marker_b1337f520e964a6331a2500015fc7fb9.bindPopup(popup_621f5d59b1dde21ae024a2276d7e938d)
        ;

        
    
    
            marker_b1337f520e964a6331a2500015fc7fb9.bindTooltip(
                `<div>
                     LISA'S LOVABLE LEARNING DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_544513813982cf6184eb1af3e8cfa2d9 = L.marker(
                [35.26143252173913, -79.28849188405798],
                {}
            ).addTo(map_73504e0c3b4eeec963178049a58f0e07);
        
    
            var icon_80241fb98f9f441e0874eb9e97c1de8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_544513813982cf6184eb1af3e8cfa2d9.setIcon(icon_80241fb98f9f441e0874eb9e97c1de8a);
        
    
        var popup_890d5a8f4a33fd24a9d1edd6c8345fa6 = L.popup({"maxWidth": "100%"});

        
            var html_cd7a4c67dd345d8a4e12807bf0570964 = $(`<div id="html_cd7a4c67dd345d8a4e12807bf0570964" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_890d5a8f4a33fd24a9d1edd6c8345fa6.setContent(html_cd7a4c67dd345d8a4e12807bf0570964);
        

        marker_544513813982cf6184eb1af3e8cfa2d9.bindPopup(popup_890d5a8f4a33fd24a9d1edd6c8345fa6)
        ;

        
    
    
            marker_544513813982cf6184eb1af3e8cfa2d9.bindTooltip(
                `<div>
                     LITTLE MIRACLES DAY CARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c0d04f3df6da3099dfbcaf0ee069e06 = L.marker(
                [35.25294725303235, -79.28467855058844],
                {}
            ).addTo(map_73504e0c3b4eeec963178049a58f0e07);
        
    
            var icon_a6fad45dcc8b0341b4583b86f5c29180 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6c0d04f3df6da3099dfbcaf0ee069e06.setIcon(icon_a6fad45dcc8b0341b4583b86f5c29180);
        
    
        var popup_02075a6762eeb71755a56a4c5f9a1b5e = L.popup({"maxWidth": "100%"});

        
            var html_78a73edad6ec91f1df3d0aa4c7c885aa = $(`<div id="html_78a73edad6ec91f1df3d0aa4c7c885aa" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_02075a6762eeb71755a56a4c5f9a1b5e.setContent(html_78a73edad6ec91f1df3d0aa4c7c885aa);
        

        marker_6c0d04f3df6da3099dfbcaf0ee069e06.bindPopup(popup_02075a6762eeb71755a56a4c5f9a1b5e)
        ;

        
    
    
            marker_6c0d04f3df6da3099dfbcaf0ee069e06.bindTooltip(
                `<div>
                     TASHA'S CARING & SHARING DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c9a31fee621dc46479e2f96a579ed22e = L.marker(
                [35.25022785858586, -79.28976137373738],
                {}
            ).addTo(map_73504e0c3b4eeec963178049a58f0e07);
        
    
            var icon_c591153e3da56ba70e3d15e565998458 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c9a31fee621dc46479e2f96a579ed22e.setIcon(icon_c591153e3da56ba70e3d15e565998458);
        
    
        var popup_585003d995a484f82b9582dfaa280df7 = L.popup({"maxWidth": "100%"});

        
            var html_ced1e776d1eaf7692fa0a76743510abb = $(`<div id="html_ced1e776d1eaf7692fa0a76743510abb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_585003d995a484f82b9582dfaa280df7.setContent(html_ced1e776d1eaf7692fa0a76743510abb);
        

        marker_c9a31fee621dc46479e2f96a579ed22e.bindPopup(popup_585003d995a484f82b9582dfaa280df7)
        ;

        
    
    
            marker_c9a31fee621dc46479e2f96a579ed22e.bindTooltip(
                `<div>
                     VASS-LAKEVIEW ELEMENTARY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_49927323ca10fd049f52d0fffb6f7849 = L.marker(
                [35.25022785858586, -79.28976137373738],
                {}
            ).addTo(map_73504e0c3b4eeec963178049a58f0e07);
        
    
            var icon_fcdece81d50c61f143a38af7a6bdd041 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_49927323ca10fd049f52d0fffb6f7849.setIcon(icon_fcdece81d50c61f143a38af7a6bdd041);
        
    
        var popup_65895d28b309c977ccdabb66e67e3b68 = L.popup({"maxWidth": "100%"});

        
            var html_bf7b7022fd1c543ebb084243c38e20d6 = $(`<div id="html_bf7b7022fd1c543ebb084243c38e20d6" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_65895d28b309c977ccdabb66e67e3b68.setContent(html_bf7b7022fd1c543ebb084243c38e20d6);
        

        marker_49927323ca10fd049f52d0fffb6f7849.bindPopup(popup_65895d28b309c977ccdabb66e67e3b68)
        ;

        
    
    
            marker_49927323ca10fd049f52d0fffb6f7849.bindTooltip(
                `<div>
                     VASS/LAKEVIEW CHILD CARE
                 </div>`,
                {"sticky": true}
            );
        
</script>