<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fe87a8d9a90f8e84575c18e3a9a614cd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_fe87a8d9a90f8e84575c18e3a9a614cd" ></div>
        
</body>
<script>    
    
            var map_fe87a8d9a90f8e84575c18e3a9a614cd = L.map(
                "map_fe87a8d9a90f8e84575c18e3a9a614cd",
                {
                    center: [35.149609, -78.7052971],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_095c91208f81a5d0c8b809f6bb5d7aa2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fe87a8d9a90f8e84575c18e3a9a614cd);
        
    
            var marker_736a4d1b954122c8c666d7f2fcb52b98 = L.marker(
                [35.149609, -78.7052971],
                {}
            ).addTo(map_fe87a8d9a90f8e84575c18e3a9a614cd);
        
    
            var icon_25141a710d76cf8ffbb90854a44a2ce7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_736a4d1b954122c8c666d7f2fcb52b98.setIcon(icon_25141a710d76cf8ffbb90854a44a2ce7);
        
    
        var popup_7009e406a2defe5a29aa1ba709899c9f = L.popup({"maxWidth": "100%"});

        
            var html_ae2818ea69dcdfd9e2d9ec6503b7b2d9 = $(`<div id="html_ae2818ea69dcdfd9e2d9ec6503b7b2d9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7009e406a2defe5a29aa1ba709899c9f.setContent(html_ae2818ea69dcdfd9e2d9ec6503b7b2d9);
        

        marker_736a4d1b954122c8c666d7f2fcb52b98.bindPopup(popup_7009e406a2defe5a29aa1ba709899c9f)
        ;

        
    
    
            marker_736a4d1b954122c8c666d7f2fcb52b98.bindTooltip(
                `<div>
                     DISTRICT 7 ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
</script>