<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3a3239e083d6c7dcc2a75a0e5a73a4c8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3a3239e083d6c7dcc2a75a0e5a73a4c8" ></div>
        
</body>
<script>    
    
            var map_3a3239e083d6c7dcc2a75a0e5a73a4c8 = L.map(
                "map_3a3239e083d6c7dcc2a75a0e5a73a4c8",
                {
                    center: [35.94706702402543, -78.50343157596643],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7c70e3432742ae34bd35eecacb89d19d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var marker_62e1dd1466e34296ea9668792b4d078c = L.marker(
                [35.94706702402543, -78.50343157596643],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_e96601b4a5f965c2fa06aab4f2ea1283 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_62e1dd1466e34296ea9668792b4d078c.setIcon(icon_e96601b4a5f965c2fa06aab4f2ea1283);
        
    
        var popup_edc98c753a73c7d5ed9b08e783a78cb9 = L.popup({"maxWidth": "100%"});

        
            var html_cc8b441fb8413ee0f07b6f0048d29bf9 = $(`<div id="html_cc8b441fb8413ee0f07b6f0048d29bf9" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_edc98c753a73c7d5ed9b08e783a78cb9.setContent(html_cc8b441fb8413ee0f07b6f0048d29bf9);
        

        marker_62e1dd1466e34296ea9668792b4d078c.bindPopup(popup_edc98c753a73c7d5ed9b08e783a78cb9)
        ;

        
    
    
            marker_62e1dd1466e34296ea9668792b4d078c.bindTooltip(
                `<div>
                     DISCOVERY POINT HERITAGE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8c5aeec3bb861c16316c7249f44a91ff = L.marker(
                [35.95039050277927, -78.51276164113914],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_651f60111dc8eb2d1e52dedeba2d4356 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8c5aeec3bb861c16316c7249f44a91ff.setIcon(icon_651f60111dc8eb2d1e52dedeba2d4356);
        
    
        var popup_09d1eacd749b0460afb184ba4b4aeaf8 = L.popup({"maxWidth": "100%"});

        
            var html_3ca8f15d586c83fcd55b432a4ccdde2c = $(`<div id="html_3ca8f15d586c83fcd55b432a4ccdde2c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_09d1eacd749b0460afb184ba4b4aeaf8.setContent(html_3ca8f15d586c83fcd55b432a4ccdde2c);
        

        marker_8c5aeec3bb861c16316c7249f44a91ff.bindPopup(popup_09d1eacd749b0460afb184ba4b4aeaf8)
        ;

        
    
    
            marker_8c5aeec3bb861c16316c7249f44a91ff.bindTooltip(
                `<div>
                     HERITAGE CHILDREN'S ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9539b6d474dcf58a3ebf18a090664162 = L.marker(
                [35.94887926869761, -78.50803967928593],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_fdc0fc7586e1d9ead9925b3ef4958080 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9539b6d474dcf58a3ebf18a090664162.setIcon(icon_fdc0fc7586e1d9ead9925b3ef4958080);
        
    
        var popup_8512e7895acf8cfa2536148525435cd4 = L.popup({"maxWidth": "100%"});

        
            var html_89ee2ab299e5d0f22124070d227e9b86 = $(`<div id="html_89ee2ab299e5d0f22124070d227e9b86" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8512e7895acf8cfa2536148525435cd4.setContent(html_89ee2ab299e5d0f22124070d227e9b86);
        

        marker_9539b6d474dcf58a3ebf18a090664162.bindPopup(popup_8512e7895acf8cfa2536148525435cd4)
        ;

        
    
    
            marker_9539b6d474dcf58a3ebf18a090664162.bindTooltip(
                `<div>
                     HOPE LUTHERAN PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_860c3b70b0b5d3fe0740677413ff46da = L.marker(
                [35.9681472, -78.4921004],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_cbd0fa91e8812be014885937d2add1a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_860c3b70b0b5d3fe0740677413ff46da.setIcon(icon_cbd0fa91e8812be014885937d2add1a6);
        
    
        var popup_01895e84c18b3446cc5d28b567f398ec = L.popup({"maxWidth": "100%"});

        
            var html_cd6f0a9821e371ecf1ac5a690a4429c3 = $(`<div id="html_cd6f0a9821e371ecf1ac5a690a4429c3" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_01895e84c18b3446cc5d28b567f398ec.setContent(html_cd6f0a9821e371ecf1ac5a690a4429c3);
        

        marker_860c3b70b0b5d3fe0740677413ff46da.bindPopup(popup_01895e84c18b3446cc5d28b567f398ec)
        ;

        
    
    
            marker_860c3b70b0b5d3fe0740677413ff46da.bindTooltip(
                `<div>
                     KIDDIE ACADEMY OF WAKE FOREST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_694f7b168e25cf41eda14c50e2e7da73 = L.marker(
                [35.95190355840715, -78.47228149671997],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_5bccccc782ed45334750ff5c1bec4597 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_694f7b168e25cf41eda14c50e2e7da73.setIcon(icon_5bccccc782ed45334750ff5c1bec4597);
        
    
        var popup_461fdcbe4ab745e8d771661be5df95c9 = L.popup({"maxWidth": "100%"});

        
            var html_3013a84fd0b4a48358d3020f69076dbd = $(`<div id="html_3013a84fd0b4a48358d3020f69076dbd" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_461fdcbe4ab745e8d771661be5df95c9.setContent(html_3013a84fd0b4a48358d3020f69076dbd);
        

        marker_694f7b168e25cf41eda14c50e2e7da73.bindPopup(popup_461fdcbe4ab745e8d771661be5df95c9)
        ;

        
    
    
            marker_694f7b168e25cf41eda14c50e2e7da73.bindTooltip(
                `<div>
                     KIDS EDUCATIONAL CENTER III, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_78a86dde83753a49a66baddd6a7b8c71 = L.marker(
                [35.964498, -78.49768],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_339eca4ee6bae3f51c30676ea3a44df2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_78a86dde83753a49a66baddd6a7b8c71.setIcon(icon_339eca4ee6bae3f51c30676ea3a44df2);
        
    
        var popup_96bc41bd4449a8dee774de873108f2fd = L.popup({"maxWidth": "100%"});

        
            var html_f3fc33a0877aacdc4b086181cd82b7e0 = $(`<div id="html_f3fc33a0877aacdc4b086181cd82b7e0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_96bc41bd4449a8dee774de873108f2fd.setContent(html_f3fc33a0877aacdc4b086181cd82b7e0);
        

        marker_78a86dde83753a49a66baddd6a7b8c71.bindPopup(popup_96bc41bd4449a8dee774de873108f2fd)
        ;

        
    
    
            marker_78a86dde83753a49a66baddd6a7b8c71.bindTooltip(
                `<div>
                     KINDERCARE LEARNING CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e7b22fc0c1d9e61e2a99350dd708d659 = L.marker(
                [35.91771862066514, -78.5300286891679],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_6a8af64b25d0d5938a6c7c99e4ea5529 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_e7b22fc0c1d9e61e2a99350dd708d659.setIcon(icon_6a8af64b25d0d5938a6c7c99e4ea5529);
        
    
        var popup_5ad2c5e1a1e230e804142a3f1fbdc630 = L.popup({"maxWidth": "100%"});

        
            var html_431ff4eb8c95a2efe26bf32a99c20980 = $(`<div id="html_431ff4eb8c95a2efe26bf32a99c20980" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_5ad2c5e1a1e230e804142a3f1fbdc630.setContent(html_431ff4eb8c95a2efe26bf32a99c20980);
        

        marker_e7b22fc0c1d9e61e2a99350dd708d659.bindPopup(popup_5ad2c5e1a1e230e804142a3f1fbdc630)
        ;

        
    
    
            marker_e7b22fc0c1d9e61e2a99350dd708d659.bindTooltip(
                `<div>
                     LANA'S DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ddcd7782938ce292387fd6f0955f3dd8 = L.marker(
                [35.968728, -78.504517],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_2d15c7e7c016fe3003946205efb04c7a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_ddcd7782938ce292387fd6f0955f3dd8.setIcon(icon_2d15c7e7c016fe3003946205efb04c7a);
        
    
        var popup_03e389e41a49b390f4cc032a8417113a = L.popup({"maxWidth": "100%"});

        
            var html_fa1a2d9fa5e3098faa9904007e9ba483 = $(`<div id="html_fa1a2d9fa5e3098faa9904007e9ba483" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_03e389e41a49b390f4cc032a8417113a.setContent(html_fa1a2d9fa5e3098faa9904007e9ba483);
        

        marker_ddcd7782938ce292387fd6f0955f3dd8.bindPopup(popup_03e389e41a49b390f4cc032a8417113a)
        ;

        
    
    
            marker_ddcd7782938ce292387fd6f0955f3dd8.bindTooltip(
                `<div>
                     LOV -N- CARE CHILDCARE HOME
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9feaa48af56be4606273b06bc37789c0 = L.marker(
                [35.962370743554615, -78.52943958645582],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_3faea405f5e2c8236560083ff4359fcc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_9feaa48af56be4606273b06bc37789c0.setIcon(icon_3faea405f5e2c8236560083ff4359fcc);
        
    
        var popup_889c4adbf946dba64da68c831e6660f1 = L.popup({"maxWidth": "100%"});

        
            var html_4d9922284122605e7e69868becda0c04 = $(`<div id="html_4d9922284122605e7e69868becda0c04" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_889c4adbf946dba64da68c831e6660f1.setContent(html_4d9922284122605e7e69868becda0c04);
        

        marker_9feaa48af56be4606273b06bc37789c0.bindPopup(popup_889c4adbf946dba64da68c831e6660f1)
        ;

        
    
    
            marker_9feaa48af56be4606273b06bc37789c0.bindTooltip(
                `<div>
                     MEME'S DAYCARE, LLC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a01a5629d909bf5c1da955382e1839c2 = L.marker(
                [35.93125071475059, -78.52663584884554],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_dbedaac6a33d76bac26ef1cc170e4dd9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_a01a5629d909bf5c1da955382e1839c2.setIcon(icon_dbedaac6a33d76bac26ef1cc170e4dd9);
        
    
        var popup_a04b380407db47f1a3d231f101ec3b0d = L.popup({"maxWidth": "100%"});

        
            var html_2d1fcfd57fffc20f3a2e6aeffcbbbabc = $(`<div id="html_2d1fcfd57fffc20f3a2e6aeffcbbbabc" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_a04b380407db47f1a3d231f101ec3b0d.setContent(html_2d1fcfd57fffc20f3a2e6aeffcbbbabc);
        

        marker_a01a5629d909bf5c1da955382e1839c2.bindPopup(popup_a04b380407db47f1a3d231f101ec3b0d)
        ;

        
    
    
            marker_a01a5629d909bf5c1da955382e1839c2.bindTooltip(
                `<div>
                     NURTURING FAMILY CHILD CARE TOO
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_963e17c0da880caa5cc134496fee251e = L.marker(
                [35.94911025360581, -78.50122859600764],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_d3135ff496348b724a680604471f59d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_963e17c0da880caa5cc134496fee251e.setIcon(icon_d3135ff496348b724a680604471f59d4);
        
    
        var popup_9439d30bd44a223c1ec0b047ae648e55 = L.popup({"maxWidth": "100%"});

        
            var html_18ee8d23f2644b1e4061b5d5d97ebcc5 = $(`<div id="html_18ee8d23f2644b1e4061b5d5d97ebcc5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9439d30bd44a223c1ec0b047ae648e55.setContent(html_18ee8d23f2644b1e4061b5d5d97ebcc5);
        

        marker_963e17c0da880caa5cc134496fee251e.bindPopup(popup_9439d30bd44a223c1ec0b047ae648e55)
        ;

        
    
    
            marker_963e17c0da880caa5cc134496fee251e.bindTooltip(
                `<div>
                     PRIMROSE SCHOOL OF HERITAGE WAKE FOREST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_788b30d673eaae933730dd98f17564ec = L.marker(
                [35.95003955113928, -78.51732096851734],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_41982aabf17723e95f64afde0c6731bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_788b30d673eaae933730dd98f17564ec.setIcon(icon_41982aabf17723e95f64afde0c6731bb);
        
    
        var popup_9dc3c451f1ca727b9c2ff48137920581 = L.popup({"maxWidth": "100%"});

        
            var html_163007541267f1bb59f9ba8ebe0a5af1 = $(`<div id="html_163007541267f1bb59f9ba8ebe0a5af1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_9dc3c451f1ca727b9c2ff48137920581.setContent(html_163007541267f1bb59f9ba8ebe0a5af1);
        

        marker_788b30d673eaae933730dd98f17564ec.bindPopup(popup_9dc3c451f1ca727b9c2ff48137920581)
        ;

        
    
    
            marker_788b30d673eaae933730dd98f17564ec.bindTooltip(
                `<div>
                     SPANISH FOR FUN! WAKE FOREST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c58434b3cc9e05700423b1445ac36c1 = L.marker(
                [35.94500846446794, -78.50164433600827],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_d7f9b8dd4ab6cc428fb02a699d84a236 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6c58434b3cc9e05700423b1445ac36c1.setIcon(icon_d7f9b8dd4ab6cc428fb02a699d84a236);
        
    
        var popup_bade946da577e721118cc0143913590c = L.popup({"maxWidth": "100%"});

        
            var html_60021da8ef73b0a35fe4507e34429dc8 = $(`<div id="html_60021da8ef73b0a35fe4507e34429dc8" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bade946da577e721118cc0143913590c.setContent(html_60021da8ef73b0a35fe4507e34429dc8);
        

        marker_6c58434b3cc9e05700423b1445ac36c1.bindPopup(popup_bade946da577e721118cc0143913590c)
        ;

        
    
    
            marker_6c58434b3cc9e05700423b1445ac36c1.bindTooltip(
                `<div>
                     THE GODDARD SCHOOL - WAKE FOREST, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ff6d91aa99b08b133913df0b8d515372 = L.marker(
                [35.965732, -78.524709],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_a443dc984ba19a95b4ffa326e9006bd8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ff6d91aa99b08b133913df0b8d515372.setIcon(icon_a443dc984ba19a95b4ffa326e9006bd8);
        
    
        var popup_8199bd5b446df0b743045d19528381ea = L.popup({"maxWidth": "100%"});

        
            var html_4bf716b0bf684d48d88887a2ae6a4cfb = $(`<div id="html_4bf716b0bf684d48d88887a2ae6a4cfb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8199bd5b446df0b743045d19528381ea.setContent(html_4bf716b0bf684d48d88887a2ae6a4cfb);
        

        marker_ff6d91aa99b08b133913df0b8d515372.bindPopup(popup_8199bd5b446df0b743045d19528381ea)
        ;

        
    
    
            marker_ff6d91aa99b08b133913df0b8d515372.bindTooltip(
                `<div>
                     THE LEARNING EXPERIENCE WAKE FOREST
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_08888c5501c6f11afb7d7e447e0e7fb1 = L.marker(
                [35.948902, -78.533082],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_b5a2d88be9fb4f03c4e41fc7d114cc3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_08888c5501c6f11afb7d7e447e0e7fb1.setIcon(icon_b5a2d88be9fb4f03c4e41fc7d114cc3a);
        
    
        var popup_a0a1d0d7c287ddddb1b01f8437ad03bd = L.popup({"maxWidth": "100%"});

        
            var html_abba925324c099388aa0e2abc7f2dd38 = $(`<div id="html_abba925324c099388aa0e2abc7f2dd38" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a0a1d0d7c287ddddb1b01f8437ad03bd.setContent(html_abba925324c099388aa0e2abc7f2dd38);
        

        marker_08888c5501c6f11afb7d7e447e0e7fb1.bindPopup(popup_a0a1d0d7c287ddddb1b01f8437ad03bd)
        ;

        
    
    
            marker_08888c5501c6f11afb7d7e447e0e7fb1.bindTooltip(
                `<div>
                     WAKE FOREST CHILD CARE CENTER, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_12631c53860b727355c118edc4fcec56 = L.marker(
                [35.975829680414, -78.51411327757938],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_a704c01be2871add3fc4cce8e08847c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_12631c53860b727355c118edc4fcec56.setIcon(icon_a704c01be2871add3fc4cce8e08847c9);
        
    
        var popup_f35beb86dedde8fe023ae2714b4efe17 = L.popup({"maxWidth": "100%"});

        
            var html_a49283fc90636dc15a7766d5dee4a21f = $(`<div id="html_a49283fc90636dc15a7766d5dee4a21f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_f35beb86dedde8fe023ae2714b4efe17.setContent(html_a49283fc90636dc15a7766d5dee4a21f);
        

        marker_12631c53860b727355c118edc4fcec56.bindPopup(popup_f35beb86dedde8fe023ae2714b4efe17)
        ;

        
    
    
            marker_12631c53860b727355c118edc4fcec56.bindTooltip(
                `<div>
                     WAKE FOREST ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca9b4f91b91a4ffcac080e064be27c5e = L.marker(
                [35.948441223199694, -78.51916754811721],
                {}
            ).addTo(map_3a3239e083d6c7dcc2a75a0e5a73a4c8);
        
    
            var icon_0620ec643685d82b3070c1d536057349 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ca9b4f91b91a4ffcac080e064be27c5e.setIcon(icon_0620ec643685d82b3070c1d536057349);
        
    
        var popup_093c2615eb3820bfc62a7edf4d2f48ac = L.popup({"maxWidth": "100%"});

        
            var html_f45bd5104b12bcea17d21a375459bb8f = $(`<div id="html_f45bd5104b12bcea17d21a375459bb8f" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_093c2615eb3820bfc62a7edf4d2f48ac.setContent(html_f45bd5104b12bcea17d21a375459bb8f);
        

        marker_ca9b4f91b91a4ffcac080e064be27c5e.bindPopup(popup_093c2615eb3820bfc62a7edf4d2f48ac)
        ;

        
    
    
            marker_ca9b4f91b91a4ffcac080e064be27c5e.bindTooltip(
                `<div>
                     WAKE FOREST KIDS 'R' KIDS
                 </div>`,
                {"sticky": true}
            );
        
</script>