<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_90905faead492bbe042b87f6ddc8085e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_90905faead492bbe042b87f6ddc8085e" ></div>
        
</body>
<script>    
    
            var map_90905faead492bbe042b87f6ddc8085e = L.map(
                "map_90905faead492bbe042b87f6ddc8085e",
                {
                    center: [34.93670299111037, -80.7506996483151],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_029966adb1bba7fc8fdd8adb37bc6a4a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var marker_da1d9942f5b4d07c807bac15370e7ea3 = L.marker(
                [34.93670299111037, -80.7506996483151],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_b2c1f09d9f4c3ef598cde51bcc28717a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_da1d9942f5b4d07c807bac15370e7ea3.setIcon(icon_b2c1f09d9f4c3ef598cde51bcc28717a);
        
    
        var popup_54e817042567f554ec44aaec180cba72 = L.popup({"maxWidth": "100%"});

        
            var html_62a37dc7f8e1f0565423658465696639 = $(`<div id="html_62a37dc7f8e1f0565423658465696639" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_54e817042567f554ec44aaec180cba72.setContent(html_62a37dc7f8e1f0565423658465696639);
        

        marker_da1d9942f5b4d07c807bac15370e7ea3.bindPopup(popup_54e817042567f554ec44aaec180cba72)
        ;

        
    
    
            marker_da1d9942f5b4d07c807bac15370e7ea3.bindTooltip(
                `<div>
                     BIG BLUE MARBLE-WAXHAW
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1cf90ac47bdfa8d540292f1c00779a5d = L.marker(
                [34.92333220809294, -80.74783117291341],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_ba758c5b1d0fa48ba3758d14a17bdb71 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1cf90ac47bdfa8d540292f1c00779a5d.setIcon(icon_ba758c5b1d0fa48ba3758d14a17bdb71);
        
    
        var popup_0f6e9a5c8056cffee56b20516d5cbcdd = L.popup({"maxWidth": "100%"});

        
            var html_dabd5678df0408c7c99e2c9991effa70 = $(`<div id="html_dabd5678df0408c7c99e2c9991effa70" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0f6e9a5c8056cffee56b20516d5cbcdd.setContent(html_dabd5678df0408c7c99e2c9991effa70);
        

        marker_1cf90ac47bdfa8d540292f1c00779a5d.bindPopup(popup_0f6e9a5c8056cffee56b20516d5cbcdd)
        ;

        
    
    
            marker_1cf90ac47bdfa8d540292f1c00779a5d.bindTooltip(
                `<div>
                     DUCKLINGS CHILD CARE SERVICES AT WAXHAW
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_180ec53a04706fcf6189ab3baf2a4b4a = L.marker(
                [34.933497, -80.7482439],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_b0c7df7692d1a0cff5c6c5750f0698b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_180ec53a04706fcf6189ab3baf2a4b4a.setIcon(icon_b0c7df7692d1a0cff5c6c5750f0698b5);
        
    
        var popup_35a63b4b93f70593385178c15e96a2de = L.popup({"maxWidth": "100%"});

        
            var html_95fd95e41fd80b5ee554b32cfa6e335b = $(`<div id="html_95fd95e41fd80b5ee554b32cfa6e335b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_35a63b4b93f70593385178c15e96a2de.setContent(html_95fd95e41fd80b5ee554b32cfa6e335b);
        

        marker_180ec53a04706fcf6189ab3baf2a4b4a.bindPopup(popup_35a63b4b93f70593385178c15e96a2de)
        ;

        
    
    
            marker_180ec53a04706fcf6189ab3baf2a4b4a.bindTooltip(
                `<div>
                     EVERBROOK ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eee488449705e462dd2f29ab53f8f2ac = L.marker(
                [34.98300805, -80.6828662834183],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_6937b8c9c9d4a7223b900f8033c3889d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_eee488449705e462dd2f29ab53f8f2ac.setIcon(icon_6937b8c9c9d4a7223b900f8033c3889d);
        
    
        var popup_5c846f725bfe0f2ce1c0db8bca079781 = L.popup({"maxWidth": "100%"});

        
            var html_f45ac7a49d3c0fbe7a8419014040563e = $(`<div id="html_f45ac7a49d3c0fbe7a8419014040563e" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_5c846f725bfe0f2ce1c0db8bca079781.setContent(html_f45ac7a49d3c0fbe7a8419014040563e);
        

        marker_eee488449705e462dd2f29ab53f8f2ac.bindPopup(popup_5c846f725bfe0f2ce1c0db8bca079781)
        ;

        
    
    
            marker_eee488449705e462dd2f29ab53f8f2ac.bindTooltip(
                `<div>
                     JOYFUL GEMS CHILDCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f95ad27e47dd7fd5a957732dd23d2851 = L.marker(
                [34.93804915732171, -80.76408960468872],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_96c81fc92c69f11876343f02f0e12b96 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f95ad27e47dd7fd5a957732dd23d2851.setIcon(icon_96c81fc92c69f11876343f02f0e12b96);
        
    
        var popup_240615b392cb14f814ae3173f4f76d72 = L.popup({"maxWidth": "100%"});

        
            var html_27bfc00981550a6e274b67947892cdac = $(`<div id="html_27bfc00981550a6e274b67947892cdac" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_240615b392cb14f814ae3173f4f76d72.setContent(html_27bfc00981550a6e274b67947892cdac);
        

        marker_f95ad27e47dd7fd5a957732dd23d2851.bindPopup(popup_240615b392cb14f814ae3173f4f76d72)
        ;

        
    
    
            marker_f95ad27e47dd7fd5a957732dd23d2851.bindTooltip(
                `<div>
                     LAURELWOOD COMMUNITY PRESCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e3abf20480b0c17f536cab863c73db3 = L.marker(
                [35.01640995, -80.77491218902504],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_cadfe5ca001c6bdf11e7d37bba5379cf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3e3abf20480b0c17f536cab863c73db3.setIcon(icon_cadfe5ca001c6bdf11e7d37bba5379cf);
        
    
        var popup_c89384016da13548dcac50557413f5db = L.popup({"maxWidth": "100%"});

        
            var html_ea68f317ee68b9b106ae468b10f6ecd0 = $(`<div id="html_ea68f317ee68b9b106ae468b10f6ecd0" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_c89384016da13548dcac50557413f5db.setContent(html_ea68f317ee68b9b106ae468b10f6ecd0);
        

        marker_3e3abf20480b0c17f536cab863c73db3.bindPopup(popup_c89384016da13548dcac50557413f5db)
        ;

        
    
    
            marker_3e3abf20480b0c17f536cab863c73db3.bindTooltip(
                `<div>
                     REA VIEW ELEMENTARY AFTER SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cad0c1dddfe4256a665daa57362b47e9 = L.marker(
                [34.9679412, -80.80233740910933],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_9e9e2b834b6ec468599a5a9507645cbd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cad0c1dddfe4256a665daa57362b47e9.setIcon(icon_9e9e2b834b6ec468599a5a9507645cbd);
        
    
        var popup_e44178fb70e26650042945c818d33726 = L.popup({"maxWidth": "100%"});

        
            var html_291a571a5218dfe010f20a4837c0a9c5 = $(`<div id="html_291a571a5218dfe010f20a4837c0a9c5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_e44178fb70e26650042945c818d33726.setContent(html_291a571a5218dfe010f20a4837c0a9c5);
        

        marker_cad0c1dddfe4256a665daa57362b47e9.bindPopup(popup_e44178fb70e26650042945c818d33726)
        ;

        
    
    
            marker_cad0c1dddfe4256a665daa57362b47e9.bindTooltip(
                `<div>
                     SANDY RIDGE ELEMENTARY AFTER SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_779592c1ad397d1a32613549b7c096e5 = L.marker(
                [34.933497, -80.7482439],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_5841d20d23eeff73753c0abbe8a96ee6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_779592c1ad397d1a32613549b7c096e5.setIcon(icon_5841d20d23eeff73753c0abbe8a96ee6);
        
    
        var popup_37924f2e4e8407ace101bc1fe459771c = L.popup({"maxWidth": "100%"});

        
            var html_954527183ea87a25319a5211f3a854e7 = $(`<div id="html_954527183ea87a25319a5211f3a854e7" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_37924f2e4e8407ace101bc1fe459771c.setContent(html_954527183ea87a25319a5211f3a854e7);
        

        marker_779592c1ad397d1a32613549b7c096e5.bindPopup(popup_37924f2e4e8407ace101bc1fe459771c)
        ;

        
    
    
            marker_779592c1ad397d1a32613549b7c096e5.bindTooltip(
                `<div>
                     THE GODDARD SCHOOL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_461d81f37aa952d2bbd042e055bcac9f = L.marker(
                [34.918480200000005, -80.73296430937941],
                {}
            ).addTo(map_90905faead492bbe042b87f6ddc8085e);
        
    
            var icon_4f1e10e0db7dcf29884707cdb1318a21 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_461d81f37aa952d2bbd042e055bcac9f.setIcon(icon_4f1e10e0db7dcf29884707cdb1318a21);
        
    
        var popup_fd6c3289108fbe049aafa435ed1d1bc7 = L.popup({"maxWidth": "100%"});

        
            var html_ca325e3747c6ff76774650d9341a847b = $(`<div id="html_ca325e3747c6ff76774650d9341a847b" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_fd6c3289108fbe049aafa435ed1d1bc7.setContent(html_ca325e3747c6ff76774650d9341a847b);
        

        marker_461d81f37aa952d2bbd042e055bcac9f.bindPopup(popup_fd6c3289108fbe049aafa435ed1d1bc7)
        ;

        
    
    
            marker_461d81f37aa952d2bbd042e055bcac9f.bindTooltip(
                `<div>
                     WAXHAW ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
</script>