<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b9636f7e27f99ba39b9d592ac9575d9d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b9636f7e27f99ba39b9d592ac9575d9d" ></div>
        
</body>
<script>    
    
            var map_b9636f7e27f99ba39b9d592ac9575d9d = L.map(
                "map_b9636f7e27f99ba39b9d592ac9575d9d",
                {
                    center: [35.5835631, -78.35822595529962],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_49133a429bfe3f1b77ee06481adb7907 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b9636f7e27f99ba39b9d592ac9575d9d);
        
    
            var marker_947314d2c8561745b9322e4bc4654441 = L.marker(
                [35.5835631, -78.35822595529962],
                {}
            ).addTo(map_b9636f7e27f99ba39b9d592ac9575d9d);
        
    
            var icon_84699672451af6878ebf775e25bd17d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_947314d2c8561745b9322e4bc4654441.setIcon(icon_84699672451af6878ebf775e25bd17d5);
        
    
        var popup_bdb767584d3cde8a06a2d1fc6841a343 = L.popup({"maxWidth": "100%"});

        
            var html_e6f508691e96b6bab73724329f1d2f26 = $(`<div id="html_e6f508691e96b6bab73724329f1d2f26" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bdb767584d3cde8a06a2d1fc6841a343.setContent(html_e6f508691e96b6bab73724329f1d2f26);
        

        marker_947314d2c8561745b9322e4bc4654441.bindPopup(popup_bdb767584d3cde8a06a2d1fc6841a343)
        ;

        
    
    
            marker_947314d2c8561745b9322e4bc4654441.bindTooltip(
                `<div>
                     WILSON MILLS ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_de410654a2b566d7d3e9837ef5da7d51 = L.marker(
                [35.5835631, -78.35822595529962],
                {}
            ).addTo(map_b9636f7e27f99ba39b9d592ac9575d9d);
        
    
            var icon_d79342648c99322b6f5dd39893cbb35a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_de410654a2b566d7d3e9837ef5da7d51.setIcon(icon_d79342648c99322b6f5dd39893cbb35a);
        
    
        var popup_1dc2c2b19098fbad7d41236eb4b8076a = L.popup({"maxWidth": "100%"});

        
            var html_9a38184072f37466396a931cfd883d76 = $(`<div id="html_9a38184072f37466396a931cfd883d76" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_1dc2c2b19098fbad7d41236eb4b8076a.setContent(html_9a38184072f37466396a931cfd883d76);
        

        marker_de410654a2b566d7d3e9837ef5da7d51.bindPopup(popup_1dc2c2b19098fbad7d41236eb4b8076a)
        ;

        
    
    
            marker_de410654a2b566d7d3e9837ef5da7d51.bindTooltip(
                `<div>
                     WILSON MILLS ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c7ab5522aa8aa3133b183666c13902da = L.marker(
                [35.5835631, -78.35822595529962],
                {}
            ).addTo(map_b9636f7e27f99ba39b9d592ac9575d9d);
        
    
            var icon_df9adc5a7f77bf102ea7a395cfd2d05c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c7ab5522aa8aa3133b183666c13902da.setIcon(icon_df9adc5a7f77bf102ea7a395cfd2d05c);
        
    
        var popup_b2f9cc44ed897b004e748d649361728e = L.popup({"maxWidth": "100%"});

        
            var html_17a4ba84adf8fa3f59fd0c9395540d09 = $(`<div id="html_17a4ba84adf8fa3f59fd0c9395540d09" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_b2f9cc44ed897b004e748d649361728e.setContent(html_17a4ba84adf8fa3f59fd0c9395540d09);
        

        marker_c7ab5522aa8aa3133b183666c13902da.bindPopup(popup_b2f9cc44ed897b004e748d649361728e)
        ;

        
    
    
            marker_c7ab5522aa8aa3133b183666c13902da.bindTooltip(
                `<div>
                     WILSON MILLS ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_560660b8e39fc7e4f14d2bcf3e43f79c = L.marker(
                [35.5835631, -78.35822595529962],
                {}
            ).addTo(map_b9636f7e27f99ba39b9d592ac9575d9d);
        
    
            var icon_096d3659140412227dd54ac638b78599 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_560660b8e39fc7e4f14d2bcf3e43f79c.setIcon(icon_096d3659140412227dd54ac638b78599);
        
    
        var popup_bfb53111189068dfd38f25008c23be9b = L.popup({"maxWidth": "100%"});

        
            var html_bb0fa37e4c243c9026b68f68d9543db5 = $(`<div id="html_bb0fa37e4c243c9026b68f68d9543db5" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bfb53111189068dfd38f25008c23be9b.setContent(html_bb0fa37e4c243c9026b68f68d9543db5);
        

        marker_560660b8e39fc7e4f14d2bcf3e43f79c.bindPopup(popup_bfb53111189068dfd38f25008c23be9b)
        ;

        
    
    
            marker_560660b8e39fc7e4f14d2bcf3e43f79c.bindTooltip(
                `<div>
                     WILSON MILLS ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
</script>