<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8de44476829f8bd15f5cd7b82d6a18b0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8de44476829f8bd15f5cd7b82d6a18b0" ></div>
        
</body>
<script>    
    
            var map_8de44476829f8bd15f5cd7b82d6a18b0 = L.map(
                "map_8de44476829f8bd15f5cd7b82d6a18b0",
                {
                    center: [36.4150553, -79.333554],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_271e547f3dcecb89bf11a6c72e818c1f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8de44476829f8bd15f5cd7b82d6a18b0);
        
    
            var marker_0f3391a66bca092c975cef6daabb4683 = L.marker(
                [36.4150553, -79.333554],
                {}
            ).addTo(map_8de44476829f8bd15f5cd7b82d6a18b0);
        
    
            var icon_2d6aa9495c39f3301260e09ed0942e43 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0f3391a66bca092c975cef6daabb4683.setIcon(icon_2d6aa9495c39f3301260e09ed0942e43);
        
    
        var popup_742c77d32475a48397b979569aebd3ca = L.popup({"maxWidth": "100%"});

        
            var html_b1ef87410b14a55ea186f38a071536c2 = $(`<div id="html_b1ef87410b14a55ea186f38a071536c2" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_742c77d32475a48397b979569aebd3ca.setContent(html_b1ef87410b14a55ea186f38a071536c2);
        

        marker_0f3391a66bca092c975cef6daabb4683.bindPopup(popup_742c77d32475a48397b979569aebd3ca)
        ;

        
    
    
            marker_0f3391a66bca092c975cef6daabb4683.bindTooltip(
                `<div>
                     OAKWOOD ELEMENTARY PRESCHOOL CLASSROOM
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e574c2c05b014e201416029dfc09b59b = L.marker(
                [36.41755839767341, -79.33539456462303],
                {}
            ).addTo(map_8de44476829f8bd15f5cd7b82d6a18b0);
        
    
            var icon_c5c6295f2a6448087c19eec4e60017d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e574c2c05b014e201416029dfc09b59b.setIcon(icon_c5c6295f2a6448087c19eec4e60017d2);
        
    
        var popup_7086b3fcd6005a208a58a45de8ade264 = L.popup({"maxWidth": "100%"});

        
            var html_49616fb3a137df9e4417b4cea7062900 = $(`<div id="html_49616fb3a137df9e4417b4cea7062900" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_7086b3fcd6005a208a58a45de8ade264.setContent(html_49616fb3a137df9e4417b4cea7062900);
        

        marker_e574c2c05b014e201416029dfc09b59b.bindPopup(popup_7086b3fcd6005a208a58a45de8ade264)
        ;

        
    
    
            marker_e574c2c05b014e201416029dfc09b59b.bindTooltip(
                `<div>
                     RAINBOW EDUCATIONAL CHILDCARE CENTER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_853ffff2fd0e39f0405b5ce2d0ed955f = L.marker(
                [36.41395943899849, -79.34926928209808],
                {}
            ).addTo(map_8de44476829f8bd15f5cd7b82d6a18b0);
        
    
            var icon_a18252259313edc2fe2fa9293ab6ae6d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_853ffff2fd0e39f0405b5ce2d0ed955f.setIcon(icon_a18252259313edc2fe2fa9293ab6ae6d);
        
    
        var popup_bde963e75d656f6e28d8c5a3ef14acff = L.popup({"maxWidth": "100%"});

        
            var html_1b49da2bd3833fe229dc754dd6bf78c1 = $(`<div id="html_1b49da2bd3833fe229dc754dd6bf78c1" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_bde963e75d656f6e28d8c5a3ef14acff.setContent(html_1b49da2bd3833fe229dc754dd6bf78c1);
        

        marker_853ffff2fd0e39f0405b5ce2d0ed955f.bindPopup(popup_bde963e75d656f6e28d8c5a3ef14acff)
        ;

        
    
    
            marker_853ffff2fd0e39f0405b5ce2d0ed955f.bindTooltip(
                `<div>
                     YANCEYVILLE EARLY HEAD START
                 </div>`,
                {"sticky": true}
            );
        
</script>