<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_07d89c75a1b4e8757704971df87fa8ce {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_07d89c75a1b4e8757704971df87fa8ce" ></div>
        
</body>
<script>    
    
            var map_07d89c75a1b4e8757704971df87fa8ce = L.map(
                "map_07d89c75a1b4e8757704971df87fa8ce",
                {
                    center: [35.81671214524538, -78.327878155933],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e7d431f13f233ece1595763b8d663e05 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_07d89c75a1b4e8757704971df87fa8ce);
        
    
            var marker_210aed537d9d748191e24ae3288a16b2 = L.marker(
                [35.81671214524538, -78.327878155933],
                {}
            ).addTo(map_07d89c75a1b4e8757704971df87fa8ce);
        
    
            var icon_34b044ad55017e2a41efcc2be93020a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_210aed537d9d748191e24ae3288a16b2.setIcon(icon_34b044ad55017e2a41efcc2be93020a3);
        
    
        var popup_38522048d07ac4005c894591eb4c6b3b = L.popup({"maxWidth": "100%"});

        
            var html_91d93132c4924fca6485607f5111db0c = $(`<div id="html_91d93132c4924fca6485607f5111db0c" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_38522048d07ac4005c894591eb4c6b3b.setContent(html_91d93132c4924fca6485607f5111db0c);
        

        marker_210aed537d9d748191e24ae3288a16b2.bindPopup(popup_38522048d07ac4005c894591eb4c6b3b)
        ;

        
    
    
            marker_210aed537d9d748191e24ae3288a16b2.bindTooltip(
                `<div>
                     HERITAGE CHRISTIAN ACADEMY DAYCARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_da0987dd4c373b11fa341e869e48120a = L.marker(
                [35.822111, -78.310516],
                {}
            ).addTo(map_07d89c75a1b4e8757704971df87fa8ce);
        
    
            var icon_9bafb2ce2de8132fdd4df2eb85af0708 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_da0987dd4c373b11fa341e869e48120a.setIcon(icon_9bafb2ce2de8132fdd4df2eb85af0708);
        
    
        var popup_8fb4917caba6b26363d513fee28cc33b = L.popup({"maxWidth": "100%"});

        
            var html_5e41b8acedb9c137bb712e16442e6e89 = $(`<div id="html_5e41b8acedb9c137bb712e16442e6e89" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_8fb4917caba6b26363d513fee28cc33b.setContent(html_5e41b8acedb9c137bb712e16442e6e89);
        

        marker_da0987dd4c373b11fa341e869e48120a.bindPopup(popup_8fb4917caba6b26363d513fee28cc33b)
        ;

        
    
    
            marker_da0987dd4c373b11fa341e869e48120a.bindTooltip(
                `<div>
                     HOCUTT'S CHILD CARE, INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a1a2a1491be829722409c060d0f6ecc = L.marker(
                [35.825106, -78.319064],
                {}
            ).addTo(map_07d89c75a1b4e8757704971df87fa8ce);
        
    
            var icon_75615dcd1ed90483513d00d716703d64 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_4a1a2a1491be829722409c060d0f6ecc.setIcon(icon_75615dcd1ed90483513d00d716703d64);
        
    
        var popup_5b51336b4984cd7b2f824b6a15a1c3b3 = L.popup({"maxWidth": "100%"});

        
            var html_c4a80856e3b893810ff4a797265459c0 = $(`<div id="html_c4a80856e3b893810ff4a797265459c0" style="width: 100.0%; height: 100.0%;">Family Child Care Home</div>`)[0];
            popup_5b51336b4984cd7b2f824b6a15a1c3b3.setContent(html_c4a80856e3b893810ff4a797265459c0);
        

        marker_4a1a2a1491be829722409c060d0f6ecc.bindPopup(popup_5b51336b4984cd7b2f824b6a15a1c3b3)
        ;

        
    
    
            marker_4a1a2a1491be829722409c060d0f6ecc.bindTooltip(
                `<div>
                     JAN'S DAY CARE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5529fbdf7b3dcf7ee902208fa40de0a6 = L.marker(
                [35.830947, -78.318854],
                {}
            ).addTo(map_07d89c75a1b4e8757704971df87fa8ce);
        
    
            var icon_0f4d69343b217076af47f6f8ded1a899 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5529fbdf7b3dcf7ee902208fa40de0a6.setIcon(icon_0f4d69343b217076af47f6f8ded1a899);
        
    
        var popup_a63486bb75d5de8cc365a2c893b120de = L.popup({"maxWidth": "100%"});

        
            var html_365ed60caec0ed7fb78e0904383fea18 = $(`<div id="html_365ed60caec0ed7fb78e0904383fea18" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_a63486bb75d5de8cc365a2c893b120de.setContent(html_365ed60caec0ed7fb78e0904383fea18);
        

        marker_5529fbdf7b3dcf7ee902208fa40de0a6.bindPopup(popup_a63486bb75d5de8cc365a2c893b120de)
        ;

        
    
    
            marker_5529fbdf7b3dcf7ee902208fa40de0a6.bindTooltip(
                `<div>
                     KIDZ KONNECTION INC.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_110c2e6d6c98149f631772720196851f = L.marker(
                [35.820487415910684, -78.3250899865729],
                {}
            ).addTo(map_07d89c75a1b4e8757704971df87fa8ce);
        
    
            var icon_b03b826f993a6ff48bc93f7c45b21b93 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_110c2e6d6c98149f631772720196851f.setIcon(icon_b03b826f993a6ff48bc93f7c45b21b93);
        
    
        var popup_0146fa334a76d5fdbefc24265acd80d0 = L.popup({"maxWidth": "100%"});

        
            var html_b4502ec302b46079fd397fd015b600bb = $(`<div id="html_b4502ec302b46079fd397fd015b600bb" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_0146fa334a76d5fdbefc24265acd80d0.setContent(html_b4502ec302b46079fd397fd015b600bb);
        

        marker_110c2e6d6c98149f631772720196851f.bindPopup(popup_0146fa334a76d5fdbefc24265acd80d0)
        ;

        
    
    
            marker_110c2e6d6c98149f631772720196851f.bindTooltip(
                `<div>
                     LITTLE SPROUTS ACADEMY
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_917c629abbf9717f8d386aa0f34836d8 = L.marker(
                [35.853784014738764, -78.33408025664974],
                {}
            ).addTo(map_07d89c75a1b4e8757704971df87fa8ce);
        
    
            var icon_4656dbf90b02b784bbd8eeed31616f50 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_917c629abbf9717f8d386aa0f34836d8.setIcon(icon_4656dbf90b02b784bbd8eeed31616f50);
        
    
        var popup_98375bc315a919c5e6212d96137fc8c6 = L.popup({"maxWidth": "100%"});

        
            var html_b15fe92413545866e9f920965f88c8cc = $(`<div id="html_b15fe92413545866e9f920965f88c8cc" style="width: 100.0%; height: 100.0%;">Child Care Center</div>`)[0];
            popup_98375bc315a919c5e6212d96137fc8c6.setContent(html_b15fe92413545866e9f920965f88c8cc);
        

        marker_917c629abbf9717f8d386aa0f34836d8.bindPopup(popup_98375bc315a919c5e6212d96137fc8c6)
        ;

        
    
    
            marker_917c629abbf9717f8d386aa0f34836d8.bindTooltip(
                `<div>
                     WAKELON ELEMENTARY
                 </div>`,
                {"sticky": true}
            );
        
</script>